{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Situation administrative d'etat de conge des agents {% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/plugins/dataTables/datatables.min.css') }}" />
{% endblock stylesheets %}

{% block leftmenu %}
    {{ parent() }}
{% endblock leftmenu %}

{% block topmenu %}
    {{ parent() }}
{% endblock topmenu %}

{% block body %}
    {% block fildariane %}
        {{ include('_generals_includes/_fildariane.html.twig') }}
    {% endblock fildariane %}

    <div class="wrapper wrapper-content">
        <div class="row">
            {# ============================= Contenu  ==================================== #}
            <div class="col-lg-12">
                <div class="widget-head-color-box navy-bg p-h-xs text-center">
                    <div class="m-b-md">
                        <h2 class="font-bold no-margins">Situation administrative d'etat de congé des agents</h2>
                    </div>
                </div>
                <div class="widget-text-box">

                    <div class="row">
                        {{ form_start(form) }}
                        <div class="form-row align-items-end">
                            <div class="col-md-3">
                                <label class="control-label">Date début (date antérieure)</label>
                                {{ form_row(form.dateDebutAt) }}
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">Date fin (date récente)</label>
                                {{ form_row(form.dateFinAt) }}
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">Modèle</label>
                                {{ form_row(form.modeleConge) }}
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">&nbsp;</label><br>
                                <button class="btn btn-primary">Rechercher</button>
                                <a class="btn btn-success" href="{{ path('agent_situation_conge') }}">Annuler</a>

                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>

                    {# ============ Début section à imprimer  ============ #}
                    <div id='sectionAimprimer'>
                        {#<table>
                            <thead>
                                <tr>
                                    <th class="text-left" style="margin-right: 10px;"><img src="{{ asset('uploads/images/logo.png') }}" alt="logo-ct" width="100" /></th>
                                    <th class="text-center"style="font-size: 20px;">
                                        SOCIETE NATIONALE DES TELECOMMUNICATIONS
                                        <h3>COMORES TELECOM</h3>
                                        <h4>DIRECTION DES RESSOURCES HUMAINES</h4>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr><td align="center">&nbsp&nbsp;</td></tr>
                            </tbody>
                        </table>#}

                        <table class="table table-striped table-bordered table-hover dataTables-example" >
                        <thead>
                        <tr>
                            <th>Matricule</th>
                            <th>Nom et prénom</th>
                            <th>Direction</th>
                            <th>Période (Du)</th>
                            <th>Période (Au)</th>
                            <th>Reprise</th>
                            <th>Nature</th>
                            <th>Année</th>
                            <th>Nbre</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for conge in demandes %}
                            <tr>
                                <td><span class="text-center">{{ conge.matricule }}</span></td>
                                <td>{{ conge.nom }} {{ conge.prenom }}</td>
                                <td>
                                    {% if conge.sdptdir_designation %}
                                        {{ conge.sdptdir_designation}}
                                    {% elseif conge.dptdir_designation %}
                                        {{ conge.dptdir_designation }}
                                    {% elseif conge.sdir_designation %}
                                        {{ conge.sdir_designation }}
                                    {% elseif conge.dir_designation %}
                                        {{ conge.dir_designation }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if conge.dateDebutAt is defined and conge.dateDebutAt != null %}
                                        {{ conge.dateDebutAt | date('d/m/Y') }}
                                    {% else %}
                                        {#Pas encore#}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if conge.dateFinAt is defined and conge.dateFinAt != null %}
                                        {{ conge.dateFinAt | date('d/m/Y') }}
                                    {% else %}
                                        {#Pas encore#}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if conge.reprise_service_id %}
                                        <i class="fa fa-check text-navy"></i> <span class="text-navy">Oui</span>
                                    {% else %}
                                        {#<i class="fa fa-times"></i> Pas encore#}
                                    {% endif %}
                                </td>
                                <td>{% if conge.titre_conge %}{{ conge.titre_conge }}{% else %}{% endif %}</td>
                                <td>{{ conge.annee }}</td>
                                <td>
                                    {% if conge.nombreJour is defined and conge.nombreJour != null %}
                                        {{ conge.nombreJour }} {% if conge.nombreJour | length < 2 %}jr{% else %}jrs{% endif %}
                                    {% else %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4" class="text-danger">Aucun enregistrement !</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
                    {# ============ Fin section à imprimer  ============ #}

                    <div class="row">
                        <div class="col-xs-12">
                            {% if demandes | length > 0 %}
                                <a href="#" onClick="imprimer('sectionAimprimer')" class="btn btn-xs btn-primary text-right pull-left"style="margin-right: 10px;">
                                    <i class="fa fa-print"></i> Imprimer
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {# ============================= Fin contenu   ==================================== #}
        </div>
    </div>

{% endblock body %}

{% block footer %}
    {{ parent() }}
{% endblock footer %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/plugins/dataTables/datatables.min.js') }}"></script>

    <script>
        $(document).ready(function(){
            $('.dataTables-example').DataTable({
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    {extend: 'copy', title: 'Situations-Congés'},
                    /*{extend: 'csv', title: 'Situations-Congés'},
                    {extend: 'excel', title: 'Situations-Congés'},
                    {extend: 'pdf', title: 'Situations-Congés'},*/

                    {extend: 'print',
                        customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]
            });
        });
    </script>

    <script>
        function imprimer(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }
    </script>
{% endblock javascripts %}

