{% trans_default_domain 'FOSUserBundle' %}
    {{ form_start(form, {
        'action': path('fos_user_change_password'),
        'attr': {
            'class': 'form-horizontal',
            'role': 'form'
        }
    }) }}
<div class="form-group">
    <label class="col-sm-4 control-label" for="exampleInputPassword2">
        {{ form_label(form.current_password) }}
        <i class="text-danger">{{ form_errors(form.current_password) }}</i>
    </label>
    <div class="col-sm-7">
        {{ form_widget(form.current_password,{
            'attr' : {
                'class':'form-control',
                'placeholder': '',
                'id' : 'exampleInputPassword2'
            }
        }) }}
    </div>
</div>
<div class="form-group">
    <label class="col-sm-4 control-label">
        {{ form_label(form.plainPassword.first) }}
        <i class="text-danger">{{ form_errors(form.plainPassword.first) }}</i>
    </label>
    <div class="col-sm-7">
        {{ form_widget(form.plainPassword.first,{
            'attr' : {
                'class':'form-control',
                'placeholder': ''
            }
        }) }}
    </div>
</div>
<div class="form-group">
    <label class="col-sm-4 control-label">
        {{ form_label(form.plainPassword.second) }}
        {{ form_errors(form.plainPassword.second) }}
    </label>
    <div class="col-sm-7">
        {{ form_widget(form.plainPassword.second,{
            'attr' : {
                'class':'form-control',
                'placeholder': ''
            }
        }) }}
    </div>
</div>
<div class="form-group">
    <div class="col-sm-5 col-sm-offset-4">
        <button class="btn btn-danger" type="submit">
            {{ 'change_password.submit'|trans }}
        </button>
    </div>
</div>
{{ form_end(form) }}
