{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Changement du mot de passe {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Morris --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/morris/morris-0.4.3.min.css') }}" />
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}
            <div class="row border-bottom white-bg" style="padding: 0px; margin-bottom: 0px;">
                <nav class="navbar navbar-static-top" role="navigation" style="padding: 0px; margin-bottom: 0px;">
                    <div class="navbar-collapse collapse" id="navbar">
                        <ul class="nav navbar-nav text text-success">
                            <li><a href="{{ path('moncompte_index') }}"> <i class="fa fa-user-circle-o"></i><span class="text text-success">Retour à mon profil</span></a></li>
                            {#
                            <li class="dropdown">
                                <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="text text-success"> Parametres du compte</b> <span class="caret"></span></a>
                                <ul role="menu" class="dropdown-menu">
                                    <li><a href="{{ path('fos_user_change_password') }}">Editer Mot de passe</a></li>
                                    <li><a href="">Confidentialité</a></li>
                                    <li><a href="">Menu item</a></li>
                                    <li><a href="">Menu item</a></li>
                                </ul>
                            </li>
                            #}
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="wrapper wrapper-content animated fadeIn">
                <div class="row">
                    {% block profile %}
                        {% include "@FOSUser/Profile/show_profile.html.twig" %}
                    {% endblock profile %}
                    <div class="col-md-8">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5 class="text-success"><i class="fa fa-key"></i> Editer mon mot de passe</h5>
                            </div>

                            <div class="ibox-content">
                                <div>
                                    <div class="feed-activity-list">
                                        {% block fos_user_content %}
                                            {% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
                                        {% endblock fos_user_content %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    {{ parent() }}

    {# <!-- Custom and plugin javascript --> #}
    <script type="text/javascript" src="{{ asset('js/inspinia.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/pace/pace.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/jquery-ui/jquery-ui.min.js') }}"></script>


{% endblock javascripts %}

