<form method="post"
      action="{{ path('evenements_suspensiondesalaire_delete', {'id': ev_suspensiondesalaire.id}) }}"
      onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ev_suspensiondesalaire.id) }}">
    <button class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> {% if app.request.attributes.get('_route') == 'evenements_suspensiondesalaire_show' %}Supprimer {% endif %}</button>
</form>
