{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Evénements {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}

        <div class="wrapper wrapper-content white-bg" style="margin-top: 10px;">
            {% if allow_to_see_notif == true %}
            <div class="row  border-bottom dashboard-header">

                <div class="col-md-3">
                    <ul class="list-group clear-list m-t">
                        <li class="list-group-item fist-item">
                            <span class="label label-success">{{ stages}}</span>
                            <a href="{{ path('evenements_stage_index') }}" class="text "><strong>Stage</strong></a>{% if nbr_stage != 0 %} <span class="badge badge-danger">{{ nbr_stage }}</span> {% endif %}
                        </li>
                        <li class="list-group-item">
                            <span class="label label-success">{{ recrutements }}</span>
                            <a href="{{ path('evenements_recrutement_index') }}" class="text "><strong> Recrutement </strong></a>{% if nbr_recrutement != 0 %} <span class="badge badge-danger">{{ nbr_recrutement }}</span> {% endif %}
                        </li>
                        <li class="list-group-item">
                            <span class="label label-success">{{ renouvellementdecontrats }}</span>
                            <a href="{{ path('evenements_renouvellementdecontrat_index') }}" class="text "><strong> Renouvellement de contrat </strong></a>{% if nbr_renouvellementdecontrat != 0 %} <span class="badge badge-danger">{{ nbr_renouvellementdecontrat }}</span> {% endif %}
                        </li>
                        <li class="list-group-item">
                            <span class="label label-success">{{ titularisations }}</span>
                            <a href="{{ path('evenements_titularisation_index') }}" class="text "><strong> Titularisation </strong></a>{% if nbr_titularisation != 0 %} <span class="badge badge-danger">{{ nbr_titularisation }}</span> {% endif %}
                        </li>
                        <li class="list-group-item">
                            <span class="label label-success">{{ reclassements }}</span>
                            <a href="{{ path('evenements_reclassement_index') }}" class="text "><strong> Reclassement</strong></a>{% if nbr_reclassement != 0 %} <span class="badge badge-danger">{{ nbr_reclassement }}</span> {% endif %}
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="list-group clear-list m-t">
                        <li class="list-group-item fist-item">
                            <span class="label label-info">{{ avancementnormals }}</span>
                            <a href="{{ path('evenements_avancementnormal_index') }}" class="text "><strong> Avancement normal</strong></a>{% if nbr_avancementnormal != 0 %} <span class="badge badge-danger">{{ nbr_avancementnormal }}</span> {% endif %}
                        </li>
                        <li class="list-group-item">
                            <span class="label label-info">{{ promotioninternes }}</span>
                            <a href="{{ path('evenements_promotioninterne_index') }}" class="text "><strong> Promotion interne</strong></a>{% if nbr_promotioninterne != 0 %} <span class="badge badge-danger">{{ nbr_promotioninterne }}</span>{% endif %}
                        </li>
                        <li class="list-group-item">
                            <span class="label label-info">{{ nominations }}</span>
                            <a href="{{ path('evenements_nomination_index') }}" class="text "><strong> Nomination </strong></a>{% if nbr_nomination != 0 %} <span class="badge badge-danger">{{ nbr_nomination }}</span> {% endif %}
                        </li>
                        <li class="list-group-item">
                            <span class="label label-info">{{ affectations }}</span>
                            <a href="{{ path('evenements_affectation_index') }}" class="text "><strong> Affectation </strong></a>{% if nbr_affectation != 0 %} <span class="badge badge-danger">{{ nbr_affectation}}</span> {% endif %}
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="list-group clear-list m-t">
                        <li class="list-group-item fist-item">
                            <span class="label label-warning">{{ avertissements }}</span>
                            <a href="{{ path('evenements_avertissement_index') }}" class="text "><strong> Avertissement </strong></a>{% if nbr_avertissement != 0 %} <span class="badge badge-danger">{{ nbr_avertissement }}</span> {% endif %}
                        </li>
                        <li class="list-group-item fist-item">
                            <span class="label label-warning">{{ demisedefonctions }}</span>
                            <a href="{{ path('evenements_demisedefonction_index') }}" class="text "><strong> Démise de fonction </strong></a>{% if nbr_demisedefonction != 0 %} <span class="badge badge-danger">{{ nbr_demisedefonction }}</span>{% endif %}
                        </li>
                        <li class="list-group-item">
                            <span class="label label-warning">{{ miseapieds }}</span>
                            <a href="{{ path('evenements_miseapied_index') }}" class="text "><strong> Mise à pied </strong></a>{% if nbr_miseapied != 0 %} <span class="badge badge-danger">{{ nbr_miseapied }}</span> {% endif %}
                        </li>
                        <li class="list-group-item">
                            <span class="label label-warning">{{ suspensions }}</span>
                            <a href="{{ path('evenements_suspension_index') }}" class="text "><strong> Suspension </strong></a>{% if nbr_suspension != 0 %} <span class="badge badge-danger">{{ nbr_suspension }}</span> {% endif %}
                        </li>
                        <li class="list-group-item">
                            <span class="label label-warning">{{ annulationdedecisions }}</span>
                            <a href="{{ path('evenements_annulationdedecision_index') }}" class="text "><strong> Annulation de décision</strong></a>
                        </li>
                        <li class="list-group-item">
                            <span class="label label-warning">{{ suspensiondesalaires }}</span>
                            <a href="{{ path('evenements_suspensiondesalaire_index') }}" class="text "><strong> Suspension de salaire </strong></a>{% if nbr_suspensiondesalaire != 0 %} <span class="badge badge-danger">{{ nbr_suspensiondesalaire }}</span> {% endif %}
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="list-group clear-list m-t">
                        <li class="list-group-item fist-item">
                            <span class="label label-primary">{{ demissions }}</span>
                            <a href="{{ path('evenements_demission_index') }}" class="text "><strong> Démission</strong></a>{% if nbr_demission != 0 %} <span class="badge badge-danger">{{ nbr_demission }}</span> {% endif %}
                        </li>
                        <li class="list-group-item">
                            <span class="label label-primary">{{ licenciements }}</span>
                            <a href="{{ path('evenements_licenciement_index') }}" class="text "><strong> Licenciement </strong></a>{% if nbr_licenciement != 0 %} <span class="badge badge-danger">{{ nbr_licenciement }}</span> {% endif %}
                        </li>
                        <li class="list-group-item">
                            <span class="label label-primary">{{ retraites }}</span>
                            <a href="{{ path('evenements_retraite_index') }}" class="text "><strong> Retraite </strong></a>{% if nbr_retraite != 0 %} <span class="badge badge-danger">{{ nbr_retraite }}</span> {% endif %}
                        </li>
                        <li class="list-group-item">
                            <span class="label label-primary">{{ deces }}</span>
                            <a href="{{ path('evenements_deces_index') }}" class="text "><strong> Décès </strong></a>{% if nbr_deces != 0 %} <span class="badge badge-danger">{{ nbr_deces }}</span> {% endif %}
                        </li>
                    </ul>
                </div>

            </div>
            <div class="row  border-top dashboard-header">

                <div class="col-md-3">
                    <ul class="list-group clear-list m-t">
                        <li class="list-group-item fist-item">
                            <span class="label label-primary">{{ reintegrations }}</span>
                            <a href="{{ path('evenements_reintegration_index') }}" class="text "><strong> Réintégration </strong></a>{% if nbr_reintegration != 0 %} <span class="badge badge-danger">{{ nbr_reintegration }}</span> {% endif %}
                        </li>
                        <li class="list-group-item">
                            <span class="label label-primary">{{ reprisedefonctions }}</span>
                            <a href="{{ path('evenements_reprisedefonction_index') }}" class="text "><strong> Reprise de fonction </strong></a>{% if nbr_reprisedefonction != 0 %} <span class="badge badge-danger">{{ nbr_reprisedefonction }}</span> {% endif %}
                        </li>
                        <li class="list-group-item">
                            <span class="label label-primary">{{ levedesuspensions }}</span>
                            <a href="{{ path('evenements_levedesuspension_index') }}" class="text "><strong> Levée de suspension </strong></a>{% if nbr_levedesuspension != 0 %} <span class="badge badge-danger">{{ nbr_levedesuspension }}</span> {% endif %}
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="list-group clear-list m-t">
                        <li class="list-group-item fist-item">
                            <span class="label label-primary">{{ interims }}</span>
                            <a href="{{ path('evenements_interim_index') }}" class="text "><strong> Intérim </strong></a>{% if nbr_interim != 0 %} <span class="badge badge-danger">{{ nbr_interim }}</span> {% endif %}
                        </li>
                        <li class="list-group-item">
                            <span class="label label-primary">{{ rectificationdunoms }}</span>
                            <a href="{{ path('evenements_rectificationdunom_index') }}" class="text "><strong> Réctification du nom</strong></a>{% if nbr_rectificationdunom != 0 %} <span class="badge badge-danger">{{ nbr_rectificationdunom }}</span> {% endif %}
                        </li>
                        <li class="list-group-item">
                            <span class="label label-primary">{{ indemniteforfaitaires }}</span>
                            <a href="{{ path('evenements_indemniteforfaitaire_index') }}" class="text "><strong> Indémnité forfaitaire </strong></a>{% if nbr_indemniteforfaitaire != 0 %} <span class="badge badge-danger">{{ nbr_indemniteforfaitaire }}</span> {% endif %}
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="list-group clear-list m-t">
                        <li class="list-group-item fist-item">
                            <span class="label label-primary">{{ disponibilites }}</span>
                            <a href="{{ path('evenements_disponibilite_index') }}" class="text "><strong> Disponibilité </strong></a>{% if nbr_disponibilite != 0 %} <span class="badge badge-danger">{{ nbr_disponibilite }}</span> {% endif %}
                        </li>
                        <li class="list-group-item">
                            <span class="label label-primary">{{ conges }}</span> (Tous)
                            <a href="{{ path('evenements_conge_index') }}" class="text "><strong> Congé </strong></a>{% if nbr_conge != 0 %} <span class="badge badge-danger">{{ nbr_conge }}</span> {% endif %}
                        </li>
                        <li class="list-group-item">
                            <span class="label label-default pull-right">{{ conge_maladie }}</span><i class="fa fa-arrow-right" style="margin-left: 40px;"></i> Congé maladie
                        </li>
                        <li class="list-group-item">
                            <span class="label label-default pull-right">{{ conge_longue_duree }}</span><i class="fa fa-arrow-right" style="margin-left: 40px;"></i> Congé longue durée
                        </li>
                        <li class="list-group-item">
                            <span class="label label-default pull-right">{{ conge_maternite }}</span><i class="fa fa-arrow-right" style="margin-left: 40px;"></i> Congé maternité
                        </li>
                        <li class="list-group-item">
                            <span class="label label-default pull-right">{{ conge_de_viduite }}</span><i class="fa fa-arrow-right" style="margin-left: 40px;"></i> Congé de viduité
                        </li>
                        <li class="list-group-item">
                            <span class="label label-default pull-right">{{ conge_sans_solde }}</span><i class="fa fa-arrow-right" style="margin-left: 40px;"></i> Congé sans solde
                        </li>
                    </ul>
                </div>

            </div>
            {% else %}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="alert alert-danger alert-dismissable ">
                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                            Vous n'avez pas les autorisations requises pour cette page
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
            {#
            <div class="wrapper wrapper-content">
                <div class="row">
                    <a href="{{ path('evenements_stage_index') }}" class="col-lg-3">
                        <div class="widget style1 lazur-bg">
                            <div class="row">
                                <div class="col-xs-8 text-right">
                                    <span class="small"> Stage</span>
                                    <h2 class="font-bold">{{ stages | length }}</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="{{ path('evenements_recrutement_index') }}" class="col-lg-3">
                        <div class="widget style1 lazur-bg">
                            <div class="row">
                                <div class="col-xs-8 text-right">
                                    <span class="small"> Recrutement </span>
                                    <h2 class="font-bold">{{ recrutements | length }}</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="{{ path('evenements_renouvellementdecontrat_index') }}" class="col-lg-3">
                        <div class="widget style1 lazur-bg">
                            <div class="row">
                                <div class="col-xs-8 text-right">
                                    <span class="small"> Renouvellement de contrat </span>
                                    <h2 class="font-bold">{{ renouvellementdecontrats | length }}</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="{{ path('evenements_titularisation_index') }}" class="col-lg-3">
                        <div class="widget style1 lazur-bg">
                            <div class="row">
                                <div class="col-xs-8 text-right">
                                    <span class="small"> Titularisation </span>
                                    <h2 class="font-bold">{{ titularisations | length }}</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="row">
                    <a href="{{ path('evenements_reclassement_index') }}" class="col-lg-2">
                        <div class="widget style1 navy-bg">
                            <div class="row vertical-align">
                                <div class="col-xs-8 text-right">
                                    <span class="small"> Reclassement</span>
                                    <h2 class="font-bold">{{ reclassements | length }}</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="{{ path('evenements_affectation_index') }}" class="col-lg-2">
                        <div class="widget style1 navy-bg">
                            <div class="row vertical-align">
                                <div class="col-xs-8 text-right">
                                    <span class="small"> Affectation</span>
                                    <h2 class="font-bold">{{ affectations | length }}</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a class="col-lg-2" href="{{ path('evenements_nomination_index') }}">
                        <div class="widget style1 navy-bg">
                            <div class="row vertical-align">
                                <div class="col-xs-8 text-right">
                                    <span class="small"> Nomination</span>
                                    <h2 class="font-bold">{{ nominations | length }}</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="col-lg-3">
                        <div class="widget style1 navy-bg">
                            <div class="row vertical-align">
                                <div class="col-xs-8 text-right">
                                    <span class="small"> Avancement normal</span>
                                    <h2 class="font-bold">x</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="col-lg-3" href="{{ path('evenements_promotioninterne_index') }}">
                        <div class="widget style1 navy-bg">
                            <div class="row vertical-align">
                                <div class="col-xs-8 text-right">
                                    <span class="small"> Promotion interne</span>
                                    <h2 class="font-bold">{{ promotioninternes | length }}</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="row">
                    <div class="col-lg-2">
                        <div class="widget style1 red-bg">
                            <div class="row vertical-align">
                                <div class="col-xs-8 text-right">
                                    <span class="small"> Avertissement</span>
                                    <h2 class="font-bold">12</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="widget style1 red-bg">
                            <div class="row vertical-align">
                                <div class="col-xs-8 text-right">
                                    <span class="small"> Mise à pied</span>
                                    <h2 class="font-bold">12</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="widget style1 red-bg">
                            <div class="row vertical-align">
                                <div class="col-xs-8 text-right">
                                    <span class="small"> Suspension</span>
                                    <h2 class="font-bold">12</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="widget style1 red-bg">
                            <div class="row vertical-align">
                                <div class="col-xs-8 text-right">
                                    <span class="small"> Annulation de décision</span>
                                    <h2 class="font-bold">12</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="widget style1 yellow-bg">
                            <div class="row vertical-align">
                                <div class="col-xs-8 text-right">
                                    <span class="small"> Suspension de salaire</span>
                                    <h2 class="font-bold">12</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        <div class="widget style1 white-bg">
                            <div class="row vertical-align">
                                <div class="col-xs-8 text-right">
                                    <span class="small"> Démission</span>
                                    <h2 class="font-bold">12</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="widget style1 white-bg">
                            <div class="row vertical-align">
                                <div class="col-xs-8 text-right">
                                    <span class="small"> Licenciement</span>
                                    <h2 class="font-bold">12</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="widget style1 white-bg">
                            <div class="row vertical-align">
                                <div class="col-xs-8 text-right">
                                    <span class="small"> Retraite</span>
                                    <h2 class="font-bold">12</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="widget style1 white-bg">
                            <div class="row vertical-align">
                                <div class="col-xs-8 text-right">
                                    <span class="small"> Décès</span>
                                    <h2 class="font-bold">12</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <div class="widget style1 lazur-bg">
                            <div class="row vertical-align">
                                <div class="col-xs-8 text-right">
                                    <span class="small"> Réintégration</span>
                                    <h2 class="font-bold">12</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="widget style1 lazur-bg">
                            <div class="row vertical-align">
                                <div class="col-xs-8 text-right">
                                    <span class="small"> Reprise de fonction</span>
                                    <h2 class="font-bold">12</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="widget style1 lazur-bg">
                            <div class="row vertical-align">
                                <div class="col-xs-8 text-right">
                                    <span class="small"> Levé de suspension</span>
                                    <h2 class="font-bold">12</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-2">
                        <div class="widget style1 yellow-bg">
                            <div class="row vertical-align">
                                <div class="col-xs-8 text-right">
                                    <span class="small"> Disponibilité</span>
                                    <h2 class="font-bold">12</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="widget style1 yellow-bg">
                            <div class="row vertical-align">
                                <div class="col-xs-8 text-right">
                                    <span class="small"> Congé maladie</span>
                                    <h2 class="font-bold">12</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="widget style1 yellow-bg">
                            <div class="row vertical-align">
                                <div class="col-xs-8 text-right">
                                    <span class="small"> Congé maternité</span>
                                    <h2 class="font-bold">12</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="widget style1 yellow-bg">
                            <div class="row vertical-align">
                                <div class="col-xs-8 text-right">
                                    <span class="small"> Congé viduité</span>
                                    <h2 class="font-bold">12</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="widget style1 yellow-bg">
                            <div class="row vertical-align">
                                <div class="col-xs-8 text-right">
                                    <span class="small"> Congé sans solde</span>
                                    <h2 class="font-bold">12</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        <div class="widget style1 blue-bg">
                            <div class="row vertical-align">
                                <div class="col-xs-8 text-right">
                                    <span class="small"> Intérimaire</span>
                                    <h2 class="font-bold">12</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="widget style1 blue-bg">
                            <div class="row vertical-align">
                                <div class="col-xs-8 text-right">
                                    <span class="small"> Rectification du nom</span>
                                    <h2 class="font-bold">12</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="widget style1 blue-bg">
                            <div class="row vertical-align">
                                <div class="col-xs-8 text-right">
                                    <span class="small"> Indémnité forfaitaire</span>
                                    <h2 class="font-bold">12</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            #}
        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    {{ parent() }}

{% endblock javascripts %}

