{% trans_default_domain 'FOSUserBundle' %}

<div>
    <div>

        <h1 class="logo-name">IN</h1>

    </div>
    {#<h3>Welcome to IN+</h3>
    <p>Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
        <!--Continually expanded and constantly improved Inspinia Admin Them (IN+)-->
    </p>#}
    {#<p>Login in. To see it in action.</p>#}
    {% if error %}
        <div class="alert alert-danger">
            <ul class="list-unstyled mb-0">
                <li><span class="initialism badge badge-danger">Erreur</span>
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </li>
            </ul>
        </div>
    {% endif %}

    <hr/>
    <form class="m-t" role="form" action="{{ path("fos_user_security_check") }}" method="post">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}
        <div class="form-group">
            {# <label for="username">{{ 'security.login.username'|trans }}</label> #}
            <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="{{ 'security.login.username'|trans }}" required="required" autocomplete="username" class="form-control" />
        </div>
        <div class="form-group">
            <input type="password" id="password" name="_password" placeholder="{{ 'security.login.password'|trans }}" required="required" autocomplete="current-password" class="form-control"/>
        </div>
        <button type="submit" class="btn btn-primary block full-width m-b" id="_submit" name="_submit">
            <i class="fa fa-sign-in" aria-hidden="true"></i> {{ 'security.login.submit'|trans }}
        </button>

        <a href="{{ path('fos_user_resetting_request') }}"><i class="fa fa-key"></i> <small>Mot de passe oublié?</small></a> &nbsp;
        {#<p class="text-muted text-center"><small>Pas de compte?</small></p>#}
        <a href="{{ path('home') }}"><i class="fa fa-home"></i> <small>{{ 'security.login.link_home'|trans }}</small></a>
    </form>
    <p class="m-t"> <small>Intranet Comores Telecom © 2016 - {{ "now"|date("Y") }}</small> </p>
</div>