{% extends '@FOSUser/base.html.twig' %}

{% block title %} {{ parent() }} Login {% endblock %}

{% block stylesheets %} {{ parent() }} {% endblock %}

{% block body %}

    {% block fos_user_content %}
        {{ include('@FOSUser/Security/login_content.html.twig') }}
    {% endblock fos_user_content %}


{% endblock %}
