{%  set route_page = app.request.attributes.get('_route') %}
<div class="col-lg-3">
    <div class="ibox float-e-margins" style="padding-top: 10px;">
        <a href="{{ path('moncompte_administration') }}" class="btn btn-success btn-block"><i class="fa fa-arrow-left"></i> Mon Admin</a>
        <div class="ibox-content panelpanel-danger ">
            <div class="file-manager">
                {% if 'ROLE_SUPER_ADMIN' in roles %}
                    <h5 class="badge badge-danger block"><i class="fa fa-user-circle"></i> Super Admin</h5>
                {% elseif 'ROLE_ADMIN_GCAR' in roles %}
                    <h5 class="badge badge-danger block"><i class="fa fa-user-circle"></i> Admin gCar</h5>
                {% elseif 'ROLE_ADMIN_GSENERG' in roles %}
                    <h5 class="badge badge-danger block"><i class="fa fa-user-circle"></i> Admin gS-Energ</h5>
                {% elseif 'ROLE_ADMIN_GBDS' in roles %}
                    <h5 class="badge badge-danger block"><i class="fa fa-user-circle"></i> Admin gBds</h5>
                {% elseif 'ROLE_ADMIN_GCONGE' in roles %}
                    <h5 class="badge badge-danger block"><i class="fa fa-user-circle"></i> Admin gCongé</h5>
                {% else %}

                {% endif %}
                <ul class="folder-list" style="padding: 0">
                    <li><a href="{{ path('demande_conge_create') }}"><span class="fa fa-plus"></span>
                        {% if route_page == 'demande_conge_create' %}<b>Demander un congé</b>{% else %}Demander un congé{% endif %}</a></li>
                    <li><a href="{{ path('mes_demandes_show') }}"><span class="fa fa-eye"></span>
                        {% if route_page == 'mes_demandes_show' %}<b>Mes démandes de congé</b>{% else %}Mes démandes de congé{% endif %}</a></li>
                    {#<li><a href=""><span class="fa fa-eye"></span>
                        {% if route_page == 'demandes_show' %}<b>Mes congés pris</b>{% else %}Mes congés pris{% endif %}</a></li>
                    <li><a href=""><span class="fa fa-eye"></span>
                        {% if route_page == 'demandes_show' %}<b>Mes congés restants</b>{% else %}Mes congés restants{% endif %}</a></li>#}
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
        {% if is_granted ('ROLE_ADMIN_GCONGE') %}
            <div class="ibox-content no-padding">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="{{ path('agent_dernier_conge') }}"><span class="fa fa-user"></span><i class="fa fa-ig"></i>
                            {% if route_page == 'agent_dernier_conge' %}<b>Agents (Derniers congés)</b>{% else %}Agents (Derniers congés){% endif %}</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{{ path('agent_situation_conge') }}"><span class="fa fa-user"></span><i class="fa fa-ig"></i>
                            {% if route_page == 'agent_situation_conge' %}<b>Agents (Situation des congés)</b>{% else %}Agents (Situation des congés){% endif %}</a>
                    </li>
                    <li class="list-group-item">
                        <span class="badge badge-primary">{{ demandes | length }}</span>
                        <a href="{{ path('demandes_show') }}"><span class="fa fa-eye"></span><i class="fa fa-ig"></i>
                        {% if route_page == 'demandes_show' or route_page == 'demande_conge_show' or route_page == 'demande_conge_edit' %}<b>Les demandes de congé</b>{% else %}Les démandes de congé{% endif %}</a>
                    </li>
                    <li class="list-group-item ">
                        <a href="{{ path('modele_conge_create') }}"><span class="fa fa-plus"></span><i class="fa fa-ig"></i>
                        {% if route_page == 'modele_conge_create' %}<b>Ajouter un modèle de congé</b>{% else %}Ajouter un modèle de congé{% endif %}</a>
                    </li>
                    <li class="list-group-item">
                        <span class="badge badge-primary">{{ modeles | length }}</span>
                        <a href="{{ path('modeles_show') }}"><span class="fa fa-eye"></span><i class="fa fa-ig"></i>
                        {% if route_page == 'modeles_show' or route_page == 'modele_conge_show' or route_page == 'modele_conge_edit' %}<b>Afficher les modèles congés</b>{% else %}Afficher les modèles congés{% endif %}</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{{ path('category_conge_create') }}"><span class="fa fa-plus"></span><i class="fa fa-ig"></i>
                        {% if route_page == 'category_conge_create' %}<b>Ajouter une catégorie congé</b>{% else %}Ajouter une catégorie congé{% endif %}</a>
                    </li>
                    <li class="list-group-item">
                        <span class="badge badge-primary">{{ categories | length }}</span>
                        <a href="{{ path('categories_show') }}"><span class="fa fa-eye"></span><i class="fa fa-ig"></i>
                        {% if route_page == 'categories_show' or route_page == 'category_conge_edit' %}<b>Lister les catégories congés</b>{% else %}Lister les catégories congés{% endif %}</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{{ path('msg_conge_create') }}"><span class="fa fa-plus"></span><i class="fa fa-ig"></i>
                        {% if route_page == 'msg_conge_create' %}<b>Ajouter un message</b>{% else %}Ajouter un message{% endif %}</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{{ path('messages_accueil_conge') }}"><span class="fa fa-eye"></span><i class="fa fa-ig"></i>
                        {% if route_page == 'messages_accueil_conge' or route_page == 'msg_conge_edit' %}<b>Lister les messages</b>{% else %}Lister les messages{% endif %}</a>
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>
</div>