<div class="col-lg-3">
    {% if is_granted('ROLE_ADMIN_GCAR') %}
    <div class="ibox panel-danger">
        <div class="ibox-title panel-heading">
            <h5 class="text-uppercase "><a href="{{ path('admin_evenements') }}"><span class="text-white"><i class="fa fa-arrow-left"></i> Acceuil évenements</span></a></h5>
        </div>
        <div class="ibox-content">
            <div class="clients-list">
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="full-height-scroll">
                            <div class="table-responsive">
                                <table class="table table-striped table-hover">
                                    {%  set route_page = app.request.attributes.get('_route') %}
                                    <tbody>
                                    <a type="button"
                                       class="btn btn-primary {% if route_page == 'evenements_stage_new'
                                       or route_page == 'evenements_stage_edit'
                                       or route_page == 'evenements_stage_index' %}btn-outline-light
                                                            {% else %} btn-outline {% endif %}btn-xs btn-block"
                                       href="{% if route_page == 'evenements_stage_index' %}
                                                {{ path('choisir_agent', {evenement: 'stage'}) }}
                                            {% else %}
                                               {{ path('evenements_stage_index') }}
                                            {% endif %}
                                            ">
                                        {% if route_page == 'evenements_stage_new'
                                        or route_page == 'evenements_stage_edit'
                                        %}
                                            <i class="fa fa-arrow-left"></i> Retour
                                        {% elseif route_page == 'evenements_stage_index' %}
                                            <i class="fa fa-plus"></i> Stage
                                        {% else %}
                                            Stage
                                        {% endif %}
                                    </a>
                                    <a type="button"
                                       class="btn btn-primary {% if route_page == 'evenements_recrutement_new'
                                                               or route_page == 'evenements_recrutement_edit'
                                                               or route_page == 'evenements_recrutement_index' %}btn-outline-light
                                                            {% else %} btn-outline {% endif %}btn-xs btn-block"
                                       href="{% if route_page == 'evenements_recrutement_index' %}
                                                {{ path('choisir_agent', {evenement: 'recrutement'}) }}
                                            {% else %}
                                               {{ path('evenements_recrutement_index') }}
                                            {% endif %}
                                            ">
                                        {% if route_page == 'evenements_recrutement_new'
                                        or route_page == 'evenements_recrutement_edit'
                                         %}
                                            <i class="fa fa-arrow-left"></i> Retour
                                        {% elseif route_page == 'evenements_recrutement_index' %}
                                            <i class="fa fa-plus"></i> Recrutement
                                        {% else %}
                                            Recrutement
                                        {% endif %}
                                    </a>
                                    <a type="button"
                                       class="btn btn-primary {% if route_page == 'evenements_renouvellementdecontrat_new'
                                       or route_page == 'evenements_renouvellementdecontrat_edit'
                                       or route_page == 'evenements_renouvellementdecontrat_index' %}btn-outline-light
                                                            {% else %} btn-outline {% endif %}btn-xs btn-block"
                                       href="{% if route_page == 'evenements_renouvellementdecontrat_index' %}
                                                {{ path('choisir_agent', {evenement: 'renouvellementdecontrat'}) }}
                                            {% else %}
                                               {{ path('evenements_renouvellementdecontrat_index') }}
                                            {% endif %}
                                            ">
                                        {% if route_page == 'evenements_renouvellementdecontrat_new'
                                        or route_page == 'evenements_renouvellementdecontrat_edit'
                                        %}
                                            <i class="fa fa-arrow-left"></i> Retour
                                        {% elseif route_page == 'evenements_renouvellementdecontrat_index' %}
                                            <i class="fa fa-plus"></i> Renouvellement de contrat
                                        {% else %}
                                            Renouvellement de contrat
                                        {% endif %}
                                    </a>
                                    <a type="button"
                                       class="btn btn-primary {% if route_page == 'evenements_titularisation_new'
                                       or route_page == 'evenements_titularisation_edit'
                                       or route_page == 'evenements_titularisation_index' %}btn-outline-light
                                                            {% else %} btn-outline {% endif %}btn-xs btn-block"
                                       href="{% if route_page == 'evenements_titularisation_index' %}
                                                {{ path('choisir_agent', {evenement: 'titularisation'}) }}
                                            {% else %}
                                               {{ path('evenements_titularisation_index') }}
                                            {% endif %}
                                            ">
                                        {% if route_page == 'evenements_titularisation_new'
                                        or route_page == 'evenements_titularisation_edit'
                                        %}
                                            <i class="fa fa-arrow-left"></i> Retour
                                        {% elseif route_page == 'evenements_titularisation_index' %}
                                            <i class="fa fa-plus"></i> Titularisation
                                        {% else %}
                                            Titularisation
                                        {% endif %}
                                    </a>
                                    <a type="button"
                                       class="btn btn-primary {% if route_page == 'evenements_reclassement_new'
                                       or route_page == 'evenements_reclassement_edit'
                                       or route_page == 'evenements_reclassement_index' %}btn-outline-light
                                                            {% else %} btn-outline {% endif %}btn-xs btn-block"
                                       href="{% if route_page == 'evenements_reclassement_index' %}
                                                {{ path('choisir_agent', {evenement: 'reclassement'}) }}
                                            {% else %}
                                               {{ path('evenements_reclassement_index') }}
                                            {% endif %}
                                            ">
                                        {% if route_page == 'evenements_reclassement_new'
                                        or route_page == 'evenements_reclassement_edit'
                                        %}
                                            <i class="fa fa-arrow-left"></i> Retour
                                        {% elseif route_page == 'evenements_reclassement_index' %}
                                            <i class="fa fa-plus"></i> Reclassement
                                        {% else %}
                                            Reclassement
                                        {% endif %}
                                    </a>

                                    <div class="hr-line-dashed"></div>

                                    <a type="button"
                                       class="btn btn-primary {% if route_page == 'evenements_affectation_new'
                                       or route_page == 'evenements_affectation_edit'
                                       or route_page == 'evenements_affectation_index' %}btn-outline-light
                                                            {% else %} btn-outline {% endif %}btn-xs btn-block"
                                       href="{% if route_page == 'evenements_affectation_index' %}
                                                {{ path('choisir_agent', {evenement: 'affectation'}) }}
                                            {% else %}
                                               {{ path('evenements_affectation_index') }}
                                            {% endif %}
                                            ">
                                        {% if route_page == 'evenements_affectation_new'
                                        or route_page == 'evenements_affectation_edit'
                                        %}
                                            <i class="fa fa-arrow-left"></i> Retour
                                        {% elseif route_page == 'evenements_affectation_index' %}
                                            <i class="fa fa-plus"></i> Affectation
                                        {% else %}
                                            Affectation
                                        {% endif %}
                                    </a>
                                    <a type="button"
                                       class="btn btn-primary {% if route_page == 'evenements_nomination_new'
                                       or route_page == 'evenements_nomination_edit'
                                       or route_page == 'evenements_nomination_index' %}btn-outline-light
                                                            {% else %} btn-outline {% endif %}btn-xs btn-block"
                                       href="{% if route_page == 'evenements_nomination_index' %}
                                                {{ path('choisir_agent', {evenement: 'nomination'}) }}
                                            {% else %}
                                               {{ path('evenements_nomination_index') }}
                                            {% endif %}
                                            ">
                                        {% if route_page == 'evenements_nomination_new'
                                        or route_page == 'evenements_nomination_edit'
                                        %}
                                            <i class="fa fa-arrow-left"></i> Retour
                                        {% elseif route_page == 'evenements_nomination_index' %}
                                            <i class="fa fa-plus"></i> Nomination
                                        {% else %}
                                            Nomination
                                        {% endif %}
                                    </a>
                                    <a type="button"
                                       class="btn btn-primary {% if route_page == 'evenements_avancementnormal_new'
                                       or route_page == 'evenements_avancementnormal_edit'
                                       or route_page == 'evenements_avancementnormal_index' %}btn-outline-light
                                                            {% else %} btn-outline {% endif %}btn-xs btn-block"
                                       href="{% if route_page == 'evenements_avancementnormal_index' %}
                                                {{ path('choisir_agent', {evenement: 'avancementnormal'}) }}
                                            {% else %}
                                               {{ path('evenements_avancementnormal_index') }}
                                            {% endif %}
                                            ">
                                        {% if route_page == 'evenements_avancementnormal_new'
                                        or route_page == 'evenements_avancementnormal_edit'
                                        %}
                                            <i class="fa fa-arrow-left"></i> Retour
                                        {% elseif route_page == 'evenements_avancementnormal_index' %}
                                            <i class="fa fa-plus"></i> Avancement Normal
                                        {% else %}
                                            Avancement Normal
                                        {% endif %}
                                    </a>
                                    <a type="button"
                                       class="btn btn-primary {% if route_page == 'evenements_promotioninterne_new'
                                       or route_page == 'evenements_promotioninterne_edit'
                                       or route_page == 'evenements_promotioninterne_index' %}btn-outline-light
                                                            {% else %} btn-outline {% endif %}btn-xs btn-block"
                                       href="{% if route_page == 'evenements_promotioninterne_index' %}
                                                {{ path('choisir_agent', {evenement: 'promotioninterne'}) }}
                                            {% else %}
                                               {{ path('evenements_promotioninterne_index') }}
                                            {% endif %}
                                            ">
                                        {% if route_page == 'evenements_promotioninterne_new'
                                        or route_page == 'evenements_promotioninterne_edit'
                                        %}
                                            <i class="fa fa-arrow-left"></i> Retour
                                        {% elseif route_page == 'evenements_promotioninterne_index' %}
                                            <i class="fa fa-plus"></i> Promotion interne
                                        {% else %}
                                            Promotion interne
                                        {% endif %}
                                    </a>

                                    <div class="hr-line-dashed"></div>

                                    <a type="button"
                                       class="btn btn-primary {% if route_page == 'evenements_avertissement_new'
                                       or route_page == 'evenements_avertissement_edit'
                                       or route_page == 'evenements_avertissement_index' %}btn-outline-light
                                                            {% else %} btn-outline {% endif %}btn-xs btn-block"
                                       href="{% if route_page == 'evenements_avertissement_index' %}
                                                {{ path('choisir_agent', {evenement: 'avertissement'}) }}
                                            {% else %}
                                               {{ path('evenements_avertissement_index') }}
                                            {% endif %}
                                            ">
                                        {% if route_page == 'evenements_avertissement_new'
                                        or route_page == 'evenements_avertissement_edit'
                                        %}
                                            <i class="fa fa-arrow-left"></i> Retour
                                        {% elseif route_page == 'evenements_avertissement_index' %}
                                            <i class="fa fa-plus"></i> Avertissement
                                        {% else %}
                                            Avertissement
                                        {% endif %}
                                    </a>
                                    <a type="button"
                                       class="btn btn-primary {% if route_page == 'evenements_demisedefonction_new'
                                       or route_page == 'evenements_demisedefonction_edit'
                                       or route_page == 'evenements_demisedefonction_index' %}btn-outline-light
                                                            {% else %} btn-outline {% endif %}btn-xs btn-block"
                                       href="{% if route_page == 'evenements_demisedefonction_index' %}
                                                {{ path('choisir_agent', {evenement: 'demisedefonction'}) }}
                                            {% else %}
                                               {{ path('evenements_demisedefonction_index') }}
                                            {% endif %}
                                            ">
                                        {% if route_page == 'evenements_demisedefonction_new'
                                        or route_page == 'evenements_demisedefonction_edit'
                                        %}
                                            <i class="fa fa-arrow-left"></i> Retour
                                        {% elseif route_page == 'evenements_demisedefonction_index' %}
                                            <i class="fa fa-plus"></i> Démise de fonctions
                                        {% else %}
                                            Démise de fonctions
                                        {% endif %}
                                    </a>
                                    <a type="button"
                                       class="btn btn-primary {% if route_page == 'evenements_miseapied_new'
                                       or route_page == 'evenements_miseapied_edit'
                                       or route_page == 'evenements_miseapied_index' %}btn-outline-light
                                                            {% else %} btn-outline {% endif %}btn-xs btn-block"
                                       href="{% if route_page == 'evenements_miseapied_index' %}
                                                {{ path('choisir_agent', {evenement: 'miseapied'}) }}
                                            {% else %}
                                               {{ path('evenements_miseapied_index') }}
                                            {% endif %}
                                            ">
                                        {% if route_page == 'evenements_miseapied_new'
                                        or route_page == 'evenements_miseapied_edit'
                                        %}
                                            <i class="fa fa-arrow-left"></i> Retour
                                        {% elseif route_page == 'evenements_miseapied_index' %}
                                            <i class="fa fa-plus"></i> Mise à pied
                                        {% else %}
                                            Mise à pied
                                        {% endif %}
                                    </a>
                                    <a type="button"
                                       class="btn btn-primary {% if route_page == 'evenements_suspension_new'
                                       or route_page == 'evenements_suspension_edit'
                                       or route_page == 'evenements_suspension_index' %}btn-outline-light
                                                            {% else %} btn-outline {% endif %}btn-xs btn-block"
                                       href="{% if route_page == 'evenements_suspension_index' %}
                                                {{ path('choisir_agent', {evenement: 'suspension'}) }}
                                            {% else %}
                                               {{ path('evenements_suspension_index') }}
                                            {% endif %}
                                            ">
                                        {% if route_page == 'evenements_suspension_new'
                                        or route_page == 'evenements_suspension_edit'
                                        %}
                                            <i class="fa fa-arrow-left"></i> Retour
                                        {% elseif route_page == 'evenements_suspension_index' %}
                                            <i class="fa fa-plus"></i> Suspension
                                        {% else %}
                                            Suspension
                                        {% endif %}
                                    </a>
                                    <a type="button"
                                       class="btn btn-primary {% if route_page == 'evenements_annulationdedecision_new'
                                       or route_page == 'evenements_annulationdedecision_edit'
                                       or route_page == 'evenements_annulationdedecision_index' %}btn-outline-light
                                                            {% else %} btn-outline {% endif %}btn-xs btn-block"
                                       href="{% if route_page == 'evenements_annulationdedecision_index' %}
                                                {{ path('choisir_agent', {evenement: 'annulationdedecision'}) }}
                                            {% else %}
                                               {{ path('evenements_annulationdedecision_index') }}
                                            {% endif %}
                                            ">
                                        {% if route_page == 'evenements_annulationdedecision_new'
                                        or route_page == 'evenements_annulationdedecision_edit'
                                        %}
                                            <i class="fa fa-arrow-left"></i> Retour
                                        {% elseif route_page == 'evenements_annulationdedecision_index' %}
                                            <i class="fa fa-plus"></i> Annulation de décision
                                        {% else %}
                                            Annulation de décision
                                        {% endif %}
                                    </a>

                                    <a type="button"
                                       class="btn btn-primary {% if route_page == 'evenements_suspensiondesalaire_new'
                                       or route_page == 'evenements_suspensiondesalaire_edit'
                                       or route_page == 'evenements_suspensiondesalaire_index' %}btn-outline-light
                                                            {% else %} btn-outline {% endif %}btn-xs btn-block"
                                       href="{% if route_page == 'evenements_suspensiondesalaire_index' %}
                                                {{ path('choisir_agent', {evenement: 'suspensiondesalaire'}) }}
                                            {% else %}
                                               {{ path('evenements_suspensiondesalaire_index') }}
                                            {% endif %}
                                            ">
                                        {% if route_page == 'evenements_suspensiondesalaire_new'
                                        or route_page == 'evenements_suspensiondesalaire_edit'
                                        %}
                                            <i class="fa fa-arrow-left"></i> Retour
                                        {% elseif route_page == 'evenements_suspensiondesalaire_index' %}
                                            <i class="fa fa-plus"></i> Suspension de salaire
                                        {% else %}
                                            Suspension de salaire
                                        {% endif %}
                                    </a>

                                    <div class="hr-line-dashed"></div>

                                    <a type="button"
                                       class="btn btn-primary {% if route_page == 'evenements_demission_new'
                                       or route_page == 'evenements_demission_edit'
                                       or route_page == 'evenements_demission_index' %}btn-outline-light
                                                            {% else %} btn-outline {% endif %}btn-xs btn-block"
                                       href="{% if route_page == 'evenements_demission_index' %}
                                                {{ path('choisir_agent', {evenement: 'demission'}) }}
                                            {% else %}
                                               {{ path('evenements_demission_index') }}
                                            {% endif %}
                                            ">
                                        {% if route_page == 'evenements_demission_new'
                                        or route_page == 'evenements_demission_edit'
                                        %}
                                            <i class="fa fa-arrow-left"></i> Retour
                                        {% elseif route_page == 'evenements_demission_index' %}
                                            <i class="fa fa-plus"></i> Démission
                                        {% else %}
                                            Démission
                                        {% endif %}
                                    </a>
                                    <a type="button"
                                       class="btn btn-primary {% if route_page == 'evenements_licenciement_new'
                                       or route_page == 'evenements_licenciement_edit'
                                       or route_page == 'evenements_licenciement_index' %}btn-outline-light
                                                            {% else %} btn-outline {% endif %}btn-xs btn-block"
                                       href="{% if route_page == 'evenements_licenciement_index' %}
                                                {{ path('choisir_agent', {evenement: 'licenciement'}) }}
                                            {% else %}
                                               {{ path('evenements_licenciement_index') }}
                                            {% endif %}
                                            ">
                                        {% if route_page == 'evenements_licenciement_new'
                                        or route_page == 'evenements_licenciement_edit'
                                        %}
                                            <i class="fa fa-arrow-left"></i> Retour
                                        {% elseif route_page == 'evenements_licenciement_index' %}
                                            <i class="fa fa-plus"></i> Licenciement
                                        {% else %}
                                            Licenciement
                                        {% endif %}
                                    </a>
                                    <a type="button"
                                       class="btn btn-primary {% if route_page == 'evenements_retraite_new'
                                       or route_page == 'evenements_retraite_edit'
                                       or route_page == 'evenements_retraite_index' %}btn-outline-light
                                                            {% else %} btn-outline {% endif %}btn-xs btn-block"
                                       href="{% if route_page == 'evenements_retraite_index' %}
                                                {{ path('choisir_agent', {evenement: 'retraite'}) }}
                                            {% else %}
                                               {{ path('evenements_retraite_index') }}
                                            {% endif %}
                                            ">
                                        {% if route_page == 'evenements_retraite_new'
                                        or route_page == 'evenements_retraite_edit'
                                        %}
                                            <i class="fa fa-arrow-left"></i> Retour
                                        {% elseif route_page == 'evenements_retraite_index' %}
                                            <i class="fa fa-plus"></i> Retraite
                                        {% else %}
                                            Retraite
                                        {% endif %}
                                    </a>
                                    <a type="button"
                                       class="btn btn-primary {% if route_page == 'evenements_deces_new'
                                       or route_page == 'evenements_deces_edit'
                                       or route_page == 'evenements_deces_index' %}btn-outline-light
                                                            {% else %} btn-outline {% endif %}btn-xs btn-block"
                                       href="{% if route_page == 'evenements_deces_index' %}
                                                {{ path('choisir_agent', {evenement: 'deces'}) }}
                                            {% else %}
                                               {{ path('evenements_deces_index') }}
                                            {% endif %}
                                            ">
                                        {% if route_page == 'evenements_deces_new'
                                        or route_page == 'evenements_deces_edit'
                                        %}
                                            <i class="fa fa-arrow-left"></i> Retour
                                        {% elseif route_page == 'evenements_deces_index' %}
                                            <i class="fa fa-plus"></i> Décès
                                        {% else %}
                                            Décès
                                        {% endif %}
                                    </a>

                                    <div class="hr-line-dashed"></div>

                                    <a type="button"
                                       class="btn btn-primary {% if route_page == 'evenements_reintegration_new'
                                       or route_page == 'evenements_reintegration_edit'
                                       or route_page == 'evenements_reintegration_index' %}btn-outline-light
                                                            {% else %} btn-outline {% endif %}btn-xs btn-block"
                                       href="{% if route_page == 'evenements_reintegration_index' %}
                                                {{ path('choisir_agent', {evenement: 'reintegration'}) }}
                                            {% else %}
                                               {{ path('evenements_reintegration_index') }}
                                            {% endif %}
                                            ">
                                        {% if route_page == 'evenements_reintegration_new'
                                        or route_page == 'evenements_reintegration_edit'
                                        %}
                                            <i class="fa fa-arrow-left"></i> Retour
                                        {% elseif route_page == 'evenements_reintegration_index' %}
                                            <i class="fa fa-plus"></i> Réintegration
                                        {% else %}
                                            Réintegration
                                        {% endif %}
                                    </a>

                                    <a type="button"
                                       class="btn btn-primary {% if route_page == 'evenements_reprisedefonction_new'
                                       or route_page == 'evenements_reprisedefonction_edit'
                                       or route_page == 'evenements_reprisedefonction_index' %}btn-outline-light
                                                            {% else %} btn-outline {% endif %}btn-xs btn-block"
                                       href="{% if route_page == 'evenements_reprisedefonction_index' %}
                                                {{ path('choisir_agent', {evenement: 'reprisedefonction'}) }}
                                            {% else %}
                                               {{ path('evenements_reprisedefonction_index') }}
                                            {% endif %}
                                            ">
                                        {% if route_page == 'evenements_reprisedefonction_new'
                                        or route_page == 'evenements_reprisedefonction_edit'
                                        %}
                                            <i class="fa fa-arrow-left"></i> Retour
                                        {% elseif route_page == 'evenements_reprisedefonction_index' %}
                                            <i class="fa fa-plus"></i> Reprise de Fonctions
                                        {% else %}
                                            Reprise de Fonctions
                                        {% endif %}
                                    </a>
                                    <a type="button"
                                       class="btn btn-primary {% if route_page == 'evenements_levedesuspension_new'
                                       or route_page == 'evenements_levedesuspension_edit'
                                       or route_page == 'evenements_levedesuspension_index' %}btn-outline-light
                                                            {% else %} btn-outline {% endif %}btn-xs btn-block"
                                       href="{% if route_page == 'evenements_levedesuspension_index' %}
                                                {{ path('choisir_agent', {evenement: 'levedesuspension'}) }}
                                            {% else %}
                                               {{ path('evenements_levedesuspension_index') }}
                                            {% endif %}
                                            ">
                                        {% if route_page == 'evenements_levedesuspension_new'
                                        or route_page == 'evenements_levedesuspension_edit'
                                        %}
                                            <i class="fa fa-arrow-left"></i> Retour
                                        {% elseif route_page == 'evenements_levedesuspension_index' %}
                                            <i class="fa fa-plus"></i> Levée de suspension
                                        {% else %}
                                            Levée de suspension
                                        {% endif %}
                                    </a>
                                    <div class="hr-line-dashed"></div>
                                    <a type="button"
                                       class="btn btn-primary {% if route_page == 'evenements_disponibilite_new'
                                       or route_page == 'evenements_disponibilite_edit'
                                       or route_page == 'evenements_disponibilite_index' %}btn-outline-light
                                                            {% else %} btn-outline {% endif %}btn-xs btn-block"
                                       href="{% if route_page == 'evenements_disponibilite_index' %}
                                                {{ path('choisir_agent', {evenement: 'disponibilite'}) }}
                                            {% else %}
                                               {{ path('evenements_disponibilite_index') }}
                                            {% endif %}
                                            ">
                                        {% if route_page == 'evenements_disponibilite_new'
                                        or route_page == 'evenements_disponibilite_edit'
                                        %}
                                            <i class="fa fa-arrow-left"></i> Retour
                                        {% elseif route_page == 'evenements_disponibilite_index' %}
                                            <i class="fa fa-plus"></i> Disponibilité
                                        {% else %}
                                            Disponibilité
                                        {% endif %}
                                    </a>
                                    <a type="button"
                                       class="btn btn-primary {% if route_page == 'evenements_conge_new'
                                       or route_page == 'evenements_conge_edit'
                                       or route_page == 'evenements_conge_index' %}btn-outline-light
                                                            {% else %} btn-outline {% endif %}btn-xs btn-block"
                                       href="{% if route_page == 'evenements_conge_index' %}
                                                {{ path('choisir_agent', {evenement: 'conge'}) }}
                                            {% else %}
                                               {{ path('evenements_conge_index') }}
                                            {% endif %}
                                            ">
                                        {% if route_page == 'evenements_conge_new'
                                        or route_page == 'evenements_conge_edit'
                                        %}
                                            <i class="fa fa-arrow-left"></i> Retour
                                        {% elseif route_page == 'evenements_conge_index' %}
                                            <i class="fa fa-plus"></i> Congé
                                        {% else %}
                                            Congé
                                        {% endif %}
                                    </a>

                                    <div class="hr-line-dashed"></div>
                                    <a type="button"
                                       class="btn btn-primary {% if route_page == 'evenements_interim_new'
                                       or route_page == 'evenements_interim_edit'
                                       or route_page == 'evenements_interim_index' %}btn-outline-light
                                                            {% else %} btn-outline {% endif %}btn-xs btn-block"
                                       href="{% if route_page == 'evenements_interim_index' %}
                                                {{ path('choisir_agent', {evenement: 'interim'}) }}
                                            {% else %}
                                               {{ path('evenements_interim_index') }}
                                            {% endif %}
                                            ">
                                        {% if route_page == 'evenements_interim_new'
                                        or route_page == 'evenements_interim_edit'
                                        %}
                                            <i class="fa fa-arrow-left"></i> Retour
                                        {% elseif route_page == 'evenements_interim_index' %}
                                            <i class="fa fa-plus"></i> Intérim
                                        {% else %}
                                            Intérim
                                        {% endif %}
                                    </a>
                                    <a type="button"
                                       class="btn btn-primary {% if route_page == 'evenements_rectificationdunom_new'
                                       or route_page == 'evenements_rectificationdunom_edit'
                                       or route_page == 'evenements_rectificationdunom_index' %}btn-outline-light
                                                            {% else %} btn-outline {% endif %}btn-xs btn-block"
                                       href="{% if route_page == 'evenements_rectificationdunom_index' %}
                                                {{ path('choisir_agent', {evenement: 'rectificationdunom'}) }}
                                            {% else %}
                                               {{ path('evenements_rectificationdunom_index') }}
                                            {% endif %}
                                            ">
                                        {% if route_page == 'evenements_rectificationdunom_new'
                                        or route_page == 'evenements_rectificationdunom_edit'
                                        %}
                                            <i class="fa fa-arrow-left"></i> Retour
                                        {% elseif route_page == 'evenements_rectificationdunom_index' %}
                                            <i class="fa fa-plus"></i> Rectification du nom
                                        {% else %}
                                            Rectification du nom
                                        {% endif %}
                                    </a>
                                    <a type="button"
                                       class="btn btn-primary {% if route_page == 'evenements_indemniteforfaitaire_new'
                                       or route_page == 'evenements_indemniteforfaitaire_edit'
                                       or route_page == 'evenements_indemniteforfaitaire_index' %}btn-outline-light
                                                            {% else %} btn-outline {% endif %}btn-xs btn-block"
                                       href="{% if route_page == 'evenements_indemniteforfaitaire_index' %}
                                                {{ path('choisir_agent', {evenement: 'indemniteforfaitaire'}) }}
                                            {% else %}
                                               {{ path('evenements_indemniteforfaitaire_index') }}
                                            {% endif %}
                                            ">
                                        {% if route_page == 'evenements_indemniteforfaitaire_new'
                                        or route_page == 'evenements_indemniteforfaitaire_edit'
                                        %}
                                            <i class="fa fa-arrow-left"></i> Retour
                                        {% elseif route_page == 'evenements_indemniteforfaitaire_index' %}
                                            <i class="fa fa-plus"></i> Indemnité forfaitaire
                                        {% else %}
                                            Indemnité forfaitaire
                                        {% endif %}
                                    </a>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {% endif %}
</div>