{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Choisir agent {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Morris --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css') }}">
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}
            <div class="wrapper wrapper-content">
                <div class="row">
                    {# Messages Falsh #}
                    {% for message in app.flashes('success') %}
                        <div class="col-lg-12" style="margin-top: 15px;">
                            <div class="alert alert-success alert-dismissable ">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                {{ message }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="row animated fadeIn">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h3><i class="fa fa-info-circle"></i> Les agents </h3>
                            </div>
                            <div class="ibox-content">
                                <div class="row">

                                    <a href="{{ path('home_bds') }}" style="margin-left: 20px;">
                                        <label class="btn btn-info">
                                            <i class="fa fa-arrow-left"></i>  Retour à accueil Bds
                                        </label>
                                    </a>

                                    <div class="col-sm-5 pull-right">
                                        {{ form_start(formSearch, {
                                            'attr': {
                                                'class': 'form-horizontal',
                                                'role': 'form'
                                            }
                                        }) }}
                                        <div class="input-group">

                                            {{ form_widget(formSearch.matricule,{
                                                'attr' : {
                                                    'class':'input-sm form-control',
                                                    'placeholder': 'Matricule/nom/prénom/tel ou e-mail'
                                                }
                                            }) }}

                                            <span class="input-group-btn">
                                                <button type="submit" class="btn btn-sm btn-primary"> Recherche</button>
                                            </span>
                                        </div>
                                        {{ form_end(formSearch) }}
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-striped toggle-arrow-tiny">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nom Prénom </th>
                                            <th>Paramètres de cotisation? </th>
                                            <th>Dates d'embauches</th>
                                            <th>En service ?</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% for user in users %}
                                            <tr {% if user.enfonction == 0 %}class="text-danger"{% endif %}>
                                                <td>
                                                    <div class="btn-group">
                                                        <button data-toggle="dropdown" class="btn btn-primary btn-sm dropdown-toggle">Actions<span class="caret"></span></button>
                                                        <ul class="dropdown-menu">
                                                            {# Vérification avant d'afficher les liens (si les parametres ne sont pas enregistrés pour l''agent donc on n'affiche pas les deux liens #}
                                                            {% for parametresdecotisation in parametresdecotisation if parametresdecotisation.user.id == user.id %}
                                                                <li>
                                                                    <a href="{{ path('bds_cotisation_new', {id: user.id, pg_prcdnt: 'bds_agents'}) }}">
                                                                        <span class="fa fa-plus"></span> Une cotisation</a>
                                                                </li>

                                                                <li><a href="{{ path('bds_cotisation_new_plusieurscotisations',{id: user.id, pg_prcdnt: 'bds_agents'}) }}">
                                                                        <span class="fa fa-plus"></span> Plusieurs cotisations</a>
                                                                </li>
                                                            {% endfor %}

                                                            {#
                                                            <li><a href="#">Something else here</a></li>
                                                            #}
                                                            <li class="divider"></li>
                                                            {% for parametresdecotisation in parametresdecotisation if parametresdecotisation.user.id == user.id %}
                                                                <li class="text-navy"><a><span class="fa fa-check text-navy"></span> Params. enregistrés</a></li>
                                                            {% else %}
                                                                {% set posteUsers = user.getPosteUsers() %}
                                                                {% for posteUser in posteUsers if posteUser.poste is defined and 'Titularisation' in posteUser.nomEvenement %}
                                                                    <li><a href="{{ path('bds_parametresdecotisation_new', {agent: user.id}) }}"><span class="fa fa-plus"></span> Params. de cotisation</a></li>
                                                                {% else %}
                                                                    <li><a class="text-danger"><span class="fa fa-warning"></span>Titularisation</a></li>
                                                                {% endfor %}
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </td>
                                                <td  data-toggle="true"><i class="fa fa-angle-right"></i>
                                                    {{ user.matricule }} - {{ user.nomPrenom }}
                                                    {% for parametresdecotisation in parametresdecotisation if parametresdecotisation.user.id == user.id %}
                                                        <div>
                                                            <a href="{{ path('bds_cotisation_showagentcotisation', {id: user.id}) }}">
                                                                <span class="fa fa-eye"></span> Détails
                                                            </a>
                                                        </div>
                                                    {% else %}
                                                        <div>
                                                            <span class="fa fa-eye-slash text-danger">Détails indisponibles</span>
                                                        </div>
                                                    {% endfor %}
                                                </td>
                                                <td>
                                                    {% for parametresdecotisation in parametresdecotisation if parametresdecotisation.user.id == user.id %}
                                                        <span class="fa fa-check text-navy"></span>
                                                        Par defaut : {{ parametresdecotisation.cotisationpardefaut }}<br/>
                                                        | Appliquée : {{ parametresdecotisation.cotisationappliquee }}<br/>
                                                        {% if parametresdecotisation.salairedebase %}
                                                            {{ parametresdecotisation.salairedebase }}
                                                        {% else %}
                                                            <span class="text-danger">| Sal. de base non-renseigné</span>
                                                        {% endif %}
                                                        <a href="{{ path('bds_parametresdecotisation_edit', {id:parametresdecotisation.id, pg_prcdnt:'bds_agents'}) }}">
                                                            <span class="fa fa-edit text-warning pull-right"></span>
                                                        </a>
                                                    {% else %}
                                                        {% set posteUsers = user.getPosteUsers() %}
                                                        {% for posteUser in posteUsers if posteUser.poste is defined and 'Titularisation' in posteUser.nomEvenement %}
                                                            <a href="{{ path('bds_parametresdecotisation_new', {agent: user.id}) }}">
                                                            <span class="fa fa-plus text-primary"></span> Ajouter les params.
                                                            </a>
                                                            {% else %}
                                                                <div class="text-danger"><span class="fa fa-warning"></span>Titularisation</div>
                                                            <span class="text-danger">Veuillez enregistrer d'abord sa titularisation</span>
                                                        {% endfor %}
                                                    {% endfor %}
                                                </td>
                                                <td>

                                                    <small class="text-navy">
                                                        {% set posteUsers = user.getPosteUsers() %}
                                                        {% for posteUser in posteUsers %}
                                                            {% if posteUser.poste is defined and posteUser.nomEvenement != 'Nomination'
                                                            and posteUser.nomEvenement != 'Affectation'
                                                            and posteUser.nomEvenement != 'Demisedefonction'
                                                            and posteUser.nomEvenement != 'Reintegration'
                                                            and posteUser.nomEvenement != 'Renouvellementdecontrat'
                                                            and posteUser.nomEvenement != 'Reprisedefonction'
                                                            and posteUser.nomEvenement != 'Promotioninterne' %}

                                                                [{{ posteUser.nomEvenement }}] le, [{{ posteUser.dateEvenementAt | date ('d/m/Y')}}] <br/>

                                                            {% elseif posteUser.Poste.designation == 'Aucun' %}
                                                                <i class="fa fa-warning text-danger"></i>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </small>

                                                </td>
                                                <td>
                                                    {% if user.enfonction == 1 %}
                                                        <span class="text-uppercase text-success"><b>oui</b></span>
                                                    {% else %}
                                                        <span class="text-uppercase text-danger"><b>non</b></span> [{{ user.enfonctionData |split(',')|last }}]

                                                        {#
                                                         {% set test = user.enfonctionData | replace({(',' ~  user.enfonctionData | split(',')[ user.enfonctionData | split(',')|length - 1]): ""}) %}
                                                         {{ test }}
                                                         #}

                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                            <div class="pagination">
                                {{ knp_pagination_render(users) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/plugins/footable/footable.all.min.js') }}"></script>
    <script>
        $(document).ready(function() {

            $('.footable').footable();
            $('.footable2').footable();

        });

    </script>

{% endblock javascripts %}

