{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Choisir agent {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Morris --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css') }}">
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}
            <div class="wrapper wrapper-content">
                <div class="row animated fadeIn">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h3><i class="fa fa-info-circle"></i> Choisir l'agent concerné </h3>
                            </div>
                            <div class="ibox-content">
                                <div class="row">

                                    <a href="{{ path('cotisationbds_index') }}">
                                        <label class="btn btn-info">
                                            <i class="fa fa-arrow-left"></i>  Retour
                                        </label>
                                    </a>

                                    <div class="col-sm-5 pull-right">
                                        {{ form_start(formSearch, {
                                            'attr': {
                                                'class': 'form-horizontal',
                                                'role': 'form'
                                            }
                                        }) }}
                                        <div class="input-group">

                                            {{ form_widget(formSearch.matricule,{
                                                'attr' : {
                                                    'class':'input-sm form-control',
                                                    'placeholder': 'Matricule/nom/prénom/tel ou e-mail'
                                                }
                                            }) }}

                                            <span class="input-group-btn">
                                                <button type="submit" class="btn btn-sm btn-primary"> Recherche</button>
                                            </span>
                                        </div>
                                        {{ form_end(formSearch) }}
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-striped toggle-arrow-tiny">
                                        <thead>
                                        <tr>

                                            <th>Nom Prénom </th>
                                            <th>Dernier poste</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for user in users %}
                                            <tr>
                                                <td  data-toggle="true"><i class="fa fa-angle-right"></i>
                                                    {{ user.matricule }} - {{ user.nomPrenom }}
                                                </td>

                                                <td><small class="text-navy">
                                                        {% set posteUsers = user.getPosteUsers() %}
                                                        {% for posteUser in posteUsers %}
                                                            {% if posteUser.poste is defined %}
                                                                {% if loop.last %}
                                                                    ({{ posteUser.poste  }})
                                                                {% endif %}
                                                            {% elseif posteUser.Poste.designation == 'Aucun' %}
                                                                <i class="fa fa-warning text-danger"></i>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </small>
                                                </td>
                                                <td>

                                                    <a href="{{ path('cotisationbds_new', {id: user.id, pg_prcdnt: 'cotisationbds_index'}) }}" >
                                                        <label class="btn btn-xs btn-danger">
                                                            Choisir <i class="fa fa-arrow-right"></i>
                                                        </label>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                            <div class="pagination">
                                {{ knp_pagination_render(users) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/plugins/footable/footable.all.min.js') }}"></script>
    <script>
        $(document).ready(function() {

            $('.footable').footable();
            $('.footable2').footable();

        });

    </script>

{% endblock javascripts %}

