{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Accueil BDS {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css') }}">
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}

            <div class="wrapper wrapper-content">
                <div class="row">
                    {# Messages Falsh #}
                    {% for message in app.flashes('success') %}
                        <div class="col-lg-12">
                            <div class="alert alert-success alert-dismissable ">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                {{ message }}
                            </div>
                        </div>
                    {% endfor %}

                </div>
                <div class="row">

                    {# VERIFICATION DU STATUT DE LA PERSONNE CONNECTEE #}
                    {% if app.user %}
                        {# ================== menu_gauche ==================== #}
                        <div class="col-lg-3">
                            <div class="ibox float-e-margins" style="padding-top: 10px;">
                                <a href="{{ path('moncompte_administration') }}" class="btn btn-success btn-block"><i class="fa fa-arrow-left"></i> Mon Admin</a>
                                <div class="ibox-content panelpanel-danger ">
                                    <div class="file-manager">
                                        {% if 'ROLE_SUPER_ADMIN' in roles %}
                                            <h5 class="badge badge-danger block">Super Admin</h5>
                                        {% elseif 'ROLE_ADMIN_GCAR' in roles %}
                                            <h5 class="badge badge-danger block">Admin gCar</h5>
                                        {% elseif 'ROLE_ADMIN_GSENERG' in roles %}
                                            <h5 class="badge badge-danger block">Admin gS-Energ</h5>
                                        {% elseif 'ROLE_ADMIN_GBDS' in roles %}
                                            <h5 class="badge badge-danger block">Admin gBds</h5>
                                        {% else %}
                                            <h5 class="badge badge-info">À voir aussi</h5>
                                        {% endif %}
                                        <ul class="folder-list" style="padding: 0">
                                            <li><a href="{{ path('bds_agents') }}"><span class="fa fa-user"></span><i class="fa fa-ig"></i> <b>Agents</b></a></li>
                                            <li><a href="{{ path('bds_cotisation_index') }}"><span class="fa fa-list-alt"></span><i class="fa fa-ig"></i> <b>Cotisations</b></a></li>
                                            <li><a href=""><span class="fa fa-eye"></span><i class="fa fa-ig"></i> Les demandes de prêts</a></li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>

                            {# MENU PERSO #}
                            {#
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Menu perso</h5>
                                </div>
                                <div class="ibox-content">
                                    <div id='external-events'>
                                        <button type="button" class="btn btn-block btn-outline btn-primary no-margins">
                                            Mes tâches
                                        </button>
                                        <button type="button" class="btn btn-block btn-outline btn-primary">Mes fichiers</button>
                                        <button type="button" class="btn btn-block btn-outline btn-primary">Rédiger un rapport</button>
                                    </div>
                                </div>
                            </div>
                            #}
                        </div>

                        {# ================== Fin menu_gauche ==================== #}
                    {% endif %}


                    {# ============================= INFO  ==================================== #}
                    {% if app.user %}
                        <div class="col-lg-9">
                            <div class="widget-head-color-box navy-bg p-lg text-center">
                                <div class="m-b-md">

                                    <h2 class="font-bold no-margins">
                                        Admin Bds Cotisations
                                    </h2>

                                </div>
                            </div>
                            <div class="widget-text-box">
                                <div>
                                    <div class="block">
                                        <a href="{{ path('bds_cotisation_showagentcotisation', {id: app.user.id}) }}" class="btn btn-xs btn-success text-right">
                                            <i class="fa fa-user-o"></i>
                                            Mes cotisations
                                        </a>
                                        <a href="" class="btn btn-xs btn-warning text-right">
                                            <i class="fa fa-plus"></i>
                                            Cotisations mensuelles
                                        </a>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <ul class="list-unstyled">
                                    <li>
                                        Bienvenue {{ app.user.getNomprenom() }}<br/>
                                        Vous êtes un <span class="text-danger">administrateur</span>
                                    </li>
                                    <li>
                                    </li>
                                </ul>
                                <hr/>

                                <div>
                                    <div class="block">

                                        <a href="{{ path('bds_cotisation_showagentcotisation', {id: app.user.id}) }}" class="btn btn-xs btn-success text-right">
                                            <i class="fa fa-user-o"></i>
                                            Mes cotisations
                                        </a>
                                        {#
                                        <a href="{{ path('moncompte_edit_infos', {id: app.user.id, slug: app.user.slug}) }}" class="btn btn-xs btn-primary text-right">
                                            <i class="fa fa-edit"></i>
                                            Corriger
                                        </a>
                                        <a href="{{ path('message_new', {typeMessage: 'donnees'}) }}" class="btn btn-xs btn-success text-right">
                                            <i class="fa fa-envelope"></i>
                                            Alerter l'admin
                                        </a>
                                        #}
                                    </div>

                                    <span>
                            </span>
                                </div>

                            </div>
                        </div>
                    {% endif %}
                    {# ============================= INFO   ==================================== #}

                </div>

            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    {{ parent() }}
{% endblock javascripts %}

