{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}


    <div class="form-group hidden">
        <label for="exampleInputuname" class="col-sm-3 control-label"></label>
        <div class="col-sm-9">
            <div class="input-group">
                <div class="input-group-addon"><i class="ti-user"></i></div>
                {{ form_widget(form.username, {'attr': {'placeholder': 'Login', 'class':"form-control"}}) }}
        </div>
    </div>
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1" class="col-sm-3 control-label">Email</label>
        <div class="col-sm-9">
            <div class="input-group">
                <div class="input-group-addon"><i class="ti-email"></i></div>
                {{ form_widget(form.email, {'attr': {'placeholder': 'E-mail', 'class':"form-control"}}) }}
        </div>
    </div>
    </div>

    <div class="form-group">
        <label for="inputPassword3" class="col-sm-3 control-label">Mot de passe*</label>
        <div class="col-sm-9">
            <div class="input-group">
                <div class="input-group-addon"><i class="ti-lock"></i></div>
                {{ form_widget(form.current_password, {'attr': {'placeholder': 'Mot de passe', 'class':"form-control"}}) }}
            </div>
        </div>
    </div>


    <div class="form-group m-b-0">
        <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" value="{{ 'profile.edit.submit'|trans }}" class="btn btn-info waves-effect waves-light m-t-10">Valider</button>
        </div>
    </div>

{{ form_end(form) }}
