{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} {% endblock %}

    {% block stylesheets %}
        {{ parent() }}
    {% endblock %}

    {% block preloadder %}{{ parent() }}{% endblock %}

    {% block topbarheader %}
        {{ parent() }}
    {% endblock %}

    {% block leftsidebar %}
        {{ parent() }}
    {% endblock %}

    {% block breadcrumb %}
        {{ parent() }}
    {% endblock %}

    {% block body %}


        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading"> Modifications des informations basiques de connexion</div>
                    <div class="panel-wrapper collapse in" aria-expanded="true">
                        <div class="panel-body">
                            {% block fos_user_content %}
                                {% include "@FOSUser/Profile/edit_content.html.twig" %}
                            {% endblock fos_user_content %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}

    {% block footer %} {{ parent() }} {% endblock %}

    {% block javascript %}
        {# ============================================================== #}
        {# All Jquery #}
        {# ============================================================== #}


        {# jQuery #}
        <script type="text/javascript" src="{{ asset('dashboard/plugins/bower_components/jquery/dist/jquery.min.js') }}"></script>
        {# Bootstrap Core JavaScript #}
        <script type="text/javascript" src="{{ asset('dashboard/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        {# Menu Plugin JavaScript #}
        <script type="text/javascript" src="{{ asset('dashboard/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js') }}"></script>
        {#slimscroll JavaScript #}
        <script type="text/javascript" src="{{ asset('dashboard/js/jquery.slimscroll.js') }}"></script>
        {#Wave Effects #}
        <script type="text/javascript" src="{{ asset('dashboard/js/waves.js') }}"></script>
        {# Custom Theme JavaScript #}
        <script type="text/javascript" src="{{ asset('dashboard/js/custom.min.js') }}"></script>
        {#Style Switcher #}
        <script type="text/javascript" src="{{ asset('dashboard/jplugins/bower_components/styleswitcher/jQuery.style.switcher.js') }}"></script>
    {% endblock %}
