{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <div class="col-md-3 col-xs-6 b-r"> <strong>{{ 'profile.show.username'|trans }}</strong>
        <br>
        <p class="text-muted">{{ user.username }}</p>
    </div>
    <div class="col-md-3 col-xs-6 b-r"> <strong>{{ 'profile.show.email'|trans }}</strong>
        <br>
        <p class="text-muted">{{ user.email }}</p>
    </div>
</div>
