{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} {% endblock %}

    {% block stylesheets %}
        {{ parent() }}
    {% endblock %}

    {% block preloadder %}{{ parent() }}{% endblock %}

    {% block topbarheader %}
        {{ parent() }}
    {% endblock %}

    {% block leftsidebar %}
        {{ parent() }}
    {% endblock %}

    {% block breadcrumb %}
        {{ parent() }}
    {% endblock %}

    {% block body %}

        <div class="row">
            <div class="col-md-3 col-xs-12">
                <div class="white-box">
                    <div class="user-bg"> <img width="100%" alt="user" src="{{ asset('dashboard/plugins/images/large/img1.jpg') }}">
                        <div class="overlay-box">
                            <div class="user-content">
                                <a href="javascript:void(0)">
                                    {% if app.user.image and not null %}
                                        <img src="{{ asset('uploads/images/users/' ~ app.user.image) }}" alt="user-img" class="thumb-lg img-circle" />
                                    {% else %}
                                        <img src="{{ asset('uploads/images/users/no_image.jpg') }}" alt="user-img" class="thumb-lg img-circle" />
                                    {% endif %}
                                </a>
                                <h4 class="text-white">{{ user.username }}</h4>
                                <h5 class="text-white">{{ user.email }}</h5> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-xs-12">
                <div class="white-box">
                    <ul class="nav nav-tabs tabs customtab">
                        <li class="active tab">
                            <a href="#home" data-toggle="tab"> <span class="visible-xs"><i class="fa fa-home"></i></span> <span class="hidden-xs">Mes informations</span> </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="home">
                            <div class="row">

                                {% block fos_user_content %}
                                    {% include "@FOSUser/Profile/show_content.html.twig" %}
                                {% endblock fos_user_content %}
                                {#
                                {% if user %}
                                <div class="col-md-3 col-xs-6 b-r"> <strong>Matricule</strong>
                                    <br>
                                    <p class="text-muted">{{ user.infoUser.originalNumber }}</p>
                                </div>
                                <div class="col-md-3 col-xs-6"> <strong>nin</strong>
                                    <br>
                                    <p class="text-muted">{{ user.infoUser.nin }}</p>
                                </div>
                            </div>
                            <hr>
                            <h4 class="font-bold m-t-30">{{ user.infoUser.firstnameLastname }}</h4>
                            <hr>
                            <h5>Date de naissance <span class="pull-right">{{ user.infoUser.birthdayDateAt | date('d/m/Y') }}</span></h5>
                            <h5>Lieu de naissance <span class="pull-right">{{ user.infoUser.birthPlace }}</span></h5>
                            <h5>Status marital <span class="pull-right">{{ user.infoUser.maritalStatus }}</span></h5>
                            <h5>Date de recrutement <span class="pull-right">{{ user.infoUser.recruDateAt | date('d/m/Y') }}</span></h5>

                            <h5>Date d'enregistrement <span class="pull-right">{{ user.infoUser.enregDateAt | date('d/m/Y') }}</span></h5>

                            <h5>Date d'affiliation <span class="pull-right">{{ user.infoUser.affiliationDateAt | date('d/m/Y') }}</span></h5>
                            <h5>Situation <span class="pull-right">{{ user.infoUser.situation }}</span></h5>
                            <h5>Statut <span class="pull-right">{{ user.infoUser.status }}</span></h5>
                            <h5>Sexe <span class="pull-right">{{ user.infoUser.sex }}</span></h5>
                            <h5>Code direction <span class="pull-right">{{ user.infoUser.codeDir }}</span></h5>
                            <h5>Code service <span class="pull-right">{{ user.infoUser.codeServ }}</span></h5>
                            <h5>Société <span class="pull-right">{{ user.infoUser.society }}</span></h5>
                            <h5>Fonction <span class="pull-right">{{ user.infoUser.function }}</span></h5>
                        {% endif %}
                                #}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}

    {% block footer %} {{ parent() }} {% endblock %}

    {% block javascript %}
        {# ============================================================== #}
        {# All Jquery #}
        {# ============================================================== #}


        {# jQuery #}
        <script type="text/javascript" src="{{ asset('dashboard/plugins/bower_components/jquery/dist/jquery.min.js') }}"></script>
        {# Bootstrap Core JavaScript #}
        <script type="text/javascript" src="{{ asset('dashboard/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        {# Menu Plugin JavaScript #}
        <script type="text/javascript" src="{{ asset('dashboard/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js') }}"></script>
        {#slimscroll JavaScript #}
        <script type="text/javascript" src="{{ asset('dashboard/js/jquery.slimscroll.js') }}"></script>
        {#Wave Effects #}
        <script type="text/javascript" src="{{ asset('dashboard/js/waves.js') }}"></script>
        {# Custom Theme JavaScript #}
        <script type="text/javascript" src="{{ asset('dashboard/js/custom.min.js') }}"></script>
        {#Style Switcher #}
        <script type="text/javascript" src="{{ asset('dashboard/jplugins/bower_components/styleswitcher/jQuery.style.switcher.js') }}"></script>
    {% endblock %}
