{% trans_default_domain 'FOSUserBundle' %}

<div class="col-md-4">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5><i class="fa fa-user-circle-o"></i> Mes données de connexion</h5>
        </div>

        <div class="ibox-content">
            <div>
                <h4><strong>{% if app.user %}{{ app.user.nomPrenom }} {% else %} <i class="text-danger">Nom et prénom non défini </i> {% endif %}</strong></h4>
                <strong>Identifiant de connexion :</strong> {{ app.user.username }}
                <p>
                    <strong><i class="fa fa-at"></i> {{ 'profile.show.email'|trans }} :</strong> {{ app.user.email }}
                </p>
                <h5> Autres infos </h5>
                <p>
                    <i class="fa fa-certificate"></i> Première connexion le {{  app.user.firstLogin | localizeddate('long', 'short') }}
                    <br>
                    <i class="fa fa-certificate"></i> Dernière connexion le {{ app.user.lastLogin | localizeddate('long', 'short') }}
                </p>
            </div>
        </div>
    </div>
</div>