{%  extends 'base.html.twig' %}

{% form_theme formCategorieConge 'bootstrap_4_layout.html.twig' %}

{% block title %} {{ parent() }} {% if editMode %}Modification{% else %}Création{% endif %} catégorie {% endblock title %}

{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}

{% block leftmenu %}
    {{ parent() }}
{% endblock leftmenu %}

{% block topmenu %}
    {{ parent() }}
{% endblock topmenu %}

{% block body %}
    {% block fildariane %}
        {{ include('_generals_includes/_fildariane.html.twig') }}
    {% endblock fildariane %}

    <div class="wrapper wrapper-content">
        <div class="row">
            {# Messages Falsh #}
            {% for message in app.flashes('success') %}
                <div class="col-lg-12">
                    <div class="alert alert-success alert-dismissable ">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                        {{ message }}
                    </div>
                </div>
            {% endfor %}

        </div>
        <div class="row">
            {# ================== menu_gauche ==================== #}
            {{ include('personnel/includes/_menu_gauche.html.twig') }}
            {# ================== Fin menu_gauche ==================== #}

            {# ============================= Contenu  ==================================== #}
            <div class="col-lg-9">
                <div class="widget-head-color-box navy-bg p-lg text-center">
                    <div class="m-b-md">
                        {% if editMode %}
                            <h2 class="font-bold no-margins">Modification d'une catégorie de congé</h2>
                        {% else %}
                            <h2 class="font-bold no-margins">Création d'une catégorie de congé</h2>
                        {% endif %}
                    </div>
                </div>
                <div class="widget-text-box">
                    {{ form_start(formCategorieConge) }}

                    <div class="form-group {% if form_errors(formCategorieConge.titre) %}has-error{% endif %}" style="padding-left: 0px;">
                        <label>Titre : </label>
                        {{ form_widget(formCategorieConge.titre, {
                            'attr': {
                                'class': 'form-control',
                                'placeholder': "Titre de la catégorie de congé"
                                }
                        }) }}
                    </div>
                    {#{{ form_row(formCategorieConge.enabled) }}#}

                    <button type="submit" class="btn btn-primary">
                        {% if editMode %}
                            <i class="fa fa-save"></i> Enregister les modifications
                        {% else %}
                            <i class="fa fa-plus"></i> Ajouter la catégorie
                        {% endif %}
                    </button>

                    <button type="submit" class="btn btn-cancel">
                        <a href="{{ path('categories_show') }}"><i class="fa fa-arrow-left"></i> Annuler</a>
                    </button>

                    {{ form_end(formCategorieConge) }}
                </div>
            </div>
            {# ============================= Fin Contenu   ==================================== #}
        </div>
    </div>

{% endblock body %}

{% block footer %}
    {{ parent() }}
{% endblock footer %}

{% block javascripts %}
    {{ parent() }}
{% endblock javascripts %}
