<form method="post" action="{{ path('category_conge_delete', {'id': categorieConge.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette catégorie?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorieConge.id) }}">
    {#<button class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> {% if app.request.attributes.get('_route') == 'category_conge_show' %}Supprimer {% endif %}</button>#}
    <button class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Supprimer </button>
</form>