{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Affichage catégorie {% endblock title %}

{% block stylesheets %}{{ parent() }}{% endblock stylesheets %}

{% block leftmenu %}{{ parent() }}{% endblock leftmenu %}

{% block topmenu %}{{ parent() }}{% endblock topmenu %}

{% block body %}
    {% block fildariane %}
        {{ include('_generals_includes/_fildariane.html.twig') }}
    {% endblock fildariane %}

    <div class="wrapper wrapper-content">
        <div class="row">
            {# Messages Falsh #}
            {% for message in app.flashes('success') %}
                <div class="col-lg-12">
                    <div class="alert alert-success alert-dismissable ">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                        {{ message }}
                    </div>
                </div>
            {% endfor %}

        </div>
        <div class="row">
            {# ================== menu_gauche ==================== #}
            {{ include('personnel/includes/_menu_gauche.html.twig') }}
            {# ================== Fin menu_gauche ==================== #}

            {# ============================= Contenu  ==================================== #}
            <div class="col-lg-9">
                <div class="widget-head-color-box navy-bg p-lg text-center">
                    <div class="m-b-md">
                        <h2 class="font-bold no-margins">Affichage de la catégorie : {{ categorieConge.titre }}</h2>
                    </div>
                </div>
                <div class="widget-text-box">
                    <table class="table table-striped table-bordered table-hover dataTables-example" >
                        <thead>
                            <tr>
                                <th>Titre</th>
                                <th>Date</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ categorieConge.titre }}</td>
                                <td>{{ categorieConge.createdAt | date('d/m/Y') }} à {{ categorieConge.createdAt | date('H:i') }}</td>
                                <td>
                                    <a href="{{ path('category_conge_edit', {'id': categorieConge.id}) }}" class="btn btn-xs btn-warning text-right pull-left"style="margin-right: 10px;">
                                        <i class="fa fa-edit"></i> Editer
                                    </a>
                                    <span class="pull-left" style="margin-left: 0px;">
                                        {{ include('personnel/categorie_conge/delete.html.twig') }}
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="hr-line-dashed"></div>
                        <a href="{{ path('categories_show') }}"><i class="fa fa-arrow-left"></i> Retour à la liste des catégories</a>
                    <div class="hr-line-dashed"></div>
                </div>
            </div>
            {# ============================= Fin Contenu   ==================================== #}
        </div>
    </div>
{% endblock body %}

{% block footer %}
    {{ parent() }}
{% endblock footer %}

{% block javascripts %}
    {{ parent() }}
{% endblock javascripts %}