<form method="post" action="{{ path('msg_conge_delete', {'id': msgAccueilConge.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce message?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ msgAccueilConge.id) }}">
    <button class="btn btn-danger btn-xs"><i class="fa fa-trash"></i>
        {% if app.request.attributes.get('_route') != ('messages_accueil_conge') %}Supprimer message {% endif %}
    </button>
</form>