{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Liste des messages {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/plugins/dataTables/datatables.min.css') }}" />
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

    {% block topmenu %}
        {{ parent() }}
    {% endblock topmenu %}

    {% block body %}
        {% block fildariane %}
            {{ include('_generals_includes/_fildariane.html.twig') }}
        {% endblock fildariane %}

        <div class="wrapper wrapper-content">
            <div class="row">
                {# Messages Falsh #}
                {% for message in app.flashes('success') %}
                    <div class="col-lg-12">
                        <div class="alert alert-success alert-dismissable ">
                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}

            </div>
            <div class="row">
                {# ================== menu_gauche ==================== #}
                {{ include('personnel/includes/_menu_gauche.html.twig') }}
                {# ================== Fin menu_gauche ==================== #}

                {# ============================= Contenu  ==================================== #}
                <div class="col-lg-9">
                    <div class="widget-head-color-box navy-bg p-lg text-center">
                        <div class="m-b-md">
                            <h2 class="font-bold no-margins">Affichage de la liste des messages</h2>
                        </div>
                    </div>
                    <div class="widget-text-box">
                        <table class="table table-striped table-bordered table-hover dataTables-example" >
                            <thead>
                            <tr>
                                <th>Description</th>
                                <th>Auteur</th>
                                <th>Date</th>
                                <th>Activé?</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for msgAccueilConge in msgs %}
                                <tr>
                                    <td>{{ msgAccueilConge.description }}</td>
                                    <td>{{ msgAccueilConge.auteur }}</td>
                                    <td>{{ msgAccueilConge.createdAt | date('d/m/Y') }} à {{ msgAccueilConge.createdAt | date('H:i') }}</td>
                                    <td>{% if msgAccueilConge.enabled %}<i class="fa fa-check text-navy"></i> <span class="text-navy">Oui</span>{% else %}<i class="fa fa-times"></i> Non{% endif %}</td>
                                    <td>
                                        <a href="{{ path('msg_conge_edit', {'id': msgAccueilConge.id}) }}" class="btn btn-xs btn-warning text-right pull-left"style="margin-right: 10px;">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <span class="pull-left" style="margin-left: 0px;">
                                            {{ include('personnel/msg_accueil_conge/delete.html.twig') }}
                                        </span>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="4">Aucun message!</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <a href="{{ path('msg_conge_create') }}" class="btn btn-xs btn-primary text-right pull-left"style="margin-right: 10px;">
                                <i class="fa fa-plus"></i> Ajouter un message
                            </a>
                            </tfoot>
                        </table>
                    </div>

                </div>
                {# ============================= Fin Contenu   ==================================== #}
            </div>
        </div>

    {% endblock body %}

    {% block footer %}
        {{ parent() }}
    {% endblock footer %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/plugins/dataTables/datatables.min.js') }}"></script>

    <script>
        $(document).ready(function(){
            $('.dataTables-example').DataTable({
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    {extend: 'copy', title: 'Messages-accueil'},
                    {extend: 'csv', title: 'Messages-accueil'},
                    {extend: 'excel', title: 'Messages-accueil'},
                    {extend: 'pdf', title: 'Messages-accueil'},

                    {extend: 'print',
                        customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]
            });

            /* Init DataTables */
            var oTable = $('#editable').DataTable();

            /* Apply the jEditable handlers to the table */
            oTable.$('td').editable( '../example_ajax.php', {
                "callback": function( sValue, y ) {
                    var aPos = oTable.fnGetPosition( this );
                    oTable.fnUpdate( sValue, aPos[0], aPos[1] );
                },
                "submitdata": function ( value, settings ) {
                    return {
                        "row_id": this.parentNode.getAttribute('id'),
                        "column": oTable.fnGetPosition( this )[2]
                    };
                },

                "width": "90%",
                "height": "100%"
            } );
        });
    </script>
{% endblock javascripts %}