{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Affichage message {% endblock title %}

{% block stylesheets %}{{ parent() }}{% endblock stylesheets %}

{% block leftmenu %}{{ parent() }}{% endblock leftmenu %}

{% block topmenu %}{{ parent() }}{% endblock topmenu %}

{% block body %}
    {% block fildariane %}
        {{ include('_generals_includes/_fildariane.html.twig') }}
    {% endblock fildariane %}

    <div class="wrapper wrapper-content">
        <div class="row">
            {# Messages Falsh #}
            {% for message in app.flashes('success') %}
                <div class="col-lg-12">
                    <div class="alert alert-success alert-dismissable ">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                        {{ message }}
                    </div>
                </div>
            {% endfor %}

        </div>
        <div class="row">
            {# ================== menu_gauche ==================== #}
            {{ include('personnel/includes/_menu_gauche.html.twig') }}
            {# ================== Fin menu_gauche ==================== #}

            {# ============================= Contenu  ==================================== #}
            <div class="col-lg-9">
                <div class="widget-head-color-box navy-bg p-lg text-center">
                    <div class="m-b-md">
                        <h2 class="font-bold no-margins">Affichage du message : #{{ msgAccueilConge.id }}</h2>
                    </div>
                </div>

                <div class="ibox-content">
                    <form method="get" class="form-horizontal">
                        <div class="form-group"><label class="col-sm-2 control-label">Description</label>
                            <div class="col-sm-10"><input type="text" value="{{ msgAccueilConge.description }}" class="form-control"></div>
                        </div>

                        <div class="form-group"><label class="col-sm-2 control-label">Auteur</label>
                            <div class="col-sm-10"><input type="text" value="{{ msgAccueilConge.auteur}}" class="form-control"></div>
                        </div>

                        <div class="form-group"><label class="col-sm-2 control-label">Date</label>
                            <div class="col-sm-10"><input type="text" value="{{ msgAccueilConge.createdAt | date('d/m/Y') }} à {{ msgAccueilConge.createdAt | date('H:i') }}" class="form-control"></div>
                        </div>

                        <div class="form-group"><label class="col-sm-2 control-label">Activé?</label>
                            <div class="col-sm-10">{% if msgAccueilConge.enabled %}Oui{% else %}Non{% endif %}</div>
                        </div>

                        <div class="form-group"><label class="col-sm-2 control-label">Action</label>
                            <div class="col-lg-10 m-l-n">
                                <a href="{{ path('msg_conge_create') }}" class="btn btn-xs btn-primary text-right pull-left"style="margin-right: 10px;">
                                    <i class="fa fa-plus"></i> Ajouter un message
                                </a>

                                <a href="{{ path('msg_conge_edit', {'id': msgAccueilConge.id}) }}" class="btn btn-xs btn-warning text-right pull-left"style="margin-right: 10px;">
                                    <i class="fa fa-edit"></i> Editer le message
                                </a>
                                <a href="{{ path('messages_accueil_conge') }}"><i class="fa fa-arrow-left"></i> Retour à la liste des messages</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {# ============================= Fin Contenu   ==================================== #}
        </div>
    </div>
{% endblock body %}

{% block footer %}
    {{ parent() }}
{% endblock footer %}

{% block javascripts %}
    {{ parent() }}
{% endblock javascripts %}