{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Editer {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Morris --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css') }}">
        <link rel="stylesheet" href="{{ asset('css/plugins/select2/select2.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/plugins/chosen/bootstrap-chosen.css') }}">

    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}

            <div class="wrapper wrapper-content animated fadeInRight">

                <div class="row">

                    <div class="col-lg-12">

                        <div class="ibox">
                            <div class="ibox-content">
                                <h3>Editer une retraite pour {{ ev_retraite.user.nom }} {{ ev_retraite.user.prenom }}</h3>

                                <p class="small">
                                    Modifier un evenement "Retraite".
                                </p>
                                {{ form_start(form) }}

                                <div class="form-group col-sm-6 {% if form_errors(form.reference) %}has-error{% endif %}" style="padding-left: 0px;">
                                    <label>Reference de la note  </label>
                                    {{ form_widget(form.reference, {
                                        'attr': {
                                            'class': 'form-control'
                                        }
                                    }) }}
                                </div>
                                <div class="form-group col-sm-6 {% if form_errors(form.dateRetraiteAt) %}has-error{% endif %}" style="padding-right: 0px;">
                                    <label>Date de retraite </label>
                                    {{ form_widget(form.dateRetraiteAt, {
                                        'attr': {
                                            'class': 'form-control'
                                        }
                                    }) }}
                                </div>

                                <div class="form-group {% if form_errors(form.poste) %}has-error{% endif %}">
                                    <label>Poste actuel  </label>
                                    {{ form_widget(form.poste) }}
                                </div>
                                <div class="form-group">
                                    <label>Service / Département / Direction - Actuel</label>
                                    {{ form_widget(form.serviceDepartementDirection) }}
                                </div>

                                {{ form_widget(form) }}
                                <input class="btn btn-primary" type="submit" value="Enregistrer" />

                                {{ form_end(form) }}

                                <div class="hr-line-dashed"></div>
                                {% if is_granted('ROLE_ADMIN_GCAR') %}
                                    <a href="{{ path('evenements_retraite_index') }}">Retour à la liste</a>
                                {% endif %}
                            </div>
                        </div>

                    </div>



                </div>

            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}

    <script type="text/javascript" src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/inspinia.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/pace/pace.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/touchspin/jquery.bootstrap-touchspin.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/chosen/chosen.jquery.js') }}"></script>



{% endblock javascripts %}

