{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Correction {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Morris --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css') }}">
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}
            <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-title">
                                <h5>Editer <small> Les éléments personnels</small></h5>

                            </div>
                            <div class="ibox-content">

                                {{ form_start(form, {
                                    'attr': {
                                        'class': 'form-horizontal',
                                        'role': 'form'
                                    }
                                }) }}

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Email</label>
                                    <div class="col-sm-8">
                                        {{ form_widget(form.email, {
                                            'attr' : {
                                                'class':'form-control',
                                                'placeholder':'Email'
                                            }
                                        }) }}
                                        <span class="help-block">Exemple : <i>email@domaine.km</i></span>
                                    </div>

                                    <div class="col-sm-2">
                                        {{ form_widget(form.imageFile, {
                                            'attr' : {
                                                'class':'form-control',
                                            }
                                        }) }}
                                    </div>
                                </div>
                                {# Champs email_canonical hidden #}
                                <div class="form-group">
                                    <div class="col-sm-10">
                                        {{ form_widget(form.emailCanonical, {
                                            'attr' : {
                                                'class':'form-control hidden',
                                                'placeholder':'Email'
                                            }
                                        }) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Adresse (Domicile)</label>
                                    <div class="col-sm-10">
                                        {{ form_widget(form.adresse,{
                                            'attr' : {
                                                'class':'form-control',
                                                'placeholder': 'Adresse Domicile'
                                            }
                                        }) }}
                                        <span class="help-block">Exemple : <i>Moroni, Petite coulée</i></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Téléphone</label>
                                    <div class="col-sm-10">
                                        {{ form_widget(form.tel,{
                                            'attr' : {
                                                'class':'form-control',
                                                'data-mask':'999 99 99',
                                                'placeholder': ''
                                            }
                                        }) }}
                                        {#<input type="text" class="form-control" data-mask="(999) 999-9999" placeholder="">#}
                                        <span class="help-block">Exemple : <i>333 99 99</i></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Lieu de naissance</label>
                                    <div class="col-sm-10">
                                        {{ form_widget(form.lieuDeNaissance, {
                                            'attr':{
                                                'class':'form-control',
                                                'placeholder': 'Lieu de naissance'
                                            }
                                        }) }}
                                        <span class="help-block">Exemple : <i>Maternité de Moroni</i></span>
                                    </div>
                                </div>

                                {# CHAMPS HIDDEN #}

                                {{ form_row(form.enabled, {
                                    'label': ' ',
                                    'attr' : {
                                        'class':'hidden',
                                    }
                                }) }}

                                {{ form_widget(form.salt, {
                                    'attr' : {
                                        'class':'hidden',
                                    }
                                }) }}

                                {{ form_widget(form.roles, {
                                    'attr' : {
                                        'class':'hidden',
                                    }
                                }) }}
                                {{ form_widget(form.matricule, {
                                    'attr' : {
                                        'class':'hidden',
                                    }
                                }) }}
                                {{ form_widget(form.username, {
                                    'attr' : {
                                        'class':'hidden',
                                    }
                                }) }}
                                {{ form_widget(form.nom, {
                                    'attr' : {
                                        'class':'hidden',
                                    }
                                }) }}
                                {{ form_widget(form.prenom, {
                                    'attr' : {
                                        'class':'hidden',
                                    }
                                }) }}
                                {{ form_widget(form.sexe, {
                                    'attr' : {
                                        'class':'hidden',
                                    }
                                }) }}
                                {{ form_widget(form.dateNaissanceAt, {
                                    'attr' : {
                                        'class':'hidden',
                                    }
                                }) }}
                                {{ form_widget(form.indiceGroupe, {
                                    'attr' : {
                                        'class':'hidden',
                                    }
                                }) }}
                                {{ form_widget(form.indiceCategorie, {
                                    'attr' : {
                                        'class':'hidden',
                                    }
                                }) }}
                                {{ form_widget(form.indiceEchelon, {
                                    'attr' : {
                                        'class':'hidden',
                                    }
                                }) }}
                                {{ form_widget(form.image, {
                                    'attr' : {
                                        'class':'hidden',
                                    }
                                }) }}
                                {{ form_widget(form.statut, {
                                    'attr' : {
                                        'class':'hidden',
                                    }
                                }) }}
                                {{ form_widget(form.categorie, {
                                    'attr' : {
                                        'class':'hidden',
                                    }
                                }) }}


                                {# FIN CHAMPS HIDDEN #}

                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"></label>
                                    <div class="col-sm-10">
                                        <button class="btn btn-w-m btn-primary">Valider</button>
                                    </div>
                                </div>

                                {{ form_end(form) }}
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    {{ parent() }}
    <!-- Input Mask-->
    <script type="text/javascript" src="{{ asset('js/plugins/jasny/jasny-bootstrap.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

    {# <!-- Custom and plugin javascript --> #}
    <script type="text/javascript" src="{{ asset('js/inspinia.js') }}"></script>


    {# <!-- Dynamic change form  --> #}
    <script type="text/javascript" src="{{ asset('js/axios.min.js') }}"></script>
    <script>
        function onClickBtnEnligne(event) {
            event.preventDefault();

            const url = this.href;
            const icone = this.querySelector('img');

            axios.get(url).then(function (response) {
                if(icone.classList.contains('circle-border-sm-online')) {
                    icone.classList.replace('circle-border-sm-online', 'circle-border-sm-offline');
                } else {
                    icone.classList.replace('circle-border-sm-offline', 'circle-border-sm-online');
                }
            }).catch(function (error) {
                if (error.response.status === 403) {
                    window.alert("Vous ne pouvez pas changer le statut si vous n'êtes pas connecté!")
                } else {
                    window.alert("une erreur s'est produite, réessayez plus tard!")
                }
            })
        }

        document.querySelectorAll('a.js-enligne').forEach(function (link) {
            link.addEventListener('click', onClickBtnEnligne);
        })
    </script>


{% endblock javascripts %}

