{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Profil {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css') }}">
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}

            <div class="wrapper wrapper-content">
                <div class="row">
                    {# Messages Falsh #}
                    {% for message in app.flashes('success') %}
                        <div class="col-lg-12">
                            <div class="alert alert-success alert-dismissable ">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                {{ message }}
                            </div>
                        </div>
                    {% endfor %}

                </div>
                <div class="row">

                    {# VERIFICATION DU STATUT DE LA PERSONNE CONNECTEE #}
                    {% if app.user %}
                        {# ================== menu_gauche ==================== #}
                        <div class="col-lg-3">
                            <div class="ibox float-e-margins" style="padding-top: 10px;">
                                <a href="{{ path('moncompte_index') }}" class="btn btn-primary btn-block"><i class="fa fa-arrow-left"></i> Mon profil</a>
                                <div class="ibox-content panelpanel-danger ">
                                    <div class="file-manager">
                                        {% if 'ROLE_SUPER_ADMIN' in roles %}
                                            <h5 class="badge badge-danger block">Super Admin</h5>
                                        {% elseif 'ROLE_ADMIN_GCAR' in roles %}
                                            <h5 class="badge badge-danger block">Admin gCar</h5>
                                        {% elseif 'ROLE_ADMIN' in roles %}
                                            <h5 class="badge badge-danger block">Admin</h5>
                                        {% elseif 'ROLE_ADMIN_GSENERG' in roles %}
                                            <h5 class="badge badge-danger block">Admin gS-Energ</h5>
                                        {% elseif 'ROLE_ADMIN_GBDS' in roles %}
                                            <h5 class="badge badge-danger block">Admin BDS</h5>
                                        {% elseif 'ROLE_ADMIN_GAFSOC' in roles %}
                                            <h5 class="badge badge-danger block">Admin AFSOC</h5>
                                        {% else %}
                                            <h5 class="badge badge-info block">À voir aussi</h5>
                                        {% endif %}
                                        <ul class="folder-list" style="padding: 0">
                                            <li><a href="{{ path('contacts_agents') }}"><i class="fa fa-eye"></i> Tous les agents (contact)</a></li>
                                            <li><a href="{{ path('contacts_agents_hors_fonction') }}"><i class="fa fa-eye"></i> Agents hors-service</a></li>

                                            {% if is_granted('ROLE_ADMIN_GCAR') %}
                                                <li class="font-bold"><a href="{{ path('fos_user_registration_register') }}"><i class="fa fa-plus-circle"></i> Agents</a></li>
                                                <li class="font-bold"><a href="{{ path('admin_ecoleuniversite_index') }}"><i class="fa fa-plus-circle"></i>Universités | Ecoles </a></li>
                                                <li class="font-bold"><a href="{{ path('admin.ct_gcar.indexServ') }}"><i class="fa fa-plus-circle"></i> Services <small>[Dépt | Dir]</small></a></li>
                                                <li class="font-bold"><a href="{{ path('departement_index') }}"><i class="fa fa-plus-circle"></i> Départements </a></li>
                                                <li class="font-bold"><a href="{{ path('direction_index') }}"><i class="fa fa-plus-circle"></i> Directions </a></li>
                                                <li class="font-bold"><a href="{{ path('agence_index') }}"><i class="fa fa-plus-circle"></i> Agences</a> </li>
                                                <li class="font-bold">
                                                    <a href="{{ path('admin_evenements') }}"><i class="fa fa-tasks"></i> Evénements
                                                        <span class="pull-right badge {% if nbr_event_invalide >0%}badge-danger{% else %}badge-primary{% endif %}">
                                                            {% if allow_to_see_notif == true %} {{ nbr_event_invalide }} {% endif %}
                                                        </span>
                                                    </a>
                                                </li>

                                            {% endif %}
                                            {% if is_granted('ROLE_ADMIN_GSENERG') %}
                                                <li   class="font-bold"><a href="{{ path('sites_energetiques_index') }}"><i class="fa fa-tasks"></i> Sites énergétiques</a> </li>
                                            {% endif %}
                                            {% if is_granted('ROLE_ADMIN_GBDS') %}
                                                <li   class="font-bold"><a href="{{ path('home_bds') }}"><i class="fa fa-tasks"></i> Banque de solidarité</a> </li>
                                            {% endif %}
                                            {% if is_granted('ROLE_ADMIN_GAFSOC') %}
                                                <li   class="font-bold"><a href="{{ path('home_afsoc') }}"><i class="fa fa-tasks"></i> Affaires sociales</a> </li>
                                            {% endif %}
                                            {% if is_granted('ROLE_ADMIN_GCONGE') %}
                                                <li   class="font-bold"><a href="{{ path('conge_index') }}"><i class="fa fa-tasks"></i> Personnel</a> </li>
                                            {% endif %}
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>

                            {# MENU PERSO #}
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Menu perso</h5>
                                </div>
                                <div class="ibox-content">
                                    <div id='external-events'>
                                        <button type="button" class="btn btn-block btn-outline btn-primary no-margins">
                                            Mes tâches
                                        </button>
                                        <button type="button" class="btn btn-block btn-outline btn-primary">Mes fichiers</button>
                                        <button type="button" class="btn btn-block btn-outline btn-primary">Rédiger un rapport</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {# ================== Fin menu_gauche ==================== #}
                    {% endif %}


                    {# ============================= INFO PERSONNELLES ==================================== #}
                    {% if app.user %}
                        <div class="col-lg-4">
                            <div class="widget-head-color-box navy-bg p-lg text-center">
                                <div class="m-b-md">

                                    <h2 class="font-bold no-margins">
                                        Infos personnelles
                                    </h2>

                                </div>
                                <div>
                                    <span>Âge : {{ app.user.age }} ans</span> |
                                    <span>Retraite : {{ app.user.retraite }}</span>
                                </div>
                            </div>
                            <div class="widget-text-box">

                                {# Vérification des valeurs érronnées #}
                                {%  set val_base = 12 %}
                                {% set motdepasse_vulnerable = 'false' %}
                                {% set val = 0 %}

                                {% if app.user is null or app.user is empty %}
                                    {% set val = val+1 %}
                                {% endif %}

                                {% if app.user.matricule is null or app.user.matricule is empty %}
                                    {% set val = val+1 %}
                                {% endif %}
                                {% set tel_length = app.user.tel |length %}
                                {% if app.user.tel is null or app.user.tel is empty or tel_length < 7 %}
                                    {% set val = val+1 %}
                                {% endif %}

                                {% if app.user.categorie is null or app.user.categorie is empty  %}
                                    {% set val = val+1 %}
                                {% endif %}

                                {% if app.user.adresse == 'adresse' or app.user.adresse is null or app.user.adresse is empty %}
                                    {% set val = val+1 %}
                                {% endif %}

                                {% if app.user.email is null or app.user.email is empty %}
                                    {% set val = val+1 %}
                                {% endif %}

                                {% if app.user.dateNaissanceAt is null or app.user.dateNaissanceAt is empty %}
                                    {% set val = val+1 %}
                                {% endif %}

                                {% if app.user.lieuDeNaissance is null or app.user.lieuDeNaissance is empty %}
                                    {% set val = val+1 %}
                                {% endif %}

                                {% if app.user.password == '$2y$13$ilOxTmRUj5de1EiWvbm/9O.FxhJJB.4E1j/tz4qyA5HnH8nMM0Zxu' %}
                                    {% set val = val+1 %}
                                    {% set motdepasse_vulnerable = 'true' %}
                                {% endif %}

                                {% if app.user.indiceGroupe is null or app.user.indiceGroupe is empty or app.user.retraite == 'Classement de base éronné'  %}
                                    {% set val = val+1 %}
                                {% endif %}

                                {% if app.user.indiceCategorie is null or app.user.indiceCategorie is empty or app.user.retraite == 'Classement de base éronné'  %}
                                    {% set val = val+1 %}
                                {% endif %}

                                {% if app.user.indiceEchelon is null or app.user.indiceEchelon is empty or app.user.retraite == 'Classement de base éronné'  %}
                                    {% set val = val+1 %}
                                {% endif %}

                                {% set nbrpourcent = val * 100/val_base %}
                                {% if val>0 %}
                                <p>
                                    <b class="text-danger">
                                        Il y a au total {{ val }} donnée(s) manquante(s), soit {{ nbrpourcent | number_format(2, '.', ',') }}% d'erreurs de vos données personnelles.
                                    </b>
                                    {% else %}
                                        <b>Aucune donnée manquante. Toutefois, veuillez vérifier si les données sont correctes!</b>
                                    {% endif %}
                                </p>
                                {% if motdepasse_vulnerable == 'true' %}
                                    <a href="{{ path('fos_user_change_password') }}" class="btn btn-xs btn-danger text-left">
                                        <i class="fa fa-edit"></i>
                                        Editer mon mot de passe
                                    </a>
                                {% endif %}

                                <hr/>
                                <ul class="list-unstyled">
                                    <li>
                                        {% if app.user.matricule %}
                                            <i class="text-info"><span class="fa fa-check m-r-xs"></span></i>
                                            <label>Matricule :</label>
                                            {{ app.user.matricule }}
                                        {% else %}
                                            <i class="text-info"><span class="fa fa-check m-r-xs"></span></i>
                                            <label>Matricule :</label>
                                            <i class="text-danger"><span class="fa fa-warning m-r-xs"></span></i>
                                            <i class="text-danger">Manquant</i>
                                        {% endif %}
                                    </li>
                                    <li>
                                        {% if app.user %}
                                            <i class="text-info"><span class="fa fa-check m-r-xs"></span></i>
                                            <label>Nom Prénom :</label>
                                            {{ app.user.NomPrenom }}
                                        {% else %}
                                            <i class="text-info"><span class="fa fa-check m-r-xs"></span></i>
                                            <label>Nom Prénom :</label>
                                            <i class="text-danger"><span class="fa fa-warning m-r-xs"></span></i>
                                            <i class="text-danger">Manquant</i>
                                        {% endif %}
                                    </li>

                                    <li>

                                        {% if app.user.tel and tel_length > 6 %}
                                            <i class="text-info"><span class="fa fa-check m-r-xs"></span></i>
                                            <label>Tel : </label>
                                            {{ app.user.tel }}
                                        {% elseif tel_length < 7 %}
                                            <i class="text-danger"><span class="fa fa-warning m-r-xs"></span></i>
                                            <label class="text-danger">Tel : </label>
                                            <i class="text-danger">Manquant</i>
                                        {% else %}
                                            <i class="text-danger"><span class="fa fa-warning m-r-xs"></span></i>
                                            <label class="text-danger">Tel : </label>
                                            <i class="text-danger">Manquant</i>
                                        {% endif %}
                                    </li>

                                    <li>
                                        {% if app.user.categorie is null or app.user.categorie is empty  %}
                                            <i class="text-danger"><span class="fa fa-warning m-r-xs"></span></i>
                                            <label class="text-danger">Catégorie :</label>
                                            <i class="text-danger">Non renseignée (Veuillez contacter l'administrateur)</i>
                                        {% else %}
                                            <i class="text-info"><span class="fa fa-check m-r-xs"></span></i>
                                            <label>Catégorie :</label>
                                            {{ app.user.categorie }}
                                        {% endif %}
                                    </li>

                                    <li>
                                        {% if app.user.adresse == 'adresse' %}
                                            <i class="text-danger"><span class="fa fa-warning m-r-xs"></span></i>
                                            <label class="text-danger">Adresse :</label>
                                            <i class="text-danger">Manquant</i>
                                        {% elseif app.user.adresse is null or app.user.adresse is empty %}
                                            <i class="text-danger"><span class="fa fa-warning m-r-xs"></span></i>
                                            <label class="text-danger">Adresse :</label>
                                            <i class="text-danger">Manquant</i>
                                        {% else %}
                                            <i class="text-info"><span class="fa fa-check m-r-xs"></span></i>
                                            <label>Adresse:</label>
                                            {{ app.user.adresse }}
                                        {% endif %}

                                    </li>
                                    <li>
                                        {% if app.user.email is null or app.user.email is empty %}
                                            <i class="text-danger"><span class="fa fa-warning m-r-xs"></span></i>
                                            <label class="text-danger">Email :</label>
                                            <i class="text-danger">Manquant</i>
                                        {% else %}
                                            <i class="text-info"><span class="fa fa-check m-r-xs"></span></i>
                                            <label>Email :</label>
                                            {{ app.user.email }}
                                        {% endif %}
                                    </li>

                                    <li>
                                        {% if app.user.dateNaissanceAt is null %}
                                            <i class="text-danger"><span class="fa fa-warning m-r-xs"></span></i>
                                            <label class="text-danger">Date de naissance:</label>
                                            <i class="text-danger">Manquant</i>
                                        {% else %}
                                            <i class="text-info"><span class="fa fa-check m-r-xs"></span></i>
                                            <label>Date de naissance :</label>
                                            {{ app.user.dateNaissanceAt | date('d/m/Y') }}
                                        {% endif %}
                                    </li>

                                    <li>
                                        {% if app.user.lieuDeNaissance is null or app.user.lieuDeNaissance is empty %}
                                            <i class="text-danger"><span class="fa fa-warning m-r-xs"></span></i>
                                            <label class="text-danger">Lieu de naissance :</label>
                                            <i class="text-danger">Manquant</i>
                                        {% else %}
                                            <i class="text-info"><span class="fa fa-check m-r-xs"></span></i>
                                            <label>Lieu de naissance :</label>
                                            {{ app.user.lieuDeNaissance }}
                                        {% endif %}
                                    </li>

                                    <li>
                                        {% if app.user.password == '$2y$13$ilOxTmRUj5de1EiWvbm/9O.FxhJJB.4E1j/tz4qyA5HnH8nMM0Zxu' %}
                                            <i class="text-danger"><span class="fa fa-warning m-r-xs"></span></i>
                                            <label class="text-danger">Mot de passe :</label>
                                            <a href="{{ path('fos_user_change_password') }}" class="text-danger font-italic">Vulnérable <i class="fa fa-edit"></i></a>
                                        {% else %}
                                            <i class="text-info"><span class="fa fa-check m-r-xs"></span></i>
                                            <label>Mot de passe :</label>
                                            Par defaut modifié!
                                        {% endif %}
                                    </li>

                                    <li>
                                        {% if app.user.indiceGroupe is null or app.user.indiceGroupe is empty  %}
                                            <i class="text-danger"><span class="fa fa-warning m-r-xs"></span></i>
                                            <label class="text-danger">Indice - Groupe :</label>
                                            <i class="text-danger">Non renseigné (Veuillez contacter l'administrateur)</i>
                                        {% else %}
                                            {% if app.user.retraite == 'Classement de base éronné' %}
                                                <i class="text-danger"><span class="fa fa-warning m-r-xs"></span></i>
                                            {% else %}
                                                <i class="text-info"><span class="fa fa-check m-r-xs"></span></i>
                                            {% endif %}
                                            <label>Indice - Groupe :</label>
                                            {{ app.user.indiceGroupe }}
                                        {% endif %}
                                    </li>

                                    <li>
                                        {% if app.user.indiceCategorie is null or app.user.indiceCategorie is empty  %}
                                            <i class="text-danger"><span class="fa fa-warning m-r-xs"></span></i>
                                            <label class="text-danger">Indice - Catégorie :</label>
                                            <i class="text-danger">Non renseigné (Veuillez contacter l'administrateur)</i>
                                        {% else %}
                                            {% if app.user.retraite == 'Classement de base éronné' %}
                                                <i class="text-danger"><span class="fa fa-warning m-r-xs"></span></i>
                                            {% else %}
                                                <i class="text-info"><span class="fa fa-check m-r-xs"></span></i>
                                            {% endif %}
                                            <label>Indice - Catégorie :</label>
                                            {{ app.user.indiceCategorie }}
                                        {% endif %}
                                    </li>

                                    <li>
                                    {% if app.user.indiceEchelon is null or app.user.indiceEchelon is empty  %}
                                        <i class="text-danger"><span class="fa fa-warning m-r-xs"></span></i>
                                        <label class="text-danger">Indice - Echélon :</label>
                                        <i class="text-danger">Non renseigné (Veuillez contacter l'administrateur)</i>
                                    {% else %}
                                        {% if app.user.retraite == 'Classement de base éronné' %}
                                            <i class="text-danger"><span class="fa fa-warning m-r-xs"></span></i>
                                        {% else %}
                                            <i class="text-info"><span class="fa fa-check m-r-xs"></span></i>
                                        {% endif %}
                                        <label>Indice - Echélon :</label>
                                        {{ app.user.indiceEchelon }}
                                    {% endif %}
                                </li>
                                </ul>
                                <hr/>

                                <div>
                                    <div class="block">

                                        <a href="{{ path('info_profile_agent', {id: app.user.id}) }}" class="btn btn-xs btn-success text-right">
                                            <i class="fa fa-user-o"></i>
                                            Profil détaillé
                                        </a>

                                        <a href="{{ path('moncompte_edit_infos', {id: app.user.id, slug: app.user.slug}) }}" class="btn btn-xs btn-primary text-right">
                                            <i class="fa fa-edit"></i>
                                            Corriger
                                        </a>
                                        <a href="{{ path('message_new', {typeMessage: 'donnees'}) }}" class="btn btn-xs btn-success text-right">
                                            <i class="fa fa-envelope"></i>
                                            Alerter l'admin
                                        </a>
                                    </div>

                                    <span>
                            </span>
                                </div>

                            </div>
                        </div>
                    {% endif %}
                    {# ============================= INFO DE LA SOCIéTé ==================================== #}
                    {% if app.user %}
                        <div class="col-lg-5">
                            <div class="widget-head-color-box navy-bg p-lg text-center">
                                <div class="m-b-md">
                                    <h2 class="font-bold no-margins">
                                        Infos Société
                                    </h2>

                                </div>
                                <div>

                                    <span>Recrutement le : </span>
                                    {% if recrutement %}
                                        {{ recrutement.dateRecrutementAt | date ('d/m/Y') }}|
                                    {% else %}
                                        <i class="fa fa-warning"></i> <b class="text-danger">Aucune  </b> |
                                    {% endif %}
                                    <span>Titularisation le : </span>
                                    {% if titularisation %}
                                        {{ titularisation.dateTitularisationAt | date ('d/m/Y') }}
                                    {% else %}
                                        <i class="fa fa-warning"></i> <b class="text-danger">Aucune  </b> |
                                    {% endif %}
                                </div>
                            </div>
                            <div class="widget-text-box">
                                <li>
                                    <i class="text-info"><span class="fa fa-check m-r-xs"></span></i>
                                    <strong>Poste : </strong>{{ poste_user }}
                                    <small class="pull-right">Par {{ nom_evenement }}</small>
                                </li>
                                <li>
                                    <i class="text-info"><span class="fa fa-check m-r-xs"></span></i>
                                    <strong>
                                        {% if entite == 'sdptdir' or entite == 'sdir' %}
                                            Service :
                                        {% elseif entite == 'dpt' %}
                                            Département :
                                        {% else %}
                                            Direction :
                                        {% endif %}
                                    </strong>
                                    {{ localisation_agent }}
                                </li>
                                <li><i class="text-info"><span class="fa fa-check m-r-xs"></span></i>
                                    <strong>
                                        {% if entite == 'sdptdir' %}
                                            Département :
                                        {% elseif entite == 'sdir' or entite == 'dpt' %}
                                            Direction :
                                        {% elseif entite == 'dir' %}
                                                Direction mère :
                                        {% endif %}
                                    </strong> {{ hierarchie }}
                                    <small class="pull-right">
                                        {% set phone_length = tel_hierarchie | length %}
                                        {% if phone_length < 7 %}
                                            <i class="fa fa-phone"></i><span class="text-danger"> Tel incorrect</span>
                                        {% elseif tel_hierarchie is empty or tel_hierarchie is null %}
                                            <i class="fa fa-phone"></i><span class="text-danger"> Aucun</span>
                                        {% else %}
                                            <i class="fa fa-phone"></i> {{ tel_hierarchie }}
                                        {% endif %}
                                    </small>
                                </li>
                                <li>
                                    <i class="text-info"><span class="fa fa-phone m-r-xs"></span></i>
                                    <strong>Tel bureau : </strong>
                                    {# possibilité de modifier le tel -- test pour savoir de quel entité il s'agit (un département, une direction, un service ...) #}
                                    {% if entite == 'dpt' %}
                                    {% set lien = 'moncompte_edit_tel_dptdir' %}
                                        <a href="{{ path(lien, {id: localisation_agent_id}) }}"><span class="fa fa-edit"></span></a>
                                    {% elseif entite == 'dir' %}
                                        {% set lien = 'moncompte_edit_tel_dir' %}
                                        <a href="{{ path(lien, {id: localisation_agent_id}) }}"><span class="fa fa-edit"></span></a>
                                    {% elseif entite == 'sdptdir' %}
                                        {% set lien = 'moncompte_edit_tel_sdpt' %}
                                        <a href="{{ path(lien, {id: localisation_agent_id}) }}"><span class="fa fa-edit"></span></a>
                                    {% elseif entite == 'sdir' %}
                                        {% set lien = 'moncompte_edit_tel_sdir' %}
                                        <a href="{{ path(lien, {id: localisation_agent_id}) }}"><span class="fa fa-edit"></span></a>
                                    {% endif %}

                                    {% set phone_length = tel_bureau | length %}
                                    {% if phone_length < 7 %}
                                        <i class="fa fa-phone"></i><span class="text-danger"> Tel incorrect</span>
                                    {% elseif tel_bureau is empty or tel_bureau is null %}
                                        <i class="fa fa-phone"></i><span class="text-danger"> Aucun </span>
                                    {% else %}
                                        {{ tel_bureau }}
                                    {% endif %}

                                </li>


                            </div>
                            {% if entite == 'sdptdir' or entite == 'sdir' %}
                                {# si c'est  un chhef de service #}
                                {% if responsabilite =='chef_s' %}
                                    {% set nbr = 0 %}

                                    {% for charge in charges if charge.id != app.user.id %}
                                        {% set nbr = nbr+1 %}
                                    {% endfor %}


                                    <div class="ibox-title">
                                        <h5>{{ nbr }} agent(s) à ma charge</h5>
                                        <div class="ibox-tools pull-right">
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                                Options<i class="fa fa-chevron-down"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-user">
                                                <li>
                                                    <a href="{{ path('moncompte_event_agents_svc', {svc_id: localisation_agent_id, entite: entite}) }}">Les agents du service</a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                    <div class="widget-text-box">
                                        <table class="table table-hover no-margins">
                                            <thead>
                                            <tr>
                                                {#<th>#</th>#}
                                                <th>Matricule</th>
                                                <th>Agent</th>
                                                <th>Tel</th>
                                                <th><span class="fa fa-pied-piper-alt"></span> </th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            {% for charge in charges if charge.id != app.user.id %}

                                                <tr>

                                                    {#<td><a href="{{ path('info_profile_agent', {id:charge.id}) }}"><span class="fa fa-eye"></span> Voir</a></td>#}
                                                    <td>{{ charge.matricule }} </td>
                                                    <td data-toggle="tooltip" data-placement="top" title="{{ charge.poste_designation }}">{{ charge.nom }} {{ charge.prenom }}</td>
                                                    <td class="text-navy">
                                                        {# Vérification du téléphone de l'agent avant affichage #}
                                                        {% set phone_length = charge.tel | length %}
                                                        {% if phone_length < 7 %}
                                                            Non-renseigné
                                                        {% elseif charge.tel is empty or charge.tel is null %}
                                                            Aucun
                                                        {% else %}
                                                            {{ charge.tel }}
                                                        {% endif %}

                                                    </td>
                                                    <td><a href="{{ path('attributions_fonction_new', {id: charge.id}) }}"><span class="fa fa-pied-piper-alt"></span> </a> </td>
                                                </tr>

                                            {% endfor %}

                                            </tbody>
                                        </table>
                                    </div>
                                {% endif %}
                            {% elseif entite == 'dpt' %}
                                {# si c'est un chef de département #}
                                {% if responsabilite =='chef_d' %}
                                    {% set nbr = 0 %}
                                    {% for charge in charges %}
                                            {% set nbr = nbr+1 %}
                                    {% endfor %}

                                    <div class="ibox-title">
                                        <h5>{{ nbr }} Service(s) à ma charge</h5>

                                        <div class="ibox-tools pull-right">
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                                Options<i class="fa fa-chevron-down"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-user">
                                                <li><a href="{{ path('moncompte_event_agents', {dpt_id: localisation_agent_id}) }}">Les agents du département</a>
                                                </li>
                                                {#
                                                <li>
                                                    <a href="#">Les services du département</a>
                                                </li>
                                                #}
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="widget-text-box">
                                        <table class="table table-hover no-margins">
                                            <thead>
                                            <tr>
                                                <th>Service</th>
                                                <th>Tel</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            {% for charge in charges %}
                                                <tr>

                                                    <td>{{ charge.designation }} </td>
                                                    <td>
                                                        {% for service in charge.getServicedepartementdirections() %}
                                                            <a href="{{ path('moncompte_edit_tel_sdpt', {id: service.id, pg_prcdnt: 'moncompte_administration'}) }}"><span class="fa fa-edit"></span></a>
                                                            {% set phone_length = service.tel | length %}
                                                            {% if phone_length < 7 %}
                                                                <span class="text-danger">Tel incorrect</span>
                                                            {% elseif service.tel is empty or service.tel is null %}
                                                                Aucun
                                                            {% else %}
                                                                <span class="text-navy">{{ service.tel }}</span>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </td>
                                                </tr>
                                            {% endfor %}

                                            </tbody>
                                        </table>
                                    </div>
                                {% endif %}
                            {% elseif entite == 'dir' %}
                                {# si c'est un directeur #}
                                {% if responsabilite =='directeur' and hierarchie == 'Générale' %}

                                    {% set nbr = 0 %}
                                    {% for departement in charges %}
                                        {% set nbr = nbr + 1 %}
                                    {% endfor %}
                                    <div class="ibox-title">
                                        <h5>{{ nbr }} Département(s) à ma charge</h5>
                                    </div>
                                    <div class="widget-text-box">
                                        <table class="table table-hover no-margins">
                                            <thead>
                                            <tr>
                                                <th>Département</th>
                                                <th>Tel</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            {% for departement in charges %}
                                                <tr>
                                                    <td>{{ departement.designation }} </td>
                                                    <td>
                                                        {% for departement in departement.getDepartementdirections() %}
                                                            {% set phone_length = departement.tel | length %}
                                                            {% if phone_length < 7 %}
                                                                <span class="text-danger">Tel incorrect</span>
                                                            {% elseif departement.tel is empty or departement.tel is null %}
                                                                Aucun
                                                            {% else %}
                                                                <span class="text-navy">{{ departement  .tel }}</span>
                                                            {% endif %}
                                                            <span class="pull-right"><a href="{{ path('departementdirection_info_detail', {id: departement.id}) }}"><span class="fa fa-eye"></span> Voir</a></span>
                                                        {% endfor %}
                                                    </td>
                                                </tr>
                                            {% endfor %}

                                            </tbody>
                                        </table>
                                    </div>
                                {% else %}
                                    <div class="ibox-title">
                                        <h5>Vous êtes le directeur général</h5>
                                    </div>
                                {% endif %}
                            {% endif %}

                        </div>
                    {% endif %}
                </div>

            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    {{ parent() }}
    {{ include('_generals_includes/skin-config.html') }}
{% endblock javascripts %}

