{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Profil {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Morris --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/morris/morris-0.4.3.min.css') }}" />

        <link rel="stylesheet" href="{{ asset('css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css') }}">
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% for message in app.flashes('success') %}
                <div class="alert alert-success alert-dismissable">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    {{ message }}
                </div>
            {% endfor %}

            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}

            <div class="wrapper wrapper-content">

                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Editer
                                <small> Le téléphone du service
                                {% for service_departement in service_departements if service_departement.id == app.request.get('id') %}
                                    <b>{{ service_departement.service.designation }}</b>
                                {% endfor %}
                                du département
                                {% for service_departement in service_departements if service_departement.id == app.request.get('id') %}
                                    <b>{{ service_departement.Departementdirection.Departement.designation }}</b>
                                {% endfor %}
                                </small>
                            </h5>

                        </div>
                        <div class="ibox-content">
                            <br>
                            {{ form_start(form_telservicedept, {
                                'attr': {
                                    'class': 'form-horizontal',
                                    'role': 'form'
                                }
                            }) }}


                            <div class="form-group">
                                <label class="col-sm-2 control-label">Téléphone bureau</label>
                                <div class="col-sm-10">
                                    {{ form_widget(form_telservicedept.tel,{
                                        'attr' : {
                                            'class':'form-control',
                                            'data-mask':'999 99 99',
                                            'placeholder': ''
                                        }
                                    }) }}
                                    {#<input type="text" class="form-control" data-mask="(999) 999-9999" placeholder="">#}
                                    <span class="help-block">Exemple : <i>773 99 99</i></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-10">
                                    {{ form_widget(form_telservicedept.service, {
                                        'attr':{
                                            'class':'form-control hidden',
                                            'placeholder': ''
                                        }
                                    }) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-10">
                                    {{ form_widget(form_telservicedept.departementdirection, {
                                        'attr':{
                                            'class':'form-control hidden',
                                            'placeholder': ''
                                        }
                                    }) }}

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10">
                                    {{ form_widget(form_telservicedept.agence, {
                                        'attr':{
                                            'class':'form-control hidden',
                                            'placeholder': ''
                                        }
                                    }) }}

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <a class="btn btn-w-m btn-white" href="{{ path('moncompte_administration') }}"><i class="fa fa-arrow-left"></i> Retour</a>
                                    <button class="btn btn-w-m btn-primary">Valider</button>
                                </div>
                            </div>

                            {{ form_end(form_telservicedept) }}
                        </div>
                    </div>
                </div>

            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    {{ parent() }}
    <!-- Input Mask-->
    <script type="text/javascript" src="{{ asset('js/plugins/jasny/jasny-bootstrap.min.js') }}"></script>

    {# <!-- Custom and plugin javascript --> #}
    <script type="text/javascript" src="{{ asset('js/inspinia.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/pace/pace.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/jquery-ui/jquery-ui.min.js') }}"></script>

{% endblock javascripts %}

