{% extends '@FOSUser/base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %} {{ parent() }} {{ 'resetting.check_email.title'|trans }} {% endblock %}

{% block stylesheets %} {{ parent() }} {% endblock %}

{% block body %}

    {% block fos_user_content %}
        <div class="card divcenter noradius noborder" >
            <div class="card-body">
                <hr/>
                <div class="col_full nobottommargin">
                    <p>
                        {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
                    </p>
                </div>
                <div class="col_full nobottommargin">
                    <a href="{{ path('home') }}" class="fa fa-home"> {{ 'security.login.link_home'|trans }}</a> &nbsp;
                    <a href="{{ path('fos_user_security_login') }}" class="fa fa-sign-in"> {{ 'resetting.request.link_login'|trans }}</a>
                </div>
            </div>
        </div>
    {% endblock %}

{% endblock %}