{% extends '@FOSUser/base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %} {{ parent() }} {{ 'resetting.request.title'|trans }} {% endblock %}

{% block stylesheets %} {{ parent() }} {% endblock %}

{% block body %}
    {% block fos_user_content %}
        {% include "@FOSUser/Resetting/request_content.html.twig" %}
    {% endblock fos_user_content %}
{% endblock %}