{% trans_default_domain 'FOSUserBundle' %}

<div>
    <div>

        <h1 class="logo-name">IN</h1>

    </div>
    <h3>Réinitialisation du mot de passe</h3>
    <p>Un lien vous sera envoyer par e-mail.</p>
    {#<p>Login in. To see it in action.</p>#}
    {% if username is defined  %}
        <div class="alert alert-danger">
            <ul class="list-unstyled mb-0">
                <li><span class="initialism badge badge-danger">Erreur</span>
                    {{ 'resetting.request.wrong_username'|trans }}
                </li>
            </ul>
        </div>
    {% endif %}

    <hr/>
    <form class="m-t" role="form" action="{{ path('fos_user_resetting_send_email') }}" method="post">
        <div class="form-group">
            {# <label for="username">{{ 'security.login.username'|trans }}</label> #}
            <input type="text" id="username" name="username" value="{% if username is defined  %}{{ username }}{% endif %}" placeholder="{{ 'security.login.username'|trans }}" required="required" autocomplete="username" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary block full-width m-b" id="_submit" name="_submit">
            <i class="fa fa-unlock" aria-hidden="true"></i> {{ 'resetting.request.submit'|trans }}
        </button>
        <a href="{{ path('fos_user_security_login') }}" class="fa fa-sign-in"> {{ 'resetting.request.link_login'|trans }}</a> &nbsp;
        <a href="{{ path('home') }}"><i class="fa fa-home"></i> <small>{{ 'security.login.link_home'|trans }}</small></a>
    </form>
    <p class="m-t"> <small>Intranet Comores Telecom © 2016 - {{ "now"|date("Y") }}</small> </p>
</div>