{% extends '@FOSUser/base.html.twig' %}

{% block title %} {{ parent() }} {% endblock %}

{% block stylesheets %} {{ parent() }} {% endblock %}

{% block body %}
    {% block fos_user_content %}
        {% include "@FOSUser/Resetting/reset_content.html.twig" %}
    {% endblock fos_user_content %}
{% endblock %}
