{% trans_default_domain 'FOSUserBundle' %}

<div class="card divcenter noradius noborder" style="max-width: 610px;">
    <div class="card-body" style="padding: 40px;">

        {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
            <div class="col_full">
                {{ form_widget(form) }}
            </div>

            <div class="col_full nobottommargin">
                <button type="submit" class="btn btn-primary block full-width m-b" id="_submit" name="_submit">
                    <i class="fa fa-unlock" aria-hidden="true"></i> {{ 'resetting.reset.submit'|trans }}
                </button>
            </div>
        {{ form_end(form) }}

    </div>
</div>