<form method="post" action="{{ path('afsoc_entitemedicale_delete', {'id': entite_medicale.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ entite_medicale.id) }}">
    <button class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> {% if app.request.attributes.get('_route') == 'afsoc_chargemedicale_show' %}Supprimer{% endif %}</button>
</form>
