{% extends 'base.html.twig' %}


    {% block title %} {{ parent() }} Cotisations {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Data table --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/dataTables/datatables.min.css') }}">
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}
            <div class="wrapper wrapper-content">


                <div class="row">
                    <div class="col-lg-12">
                        <div class="wrapper wrapper-content animated fadeInRight">
                            <div class="ibox-content p-xl">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h4>Entité Médicale : {{ entite_medicale.designation }}</h4>
                                        <address>
                                            {#Date de naissance : </strong> {{ user.dateNaissanceAt | date ('d/m/Y') }}<br>#}

                                            <strong>Type : </strong> {{ entite_medicale.type }}<br>
                                            <strong>Adresse : </strong> {{ entite_medicale.adresse }}<br>
                                            <abbr title="Phone"><strong>Tel : </strong></abbr>
                                            {% set tel_lg = entite_medicale.tel | length %}
                                            {% if tel_lg <7 %}
                                                <span class="text-danger">Non renseigné !</span>
                                            {% else %}
                                                {{ entite_medicale.tel }}
                                            {% endif %}
                                        </address>
                                    </div>

                                    <div class="col-sm-6 text-right">
                                        <span><strong>Aujourd'hui le :</strong> {{ "now"|date("m/d/Y") }}</span><br/>

                                    </div>
                                </div>

                                <div class="well m-t"><strong>Acharges médicales</strong><br/>
                                    Charges effectuées depuis son contrat à Comores Telecom ...
                                </div>


                                <table class="table tab-help">

                                    <tbody>
                                    {% for total_par_an in total_par_an %}
                                        <tr>
                                            <td>
                                                <b class="text-primary">{{ total_par_an.year }}</b>
                                                <br/>
                                                <small>Total :</small> <br/>
                                                <small><b class="text-navy">{{ total_par_an.sommeannuelle | number_format(0, ',', ' ') }} kmf</b></small>
                                            </td>
                                            {% for charge in charges_medicales %}
                                                {% if charge.dateAt | date('Y') == total_par_an.year %}

                                                    <td>
                                                        {{ charge.dateAt ? charge.dateAt|localizeddate('none', 'none', null, null, 'MMMM') | title }} : <br/>
                                                        {{ charge.couts }}
                                                    </td>
                                                {% endif %}

                                            {% endfor %}
                                        </tr>
                                    {% else %}
                                        <span class="text-danger"> <strong>Aucune cotisation trouvée! </strong></span>

                                    {% endfor %}
                                    {#
                                    <tr>
                                        <td colspan="13"><h3 class="text-primary">Total des cotisations :{% for somme in somme %} <b class="text-danger">{{ somme.somme_totale |number_format(0, ',', ' ') }}</b>{% endfor %}.kmf</h3> </td>
                                    </tr>
                                    #}

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/plugins/dataTables/datatables.min.js') }}"></script>

{% endblock javascripts %}

