{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Editer {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}

    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}

            <div class="wrapper wrapper-content animated fadeInRight">

                <div class="row">

                    <div class="col-lg-12">

                        <div class="ibox">
                            <div class="ibox-content">
                                <h3>Editer un avertissement pour {{ ev_avertissement.user.nom }} {{ ev_avertissement.user.prenom }}</h3>

                                <p class="small">
                                    Modifier un evenement "Avertissement" à un agent.
                                </p>
                                {{ form_start(form) }}

                                <div class="form-group">
                                    <label>Agent  </label>
                                    <span> {{ ev_avertissement.user }} </span>
                                </div>
                                <input type="text" class="form-control hidden" name="avertissement[user]" value="{{ ev_avertissement.User.id }}"  >
                                <div class="form-group" >
                                    <label>Poste actuel </label>
                                    {{ form_widget(form.poste) }}

                                </div>

                                <div class="form-group col-sm-6 {% if form_errors(form.reference) %}has-error{% endif %}" style="padding-left: 0px;">
                                    <label>Reference de la note  </label>
                                    {{ form_widget(form.reference, {
                                        'attr': {
                                            'class': 'form-control'
                                        }
                                    }) }}
                                </div>
                                <div class="form-group col-sm-6 {% if form_errors(form.dateAvertissementAt) %}has-error{% endif %}" style="padding-right: 0px;">
                                    <label>Date avertissement </label>
                                    {{ form_widget(form.dateAvertissementAt, {
                                        'attr': {
                                            'class': 'form-control'
                                        }
                                    }) }}
                                </div>

                                {{ form_widget(form) }}
                                <input class="btn btn-primary" type="submit" value="Enregistrer" />

                                {{ form_end(form) }}

                                <div class="hr-line-dashed"></div>
                                {% if is_granted('ROLE_ADMIN_GCAR') %}
                                    <a href="{{ path('evenements_avertissement_index') }}">Retour à la liste</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}

    {{ parent() }}

{% endblock javascripts %}

