{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Agents de CT {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Morris --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/dataTables/datatables.min.css') }}" />
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <div class="row">
                                    <div class="col-sm-1 m-b-xs">
                                        {% if is_granted('ROLE_ADMIN_GCAR') %}
                                            <a href="{{ path('fos_user_registration_register') }}" class="btn btn-sm btn-primary">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        {% endif %}
                                    </div>

                                    <div class="col-sm-3 m-b-xs">
                                        {# BOUTTON AGENTS #}
                                        <div class="btn-group">
                                            <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle btn-outline"><i class="fa fa-users"></i>&nbsp;Filtrer les agents <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li><a href="{{ path('ct_agent') }}"><i class="fa fa-eye"></i> Les agents de CT ({{ total_users | length }})</a></li>
                                                <li><a href="{{ path('ct_agent', {filter: 'agents_serv'}) }}"><i class="fa fa-search"></i> Les agents d'un tel service</a></li>
                                                <li><a href="{{ path('ct_agent', {filter: 'agents_dept'}) }}"><i class="fa fa-search"></i> Les agents d'un tel département</a></li>
                                                <li><a href="{{ path('ct_agent', {filter: 'agents_dir'}) }}"><i class="fa fa-search"></i> Les agents d'une telle direction</a></li>
                                                <li><a href="{{ path('ct_agent', {filter: 'agents_ile'}) }}"><i class="fa fa-search"></i> Les agents d'une telle île</a></li>
                                                <li><a href="{{ path('ct_agent', {filter: 'agents_poste'}) }}"><i class="fa fa-search"></i> Les agents d'un tel poste</a></li>
                                                {% if is_granted('ROLE_ADMIN_GCAR') %}
                                                    <li class="divider"></li>
                                                    <li><a href="#"><i class="fa fa-plus-circle"></i> Ajouter un agent</a></li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                    {% if app.request.get('filter') %}
                                        {% set filtre_agents = app.request.get('filter') %}
                                        {% if filtre_agents == 'agents_serv' %}
                                            <div class="col-sm-6 m-b-xs">
                                                {{ form_start(formServDeptDirSearch, {
                                                    'attr': {
                                                        'class': 'form-horizontal',
                                                        'role': 'form'
                                                    }
                                                }) }}

                                                <div class="input-group">
                                                    {{ form_widget(formServDeptDirSearch.service, {
                                                        'placeholder': 'Afficher les agents du service :',
                                                        'attr': {
                                                            'class': 'input-sm form-control',
                                                            'tabindex': '2'
                                                        }
                                                    }) }}

                                                    <span class="input-group-btn">
                                                        <button type="submit" class="btn btn-sm btn-primary"> Recherche</button>
                                                    </span>
                                                </div>
                                                {{ form_end(formServDeptDirSearch) }}
                                            </div>
                                        {% elseif filtre_agents == 'agents_dept' %}
                                            <div class="col-sm-6 m-b-xs">
                                                {{ form_start(formDeptDirSearch, {
                                                    'attr': {
                                                        'class': 'form-horizontal',
                                                        'role': 'form'
                                                    }
                                                }) }}

                                                <div class="input-group">
                                                    {{ form_widget(formDeptDirSearch.departement, {
                                                        'placeholder': 'Afficher les agents du département :',
                                                        'attr': {
                                                            'class': 'input-sm form-control',
                                                            'tabindex': '2'
                                                        }
                                                    }) }}

                                                    <span class="input-group-btn"><button type="submit" class="btn btn-sm btn-primary"> Recherche</button></span>
                                                </div>
                                                {{ form_end(formDeptDirSearch) }}
                                            </div>
                                        {% elseif filtre_agents == 'agents_dir' %}
                                            <div class="col-sm-6 m-b-xs">
                                                {{ form_start(formDirSearch, {
                                                    'attr': {
                                                        'class': 'form-horizontal',
                                                        'role': 'form'
                                                    }
                                                }) }}

                                                <div class="input-group">
                                                    {{ form_widget(formDirSearch.direction, {
                                                        'placeholder': 'Afficher les agents de la direction :',
                                                        'attr': {
                                                            'class': 'input-sm form-control',
                                                            'tabindex': '2'
                                                        }
                                                    }) }}

                                                    <span class="input-group-btn"><button type="submit" class="btn btn-sm btn-primary"> Recherche</button></span>
                                                </div>
                                                {{ form_end(formDirSearch) }}
                                            </div>
                                        {% elseif filtre_agents == 'agents_ile' %}
                                            <div class="col-sm-6">
                                                {{ form_start(formIleSearch, {
                                                    'attr': {
                                                        'class': 'form-horizontal',
                                                        'role': 'form'
                                                    }
                                                }) }}

                                                <div class="input-group">
                                                    {{ form_widget(formIleSearch.ile, {
                                                        'placeholder': 'Afficher les agents de l\'île :',
                                                        'attr': {
                                                            'class': 'input-sm form-control',
                                                            'tabindex': '2'
                                                        }
                                                    }) }}

                                                    <span class="input-group-btn">
                                                        <button type="submit" class="btn btn-sm btn-primary"> Recherche</button>
                                                    </span>
                                                </div>
                                                {{ form_end(formIleSearch) }}
                                            </div>
                                        {% elseif filtre_agents == 'agents_poste' %}
                                            <div class="col-sm-6">
                                                {{ form_start(formPosteSearch, {
                                                    'attr': {
                                                        'class': 'form-horizontal',
                                                        'role': 'form'
                                                    }
                                                }) }}

                                                <div class="input-group">
                                                    {{ form_widget(formPosteSearch.poste, {
                                                        'placeholder': 'Afficher les agents du poste :',
                                                        'attr': {
                                                            'class': 'input-sm form-control',
                                                            'tabindex': '2'
                                                        }
                                                    }) }}

                                                    <span class="input-group-btn">
                                                        <button type="submit" class="btn btn-sm btn-primary"> Recherche</button>
                                                    </span>
                                                </div>
                                                {{ form_end(formPosteSearch) }}
                                            </div>
                                            {#<div class="col-sm-6">
                                                {{ form_start(formPosteServDeptDirSearch, {
                                                    'attr': {
                                                        'class': 'form-horizontal',
                                                        'role': 'form'
                                                    }
                                                }) }}

                                                <div class="input-group">
                                                    {{ form_widget(formPosteServDeptDirSearch.posteuser, {
                                                        'placeholder': 'Afficher les agents du poste :',
                                                        'attr': {
                                                            'class': 'input-sm form-control',
                                                            'tabindex': '2'
                                                        }
                                                    }) }}
                                                    {{ form_widget(formPosteServDeptDirSearch.servicedepartementdirection, {
                                                        'placeholder': 'Choisissez la direction :',
                                                        'attr': {
                                                            'class': 'input-sm form-control',
                                                            'tabindex': '2'
                                                        }
                                                    }) }}

                                                    <span class="input-group-btn">
                                                        <button type="submit" class="btn btn-sm btn-primary"> Recherche</button>
                                                    </span>
                                                </div>
                                                {{ form_end(formPosteServDeptDirSearch) }}
                                            </div>#}
                                        {% endif %}
                                    {% else %}
                                        <div class="col-sm-3 m-b-xs">
                                            {% if total_users_filtre | length > 1 %}
                                                <span class="pull-right"><h5>Total des agents : </h5> &nbsp; {{ total_users_filtre | length }} / {{ total_users | length }}</span>
                                            {% else %}
                                                <span class="pull-right"><h5>Total des agents : </h5> &nbsp; {{ users | length }} / {{ total_users | length }}</span>
                                            {% endif %}
                                        </div>

                                        <div class="col-sm-5">
                                            {{ form_start(formSearch, {
                                                'attr': {
                                                    'class': 'form-horizontal',
                                                    'role': 'form'
                                                }
                                            }) }}
                                            <div class="input-group">

                                                {{ form_widget(formSearch.matricule,{
                                                    'attr' : {
                                                        'class':'input-sm form-control',
                                                        'placeholder': 'Matricule/nom/prénom/tel ou e-mail'
                                                    }
                                                }) }}

                                                <span class="input-group-btn">
                                                            <button type="submit" class="btn btn-sm btn-primary"> Recherche</button>
                                                        </span>
                                            </div>
                                            {{ form_end(formSearch) }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="ibox-content">
                                <div class="table-responsive">
                                    {% if _POST_serv_agent is not null or _POST_dept_agent is not null or _POST_dir_agent is not null
                                        or app.request.get('ile_agent') is not null or _POST_ile_agent is not null or _POST_poste_agent is not null %}
                                        <table class="table table-striped table-bordered table-hover dataTables-example" >
                                    {% else %}
                                        <table class="table table-striped">
                                    {% endif %}
                                        <thead>
                                        <tr>
                                            <th>Photo</th>
                                            <th>Agent</th>
                                            <th>Service</th>
                                            <th>Département</th>
                                            <th>Direction</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            {% set poste_actuel_agent = '' %}
                                            {% set poste_recherche = '' %}

                                            {% if _POST_poste_agent is not null %}
                                                {% set poste_recherche = _POST_poste_agent %}
                                            {% endif %}

                                            {% for user in users %}
                                                {% for post_user in poste_users | reverse if post_user.user == user %}
                                                    {% if loop.index == 1 %}
                                                        {% if post_user.poste %}
                                                            {% set poste_actuel_agent = post_user.poste %}
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                                {#{{ dump(poste_actuel_agent) }}#}
                                                {% if poste_recherche == poste_actuel_agent %}
                                                    <tr class="{% if loop.index == 1 %}gradeX{% elseif loop.index == 2 %}gradeC{% else %}gradeA{% endif %}">
                                                        <td>
                                                            <a href="" data-toggle="modal" data-target="#myModal{{ loop.index }}">
                                                                {% if user.image and not null %}
                                                                    {% if user.enligne == 1 and user.userOptionVisibilite is defined and user.UserOptionVisibilite.optEnligne == 1 and user.isActiveNow == 1 %}
                                                                        <img alt="image" width="48" class="img-circle circle-border-sm-online" src="{{ asset('uploads/images/users/' ~ user.image) }}" />
                                                                    {% else %}
                                                                        <img alt="image" width="48" class="img-circle circle-border-sm-offline" src="{{ asset('uploads/images/users/' ~ user.image) }}" />
                                                                    {% endif %}
                                                                {% else %}
                                                                    {% if user.enligne == 1 and user.UserOptionVisibilite.optEnligne is defined and user.UserOptionVisibilite.optEnligne == 1 and user.isActiveNow == 1 %}
                                                                        <img alt="image" class="img-circle circle-border-sm-online" src="{{ asset('uploads/images/users/no_image_small.jpg') }}" />
                                                                    {% else %}
                                                                        <img alt="image" class="img-circle circle-border-sm-offline" src="{{ asset('uploads/images/users/no_image_small.jpg') }}" />
                                                                    {% endif %}
                                                                {% endif %}
                                                            </a>
                                                            <div class="modal inmodal" id="myModal{{ loop.index }}" tabindex="-1" role="dialog" aria-hidden="true">
                                                                <div class="modal-dialog">
                                                                    <div class="modal-content animated bounceInRight">
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
                                                                            {% if user.image and not null %}
                                                                                {% if user.enligne == 1 and user.userOptionVisibilite is defined and user.UserOptionVisibilite.optEnligne == 1 and user.isActiveNow == 1 %}
                                                                                    <img alt="image" width="96px" class="img-circle circle-border-online m-b-md" src="{{ asset('uploads/images/users/' ~ user.image) }}" />
                                                                                {% else %}
                                                                                    <img alt="image" width="96px" class="img-circle circle-border m-b-md" src="{{ asset('uploads/images/users/' ~ user.image) }}" />
                                                                                {% endif %}
                                                                            {% else %}
                                                                                {% if user.enligne == 1 and user.UserOptionVisibilite.optEnligne is defined and user.UserOptionVisibilite.optEnligne == 1 and user.isActiveNow == 1 %}
                                                                                    <img alt="image" class="img-circle circle-border-online m-b-md" src="{{ asset('uploads/images/users/no_image_small.jpg') }}" />
                                                                                {% else %}
                                                                                    <img alt="image" class="img-circle circle-border m-b-md" src="{{ asset('uploads/images/users/no_image_small.jpg') }}" />
                                                                                {% endif %}
                                                                            {% endif %}
                                                                            <h4 class="modal-title">{{ user.nomPrenom }}</h4>
                                                                            <small class="font-bold">
                                                                                <p><strong>Poste : </strong>
                                                                                    {% if poste_actuel_agent != '' %}
                                                                                        {{ poste_actuel_agent }}
                                                                                    {% else %}
                                                                                        <i class="text-danger">Poste manquant</i>
                                                                                    {% endif %}
                                                                                </p>
                                                                            </small>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <p>
                                                                                <ul>
                                                                                    <li><strong>Matricule :</strong> {{ user.matricule }}</li>
                                                                                    <li><strong>Nom d'utilisateur :</strong> {{ user.username() }}</li>

                                                                                    {% if user.UserOptionVisibilite and user.UserOptionVisibilite.optDateNaissanceAt == 1 %}
                                                                                        <li><strong>Date de naissance :</strong> {{ user.dateNaissanceAt | date("d/m/Y") }}</li>
                                                                                    {% elseif app.user == user %}
                                                                                        <li><strong>Date de naissance :</strong> {{ user.dateNaissanceAt | date("d/m/Y") }}</li>
                                                                                    {% endif %}

                                                                                    {% if user.UserOptionVisibilite and user.UserOptionVisibilite.optAdresse == 1 %}
                                                                                        {% if user.adresse %}<li><strong>Adresse :</strong> {{ user.adresse }}</li>{% endif %}
                                                                                    {% elseif app.user == user %}
                                                                                        {% if user.adresse %}<li><strong>Adresse :</strong> {{ user.adresse }}</li>{% endif %}
                                                                                    {% endif %}

                                                                                    <li><strong>Tel :</strong> {{ user.tel }}</li>

                                                                                    {% for post_user in poste_users | reverse if post_user.user == user %}
                                                                                        {% if loop.index == 1 %}
                                                                                            {% set fonctions = post_user.fonctions %}
                                                                                            <li><strong>Fonction(s) :</strong>
                                                                                                {% if fonctions |length == 0 %}
                                                                                                    <i class="text-danger">Manquante</i>
                                                                                                {% else %}
                                                                                                    <ul>
                                                                                                        {% for fonction in fonctions if fonction.designation is defined %}
                                                                                                            <li>{{ fonction.designation }}</li>
                                                                                                        {% endfor %}
                                                                                                    </ul>
                                                                                                {% endif %}
                                                                                            </li>
                                                                                        {% endif %}
                                                                                    {% endfor %}

                                                                                    {% if user.UserOptionVisibilite and user.UserOptionVisibilite.optIndiceGroupe == 1 and user.UserOptionVisibilite.optIndiceCategorieNiveau == 1 and user.UserOptionVisibilite.optIndiceEchelon == 1 %}
                                                                                        <li><strong>Indice :</strong> {{ user.indiceGroupe ~ '.' ~ user.indiceCategorie ~ '.' ~ user.indiceEchelon }}</li>
                                                                                    {% elseif app.user == user %}
                                                                                        <li><strong>Indice :</strong> {{ user.indiceGroupe ~ '.' ~ user.indiceCategorie ~ '.' ~ user.indiceEchelon }}</li>
                                                                                    {% endif %}

                                                                                    <li>{% if user.statut %}<strong>Statut :</strong> {{ user.statut }}{% endif %}</li>
                                                                                    <li>{% if user.categorie %}<strong>Catégorie :</strong> {{ user.categorie }}{% endif %}</li>

                                                                                    {% if user.UserOptionVisibilite and user.UserOptionVisibilite.optEmail == 1 %}
                                                                                        <li><strong>@Mail :</strong> {{ user.email }}</li>
                                                                                    {% elseif app.user == user %}
                                                                                        <li><strong>@Mail :</strong> {{ user.email }}</li>
                                                                                    {% endif %}

                                                                                    <li>
                                                                                        {% if user.enligne and user.UserOptionVisibilite.optEnligne is defined and user.UserOptionVisibilite.optEnligne == 1 and user.isActiveNow == 1 %}
                                                                                            <i class="fa fa-circle text-navy"></i> <strong>Statut :</strong> En ligne
                                                                                        {% else %}
                                                                                            <i class="fa fa-circle-o text-navy"></i> <strong>Statut :</strong> Hors ligne
                                                                                        {% endif %}
                                                                                    </li>
                                                                                </ul>
                                                                            </p>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            {#<button type="button" class="btn btn-primary">Envoyer un message</button>#}
                                                                            <button type="button" class="btn btn-white" data-dismiss="modal">Fermer</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <span class="badge badge-success">{{ user.nomPrenom }}</span>
                                                            <ul>
                                                                <li><strong>Matricule :</strong> {{ user.matricule }}</li>
                                                                 <li><strong>Poste : </strong>{{ poste_actuel_agent }}<li>
                                                                    {% if user.enligne and user.UserOptionVisibilite.optEnligne is defined and user.UserOptionVisibilite.optEnligne == 1 and user.isActiveNow == 1 %}
                                                                        <i class="fa fa-circle text-navy"></i> <strong>Statut :</strong> En ligne
                                                                    {% else %}
                                                                        <i class="fa fa-circle-o text-navy"></i> <strong>Statut :</strong> Hors ligne
                                                                    {% endif %}
                                                                </li>
                                                            </ul>
                                                        </td>
                                                        <td>
                                                            {% if poste_recherche == 'Directeur' or poste_recherche == 'Chef de département' %}
                                                            {% else %}
                                                                {# Service d'un chef de service #}
                                                                {% for posteuser_servicedirection in posteuser_servicedirections | reverse
                                                                    if posteuser_servicedirection.PosteUser.User.id == user.id and posteuser_servicedirection.posteuser.poste == poste_recherche %}
                                                                        {% if loop.index == 1 %}<span class="badge badge-success">{{ posteuser_servicedirection.servicedirection }}</span>{% endif %}
                                                                {% endfor %}

                                                                {# Service lié directement à un département#}
                                                                {% for posteuser_servicedepartementdirection in posteuser_servicedepartementdirections | reverse
                                                                    if posteuser_servicedepartementdirection.ServiceDepartementdirection.service is defined and posteuser_servicedepartementdirection.posteuser.poste == poste_recherche and posteuser_servicedepartementdirection.PosteUser.User.id == user.id %}
                                                                        {% if loop.index == 1 %}
                                                                            <span class="badge badge-success">{{ posteuser_servicedepartementdirection.ServiceDepartementdirection.service }}</span>
                                                                        {% endif %}
                                                                {% endfor %}

                                                                {# Service lié directement à une direction #}
                                                                {% for posteuser_servicedirection in posteuser_servicedirections | reverse
                                                                    if posteuser_servicedirection.ServiceDirection.service is defined and posteuser_servicedirection.posteuser.poste == poste_recherche and posteuser_servicedirection.PosteUser.User.id == user.id %}
                                                                        {% if loop.index == 1 %}
                                                                            <span class="badge badge-success">{{ posteuser_servicedirection.ServiceDirection.service }}</span>
                                                                        {% endif %}
                                                                {% endfor %}
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            {% if poste_actuel_agent != 'Directeur' %}
                                                                {# Département d'un chef de département #}
                                                                {% for posteuser_departement in posteuser_departements | reverse
                                                                    if posteuser_departement.DepartementDirection.departement is defined and posteuser_departement.posteuser.poste == poste_recherche and posteuser_departement.PosteUser.User.id == user.id %}
                                                                        {% if loop.index == 1 %}<span class="badge badge-success">{{ posteuser_departement.DepartementDirection.departement }}</span>{% endif %}
                                                                {% endfor %}

                                                                {# Département #}
                                                                {% for posteuser_servicedepartementdirection in posteuser_servicedepartementdirections | reverse
                                                                    if posteuser_servicedepartementdirection.ServiceDepartementdirection.DepartementDirection is defined and posteuser_servicedepartementdirection.posteuser.poste == poste_recherche and posteuser_servicedepartementdirection.PosteUser.User.id == user.id  %}
                                                                        {% if loop.index == 1 %}
                                                                            <span class="badge badge-success">{{ posteuser_servicedepartementdirection.ServiceDepartementdirection.DepartementDirection.departement }}</span>
                                                                        {% endif %}
                                                                {% endfor %}
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            {% if poste_actuel_agent == 'Directeur' %}
                                                                {# direction d'un directeur #}
                                                                {% for posteuser_direction in posteuser_directions | reverse
                                                                    if posteuser_direction.PosteUser.User.id == user.id and posteuser_direction.posteuser.poste == poste_recherche %}
                                                                        {% if loop.index == 1 %}<span class="badge badge-success">{{ posteuser_direction.direction }}</span>{% endif %}
                                                                {% endfor %}
                                                            {% else %}
                                                                {# direction du département lié à une direction #}
                                                                {% for posteuser_departement in posteuser_departements | reverse
                                                                    if posteuser_departement.DepartementDirection.direction is defined and posteuser_departement.posteuser.poste == poste_recherche and posteuser_departement.PosteUser.User.id == user.id %}
                                                                        {% if loop.index == 1 %}<span class="badge badge-success">{{ posteuser_departement.DepartementDirection.direction }}</span>{% endif %}
                                                                {% endfor %}

                                                                {# direction du service lié directement à une direction #}
                                                                {% for posteuser_servicedirection in posteuser_servicedirections | reverse
                                                                    if posteuser_servicedirection.PosteUser.User.id == user.id and posteuser_servicedirection.posteuser.poste == poste_recherche and posteuser_servicedirection.ServiceDirection.direction is defined %}
                                                                        {% if loop.index == 1 %}<span class="badge badge-success">{{ posteuser_servicedirection.ServiceDirection.direction }}</span>{% endif %}
                                                                {% endfor %}

                                                                {# direction du service lié à un département, et ce dernier lié à une direction #}
                                                                {% for posteuser_servicedepartementdirection in posteuser_servicedepartementdirections | reverse
                                                                    if posteuser_servicedepartementdirection.ServiceDepartementdirection.DepartementDirection is defined and posteuser_servicedepartementdirection.posteuser.poste == poste_recherche and posteuser_servicedepartementdirection.PosteUser.User.id == user.id  %}
                                                                        {% if loop.index == 1 %}<span class="badge badge-success">{{ posteuser_servicedepartementdirection.ServiceDepartementdirection.DepartementDirection.direction }}</span>{% endif %}
                                                                {% endfor %}
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                {% elseif poste_recherche == ''  %}
                                                    <tr class="{% if loop.index == 1 %}gradeX{% elseif loop.index == 2 %}gradeC{% else %}gradeA{% endif %}">
                                                        <td>
                                                            <a href="" data-toggle="modal" data-target="#myModal{{ loop.index }}">
                                                                {% if user.image and not null %}
                                                                    {% if user.enligne == 1 and user.userOptionVisibilite is defined and user.UserOptionVisibilite.optEnligne == 1 and user.isActiveNow == 1 %}
                                                                        <img alt="image" width="48" class="img-circle circle-border-sm-online" src="{{ asset('uploads/images/users/' ~ user.image) }}" />
                                                                    {% else %}
                                                                        <img alt="image" width="48" class="img-circle circle-border-sm-offline" src="{{ asset('uploads/images/users/' ~ user.image) }}" />
                                                                    {% endif %}
                                                                {% else %}
                                                                    {% if user.enligne == 1 and user.UserOptionVisibilite.optEnligne is defined and user.UserOptionVisibilite.optEnligne == 1 and user.isActiveNow == 1 %}
                                                                        <img alt="image" class="img-circle circle-border-sm-online" src="{{ asset('uploads/images/users/no_image_small.jpg') }}" />
                                                                    {% else %}
                                                                        <img alt="image" class="img-circle circle-border-sm-offline" src="{{ asset('uploads/images/users/no_image_small.jpg') }}" />
                                                                    {% endif %}
                                                                {% endif %}
                                                            </a>
                                                            <div class="modal inmodal" id="myModal{{ loop.index }}" tabindex="-1" role="dialog" aria-hidden="true">
                                                                <div class="modal-dialog">
                                                                    <div class="modal-content animated bounceInRight">
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
                                                                            {% if user.image and not null %}
                                                                                {% if user.enligne == 1 and user.userOptionVisibilite is defined and user.UserOptionVisibilite.optEnligne == 1 and user.isActiveNow == 1 %}
                                                                                    <img alt="image" width="96px" class="img-circle circle-border-online m-b-md" src="{{ asset('uploads/images/users/' ~ user.image) }}" />
                                                                                {% else %}
                                                                                    <img alt="image" width="96px" class="img-circle circle-border m-b-md" src="{{ asset('uploads/images/users/' ~ user.image) }}" />
                                                                                {% endif %}
                                                                            {% else %}
                                                                                {% if user.enligne == 1 and user.UserOptionVisibilite.optEnligne is defined and user.UserOptionVisibilite.optEnligne == 1 and user.isActiveNow == 1 %}
                                                                                    <img alt="image" class="img-circle circle-border-online m-b-md" src="{{ asset('uploads/images/users/no_image_small.jpg') }}" />
                                                                                {% else %}
                                                                                    <img alt="image" class="img-circle circle-border m-b-md" src="{{ asset('uploads/images/users/no_image_small.jpg') }}" />
                                                                                {% endif %}
                                                                            {% endif %}
                                                                            <h4 class="modal-title">{{ user.nomPrenom }}</h4>
                                                                            <small class="font-bold">
                                                                                {% for post_user in poste_users | reverse if post_user.user == user %}
                                                                                    {% if loop.index == 1 %}
                                                                                    <p>
                                                                                        <strong>Poste :</strong>
                                                                                        {% if post_user.poste %}
                                                                                            {{ post_user.poste }}
                                                                                        {% else %}
                                                                                            <i class="text-danger">Poste manquant</i>
                                                                                        {% endif %}
                                                                                    </p>
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            </small>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <p>
                                                                            <ul>
                                                                                <li><strong>Matricule :</strong> {{ user.matricule }}</li>
                                                                                <li><strong>Nom d'utilisateur :</strong> {{ user.getNomPrenom() }}</li>

                                                                                {% if user.UserOptionVisibilite and user.UserOptionVisibilite.optDateNaissanceAt == 1 %}
                                                                                    <li><strong>Date de naissance :</strong> {{ user.dateNaissanceAt | date("d/m/Y") }}</li>
                                                                                {% elseif app.user == user %}
                                                                                    <li><strong>Date de naissance :</strong> {{ user.dateNaissanceAt | date("d/m/Y") }}</li>
                                                                                {% endif %}

                                                                                {% if user.UserOptionVisibilite and user.UserOptionVisibilite.optAdresse == 1 %}
                                                                                    {% if user.adresse %}<li><strong>Adresse :</strong> {{ user.adresse }}</li>{% endif %}
                                                                                {% elseif app.user == user %}
                                                                                    {% if user.adresse %}<li><strong>Adresse :</strong> {{ user.adresse }}</li>{% endif %}
                                                                                {% endif %}

                                                                                <li><strong>Tel :</strong> {{ user.tel }}</li>

                                                                                {% for post_user in poste_users | reverse if post_user.user == user %}
                                                                                    {% if loop.index == 1 %}
                                                                                        {% set fonctions = post_user.fonctions %}
                                                                                        <li><strong>Fonction(s) :</strong>
                                                                                            {% if fonctions |length == 0 %}
                                                                                                <i class="text-danger">Manquante</i>
                                                                                            {% else %}
                                                                                                <ul>
                                                                                                    {% for fonction in fonctions if fonction.designation is defined %}
                                                                                                        <li>{{ fonction.designation }}</li>
                                                                                                    {% endfor %}
                                                                                                </ul>
                                                                                            {% endif %}
                                                                                        </li>
                                                                                    {% endif %}
                                                                                {% endfor %}

                                                                                {% if user.UserOptionVisibilite and user.UserOptionVisibilite.optIndiceGroupe == 1 and user.UserOptionVisibilite.optIndiceCategorieNiveau == 1 and user.UserOptionVisibilite.optIndiceEchelon == 1 %}
                                                                                    <li><strong>Indice :</strong> {{ user.indiceGroupe ~ '.' ~ user.indiceCategorie ~ '.' ~ user.indiceEchelon }}</li>
                                                                                {% elseif app.user == user %}
                                                                                    <li><strong>Indice :</strong> {{ user.indiceGroupe ~ '.' ~ user.indiceCategorie ~ '.' ~ user.indiceEchelon }}</li>
                                                                                {% endif %}

                                                                                <li>{% if user.statut %}<strong>Statut :</strong> {{ user.statut }}{% endif %}</li>
                                                                                <li>{% if user.categorie %}<strong>Catégorie :</strong> {{ user.categorie }}{% endif %}</li>

                                                                                {% if user.UserOptionVisibilite and user.UserOptionVisibilite.optEmail == 1 %}
                                                                                    <li><strong>@Mail :</strong> {{ user.email }}</li>
                                                                                {% elseif app.user == user %}
                                                                                    <li><strong>@Mail :</strong> {{ user.email }}</li>
                                                                                {% endif %}

                                                                                <li>
                                                                                    {% if user.enligne and user.UserOptionVisibilite.optEnligne is defined and user.UserOptionVisibilite.optEnligne == 1 and user.isActiveNow == 1 %}
                                                                                        <i class="fa fa-circle text-navy"></i> <strong>Statut :</strong> En ligne
                                                                                    {% else %}
                                                                                        <i class="fa fa-circle-o text-navy"></i> <strong>Statut :</strong> Hors ligne
                                                                                    {% endif %}
                                                                                </li>
                                                                            </ul>
                                                                            </p>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            {#<button type="button" class="btn btn-primary">Envoyer un message</button>#}
                                                                            <button type="button" class="btn btn-white" data-dismiss="modal">Fermer</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <span class="badge badge-success">{{ user.nomPrenom }}</span>
                                                            <ul>
                                                                <li><strong>Matricule :</strong> {{ user.matricule }}</li>

                                                                {% for post_user in poste_users | reverse if post_user.user == user %}
                                                                    {% if loop.index == 1 %}
                                                                        <li>
                                                                            <strong>Poste :</strong>
                                                                            {% if post_user.poste %}
                                                                                {{ post_user.poste }}
                                                                                {% set posteUser = post_user.poste %}
                                                                            {% else %}
                                                                                <i class="text-danger">Manquant</i>
                                                                            {% endif %}
                                                                        </li>
                                                                    {% endif %}
                                                                {% endfor %}

                                                                <li>
                                                                    {% if user.enligne and user.UserOptionVisibilite.optEnligne is defined and user.UserOptionVisibilite.optEnligne == 1 and user.isActiveNow == 1 %}
                                                                        <i class="fa fa-circle text-navy"></i> <strong>Statut :</strong> En ligne
                                                                    {% else %}
                                                                        <i class="fa fa-circle-o text-navy"></i> <strong>Statut :</strong> Hors ligne
                                                                    {% endif %}
                                                                </li>
                                                            </ul>
                                                        </td>
                                                        <td>
                                                            {% if poste_actuel_agent == 'Directeur' or poste_actuel_agent == 'Chef de département' %}
                                                            {% else %}
                                                                {# Service d'un chef de service #}
                                                                {% for posteuser_servicedirection in posteuser_servicedirections | reverse
                                                                    if posteuser_servicedirection.PosteUser.User.id == user.id and posteuser_servicedirection.posteuser.poste == poste_actuel_agent %}
                                                                        {% if loop.index == 1 %}<span class="badge badge-success">{{ posteuser_servicedirection.servicedirection }}</span>{% endif %}
                                                                {% endfor %}

                                                                {# Service lié directement à un département#}
                                                                {% for posteuser_servicedepartementdirection in posteuser_servicedepartementdirections | reverse
                                                                    if posteuser_servicedepartementdirection.ServiceDepartementdirection.service is defined and posteuser_servicedepartementdirection.posteuser.poste == poste_actuel_agent and posteuser_servicedepartementdirection.PosteUser.User.id == user.id %}
                                                                        {% if loop.index == 1 %}
                                                                            <span class="badge badge-success">{{ posteuser_servicedepartementdirection.ServiceDepartementdirection.service }}</span>
                                                                        {% endif %}
                                                                {% endfor %}

                                                                {# Service lié directement à une direction #}
                                                                {% for posteuser_servicedirection in posteuser_servicedirections | reverse
                                                                    if posteuser_servicedirection.ServiceDirection.service is defined and posteuser_servicedirection.posteuser.poste == poste_actuel_agent and posteuser_servicedirection.PosteUser.User.id == user.id %}
                                                                        {% if loop.index == 1 %}
                                                                            <span class="badge badge-success">{{ posteuser_servicedirection.ServiceDirection.service }}</span>
                                                                        {% endif %}
                                                                {% endfor %}
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            {% if poste_actuel_agent != 'Directeur' %}
                                                                {# Département d'un chef de département #}
                                                                {% for posteuser_departement in posteuser_departements | reverse
                                                                    if posteuser_departement.PosteUser.User.id == user.id and posteuser_departement.posteuser.poste == poste_actuel_agent and posteuser_departement.DepartementDirection.departement is defined %}
                                                                        {% if loop.index == 1 %}<span class="badge badge-success">{{ posteuser_departement.DepartementDirection.departement }}</span>{% endif %}
                                                                {% endfor %}

                                                                {# Département #}
                                                                {% for posteuser_servicedepartementdirection in posteuser_servicedepartementdirections | reverse
                                                                    if posteuser_servicedepartementdirection.PosteUser.User.id == user.id and posteuser_servicedepartementdirection.posteuser.poste == poste_actuel_agent and posteuser_servicedepartementdirection.ServiceDepartementdirection.DepartementDirection.departement is defined %}
                                                                    {% if loop.index == 1 %}
                                                                        <span class="badge badge-success">{{ posteuser_servicedepartementdirection.ServiceDepartementdirection.DepartementDirection.departement }}</span>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            {% if poste_actuel_agent == 'Directeur' %}
                                                                {# direction d'un directeur #}
                                                                {% for posteuser_direction in posteuser_directions | reverse
                                                                    if posteuser_direction.PosteUser.User.id == user.id and posteuser_direction.posteuser.poste == poste_actuel_agent %}
                                                                        {% if loop.index == 1 %}
                                                                            <span class="badge badge-success">{{ posteuser_direction.direction }}</span>
                                                                        {% endif %}
                                                                {% endfor %}
                                                            {% else %}
                                                                {# direction du département lié à une direction #}
                                                                {% for posteuser_departement in posteuser_departements | reverse
                                                                    if posteuser_departement.PosteUser.User.id == user.id and posteuser_departement.posteuser.poste == poste_actuel_agent and posteuser_departement.DepartementDirection.direction is defined %}
                                                                        {% if loop.index == 1 %}<span class="badge badge-success">{{ posteuser_departement.DepartementDirection.direction }}</span>{% endif %}
                                                                {% endfor %}

                                                                {# direction du service lié directement à une direction #}
                                                                {% for posteuser_servicedirection in posteuser_servicedirections | reverse
                                                                    if posteuser_servicedirection.PosteUser.User.id == user.id and posteuser_servicedirection.posteuser.poste == poste_actuel_agent and posteuser_servicedirection.ServiceDirection.direction is defined %}
                                                                        {% if loop.index == 1 %}<span class="badge badge-success">{{ posteuser_servicedirection.ServiceDirection.direction }}</span>{% endif %}
                                                                {% endfor %}

                                                                {# direction du service lié à un département, et ce dernier lié à une direction #}
                                                                {% for posteuser_servicedepartementdirection in posteuser_servicedepartementdirections | reverse
                                                                    if posteuser_servicedepartementdirection.PosteUser.User.id == user.id and posteuser_servicedepartementdirection.posteuser.poste == poste_actuel_agent and posteuser_servicedepartementdirection.ServiceDepartementdirection.DepartementDirection.direction is defined %}
                                                                        {% if loop.index == 1 %}<span class="badge badge-success">{{ posteuser_servicedepartementdirection.ServiceDepartementdirection.DepartementDirection.direction }}</span>{% endif %}
                                                                {% endfor %}
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            {% if _POST_serv_agent or _POST_dept_agent or _POST_dir_agent or app.request.get('ile_agent') or _POST_ile_agent or _POST_poste_agent %}
                            {% else %}
                                {{ knp_pagination_render(users) }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/plugins/jeditable/jquery.jeditable.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/dataTables/datatables.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            $('.dataTables-example').DataTable({
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy', title: 'Agents-CT'},
                    {extend: 'csv', title: 'Agents-CT'},
                    {extend: 'excel', title: 'Agents-CT'},
                    {extend: 'pdf', title: 'Agents-CT'},

                    {extend: 'print',
                        customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]
            });

            /* Init DataTables */
            var oTable = $('#editable').DataTable();

            /* Apply the jEditable handlers to the table */
            oTable.$('td').editable( '../example_ajax.php', {
                "callback": function( sValue, y ) {
                    var aPos = oTable.fnGetPosition( this );
                    oTable.fnUpdate( sValue, aPos[0], aPos[1] );
                },
                "submitdata": function ( value, settings ) {
                    return {
                        "row_id": this.parentNode.getAttribute('id'),
                        "column": oTable.fnGetPosition( this )[2]
                    };
                },

                "width": "90%",
                "height": "100%"
            } );
        });
    </script>
{% endblock javascripts %}