{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Agents {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Morris --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/dataTables/datatables.min.css') }}" />
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>
                                    Les différents agents de l'agence
                                    {% for agence in agences if agence.id == app.request.query.get("id") %}
                                        <span class="text-success">{{ agence.designation }}</span>
                                    {% endfor %}
                                </h5>
                            </div>
                            <div class="ibox-content">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover dataTables-example" >
                                        <thead>
                                        <tr>
                                            <th>Services</th>
                                            <th>Agents</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            {% set agence_id = app.request.query.get("id") %}
                                            {% set total_poste_user_service_dir = 0 %}
                                            {% set total_poste_user_service_dept = 0 %}
                                            {% for service_departement in service_departements %}
                                                {% set agence_service_departements = service_departement.agenceServiceDepartements %}
                                                {% for agence_service_departement in agence_service_departements if agence_service_departement.Agence.id == agence_id %}
                                                    <tr class="{% if loop.index == 1 %}gradeX{% elseif loop.index == 2 %}gradeC{% else %}gradeA{% endif %}">
                                                        <td>
                                                            {# Services liés à un département #}
                                                            <span class="badge badge-success">{{ service_departement.service }}</span>
                                                        </td>
                                                        <td>
                                                            <ul>
                                                                {# Les agents du service #}
                                                                {% for poste_user_service in poste_user_services if poste_user_service.service == agence_service_departement.ServiceDepartement.service %}
                                                                    {% set total_poste_user_service_dept = total_poste_user_service_dept + 1 %}
                                                                    {% if (total_poste_user_service_dept) == 0 %}
                                                                        <li><strong>Pas d'agent</strong></li>
                                                                    {% else %}
                                                                        <li><span class="text-success">{{ poste_user_service.PosteUser.user }}</span></li>
                                                                        <ul>
                                                                            <li>Poste : {{ poste_user_service.PosteUser.poste }}</li>
                                                                        </ul>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            {% endfor %}

                                            {% for service_direction in service_directions %}
                                                {% set agence_service_directions = service_direction.agenceServiceDirections %}
                                                {% for agence_service_direction in agence_service_directions if agence_service_direction.Agence.id == agence_id %}
                                                    <tr class="{% if loop.index == 1 %}gradeX{% elseif loop.index == 2 %}gradeC{% else %}gradeA{% endif %}">
                                                        <td>
                                                            {# Services liés à une direction #}
                                                            <span class="badge badge-success">{{ service_direction.service }}</span>
                                                        </td>
                                                        <td>
                                                            <ul>
                                                                {# Les agents du service #}
                                                                {% for poste_user_service in poste_user_services if poste_user_service.service == agence_service_direction.ServiceDirection.service %}
                                                                    {% set total_poste_user_service_dir = total_poste_user_service_dir + 1 %}
                                                                    {% if (total_poste_user_service_dir) == 0 %}
                                                                        <li><strong>Pas d'agent</strong></li>
                                                                    {% else %}
                                                                        <li><span class="text-success">{{ poste_user_service.PosteUser.user }}</span></li>
                                                                        <ul>
                                                                            <li>Poste : {{ poste_user_service.PosteUser.poste }}</li>
                                                                        </ul>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th>Services</th>
                                            <th>Agents</th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/plugins/jeditable/jquery.jeditable.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/dataTables/datatables.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            $('.dataTables-example').DataTable({
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy', title: 'Autres-Formations'},
                    {extend: 'csv', title: 'Autres-Formations'},
                    {extend: 'excel', title: 'Autres-Formations'},
                    {extend: 'pdf', title: 'Autres-Formations'},

                    {extend: 'print',
                        customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]
            });

            /* Init DataTables */
            var oTable = $('#editable').DataTable();

            /* Apply the jEditable handlers to the table */
            oTable.$('td').editable( '../example_ajax.php', {
                "callback": function( sValue, y ) {
                    var aPos = oTable.fnGetPosition( this );
                    oTable.fnUpdate( sValue, aPos[0], aPos[1] );
                },
                "submitdata": function ( value, settings ) {
                    return {
                        "row_id": this.parentNode.getAttribute('id'),
                        "column": oTable.fnGetPosition( this )[2]
                    };
                },

                "width": "90%",
                "height": "100%"
            } );
        });
    </script>
{% endblock javascripts %}