{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Agences {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Morris --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/dataTables/datatables.min.css') }}" />
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <div class="row">
                                    <div class="col-sm-1 m-b-xs">
                                        {% if is_granted('ROLE_ADMIN_GCAR') %}
                                            <a href="{{ path('agence_new') }}" class="btn btn-sm btn-primary">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        {% endif %}
                                    </div>

                                    <div class="col-sm-5 m-b-xs">
                                        {#BOUTTON AGENCES#}
                                        <div class="btn-group">
                                            <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle btn-outline"><i class="fa fa-bank"></i>&nbsp;Filtrer les agences <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li><a href="{{ path('ct_agence') }}">Les agences ({{ total_agences | length }})</a></li>
                                                <li><a href="{{ path('ct_agence', {filter: 'agence_serv'}) }}"><i class="fa fa-search"></i> L'agence d'un tel service</a></li>
                                                <li><a href="{{ path('ct_agence', {filter: 'agence_dept'}) }}"><i class="fa fa-search"></i> L'agence d'un tel département</a></li>
                                                <li><a href="{{ path('ct_agence', {filter: 'agences_dir'}) }}"><i class="fa fa-search"></i> Les agences d'une telle direction</a></li>
                                                <li><a href="{{ path('ct_agence', {filter: 'agences_ile'}) }}"><i class="fa fa-search"></i> Les agences d'une telle île</a></li>
                                                {% if is_granted('ROLE_ADMIN_GCAR') %}
                                                    <li class="divider"></li>
                                                    <li><a href="{{ path('agence_new') }}"><i class="fa fa-plus-circle"></i> Ajouter une agence</a></li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>

                                    {% set search_agence = app.request.get('filter') %}
                                    {% if search_agence is defined and not null %}
                                        {% if search_agence == 'agence_serv' %}
                                            <div class="col-sm-6">
                                                {{ form_start(formServSearch, {
                                                    'attr': {
                                                        'class': 'form-horizontal',
                                                        'role': 'form'
                                                    }
                                                }) }}

                                                <div class="input-group">
                                                    {{ form_widget(formServSearch.service, {
                                                        'placeholder': 'Afficher l\'agence du service :',
                                                        'attr': {
                                                            'class': 'input-sm form-control',
                                                            'tabindex': '2'
                                                        }
                                                    }) }}

                                                    <span class="input-group-btn">
                                                        <button type="submit" class="btn btn-sm btn-primary"> Recherche</button>
                                                    </span>
                                                </div>
                                                {{ form_end(formServSearch) }}
                                            </div>
                                        {% elseif search_agence == 'agence_dept' %}
                                            <div class="col-sm-6">
                                                {{ form_start(formDeptSearch, {
                                                    'attr': {
                                                        'class': 'form-horizontal',
                                                        'role': 'form'
                                                    }
                                                }) }}

                                                <div class="input-group">
                                                    {{ form_widget(formDeptSearch.departement, {
                                                        'placeholder': 'Afficher l\'agence du département :',
                                                        'attr': {
                                                            'class': 'input-sm form-control',
                                                            'tabindex': '2'
                                                        }
                                                    }) }}

                                                    <span class="input-group-btn">
                                                        <button type="submit" class="btn btn-sm btn-primary"> Recherche</button>
                                                    </span>
                                                </div>
                                                {{ form_end(formDeptSearch) }}
                                            </div>
                                        {% elseif search_agence == 'agences_dir' %}
                                            <div class="col-sm-6">
                                                {{ form_start(formDirSearch, {
                                                    'attr': {
                                                        'class': 'form-horizontal',
                                                        'role': 'form'
                                                    }
                                                }) }}

                                                <div class="input-group">
                                                    {{ form_widget(formDirSearch.direction, {
                                                        'placeholder': 'Afficher les agences  de la direction :',
                                                        'attr': {
                                                            'class': 'input-sm form-control',
                                                            'tabindex': '1'
                                                        }
                                                    }) }}

                                                    <span class="input-group-btn">
                                                        <button type="submit" class="btn btn-sm btn-primary"> Recherche</button>
                                                    </span>
                                                </div>
                                                {{ form_end(formDirSearch) }}
                                            </div>
                                        {% elseif search_agence == 'agences_ile' %}
                                            <div class="col-sm-6">
                                                {{ form_start(formIleSearch, {
                                                    'attr': {
                                                        'class': 'form-horizontal',
                                                        'role': 'form'
                                                    }
                                                }) }}

                                                <div class="input-group">
                                                    {{ form_widget(formIleSearch.ile, {
                                                        'placeholder': 'Afficher les agences de l\île de :',
                                                        'attr': {
                                                            'class': 'input-sm form-control',
                                                            'tabindex': '1'
                                                        }
                                                    }) }}

                                                    <span class="input-group-btn">
                                                        <button type="submit" class="btn btn-sm btn-primary"> Recherche</button>
                                                    </span>
                                                </div>
                                                {{ form_end(formIleSearch) }}
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="ibox-content">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover dataTables-example" >
                                        <thead>
                                        <tr>
                                            <th>Agence</th>
                                            <th>Ville</th>
                                            <th>Services</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for agence in agences %}
                                            <tr class="{% if loop.index == 1 %}gradeX{% elseif loop.index == 2 %}gradeC{% else %}gradeA{% endif %}">
                                                <td>
                                                    <span class="badge badge-info">{{ agence.designation }}</span>
                                                </td>
                                                <td>
                                                    {{ agence.ville }}
                                                </td>
                                                <td>
                                                    {% set total_posteuser_servicedepartementdirection = 0 %}
                                                    {% set total_posteuser_servicedirection = 0 %}
                                                    {% for service_departementdirection in service_departementdirections if service_departementdirection.agence == agence.designation %}
                                                        {# Service lié à un département#}
                                                        <span class="badge badge-success">{{ service_departementdirection.service }}</span>

                                                        <ul>
                                                            {# Nombre d'agent du service #}
                                                            {% for posteuser_servicedirection in posteuser_servicedirections
                                                                if posteuser_servicedirection.ServiceDirection.service is defined and posteuser_servicedirection.ServiceDirection.service == service_departementdirection.service %}
                                                                {% set total_posteuser_servicedepartementdirection = total_posteuser_servicedepartementdirection + 1 %}
                                                            {% endfor %}

                                                            {% if total_posteuser_servicedepartementdirection == 0 %}
                                                                <li><strong>Nombre d'agent :</strong> 0</li>
                                                            {% else %}
                                                                <li><strong>Nombre d'agent :</strong> {{ total_posteuser_servicedepartementdirection }}</li>
                                                            {% endif %}

                                                            {#Tel#}
                                                            <li><strong>Tel :</strong>
                                                                {% set tel_length = service_departementdirection.tel  %}
                                                                {% if service_departementdirection.tel is not null %}
                                                                    {{ service_departementdirection.tel }}
                                                                {% else %}
                                                                    <i class="text-danger">Manquant</i>
                                                                {% endif %}
                                                            </li>
                                                        </ul>
                                                    {% endfor %}

                                                    {% for service_direction in service_directions if service_direction.agence == agence.designation %}
                                                        {# Service lié à une direction #}
                                                        <span class="badge badge-success">{{ service_direction.service }}</span>

                                                        <ul>
                                                            {# Nombre d'agent du service #}
                                                            {% for posteuser_servicedirection in posteuser_servicedirections if posteuser_servicedirection.service == service_direction.service %}
                                                                {% set total_posteuser_servicedirection = total_posteuser_servicedirection + 1 %}
                                                            {% endfor %}

                                                            {% if total_posteuser_servicedirection == 0 %}
                                                                <li><strong>Nombre d'agent :</strong> 0</li>
                                                            {% else %}
                                                                <li><strong>Nombre d'agent :</strong> {{ total_posteuser_servicedirection }}</li>
                                                            {% endif %}

                                                            {#Tel#}
                                                            <li><strong>Tel :</strong>
                                                                {% if service_direction.tel is not null %}
                                                                    {{ service_direction.tel }}
                                                                {% else %}
                                                                    <i class="text-danger">Manquant</i>
                                                                {% endif %}
                                                            </li>
                                                        </ul>
                                                    {% endfor %}

                                                    {# Nombre d'agent de l'agence #}
                                                    {% set total_postuser = total_posteuser_servicedepartementdirection + total_posteuser_servicedirection %}
                                                    {% if total_postuser == 0 %}
                                                        <li><strong>Nombre total d'agent de l'agence :</strong> 0</li>
                                                    {% else %}
                                                        <li><a href="{{ path('ct_agent_service_agence', {id: agence.id}) }}"><button type="button" class="fa fa-link btn btn-outline btn-info"> Nombre total d'agent de l'agence : {{ total_postuser }}</li>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th>Agence</th>
                                            <th>Ville</th>
                                            <th>Services</th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/plugins/jeditable/jquery.jeditable.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/dataTables/datatables.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            $('.dataTables-example').DataTable({
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy', title: 'Agences-CT'},
                    {extend: 'csv', title: 'Agences-CT'},
                    {extend: 'excel', title: 'Agences-CT'},
                    {extend: 'pdf', title: 'Agences-CT'},

                    {extend: 'print',
                        customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]
            });

            /* Init DataTables */
            var oTable = $('#editable').DataTable();

            /* Apply the jEditable handlers to the table */
            oTable.$('td').editable( '../example_ajax.php', {
                "callback": function( sValue, y ) {
                    var aPos = oTable.fnGetPosition( this );
                    oTable.fnUpdate( sValue, aPos[0], aPos[1] );
                },
                "submitdata": function ( value, settings ) {
                    return {
                        "row_id": this.parentNode.getAttribute('id'),
                        "column": oTable.fnGetPosition( this )[2]
                    };
                },

                "width": "90%",
                "height": "100%"
            } );
        });
    </script>
{% endblock javascripts %}