{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Départements {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Morris --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/dataTables/datatables.min.css') }}" />
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <div class="row">
                                    <div class="col-sm-1 m-b-xs">
                                        {% if is_granted('ROLE_ADMIN_GCAR') %}
                                            <a href="{{ path('departement_direction_new') }}" class="btn btn-sm btn-primary">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        {% endif %}
                                    </div>

                                    <div class="col-sm-5 m-b-xs">
                                        {#BOUTTON DEPARTEMENTS#}
                                        <div class="btn-group">
                                            <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle btn-outline"><i class="fa fa-newspaper-o"></i>&nbsp;Filtrer les départements <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li><a href="{{ path('ct_departement') }}"><i class="fa fa-eye"></i> Les départements ({{ total_departements | length }}) &nbsp;<span class="label label-warning">{{ departement_directions | length }}</span></a></li>
                                                <li><a href="{{ path('ct_departement', {filter: 'departements_dir'}) }}"><i class="fa fa-search"></i> Les départements d'une telle direction</a></li>
                                                <li><a href="{{ path('ct_departement', {filter: 'departements_agence'}) }}"><i class="fa fa-search"></i> Les départements d'une telle agence</a></li>
                                                <li><a href="{{ path('ct_departement', {filter: 'departements_ile'}) }}"><i class="fa fa-search"></i> Les départements d'une telle île</a></li>
                                                <li><a href="{{ path('ct_departement', {filter: 'departement_agent'}) }}"><i class="fa fa-search"></i> Le département d'un tel agent</a></li>
                                                {% if is_granted('ROLE_ADMIN_GCAR') %}
                                                    <li class="divider"></li>
                                                    <li><a href="{{ path('departement_direction_new') }}"><i class="fa fa-plus-circle"></i> Ajouter un département</a></li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>

                                    {% set filtre_departements = app.request.get('filter') %}
                                    {% if filtre_departements is defined and not null %}
                                        {% if filtre_departements == 'departements_dir' %}
                                            <div class="col-sm-6">
                                                {{ form_start(formDeptDirSearch, {
                                                    'attr': {
                                                        'class': 'form-horizontal',
                                                        'role': 'form'
                                                    }
                                                }) }}

                                                <div class="input-group">
                                                    {{ form_widget(formDeptDirSearch.direction, {
                                                        'placeholder': 'Afficher les départements de la direction :',
                                                        'attr': {
                                                            'class': 'input-sm form-control',
                                                            'tabindex': '2'
                                                        }
                                                    }) }}

                                                    <span class="input-group-btn">
                                                        <button type="submit" class="btn btn-sm btn-primary"> Recherche</button>
                                                    </span>
                                                </div>
                                                {{ form_end(formDeptDirSearch) }}
                                            </div>
                                        {% elseif filtre_departements == 'departements_agence' %}
                                            <div class="col-sm-6">
                                                {{ form_start(formDeptDirAgenceSearch, {
                                                    'attr': {
                                                        'class': 'form-horizontal',
                                                        'role': 'form'
                                                    }
                                                }) }}

                                                <div class="input-group">
                                                    {{ form_widget(formDeptDirAgenceSearch.agence, {
                                                        'placeholder': 'Afficher le département de l\'agence :',
                                                        'attr': {
                                                            'class': 'input-sm form-control',
                                                            'tabindex': '2'
                                                        }
                                                    }) }}

                                                    <span class="input-group-btn">
                                                        <button type="submit" class="btn btn-sm btn-primary"> Recherche</button>
                                                    </span>
                                                </div>
                                                {{ form_end(formDeptDirAgenceSearch) }}
                                            </div>
                                        {% elseif filtre_departements == 'departements_ile' %}
                                            <div class="col-sm-6">
                                                {{ form_start(formIleSearch, {
                                                    'attr': {
                                                        'class': 'form-horizontal',
                                                        'role': 'form'
                                                    }
                                                }) }}

                                                <div class="input-group">
                                                    {{ form_widget(formIleSearch.ile, {
                                                        'placeholder': 'Afficher le département de l\'île :',
                                                        'attr': {
                                                            'class': 'input-sm form-control',
                                                            'tabindex': '2'
                                                        }
                                                    }) }}

                                                    <span class="input-group-btn">
                                                        <button type="submit" class="btn btn-sm btn-primary"> Recherche</button>
                                                    </span>
                                                </div>
                                                {{ form_end(formIleSearch) }}
                                            </div>
                                        {% elseif filtre_departements == 'departement_agent' or app.request.get('matricule') is not null %}
                                            <div class="col-sm-6">
                                                {{ form_start(formAgentDeptSearch, {
                                                    'attr': {
                                                        'class': 'form-horizontal',
                                                        'role': 'form'
                                                    }
                                                }) }}

                                                <div class="input-group">
                                                    {{ form_widget(formAgentDeptSearch.matricule,{
                                                        'placeholder': 'Matricule/nom/prénom/tel ou e-mail',
                                                        'attr' : {
                                                            'class':'input-sm form-control',
                                                            'tabindex': '2'
                                                        }
                                                    }) }}

                                                    <span class="input-group-btn">
                                                        <button type="submit" class="btn btn-sm btn-primary"> Recherche</button>
                                                    </span>
                                                </div>
                                                {{ form_end(formAgentDeptSearch) }}
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="ibox-content">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover dataTables-example" >
                                        <thead>
                                        <tr>
                                            <th>Département</th>
                                            <th>Direction</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for departement in departements %}
                                            <tr class="{% if loop.index == 1 %}gradeX{% elseif loop.index == 2 %}gradeC{% else %}gradeA{% endif %}">
                                                <td>
                                                    {# Département #}
                                                    <span class="badge badge-primary">{{ departement.designation }}</span>
                                                    <ul>
                                                        {# Nombre d'agent du département #}
                                                        {% set total_posteuser_servicepartementdirection = 0 %}
                                                        {% for posteuser_servicedepartementdirection in posteuser_servicedepartementdirections
                                                            if posteuser_servicedepartementdirection.ServiceDepartementdirection.DepartementDirection is defined and posteuser_servicedepartementdirection.ServiceDepartementdirection.DepartementDirection.departement == departement.designation %}
                                                                {% set total_posteuser_servicepartementdirection = total_posteuser_servicepartementdirection + 1 %}
                                                        {% endfor %}

                                                        {% set total_posteuser_departement = 0 %}
                                                        {% for posteuser_departement in posteuser_departements
                                                            if posteuser_departement.DepartementDirection.departement is defined and posteuser_departement.DepartementDirection.departement == departement.designation %}
                                                                {% set total_posteuser_departement = total_posteuser_departement + 1 %}
                                                        {% endfor %}

                                                        {# Tel #}
                                                        {% for departement_direction in departement_directions if departement_direction.departement == departement.designation %}

                                                            {% if loop.index > 1 %}<br /><br />{% endif %}
                                                            <li>
                                                                <strong>Nombre d'agent </strong>(département <span class="text-info">{{ departement.designation }}</span>
                                                                de la direction <span class="text-success">{{ departement_direction.direction }}</span>) :
                                                                {{ total_posteuser_servicepartementdirection + total_posteuser_departement }}
                                                            </li>

                                                            <li><strong>Tel :</strong>
                                                            {% if departement_direction.tel is not null %}
                                                                {{ departement_direction.tel }}
                                                            {% else %}
                                                                <i class="text-danger">Manquant</i>
                                                            {% endif %}
                                                            </li>
                                                        {% endfor %}

                                                        {# Chef de département #}
                                                        {% for posteuser_departement in posteuser_departements
                                                            if posteuser_departement.PosteUser.Poste.designation == 'Chef de département' and posteuser_departement.DepartementDirection.departement is defined and  posteuser_departement.DepartementDirection.departement == departement.designation %}
                                                                <li><strong>Chef de département :</strong> {{ posteuser_departement.PosteUser.user }}</li>
                                                        {% endfor %}

                                                        {# Le nombre de poste #}
                                                        {% if (total_posteuser_departement + total_posteuser_servicepartementdirection) != 0 %}
                                                            <li><a href="{{ path('ct_poste_departement', {id_departement: departement.id}) }}"><button type="button" class="fa fa-link btn btn-outline btn-info"> {{ total_posteuser_servicepartementdirection + total_posteuser_departement }} poste(s)</button></a></li>
                                                        {% endif %}
                                                    </ul>
                                                </td>
                                                <td>
                                                    {% for departement_direction in departement_directions if departement_direction.departement == departement.designation %}
                                                        {#{% if loop.index > 1 %}<br /><br />{% endif %}#}
                                                        {% for direction in directions if direction.designation == departement_direction.direction %}
                                                            {# Direction du département #}
                                                            <span class="badge badge-success">{{ departement_direction.direction }}</span>

                                                            <ul>
                                                                {# Nombre d'agent de la direction #}
                                                                {% set total_posteuser_servicepartementdirection = 0 %}
                                                                {% for posteuser_servicedepartementdirection in posteuser_servicedepartementdirections
                                                                    if posteuser_servicedepartementdirection.ServiceDepartementdirection.DepartementDirection is defined and posteuser_servicedepartementdirection.ServiceDepartementdirection.DepartementDirection.departement == departement.designation %}
                                                                    {%  set total_posteuser_servicepartementdirection = total_posteuser_servicepartementdirection + 1 %}
                                                                {% endfor %}

                                                                {% set total_posteuser_departement = 0 %}
                                                                {% for posteuser_departement in posteuser_departements
                                                                    if posteuser_departement.DepartementDirection.departement is defined and posteuser_departement.DepartementDirection.departement == departement_direction.departement %}
                                                                        {%  set total_posteuser_departement = total_posteuser_departement + 1 %}
                                                                {% endfor %}

                                                                {% set total_posteuser_direction = 0 %}
                                                                {% for posteuser_direction in posteuser_directions if posteuser_direction.direction == departement_direction.direction %}
                                                                    {%  set total_posteuser_direction = total_posteuser_direction + 1 %}
                                                                {% endfor %}

                                                                <li><strong>Nombre d'agent :</strong> {{ total_posteuser_servicepartementdirection + total_posteuser_departement + total_posteuser_direction }}</li>

                                                                {# Tel #}
                                                                <li><strong>Tel :</strong>
                                                                    {% if departement_direction.direction.tel is not null %}
                                                                        {{ departement_direction.direction.tel }}
                                                                    {% else %}
                                                                        <i class="text-danger">Manquant</i>
                                                                    {% endif %}
                                                                </li>
                                                                {# Directeur #}
                                                                {% for posteuser_direction in posteuser_directions if posteuser_direction.PosteUser.Poste.designation == 'Directeur' and posteuser_direction.direction == departement_direction.direction %}
                                                                    <li><strong>Directeur :</strong> {{ posteuser_direction.PosteUser.user }}</li>
                                                                {% endfor %}
                                                            </ul>
                                                        {% endfor %}
                                                    {% endfor %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th>Département</th>
                                            <th>Direction</th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/plugins/jeditable/jquery.jeditable.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/dataTables/datatables.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            $('.dataTables-example').DataTable({
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy', title: 'Départements-CT'},
                    {extend: 'csv', title: 'Départements-CT'},
                    {extend: 'excel', title: 'Départements-CT'},
                    {extend: 'pdf', title: 'Départements-CT'},

                    {extend: 'print',
                        customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]
            });

            /* Init DataTables */
            var oTable = $('#editable').DataTable();

            /* Apply the jEditable handlers to the table */
            oTable.$('td').editable( '../example_ajax.php', {
                "callback": function( sValue, y ) {
                    var aPos = oTable.fnGetPosition( this );
                    oTable.fnUpdate( sValue, aPos[0], aPos[1] );
                },
                "submitdata": function ( value, settings ) {
                    return {
                        "row_id": this.parentNode.getAttribute('id'),
                        "column": oTable.fnGetPosition( this )[2]
                    };
                },

                "width": "90%",
                "height": "100%"
            } );
        });
    </script>
{% endblock javascripts %}