{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Directions {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Morris --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/dataTables/datatables.min.css') }}" />
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <div class="row">
                                    <div class="col-sm-1 m-b-xs">
                                        {% if is_granted('ROLE_ADMIN_GCAR') %}
                                            <a href="{{ path('fos_user_registration_register') }}" class="btn btn-sm btn-primary">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        {% endif %}
                                    </div>

                                    <div class="col-sm-5 m-b-xs">
                                        {#BOUTTON DIRECTIONS#}
                                        <div class="btn-group">
                                            <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle btn-outline"><i class="fa fa-newspaper-o"></i>&nbsp;Filtrer les directions <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li><a href="{{ path('ct_direction') }}"><i class="fa fa-eye"></i> Les directions ({{ total_directions | length }})</a></li>
                                                <li><a href="{{ path('ct_direction', {filter: 'direction_serv'}) }}"><i class="fa fa-search"></i> La direction d'un tel service</a></li>
                                                <li><a href="{{ path('ct_direction', {filter: 'direction_dept'}) }}"><i class="fa fa-search"></i> La direction d'un tel département</a></li>
                                                <li><a href="{{ path('ct_direction', {filter: 'direction_agence'}) }}"><i class="fa fa-search"></i> La direction d'une telle agence</a></li>
                                                <li><a href="{{ path('ct_direction', {filter: 'directions_ile'}) }}"><i class="fa fa-search"></i> Les directions d'une telle île</a></li>
                                                <li><a href="{{ path('ct_direction', {filter: 'direction_agent'}) }}"><i class="fa fa-search"></i> La direction d'un tel agent</a></li>
                                                {% if is_granted('ROLE_ADMIN_GCAR') %}
                                                    <li class="divider"></li>
                                                    <li><a href="{{ path('admin.ct_gcar.addServ') }}"><i class="fa fa-plus-circle"></i> Ajouter une direction</a></li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>

                                    {% set filtre_direction = app.request.get('filter') %}
                                    {% if filtre_direction is defined and not null %}
                                        {% if filtre_direction == 'direction_dept' %}
                                            <div class="col-sm-6">
                                                {{ form_start(formDeptDirSearch, {
                                                    'attr': {
                                                        'class': 'form-horizontal',
                                                        'role': 'form'
                                                    }
                                                }) }}

                                                <div class="input-group">
                                                    {{ form_widget(formDeptDirSearch.departement, {
                                                        'placeholder': 'Afficher la direction du département :',
                                                        'attr': {
                                                            'class': 'input-sm form-control',
                                                            'tabindex': '2'
                                                        }
                                                    }) }}

                                                    <span class="input-group-btn">
                                                        <button type="submit" class="btn btn-sm btn-primary"> Recherche</button>
                                                    </span>
                                                </div>
                                                {{ form_end(formDeptDirSearch) }}
                                            </div>
                                        {% elseif filtre_direction == 'direction_serv' %}
                                            <div class="col-sm-6">
                                                {{ form_start(formServDeptDirSearch, {
                                                    'attr': {
                                                        'class': 'form-horizontal',
                                                        'role': 'form'
                                                    }
                                                }) }}

                                                <div class="input-group">
                                                    {{ form_widget(formServDeptDirSearch.service, {
                                                        'placeholder': 'Afficher la direction du service :',
                                                        'attr': {
                                                            'class': 'input-sm form-control',
                                                            'tabindex': '2'
                                                        }
                                                    }) }}

                                                    <span class="input-group-btn">
                                                        <button type="submit" class="btn btn-sm btn-primary"> Recherche</button>
                                                    </span>
                                                </div>
                                                {{ form_end(formServDeptDirSearch) }}
                                            </div>
                                        {% elseif filtre_direction == 'direction_agence' %}
                                            <div class="col-sm-6">
                                                {{ form_start(formServDirAgenceSearch, {
                                                    'attr': {
                                                        'class': 'form-horizontal',
                                                        'role': 'form'
                                                    }
                                                }) }}

                                                <div class="input-group">
                                                    {{ form_widget(formServDirAgenceSearch.agence, {
                                                        'placeholder': 'Afficher la direction de l\'agence :',
                                                        'attr': {
                                                            'class': 'input-sm form-control',
                                                            'tabindex': '1'
                                                        }
                                                    }) }}

                                                    <span class="input-group-btn">
                                                        <button type="submit" class="btn btn-sm btn-primary"> Recherche</button>
                                                    </span>
                                                </div>
                                                {{ form_end(formServDirAgenceSearch) }}
                                            </div>
                                        {% elseif filtre_direction == 'directions_ile' %}
                                            <div class="col-sm-6">
                                                {{ form_start(formIleSearch, {
                                                    'attr': {
                                                        'class': 'form-horizontal',
                                                        'role': 'form'
                                                    }
                                                }) }}

                                                <div class="input-group">
                                                    {{ form_widget(formIleSearch.ile, {
                                                        'placeholder': 'Afficher la direction de l\'île :',
                                                        'attr': {
                                                            'class': 'input-sm form-control',
                                                            'tabindex': '1'
                                                        }
                                                    }) }}

                                                    <span class="input-group-btn">
                                                        <button type="submit" class="btn btn-sm btn-primary"> Recherche</button>
                                                    </span>
                                                </div>
                                                {{ form_end(formIleSearch) }}
                                            </div>
                                        {% elseif filtre_direction == 'direction_agent' or app.request.get('matricule') is not null %}
                                            <div class="col-sm-6">
                                                {{ form_start(formAgentDirSearch, {
                                                    'attr': {
                                                        'class': 'form-horizontal',
                                                        'role': 'form'
                                                    }
                                                }) }}

                                                <div class="input-group">
                                                    {{ form_widget(formAgentDirSearch.matricule,{
                                                        'placeholder': 'Matricule/nom/prénom/tel ou e-mail',
                                                        'attr' : {
                                                            'class':'input-sm form-control',
                                                            'tabindex': '2'
                                                        }
                                                    }) }}

                                                    <span class="input-group-btn">
                                                        <button type="submit" class="btn btn-sm btn-primary"> Recherche</button>
                                                    </span>
                                                </div>
                                                {{ form_end(formAgentDirSearch) }}
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="ibox-content">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover dataTables-example" >
                                        <thead>
                                        <tr>
                                            <th>Direction</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for direction in directions %}
                                            <tr class="{% if loop.index == 1 %}gradeX{% elseif loop.index == 2 %}gradeC{% else %}gradeA{% endif %}">
                                                <td>
                                                    {# Direction #}
                                                    {% if loop.index > 1 %}<br /><br />{% endif %} <span class="badge badge-success">{{ direction.designation }}</span>

                                                    <ul>
                                                        {# Nombre d'agent de la direction #}
                                                        {% set total_posteuser_service_dir = 0 %}
                                                        {#{% for posteuser_servicedirection in posteuser_servicedirections %}
                                                            #}{#{% set service_directions = posteuser_servicedirection.Service.serviceDirections %}#}{#
                                                            {% for service_direction in service_directions if service_direction.direction == direction.designation %}
                                                                {%  set total_posteuser_service_dir = total_posteuser_service_dir + 1 %}
                                                            {% endfor %}
                                                        {% endfor %}#}
                                                        {% for posteuser_servicedirection in posteuser_servicedirections
                                                            if posteuser_servicedirection.ServiceDirection.direction is defined and posteuser_servicedirection.ServiceDirection.direction == direction.designation %}
                                                            {%  set total_posteuser_service_dir = total_posteuser_service_dir + 1 %}
                                                        {% endfor %}

                                                        {% set total_posteuser_service_dpt = 0 %}
                                                        {% for posteuser_servicedirection in posteuser_servicedirections
                                                            if posteuser_servicedirection.ServiceDirection.direction is defined and posteuser_servicedirection.ServiceDirection.direction == direction.designation %}
                                                            {#{% set service_departements = posteuser_servicedirection.ServiceDirection.Service.serviceDepartements %}
                                                            {% for service_departement in service_departements %}
                                                                {% set departement_directions = service_departement.Departement.departementDirections %}
                                                                {% for departement_direction in departement_directions if departement_direction.direction == direction.designation %}
                                                                    {%  set total_posteuser_service_dpt = total_posteuser_service_dpt + 1 %}
                                                                {% endfor %}
                                                            {% endfor %}#}

                                                            {#{% for service_departementdirection in service_departementdirections %}
                                                                {% set departement_directions = service_departementdirection.Departement.departementDirections %}
                                                                {% for departement_direction in departement_directions if departement_direction.direction == direction.designation %}
                                                                    {%  set total_posteuser_service_dpt = total_posteuser_service_dpt + 1 %}
                                                                {% endfor %}
                                                            {% endfor %}#}

                                                            {% for service_departementdirection in service_departementdirections
                                                                if service_departementdirection.DepartementDirection.direction == direction.designation %}
                                                                {%  set total_posteuser_service_dpt = total_posteuser_service_dpt + 1 %}
                                                            {% endfor %}
                                                        {% endfor %}

                                                        {% set total_posteuser_departement = 0 %}
                                                        {#{% for posteuser_departement in posteuser_departements %}
                                                            {% set departement_directions = posteuser_departement.Departement.departementDirections %}
                                                            {% for departement_direction in departement_directions if departement_direction.direction == direction.designation %}
                                                                {%  set total_posteuser_departement = total_posteuser_departement + 1 %}
                                                            {% endfor %}
                                                        {% endfor %}#}

                                                        {% for posteuser_departement in posteuser_departements
                                                            if posteuser_departement.DepartementDirection.direction is defined and posteuser_departement.DepartementDirection.direction == direction.designation %}
                                                                {%  set total_posteuser_departement = total_posteuser_departement + 1 %}
                                                        {% endfor %}

                                                        {% set total_poste_user_direction = 0 %}
                                                        {% for posteuser_direction in posteuser_directions if posteuser_direction.direction == direction.designation %}
                                                            {%  set total_poste_user_direction = total_poste_user_direction + 1 %}
                                                        {% endfor %}

                                                        {% if (total_poste_user_direction + total_posteuser_departement + total_posteuser_service_dir + total_posteuser_service_dpt) == 0 %}
                                                            <li><strong>Nombre d'agent :</strong> 0</li>
                                                        {% else %}
                                                            <li><strong>Nombre d'agent :</strong> {{ total_posteuser_service_dir + total_posteuser_service_dpt + total_posteuser_departement + total_poste_user_direction }}</li>
                                                        {% endif %}

                                                        {# Tel #}
                                                        <li><strong>Tel :</strong>
                                                            {% if direction.tel is not null %}
                                                                {{ direction.tel }}
                                                            {% else %}
                                                                <i class="text-danger">Manquant</i>
                                                            {% endif %}
                                                        </li>
                                                        {# Directeur #}
                                                        {% for posteuser_direction in posteuser_directions if posteuser_direction.PosteUser.Poste.designation == 'Directeur' and posteuser_direction.direction == direction.designation %}
                                                            <li><strong>Directeur :</strong> {{ posteuser_direction.PosteUser.user }}</li>
                                                        {% endfor %}

                                                        {# Le nombre de poste #}
                                                        {% set total_postuser = total_poste_user_direction + total_posteuser_departement + total_posteuser_service_dir + total_posteuser_service_dpt %}
                                                        {% if total_postuser != 0 %}
                                                            <li><a href="{{ path('ct_poste_direction', {id: direction.id}) }}"><button type="button" class="fa fa-link btn btn-outline btn-info"> {{ total_postuser }} poste(s)</button></a></li>
                                                        {% endif %}
                                                    </ul>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th>Direction</th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/plugins/jeditable/jquery.jeditable.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/dataTables/datatables.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            $('.dataTables-example').DataTable({
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy', title: 'Directions-CT'},
                    {extend: 'csv', title: 'Directions-CT'},
                    {extend: 'excel', title: 'Directions-CT'},
                    {extend: 'pdf', title: 'Directions-CT'},

                    {extend: 'print',
                        customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]
            });

            /* Init DataTables */
            var oTable = $('#editable').DataTable();

            /* Apply the jEditable handlers to the table */
            oTable.$('td').editable( '../example_ajax.php', {
                "callback": function( sValue, y ) {
                    var aPos = oTable.fnGetPosition( this );
                    oTable.fnUpdate( sValue, aPos[0], aPos[1] );
                },
                "submitdata": function ( value, settings ) {
                    return {
                        "row_id": this.parentNode.getAttribute('id'),
                        "column": oTable.fnGetPosition( this )[2]
                    };
                },

                "width": "90%",
                "height": "100%"
            } );
        });
    </script>
{% endblock javascripts %}