{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Filtres {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Morris --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/dataTables/datatables.min.css') }}" />
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-content text-center">
                                            {# BOUTTON SERVICES #}
                                            <div class="btn-group">
                                                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle btn-outline"><i class="fa fa-newspaper-o"></i>&nbsp;Services <span class="caret"></span></button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="{{ path('ct_service', {filter: 'services_dir'}) }}"><i class="fa fa-search"></i> Les services d'une telle direction</a></li>
                                                    <li><a href="{{ path('ct_service', {filter: 'services_dept'}) }}"><i class="fa fa-search"></i> Les services d'un tel département</a></li>
                                                    <li><a href="{{ path('ct_service', {filter: 'services_agence'}) }}"><i class="fa fa-search"></i> Les services d'une telle agence</a></li>
                                                    <li><a href="{{ path('ct_service', {filter: 'services_ile'}) }}"><i class="fa fa-search"></i> Les services d'une telle île</a></li>
                                                    <li><a href="{{ path('ct_service', {filter: 'service_agent'}) }}"><i class="fa fa-search"></i> Le service d'un tel agent</a></li>
                                                    {% if is_granted('ROLE_ADMIN_GCAR') %}
                                                        <li class="divider"></li>
                                                        <li><a href="{{ path('admin.ct_gcar.addServ') }}"><i class="fa fa-plus-circle"></i> Ajouter un service</a></li>
                                                    {% endif %}
                                                </ul>
                                            </div>

                                            {#BOUTTON DEPARTEMENTS#}
                                            <div class="btn-group">
                                                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle btn-outline"><i class="fa fa-newspaper-o"></i>&nbsp;Départements <span class="caret"></span></button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="{{ path('ct_departement', {filter: 'departements_dir'}) }}"><i class="fa fa-search"></i> Les départements d'une telle direction</a></li>
                                                    <li><a href="{{ path('ct_departement', {filter: 'departements_agence'}) }}"><i class="fa fa-search"></i> Les départements d'une telle agence</a></li>
                                                    <li><a href="{{ path('ct_departement', {filter: 'departements_ile'}) }}"><i class="fa fa-search"></i> Les départements d'une telle île</a></li>
                                                    <li><a href="{{ path('ct_departement', {filter: 'departements_agent'}) }}"><i class="fa fa-search"></i> Le département d'un tel agent</a></li>
                                                    {% if is_granted('ROLE_ADMIN_GCAR') %}
                                                        <li class="divider"></li>
                                                        <li><a href="{{ path('departement_direction_new') }}"><i class="fa fa-plus-circle"></i> Ajouter un département</a></li>
                                                    {% endif %}
                                                </ul>
                                            </div>

                                            {#BOUTTON DIRECTIONS#}
                                            <div class="btn-group">
                                                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle btn-outline"><i class="fa fa-newspaper-o"></i>&nbsp;Directions <span class="caret"></span></button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="{{ path('ct_direction', {filter: 'direction_serv'}) }}"><i class="fa fa-search"></i> La direction d'un tel service</a></li>
                                                    <li><a href="{{ path('ct_direction', {filter: 'direction_dept'}) }}"><i class="fa fa-search"></i> La direction d'un tel département</a></li>
                                                    <li><a href="{{ path('ct_direction', {filter: 'direction_agence'}) }}"><i class="fa fa-search"></i> La direction d'une telle agence</a></li>
                                                    <li><a href="{{ path('ct_direction', {filter: 'directions_ile'}) }}"><i class="fa fa-search"></i> Les directions d'une telle île</a></li>
                                                    <li><a href="{{ path('ct_direction', {filter: 'direction_agent'}) }}"><i class="fa fa-search"></i> La direction d'un tel agent</a></li>
                                                    {% if is_granted('ROLE_ADMIN_GCAR') %}
                                                        <li class="divider"></li>
                                                        <li><a href="{{ path('admin.ct_gcar.addServ') }}"><i class="fa fa-plus-circle"></i> Ajouter une direction</a></li>
                                                    {% endif %}
                                                </ul>
                                            </div>

                                            {#BOUTTON AGENCES#}
                                            <div class="btn-group">
                                                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle btn-outline"><i class="fa fa-bank"></i>&nbsp;Agences <span class="caret"></span></button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="{{ path('ct_agence', {filter: 'agence_serv'}) }}"><i class="fa fa-search"></i> L'agence d'un tel service</a></li>
                                                    <li><a href="{{ path('ct_agence', {filter: 'agence_dept'}) }}"><i class="fa fa-search"></i> L'agence d'un tel département</a></li>
                                                    <li><a href="{{ path('ct_agence', {filter: 'agences_dir'}) }}"><i class="fa fa-search"></i> Les agences d'une telle direction</a></li>
                                                    <li><a href="{{ path('ct_agence', {filter: 'agences_ile'}) }}"><i class="fa fa-search"></i> Les agences d'une telle île</a></li>
                                                    {% if is_granted('ROLE_ADMIN_GCAR') %}
                                                        <li class="divider"></li>
                                                        <li><a href="#"><i class="fa fa-plus-circle"></i> Ajouter une agence</a></li>
                                                    {% endif %}
                                                </ul>
                                            </div>

                                            {# BOUTTON AGENTS #}
                                            <div class="btn-group">
                                                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle btn-outline"><i class="fa fa-users"></i>&nbsp;Agents <span class="caret"></span></button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="{{ path('ct_agent', {filter: 'agents_serv'}) }}"><i class="fa fa-search"></i> Les agents d'un tel service</a></li>
                                                    <li><a href="{{ path('ct_agent', {filter: 'agents_dept'}) }}"><i class="fa fa-search"></i> Les agents d'un tel département</a></li>
                                                    <li><a href="{{ path('ct_agent', {filter: 'agents_dir'}) }}"><i class="fa fa-search"></i> Les agents d'une telle direction</a></li>
                                                    <li><a href="{{ path('ct_agent', {filter: 'agents_ile'}) }}"><i class="fa fa-search"></i> Les agents d'une telle île</a></li>
                                                    <li><a href="{{ path('ct_agent', {filter: 'agents_poste'}) }}"><i class="fa fa-search"></i> Les agents d'un tel poste</a></li>
                                                    {% if is_granted('ROLE_ADMIN_GCAR') %}
                                                        <li class="divider"></li>
                                                        <li><a href="#"><i class="fa fa-plus-circle"></i> Ajouter un agent</a></li>
                                                    {% endif %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {#<div class="ibox-content">

                            </div>#}
                        </div>
                    </div>
                </div>
            </div>
        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/plugins/jeditable/jquery.jeditable.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/dataTables/datatables.min.js') }}"></script>
{% endblock javascripts %}