{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Postes de la direction {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Morris --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/dataTables/datatables.min.css') }}" />
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>
                                    Les différentes postes de la direction
                                    {% for direction in directions if direction.id == app.request.query.get("id") %}
                                        <span class="text-success">{{ direction.designation }}</span>
                                    {% endfor %}
                                </h5>
                            </div>
                            <div class="ibox-content">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover dataTables-example" >
                                        <thead>
                                        <tr>
                                            <th>Postes</th>
                                            <th>Fonctions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            {% set direction_id = app.request.query.get("id") %}
                                            {% for poste_user_direction in poste_user_directions if poste_user_direction.Direction.id == direction_id %}
                                                <tr class="{% if loop.index == 1 %}gradeX{% elseif loop.index == 2 %}gradeC{% else %}gradeA{% endif %}">
                                                    <td>
                                                        <ul>
                                                            <li class="badge badge-success">{{ poste_user_direction.PosteUser.Poste.designation }} : </li>
                                                            <ul>
                                                                <li>
                                                                    {{ poste_user_direction.PosteUser.user }}
                                                                </li>
                                                            </ul>
                                                        </ul>
                                                    </td>
                                                    <td>
                                                        {% set fonctions = poste_user_direction.PosteUser.fonctions %}
                                                        <ul>
                                                            {% for fonction in fonctions %}
                                                                <li>
                                                                    {{ fonction.designation }}
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </td>
                                                </tr>
                                            {% endfor %}

                                            {% for poste_user_departement in poste_user_departements %}
                                                {% set departement_directions = poste_user_departement.Departement.departementDirections %}
                                                {% for departement_direction in departement_directions if departement_direction.Direction.id == direction_id %}
                                                    <tr class="{% if loop.index == 1 %}gradeX{% elseif loop.index == 2 %}gradeC{% else %}gradeA{% endif %}">
                                                        <td>
                                                            <ul>
                                                                <li class="badge badge-success">{{ poste_user_departement.PosteUser.Poste.designation }} : </li>
                                                                <ul>
                                                                    <li>
                                                                        {{ poste_user_departement.PosteUser.user }}
                                                                    </li>
                                                                </ul>
                                                            </ul>
                                                        </td>
                                                        <td>
                                                            {% set fonctions = poste_user_departement.PosteUser.fonctions %}
                                                            <ul>
                                                                {% for fonction in fonctions %}
                                                                    <li>
                                                                        {{ fonction.designation }}
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            {% endfor %}

                                            {% for poste_user_service in poste_user_services %}
                                                {% set service_directions = poste_user_service.Service.serviceDirections %}
                                                {% for service_direction in service_directions if service_direction.Direction.id == direction_id %}
                                                    <tr class="{% if loop.index == 1 %}gradeX{% elseif loop.index == 2 %}gradeC{% else %}gradeA{% endif %}">
                                                        <td>
                                                            <ul>
                                                                <li class="badge badge-success">{{ poste_user_service.PosteUser.Poste.designation }} : </li>
                                                                <ul>
                                                                    <li>
                                                                        {{ poste_user_service.PosteUser.user }}
                                                                    </li>
                                                                </ul>
                                                            </ul>
                                                        </td>
                                                        <td>
                                                            {% set fonctions = poste_user_service.PosteUser.fonctions %}
                                                            <ul>
                                                                {% for fonction in fonctions %}
                                                                    <li>
                                                                        {{ fonction.designation }}
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            {% endfor %}

                                            {% for poste_user_service in poste_user_services %}
                                                {% set service_departements = poste_user_service.Service.serviceDepartements %}
                                                {% for service_departement in service_departements %}
                                                    {% set departement_directions = service_departement.Departement.departementDirections %}
                                                    {% for departement_direction in departement_directions if departement_direction.Direction.id == direction_id %}
                                                        <tr class="{% if loop.index == 1 %}gradeX{% elseif loop.index == 2 %}gradeC{% else %}gradeA{% endif %}">
                                                            <td>
                                                                <ul>
                                                                    <li class="badge badge-success">{{ poste_user_service.PosteUser.Poste.designation }} : </li>
                                                                    <ul>
                                                                        <li>
                                                                            {{ poste_user_service.PosteUser.user }}
                                                                        </li>
                                                                    </ul>
                                                                </ul>
                                                            </td>
                                                            <td>
                                                                {% set fonctions = poste_user_service.PosteUser.fonctions %}
                                                                <ul>
                                                                    {% for fonction in fonctions %}
                                                                        <li>
                                                                            {{ fonction.designation }}
                                                                        </li>
                                                                    {% endfor %}
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                {% endfor %}
                                            {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th>Postes</th>
                                            <th>Fonctions</th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/plugins/jeditable/jquery.jeditable.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/dataTables/datatables.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            $('.dataTables-example').DataTable({
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy', title: 'Postes-Fonctions'},
                    {extend: 'csv', title: 'Postes-Fonctions'},
                    {extend: 'excel', title: 'Postes-Fonctions'},
                    {extend: 'pdf', title: 'Postes-Fonctions'},

                    {extend: 'print',
                        customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]
            });

            /* Init DataTables */
            var oTable = $('#editable').DataTable();

            /* Apply the jEditable handlers to the table */
            oTable.$('td').editable( '../example_ajax.php', {
                "callback": function( sValue, y ) {
                    var aPos = oTable.fnGetPosition( this );
                    oTable.fnUpdate( sValue, aPos[0], aPos[1] );
                },
                "submitdata": function ( value, settings ) {
                    return {
                        "row_id": this.parentNode.getAttribute('id'),
                        "column": oTable.fnGetPosition( this )[2]
                    };
                },

                "width": "90%",
                "height": "100%"
            } );
        });
    </script>
{% endblock javascripts %}