{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Services {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Morris --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/dataTables/datatables.min.css') }}" />
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <div class="row">
                                    <div class="col-sm-1 m-b-xs">
                                        {% if is_granted('ROLE_ADMIN_GCAR') %}
                                            <a href="{{ path('admin.ct_gcar.indexServ') }}" class="btn btn-sm btn-primary">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        {% endif %}
                                    </div>

                                    <div class="col-sm-5 m-b-xs">
                                        {# BOUTTON SERVICES #}
                                        <div class="btn-group">
                                            <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle btn-outline"><i class="fa fa-newspaper-o"></i>&nbsp;Filtrer les services <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li><a href="{{ path('ct_service') }}"><i class="fa fa-eye"></i> Les services ({{ total_services | length }}) &nbsp;<span class="label label-warning">{{ service_departementdirections | length + service_directions | length }}</span></a></li>
                                                <li><a href="{{ path('ct_service', {filter: 'services_dir'}) }}"><i class="fa fa-search"></i> Les services d'une telle direction</a></li>
                                                <li><a href="{{ path('ct_service', {filter: 'services_dept'}) }}"><i class="fa fa-search"></i> Les services d'un tel département</a></li>
                                                <li><a href="{{ path('ct_service', {filter: 'services_agence'}) }}"><i class="fa fa-search"></i> Les services d'une telle agence</a></li>
                                                <li><a href="{{ path('ct_service', {filter: 'services_ile'}) }}"><i class="fa fa-search"></i> Les services d'une telle île</a></li>
                                                <li><a href="{{ path('ct_service', {filter: 'service_agent'}) }}"><i class="fa fa-search"></i> Le service d'un tel agent</a></li>
                                                {% if is_granted('ROLE_ADMIN_GCAR') %}
                                                    <li class="divider"></li>
                                                    <li><a href="{{ path('admin.ct_gcar.indexServ') }}"><i class="fa fa-plus-circle"></i> Ajouter un service</a></li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>

                                    {% set filtre_services = app.request.get('filter') %}
                                    {% if filtre_services is defined and not null or app.request.get('matricule') is defined %}
                                        {% if filtre_services == 'services_dir' %}
                                            <div class="col-sm-6">
                                                {{ form_start(formDeptDirSearch, {
                                                    'attr': {
                                                        'class': 'form-horizontal',
                                                        'role': 'form'
                                                    }
                                                }) }}

                                                <div class="input-group">
                                                    {{ form_widget(formDeptDirSearch.direction, {
                                                        'placeholder': 'Afficher les services de la direction :',
                                                        'attr': {
                                                            'class': 'input-sm form-control',
                                                            'tabindex': '2'
                                                        }
                                                    }) }}

                                                    <span class="input-group-btn">
                                                        <button type="submit" class="btn btn-sm btn-primary"> Recherche</button>
                                                    </span>
                                                </div>
                                                {{ form_end(formDeptDirSearch) }}
                                            </div>
                                        {% elseif filtre_services == 'services_dept' %}
                                            <div class="col-sm-6">
                                                {{ form_start(formDeptSearch, {
                                                    'attr': {
                                                        'class': 'form-horizontal',
                                                        'role': 'form'
                                                    }
                                                }) }}

                                                <div class="input-group">
                                                    {{ form_widget(formDeptSearch.departement, {
                                                        'placeholder': 'Afficher les services du département :',
                                                        'attr': {
                                                            'class': 'input-sm form-control',
                                                            'tabindex': '1'
                                                        }
                                                    }) }}

                                                    <span class="input-group-btn">
                                                        <button type="submit" class="btn btn-sm btn-primary"> Recherche</button>
                                                    </span>
                                                </div>
                                                {{ form_end(formDeptSearch) }}
                                            </div>
                                        {% elseif filtre_services == 'services_agence' %}
                                            <div class="col-sm-6">
                                                {{ form_start(formServDeptDirAgenceSearch, {
                                                    'attr': {
                                                        'class': 'form-horizontal',
                                                        'role': 'form'
                                                    }
                                                }) }}

                                                <div class="input-group">
                                                    {{ form_widget(formServDeptDirAgenceSearch.agence, {
                                                        'placeholder': 'Afficher les services de l\'agence :',
                                                        'attr': {
                                                            'class': 'input-sm form-control',
                                                            'tabindex': '2'
                                                        }
                                                    }) }}

                                                    <span class="input-group-btn">
                                                        <button type="submit" class="btn btn-sm btn-primary"> Recherche</button>
                                                    </span>
                                                </div>
                                                {{ form_end(formServDeptDirAgenceSearch) }}
                                            </div>
                                        {% elseif filtre_services == 'services_ile' %}
                                            <div class="col-sm-6">
                                                {{ form_start(formIleSearch, {
                                                    'attr': {
                                                        'class': 'form-horizontal',
                                                        'role': 'form'
                                                    }
                                                }) }}

                                                <div class="input-group">
                                                    {{ form_widget(formIleSearch.ile, {
                                                        'placeholder': 'Afficher les services de l\'île :',
                                                        'attr': {
                                                            'class': 'input-sm form-control',
                                                            'tabindex': '2'
                                                        }
                                                    }) }}

                                                    <span class="input-group-btn">
                                                        <button type="submit" class="btn btn-sm btn-primary"> Recherche</button>
                                                    </span>
                                                </div>
                                                {{ form_end(formIleSearch) }}
                                            </div>
                                        {% elseif filtre_services == 'service_agent' or app.request.get('matricule') is not null %}
                                            <div class="col-sm-6">
                                                {{ form_start(formAgentServSearch, {
                                                    'attr': {
                                                        'class': 'form-horizontal',
                                                        'role': 'form'
                                                    }
                                                }) }}

                                                <div class="input-group">
                                                    {{ form_widget(formAgentServSearch.matricule,{
                                                        'placeholder': 'Matricule/nom/prénom/tel ou e-mail',
                                                        'attr' : {
                                                            'class':'input-sm form-control',
                                                            'tabindex': '2'
                                                        }
                                                    }) }}

                                                    <span class="input-group-btn">
                                                        <button type="submit" class="btn btn-sm btn-primary"> Recherche</button>
                                                    </span>
                                                </div>
                                                {{ form_end(formAgentServSearch) }}
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>

                            <div class="ibox-content">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover dataTables-example" >
                                        <thead>
                                        <tr>
                                            <th>Service</th>
                                            <th>Département</th>
                                            <th>Direction</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for service in services %}
                                            <tr class="{% if loop.index == 1 %}gradeX{% elseif loop.index == 2 %}gradeC{% else %}gradeA{% endif %}">
                                                <td>
                                                    {# Service #}
                                                    <span class="badge badge-info">{{ service.designation }}</span>

                                                    <ul>
                                                        {# Nombre d'agent du service #}
                                                        {% set total_posteuser_servicedepartementdirection = 0 %}
                                                        {% for service_departementdirection in service_departementdirections if service_departementdirection.service == service.designation %}
                                                            {% if loop.index > 1 %}<br /><br />{% endif %}

                                                            {% for posteuser_servicedepartementdirection in posteuser_servicedepartementdirections
                                                                if posteuser_servicedepartementdirection.ServiceDepartementdirection.service is defined and posteuser_servicedepartementdirection.ServiceDepartementdirection.service == service.designation %}
                                                                {%  set total_posteuser_servicedepartementdirection = total_posteuser_servicedepartementdirection + 1 %}
                                                            {% endfor %}
                                                            {# Nombre d'agent service/departement #}
                                                            <li><strong>Nombre d'agent </strong>(service <span class="text-info">{{ service.designation }}</span>
                                                                du département {{ service_departementdirection.DepartementDirection.departement }} de la direction
                                                                <span class="text-success">{{ service_departementdirection.DepartementDirection.direction }}</span>) :
                                                                {{ total_posteuser_servicedepartementdirection }}
                                                            </li>

                                                            {# Tel service/departement #}
                                                            <li>
                                                                <strong>Tel :</strong>
                                                                {% if service_departementdirection.tel  %}
                                                                    {{ service_departementdirection.tel }}
                                                                {% else %}
                                                                    <i class="text-danger">Manquant</i>
                                                                {% endif %}
                                                            </li>
                                                        {% endfor %}

                                                        {# Tel service/direction #}
                                                        {% for service_direction in service_directions if service_direction.service == service.designation %}

                                                            {% for posteuser_servicedepartementdirection in posteuser_servicedepartementdirections
                                                                if posteuser_servicedepartementdirection.ServiceDepartementdirection.service is defined and posteuser_servicedepartementdirection.ServiceDepartementdirection.service == service.designation %}
                                                                {%  set total_posteuser_servicedepartementdirection = total_posteuser_servicedepartementdirection + 1 %}
                                                            {% endfor %}
                                                            {# Nombre d'agent service/departement #}
                                                            <li>
                                                                <strong>Nombre d'agent </strong>(service <span class="text-info">{{ service.designation }}</span> de la direction
                                                                <span class="text-success">{{ service_direction.Direction.designation }}</span>) :
                                                                {{ total_posteuser_servicedepartementdirection }}
                                                            </li>

                                                            <li>
                                                                <strong>Tel : </strong>
                                                                {% if service_direction.tel is not null %}
                                                                    {{ service_direction.tel }}
                                                                {% else %}
                                                                    <i class="text-danger">Manquant</i>
                                                                {% endif %}
                                                            </li>
                                                        {% endfor %}

                                                        {# Chef de service #}
                                                        {% for posteuser_servicedepartementdirection in posteuser_servicedepartementdirections
                                                            if posteuser_servicedepartementdirection.PosteUser.Poste.id == 3 and posteuser_servicedepartementdirection.ServiceDepartementdirection.service is defined and posteuser_servicedepartementdirection.ServiceDepartementdirection.service == service.designation %}
                                                                <li><strong>Chef de service :</strong> {{ posteuser_servicedepartementdirection.PosteUser.user }}</li>
                                                        {% endfor %}

                                                        {# Le nombre de poste #}
                                                        {% if total_posteuser_servicedepartementdirection != 0 %}
                                                            <li><a href="{{ path('ct_poste_service', {id_service: service.id}) }}"><button type="button" class="fa fa-link btn btn-outline btn-info"> {{ total_posteuser_servicedepartementdirection }} poste(s)</button></a></li>
                                                        {% endif %}
                                                    </ul>
                                                </td>
                                                <td>
                                                    {% for service_departementdirection in service_departementdirections if service_departementdirection.service == service.designation %}
                                                        {# Département #}
                                                        {% if loop.index > 1 %}<br /><br />{% endif %}
                                                        <span class="badge badge-primary">{{ service_departementdirection.DepartementDirection.departement }}</span>

                                                        <ul>
                                                            {# Nombre d'agent du département #}
                                                            {% set total_posteuser_servicedepartementdirection = 0 %}
                                                            {% for posteuser_servicedepartementdirection in posteuser_servicedepartementdirections
                                                                if posteuser_servicedepartementdirection.ServiceDepartementdirection.service is defined and posteuser_servicedepartementdirection.ServiceDepartementdirection.service == service.designation %}
                                                                {%  set total_posteuser_servicedepartementdirection = total_posteuser_servicedepartementdirection + 1 %}
                                                            {% endfor %}

                                                            {% set total_posteuser_departement = 0 %}
                                                            {% for posteuser_departement in posteuser_departements
                                                                if posteuser_departement.DepartementDirection.departement is defined and posteuser_departement.DepartementDirection.departement == service_departementdirection.DepartementDirection.departement %}
                                                                {%  set total_posteuser_departement = total_posteuser_departement + 1 %}
                                                            {% endfor %}

                                                            {% if (total_posteuser_departement + total_posteuser_servicedepartementdirection) == 0 %}
                                                                <li><strong>Nombre d'agent :</strong> 0</li>
                                                            {% else %}
                                                                <li><strong>Nombre d'agent :</strong> {{ total_posteuser_servicedepartementdirection + total_posteuser_departement }}</li>
                                                            {% endif %}

                                                            {# Tel #}
                                                                <li><strong>Tel :</strong>
                                                                    {#{% set tel_length = departement_direction.tel | length %}#}
                                                                {% if service_departementdirection.DepartementDirection.tel is not null  %}
                                                                    {{ service_departementdirection.DepartementDirection.tel }}
                                                                {% else %}
                                                                    <i class="text-danger">Manquant</i>
                                                                {% endif %}
                                                                </li>

                                                            {# Chef de département #}
                                                            {#{% for posteuser_departement in posteuser_departements
                                                                if posteuser_departement.PosteUser.Poste.designation == 'Chef de département' and posteuser_departement.DepartementDirection.departement is defined and posteuser_departement.DepartementDirection.departement == service_departementdirection.DepartementDirection.departement %}
                                                                    <li><strong>Chef de département :</strong> {{ posteuser_departement.PosteUser.user }}</li>
                                                            {% endfor %}

                                                            {% for posteuser_servicedepartementdirection in posteuser_servicedepartementdirections
                                                                if posteuser_servicedepartementdirection.PosteUser.Poste.designation == 'Chef de département' and posteuser_servicedepartementdirection.ServiceDepartementdirection.DepartementDirection is defined and posteuser_servicedepartementdirection.ServiceDepartementdirection.DepartementDirection.departement == service_departementdirection.DepartementDirection.departement %}
                                                                    <span class="badge badge-success">{{ posteuser_servicedepartementdirection.PosteUser.user }}</span>
                                                            {% endfor %}#}
                                                        </ul>
                                                    {% endfor %}
                                                </td>
                                                <td>
                                                    {% for service_departementdirection in service_departementdirections if service_departementdirection.service == service.designation %}
                                                        {# Direction du département #}
                                                        {% if loop.index > 1 %}<br /><br />{% endif %}
                                                        <span class="badge badge-success">{{ service_departementdirection.DepartementDirection.direction }}</span>

                                                        <ul>
                                                            {# Nombre d'agent de la direction #}
                                                            {% set total_posteuser_servicedirection = 0 %}
                                                            {% for posteuser_servicedirection in posteuser_servicedirections
                                                                if (posteuser_servicedirection.ServiceDirection.service is defined and not null) and
                                                                    posteuser_servicedirection.ServiceDirection.service == service.designation %}
                                                                {%  set total_posteuser_servicedirection = total_posteuser_servicedirection + 1 %}
                                                            {% endfor %}

                                                            {% set total_posteuser_departement = 0 %}
                                                            {% for posteuser_departement in posteuser_departements
                                                                if posteuser_departement.DepartementDirection.departement is defined and posteuser_departement.DepartementDirection.departement == service_departementdirection.DepartementDirection.departement %}
                                                                {% set total_posteuser_departement = total_posteuser_departement + 1 %}
                                                            {% endfor %}

                                                            {% set total_posteuser_servicedepartementdirection = 0 %}
                                                            {% for posteuser_servicedepartementdirection in posteuser_servicedepartementdirections
                                                                if posteuser_servicedepartementdirection.ServiceDepartementdirection.DepartementDirection is defined and posteuser_servicedepartementdirection.ServiceDepartementdirection.DepartementDirection.direction == service_departementdirection.DepartementDirection.direction %}
                                                                {%  set total_posteuser_servicedepartementdirection = total_posteuser_servicedepartementdirection + 1 %}
                                                            {% endfor %}

                                                            {% set total_posteuser_direction = 0 %}
                                                            {% for posteuser_direction in posteuser_directions if posteuser_direction.direction == service_departementdirection.DepartementDirection.direction %}
                                                                {%  set total_posteuser_direction = total_posteuser_direction + 1 %}
                                                            {% endfor %}

                                                            {% set total_postuser = total_posteuser_direction + total_posteuser_departement + total_posteuser_servicedepartementdirection + total_posteuser_servicedirection %}
                                                            {% if total_postuser == 0 %}
                                                                <li><strong>Nombre d'agent :</strong> 0</li>
                                                            {% else %}
                                                                <li><strong>Nombre d'agent :</strong> {{ total_postuser }}</li>
                                                            {% endif %}

                                                            {# Tel #}
                                                            <li><strong>Tel :</strong>
                                                                {% if service_departementdirection.DepartementDirection.direction.tel is not null %}
                                                                    {{ service_departementdirection.DepartementDirection.direction.tel }}
                                                                {% else %}
                                                                    <i class="text-danger">Manquant</i>
                                                                {% endif %}
                                                            </li>
                                                            {# Directeur #}
                                                            {% for posteuser_direction in posteuser_directions if posteuser_direction.PosteUser.Poste.designation == 'Directeur' and posteuser_direction.direction == service_departementdirection.DepartementDirection.direction %}
                                                                <li><strong>Directeur :</strong> {{ posteuser_direction.PosteUser.user }}</li>
                                                            {% endfor %}
                                                        </ul>
                                                    {% endfor %}

                                                    {% for service_direction in service_directions if service_direction.service == service.designation %}
                                                        {# Direction du service #}
                                                        <span class="badge badge-success">{{ service_direction.direction }}</span>

                                                        <ul>
                                                            {# Nombre d'agent de la direction #}
                                                            {% set total_posteuser_servicedirection = 0 %}
                                                            {% for posteuser_servicedirection in posteuser_servicedirections
                                                                if posteuser_servicedirection.ServiceDirection.service is defined and posteuser_servicedirection.ServiceDirection.service == service.designation %}
                                                                {% set total_posteuser_servicedirection = total_posteuser_servicedirection + 1 %}
                                                            {% endfor %}

                                                            {% set total_posteuser_direction = 0 %}
                                                            {% for posteuser_direction in posteuser_directions if posteuser_direction.direction == service_direction.direction %}
                                                                {%  set total_posteuser_direction = total_posteuser_direction + 1 %}
                                                            {% endfor %}

                                                            {% set total_postuser = total_posteuser_direction + total_posteuser_servicedirection %}
                                                            {% if total_postuser == 0 %}
                                                                <li><strong>Nombre d'agent :</strong> 0</li>
                                                            {% else %}
                                                                <li><strong>Nombre d'agent :</strong> {{ total_postuser }}</li>
                                                            {% endif %}

                                                            {# Tel #}
                                                            <li><strong>Tel :</strong>
                                                                {% for direction in directions if direction.designation == service_direction.direction %}
                                                                    {% if direction.tel is not null %}
                                                                        {{ direction.tel }}
                                                                    {% else %}
                                                                        <i class="text-danger">Manquant</i>
                                                                    {% endif %}
                                                                {% endfor %}

                                                            </li>

                                                            {# Directeur #}
                                                            {% for posteuser_direction in posteuser_directions if posteuser_direction.PosteUser.Poste.designation == 'Directeur' and posteuser_direction.direction == service_direction.direction %}
                                                                <li><strong>Directeur :</strong> {{ posteuser_direction.PosteUser.user }}</li>
                                                            {% endfor %}
                                                        </ul>
                                                    {% endfor %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th>Service</th>
                                            <th>Département</th>
                                            <th>Direction</th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/plugins/jeditable/jquery.jeditable.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/dataTables/datatables.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            $('.dataTables-example').DataTable({
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    {extend: 'copy', title: 'Services-CT'},
                    {extend: 'csv', title: 'Services-CT'},
                    {extend: 'excel', title: 'Services-CT'},
                    {extend: 'pdf', title: 'Services-CT'},

                    {extend: 'print',
                        customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]
            });

            /* Init DataTables */
            var oTable = $('#editable').DataTable();

            /* Apply the jEditable handlers to the table */
            oTable.$('td').editable( '../example_ajax.php', {
                "callback": function( sValue, y ) {
                    var aPos = oTable.fnGetPosition( this );
                    oTable.fnUpdate( sValue, aPos[0], aPos[1] );
                },
                "submitdata": function ( value, settings ) {
                    return {
                        "row_id": this.parentNode.getAttribute('id'),
                        "column": oTable.fnGetPosition( this )[2]
                    };
                },

                "width": "90%",
                "height": "100%"
            } );
        });
    </script>
{% endblock javascripts %}