<form method="post" action="{{ path('afsoc_reposmaladie_delete', {'id': situation_des_repo.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ situation_des_repo.id) }}">
    <button class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> {% if app.request.attributes.get('_route') == 'afsoc_carnet_show' %}Supprimer{% endif %}</button>
</form>
