{#
{% extends 'base.html.twig' %}

{% block title %}SituationDesRepos index{% endblock %}

{% block body %}
    <h1>SituationDesRepos index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateDebutAt</th>
                <th>DateFinAt</th>
                <th>Medecin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for situation_des_repo in situation_des_repos %}
            <tr>
                <td>{{ situation_des_repo.id }}</td>
                <td>{{ situation_des_repo.dateDebutAt ? situation_des_repo.dateDebutAt|date('Y-m-d') : '' }}</td>
                <td>{{ situation_des_repo.dateFinAt ? situation_des_repo.dateFinAt|date('Y-m-d') : '' }}</td>
                <td>{{ situation_des_repo.medecin }}</td>
                <td>
                    <a href="{{ path('afsoc_reposmaladie_show', {'id': situation_des_repo.id}) }}">show</a>
                    <a href="{{ path('afsoc_reposmaladie_edit', {'id': situation_des_repo.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('afsoc_reposmaladie_new') }}">Create new</a>
{% endblock %}
#}

{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Agents {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/plugins/dataTables/datatables.min.css') }}" />
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}

            <div class="wrapper wrapper-content">
                <div class="row">
                    {# Messages Falsh #}
                    {% for message in app.flashes('success') %}
                        <div class="col-lg-12">
                            <div class="alert alert-success alert-dismissable ">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                {{ message }}
                            </div>
                        </div>
                    {% endfor %}

                </div>
                <div class="row">

                    <div class="col-lg-12">
                        <div class="widget-head-color-box bg-info p-h-xs">
                            <span style="margin-left: 10px;">
                                <a href="{{ path('home_afsoc') }}" class="btn btn-xs btn-warning">
                                    <i class="fa fa-home"></i>
                                    Accueil Afsoc
                                </a>
                            </span>
                            <span style="margin-left: 10px;">
                                <a href="{{ path('afsoc_situation_familiale_index') }}" class="btn btn-xs btn-primary">
                                    <i class="fa fa-user"></i>
                                    Consulter la liste des agents pour ajouter un repos maladie
                                </a>
                            </span>
                        </div>
                        <div class="widget-text-box">

                            <table class="table table-striped table-bordered table-hover dataTables-example" >
                                <thead>
                                <tr>
                                    <th>Concerné</th>
                                    <th>Dates debut / fin</th>
                                    <th>Medecin</th>
                                    <th>Observations</th>
                                    <th>#</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for situation_des_repo in situation_des_repos %}
                                    <tr>
                                        <td>{{ situation_des_repo.user.getNomPrenom() }}</td>
                                        <td>{{ situation_des_repo.dateDebutAt ? situation_des_repo.dateDebutAt|date('d/m/Y') : '' }} - {{ situation_des_repo.dateFinAt ? situation_des_repo.dateFinAt|date('d/m/Y') : '' }}</td>
                                        <td>{{ situation_des_repo.medecin }}</td>
                                        <td>{{ situation_des_repo.observations }}</td>
                                        <td>
                                            <span class="pull-right">
                                                {{ include('affaires_sociales/situation_des_repos/_delete_form.html.twig') }}
                                                </a>
                                            </span>
                                            <span class="pull-right">
                                                <a href="{{ path('afsoc_reposmaladie_edit', {'id': situation_des_repo.id}) }}" class="btn btn-xs btn-warning text-right pull-left"style="margin-right: 10px;">
                                                <i class="fa fa-edit"></i>
                                                </a>
                                            </span>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="5">Aucun enregistrement trouvé</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                            <hr/>

                            <div>
                                <div class="block">

                                    <a href="{{ path('home_afsoc') }}" class="btn btn-xs btn-success text-right">
                                        <i class="fa fa-home"></i>
                                        Accueil Afsoc
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/plugins/dataTables/datatables.min.js') }}"></script>

    <script>
        $(document).ready(function(){
            $('.dataTables-example').DataTable({
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    {extend: 'copy', title: 'Services-CT'},
                    {extend: 'csv', title: 'Services-CT'},
                    {extend: 'excel', title: 'Services-CT'},
                    {extend: 'pdf', title: 'Services-CT'},

                    {extend: 'print',
                        customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]
            });

            /* Init DataTables */
            var oTable = $('#editable').DataTable();

            /* Apply the jEditable handlers to the table */
            oTable.$('td').editable( '../example_ajax.php', {
                "callback": function( sValue, y ) {
                    var aPos = oTable.fnGetPosition( this );
                    oTable.fnUpdate( sValue, aPos[0], aPos[1] );
                },
                "submitdata": function ( value, settings ) {
                    return {
                        "row_id": this.parentNode.getAttribute('id'),
                        "column": oTable.fnGetPosition( this )[2]
                    };
                },

                "width": "90%",
                "height": "100%"
            } );
        });
    </script>
{% endblock javascripts %}
