{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Enregistrer un repos maladie{% endblock title %}

    {% block stylesheets %}
        {{ parent() }}

        <link rel="stylesheet" href="{{ asset('css/plugins/select2/select2.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/plugins/chosen/bootstrap-chosen.css') }}">

    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}

            <div class="row">

                <div class="wrapper wrapper-content animated fadeInUp">

                    <div class="row">
                        <div class="col-lg-12">

                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    Enregistrer un repos maladie
                                </div>
                                <div class="panel-body">
                                    {{ form_start(form, {
                                        'attr': {
                                            'class': 'form-horizontal',
                                            'role': 'form',
                                        }
                                    }) }}

                                    <div class="form-group">
                                        <label class="col-sm-6">Concerné</label>
                                        <div class="col-sm-12">
                                            {{ form_widget(form.user, {
                                                'placeholder' : "Selectionner l'agent concerné",
                                                'attr': {
                                                    'class': 'chosen-select',
                                                }
                                            }) }}
                                            <div class="form-error">
                                                <small class="text-danger">{{ form_errors(form.user) }}</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6">Date debut</label>
                                        <div class="col-sm-12">
                                            {{ form_widget(form.dateDebutAt) }}
                                            <div class="form-error">
                                                <small class="text-danger">{{ form_errors(form.dateDebutAt) }}</small>
                                            </div>
                                        </div>
                                        <label class="col-sm-6">Date fin</label>
                                        <div class="col-sm-12">
                                            {{ form_widget(form.dateFinAt) }}
                                            <div class="form-error">
                                                <small class="text-danger">{{ form_errors(form.dateFinAt) }}</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6">Médecin
                                            <span class="fa fa-plus">
                                                <a href="{{ path('afsoc_medecin_new', {id: situation_des_repo.user.id, pg_prcdnt: 'afsoc_reposmaladie_new'}) }}"> Enregistrer un médecin</a>
                                            </span>
                                        </label>
                                        <div class="col-sm-12">
                                            {{ form_widget(form.medecin, {
                                                'attr': {
                                                    'class': 'chosen-select',
                                                    'placeholder' : 'Medecin'
                                                }
                                            }) }}
                                            <div class="form-error">
                                                <small class="text-danger">{{ form_errors(form.medecin) }}</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6">Observations</label>
                                        <div class="col-sm-12">
                                            {{ form_widget(form.observations, {
                                                'attr': {
                                                    'class': 'form-control',
                                                    'placeholder' : 'Remarques'
                                                }
                                            }) }}
                                            <div class="form-error">
                                                <small class="text-danger">{{ form_errors(form.observations) }}</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <button class="btn btn-primary" type="submit">Enregistrer</button>
                                        </div>
                                    </div>
                                    {{ form_end(form) }}
                                    <div class="hr-line-dashed"></div>
                                    <a type="button" class="btn btn-default pull-left" href="{{ path('afsoc_situation_familiale_index') }}">
                                        <i class="fa fa-arrow-left"></i> Retour à la liste</a>
                                    <br>

                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}
        {% block javascripts %}
            {{ parent() }}

            {#<!-- Chosen -->#}
            <script type="text/javascript" src="{{ asset('js/plugins/chosen/chosen.jquery.js') }}"></script>



            <script>
                $('.chosen-select').chosen({width: "100%"});
            </script>

        {% endblock javascripts %}
