<form method="post" action="{{ path('departement_direction_archive', {'id': departement_direction.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir archiver ce département?');">
    <input type="hidden" name="_method" value="ARCHIVE">
    <input type="hidden" name="_token" value="{{ csrf_token('archive' ~ departement_direction.id) }}">
    <button class="btn btn-xs btn-warning">Archiver</button>
</form>
