<form method="post" action="{{ path('departement_direction_delete', {'id': departement_direction.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ departement_direction.id) }}">
    <button class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Supprimer la liaison</button>
</form>
