<form method="post" action="{{ path('direction_delete', {'id': direction.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ direction.id) }}">
    <button class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Supprimer </button>
</form>
