{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Edit Direction {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('font-awesome/css/font-awesome.css') }}">

        <link rel="stylesheet" href="{{ asset('css/plugins/chosen/bootstrap-chosen.css') }}">


    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}
            {# Récupération de l'ID
            {% set user_id = app.request.get('id') %}
             #}

            <div class="row">

                <div class="wrapper wrapper-content animated fadeInUp">

                    <div class="row">
                        <div class="col-lg-12">

                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    Editer la direction
                                </div>
                                <div class="panel-body">
                                    {{ form_start(form, {
                                        'attr': {
                                            'class': 'form-horizontal',
                                            'role': 'form'
                                        }
                                    }) }}

                                    <div class="form-group">
                                        <label class="col-sm-6">Désignation</label>
                                        <div class="col-sm-12">
                                            {{ form_widget(form.designation) }}
                                            <div class="form-error">
                                                <small class="text-danger">{{ form_errors(form.designation) }}</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6">Tel</label>
                                        <div class="col-sm-12">
                                            {{ form_widget(form.tel, {
                                                'attr': {
                                                    'class': 'form-control',
                                                    'data-mask' : '999 99 99',
                                                    'placeholder' : 'Tel du département'
                                                }
                                            }) }}
                                            <div class="form-error">
                                                <small class="text-danger">{{ form_errors(form.tel) }}</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6">Agence de la direction (Optionnel)</label>
                                        <div class="col-sm-12">
                                            {{ form_widget(form.agence, {
                                                'placeholder' : 'Selectionner l\'agence',
                                                'attr': {
                                                    'class': 'form-control'
                                                }
                                            }) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <button class="btn btn-primary" type="submit">Modifer</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{ form_end(form) }}
                                    <a type="button" class="btn btn-default pull-left" href="{{ path('direction_index') }}">
                                        <i class="fa fa-arrow-left"></i> Aller à la liste des directions</a>
                                    <br>
                                    <div class="hr-line-dashed"></div>
                                    <br>
                                    {{ include('departement_direction/_delete_form_dir.html.twig') }}
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}
        {% block javascripts %}
            {{ parent() }}

            {#Input mask#}
            <script type="text/javascript" src="{{ asset('js/plugins/jasny/jasny-bootstrap.min.js') }}"></script>
            {#<!-- Chosen -->#}
            <script type="text/javascript" src="{{ asset('js/plugins/chosen/chosen.jquery.js') }}"></script>

            <script>

                $('.chosen-select').chosen({width: "100%"});

            </script>

        {% endblock javascripts %}
