{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Liste des départements liés {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        <!-- FooTable -->
        <link rel="stylesheet" href="{{ asset('css/plugins/footable/footable.core.css') }}" />
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}
            {# Récupération de l'ID
            {% set user_id = app.request.get('id') %}
             #}

            <div class="row">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="row">
                        {# Messages Falsh #}
                        {% for message in app.flashes('success') %}
                            <div class="col-lg-12">
                                <div class="alert alert-success alert-dismissable ">
                                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                    {{ message }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h4>Liste des départements liés</h4>
                                    <a type="button" class="btn btn-xs btn-success" href="{{ path('departement_index') }}">Consulter la liste des noms de département</a> &nbsp;
                                    | <a type="button" class="btn btn-rounded" href="{{ path('departement_new') }}"><i class="fa fa-plus"></i> Ajouter un département</a>
                                    | <a type="button" class="btn btn-rounded" href="{{ path('departement_direction_new') }}"><i class="fa fa-plus"></i> Créer une liaison de departement</a>
                                    <div class="ibox-tools">
                                        <a type="button" class="btn btn-danger btn-rounded btn-outline" href="{{ path('admin.ct_gcar.indexServ') }}">
                                            <i class="fa fa-eye"></i> <b> Liste des services</b>
                                        </a>
                                        <a type="button" class="btn btn-danger btn-rounded btn-outline" href="{{ path('direction_index') }}"><i class="fa fa-eye"></i><b> Liste des directions </b></a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <input type="text" class="form-control input-sm m-b-xs" id="filter"
                                           placeholder="Rechercher">

                                    <table class="footable table table-stripped" data-page-size="18" data-filter=#filter>
                                        <thead>
                                        <tr>
                                            <th>Département</th>
                                            <th>Direction</th>
                                            <th data-hide="phone,tablet">Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for departement_direction in departement_directions %}
                                            <tr class="gradeX">
                                                <td>{{ departement_direction.departement_designation }}</td>
                                                <td>{{ departement_direction.direction_designation }}</td>
                                                <td>
                                                    <a type="button" href="{{ path('departement_edit', {id: departement_direction.departement_id}) }}" class="btn btn-primary btn-xs pull-left" style="margin-right: 4px;">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                    <a type="button" href="{{ path('departement_direction_edit', {id: departement_direction.id}) }}" class="btn btn-primary btn-xs pull-left" style="margin-right: 4px;">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                    <span class="pull-left">{{ include('departement_direction/_archive_dptdir.html.twig') }}</span>
                                                </td>
                                                <td>
                                                    {#
                                                        evAffectation
                                                        evDemisedefonctions
                                                        evNominations
                                                        evPromotioninternes
                                                        evLicenciements
                                                        evDecess
                                                        evMiseapieds
                                                        evDemissions
                                                        evSuspensions
                                                        evReintegrations
                                                    #}
                                                    {% set donnees = 0 %}
                                                    {% for ev in ev_affectation if ev.dptdir_id == departement_direction.id %}
                                                        {% set donnees = donnees +1 %}
                                                    {% endfor %}
                                                    {% for ev in ev_demisedefonction if ev.dptdir_id == departement_direction.id %}
                                                        {% set donnees = donnees +1 %}
                                                    {% endfor %}
                                                    {% for ev in ev_nomination if ev.dptdir_id == departement_direction.id %}
                                                        {% set donnees = donnees +1 %}
                                                    {% endfor %}
                                                    {% for ev in ev_promotioninterne if ev.dptdir_id == departement_direction.id %}
                                                        {% set donnees = donnees +1 %}
                                                    {% endfor %}
                                                    {#
                                                    {% for ev in ev_licenciement if ev.dptdir_id == departement_direction.id %}
                                                        {% set donnees = donnees +1 %}
                                                    {% endfor %}
                                                    #}
                                                    {% for ev in ev_deces if ev.dptdir_id == departement_direction.id %}
                                                        {% set donnees = donnees +1 %}
                                                    {% endfor %}
                                                    {% for ev in ev_miseapied if ev.dptdir_id == departement_direction.id %}
                                                        {% set donnees = donnees +1 %}
                                                    {% endfor %}
                                                    {% for ev in ev_demission if ev.dptdir_id == departement_direction.id %}
                                                        {% set donnees = donnees +1 %}
                                                    {% endfor %}
                                                    {% for ev in ev_suspension if ev.dptdir_id == departement_direction.id %}
                                                        {% set donnees = donnees +1 %}
                                                    {% endfor %}
                                                    {% for ev in ev_reintegration if ev.dptdir_id == departement_direction.id %}
                                                        {% set donnees = donnees +1 %}
                                                    {% endfor %}
                                                    {# VERIFICATION DES SERVICE LIES #}
                                                    {% set nbr_svc_lies = 0 %}
                                                    {% for svc in services_lies if svc.departement_direction_id == departement_direction.id %}
                                                        {% set nbr_svc_lies = nbr_svc_lies + 1 %}
                                                    {% endfor %}

                                                    {% if donnees == 0 and nbr_svc_lies == 0 %}
                                                    {{ include('departement_direction/_delete_form.html.twig') }}
                                                    {% else %}
                                                        <button class="btn btn-cancel btn-xs"><i class="fa fa-trash"></i> Suppression impossible</button>
                                                        <button type="button" class="btn btn-info btn-xs"  data-toggle="popover" data-placement="auto left"
                                                                data-content="Le service contient {{ donnees }} evenement(s) et {{ nbr_svc_lies }}  services liés. Contactez le super-admin pour y remédier!">
                                                            <i class="fa fa-question"></i>
                                                        </button>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <td colspan="5">
                                                <ul class="pagination pull-right"></ul>
                                            </td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    {{ parent() }}
    <!-- FooTable -->
    <script type="text/javascript" src="{{ asset('js/plugins/footable/footable.all.min.js') }}"></script>
    <!-- Page-Level Scripts -->
    <script>
        $(document).ready(function() {

            $('.footable').footable();
            $('.footable2').footable();

        });

    </script>
{% endblock javascripts %}




