{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Directions{% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}
            {# Récupération de l'ID
            {% set user_id = app.request.get('id') %}
             #}

            <div class="row">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="row">
                        {# Messages Falsh #}
                        {% for message in app.flashes('success') %}
                            <div class="col-lg-12">
                                <div class="alert alert-success alert-dismissable ">
                                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                    {{ message }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h4>Liste des directions</h4>
                                    | <a type="button" class="btn btn-rounded" href="{{ path('direction_new') }}"><i class="fa fa-plus"></i> Ajouter une direction</a>
                                    <div class="ibox-tools">
                                        <a type="button" class="btn btn-danger btn-rounded btn-outline" href="{{ path('admin.ct_gcar.indexServ') }}">
                                            <i class="fa fa-eye"></i> <b> Liste des services</b>
                                        </a>
                                        <a type="button" class="btn btn-danger btn-rounded btn-outline" href="{{ path('departement_direction_index') }}">
                                            <i class="fa fa-eye"></i><b> Liste des départements liés </b>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <input type="text" class="form-control input-sm m-b-xs" id="filter"
                                           placeholder="Rechercher">

                                    <table class="footable table table-stripped" data-page-size="18" data-filter=#filter>
                                        <thead>
                                        <tr>
                                            <th>Nom du département</th>
                                            <th>Tel</th>
                                            <th data-hide="phone,tablet">Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for direction in directions %}
                                            <tr class="gradeX">
                                                <td>{{ direction.designation }}</td>
                                                <td>{{ direction.tel }}</td>
                                                <td>

                                                    <a type="button" href="{{ path('direction_show', {id: direction.id}) }}" class="btn btn-primary btn-xs">
                                                        <i class="fa fa-eye"></i> Voir
                                                    </a>

                                                    <a type="button" href="{{ path('direction_edit', {id: direction.id}) }}" class="btn btn-primary btn-xs">
                                                        <i class="fa fa-pencil"></i> Modifier
                                                    </a>

                                                </td>
                                                <td>
                                                    {{ include('departement_direction/_delete_form_dir.html.twig') }}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <td colspan="5">
                                                <ul class="pagination pull-right"></ul>
                                            </td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    {{ parent() }}
    <!-- FooTable -->
    <script type="text/javascript" src="{{ asset('js/plugins/footable/footable.all.min.js') }}"></script>
    <!-- Page-Level Scripts -->
    <script>
        $(document).ready(function() {

            $('.footable').footable();
            $('.footable2').footable();

        });

    </script>
{% endblock javascripts %}




