{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Liste des départements {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Data tables --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/dataTables/datatables.min.css') }}" />
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}
            {# Récupération de l'ID
            {% set user_id = app.request.get('id') %}
             #}

            <div class="row">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="row">
                        {# Messages Falsh #}
                        {% for message in app.flashes('success') %}
                            <div class="col-lg-12">
                                <div class="alert alert-success alert-dismissable ">
                                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                    {{ message }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h4>Départements </h4>
                                </div>
                                <div class="ibox-content">
                                    <table class="table table-striped table-bordered table-hover dataTables-example" >
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Département</th>
                                            <th>Services liés</th>
                                            <th>Direction</th>
                                            <th>Agence</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for dpt in departementdirections %}
                                            <tr class="gradeX">
                                                <td><a href="{{ path('departementdirection_info_detail', {id : dpt.id}) }}"><span class="fa fa-eye"></span> </a></td>
                                                <td>
                                                    <strong><u class="badge badge-info">{{ dpt.departement_designation }}</u></strong><br/>
                                                    {#debut tel  departement #}
                                                    {% set tel_lg = dpt.tel |length %}
                                                    {% if tel_lg < 7 %}
                                                    <span class="fa fa-phone"></span> <span class="text-danger">Tel non renseigné!</span>
                                                    {% else %}
                                                        <span class="fa fa-phone"> {{ dpt.tel }}</span>
                                                    {% endif %}
                                                    {# fin tel département #}
                                                    <ul class="folder-list">

                                                        {% set num = 0 %}
                                                        {# POSTES liés au departement #}
                                                    {% for agent in agent if agent.departementdirection1_id == dpt.id %}
                                                        {% set num = num+1 %}
                                                        <li>
                                                            <span class="badge badge-success pull-left" style="margin-right: 10px;">{{ num }}</span>[<b>{{ agent.matricule }}</b>] <b>{{ agent.nom }} {{ agent.prenom }}</b> <span class="pull-right text-navy">{{ agent.poste_designation }}</span>
                                                        </li>
                                                    {% endfor %}
                                                        {# POSTES liés au service du departement #}
                                                    {% for agent in agent if agent.departementdirection2_id == dpt.id %}
                                                        {% set num = num+1 %}
                                                        <li>
                                                            <span class="badge badge-success pull-left" style="margin-right: 10px;">{{ num }}</span>[{{ agent.matricule }}] {{ agent.nom }} {{ agent.prenom }} <span class="pull-right text-navy">{{ agent.poste_designation }}</span>
                                                        </li>
                                                    {% endfor %}

                                                    </ul>
                                                </td>
                                                <td>
                                                    {% set num = 0 %}
                                                    {% for service_lie in services_lies if service_lie.departementdirection_id == dpt.id %}
                                                        {% set num = num +1 %}
                                                        <div>
                                                            <span class="badge badge-success">{{ num }}</span>{{ service_lie.service_designation }}
                                                        </div>
                                                    {% endfor %}
                                                </td>
                                                <td>
                                                    <h3>{{ dpt.direction_designation }}</h3>
                                                    {#debut tel  departement #}
                                                    {% set tel_lg = dpt.direction_tel |length %}
                                                    {% if tel_lg < 7 %}
                                                        <span class="fa fa-phone"></span> <span class="text-danger">Tel non renseigné!</span>
                                                    {% else %}
                                                        <span class="fa fa-phone"> {{ dpt.direction_tel }}</span>
                                                    {% endif %}
                                                    {# fin tel département #}
                                                </td>

                                                <td>{{ dpt.agence_designation }}</td>

                                            </tr>
                                            {% else %}
                                            <tr>
                                                <td colspan="3">Aucun enregistrement trouvé!</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <td colspan="5">
                                                <ul class="pagination pull-right"></ul>
                                            </td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/plugins/jeditable/jquery.jeditable.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/dataTables/datatables.min.js') }}"></script>

    <script>
        $(document).ready(function(){
            $('.dataTables-example').DataTable({
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    {extend: 'copy', title: 'Services-CT'},
                    {extend: 'csv', title: 'Services-CT'},
                    {extend: 'excel', title: 'Services-CT'},
                    {extend: 'pdf', title: 'Services-CT'},

                    {extend: 'print',
                        customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]
            });

            /* Init DataTables */
            var oTable = $('#editable').DataTable();

            /* Apply the jEditable handlers to the table */
            oTable.$('td').editable( '../example_ajax.php', {
                "callback": function( sValue, y ) {
                    var aPos = oTable.fnGetPosition( this );
                    oTable.fnUpdate( sValue, aPos[0], aPos[1] );
                },
                "submitdata": function ( value, settings ) {
                    return {
                        "row_id": this.parentNode.getAttribute('id'),
                        "column": oTable.fnGetPosition( this )[2]
                    };
                },

                "width": "90%",
                "height": "100%"
            } );
        });
    </script>
{% endblock javascripts %}