{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Liste des directions {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Data tables --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/dataTables/datatables.min.css') }}" />
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}
            {# Récupération de l'ID
            {% set user_id = app.request.get('id') %}
             #}

            <div class="row">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="row">
                        {# Messages Falsh #}
                        {% for message in app.flashes('success') %}
                            <div class="col-lg-12">
                                <div class="alert alert-success alert-dismissable ">
                                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                    {{ message }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h4>Directions </h4>
                                </div>
                                <div class="ibox-content">

                                    <table class="table table-striped table-bordered table-hover dataTables-example" >
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Direction</th>
                                            <th>Départements liés</th>
                                            <th>Agence</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for dir in directions %}
                                            <tr class="gradeX">
                                                <td>{{ dir.id }}</td>
                                                <td>
                                                    <strong><u class="badge badge-info">{{ dir.designation }}</u></strong><br/>
                                                    {#debut tel  direction #}
                                                    {% set tel_lg = dir.tel |length %}
                                                    {% if tel_lg < 7 %}
                                                    <span class="fa fa-phone"></span> <span class="text-danger">Tel non renseigné!</span>
                                                    {% else %}
                                                        <span class="fa fa-phone"> {{ dir.tel }}</span>
                                                    {% endif %}
                                                    {# fin tel direction #}
                                                    <br/>
                                                    Responsable(s) de la direction:
                                                    <ul>
                                                    {% for agent in agent if agent.direction_id == dir.id %}
                                                        <li>
                                                            [{{ agent.matricule }}] {{ agent.nom }} {{ agent.prenom }} <span class="pull-right text-navy">{{ agent.poste_designation }}</span>
                                                        </li>
                                                    {% endfor %}

                                                    </ul>
                                                </td>

                                                <td>{% set nbr = 0 %}
                                                    {% for departement_lie in departements_lies if departement_lie.direction_id == dir.id %}
                                                        {% set nbr = nbr+1 %}
                                                        <div>
                                                            <span class="badge badge-success">{{ nbr }}</span>{{ departement_lie.departement_designation }}
                                                            {# Tel departement #}

                                                            {% set tel_lg = departement_lie.tel | length %}
                                                            {% if tel_lg <7 %}
                                                            <span class="pull-right text-danger"> <span class="fa fa-phone"></span>Tel non renseigné!</span>
                                                            {% else %}
                                                            <span class="pull-right text-navy"> <span class="fa fa-phone"></span>{{ departement_lie.tel }}</span>
                                                            {% endif %}
                                                            {# fin tel departement#}
                                                        </div>
                                                    {% endfor %}
                                                </td>

                                                <td>{{ dir.agence_designation }}</td>

                                            </tr>
                                            {% else %}
                                            <tr>
                                                <td colspan="3">Aucun enregistrement trouvé!</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th>ID</th>
                                            <th>Direction</th>
                                            <th>Départements liés</th>
                                            <th>Agence</th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/plugins/jeditable/jquery.jeditable.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/dataTables/datatables.min.js') }}"></script>

    <script>
        $(document).ready(function(){
            $('.dataTables-example').DataTable({
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    {extend: 'copy', title: 'Services-CT'},
                    {extend: 'csv', title: 'Services-CT'},
                    {extend: 'excel', title: 'Services-CT'},
                    {extend: 'pdf', title: 'Services-CT'},

                    {extend: 'print',
                        customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]
            });

            /* Init DataTables */
            var oTable = $('#editable').DataTable();

            /* Apply the jEditable handlers to the table */
            oTable.$('td').editable( '../example_ajax.php', {
                "callback": function( sValue, y ) {
                    var aPos = oTable.fnGetPosition( this );
                    oTable.fnUpdate( sValue, aPos[0], aPos[1] );
                },
                "submitdata": function ( value, settings ) {
                    return {
                        "row_id": this.parentNode.getAttribute('id'),
                        "column": oTable.fnGetPosition( this )[2]
                    };
                },

                "width": "90%",
                "height": "100%"
            } );
        });
    </script>
{% endblock javascripts %}