{% extends 'base.html.twig' %}

{% block title %}DepartementDirection{% endblock %}

{% block body %}
    <h1>DepartementDirection</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ departement_direction.id }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ departement_direction.tel }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('departement_direction_index') }}">back to list</a>

    <a href="{{ path('departement_direction_edit', {'id': departement_direction.id}) }}">edit</a>

    {{ include('departement_direction/_delete_form.html.twig') }}
{% endblock %}
