{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Direction {{ direction.designation }}{% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('font-awesome/css/font-awesome.css') }}">

        <link rel="stylesheet" href="{{ asset('css/plugins/chosen/bootstrap-chosen.css') }}">

        <link rel="stylesheet" href="{{ asset('css/plugins/switchery/switchery.css') }}">

        <link rel="stylesheet" href="{{ asset('css/plugins/chosen/bootstrap-chosen.css') }}">
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}
            {# Récupération de l'ID
            {% set user_id = app.request.get('id') %}
             #}
            <div class="row  border-bottom white-bg dashboard-header" style="margin-top: 10px;">
                <div class="row">
                    <h2 style="padding-left: 30px;">Direction {{ direction.designation }}</h2>
                </div>
                <div class="col-md-4">
                    <h4>Départements liés</h4>
                    <ul class="list-group clear-list m-t">
                        {% set departements = direction.getDepartementDirections() %}
                        {% set nbr = 0 %}
                        {% for departement in departements %}
                            <li class="list-group-item fist-item">
                                <span class="label label-success">{% set nbr = nbr+1 %}{{ nbr }}</span> {{ departement.Departement.designation }}
                            </li>
                        {% else %}
                            <li class="list-group-item fist-item">
                                Cette direction n'a pas de département
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <div>
                        <h4>Services directement liés</h4>
                    </div>
                    <ul class="list-group clear-list m-t">
                        {% set services = direction.getServiceDirections() %}
                        {% set nbr = 0 %}
                        {% for service in services %}
                            <li class="list-group-item fist-item">
                                <span class="label label-info">{% set nbr = nbr+1 %}{{ nbr }}</span> {{ service.Service.designation }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                        <h4>
                            Responsable de la direction
                        </h4>
                        {% for poste_user in poste_users if poste_user.poste_designation == 'Directeur' %}
                            <p>{{ poste_user.nom }} {{ poste_user.prenom }}</p>
                            {% set matricule = poste_user.matricule %}
                        {% endfor %}

                        <div class="row text-center">
                            <div class="col-lg-4">
                                Matricule
                                <h5>
                                    {% for poste_user in poste_users if poste_user.poste_designation == 'Directeur' %}
                                        {{ poste_user.matricule }}
                                    {% endfor %}
                                </h5>
                            </div>
                            <div class="col-lg-4">
                                Tel perso
                                <h5><span class="fa fa-phone"></span>
                                    {% for poste_user in poste_users if poste_user.poste_designation == 'Directeur' %}
                                        {{ poste_user.tel }}
                                    {% endfor %}
                                </h5>
                            </div>
                            <div class="col-lg-4">
                                Tel Bureau
                                <h5><span class="fa fa-phone"></span>
                                    {{ direction.tel }}
                                </h5>
                            </div>
                        </div>
                </div>

            </div>

            <div class="row">
                <div class="wrapper wrapper-content animated fadeInUp">
                    {#
                    <div class="ibox ">
                        <div class="ibox-title">
                            <h5>Options</h5>

                        </div>
                        <div class="ibox-content">
                            <p>
                                Options can be passed via data attributes or JavaScript. For data attributes, append the option name to <code>data-</code>, as in <code>data-backdrop=""</code>.
                            </p>

                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th style="width: 100px;">Name</th>
                                        <th style="width: 50px;">type</th>
                                        <th style="width: 50px;">default</th>
                                        <th>description</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>backdrop</td>
                                        <td>boolean or the string <code>'static'</code></td>
                                        <td>true</td>
                                        <td>Includes a modal-backdrop element. Alternatively, specify <code>static</code> for a backdrop which doesn't close the modal on click.</td>
                                    </tr>
                                    <tr>
                                        <td>keyboard</td>
                                        <td>boolean</td>
                                        <td>true</td>
                                        <td>Closes the modal when escape key is pressed</td>
                                    </tr>
                                    <tr>
                                        <td>show</td>
                                        <td>boolean</td>
                                        <td>true</td>
                                        <td>Shows the modal when initialized.</td>
                                    </tr>
                                    <tr>
                                        <td>remote</td>
                                        <td>path</td>
                                        <td>false</td>
                                        <td>
                                            <p><strong class="text-danger">This option is deprecated since v3.3.0 and will be removed in v4.</strong> We recommend instead using client-side templating or a data binding framework, or calling <a href="http://api.jquery.com/load/">jQuery.load</a> yourself.</p>
                                            <p>If a remote URL is provided, <strong>content will be loaded one time</strong> via jQuery's <code>load</code> method and injected into the <code>.modal-content</code> div. If you're using the data-api, you may alternatively use the <code>href</code> attribute to specify the remote source. An example of this is shown below:</p>
                                            <div class="zero-clipboard"><span class="btn-clipboard">Copy</span></div><div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;a</span> <span class="na">data-toggle=</span><span class="s">"modal"</span> <span class="na">href=</span><span class="s">"remote.html"</span> <span class="na">data-target=</span><span class="s">"#modal"</span><span class="nt">&gt;</span>Click me<span class="nt">&lt;/a&gt;</span></code></pre></div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>



                        </div>
                    </div>
                    #}

                </div>
            </div>
        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}
        {% block javascripts %}
            {{ parent() }}

            <!-- Chosen -->
            <script type="text/javascript" src="{{ asset('js/plugins/chosen/chosen.jquery.js') }}"></script>



            <script>
                $('.chosen-select').chosen({width: "100%"});
            </script>

        {% endblock javascripts %}

