<tr class="gradeX">
    <td><a href="{{ path('departementdirection_info_detail', {id : dpt.id}) }}"><span class="fa fa-eye"></span> </a></td>
    <td>
        <strong><u class="badge badge-info">{{ dpt.departement_designation }}</u></strong><br/>
        {#debut tel  departement #}
        {% set tel_lg = dpt.tel |length %}
        {% if tel_lg < 7 %}
            <span class="fa fa-phone"></span> <span class="text-danger">Tel non renseigné!</span>
        {% else %}
            <span class="fa fa-phone"> {{ dpt.tel }}</span>
        {% endif %}
        {# fin tel département #}
        <ul class="folder-list">

            {% set num = 0 %}
            {# POSTES liés au departement #}
            {% for agent in agent if agent.departementdirection1_id == dpt.id %}
                {% set num = num+1 %}
                <li>
                    <span class="badge badge-success pull-left" style="margin-right: 10px;">{{ num }}</span>[<b>{{ agent.matricule }}</b>] <b>{{ agent.nom }} {{ agent.prenom }}</b> <span class="pull-right text-navy">{{ agent.poste_designation }}</span>
                </li>
            {% endfor %}
            {# POSTES liés au service du departement #}
            {% for agent in agent if agent.departementdirection2_id == dpt.id %}
                {% set num = num+1 %}
                <li>
                    <span class="badge badge-success pull-left" style="margin-right: 10px;">{{ num }}</span>[{{ agent.matricule }}] {{ agent.nom }} {{ agent.prenom }} <span class="pull-right text-navy">{{ agent.poste_designation }}</span>
                </li>
            {% endfor %}

        </ul>
    </td>
    <td>
        {% set num = 0 %}
        {% for service_lie in services_lies if service_lie.departementdirection_id == dpt.id %}
            {% set num = num +1 %}
            <div>
                <span class="badge badge-success">{{ num }}</span> {{ service_lie.service_designation }}
            </div>
        {% endfor %}
    </td>
    <td>
        <h3>{{ dpt.direction_designation }}</h3>
        {#debut tel  departement #}
        {% set tel_lg = dpt.direction_tel |length %}
        {% if tel_lg < 7 %}
            <span class="fa fa-phone"></span> <span class="text-danger">Tel non renseigné!</span>
        {% else %}
            <span class="fa fa-phone"> {{ dpt.direction_tel }}</span>
        {% endif %}
        {# fin tel département #}
    </td>

    <td>{{ dpt.agence_designation }}</td>

</tr>