<tr class="gradeX">
    <td>{{ dir.id }}</td>
    <td>
        <strong><u class="badge badge-info">{{ dir.designation }}</u></strong><br/>
        {#debut tel  direction #}
        {% set tel_lg = dir.tel |length %}
        {% if tel_lg < 7 %}
            <span class="fa fa-phone"></span> <span class="text-danger">Tel non renseigné!</span>
        {% else %}
            <span class="fa fa-phone"> {{ dir.tel }}</span>
        {% endif %}
        {# fin tel direction #}
        <br/>
        Responsable(s) de la direction:
        <ul>
            {% for agent in agent if agent.direction_id == dir.id %}
                <li>
                    [{{ agent.matricule }}] {{ agent.nom }} {{ agent.prenom }} <span class="pull-right text-navy">{{ agent.poste_designation }}</span>
                </li>
            {% endfor %}

        </ul>
    </td>

    <td>{% set nbr = 0 %}
        {% for departement_lie in departements_lies if departement_lie.direction_id == dir.id %}
            {% set nbr = nbr+1 %}
            <div>
                <span class="badge badge-success">{{ nbr }}</span> {{ departement_lie.departement_designation }}
                {# Tel departement #}

                {% set tel_lg = departement_lie.tel | length %}
                {% if tel_lg <7 %}
                    <span class="pull-right text-danger"> <span class="fa fa-phone"></span>Tel non renseigné!</span>
                {% else %}
                    <span class="pull-right text-navy"> <span class="fa fa-phone"></span>{{ departement_lie.tel }}</span>
                {% endif %}
                {# fin tel departement#}
            </div>
        {% endfor %}
    </td>

    <td>{{ dir.agence_designation }}</td>

</tr>