{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Reclasssement {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Morris --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css') }}">
        <link rel="stylesheet" href="{{ asset('css/plugins/select2/select2.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/plugins/chosen/bootstrap-chosen.css') }}">

    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

{% block body %}
    {% block fildariane %}
        {{ include('_generals_includes/_fildariane.html.twig') }}
    {% endblock fildariane %}

    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
            {# include du menu_left #}
            {{ include('evenements/_includes/_left_menu.html.twig') }}
            {# Fin include du menu_left #}

            <div class="col-lg-9">

                <div class="contact-box center-version">
                    <table class="table">
                        <thead>
                        <h1 style="padding-left: 10px;">Avancement normal <small>{{ ev_avancementnormal.reference }}</small></h1>
                        </thead>
                        <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ ev_avancementnormal.id }}</td>
                        </tr>
                        <tr>
                            <th>Concerné(e)</th>
                            <td> {{ ev_avancementnormal.user }}</td>
                        </tr>
                        <tr>
                            <th>Reference de la note</th>
                            <td>{{ ev_avancementnormal.reference }}</td>
                        </tr>
                        <tr>
                            <th>Date de avancementnormal</th>
                            <td>{{ ev_avancementnormal.dateAvancementnormalAt | date('d/m/Y') }}</td>
                        </tr>
                        <tr>
                            <th>Poste au moment de l'avancement</th>
                            <td>{{ ev_avancementnormal.poste }}</td>
                        </tr>
                        <tr>
                            <th>Observations</th>
                            <td>{{ ev_avancementnormal.observations }}</td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="contact-box-footer">
                        <div class="m-t-xs">
                            <span class="pull-left">
                                <a href="{{ path('evenements_avancementnormal_index') }}" class="btn btn-xs btn-white"><i class="fa fa-arrow-left"></i> Retour à la liste </a>
                                <a href="{{ path('evenements_avancementnormal_edit', {'id': ev_avancementnormal.id}) }}" class="btn btn-xs btn-warning"><i class="fa fa-edit"></i> Modifier</a>
                            </span>
                            <span class="pull-right">{{ include('evenements/ev_avancementnormal/_delete_form.html.twig') }} </span>
                            {% if ev_avancementnormal.valide ==0 %}
                                <span>{{ include('evenements/ev_avancementnormal/_validate_form.html.twig') }}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>

                </div>
            </div>


        </div>
    </div>

{% endblock %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}

    {{ parent() }}

{% endblock javascripts %}
