{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Félicitations {% endblock title %}

{% block buttons_filtres %}

{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    {% block fildariane %}
        {{ include('_generals_includes/_fildariane.html.twig') }}
    {% endblock fildariane %}

    {% for message in app.flashes('success') %}
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-success alert-dismissable ">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    {{ message }}
                </div>
            </div>
        </div>

    {% endfor %}
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">

                <div class="ibox-content m-b-sm border-bottom">
                    <div class="text-center p-lg">
                        <h2>
                            {% block fos_user_content %}
                                <p>Vous avez ajouter une étape dans l'enregistrement des données de l'agent<br>
                                Continuer en lui affectant un poste, un service etc.
                                </p>
                            {% endblock fos_user_content %}
                        </h2>

                    </div>
                </div>

                <a type="button" class="btn btn-block" href="{{ path('admin_evenements') }}">Commencer à lui attribuer des évenements</a>
            </div>
        </div>
    </div>


{% endblock %}