{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {#
    {{ form_widget(form) }}
    <div class="hr-line-dashed"></div>
    #}


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="form-group">
            <label class="col-sm-2 control-label">Nom Prénom</label>
            <div class="col-md-4">
                {{ form_widget(form.nom, {
                    'attr' : {
                        'class':'form-control',
                        'placeholder':'Nom de famille',
                    }
                }) }}
                <span class="help-block">Nom de famille</span>

            </div>

            <div class="col-md-4">
                {{ form_widget(form.prenom, {
                    'attr' : {
                        'class':'form-control',
                        'placeholder':'Prénom',
                    }
                }) }}
                <span class="help-block">Prénom</span>
            </div>

            <div class="col-md-2">
                {{ form_widget(form.matricule, {
                    'attr' : {
                        'class':'form-control',
                        'placeholder':'Matricule',
                    }
                }) }}
                <span class="help-block">Matricule</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Contacts</label>
            <div class="col-md-4">
                {{ form_widget(form.email, {
                    'attr' : {
                        'class':'form-control',
                        'placeholder':'Email'
                    }
                }) }}
                <span class="help-block">Exemple : <i>email@domaine.km</i></span>
            </div>

            <div class="col-md-4">
                {{ form_widget(form.tel,{
                    'attr' : {
                        'class':'form-control',
                        'data-mask':'(999) 999-9999',
                        'placeholder': 'Tel'
                    }
                }) }}
                <span class="help-block"><i class="fa fa-phone"></i> Exemple : <i>(269) 333-9999</i></span>
            </div>
            <div  class="col-md-2" style="margin-top: -18px;">
                {{ form_row(form.username, {
                    'label': ' ',
                    'attr' : {
                        'class':'form-control',
                        'placeholder':'Login de connexion',
                    }
                }) }}
                <span class="help-block" style="margin-top: -10px;">Répéter le matricule</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Mot de passe</label>
            <div class="col-md-5">
                {{ form_widget(form.plainPassword.first, {
                    'attr' : {
                        'class':'form-control',
                        'placeholder':'Mot de passe'
                    }
                }) }}
                <span class="help-block"><i class="fa fa-user-secret"></i></span>
            </div>

            <div class="col-md-5">
                {{ form_widget(form.plainPassword.second,{
                    'attr' : {
                        'class':'form-control',
                        'placeholder': 'Répéter le mot de passe'
                    }
                }) }}
                <span class="help-block"><i class="fa fa-user-secret"></i></span>
            </div>

        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Date de naissance</label>
            <div class="col-md-4">
                {{ form_widget(form.dateNaissanceAt, {
                    'attr' : {
                        'class':'form-control',
                    }
                }) }}
            </div>

            <div class="col-md-4">
                {{ form_widget(form.lieuDeNaissance, {
                    'attr':{
                        'class':'form-control',
                        'placeholder': 'Lieu de naissance'
                    }
                }) }}
                <span class="help-block">Exemple : <i>Maternité de Moroni</i></span>
            </div>

            <div class="col-md-2">
                {{ form_widget(form.sexe, {
                    'attr' : {
                        'class':'form-control',
                        'placeholder':'sexe',
                    }
                }) }}
                <span class="help-block"><i>M: Masculin | F: Feminin</i></span>

            </div>

        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Adresse (Domicile)</label>
            <div class="col-sm-10">
                {{ form_widget(form.adresse,{
                    'attr' : {
                        'class':'form-control',
                        'placeholder': 'Adresse Domicile'
                    }
                }) }}
                <span class="help-block">Exemple : <i>Moroni, Petite coulée</i></span>
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <div class="hr-line-dashed"></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <input class="btn btn-w-m btn-primary" type="submit" value="{{ 'registration.submit'|trans }}" />
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <span class="pull-right hidden">
        {{ form_widget(form.enligne) }}
        {{ form_widget(form.enfonction) }}
        </span>
    </div>
</div>
{{ form_end(form) }}
