{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Ajout agent {% endblock title %}

{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

{% block body %}

    {% block fildariane %}
        {{ include('_generals_includes/_fildariane.html.twig') }}
    {% endblock fildariane %}

    <div class="wrapper wrapper-content">
        <div class="row">
            {% if is_granted('ROLE_ADMIN_GCAR') %}
                <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Ajouter <small> Un agent</small></h5>

                    </div>
                    <div class="ibox-content">
                        <a class="btn btn-sm btn-warning" href="{{ path('contacts_agents') }}"><i class="fa fa-arrow-left"></i> Tous les agents</a>
                        <div class="hr-line-dashed"></div>
                        {% block fos_user_content %}
                            {% include "@FOSUser/Registration/register_content.html.twig" %}
                        {% endblock fos_user_content %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock footer %}


{% block javascripts %}
    {{ parent() }}
    <!-- Input Mask-->
    <script type="text/javascript" src="{{ asset('js/plugins/jasny/jasny-bootstrap.min.js') }}"></script>

{% endblock javascripts %}