<form method="post"
      action="{{ path('evenements_promotioninterne_validate', {'id': ev_promotioninterne.id}) }}"
      onsubmit="return confirm('Êtes-vous sûr de vouloir valider cet élément?');">
    <input type="hidden" name="_method" value="VALIDATE">
    <input type="hidden" name="_token" value="{{ csrf_token('validate' ~ ev_promotioninterne.id) }}">
    <button class="btn btn-success btn-xs"><i class="fa fa-check"></i>{% if app.request.attributes.get('_route') == 'evenements_promotioninterne_show' %} Valider {% endif %}</button>
</form>
