<form method="post" action="{{ path('afsoc_enfant_delete', {'id': enfant.id, 'pg_prcdnt':app.request.attributes.get('_route')}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ enfant.id) }}">
    {% if app.request.attributes.get('_route') == 'afsoc_situation_familiale_show' %}
        <button class="btn btn-white btn-xs"><i class="text-danger fa fa-trash"></i></button>
    {% else %}
    <button class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> {% if app.request.attributes.get('_route') == 'afsoc_enfant_show' %}Supprimer{% endif %}</button>
    {% endif %}
</form>
