{% extends 'base.html.twig' %}

{% block title %}Enfant{% endblock %}

{% block body %}
    <h1>Enfant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ enfant.id }}</td>
            </tr>
            <tr>
                <th>NomPrenom</th>
                <td>{{ enfant.nomPrenom }}</td>
            </tr>
            <tr>
                <th>DateNaisanceAt</th>
                <td>{{ enfant.dateNaissanceAt ? enfant.dateNaissanceAt|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Scolarisation</th>
                <td>{{ enfant.scolarisation }}</td>
            </tr>
            <tr>
                <th>Observations</th>
                <td>{{ enfant.observations }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('afsoc_enfant_index') }}">back to list</a>

    <a href="{{ path('afsoc_enfant_edit', {'id': enfant.id}) }}">edit</a>

    {{ include('affaires_sociales/enfant/_delete_form.html.twig') }}
{% endblock %}
