{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Edit Expériences ailleurs {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Morris --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css') }}">
        <link rel="stylesheet" href="{{ asset('css/plugins/select2/select2.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/plugins/chosen/bootstrap-chosen.css') }}">

    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}

            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="ibox">
                            <div class="ibox-content">
                                <h3>Editer une expérience non-académique </h3>

                                {{ form_start(form) }}

                                <div class="form-group">
                                    <label>Agent  </label>
                                    <span> {{ ec_experience_ailleur.User }} </span>
                                </div>
                                <div class="form-group col-sm-6 {% if form_errors(form.type) %}has-error{% endif %}" style="padding-left: 0px;">
                                    <label>Type de formation  </label>
                                    {{ form_widget(form.type, {
                                        'attr': {
                                            'class': 'chosen-select'
                                        }
                                    }) }}
                                </div>
                                <div class="form-group col-sm-3 {% if form_errors(form.dateDebutAt) %}has-error{% endif %}" >
                                    <label>Date debut </label>
                                    {{ form_widget(form.dateDebutAt, {
                                        'attr': {
                                            'class': 'form-control'
                                        }
                                    }) }}
                                </div>
                                <div class="form-group col-sm-3" style="padding-right: 0px;">
                                    <label>Date fin</label>
                                    {{ form_widget(form.dateFinAt, {
                                        'attr': {
                                            'class': 'form-control'
                                        }
                                    }) }}
                                </div>
                                <div class="form-group col-sm-6" style="padding-left: 0px;">
                                    <label>Société </label>
                                    {{ form_widget(form.societe, {
                                        'attr' : {
                                            'placeholder' : "Le nom de l'entité responsable  ou organisatrice"
                                        }
                                    }) }}
                                </div>
                                <div class="form-group col-sm-3">
                                    <label>Personne en charge </label><span>Responsable ?</span>
                                    {{ form_widget(form.responsableEnCharge, {
                                        'attr' : {
                                            'placeholder' : 'Responsable en charge'
                                        }
                                    }) }}
                                </div>
                                <div class="form-group col-sm-3" style="padding-right: 0px;">
                                    <label>Responsabilités occupées </label>
                                    {{ form_widget(form.posteOccupe) }}
                                </div>
                                <div class="form-group">
                                    <label>Département / Département / Service </label>
                                    {{ form_widget(form.dirDeptServ) }}
                                </div>
                                <div class="form-group">
                                    <label>Observations  </label>
                                    {{ form_widget(form.observations, {
                                        'attr' : {
                                            'placeholder' : 'Lieu de formation, Formateur, Etablissement ou société...'
                                        }
                                    }) }}
                                </div>

                                {{ form_widget(form) }}
                                <input class="btn btn-primary" type="submit" value="Enregistrer" />

                                {{ form_end(form) }}

                                <div class="hr-line-dashed"></div>
                                <a href="{{ path('admin_ec_experience_ailleurs_index') }}">Retour à la liste</a>
                                <span class="pull-right">{{ include('admin/ec_experience_ailleurs/_delete_form.html.twig') }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}

    <script type="text/javascript" src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/inspinia.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/pace/pace.min.js') }}"></script>


    <script type="text/javascript" src="{{ asset('js/plugins/select2/select2.full.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/touchspin/jquery.bootstrap-touchspin.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/chosen/chosen.jquery.js') }}"></script>


    <script>

        $('.chosen-select').chosen({width: "100%"});


    </script>

{% endblock javascripts %}