<form method="post" action="{{ path('banque_de_solidarite_bds_parametresdecotisation_delete', {'id': bds_parametresdecotisation.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bds_parametresdecotisation.id) }}">
    <button class="btn">Delete</button>
</form>
