{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Param. de cotisation {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Morris --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css') }}">
        <link rel="stylesheet" href="{{ asset('css/plugins/select2/select2.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/plugins/chosen/bootstrap-chosen.css') }}">

    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}

            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    {% if pg_prcdnt != null and pg_prcdnt == 'bds_cotisation_edit' %}
                    <div class="col-lg-12">
                        <div class="alert alert-success alert-dismissable ">
                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                            Vous avez demandé à modifier la cotisation à appliquer !
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="row">

                    <div class="col-lg-12">

                        <div class="ibox">
                            <div class="ibox-content">
                                <h3>Editer les paramètres</h3>

                                {{ form_start(form) }}

                                <div class="form-group">
                                    <label>Agent  </label>
                                    <span> {{ bds_parametresdecotisation.user }} </span>
                                </div>

                                <div class="form-group col-sm-4 {% if form_errors(form.salairedebase) %}has-error{% endif %}" style="padding-left: 0px;">
                                    <label>Salaire de base  </label>
                                    {{ form_widget(form.salairedebase, {
                                        'attr': {
                                            'class': 'form-control',
                                            'placeholder' : 'Optionnel'
                                        }
                                    }) }}
                                </div>
                                <div class="form-group col-sm-4 {% if form_errors(form.cotisationpardefaut) %}has-error{% endif %}">
                                    <label>Cotisation par defaut  </label>
                                    {{ form_widget(form.cotisationpardefaut, (pg_prcdnt is not null and pg_prcdnt == 'bds_cotisation_edit' ? {'attr': {'readonly': 'readonly'} } : {})) }}
                                </div>

                                <div class="form-group col-sm-4 {% if form_errors(form.cotisationappliquee) %}has-error{% endif %} {% if pg_prcdnt != null and pg_prcdnt == 'bds_cotisation_edit' %}has-success{% endif %}" style="padding-right: 0px;">
                                    <label>Cotisation appliquée  </label>
                                    {{ form_widget(form.cotisationappliquee,{
                                        'attr': {
                                            'class': 'form-control',
                                            'placeholder' : "Cotisation mensuelle de l'agent"
                                        }

                                    }) }}
                                </div>
                                <div class="form-group {% if app.request.attributes.get('_route') != 'bds_parametresdecotisation_edit'%} hidden {% endif %}">
                                    <label>Observations  </label>
                                    {{ form_widget(form.observations, {
                                        'attr': {
                                            'class': 'form-control',
                                            'placeholder' : "Mentionnez la cause de la modification:  Est-ce une demande de l'agent?"
                                        }
                                    }) }}
                                </div>
                                {{ form_widget(form) }}
                                <input class="btn btn-primary" type="submit" value="Enregistrer" />

                                {{ form_end(form) }}

                                <div class="hr-line-dashed"></div>
                                <span class="fa fa-arrow-left"></span> <a href="{{ path('bds_agents') }}">Retour </a>
                                <div class="hr-line-dashed"></div>
                            </div>
                        </div>

                    </div>



                </div>

            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}

    {{ parent() }}

    <script>

        $('.chosen-select').chosen({width: "100%"});


    </script>



{% endblock javascripts %}

