{#
{% extends 'base.html.twig' %}

{% block title %}BdsParametresdecotisation index{% endblock %}

{% block body %}
    <h1>BdsParametresdecotisation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>User</th>
                <th>Salairedebase</th>
                <th>Cotisationpardefaut</th>
                <th>Cotisationappliquee</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bds_parametresdecotisation in bds_parametresdecotisations %}
            <tr>
                <td>{{ bds_parametresdecotisation.id }}</td>
                <td>{{ bds_parametresdecotisation.User }}</td>
                <td>{{ bds_parametresdecotisation.salairedebase }}</td>
                <td>{{ bds_parametresdecotisation.cotisationpardefaut }}</td>
                <td>{{ bds_parametresdecotisation.cotisationappliquee }}</td>
                <td>
                    <a href="{{ path('bds_parametresdecotisation_show', {'id': bds_parametresdecotisation.id}) }}">show</a>
                    <a href="{{ path('bds_parametresdecotisation_edit', {'id': bds_parametresdecotisation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('bds_parametresdecotisation_new') }}">Create new</a>
{% endblock %}
#}
{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Accueil BDS {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/plugins/dataTables/datatables.min.css') }}" />
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}

            <div class="wrapper wrapper-content">
                <div class="row">
                    {# Messages Falsh #}
                    {% for message in app.flashes('success') %}
                        <div class="col-lg-12">
                            <div class="alert alert-success alert-dismissable ">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                {{ message }}
                            </div>
                        </div>
                    {% endfor %}

                </div>
                <div class="row">

                    <div class="col-lg-12">
                        <div class="widget-head-color-box navy-bg p-h-xs text-center">
                            <div class="m-b-md">

                                <h3 class="font-bold no-margins">
                                    Paramètres de cotisation
                                </h3>

                            </div>
                        </div>
                        <div class="widget-text-box">

                            <table class="table table-striped table-bordered table-hover dataTables-example" >
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>User</th>
                                    <th>Salairedebase</th>
                                    <th>Cotisationpardefaut</th>
                                    <th>Cotisationappliquee</th>
                                    <th>actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for bds_parametresdecotisation in bds_parametresdecotisations %}
                                    <tr>
                                        <td>{{ bds_parametresdecotisation.id }}</td>
                                        <td>{{ bds_parametresdecotisation.User }}</td>
                                        <td>{{ bds_parametresdecotisation.salairedebase }}</td>
                                        <td>{{ bds_parametresdecotisation.cotisationpardefaut }}</td>
                                        <td>{{ bds_parametresdecotisation.cotisationappliquee }}</td>
                                        <td>
                                            <a href="{{ path('bds_parametresdecotisation_show', {'id': bds_parametresdecotisation.id}) }}" class="btn btn-xs btn-success text-right">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                            <a href="{{ path('bds_parametresdecotisation_edit', {'id': bds_parametresdecotisation.id}) }}" class="btn btn-xs btn-warning text-right">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="5">no records found</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                            <hr/>

                            <div>
                                <div class="block">
                                    <a href="{{ path('home_bds') }}" class="btn btn-xs btn-success text-right">
                                        <i class="fa fa-home"></i>
                                        Accueil Bds
                                    </a>
                                </div>

                                <span>
                            </span>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/plugins/dataTables/datatables.min.js') }}"></script>

    <script>
        $(document).ready(function(){
            $('.dataTables-example').DataTable({
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    {extend: 'copy', title: 'Services-CT'},
                    {extend: 'csv', title: 'Services-CT'},
                    {extend: 'excel', title: 'Services-CT'},
                    {extend: 'pdf', title: 'Services-CT'},

                    {extend: 'print',
                        customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]
            });

            /* Init DataTables */
            var oTable = $('#editable').DataTable();

            /* Apply the jEditable handlers to the table */
            oTable.$('td').editable( '../example_ajax.php', {
                "callback": function( sValue, y ) {
                    var aPos = oTable.fnGetPosition( this );
                    oTable.fnUpdate( sValue, aPos[0], aPos[1] );
                },
                "submitdata": function ( value, settings ) {
                    return {
                        "row_id": this.parentNode.getAttribute('id'),
                        "column": oTable.fnGetPosition( this )[2]
                    };
                },

                "width": "90%",
                "height": "100%"
            } );
        });
    </script>
{% endblock javascripts %}

