{% extends 'base.html.twig' %}

{% block title %}BdsParametresdecotisation{% endblock %}

{% block body %}
    <h1>BdsParametresdecotisation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bds_parametresdecotisation.id }}</td>
            </tr>
            <tr>
                <th>Salairedebase</th>
                <td>{{ bds_parametresdecotisation.salairedebase }}</td>
            </tr>
            <tr>
                <th>Cotisationpardefaut</th>
                <td>{{ bds_parametresdecotisation.cotisationpardefaut }}</td>
            </tr>
            <tr>
                <th>Cotisationappliquee</th>
                <td>{{ bds_parametresdecotisation.cotisationappliquee }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('banque_de_solidarite_bds_parametresdecotisation_index') }}">back to list</a>

    <a href="{{ path('banque_de_solidarite_bds_parametresdecotisation_edit', {'id': bds_parametresdecotisation.id}) }}">edit</a>

    {{ include('banque_de_solidarite_bds_parametresdecotisation/_delete_form.html.twig') }}
{% endblock %}
