{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Enregistrer une mise à pied à un agent {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Morris --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css') }}">
        <link rel="stylesheet" href="{{ asset('css/plugins/select2/select2.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/plugins/chosen/bootstrap-chosen.css') }}">

    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}

            <div class="wrapper wrapper-content animated fadeInRight">

                <div class="row">

                    {# include du menu_left
                    {{ include('evenements/_includes/_left_menu.html.twig') }}
                    Fin include du menu_left #}

                    <div class="col-lg-12">

                        <div class="ibox">
                            <div class="ibox-content">
                                <h3>Enregistrer une mise à pied </h3>

                                <p class="small">
                                    Ajouter un evenement "Mise à pied" à un agent.
                                </p>
                                {{ form_start(form) }}

                                    <div class="form-group">
                                        <label>Agent  </label>
                                        <span> {{ ev_miseapied.user }} </span>
                                    </div>
                                    <input type="text" class="form-control hidden" name="miseapied[user]" value="{{ ev_miseapied.User.id }}"  >

                                    <div class="form-group col-sm-6 {% if form_errors(form.reference) %}has-error{% endif %}" style="padding-left: 0px;">
                                        <label>Reference de la note  </label>
                                        {{ form_widget(form.reference, {
                                            'attr': {
                                                'class': 'form-control'
                                            }
                                        }) }}
                                    </div>
                                    <div class="form-group col-sm-6 {% if form_errors(form.dateMiseapiedAt) %}has-error{% endif %}" style="padding-right: 0px;">
                                        <label>Date de mise à pied </label>
                                        {{ form_widget(form.dateMiseapiedAt, {
                                            'attr': {
                                                'class': 'form-control'
                                            }
                                        }) }}
                                    </div>


                                    <div class="form-group col-sm-6 {% if form_errors(form.direction) %}has-error{% endif %}" style="padding-left: 0px;">
                                        <label>Direction  </label>
                                        {{ form_widget(form.direction, {
                                            'attr': {
                                                'class': 'chosen-select'
                                            }
                                        }) }}
                                    </div>
                                    <div class="form-group col-sm-6" style="padding-right: 0px;">
                                        <label>Service de la direction  </label>
                                        {{ form_widget(form.serviceDirection) }}
                                    </div>
                                    <div class="form-group">
                                        <label>Département de la direction </label>
                                        {{ form_widget(form.departement) }}
                                    </div>
                                    <div class="form-group">
                                        <label>Service du département  </label>
                                        {{ form_widget(form.serviceDepartement) }}
                                    </div>
                                    {{ form_widget(form) }}
                                    <input class="btn btn-primary" type="submit" value="Enregistrer" />

                                {{ form_end(form) }}

                                <div class="hr-line-dashed"></div>

                                {% if is_granted('ROLE_ADMIN_GCAR') %}
                                    <a href="{{ path('evenements_miseapied_index') }}">Retour à la liste</a>
                                {% endif %}
                            </div>
                        </div>

                    </div>



                </div>

            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}

    {{ parent() }}


    <script type="text/javascript" src="{{ asset('js/inspinia.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/pace/pace.min.js') }}"></script>


    <script type="text/javascript" src="{{ asset('js/plugins/select2/select2.full.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/touchspin/jquery.bootstrap-touchspin.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/chosen/chosen.jquery.js') }}"></script>


    <script>
        $(document).on('change', '#miseapied_direction, #miseapied_departement, #miseapied_serviceDirection', function () {
            let $field = $(this)
            let $directionField = $('#miseapied_direction')
            let $form = $field.closest('form')
            let data = {}
            data[$directionField.attr('name')] = $directionField.val()
            data[$field.attr('name')] = $field.val()
            $.post($form.attr('action'), data).then(function (data) {
                let $input = $(data).find('#miseapied_departement')
                $('#miseapied_departement').replaceWith($input)

                //chargement du champs service lié à une direction après selection de la direction
                let $inputsvcdir = $(data).find('#miseapied_serviceDirection')
                $('#miseapied_serviceDirection').replaceWith($inputsvcdir)

                //chargement du champs service lié à un département après selection du département
                let $inputsvcdpt = $(data).find('#miseapied_serviceDepartement')
                $('#miseapied_serviceDepartement').replaceWith($inputsvcdpt)
            })

        })
    </script>


    <script>
        $(document).ready(function(){

            $(".select2_demo_1").select2();
            $(".select2_demo_2").select2();
            $(".select2_demo_3").select2({
                placeholder: "Choisir",
                allowClear: true
            });


        });

        $('.chosen-select').chosen({width: "100%"});


    </script>



{% endblock javascripts %}

