{% set route_page = app.request.attributes.get('_route') %}

<div class="space-25"></div>
<h5>Dossiers</h5>
<ul class="folder-list m-b-md" style="padding: 0">
    <li><a href="{{ path('message_index') }}"> <i class="fa fa-inbox "></i>
            {% if route_page == 'message_index' %}
                <span class="text-success"> <strong> Tous les messages</strong></span>
            {% else %} Tous les messages {% endif %}
            <span class="label label-warning pull-right">{{ nbrMessages - nbr_msg_archived }}</span> </a></li>
    <li>
        <a href="{{ path('message_sent') }}"> <i class="fa fa-envelope-o"></i>
            {% if route_page == 'message_sent' %}<span class="text-success"><strong>Envoyés</strong></span> {% else %}
                Envoyés
            {% endif %}
            <span class="label label-warning pull-right">{{ nbrMessagesEnvoyes }}</span>
        </a>
    </li>
    {#
    <li><a href=""> <i class="fa fa-certificate"></i> Important</a></li>
    <li><a href=""> <i class="fa fa-file-text-o"></i> Drafts <span class="label label-danger pull-right">2</span></a></li>
    #}
    <li>
        <a href="{{ path('message_archived') }}"> <i class="fa fa-trash-o"></i>
            {% if route_page == 'message_archived' %}<span class="text-danger"><strong>Supprimés</strong></span>
            {% else %}
            Supprimés
            {% endif %}
            <span class="label label-danger pull-right">{{ nbr_msg_archived }}</span>
        </a>
    </li>
</ul>
<h5>Categories</h5>
<ul class="category-list" style="padding: 0">
    <li><a href="#"> <i class="fa fa-circle text-primary"></i> Echange </a></li>
    <li><a href="#"> <i class="fa fa-circle text-danger"></i> Réclamation </a></li>
    <li><a href="#"> <i class="fa fa-circle text-warning"></i> Données</a></li>
    <li><a href="#"> <i class="fa fa-circle text-navy"></i> Infos</a></li>
    <li><a href="#"> <i class="fa fa-circle text-warning"></i> Systèmes</a></li>
</ul>

{#
<h5 class="tag-title">Labels</h5>
<ul class="tag-list" style="padding: 0">
    <li><a href=""><i class="fa fa-tag"></i> Family</a></li>
    <li><a href=""><i class="fa fa-tag"></i> Work</a></li>
    <li><a href=""><i class="fa fa-tag"></i> Home</a></li>
    <li><a href=""><i class="fa fa-tag"></i> Children</a></li>
    <li><a href=""><i class="fa fa-tag"></i> Holidays</a></li>
    <li><a href=""><i class="fa fa-tag"></i> Music</a></li>
    <li><a href=""><i class="fa fa-tag"></i> Photography</a></li>
    <li><a href=""><i class="fa fa-tag"></i> Film</a></li>
</ul>
#}
<div class="clearfix"></div>