<form method="post"
      action="{{ path('message_delete', {'id': message.id}) }}"
      onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ message.id) }}">
    <button class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
</form>
