{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Messages {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/plugins/iCheck/custom.css') }}">
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}
            <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="ibox float-e-margins">
                            <div class="ibox-content mailbox-content">
                                <div class="file-manager">
                                    <a class="btn btn-block btn-primary compose-mail" href="{{ path('message_new') }}"><span class="fa fa-envelope"></span> Nouveau</a>
                                    {{ include('moncompte_administration/messages/_includes/_menu_messages.html.twig') }}

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 animated fadeInRight">
                        <div class="mail-box-header">
                            <div class="pull-right tooltip-demo">
                                <a class="btn btn-sm btn-white" href="{{ path('message_response', {id:message.id}) }}"><i class="fa fa-reply"></i> Répondre</a>
                                {#
                                <a href="#" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Print email"><i class="fa fa-print"></i> </a>
                                <a href="" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Supprimer"><i class="fa fa-trash-o"></i> </a>
                                #}


                                {% if is_granted("ROLE_SUPER_ADMIN") %}
                                <span class="pull-right" style="margin-left: 5px;" data-toggle="tooltip" data-placement="top" title="Supprimer">
                                    {{ include('moncompte_administration/messages/_delete_form.html.twig') }}
                                </span>
                                {% endif %}

                                {# bouton pour archiver le message | suppression pour l'utilisateur lambda' #}
                                <span class="pull-right" style="margin-left: 5px;" data-toggle="tooltip" data-placement="top" title="Supprimer">
                                    {{ include('moncompte_administration/messages/message_todelete.html.twig') }}
                                </span>
                            </div>
                            <h2>
                                <span class="fa fa-envelope-open"></span>
                            </h2>
                            <div class="mail-tools tooltip-demo m-t-md">


                                <h3>
                                    <span class="font-normal">Objet: </span>{{ message.sujet }}
                                </h3>
                                <h5>
                                    <span class="pull-right font-normal">{{ message.dateEnvoiAt | date ('d-m-Y H:i:s') }}</span>
                                    <span class="font-normal">Envoyé par: </span>{{ message.userSender.nom }} {{ message.userSender.prenom }}
                                </h5>
                            </div>
                        </div>
                        <div class="mail-box">


                            <div class="mail-body">
                                {{ message.contenu | raw }}
                            </div>
                            {# Section des documents attachés #}
                            {#
                            <div class="mail-attachment">
                                <p>
                                    <span><i class="fa fa-paperclip"></i> Nbr de docs joints - </span>
                                    <a href="#">Tout télécharger</a>
                                    |
                                    <a href="#">Voir tout</a>
                                </p>

                                <div class="attachment">
                                    <div class="file-box">
                                        <div class="file">
                                            <a href="#">
                                                <span class="corner"></span>

                                                <div class="icon">
                                                    <i class="fa fa-file"></i>
                                                </div>
                                                <div class="file-name">
                                                    Document_2014.doc
                                                    <br/>
                                                    <small>Added: Jan 11, 2014</small>
                                                </div>
                                            </a>
                                        </div>

                                    </div>
                                    <div class="file-box">
                                        <div class="file">
                                            <a href="#">
                                                <span class="corner"></span>

                                                <div class="image">
                                                    <img alt="image" class="img-responsive" src="img/p1.jpg">
                                                </div>
                                                <div class="file-name">
                                                    Italy street.jpg
                                                    <br/>
                                                    <small>Added: Jan 6, 2014</small>
                                                </div>
                                            </a>

                                        </div>
                                    </div>
                                    <div class="file-box">
                                        <div class="file">
                                            <a href="#">
                                                <span class="corner"></span>

                                                <div class="image">
                                                    <img alt="image" class="img-responsive" src="img/p2.jpg">
                                                </div>
                                                <div class="file-name">
                                                    My feel.png
                                                    <br/>
                                                    <small>Added: Jan 7, 2014</small>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            #}


                            <div class="mail-body text-right tooltip-demo">
                                <a class="btn btn-sm btn-white" href="{{ path('message_response', {id:message.id}) }}"><i class="fa fa-reply"></i> Répondre</a>
                                {#
                                <a class="btn btn-sm btn-white" href=""><i class="fa fa-arrow-right"></i> Forward</a>
                                <button title="" data-placement="top" data-toggle="tooltip" type="button" data-original-title="Print" class="btn btn-sm btn-white"><i class="fa fa-print"></i> Print</button>
                                #}
                                {% if is_granted("ROLE_SUPER_ADMIN") %}
                                <span class="pull-right" style="margin-left: 5px;" data-toggle="tooltip" data-placement="top" title="Supprimer">
                                    {{ include('moncompte_administration/messages/_delete_form.html.twig') }}
                                </span>
                                {% endif %}
                            </div>
                            <div class="clearfix"></div>


                        </div>
                    </div>
                </div>
            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    {{ parent() }}

    {#<!-- iCheck -->#}
    <script type="text/javascript" src="{{ asset('js/plugins/iCheck/icheck.min.js') }}"></script>

    <script>
        $(document).ready(function(){
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>

{% endblock javascripts %}

