<form method="post"
      action="{{ path('message_todelete', {'id': message.id}) }}"
      onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce message?');">
    <input type="hidden" name="_method" value="ARCHIV">
    <input type="hidden" name="_token" value="{{ csrf_token('archiv' ~ message.id) }}">
    <button class="btn btn-white btn-sm"><i class="fa fa-trash"></i></button>
</form>
