{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Messages {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/plugins/iCheck/custom.css') }}">
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}
            <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="ibox float-e-margins">
                            <div class="ibox-content mailbox-content">
                                <div class="file-manager">
                                    <a class="btn btn-block btn-primary compose-mail" href="{{ path('message_new') }}"><span class="fa fa-envelope"></span> Nouveau</a>
                                    {{ include('moncompte_administration/messages/_includes/_menu_messages.html.twig') }}

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 animated fadeInRight">
                        <div class="mail-box-header">

                            <form method="get" action="" class="pull-right mail-search">
                                <div class="input-group">
                                    <input type="text" class="form-control input-sm" name="search" placeholder="Recherche...">
                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-sm btn-primary">
                                            Rechercher
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <h2>
                                Envoyé(s) ({{ nbrMessagesEnvoyes }})
                            </h2>
                            <div class="mail-tools tooltip-demo m-t-md">
                                <div class="btn-group pull-right">
                                    <button class="btn btn-white btn-sm"><i class="fa fa-arrow-left"></i></button>
                                    <button class="btn btn-white btn-sm"><i class="fa fa-arrow-right"></i></button>

                                </div>
                                <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left" title="actualiser la page"><i class="fa fa-refresh"></i> Actualiser</button>
                                <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Supprimer"><i class="fa fa-trash-o"></i> </button>

                            </div>
                        </div>
                        <div class="mail-box">

                            <table class="table table-hover table-mail">
                                <tbody>
                                {% for message in messagesEnvoyes %}
                                <tr class="read">
                                    <td>
                                        <span class="fa fa-check has-text-grey"></span>
                                    </td>
                                    <td class="mail-subject"><a href="{{ path('message_show', {id: message.id, slug: message.slug}) }}">{{ message.sujet }}.</a></td>
                                    <td class=""><i class="fa fa-paperclip"></i></td>
                                    <td>{% set receivers = message.getReceivers() %}
                                        {% for receiver in receivers  %}
                                            {{ receiver.nom }} {{ receiver.prenom }} <br/>
                                        {% endfor %}
                                    </td>
                                    <td class="text-right mail-date" title="{{ message.dateEnvoiAt|date('H') }}h {{ message.dateEnvoiAt|date(':i') }}min">
                                        {{ message.dateEnvoiAt |date('d - m - Y') }}
                                    </td>
                                </tr>
                                    {% else %}
                                    <tr class="unread">

                                        <td colspan="6">Aucun message</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    {{ parent() }}

    {#<!-- iCheck -->#}
    <script type="text/javascript" src="{{ asset('js/plugins/iCheck/icheck.min.js') }}"></script>

    <script>
        $(document).ready(function(){
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>

{% endblock javascripts %}

