{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Messages {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/plugins/iCheck/custom.css') }}">
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}
            <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="ibox float-e-margins">
                            <div class="ibox-content mailbox-content">
                                <div class="file-manager">
                                    <a class="btn btn-block btn-primary compose-mail" href="{{ path('message_new') }}"><span class="fa fa-envelope"></span> Nouveau</a>
                                    {{ include('moncompte_administration/messages/_includes/_menu_messages.html.twig') }}

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 animated fadeInRight">
                        <div class="mail-box-header">

                            <form method="get" action="" class="pull-right mail-search">
                                <div class="input-group">
                                    <input type="text" class="form-control input-sm" name="search" placeholder="Recherche...">
                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-sm btn-primary">
                                            Rechercher
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <h2>
                                Inbox ({{ nbrMessages - nbr_msg_archived }})
                            </h2>
                            <div class="mail-tools tooltip-demo m-t-md">
                                <div class="btn-group pull-right">
                                    <button class="btn btn-white btn-sm"><i class="fa fa-arrow-left"></i></button>
                                    <button class="btn btn-white btn-sm"><i class="fa fa-arrow-right"></i></button>

                                </div>
                                <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left" title="actualiser la page"><i class="fa fa-refresh"></i> Actualiser</button>
                                <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Supprimer"><i class="fa fa-trash-o"></i> </button>

                            </div>
                        </div>
                        <div class="mail-box">

                            <table class="table table-hover table-mail">
                                <tbody>
                                {% for message in messages %}
                                    {% set msg_sup = message.getMessagesupprimes() %}
                                    {% set msg = message.messagesvuses %}
                                <tr class="{% for msg in msg if msg.message.id == message.id and app.user.id == msg.user.id %} read {% else %} unread {% endfor %}
                                    {% for msg_sup in msg_sup if msg_sup.id != message.id %} hidden{% endfor %}">
                                    <td>
                                        <span class="{% for msg in msg if msg.message.id == message.id and app.user.id == msg.user.id %} fa fa-check has-text-grey {% else %} fa fa-circle-o text-success {% endfor %}"></span>
                                        {#
                                        {% set msg = message.messagesvuses %}
                                        {% for msg in msg if msg.message.id == message.id and app.user.id == msg.user.id %}lu{{ msg.user }}{% else %}non-lu{% endfor %}
                                        #}
                                        <span class="{% if message.typeMessage.designation == 'Réclamations' %}
                                        label label-danger
                                        {% elseif message.typeMessage.designation == 'Données' %}
                                        label label-warning
                                        {% elseif message.typeMessage.designation == 'Système' %}
                                        label label-warning
                                        {% elseif message.typeMessage.designation == 'Echange' %}
                                        label label-success
                                        {% else %}
                                        label label-navy
                                        {% endif %}
                                         pull-right">
                                            {{ message.typeMessage.designation }}
                                        </span>
                                    </td>
                                    {#<td class="check-mail"> <input type="checkbox" class="i-checks"> </td>#}

                                    <td class="mail-ontact"><a href="{{ path('message_show', {id: message.id, slug: message.slug}) }}">{{ message.userSender.nom }} {{ message.userSender.prenom }}</a></td>
                                    <td class="mail-subject"><a href="{{ path('message_show', {id: message.id, slug: message.slug}) }}">{{ message.sujet }}.</a></td>
                                    <td class=""><i class="fa fa-paperclip"></i></td>
                                    <td class="text-right mail-date" title="{{ message.dateEnvoiAt|date('H') }}h {{ message.dateEnvoiAt|date(':i') }}min">
                                        {{ message.dateEnvoiAt |date('d - m - Y') }}
                                    </td>
                                </tr>
                                    {% else %}
                                    <tr>

                                        <td colspan="5">Aucun message</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    {{ parent() }}

    {#<!-- iCheck -->#}
    <script type="text/javascript" src="{{ asset('js/plugins/iCheck/icheck.min.js') }}"></script>

    <script>
        $(document).ready(function(){
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>

{% endblock javascripts %}

