{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Alerter l'admin {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/plugins/chosen/bootstrap-chosen.css') }}">
        <link rel="stylesheet" href="{{ asset('css/plugins/iCheck/custom.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/plugins/summernote/summernote.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/plugins/summernote/summernote-bs3.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/plugins/chosen/bootstrap-chosen.css') }}">

    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% for message in app.flashes('success') %}
                <div class="alert alert-success alert-dismissable">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    {{ message }}
                </div>
            {% endfor %}

            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}

            <div class="wrapper wrapper-content">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="ibox float-e-margins">
                                <div class="ibox-content mailbox-content">
                                    <div class="file-manager">
                                        <a class="btn btn-block btn-primary compose-mail" href="{{ path('message_new') }}"><span class="fa fa-envelope"></span> Nouveau</a>
                                        {{ include('moncompte_administration/messages/_includes/_menu_messages.html.twig') }}

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9 animated fadeInRight">
                            <div class="mail-box-header">
                                <div class="pull-right tooltip-demo">
                                    {#
                                    <a href="" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to draft folder"><i class="fa fa-pencil"></i> Draft</a>
                                    #}
                                    <a href="{{ path('message_index') }}" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Annuler"><i class="fa fa-times"></i> Annuler</a>
                                </div>
                                <h2>
                                    Envoyer un message
                                </h2>
                            </div>
                            <div class="mail-box">


                                <div class="mail-body">
                                    {{ form_start(form_message, {
                                        'attr': {
                                            'class': 'form-horizontal',
                                            'role': 'form'
                                        }
                                    }) }}
                                    {# test de l'url #}

                                    {% if typeMessage == 'donnees' %}
                                        <div class="form-group hidden">
                                            <label class="col-sm-2 control-label text-uppercase">à:</label>
                                            <div class="col-sm-10 hidden">
                                                {{ form_widget(form_message.receivers,{
                                                    'attr' : {
                                                        'class':'chosen-select disabled'
                                                    }
                                                }) }}
                                            </div>

                                        </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label text-uppercase">à:</label>
                                        <div class="col-sm-10 ">
                                            <input type="text" class="form-control" placeholder="Aux administrateurs" disabled>
                                        </div>
                                    </div>
                                    {% else %}
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label text-uppercase">à:</label>
                                            <div class="col-sm-10">
                                                {{ form_widget(form_message.receivers,{
                                                    'attr' : {
                                                        'class':'chosen-select'
                                                    }
                                                }) }}
                                            </div>
                                        </div>
                                    {% endif %}

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Sujet</label>
                                        <div class="col-sm-10">
                                            {{ form_widget(form_message.sujet,{
                                                'attr' : {
                                                    'class':'form-control',
                                                    'placeholder': 'Sujet'
                                                }
                                            }) }}
                                            <span class="help-block">Exemple : <i>Mon nom / prénom sont mal saisis</i></span>
                                        </div>
                                    </div>


                                    {#
                                    <form class="form-horizontal" method="get">
                                        <div class="form-group"><label class="col-sm-2 control-label">To:</label>

                                            <div class="col-sm-10"><input type="text" class="form-control" value="alex.smith@corporat.com"></div>
                                        </div>
                                        <div class="form-group"><label class="col-sm-2 control-label">Subject:</label>

                                            <div class="col-sm-10"><input type="text" class="form-control" value=""></div>
                                        </div>
                                    </form>
                                    #}
                                    <div class="form-group">
                                        <div class="col-sm-12 mail-text h-200">
                                            {{ form_widget(form_message.contenu, {
                                                'attr':{
                                                    'class':'form-control summernote',
                                                    'placeholder': ''
                                                }
                                            }) }}
                                        </div>
                                    </div>

                                </div>


                                <div class="mail-body text-right tooltip-demo">
                                    <button class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="Envoyer"><i class="fa fa-reply"></i> Envoyer</button>
                                    <a href="{{ path('message_index') }}" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Annuler"><i class="fa fa-times"></i> Annuler</a>
                                    {#
                                    <a href="" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to draft folder"><i class="fa fa-pencil"></i> Draft</a>
                                    #}
                                </div>
                                {{ form_end(form_message) }}
                                <div class="clearfix"></div>



                            </div>
                        </div>
                    </div>
                </div>

            {#
            <div class="wrapper wrapper-content">

                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Alerter
                                <small>l'administrateur</small>
                            </h5>

                        </div>
                        <div class="ibox-content">
                            <br>
                            {{ form_start(form_message, {
                                'attr': {
                                    'class': 'form-horizontal',
                                    'role': 'form'
                                }
                            }) }}

                            <div class="form-group">
                                <div class="col-sm-10">
                                    {{ form_widget(form_message.typeAlerte, {
                                        'attr':{
                                            'class':'form-control hidden',
                                        }
                                    }) }}
                                </div>
                            </div>
                            {#
                            <div class="form-group">
                                <div class="col-sm-10">
                                    {{ form_widget(form_message.userSender, {
                                        'attr':{
                                            'class':'form-control',
                                        }
                                    }) }}
                                </div>
                            </div>
                            #

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Sujet</label>
                                <div class="col-sm-10">
                                    {{ form_widget(form_message.sujet,{
                                        'attr' : {
                                            'class':'form-control',
                                            'placeholder': 'Sujet'
                                        }
                                    }) }}
                                    <span class="help-block">Exemple : <i>Mon nom / prénom sont mal saisis</i></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Contenu</label>
                                <div class="col-sm-10">
                                    {{ form_widget(form_message.contenu, {
                                        'attr':{
                                            'class':'form-control',
                                            'placeholder': ''
                                        }
                                    }) }}
                                    <span class="help-block"><i>Détaillez votre soucis. Soyez clair et concis.</i></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10">
                                    {{ form_widget(form_message.dateEnvoiAt, {
                                        'attr':{
                                            'class':'form-control hidden',
                                        }
                                    }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label hidden"></label>
                                <div class="col-sm-10">
                                    {{ form_widget(form_message.lu, {
                                        'attr':{
                                            'class':'form-control hidden',
                                        }
                                    }) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <a class="btn btn-w-m btn-white" href="{{ path('moncompte_administration') }}"><i class="fa fa-arrow-left"></i> Retour</a>
                                    <button class="btn btn-w-m btn-primary">Valider</button>
                                </div>
                            </div>

                            {{ form_end(form_message) }}
                        </div>
                    </div>
                </div>

            </div>
            #}

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('js/plugins/chosen/chosen.jquery.js') }}"></script>
    {#!-- iCheck -->#}
    <script type="text/javascript" src="{{ asset('js/plugins/iCheck/icheck.min.js') }}"></script>



    {#<!-- SUMMERNOTE -->#}
    <script type="text/javascript" src="{{ asset('js/plugins/summernote/summernote.min.js') }}"></script>
    <script>
        $(document).ready(function(){

            $('.summernote').summernote();

        });

    </script>


    <script>

        $('.chosen-select').chosen({width: "100%"});


    </script>

{% endblock javascripts %}

