{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Reprise de fonctions {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Morris --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css') }}">
        <link rel="stylesheet" href="{{ asset('css/plugins/select2/select2.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/plugins/chosen/bootstrap-chosen.css') }}">

    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}

            <div class="wrapper wrapper-content animated fadeInRight">
                {% if info_demission == 0 or info_licenciement == 0 or info_miseapied ==0 or info_retraite == 0 or info_suspension == 0 %}
                    <row>
                        <div class="alert alert-danger alert-dismissable">
                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                            {% if info_demission == 0 %}Aucune démission enregisgtré,  <br>{% endif %}
                            {% if info_licenciement == 0 %}Aucun licenciement enregistré,<br>{% endif %}
                            {% if info_miseapied == 0 %}Aucune mise à pied enregistrée,<br>{% endif %}
                            {% if info_retraite == 0 %}Aucune retraite enregistrée, <br>{% endif %}
                            {% if info_suspension == 0 %}Aucune suspension enregistrée, <br>{% endif %}
                            Êtes-vous sûr de vouloir lui enregistrer une réintégration?
                            <a class="alert-link" href="{{ path('evenements_reprisedefonction_index')}}">Cliquez ici pour retourner à la liste des réintégrations</a>.
                        </div>
                    </row>
                {% endif %}
                {% if event_name %}
                <row>
                    <div class="alert alert-success">
                        Les données affichées sont pusées depuis l'événement {{ event_name }} (Dernier événement enregistré avec un poste).<br>
                        <small>Si vous pensez que les données sont éronnées, veuillez contacter votre chef hiérarchique.</small>
                    </div>
                </row>
                {% else %}
                    <row>
                        <div class="alert alert-danger">
                            Aucune donnée connue pour cet agent. Veuillez enregistrer son recrutement<br>
                            Pour ce faire, <a href="{{ path('evenements_recrutement_new', {id: ev_reprisedefonction.User.id }) }}">Cliquer ici</a>
                        </div>
                    </row>
                {% endif %}
                <div class="row">

                    <div class="col-lg-12">

                        <div class="ibox">
                            <div class="ibox-content">
                                <h3>Enregistrer une reprise de fonction </h3>

                                <p class="small">
                                    Ajouter un evenement "reprise de fonction" à :
                                </p>
                                {{ form_start(form) }}

                                    <div class="form-group">
                                        <label>Agent  </label>
                                        <span> {{ ev_reprisedefonction.user }} </span>
                                    </div>
                                    <input type="text" class="form-control hidden" name="reprisedefonction[user]" value="{{ ev_reprisedefonction.User.id }}"  >

                                    <div class="form-group col-sm-6 {% if form_errors(form.reference) %}has-error{% endif %}" style="padding-left: 0px;">
                                        <label>Reference de la note  </label>
                                        {{ form_widget(form.reference, {
                                            'attr': {
                                                'class': 'form-control'
                                            }
                                        }) }}
                                    </div>
                                    <div class="form-group col-sm-6 {% if form_errors(form.dateReprisedefonctionAt) %}has-error{% endif %}" style="padding-right: 0px;">
                                        <label>Date  </label>
                                        {{ form_widget(form.dateReprisedefonctionAt, {
                                            'attr': {
                                                'class': 'form-control'
                                            }
                                        }) }}
                                    </div>

                                <div class="form-group {% if form_errors(form.poste) %}has-error{% endif %}" >
                                    <label>Poste  </label>
                                    {{ form_widget(form.poste) }}
                                </div>
                                <div class="form-group {% if form_errors(form.serviceDepartementDirection) %}has-error{% endif %}" >
                                    <label>Service | Département | Direction - actuel  </label>
                                    {{ form_widget(form.serviceDepartementDirection) }}
                                </div>

                                    {{ form_widget(form) }}
                                    <input class="btn btn-primary" type="submit" value="Enregistrer" />

                                {{ form_end(form) }}

                                <div class="hr-line-dashed"></div>
                                {% if is_granted('ROLE_ADMIN_GCAR') %}
                                    <a href="{{ path('evenements_reprisedefonction_index') }}">Retour à la liste</a>
                                {% endif %}
                                <div class="hr-line-dashed"></div>
                            </div>
                        </div>

                    </div>



                </div>

            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}

    <script type="text/javascript" src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/inspinia.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/pace/pace.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/touchspin/jquery.bootstrap-touchspin.min.js') }}"></script>

    <!-- Typehead -->
    <script type="text/javascript" src="{{ asset('js/plugins/typehead/bootstrap3-typeahead.min.js') }}"></script>


    <script>

        $('.chosen-select').chosen({width: "100%"});


    </script>



{% endblock javascripts %}

