{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Agents {% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/plugins/dataTables/datatables.min.css') }}" />
{% endblock stylesheets %}

{% block leftmenu %}
    {{ parent() }}
{% endblock leftmenu %}

{% block topmenu %}
    {{ parent() }}
{% endblock topmenu %}

{% block body %}
    {% block fildariane %}
        {{ include('_generals_includes/_fildariane.html.twig') }}
    {% endblock fildariane %}

    <div class="wrapper wrapper-content">
        <div class="row">
            {# Messages Falsh #}
            {% for message in app.flashes('success') %}
                <div class="col-lg-12">
                    <div class="alert alert-success alert-dismissable ">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            {# ================== menu_gauche ==================== #}
            {{ include('personnel/includes/_menu_gauche.html.twig') }}
            {# ================== Fin menu_gauche ==================== #}

            {# ============================= Contenu  ==================================== #}
            <div class="col-lg-9">
                <div class="widget-head-color-box navy-bg p-h-xs text-center">
                    <div class="m-b-md">
                        <h2 class="font-bold no-margins">Situation des derniers congés</h2>
                    </div>
                </div>
                <div class="widget-text-box">

                    <table class="table table-striped table-bordered table-hover dataTables-example" >
                        <thead>
                        <tr>
                            <th>Matricule</th>
                            <th>Agent</th>
                            <th>Période</th>
                            <th>Nbre</th>
                            <th>Action/Demande</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for agent in agents %}
                            <tr>
                                <td><span class="text-center">{{ agent.matricule }}</span></td>
                                <td>{{ agent.nom }} {{ agent.prenom }}</td>
                                <td>
                                    {% if agent.dateDebutAt is defined and agent.dateDebutAt != null %}
                                        Du {{ agent.dateDebutAt | date('d/m/Y') }} au {{ agent.dateFinAt | date('d/m/Y') }}
                                    {% else %}
                                        Pas encore
                                    {% endif %}
                                </td>
                                <td>
                                    {% if agent.nombreJour is defined and agent.nombreJour != null %}
                                        {{ agent.nombreJour }} jrs
                                    {% else %}
                                        Aucun
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <button data-toggle="dropdown" class="btn btn-{% if agent.nombreJour is defined and agent.nombreJour != null %}info{% else %}default{% endif %} btn-xs dropdown-toggle">
                                            Action <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="{{ path('demande_conge_agent_create', {id: agent.id}) }}"><span class="fa fa-plus"></span> Demander un congé</a></li>
                                            {% if agent.nombreJour is defined and agent.nombreJour != null %}
                                                <li><a href="{{ path('demandes_agent_show', {id: agent.id}) }}"><span class="fa fa-eye"></span> Ses congés</a></li>
                                                <li><a href="{{ path('demande_conge_edit', {'id': agent.demande_conge_id}) }}"><span class="fa fa-edit"></span> Editer congé</a></li>
                                                <li class="divider"></li>
                                                <li><a href="{{ path('reprise_service', {id: agent.id}) }}"><span class="fa fa-angle-double-left"></span> Reprise de service</a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">Aucun enregistrement!</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {# ============================= Fin contenu   ==================================== #}
        </div>
    </div>

{% endblock body %}

{% block footer %}
    {{ parent() }}
{% endblock footer %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/plugins/dataTables/datatables.min.js') }}"></script>

    <script>
        $(document).ready(function(){
            $('.dataTables-example').DataTable({
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    {extend: 'copy', title: 'Deniers-Congé'},
                    /*{extend: 'csv', title: 'Deniers-Congé'},
                    {extend: 'excel', title: 'Deniers-Congé'},
                    {extend: 'pdf', title: 'Deniers-Congé'},*/

                    {extend: 'print',
                        customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]
            });
        });
    </script>
{% endblock javascripts %}

