{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Nouvelle reintegration {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Morris --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/select2/select2.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/plugins/chosen/bootstrap-chosen.css') }}">

    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}

            <div class="wrapper wrapper-content animated fadeInRight">
                {% if info_demission == 0 and info_licenciement == 0 and info_miseapied ==0 and info_retraite == 0 and info_suspension == 0 %}
                    <row>
                        <div class="alert alert-danger alert-dismissable">
                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                            {% if info_demission == 0 %}Aucune démission enregisgtré,  <br>{% endif %}
                            {% if info_licenciement == 0 %}Aucun licenciement enregistré,<br>{% endif %}
                            {% if info_miseapied == 0 %}Aucune mise à pied enregistrée,<br>{% endif %}
                            {% if info_retraite == 0 %}Aucune retraite enregistrée, <br>{% endif %}
                            {% if info_suspension == 0 %}Aucune suspension enregistrée, <br>{% endif %}
                            Êtes-vous sûr de vouloir lui enregistrer une réintégration?
                            <a class="alert-link" href="{{ path('evenements_reintegration_index')}}">Cliquez ici pour retourner à la liste des réintégrations</a>.
                        </div>
                    </row>
                {% endif %}
                {% if user_evenement == 0 %}
                    <row>
                        <div class="alert alert-danger alert-dismissable">
                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                            Cet agent n'a pas de recrutement enregistré,<br>
                            Êtes-vous sûr de vouloir lui enregistrer une reintegration?
                            <a class="alert-link" href="{{ path('evenements_recrutement_new', {id: ev_reintegration.User.id}) }}">Cliquez ici pour enregistrer son recrutement</a>.
                        </div>
                    </row>
                {% endif %}
                {% if event_name %}
                <row>
                    <div class="alert alert-success">
                        Les données sont pusées depuis l'événement {{ event_name }} (Dernier événement enregistré avec un nouvau poste).<br>
                        <small>Si vous pensez que les données sont éronnées, veuillez contacter votre chef hiérarchique.</small>
                    </div>
                </row>
                {% endif %}
                <div class="row">

                    {# include du menu_left
                    {{ include('evenements/_includes/_left_menu.html.twig') }}
                    Fin include du menu_left #}

                    <div class="col-lg-12">

                        <div class="ibox">
                            <div class="ibox-content">
                                <h3>Enregistrer une reintegration </h3>

                                <p class="small">
                                    Ajouter un evenement "reintegration".
                                </p>
                                {{ form_start(form) }}

                                    <div class="form-group">
                                        <label>Agent  </label>
                                        <span> {{ ev_reintegration.user }} {{ event_name }}</span>
                                    </div>
                                    <input type="text" class="form-control hidden" name="reintegration[user]" value="{{ ev_reintegration.User.id }}"  >

                                    <div class="form-group col-sm-6 {% if form_errors(form.reference) %}has-error{% endif %}" style="padding-left: 0px;">
                                        <label>Reference de la note  </label>
                                        {{ form_widget(form.reference, {
                                            'attr': {
                                                'class': 'form-control'
                                            }
                                        }) }}
                                    </div>
                                    <div class="form-group col-sm-6 {% if form_errors(form.dateReintegrationAt) %}has-error{% endif %}" style="padding-right: 0px;">
                                        <label>Date de reintegration </label>
                                        {{ form_widget(form.dateReintegrationAt, {
                                            'attr': {
                                                'class': 'form-control'
                                            }
                                        }) }}
                                    </div>

                                    <div class="form-group">
                                        <label>Réintégré(e) au poste de</label>
                                        {{ form_widget(form.poste, {
                                            'attr': {
                                                'class': 'chosen-select'
                                            }
                                        }) }}
                                    </div>
                                    <div class="form-group col-sm-3" >
                                        <label>Catégorie pro</label>
                                        {{ form_widget(form.categorie, {
                                            'placeholder' : 'Choisir la catégorie pro',
                                            'attr': {
                                                'class': 'chosen-select'
                                            }
                                        }) }}

                                    </div>
                                <div class="form-group col-sm-3" >
                                        <label>Groupe </label>
                                        {{ form_widget(form.indiceGroupe, {
                                            'attr': {
                                                'class': 'chosen-select'
                                            }
                                        }) }}

                                    </div>
                                    <div class="form-group col-sm-3" >
                                        <label>Catégorie </label>
                                        {{ form_widget(form.indiceCategorie, {
                                            'attr': {
                                                'class': 'chosen-select'
                                            }
                                        }) }}
                                    </div>
                                    <div class="form-group col-sm-3" >
                                        <label>Echélon </label>
                                        {{ form_widget(form.indiceEchelon, {
                                            'attr': {
                                                'class': 'chosen-select'
                                            }
                                        }) }}
                                    </div>
                                    <div class="form-group col-sm-6 {% if form_errors(form.direction) %}has-error{% endif %}" style="padding-left: 0px;">
                                        <label>Direction  </label>
                                        {{ form_widget(form.direction, {
                                            'attr': {
                                                'class': 'chosen-select'
                                            }
                                        }) }}
                                    </div>
                                    <div class="form-group col-sm-6" style="padding-right: 0px;">
                                        <label>Service de la direction  </label>
                                        {{ form_widget(form.serviceDirection) }}
                                    </div>
                                    <div class="form-group">
                                        <label>Département de la direction </label>
                                        {{ form_widget(form.departement) }}
                                    </div>
                                    <div class="form-group">
                                        <label>Service du département  </label>
                                        {{ form_widget(form.serviceDepartement) }}
                                    </div>
                                    {{ form_widget(form) }}
                                    <input class="btn btn-primary" type="submit" value="Enregistrer" />

                                {{ form_end(form) }}

                                <div class="hr-line-dashed"></div>
                                {% if is_granted('ROLE_ADMIN_GCAR') %}
                                    <a href="{{ path('evenements_reintegration_index') }}">Retour à la liste</a>
                                {% endif %}
                            </div>
                        </div>

                    </div>



                </div>

            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('js/plugins/select2/select2.full.min.js') }}"></script>


    <script type="text/javascript" src="{{ asset('js/plugins/chosen/chosen.jquery.js') }}"></script>


    <script>
        $(document).on('change', '#reintegration_direction, #reintegration_departement, #reintegration_serviceDirection', function () {
            let $field = $(this)
            let $directionField = $('#reintegration_direction')
            let $form = $field.closest('form')
            let data = {}
            data[$directionField.attr('name')] = $directionField.val()
            data[$field.attr('name')] = $field.val()
            $.post($form.attr('action'), data).then(function (data) {
                let $input = $(data).find('#reintegration_departement')
                $('#reintegration_departement').replaceWith($input)

                //chargement du champs service lié à une direction après selection de la direction
                let $inputsvcdir = $(data).find('#reintegration_serviceDirection')
                $('#reintegration_serviceDirection').replaceWith($inputsvcdir)

                //chargement du champs service lié à un département après selection du département
                let $inputsvcdpt = $(data).find('#reintegration_serviceDepartement')
                $('#reintegration_serviceDepartement').replaceWith($inputsvcdpt)
            })

        })
    </script>


    <script>

        $('.chosen-select').chosen({width: "100%"});


    </script>



{% endblock javascripts %}

