{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Accueil Congé {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css') }}">
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}

            <div class="wrapper wrapper-content">
                <div class="row">
                    {# Messages Falsh #}
                    {% for message in app.flashes('success') %}
                        <div class="col-lg-12">
                            <div class="alert alert-success alert-dismissable ">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                {{ message }}
                            </div>
                        </div>
                    {% endfor %}

                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="sortable-list connectList agile-list" id="todo">
                            {% for msgAccueilConge in msgs if msgAccueilConge.enabled %}
                                <li class="danger-element" id="task4">
                                    {{ msgAccueilConge.description }}
                                    {#<div class="agile-detail">
                                        <i class="fa fa-clock-o"></i> {{ msgAccueilConge.createdAt | date('d.m.Y') }}
                                    </div>#}
                                </li>
                            {% else %}
                                <li class="danger-element" id="task4">
                                    Aucun message!!
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    {# ================== menu_gauche ==================== #}
                    {{ include('personnel/includes/_menu_gauche.html.twig') }}
                    {# ================== Fin menu_gauche ==================== #}

                    {# ============================= Contenu  ==================================== #}
                    <div class="col-lg-9">
                        <div class="widget-head-color-box navy-bg p-lg text-center">
                            <div class="m-b-md">
                                <h2 class="font-bold no-margins">
                                    Admin Congé
                                </h2>
                            </div>
                        </div>

                        <div class="tabs-container">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#tab-1"> Situation de mes congés</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-2">Mes congés pris</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-3">Mes congés restants</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="tab-1" class="tab-pane active">
                                    <div class="panel-body">
                                        <table class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th style="font-size: 12px;">Droit à congé</th>
                                                {% for droitCongeAgent in droitCongeAgents %}
                                                    <th>{{ droitCongeAgent.annee }}</th>
                                                {% endfor %}
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <th>Annuel</th>
                                                {% for droitCongeAgent in droitCongeAgents %}
                                                    <td>{{ droitCongeAgent.annuel }}</td>
                                                {% endfor %}
                                            </tr>
                                            <tr>
                                                <th>Congé pris</th>
                                                {% for droitCongeAgent in droitCongeAgents %}
                                                    <td>{{ droitCongeAgent.congePris }}</td>
                                                {% endfor %}
                                            </tr>
                                            <tr>
                                                <th>Congé restant</th>
                                                {% for droitCongeAgent in droitCongeAgents %}
                                                    <td>{{ droitCongeAgent.congeRestant }}</td>
                                                {% endfor %}
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div id="tab-2" class="tab-pane">
                                    <div class="panel-body">
                                        <strong>Mes congés pris</strong>

                                    </div>
                                </div>
                                <div id="tab-3" class="tab-pane">
                                    <div class="panel-body">
                                        <strong>Mes congés restants</strong>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {# ============================= Fin contenu   ==================================== #}

                </div>

            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    {{ parent() }}
{% endblock javascripts %}

