<div class="col-sm-3">
    <div class="ibox ">

        <div class="ibox-content">
            <div class="client-detail">
                <div class="full-height-scroll">

                    <ul class="list-group clear-list">
                        {% if app.request.attributes.get('_route') != 'sites_energetiques_index' %}
                            <li class="list-group-item fist-item">
                                {# <span class="pull-right"> nbr </span> #}
                                <a href="{{ path('sites_energetiques_index') }}"><span class="fa fa-home"></span> Accueil</a>
                            </li>
                        {% else %}
                            <li class="list-group-item fist-item">
                                <span class="fa fa-home"></span> Accueil
                            </li>
                        {% endif %}

                        {% if app.request.attributes.get('_route') != 'sites_energetiques_new' %}
                        <li class="list-group-item">
                            <a href="{{ path('sites_energetiques_new') }}"><span class="fa fa-plus"></span> Ajouter un site </a>
                        </li>
                        {% endif %}

                        {#
                        {% if app.request.attributes.get('_route') != 'baieenergetique_new' %}
                            <li class="list-group-item">
                                <a href="{{ path('baieenergetique_new') }}"><span class="fa fa-plus"></span> Ajouter Baie énergétique</a>
                            </li>
                        {% endif %}
                        {% if app.request.attributes.get('_route') != 'materiel_new' %}
                            <li class="list-group-item">
                                <a href="{{ path('materiel_new') }}"><span class="fa fa-plus"></span> Ajouter materiels</a>
                            </li>
                        {% endif %}
                        #}

                        {% if app.request.attributes.get('_route') != 'equipementconcerne_new' %}
                            <li class="list-group-item">
                                {# <span class="pull-right"> nbr </span> #}
                                <a href="{{ path('equipementconcerne_new') }}"><span class="fa fa-plus"></span> Ajouter équipement alimenté</a>
                            </li>
                        {% endif %}

                        {% if app.request.attributes.get('_route') != 'intervention_new' %}
                            <li class="list-group-item">
                                {# <span class="pull-right"> nbr </span> #}
                                <a href="{{ path('intervention_new') }}"><span class="fa fa-plus"></span> Enregistrer une intervention</a>
                            </li>
                        {% endif %}

                        {% if app.request.attributes.get('_route') != 'materiel_index' %}
                        <li class="list-group-item">
                            {# <span class="pull-right"> nbr </span> #}
                            <a href="{{ path('materiel_index') }}"><span class="fa fa-list-alt"></span> Liste des materiels</a>
                        </li>
                        {% endif %}
                        {% if app.request.attributes.get('_route') != 'equipementconcerne_index' %}
                        <li class="list-group-item">
                            {# <span class="pull-right"> nbr </span> #}
                            <a href="{{ path('equipementconcerne_index') }}"><span class="fa fa-list-alt"></span> Liste des équipements alimentés</a>
                        </li>
                        {% endif %}
                        {% if app.request.attributes.get('_route') != 'baieenergetique_index' %}
                        <li class="list-group-item">
                            {# <span class="pull-right"> nbr </span> #}
                            <a href="{{ path('baieenergetique_index') }}"><span class="fa fa-list-alt"></span> Liste des baies énergétiques</a>
                        </li>
                        {% endif %}
                        {% if app.request.attributes.get('_route') != 'intervention_index' %}
                        <li class="list-group-item">
                            {# <span class="pull-right"> nbr </span> #}
                            <a href="{{ path('intervention_index') }}"><span class="fa fa-list-alt"></span> Liste des interventions</a>
                        </li>
                        {% endif %}

                    </ul>
                    <hr/>

                </div>
            </div>
        </div>
    </div>
</div>