{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Edit Département {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('font-awesome/css/font-awesome.css') }}">

        <link rel="stylesheet" href="{{ asset('css/plugins/chosen/bootstrap-chosen.css') }}">


        <link rel="stylesheet" href="{{ asset('css/animate.css') }}">
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}
            {# Récupération de l'ID
            {% set user_id = app.request.get('id') %}
             #}

            <div class="wrapper wrapper-content animated fadeInUp">
                <div class="row">
                    {# Messages Falsh #}
                    {% for message in app.flashes('success') %}
                        <div class="col-lg-12" style="margin-top: 15px;">
                            <div class="alert alert-success alert-dismissable ">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                {{ message }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Edition du département</h5>
                            </div>
                            <div class="ibox-content">
                                {{ form_start(form_dpt, {
                                    'attr': {
                                        'class': 'form-horizontal',
                                        'role': 'form'
                                    }
                                }) }}

                                <div class="form-group">
                                    <div class="col-lg-12">
                                        {{ form_widget(form_dpt.designation, {
                                            'attr': {
                                                'class': 'form-control'
                                            }
                                        }) }}
                                        <div class="form-error">
                                            <small class="text-danger">{{ form_errors(form_dpt.designation) }}</small>
                                        </div>
                                        <span class="help-block m-b-none">
                                            Modifier le nom du département
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button class="btn btn-sm btn-primary pull-right" type="submit">Enregistrer</button>
                                        <a href="{{ path('departement_direction_index') }}" class="btn btn-sm btn-default">
                                            <i class="fa fa-arrow-left"></i> Annuler
                                        </a>
                                    </div>
                                </div>
                                {{ form_end(form_dpt) }}

                                {# ===== LIGNE SEPARATRICE ===== #}
                                <div class="hr-line-dashed"></div>
                                {# ==== FIN LIGNE SEPARATRICE ===== #}

                                <p class="font-bold small">Dernier département ajouté :</p>
                                {% for departement in departements %}
                                    {% if loop.last %}
                                        <p class="font-bold text-danger">{{ departement }}</p>
                                        {% set departements = departement.getDepartementdirections() %}
                                        {% set nbr = 0 %}
                                        {% for departement in departements %}
                                            {{ departement.direction|e }}<br>
                                        {% else %}
                                            {% set nbr = nbr +1 %}
                                        {% endfor %}

                                        {# vérification si le département est lié ou pas #}
                                        {% if nbr >= 1 %}
                                            Ce département est <span class="font-bold text-danger"> orphelin</span>
                                            <div class="hr-line-dashed"></div>
                                            <a type="button" href="{{ path('departement_edit', {id: departement.id}) }}" class="btn btn-success btn-block btn-rounded">
                                                <i class="fa fa-link"></i> Lier ce département
                                            </a>
                                        {% endif %}

                                    {% endif %}
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <i class="fa fa-info-circle"></i> Informations du département
                            </div>
                            <div class="panel-body">
                                <p class="font-bold ">ID : <span class="text-danger">{{ departement.id }}</span>  </p>
                                <p class="font-bold ">Désignation : <span class="text-danger">{{ departement }}</span>  </p>
                                {# ===== LIGNE SEPARATRICE ===== #}
                                <div class="hr-line-dashed"></div>
                                {# ==== FIN LIGNE SEPARATRICE ===== #}

                                <p class="font-bold ">Liaison du département</p>

                                {% set departementdirections = departement.getDepartementdirections() %}
                                {% set nbrlink = 0 %}
                                {% for departement_direction in departementdirections %}
                                    <div class="hr-line-dashed"></div>
                                    Ce département est <span class="font-bold text-danger"> lié </span> à la direction :
                                    {{ departement_direction.direction|e }}
                                    <div class="hr-line-dashed"></div>
                                    {# FORMULAIRE DE MODIFICATION DE LIAISON POUR LE la direction #}
                                    <div class="col-sm-12">
                                        <a href="{{ path('departement_direction_edit', {id: departement_direction.id}) }}" type="button" class="btn btn-success btn-rounded btn-info btn-block">
                                            <i class="fa fa-edit"></i> Modifier la liaison avec la direction ?
                                        </a>
                                        <br>
                                        <div class="ibox-content ibox-heading">
                                            <small class="text-danger"><i class="fa fa-warning"></i> Ou si vous voulez supprimer la liaison, cliquer sur le boutton suivant.</small>
                                        </div>
                                        <br>
                                        <div class="pull-right">
                                            {{ include('departement_direction/_delete_form.html.twig') }}
                                        </div>
                                    </div>

                                {% else %}
                                    {% set nbrlink = nbrlink +1 %}
                                    {{ nbrlink }}
                                {% endfor %}

                                {% if nbrlink >= 1 %}
                                    Ce département est <span class="font-bold text-danger"> orphelin</span> <br>
                                    <br>
                                    <div class="alert alert-danger">
                                        Ce département ( <b>{{ departement }}</b> ) doit être <b>impérativement</b> lié à une direction.
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="panel panel-danger">
                                            <div class="panel-heading">
                                                Lier le département à une direction
                                            </div>
                                            <div class="panel-body">
                                                {{ form_start(form_addDpt, {
                                                    'attr': {
                                                        'class': 'form-horizontal',
                                                        'role': 'form'
                                                    }
                                                }) }}

                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        {{ form_widget(form_addDpt.departement, {
                                                            'placeholder' : 'Selectionner le departement',
                                                            'attr': {
                                                                'class': 'hidden'
                                                            }
                                                        }) }}
                                                        <div class="form-error">
                                                            <small class="text-danger">{{ form_errors(form_addDpt.departement) }}</small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        {{ form_widget(form_addDpt.direction, {
                                                            'placeholder' : 'Selectionner la direction',
                                                            'attr': {
                                                                'class': 'chosen-select'
                                                            }
                                                        }) }}
                                                        <div class="form-error">
                                                            <small class="text-danger">{{ form_errors(form_addDpt.direction) }}</small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        {{ form_widget(form_addDpt.tel, {
                                                            'attr': {
                                                                'class': 'form-control',
                                                                'data-mask' : '999 99 99',
                                                                'placeholder' : 'Tel du département'
                                                            }
                                                        }) }}
                                                        <div class="form-error">
                                                            <small class="text-danger">{{ form_errors(form_addDpt.tel) }}</small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        {{ form_widget(form_addDpt.agence, {
                                                            'placeholder' : 'Agence (Optionnel)',
                                                            'attr': {
                                                                'class' : 'chosen-select'
                                                            }
                                                        }) }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <button class="btn btn-sm btn-primary pull-right" type="submit">Enregistrer</button>
                                                    </div>
                                                </div>
                                                {{ form_end(form_addDpt) }}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    {{ parent() }}
    {#Input mask#}
    <script type="text/javascript" src="{{ asset('js/plugins/jasny/jasny-bootstrap.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/chosen/chosen.jquery.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/footable/footable.all.min.js') }}"></script>


    <script>

        $('.chosen-select').chosen({width: "100%"});

    </script>

{% endblock javascripts %}


