{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Liste des départements {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        <!-- FooTable -->
        <link rel="stylesheet" href="{{ asset('css/plugins/footable/footable.core.css') }}" />
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}
            {# Récupération de l'ID
            {% set user_id = app.request.get('id') %}
             #}

            <div class="row">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="row">
                        {# Messages Falsh #}
                        {% for message in app.flashes('success') %}
                            <div class="col-lg-12">
                                <div class="alert alert-success alert-dismissable ">
                                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                    {{ message }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h4>Tous les départements </h4>
                                    <a type="button" class="btn btn-xs btn-success" href="{{ path('departement_direction_index') }}">
                                        <i class="fa fa-eye"></i> Liste des départements liés</a> 
                                    | <a type="button" class="btn btn-rounded" href="{{ path('departement_new') }}"><i class="fa fa-plus"></i> Ajouter un département</a>
                                    | <a type="button" class="btn btn-rounded" href="{{ path('departement_direction_new') }}"><i class="fa fa-plus"></i> Créer une liaison de departement</a>
                                    <div class="ibox-tools">
                                        <a type="button" class="btn btn-danger btn-rounded btn-outline" href="{{ path('admin.ct_gcar.indexServ') }}">
                                            <i class="fa fa-eye"></i> <b> Liste des services</b>
                                        </a>
                                        <a href="{{ path('direction_index') }}" type="button" class="btn btn-danger btn-rounded btn-outline"><i class="fa fa-eye"></i><b> Liste des directions </b></a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <input type="text" class="form-control input-sm m-b-xs" id="filter"
                                           placeholder="Rechercher">

                                    <table class="footable table table-stripped" data-page-size="18" data-filter=#filter>
                                        <thead>
                                        <tr>
                                            <th>Nom du département</th>
                                            <th>Liaison du département</th>
                                            <th data-hide="phone,tablet">Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for departement in departements %}
                                            <tr class="gradeX">
                                                <td>{{ departement.designation }}</td>
                                                <td>{% set departementdirections = departement.getDepartementdirections() %}
                                                    {% set nbr = 0 %}
                                                    {% for departementdirection in departementdirections %}
                                                        {{ departementdirection.direction|e }}<br>
                                                    {% else %}
                                                        {% set nbr = nbr +1 %}
                                                    {% endfor %}
                                                    {# vérification de la liaison #}
                                                    {% if nbr >= 1 %}
                                                        Ce département est <span class="font-bold text-danger"> orphelin</span>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <a type="button" href="{{ path('departement_edit', {id: departement.id}) }}" class="btn btn-primary btn-xs">
                                                        <i class="fa fa-pencil"></i> Modifier
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <td colspan="5">
                                                <ul class="pagination pull-right"></ul>
                                            </td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    {{ parent() }}
    <!-- FooTable -->
    <script type="text/javascript" src="{{ asset('js/plugins/footable/footable.all.min.js') }}"></script>
    <!-- Page-Level Scripts -->
    <script>
        $(document).ready(function() {

            $('.footable').footable();
            $('.footable2').footable();

        });

    </script>
{% endblock javascripts %}


