{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Ajouter un département{% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}
            {# Récupération de l'ID
            {% set user_id = app.request.get('id') %}
             #}

            <div class="row">

                <div class="wrapper wrapper-content animated fadeInUp">

                    <div class="row">
                        <div class="col-lg-12">

                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    Ajouter un département
                                </div>
                                <div class="panel-body">
                                    {{ form_start(form, {
                                        'attr': {
                                            'class': 'form-horizontal',
                                            'role': 'form',
                                        }
                                    }) }}

                                    <div class="form-group">
                                        <label class="col-sm-6">Désignation</label>
                                        <div class="col-sm-12">
                                            {{ form_widget(form.designation) }}
                                            <div class="form-error">
                                                <small class="text-danger">{{ form_errors(form.designation) }}</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <button class="btn btn-primary" type="submit">Enregistrer</button>
                                        </div>
                                    </div>
                                    {{ form_end(form) }}
                                    <div class="hr-line-dashed"></div>
                                    <a type="button" class="btn btn-default pull-left" href="{{ path('departement_index') }}">
                                        <i class="fa fa-arrow-left"></i> Aller à la liste des départements</a>
                                    <br>

                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}
        {% block javascripts %}
            {{ parent() }}

        {% endblock javascripts %}
