    {# Faisons les comptes #}
    {% set nbr_messages = 0 %}
    {% for message in messages  %}
        {% set msgvu = message.getMessagesvuses() %}
            {% for msgvu in msgvu if msgvu.user == app.user  %}
                {# La requete est faite pour les mesasges vus, et puis on a joué sur le ELSE pour afficher les non-lus #}
            {% else %}
                {% set nbr_messages = nbr_messages + 1 %}
            {% endfor %}

    {% endfor %}
    {# Fin Faisons les comptes #}

        <li class="dropdown">
            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#" title="Messages">
                <i class="fa fa-envelope"></i>  <span class="label label-warning-light">{% if nbr_messages >0 %}{{ nbr_messages }}{% endif %}</span>
            </a>
            <ul class="dropdown-menu dropdown-messages">
                {% for message in messages %}
                    {% set msgvu = message.getMessagesvuses() %}

                    {% for msgvu in msgvu if msgvu.user == app.user  %}
                        {# La requete est faite pour les mesasges vus, et puis on a joué sur le ELSE pour afficher les non-lus #}
                       {% else %}
                           <li>
                               <div class="dropdown-messages-box">
                                   <a href="{{ path('message_show', {id: message.id, slug: message.slug}) }}" class="pull-left">
                                       {% if message.userSender.image is defined %}
                                           <img alt="image" class="img-circle" src="{{ asset('uploads/images/users/' ~ app.user.image) }}">

                                       {% else %}
                                           <img alt="image" class="img-circle" src="{{ asset('uploads/images/users/no_image_small.jpg') }}">
                                       {% endif %}

                                   </a>
                                   <div>

                                       <span class="pull-right"><i class="fa fa-clock-o"></i> <small>{{ message.time_elapsed_string }}</small></span>
                                       <strong>{{ message.userSender.nom }} {{ message.userSender.prenom }}</strong><br/> Type : <strong class="{% if message.typeMessage.designation == 'Réclamations' %}
                                        label label-danger
                                        {% elseif message.typeMessage.designation == 'Données' %}
                                        label label-warning
                                        {% elseif message.typeMessage.designation == 'Système' %}
                                        label label-warning
                                        {% elseif message.typeMessage.designation == 'Echange' %}
                                        label label-primary
                                        {% else %}
                                        label label-navy
                                        {% endif %}">{{ message.typeMessage }}</strong>. <br>

                                       <a href=" {{ path('message_show', {id: message.id, slug: message.slug}) }}">
                                           <small class="text-muted pull-left">Envoyé le: {{ message.dateEnvoiAt | date('d/m/Y') }}</small>
                                           <i class="fa fa-eye pull-right"></i>
                                       </a>

                                   </div>
                               </div>
                           </li>
                           <li class="divider"></li>
                    {% endfor %}



                {% endfor %}

                <li>
                    <div class="text-center link-block">
                        <a href="{{ path('message_index') }}">
                            <i class="fa fa-eye"></i> <strong>Tous</strong>
                        </a>
                        <a href="{{ path('message_new') }}">
                            <i class="fa fa-pencil-square-o"></i> <strong>Nouveau</strong>
                        </a>
                    </div>
                </li>
            </ul>
        </li>
