<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        {%  set route_page = app.request.attributes.get('_route') %}

        {% set nomevenement = route_page [10:] %}
        {% set route_evenement = 'evenements' ~ nomevenement %}

        <h2>
            {% if route_page == 'moncompte_index' or route_page == 'moncompte_profile_agent' %}
                Profil
            {% elseif route_page == 'moncompte_formation' %}
                Mes formations
            {% elseif route_page == 'moncompte_autre_formation' %}
                Mes autres formations
            {% elseif route_page == 'moncompte_experience_ailleurs' %}
                Mes experiences ailleurs
            {% elseif route_page == 'moncompte_ecole' %}
                Les écoles fréquentées

            {############               DEBUT FILTRAGE DES SERVICES             ###########}
            {% elseif route_page == 'ct_service' and app.request.get('filter') is null and app.request.get('ile_service') is null and app.request.get('matricule') is null %}
                Les services de CT
            {% elseif route_page == 'ct_service' and app.request.get('filter') == 'services_dir' and _POST_dir_service is null %}
                Les services d'une telle direction
            {% elseif route_page == 'ct_service' and app.request.get('filter') == 'services_dir' and _POST_dir_service is not null %}
                Les services de la direction <span class="text-success">{{ _POST_dir_service }}</span>
            {% elseif route_page == 'ct_service' and app.request.get('filter') == 'services_dept' and _POST_dept_service is null %}
                Les services d'un tel département
            {% elseif route_page == 'ct_service' and app.request.get('filter') == 'services_dept' and _POST_dept_service is not null %}
                Les services du département <span class="text-success">{{ _POST_dept_service }}</span>
            {% elseif route_page == 'ct_service' and app.request.get('filter') == 'services_agence' and _POST_agence_service is null %}
                Les services d'une telle agence
            {% elseif route_page == 'ct_service' and app.request.get('filter') == 'services_agence' and _POST_agence_service is not null %}
                Les services de l'agence <span class="text-success">{{ _POST_agence_service }}</span>
            {% elseif route_page == 'ct_service' and app.request.get('filter') == 'services_ile' and _POST_ile_service is null %}
                Les services d'une telle île
            {% elseif route_page == 'ct_service' and app.request.get('filter') == 'services_ile' and _POST_ile_service is not null %}
                {% if _POST_ile_service == 'Ngazidja' %}
                    Les services de l'île de <span class="text-success">{{ _POST_ile_service }} (direction régionale et générale)</span>
                {% else %}
                    Les services de l'île de <span class="text-success">{{ _POST_ile_service }}</span>
                {% endif %}
            {% elseif route_page == 'ct_service' and app.request.get('ile_service') == 'Ngazidja' %}
                Les services de <span class="text-success">Ngazidja (direction régionale et générale)</span>
            {% elseif route_page == 'ct_service' and app.request.get('ile_service') == 'Mwali' %}
                Les services de <span class="text-success">la direction régionale de Mwali</span>
            {% elseif route_page == 'ct_service' and app.request.get('ile_service') == 'Ndzuani' %}
                Les services de <span class="text-success">la direction régionale de Ndzuani</span>
            {% elseif route_page == 'ct_service' and app.request.get('filter') == 'service_agent' and _POST_agent_serv is null %}
                Le service d'un tel agent
            {% elseif route_page == 'ct_service' and app.request.get('matricule') is not null and _POST_agent_serv is not null %}
                Le service de l'agent <span class="text-success">{{ _POST_agent_serv }}</span>
            {############                FIN FILTRAGE DES SERVICES             ###########}

            {############                DEBUT FILTRAGE DES DEPARTEMENTS             ###########}
            {% elseif route_page == 'ct_departement' and app.request.get('filter') is null and app.request.get('ile_departement') is null and app.request.get('matricule') is null %}
                Les départements de CT
            {% elseif route_page == 'ct_departement' and app.request.get('filter') == 'departements_dir' and _POST_dir_dept is null %}
                Les départements d'une telle direction
            {% elseif route_page == 'ct_departement' and app.request.get('filter') == 'departements_dir' and _POST_dir_dept is not null %}
                Les départements de la direction <span class="text-success">{{ _POST_dir_dept }}</span>
            {% elseif route_page == 'ct_departement' and app.request.get('filter') == 'departements_agence' and _POST_agence_dept is null  %}
                Les départements d'une telle agence
            {% elseif route_page == 'ct_departement' and app.request.get('filter') == 'departements_agence' and _POST_agence_dept is not null %}
                Les départements de l'agence <span class="text-success">{{ _POST_agence_dept }}</span>
            {% elseif route_page == 'ct_departement' and app.request.get('filter') == 'departements_ile' and _POST_ile_dept is null %}
                Les départements d'une telle île
            {% elseif route_page == 'ct_departement' and app.request.get('filter') == 'departements_ile' and _POST_ile_dept is not null %}
                {% if _POST_ile_dept == 'Ngazidja' %}
                    Les départements de l'île de <span class="text-success">{{ _POST_ile_dept }} (direction régionale et générale)</span>
                {% else %}
                    Les départements de l'île de <span class="text-success">{{ _POST_ile_dept }}</span>
                {% endif %}
            {% elseif route_page == 'ct_departement' and app.request.get('ile_departement') == 'Ngazidja' %}
                Les départements de <span class="text-success">Ngazidja (direction régionale et générale)</span>
            {% elseif route_page == 'ct_departement' and app.request.get('ile_departement') == 'Mwali' %}
                Les départements de <span class="text-success">la direction régionale de Mwali</span>
            {% elseif route_page == 'ct_departement' and app.request.get('ile_departement') == 'Ndzuani' %}
                Les départements de <span class="text-success">la direction régionale de Ndzuani</span>
            {% elseif route_page == 'ct_departement' and app.request.get('filter') == 'departement_agent' and _POST_agent_dept is null %}
                Le département d'un tel agent
            {% elseif route_page == 'ct_departement' and app.request.get('matricule') is not null and _POST_agent_dept is not null %}
                Le département de l'agent <span class="text-success">{{ _POST_agent_dept }}</span>
            {############                FIN FILTRAGE DES DEPARTEMENTS             ###########}

            {############               DEBUT FILTRAGE DES DIRECTIONS             ###########}
            {% elseif route_page == 'ct_direction' and app.request.get('filter') is null and app.request.get('ile_direction') is null and app.request.get('matricule') is null %}
                Les directions de CT
            {% elseif route_page == 'ct_direction' and app.request.get('filter') == 'direction_dept' and _POST_dept_dir is null %}
                La direction d'un tel département
            {% elseif route_page == 'ct_direction' and app.request.get('filter') == 'direction_dept' and _POST_dept_dir is not null %}
                La direction du département <span class="text-success">{{ _POST_dept_dir }}</span>
            {% elseif route_page == 'ct_direction' and app.request.get('filter') == 'direction_serv' and _POST_serv_dir is null %}
                La direction d'un tel service
            {% elseif route_page == 'ct_direction' and app.request.get('filter') == 'direction_serv' and _POST_serv_dir is not null %}
                La direction du service <span class="text-success">{{ _POST_serv_dir }}</span>
            {% elseif route_page == 'ct_direction' and app.request.get('filter') == 'direction_agence' and _POST_agence_dir is null %}
                La direction d'une telle agence
            {% elseif route_page == 'ct_direction' and app.request.get('filter') == 'direction_agence' and _POST_agence_dir is not null %}
                La direction de l'agence <span class="text-success">{{ _POST_agence_dir }}</span>
            {% elseif route_page == 'ct_direction' and app.request.get('filter') == 'directions_ile' and _POST_ile_direction is null %}
                Les directions d'une telle île
            {% elseif route_page == 'ct_direction' and app.request.get('filter') == 'directions_ile' and _POST_ile_direction is not null %}
                {% if _POST_ile_direction == 'Ngazidja' %}
                    Les directions de l'île de <span class="text-success">{{ _POST_ile_direction }} (direction régionale et générale)</span>
                {% else %}
                    Les directions de l'île de <span class="text-success">{{ _POST_ile_direction }}</span>
                {% endif %}
            {% elseif route_page == 'ct_direction' and app.request.get('ile_direction') == 'Ngazidja' %}
                Les directions de <span class="text-success">Ngazidja (direction régionale et générale)</span>
            {% elseif route_page == 'ct_direction' and app.request.get('ile_direction') == 'Mwali' %}
                Les directions de <span class="text-success">la direction régionale de Mwali</span>
            {% elseif route_page == 'ct_direction' and app.request.get('ile_direction') == 'Ndzuani' %}
                Les directions de <span class="text-success">la direction régionale de Ndzuani</span>
            {% elseif route_page == 'ct_direction' and app.request.get('filter') == 'direction_agent' and _POST_agent_dir is null %}
                La direction d'un tel agent
            {% elseif route_page == 'ct_direction' and app.request.get('matricule') is not null and _POST_agent_dir is not null %}
                La directions de l'agent <span class="text-success">{{ _POST_agent_dir }}</span>
            {############                FIN FILTRAGE DES DIRECTIONS             ###########}

            {############               DEBUT FILTRAGE DES AGENCES             ###########}
            {% elseif route_page == 'ct_agence' and app.request.get('filter') is null %}
                Les agences de CT
            {% elseif route_page == 'ct_agence' and app.request.get('filter') == 'agence_serv' and _POST_serv_agence is null %}
                L'agence d'un tel service
            {% elseif route_page == 'ct_agence' and app.request.get('filter') == 'agence_serv' and _POST_serv_agence is not null %}
                L'agence du service <span class="text-success">{{ _POST_serv_agence }}</span>
            {% elseif route_page == 'ct_agence' and app.request.get('filter') == 'agence_dept' and _POST_dept_agence is null %}
                L'agence d'un tel département
            {% elseif route_page == 'ct_agence' and app.request.get('filter') == 'agence_dept' and _POST_dept_agence is not null %}
                L'agence du département <span class="text-success">{{ _POST_dept_agence }}</span>
            {% elseif route_page == 'ct_agence' and app.request.get('filter') == 'agences_dir' and _POST_dir_agence is null %}
                Les agences d'une telle direction
            {% elseif route_page == 'ct_agence' and app.request.get('filter') == 'agences_dir' and _POST_dir_agence is not null %}
                Les agences de la direction <span class="text-success">{{ _POST_dir_agence }}</span>
            {% elseif route_page == 'ct_agence' and app.request.get('filter') == 'agences_ile' and _POST_ile_agence is null %}
                Les agences d'une telle île
            {% elseif route_page == 'ct_agence' and app.request.get('filter') == 'agences_ile' and _POST_ile_agence is not null %}
                {% if _POST_ile_agence == 'Ngazidja' %}
                    Les agences de l'île de <span class="text-success">{{ _POST_ile_agence }} (direction régionale et générale)</span>
                {% else %}
                    Les agences de l'île de <span class="text-success">{{ _POST_ile_agence }}</span>
                {% endif %}
            {% elseif route_page == 'ct_agence' and app.request.get('ile_agence') == 'Ngazidja' %}
                Les agences de <span class="text-success">Ngazidja (direction régionale et générale)</span>
            {% elseif route_page == 'ct_agence' and app.request.get('ile_agence') == 'Mwali' %}
                Les agences de <span class="text-success">la direction régionale de Mwali</span>
            {% elseif route_page == 'ct_agence' and app.request.get('ile_agence') == 'Ndzuani' %}
                Les agences de <span class="text-success">la direction régionale de Ndzuani</span>
            {############                FIN FILTRAGE DES AGENCES             ###########}

            {############                DEBUT FILTRAGE DES AGENTS             ###########}
            {% elseif route_page == 'ct_agent_service_agence' %}
                Les agents d'une agence de CT
            {% elseif route_page == 'ct_agent' and app.request.get('filter') is null and app.request.get('ile_agent') is null
                and app.request.get('matricule') is null and app.request.get('filtre_categorie') is null
                and app.request.get('filtre_sexe') is null and app.request.get('filtre_statut') is null %}
                Les agents de CT
            {% elseif route_page == 'ct_agent' and app.request.get('filtre_categorie') or app.request.get('filtre_sexe') or app.request.get('filtre_statut') %}
                {% if app.request.get('filtre_categorie') == 1 %}
                    Les <span class="text-success">cadres dirigeants</span> de Comores Telecom
                {% elseif app.request.get('filtre_categorie') == 2 %}
                    Les <span class="text-success">cadres supérieurs</span> de Comores Telecom
                {% elseif app.request.get('filtre_categorie') == 3 %}
                    Les <span class="text-success">cadres de gestions</span> de Comores Telecom
                {% elseif app.request.get('filtre_categorie') == 4 %}
                    Les <span class="text-success">cadres d'executions</span> de Comores Telecom
                {% elseif app.request.get('filtre_sexe') == 'M' %}
                    Les <span class="text-success">hommes</span> de Comores Telecom
                {% elseif app.request.get('filtre_sexe') == 'F' %}
                    Les <span class="text-success">femmes</span> de Comores Telecom
                {% elseif app.request.get('filtre_statut') == 1 %}
                    Les <span class="text-success">titulaires</span> de Comores Telecom
                {% elseif app.request.get('filtre_statut') == 2 %}
                    Les <span class="text-success">contractuels</span> de Comores Telecom
                {% elseif app.request.get('filtre_statut') == 3 %}
                    Les <span class="text-success">stagiaires</span> de Comores Telecom
                {% elseif app.request.get('filtre_statut') == 4 %}
                    Les <span class="text-success">probatoires</span> de Comores Telecom
                {% elseif app.request.get('filtre_statut') == 5 %}
                    Les <span class="text-success">temporaires</span> de Comores Telecom
                {% else %}
                    <span class="text-danger">Pas d'enregistrement</span>
                {% endif %}
            {% elseif route_page == 'ct_agent' and app.request.get('filter') == 'agents_serv' and _POST_serv_agent is null %}
                Les agents d'un tel service
            {% elseif route_page == 'ct_agent' and app.request.get('filter') == 'agents_serv' and _POST_serv_agent is not null %}
                Les agents du service <span class="text-success">{{ _POST_serv_agent }}</span>
            {% elseif route_page == 'ct_agent' and app.request.get('filter') == 'agents_dept' and _POST_dept_agent is null %}
                Les agents d'un tel département
            {% elseif route_page == 'ct_agent' and app.request.get('filter') == 'agents_dept' and _POST_dept_agent is not null %}
                Les agents du département <span class="text-success">{{ _POST_dept_agent }}</span>
            {% elseif route_page == 'ct_agent' and app.request.get('filter') == 'agents_dir' and _POST_dir_agent is null %}
                Les agents d'une telle direction
            {% elseif route_page == 'ct_agent' and app.request.get('filter') == 'agents_dir' and _POST_dir_agent is not null %}
                Les agents de la direction <span class="text-success">{{ _POST_dir_agent }}</span>
            {% elseif route_page == 'ct_agent' and app.request.get('filter') == 'agents_ile' and _POST_ile_agent is null %}
                Les agents d'une telle île
            {% elseif route_page == 'ct_agent' and app.request.get('filter') == 'agents_ile' and _POST_ile_agent is not null %}
                {% if _POST_ile_agent == 'Ngazidja' %}
                    Les agents de l'île de <span class="text-success">{{ _POST_ile_agent }} (direction régionale et générale)</span>
                {% else %}
                    Les agents de l'île de <span class="text-success">{{ _POST_ile_agent }}</span>
                {% endif %}
            {% elseif route_page == 'ct_agent' and app.request.get('ile_agent') == 'Ngazidja' %}
                Les agents de <span class="text-success">Ngazidja (direction régionale et générale)</span>
            {% elseif route_page == 'ct_agent' and app.request.get('ile_agent') == 'Mwali' %}
                Les agents de <span class="text-success">la direction régionale de Mwali</span>
            {% elseif route_page == 'ct_agent' and app.request.get('ile_agent') == 'Ndzuani' %}
                Les agents de <span class="text-success">la direction régionale de Ndzuani</span>
            {% elseif route_page == 'ct_agent' and app.request.get('filter') == 'agents_poste' and _POST_poste_agent is null %}
                Les agents d'un tel poste
            {% elseif route_page == 'ct_agent' and app.request.get('filter') == 'agents_poste' and _POST_poste_agent is not null %}
                Les agents du poste <span class="text-success">{{ _POST_poste_agent }}</span>
            {############                FIN FILTRAGE DES AGENTS             ###########}

            {% elseif route_page == 'ct_filtre' %}
                Filtrage des données de CT

            {############               DEBUT FILTRAGE DES POSTES             ###########}
            {% elseif route_page == 'ct_poste_service' and app.request.get('id_service') is null %}
                Les postes du service
            {% elseif route_page == 'ct_poste_service' and app.request.get('id_service') is not null %}
                Les postes du service <span class="text-success">{{ _GET_service }}</span>
            {% elseif route_page == 'ct_poste_departement' %}
                Les postes du département
            {% elseif route_page == 'ct_poste_direction' %}
                Les postes de la direction
            {############               FIN FILTRAGE DES POSTES             ###########}

            {% elseif route_page == 'fos_user_change_password' %}
                Changement du mot de passe
            {% elseif route_page == 'moncompte_visibilite' %}
                Visibilité de mes infos
            {% elseif route_page == 'contacts_agents' or route_page == 'moncompte_event_agents' %}
                Infos de contact
            {% elseif route_page == 'moncompte_administration' or route_page == 'moncompte_event_agents_svc' %}
                Admin personnelle
            {% elseif route_page == 'moncompte_edit_infos' %}
                Editer mes infos personnelles
            {% elseif route_page == 'moncompte_edit_tel_sdpt' or route_page == 'moncompte_edit_tel_sdir'  %}
                Editer le téléphone du service
            {% elseif route_page == 'moncompte_edit_tel_dptdir' %}
                Editer le téléphone du département
            {% elseif route_page == 'moncompte_edit_tel_dir' %}
                Editer le téléphone de la direction
            {% elseif route_page == 'admin.users_gcar.edit' %}
                Editer un agent
            {% elseif route_page == 'fos_user_registration_register' %}
                Ajouter un agent
            {% elseif route_page == 'fos_user_registration_check_email' %}
                Confirmation
            {% elseif route_page == 'admin.users_gcar.editPoste' %}
                Edition du poste de l'agent
            {% elseif route_page == 'admin.users_gcar.addUserServ' %}
                Lier l'agent à un Service
            {% elseif route_page == 'admin.ct_gcar.addAgence' %}
                Lier les agences
            {% elseif route_page == 'admin_event.index' %}
                Evenements
            {%
            elseif route_page == 'ecoleuniversite_choisir_agent' or
                    route_page == 'ec_experience_ailleurs_choisir_agent'
            %}
                Choisir l'agent à attribuer une formation
            {% elseif route_page == 'admin_ecoleuniversite_index' %}
                Ecoles | Universités | Facultés
            {% elseif route_page == 'admin_ec_formationuser_index' %}
                Formations des agents
            {% elseif route_page == 'admin_ec_formationuser_new' %}
                Enregistrer une formation à un agent
            {% elseif route_page == 'admin_ec_formationuser_edit' %}
                Modifier la formation d'un agent
            {% elseif route_page == 'admin_ec_formationuser_show' %}
                Voir les détails de la formation
            {% elseif route_page == route_evenement %}
                {# Affectation des variable #}
                {% set url_evenement = route_evenement [11:] %}
                {% set longueur = route_evenement [11:] | length %}

                {% if 'index' in url_evenement %}
                    {% set nom_evenement = url_evenement [:longueur-6] %}
                    {% set path = route_evenement %}

                {% elseif 'new' in url_evenement %}
                    {% set nom_evenement = url_evenement [:longueur-4] %}
                    {% set path = 'evenements_' ~ nom_evenement ~ '_index' %}
                {% elseif 'edit' in url_evenement %}
                    {% set nom_evenement = url_evenement [:longueur-5] %}
                    {% set path = 'evenements_' ~ nom_evenement ~ '_index' %}
                {% elseif 'show' in url_evenement %}
                    {% set nom_evenement = url_evenement [:longueur-5] %}
                    {% set path = 'evenements_' ~ nom_evenement ~ '_index' %}
                {% endif %}
                    {{ nom_evenement | title }}

            {% elseif route_page == 'admin_evenements' %}
                Tableau de bord des évenements
            {% elseif route_page == 'contacts_agents_hors_fonction' %}
                Agents hors service
            {% elseif
                route_page == 'admin_ec_experience_ailleurs_index' or
                route_page == 'admin_ec_experience_ailleurs_edit' or
                route_page == 'admin_ec_experience_ailleurs_new'
            %}
                D'autres expériences ailleurs
            {%
            elseif route_page == 'admin_ecoleuniversite_index' or
                route_page == 'admin_ecoleuniversite_new' or
                route_page == 'admin_ecoleuniversite_edit' or
                route_page == 'admin_ecoleuniversite_show' or
                route_page == 'ec_universite_show' or
                route_page == 'ec_universite_new' or
                route_page == 'ec_universite_edit'
            %}
                Ecoles / Universités / Facultés

            {% elseif route_page == 'admin_ec_sousmetier_new' or route_page == 'admin_ec_sousmetier_edit' %}
                Domaines de formation
            {% elseif route_page == 'attributions_fonction' or
                        route_page == 'attributions_fonction_index' or
                        route_page == 'attributions_fonction_new' or
                        route_page == 'attributions_fonction_edit'
            %}
                Tâches de fonction

            {% elseif route_page == 'admin_agents_evenements'%}
                Agents et événements
            {% elseif route_page == 'moncompte_mesformations' %}
                Mes formations académiques
            {% elseif route_page == 'moncompte_mesformations_non_academiques' %}
                Mes formations non-académiques
            {% elseif route_page == 'moncompte_experiences_ailleurs' %}
                Mes expériences ailleurs
            {% elseif route_page == 'info_profile_agent' %}
                Profil agent
            {% elseif route_page == 'info_evenement_agent' or route_page == 'moncompte_event_agent' %}
                Evenements agent
            {% elseif route_page == 'info_liste_agents' %} {# yeyChwendrii #}
                Filtrage des agents
            {% elseif route_page == 'attributions_tache_edit' %}
                Editer une tâche
            {% elseif route_page == 'attributions_tache_index' %}
                Liste des tâches
            {% elseif route_page == 'attributions_tache_new' %}
                Enregistrer une tâche
            {% elseif route_page == 'service_direction_info' %}
                Services liés à des directions
            {% elseif route_page == 'service_departementdirection_info' %}
                Services liés à des départements
            {% elseif route_page == 'admin.ct_gcar.indexServ' or
                route_page == 'service_departementdirection_index' or
                route_page == 'service_departementdirection_show' or
                route_page == 'service_departementdirection_new' or
                route_page == 'service_departementdirection_edit' or
                route_page == 'service_direction_index' or
                route_page == 'admin.ct_gcar.editServ' or
                route_page == 'service_direction_new' or
                route_page == 'service_direction_edit' or
                route_page == 'service_direction_show' or
                route_page == 'service_departementdirection_info_detail' or
                route_page == 'service_direction_info_detail'
            %}
                Services
            {% elseif route_page == 'departement_new' or
                route_page == 'departement_edit' or
                route_page == 'departement_show' or
                route_page == 'departement_direction_new' or
                route_page == 'departement_direction_edit' or
                route_page == 'departement_direction_show' or
                route_page == 'departement_direction_index' or
                route_page == 'departement_index' or
                route_page == 'departementdirection_info' or
                route_page == 'departementdirection_info_detail'
            %}
                Départements

            {% elseif route_page == 'direction_new' or
                route_page == 'direction_edit' or
                route_page == 'direction_show' or
                route_page == 'direction_index' or
                route_page == 'direction_info'
            %}
                Directions
            {%
               elseif route_page == 'agence_info'
                %}
                Agences
            {% elseif route_page == 'intervention_new' or
            route_page == 'intervention_edit' or
            route_page == 'intervention_index' or
            route_page == 'intervention_show' or
            route_page == 'baieenergetique_index' or
            route_page == 'baieenergetique_edit' or
            route_page == 'baieenergetique_new' or
            route_page == 'baieenergetique_show' or
            route_page == 'equipementconcerne_index' or
            route_page == 'equipementconcerne_show' or
            route_page == 'equipementconcerne_edit' or
            route_page == 'equipementconcerne_new' or
            route_page == 'materiel_index' or
            route_page == 'materiel_edit' or
            route_page == 'materiel_show' or
            route_page == 'materiel_new' or
            route_page == 'sites_energetiques_index' or
            route_page == 'sites_energetiques_edit' or
            route_page == 'sites_energetiques_show' or
            route_page == 'sites_energetiques_new'
            %}
                Sites énergétiques
            {% elseif route_page == 'message_index' or
            route_page == 'message_new' or
            route_page == 'message_response' or
            route_page == 'message_sent' or
            route_page == 'message_archived' or
            route_page == 'message_show'
            %}
                Messages
            {% elseif route_page == 'conge_index'%}
                <span class="fa fa-home"></span> - Personnel
            {% elseif route_page == 'conges_pris' or
                route_page == 'conges_restants' or
                route_page == 'category_conge_create' or
                route_page == 'category_conge_edit' or
                route_page == 'category_conge_show' or
                route_page == 'categories_show' or
                route_page == 'categories_show' or
                route_page == 'modele_conge_create' or
                route_page == 'modele_conge_edit' or
                route_page == 'modele_conge_show' or
                route_page == 'modeles_show' or
                route_page == 'demande_conge_create' or
                route_page == 'demande_conge_agent_create' or
                route_page == 'demande_conge_edit' or
                route_page == 'demande_conge_show' or
                route_page == 'mes_demandes_show' or
                route_page == 'demandes_agent_show' or
                route_page == 'demandes_show' or
                route_page == 'reprise_service' or
                route_page == 'agent_dernier_conge' or
                route_page == 'agent_situation_conge' or
                route_page == 'msg_conge_show' or
                route_page == 'msg_conge_create' or
                route_page == 'msg_conge_edit' or
                route_page == 'messages_accueil_conge'
            %}
                Personnel
            {% elseif route_page == 'home_bds'%}
                <span class="fa fa-home"></span> - Banque de solidarité
            {% elseif route_page == 'bds_agents' or
                route_page == 'bds_cotisation_new' or
                route_page == 'bds_cotisation_edit' or
                route_page == 'bds_cotisation_show' or
                route_page == 'bds_cotisation_new_plusieurscotisations' or
                route_page == 'bds_cotisation_show' or
                route_page == 'bds_parametresdecotisation_new' or
                route_page == 'bds_parametresdecotisation_edit' or
                route_page == 'bds_parametresdecotisation_show' or
                route_page == 'bds_cotisation_showagentcotisation' or
                route_page == 'bds_cotisation_index'
            %}
                 Banque de solidarité
            {% elseif route_page == 'home_afsoc' or
            route_page == 'afsoc_reposmaladie_index' or
            route_page == 'afsoc_reposmaladie_new' or
            route_page == 'afsoc_reposmaladie_edit' or
            route_page == 'afsoc_reposmaladie_show' or
            route_page == 'afsoc_carnet_index' or
            route_page == 'afsoc_carnet_new' or
            route_page == 'afsoc_carnet_edit' or
            route_page == 'afsoc_carnet_show' or
            route_page == 'afsoc_medecin_index' or
            route_page == 'afsoc_medecin_new' or
            route_page == 'afsoc_medecin_show' or
            route_page == 'afsoc_entitemedicale_index' or
            route_page == 'afsoc_entitemedicale_edit' or
            route_page == 'afsoc_entitemedicale_new' or
            route_page == 'afsoc_entitemedicale_show' or
            route_page == 'afsoc_chargemedicale_index' or
            route_page == 'afsoc_chargemedicale_new' or
            route_page == 'afsoc_chargemedicale_show' or
            route_page == 'afsoc_chargemedicale_edit' or
            route_page == 'afsoc_situation_familiale_index' or
            route_page == 'afsoc_situation_familiale_edit' or
            route_page == 'afsoc_situation_familiale_add' or
            route_page == 'afsoc_epouxse_index' or
            route_page == 'afsoc_epouxse_new' or
            route_page == 'afsoc_epouxse_edit' or
            route_page == 'afsoc_epouxse_show' or
            route_page == 'afsoc_enfant_index' or
            route_page == 'afsoc_enfant_new' or
            route_page == 'afsoc_enfant_edit' or
            route_page == 'afsoc_enfant_show' or
            route_page == 'bds_cotisation_index'
            %}
                 Affaires sociales
            {%endif%}
        </h2>


        <ol class="breadcrumb">
            {# PREMIER NIVEAU #}
            <li>
                <a href="{{ path('moncompte_home') }}">Accueil</a>
            </li>
            {# DEUXIEME NIVEAU #}
            {% if
                route_page == 'moncompte_formation' or
                route_page == 'fos_user_change_password' or
                route_page == 'moncompte_visibilite' or
                route_page == 'moncompte_mesformations' or
                route_page == 'moncompte_mesformations_non_academiques' or
                route_page == 'moncompte_experiences_ailleurs' or
                route_page == 'info_profile_agent' or
                route_page == 'info_evenement_agent'

            %}
                <li>
                    <a href="{{ path('moncompte_index') }}">Profil</a>
                </li>
            {% elseif route_page == 'moncompte_administration' or route_page == 'fos_user_registration_register' %}
                <li>
                    <a href="{{ path('moncompte_index') }}">Profil</a>
                </li>
            {% elseif route_page == 'admin.users_gcar.edit' or
                    route_page == 'fos_user_registration_check_email' or
                    route_page == 'admin.users_gcar.editPoste' or
                    route_page == 'admin.users_gcar.addUserServ'

            %}
                <li>
                    <a href="{{ path('contacts_agents') }}">Contacts des agents</a>
                </li>
            {% elseif route_page == 'moncompte_autre_formation' %}
                <li>
                    <a href="{{ path('moncompte_index') }}">Profil</a>
                </li>
            {% elseif route_page == 'moncompte_experience_ailleurs' %}
                <li>
                    <a href="{{ path('moncompte_index') }}">Profil</a>
                </li>
            {% elseif route_page == 'moncompte_ecole' %}
                <li>
                    <a href="{{ path('moncompte_index') }}">Profil</a>
                </li>
            {% elseif route_page == 'ct_poste_service' %}
                <li>
                    <a href="{{ path('ct_service') }}">Service</a>
                </li>
            {% elseif route_page == 'ct_agent_service_agence' %}
                <li>
                    <a href="{{ path('ct_agence') }}">Agence</a>
                </li>
            {% elseif route_page == 'ct_poste_departement' %}
                <li>
                    <a href="{{ path('ct_departement') }}">Département</a>
                </li>
            {% elseif route_page == 'ct_poste_direction' %}
                <li>
                    <a href="{{ path('ct_direction') }}">Direction</a>
                </li>
            {% elseif route_page == 'service_departementdirection_info_detail' %}
                <li>
                    <a href="{{ path('service_departementdirection_info') }}"><span class="fa fa-list-alt"></span> Services</a>
                </li>
            {% elseif route_page == 'service_direction_info_detail' %}
                <li>
                    <a href="{{ path('service_direction_info') }}"><span class="fa fa-list-alt"></span> Services</a>
                </li>
            {% elseif route_page == 'departementdirection_info_detail' %}
                <li>
                    <a href="{{ path('departementdirection_info') }}"><span class="fa fa-list-alt"></span> Départements</a>
                </li>
            {% elseif route_page == 'conges_pris' or
                    route_page == 'conges_restants' or
                    route_page == 'category_conge_create' or
                    route_page == 'category_conge_edit' or
                    route_page == 'category_conge_show' or
                    route_page == 'categories_show' or
                    route_page == 'modele_conge_create' or
                    route_page == 'modele_conge_edit' or
                    route_page == 'modele_conge_show' or
                    route_page == 'modeles_show' or
                    route_page == 'demande_conge_create' or
                    route_page == 'demande_conge_agent_create' or
                    route_page == 'demande_conge_edit' or
                    route_page == 'demande_conge_show' or
                    route_page == 'demandes_agent_show' or
                    route_page == 'mes_demandes_show' or
                    route_page == 'demandes_show' or
                    route_page == 'reprise_service' or
                    route_page == 'agent_dernier_conge' or
                    route_page == 'agent_situation_conge' or
                    route_page == 'msg_conge_show' or
                    route_page == 'msg_conge_create' or
                    route_page == 'msg_conge_edit' or
                    route_page == 'messages_accueil_conge'
            %}
                <li>
                    <a href="{{ path('conge_index') }}"><span class="fa fa-home"></span> Accueil Personnel</a>
                </li>
            {% elseif route_page == 'bds_cotisation_new' or
                    route_page == 'bds_cotisation_edit' or
                    route_page == 'bds_cotisation_show' or
                    route_page == 'bds_cotisation_new_plusieurscotisations' or
                    route_page == 'bds_cotisation_show' or
                    route_page == 'bds_parametresdecotisation_new' or
                    route_page == 'bds_parametresdecotisation_edit' or
                    route_page == 'bds_parametresdecotisation_show' or
                    route_page == 'bds_cotisation_showagentcotisation' or
                    route_page == 'bds_agents' or
                route_page == 'bds_cotisation_index'
            %}
                <li>
                    <a href="{{ path('home_bds') }}"><span class="fa fa-home"></span> Accueil BDS</a>
                </li>
            {% elseif route_page == 'afsoc_situation_familiale_index' or
                    route_page == 'afsoc_situation_familiale_add' or
                    route_page == 'afsoc_situation_familiale_edit' or
                    route_page == 'afsoc_situation_familiale_show' or
                    route_page == 'afsoc_reposmaladie_index' or
                    route_page == 'afsoc_reposmaladie_new' or
                    route_page == 'afsoc_reposmaladie_edit' or
                    route_page == 'afsoc_reposmaladie_show' or
                    route_page == 'afsoc_carnet_index' or
                    route_page == 'afsoc_carnet_new' or
                    route_page == 'afsoc_carnet_edit' or
                    route_page == 'afsoc_carnet_show' or
                    route_page == 'afsoc_medecin_index' or
                    route_page == 'afsoc_medecin_new' or
                    route_page == 'afsoc_medecin_edit' or
                    route_page == 'afsoc_medecin_show' or
                    route_page == 'afsoc_entitemedicale_index' or
                    route_page == 'afsoc_entitemedicale_new' or
                    route_page == 'afsoc_entitemedicale_edit' or
                    route_page == 'afsoc_entitemedicale_show' or
                    route_page == 'afsoc_chargemedicale_index' or
                    route_page == 'afsoc_chargemedicale_new' or
                    route_page == 'afsoc_chargemedicale_edit' or
                    route_page == 'afsoc_chargemedicale_show'
            %}
                <li>
                    <a href="{{ path('home_afsoc') }}"><span class="fa fa-home"></span> Accueil AFSOC</a>
                </li>

                {# Affectation de l'URL pour générer automatiquement les routes
                    Route des évenements         (premier sur la liste)        #}
            {% elseif
                route_page == route_evenement or
                route_page =='admin_ecoleuniversite_index' or
                route_page =='admin_ecoleuniversite_edit' or
                route_page =='admin_ecoleuniversite_show' or
                route_page == 'admin_niveauqualification_new' or
                route_page == 'admin_niveauqualification_edit' or
                route_page == 'admin_ec_metier_new' or
                route_page == 'admin_ec_metier_edit' or
                route_page == 'admin_ec_sousmetier_new' or
                route_page == 'admin_ec_sousmetier_edit' or
                route_page == 'admin_ec_formation_new' or
                route_page == 'admin_ec_formation_edit' or
                route_page == 'admin_ec_formationuser_index' or
                route_page == 'admin_ec_formationuser_new' or
                route_page == 'admin_ec_formationuser_edit' or
                route_page == 'admin_ec_formationuser_show' or
                route_page == 'ecoleuniversite_choisir_agent' or
                route_page == 'ec_experience_ailleurs_choisir_agent' or
                route_page == 'contacts_agents_hors_fonction' or
                route_page == 'attributions_tache_new' or
                route_page == 'moncompte_edit_infos' or
                route_page == 'moncompte_edit_tel_dir' or
                route_page == 'moncompte_edit_tel_dptdir' or
                route_page == 'moncompte_edit_tel_sdir' or
                route_page == 'moncompte_edit_tel_sdpt' or
                route_page == 'moncompte_edit_infos' or
                route_page == 'contacts_agents' or
                route_page == 'choisir_agent' or
                route_page == 'admin.ct_gcar.addAgence' or
                route_page == 'admin_event.index' or
                route_page == 'admin_evenements' or
                route_page == 'departement_direction_index' or
                route_page == 'departement_index' or
                route_page == 'direction_index' or
                route_page == 'admin.ct_gcar.indexServ' or
                route_page == 'service_direction_index' or
                route_page == 'admin.ct_gcar.editServ' or
                route_page == 'service_departementdirection_index' or
                route_page == 'admin_ec_experience_ailleurs_index' or
                route_page == 'admin_ec_experience_ailleurs_new' or
                route_page == 'admin_ec_experience_ailleurs_edit' or
                route_page == 'admin_agents_evenements' or
                route_page == 'admin_ecoleuniversite_new' or
                route_page == 'admin_ecoleuniversite_edit' or
                route_page == 'attributions_fonction_index' or
                route_page == 'attributions_tache_index' or
                route_page == 'attributions_tache_edit' or
                route_page == 'attributions_fonction_new' or
                route_page == 'service_direction_new' or
                route_page == 'service_departementdirection_new' or
                route_page == 'service_departementdirection_edit' or
                route_page == 'service_servicedirection_new' or
                route_page == 'service_servicedirection_edit' or
                route_page == 'service_servicedepartementdirection_new' or
                route_page == 'service_servicedepartementdirection_edit' or
                route_page == 'direction_new' or
                route_page == 'direction_edit' or
                route_page == 'direction_show' or
                route_page == 'departement_direction_index' or
                route_page == 'departement_direction_new' or
                route_page == 'departement_direction_edit' or
                route_page == 'departement_direction_show' or
                route_page == 'departement_new' or
                route_page == 'departement_edit' or
                route_page == 'departement_show' or

                route_page == 'intervention_new' or
                route_page == 'intervention_edit' or
                route_page == 'intervention_index' or
                route_page == 'intervention_show' or
                route_page == 'baieenergetique_index' or
                route_page == 'baieenergetique_edit' or
                route_page == 'baieenergetique_new' or
                route_page == 'baieenergetique_show' or
                route_page == 'equipementconcerne_index' or
                route_page == 'equipementconcerne_show' or
                route_page == 'equipementconcerne_edit' or
                route_page == 'equipementconcerne_new' or
                route_page == 'materiel_index' or
                route_page == 'materiel_edit' or
                route_page == 'materiel_show' or
                route_page == 'materiel_new' or
                route_page == 'sites_energetiques_index' or
                route_page == 'sites_energetiques_edit' or
                route_page == 'sites_energetiques_show' or
                route_page == 'sites_energetiques_new' or
                route_page == 'ec_universite_show' or
                route_page == 'ec_universite_new' or
                route_page == 'ec_universite_edit' or
                route_page == 'message_index' or
                route_page == 'message_new' or
                route_page == 'message_sent' or
                route_page == 'message_response' or
                route_page == 'message_archived' or
                route_page == 'message_show' or
                route_page == 'moncompte_event_agents' or
                route_page == 'moncompte_event_agent' or
                route_page == 'moncompte_profile_agent' or
                route_page == 'moncompte_event_agents_svc'
            %}
                <li>
                    <a href="{{ path('moncompte_administration') }}">Admin personnelle </a>
                </li>
            {% endif %}

            {# TROISIEME NIVEAU #}
            {%
            if route_page == 'fos_user_registration_register' or
                route_page == 'info_profile_agent' or
                route_page == 'info_evenement_agent'
            %}
            <li>
                <a href="{{ path('moncompte_administration') }}">Admin personnelle</a>
            </li>
                {% elseif route_page == 'service_direction_new' or
                            route_page == 'service_direction_edit' or
                            route_page == 'service_direction_show' or
                            route_page == 'service_departementdirection_new' or
                            route_page == 'service_departementdirection_edit' or
                            route_page == 'service_departementdirection_show' or
                            route_page == 'admin.ct_gcar.editServ'
                %}
                    <li>
                        <a href="{{ path('admin.ct_gcar.indexServ') }}"><span class="fa fa-list-alt"></span> Listes des services </a>
                    </li>
            {% elseif route_page == 'departement_new' or
            route_page == 'departement_edit' or
            route_page == 'departement_show' or
            route_page == 'departement_direction_new' or
            route_page == 'epartement_direction_edit' or
            route_page == 'departement_direction_show' or
                route_page == 'departement_direction_index'
            %}
                <li>
                    <a href="{{ path('departement_direction_index') }}"> <span class="fa fa-list-alt"></span> Listes des départements </a>
                </li>
            {% elseif route_page == 'direction_show' %}
                <li>
                    <a href="{{ path('direction_index') }}"> <span class="fa fa-list-alt"></span> Listes des directions </a>
                </li>
            {%
            elseif route_page == 'attributions_tache_edit' or
                    route_page == 'attributions_tache_show' or
                    route_page == 'attributions_tache_new'
            %}
            <li>
                <a href="{{ path('attributions_tache_index') }}"><span class="fa fa-list-alt"></span> Tâches </a>
             </li>
            {%
            elseif route_page == 'intervention_new' or
            route_page == 'intervention_edit' or
            route_page == 'intervention_index' or
            route_page == 'intervention_show' or
            route_page == 'baieenergetique_index' or
            route_page == 'baieenergetique_edit' or
            route_page == 'baieenergetique_new' or
            route_page == 'baieenergetique_show' or
            route_page == 'equipementconcerne_index' or
            route_page == 'equipementconcerne_show' or
            route_page == 'equipementconcerne_edit' or
            route_page == 'equipementconcerne_new' or
            route_page == 'materiel_index' or
            route_page == 'materiel_edit' or
            route_page == 'materiel_show' or
            route_page == 'materiel_new' or
            route_page == 'sites_energetiques_index' or
            route_page == 'sites_energetiques_edit' or
            route_page == 'sites_energetiques_show' or
            route_page == 'sites_energetiques_new'
            %}
            <li>
                <a href="{{ path('sites_energetiques_index') }}"><span class="fa fa-list-alt"></span> Sites énergétiques </a>
             </li>
            {% elseif route_page == 'attributions_fonction_edit' or
                        route_page == 'attributions_fonction_show' or
                        route_page == 'attributions_fonction_new'
                %}
                <li>
                    <a class="fa fa-list-alt" href="{{ path('attributions_fonction_index') }}"> Fonctions </a>
                 </li>
            {% elseif
            route_page == route_evenement
            %}
                <li>
                    {% if is_granted('ROLE_ADMIN_GCAR') %}<a href=" {{ path('admin_evenements') }} ">{% endif %}Evenements</a>
                </li>
            {% elseif
                route_page =='admin_ecoleuniversite_edit' or
                route_page =='admin_ecoleuniversite_show' or
                route_page =='admin_ecoleuniversite_new' or
                route_page == 'admin_niveauqualification_new' or
                route_page == 'admin_niveauqualification_edit' or
                route_page == 'admin_ec_metier_new' or
                route_page == 'admin_ec_metier_edit' or
                route_page == 'admin_ec_sousmetier_new' or
                route_page == 'admin_ec_sousmetier_edit' or
                route_page == 'admin_ec_formation_new' or
                route_page == 'admin_ec_formation_edit' or
                route_page == 'admin_ec_formationuser_index' or
                route_page == 'admin_ec_formationuser_new' or
                route_page == 'admin_ec_formationuser_edit' or
                route_page == 'admin_ec_formationuser_show' or
                route_page == 'ecoleuniversite_choisir_agent' or
                route_page == 'ec_experience_ailleurs_choisir_agent' or
                route_page == 'admin_ec_experience_ailleurs_index' or
                route_page == 'admin_ec_experience_ailleurs_new' or
                route_page == 'admin_ec_experience_ailleurs_edit' or
                route_page == 'ec_universite_show' or
                route_page == 'ec_universite_new' or
                route_page == 'ec_universite_edit'
            %}
                <li>
                    <a href="{{ path('admin_ecoleuniversite_index') }}"><i class="fa fa-home"></i> Ecoles | Universite</a>
                </li>

                {% elseif route_page == 'message_index' or
                    route_page == 'message_new' or
                    route_page == 'message_sent' or
                    route_page == 'message_archived' or
                    route_page == 'message_response' or
                    route_page == 'message_show'
            %}
                <li>
                    <a href="{{ path('message_index') }}"><i class="fa fa-home"></i> Reception</a>
                </li>
                {% elseif route_page == 'bds_cotisation_new' or
                    route_page == 'bds_cotisation_edit' or
                    route_page == 'bds_parametresdecotisation_new' or
                    route_page == 'bds_parametresdecotisation_edit' or
                    route_page == 'bds_cotisation_showagentcotisation' or
                    route_page == 'bds_cotisation_new_plusieurscotisations'
                %}
                <li>
                    <a href="{{ path('bds_agents') }}"> Tous les agents</a>
                </li>
                {% elseif route_page == 'moncompte_event_agent' or route_page == 'moncompte_profile_agent' %}
                <li>
                    {# test si les variables dpt_id ou svc_id sont nulles avant d'afficher le lien #}
                    {% if svc_id %}
                    {% set lien = 'moncompte_event_agents_svc' %}
                    {% else %}
                    {% set lien = 'moncompte_event_agents' %}
                    {% endif %}
                    <a href="{{ path(lien , {dpt_id: dpt_id, svc_id: svc_id, entite:entite}) }}">Tous les agents</a>
                </li>
            {% endif %}

            {#  QUATRIEME NIVEAU  #}
            {% if route_page == route_evenement %}
                {# Affectation des variable #}
                {% set url_evenement = route_evenement [11:] %}
                {% set longueur = route_evenement [11:] | length %}

                {% if 'index' in url_evenement %}
                    {% set nom_evenement = url_evenement [:longueur-6] %}
                    {% set path = route_evenement %}

                    {% elseif 'new' in url_evenement %}
                        {% set nom_evenement = url_evenement [:longueur-4] %}
                        {% set path = 'evenements_' ~ nom_evenement ~ '_index' %}
                    {% elseif 'edit' in url_evenement %}
                        {% set nom_evenement = url_evenement [:longueur-5] %}
                        {% set path = 'evenements_' ~ nom_evenement ~ '_index' %}
                    {% elseif 'show' in url_evenement %}
                        {% set nom_evenement = url_evenement [:longueur-5] %}
                        {% set path = 'evenements_' ~ nom_evenement ~ '_index' %}
                    {% endif %}
                <li>{#Vérification des roles avant de pouvoir cliquer sur le lien du fil d'ariane#}
                    {% if is_granted('ROLE_ADMIN_GCAR') %}<a href=" {{ path(path) }} ">{% endif %}{{ nom_evenement | title }}</a>
                </li>
            {% elseif
                route_page == "admin_ec_formationuser_new" or
                route_page == "admin_ec_formationuser_edit" or
                route_page == "admin_ec_formationuser_show"

            %}
                <li>
                    <i class="fa fa-list"></i> <a href="{{ path('admin_ec_formationuser_index') }}"> Formations des agents </a>
                </li>
            {% elseif
                route_page == 'admin_ec_experience_ailleurs_new' or
                route_page == 'admin_ec_experience_ailleurs_edit'
            %}
                <li>
                    <i class="fa fa-list"></i> <a href="{{ path('admin_ec_experience_ailleurs_index') }}">D'autres expériences | formations</a>
                </li>
                {% elseif route_page == 'info_evenement_agent' %}
                <li>
                    <i class="fa fa-list"></i> <a href="{{ path('contacts_agents') }}">Agents et contacts</a>
                </li>

            {% endif %}
            {# CINQUIEME NIVEAU #}
            <li class="active">
                <strong>
                    {% if route_page == 'moncompte_index' or route_page == 'moncompte_profile_agent' %}
                        Profil
                    {% elseif route_page == 'moncompte_formation' %}
                        Mes formations
                    {% elseif route_page == 'moncompte_autre_formation' %}
                        Mes autres formations
                    {% elseif route_page == 'moncompte_experience_ailleurs' %}
                        Mes experiences ailleurs
                    {% elseif route_page == 'moncompte_ecole' %}
                        Les écoles fréquentées
                    {% elseif route_page == 'ct_poste_service' %}
                        Les postes
                    {% elseif route_page == 'ct_service' %}
                        Les services
                    {% elseif route_page == 'ct_departement' %}
                        Les départements
                    {% elseif route_page == 'ct_direction' %}
                        Les directions
                    {% elseif route_page == 'ct_agence' %}
                        Les agences
                    {% elseif route_page == 'ct_agent_service_agence' or route_page == 'moncompte_event_agents_svc' %}
                        Les agents
                    {% elseif route_page == 'ct_agent' %}
                        Agents
                    {% elseif route_page == 'ct_filtre' %}
                        Filtrer les données
                    {% elseif route_page == 'fos_user_change_password' %}
                        Editer le mot de passe
                    {% elseif route_page == 'moncompte_visibilite' %}
                        Confidentialité
                    {% elseif route_page == 'ct_poste_service' %}
                        {% for service in services if service.id == app.request.query.get("id") %}
                            {{ service.designation }}
                        {% endfor %}
                    {% elseif route_page == 'ct_poste_departement' %}
                        {% for departement in departements if departement.id == app.request.query.get("id") %}
                            {{ departement.designation }}
                        {% endfor %}
                    {% elseif route_page == 'ct_poste_direction' %}
                        {% for direction in directions if direction.id == app.request.query.get("id") %}
                            {{ direction.designation }}
                        {% endfor %}
                    {% elseif route_page == 'moncompte_administration' %}
                        Admin personnelle
                    {% elseif route_page == 'moncompte_edit_infos' %}
                        Editer mes informations
                    {% elseif route_page == 'moncompte_edit_tel_dir' or
                            route_page == 'moncompte_edit_tel_dptdir' or
                            route_page == 'moncompte_edit_tel_sdir' or
                            route_page == 'moncompte_edit_tel_sdpt'
                    %}
                        Editer le téléphone de bureau
                    {% elseif route_page == 'contacts_agents' or route_page == 'moncompte_event_agents' %}
                        Tous les agents (contact)
                    {% elseif route_page == 'admin.users_gcar.edit' %}
                        Editer un agent
                    {% elseif route_page == 'fos_user_registration_register' %}
                        Ajouter un agent
                    {% elseif route_page == 'fos_user_registration_check_email' %}
                        Confirmation
                    {% elseif route_page == 'admin.users_gcar.editPoste' %}
                        Edition du poste de l'agent
                    {% elseif route_page == 'admin.users_gcar.addUserServ' %}
                        Lier l'agent à un Service
                    {% elseif route_page == 'admin.ct_gcar.addAgence' %}
                        Lier une agence
                    {% elseif route_page == 'admin_event.index' %}
                        Administration des évenements
                    {% elseif route_page == 'choisir_agent' %}
                        Choisir l'agent concerné par l'évenement
                    {% elseif route_page == route_evenement %}

                        {% if 'index' in route_evenement %}
                            Accueil
                        {% elseif 'new' in route_evenement %}
                            Ajout
                        {% elseif 'edit' in route_evenement %}
                            Editer
                        {% elseif 'show' in route_evenement %}
                            Voir
                        {% endif %}

                    {% elseif route_page == 'admin_evenements' %}
                        Evenements
                    {% elseif route_page =='admin_ecoleuniversite_index' %}
                        <i class="fa fa-home"></i> Ecoles | Universités
                    {% elseif
                        route_page =='admin_ecoleuniversite_new' or
                        route_page =='admin_ec_formationuser_new' or
                        route_page =='admin_ec_sousmetier_new' or
                        route_page == 'admin_ec_experience_ailleurs_new' or
                        route_page == 'admin_ec_formation_new' or
                        route_page == 'attributions_tache_new' or
                        route_page == 'attributions_fonction_new' or
                        route_page == 'departement_new' or
                        route_page == 'departement_direction_new' or
                        route_page == 'direction_new' or
                        route_page == 'service_direction_new' or
                        route_page == 'service_departementdirection_new' or
                        route_page == 'intervention_new' or
                        route_page == 'baieenergetique_new' or
                        route_page == 'equipementconcerne_new' or
                        route_page == 'materiel_new' or
                        route_page == 'sites_energetiques_new' or
                        route_page == 'ec_universite_new' or
                        route_page == 'bds_parametresdecotisation_new' or
                        route_page == 'bds_cotisation_new_plusieurscotisations' or
                        route_page == 'bds_cotisation_new'
                    %}
                        Ajouter
                        {% if route_page == 'bds_parametresdecotisation_new' %}
                            les paramètres de cotisation
                            {% elseif route_page == 'bds_cotisation_new' %}
                                une cotisation
                            {% elseif route_page == 'bds_cotisation_new_plusieurscotisations' %}
                                plusieurs cotisations
                        {% endif %}
                    {% elseif route_page == 'message_new' or route_page == 'message_response' %}
                        Nouveau
                    {% elseif route_page =='ecoleuniversite_choisir_agent' or route_page == 'ec_experience_ailleurs_choisir_agent'%}
                        Choisir l'agent
                    {% elseif route_page =='admin_ec_formationuser_index' %}
                        Formations des agents
                    {% elseif
                        route_page =='admin_ec_formationuser_edit' or
                        route_page =='admin_ec_sousmetier_edit' or
                        route_page == 'admin_ec_experience_ailleurs_edit' or
                        route_page == 'attributions_tache_edit' or
                        route_page == 'admin_ecoleuniversite_edit' or
                        route_page == 'service_departementdirection_edit' or
                        route_page == 'service_direction_edit' or
                        route_page == 'departement_direction_edit' or
                        route_page == 'direction_edit' or
                        route_page == 'departement_edit' or
                        route_page == 'intervention_edit' or
                        route_page == 'baieenergetique_edit' or
                        route_page == 'equipementconcerne_edit' or
                        route_page == 'materiel_edit' or
                        route_page == 'sites_energetiques_edit' or
                        route_page == 'ec_universite_edit' or
                        route_page == 'bds_parametresdecotisation_edit' or
                        route_page == 'bds_cotisation_edit'

                    %}
                        Editer
                        {% if route_page == 'bds_parametresdecotisation_edit' %}
                            les paramètres de cotisation
                        {% elseif route_page == 'bds_cotisation_edit' %}
                            une <cotisation></cotisation>
                        {% endif %}
                    {%
                    elseif route_page =='admin_ec_formationuser_show' or
                        route_page == 'intervention_show' or
                        route_page == 'baieenergetique_show' or
                        route_page == 'equipementconcerne_show' or
                        route_page == 'materiel_show' or
                        route_page == 'sites_energetiques_show' or
                        route_page == 'ec_universite_show' or
                        route_page == 'service_departementdirection_info_detail' or
                        route_page == 'service_direction_info_detail' or
                        route_page == 'departementdirection_info_detail' or
                        route_page == 'message_show'

                    %}
                        Voir détails
                        {% elseif route_page == 'message_index' %}
                        Reçus
                    {% elseif route_page == 'message_sent' %}
                        Envoyés
                    {% elseif route_page == 'message_archived' %}
                        Supprimés
                    {% elseif route_page =='contacts_agents_hors_fonction' %}
                        Agent hors service
                    {% elseif
                        route_page == 'admin_ec_experience_ailleurs_index'
                     %}
                        D'autres expériences / formations

                    {% elseif route_page == 'admin_agents_evenements' %}
                        Agents et événemments
                        {% elseif route_page == 'admin_ecoleuniversite_show' %}
                        Détail école - université - faculté
                    {% elseif route_page == 'moncompte_mesformations' %}
                        Mes formations académiques
                    {% elseif route_page == 'moncompte_mesformations_non_academiques' %}
                        Mes formations non-académiques
                    {% elseif route_page == 'moncompte_experiences_ailleurs' %}
                        Mes expériences ailleurs
                    {% elseif route_page == 'attributions_fonction_index' %}
                        Tâches de fonction
                    {% elseif route_page == 'info_profile_agent' %}
                        Détail du profil
                    {% elseif route_page == 'info_evenement_agent' or route_page == 'moncompte_event_agent' %}
                        Détail évenements de l'agent
                    {% elseif route_page == 'info_liste_agents' %}
                        Filtrage des agents
                    {% elseif route_page == 'attributions_tache_index' %}
                        Liste des tâches
                    {% elseif route_page == 'service_departementdirection_info' %}
                        Services des départements
                    {% elseif route_page == 'service_direction_info' %}
                        Services des directions
                    {% elseif route_page == 'admin.ct_gcar.indexServ' or
                        route_page == 'admin.ct_gcar.editServ' or
                    route_page == 'service_departementdirection_index' or
                    route_page == 'service_direction_index' %}
                        Services
                    {% elseif route_page == 'departement_direction_index' or route_page == 'departement_index' or route_page == 'departementdirection_info' %}
                        Départements
                    {% elseif route_page == 'direction_index' or
                                route_page == 'direction_show' or
                                route_page == 'direction_info'
                    %}
                        Directions
                    {% elseif route_page == 'agence_info' %}
                        Agences
                    {% elseif
                    route_page == 'intervention_index'
                    %}
                    Interventions
                    {% elseif
                    route_page == 'baieenergetique_index'
                    %}
                        Baie énergétique
                    {% elseif
                    route_page == 'equipementconcerne_index'
                    %}
                        Equipements alimentés
                    {% elseif
                    route_page == 'materiel_index'
                    %}
                        Materiels
                    {% elseif
                    route_page == 'sites_energetiques_index'
                    %}
                        Sites énergétiques
                    {% elseif route_page == 'conge_index' %}
                        Personnel
                    {% elseif route_page == 'category_conge_create' %}
                        Nouvelle catégorie de congé
                    {% elseif route_page == 'category_conge_edit' %}
                        Edition catégorie de congé
                    {% elseif route_page == 'category_conge_show' %}
                        Affichage catégorie de congé
                    {% elseif route_page == 'categories_show' %}
                        Liste des catégories de congés
                    {% elseif route_page == 'modele_conge_create' %}
                        Nouveau modèle de congé
                    {% elseif route_page == 'modele_conge_edit' %}
                        Edition modèle de congé
                    {% elseif route_page == 'modele_conge_show' %}
                        Affichage modèle de congé
                    {% elseif route_page == 'modeles_show' %}
                        Liste des modèles de congés
                    {% elseif route_page == 'demande_conge_create' %}
                        Nouvelle demande de congé
                    {% elseif route_page == 'demande_conge_agent_create' %}
                        Nouvelle demande de congé d'un agent
                    {% elseif route_page == 'modele_conge_edit' %}
                        Edition demande de congé
                    {% elseif route_page == 'demande_conge_show' %}
                        Affichage demande de congé
                    {% elseif route_page == 'mes_demandes_show' %}
                        Liste des demandes de mes congés
                    {% elseif route_page == 'demandes_agent_show' %}
                        Liste des demandes de congés d'un agent
                    {% elseif route_page == 'demandes_show' %}
                        Liste des demandes de congés
                    {% elseif route_page == 'msg_conge_show' %}
                        Affichage message
                    {% elseif route_page == 'msg_conge_create' %}
                        Nouveau message
                    {% elseif route_page == 'msg_conge_edit' %}
                        Edition message
                    {% elseif route_page == 'messages_accueil_conge' %}
                        Liste des messages
                    {% elseif route_page == 'reprise_service' %}
                        Liste des demandes de congés
                    {% elseif route_page == 'agent_dernier_conge' %}
                        Situation des derniers congés
                    {% elseif route_page == 'agent_situation_conge' %}
                        Situation des congés
                    {% elseif route_page == 'home_bds' %}
                        Banque de soldarité
                    {% elseif route_page == 'home_afsoc' %}
                        Affaires sociales
                    {% elseif route_page == 'bds_agents' %}
                        Agents de la BDS
                    {% elseif route_page == 'bds_cotisation_showagentcotisation' %}
                        Profil BDS
                    {% elseif route_page == 'bds_cotisation_index' %}
                        Toutes les cotisations
                    {%endif%}
                </strong>
            </li>
        </ol>
    </div>
</div>