
<li {% if app.request.attributes.get('_route') == 'moncompte_home' %}class="active"{% endif %}>
    <a href="{{ path('moncompte_home') }}"><i class="fa fa-home"></i> <span class="nav-label">Accueil</span></a>
</li>
{% set current_url = app.request.attributes.get('_route') %}
{#
<li {% if current_url == 'ct_agent' or current_url == 'ct_direction' or current_url == 'ct_departement' or current_url == 'ct_service'
or current_url == 'ct_agence' or current_url == 'ct_agent_service_agence' or current_url == 'ct_poste_service'
or current_url == 'ct_poste_departement' or current_url == 'ct_poste_direction' or current_url == 'contacts_agents'
or current_url == 'ct_filtre'
%}
    class="active"
        {% endif %}>
    <a href="#"><i class="fa fa-pie-chart"></i> <span class="nav-label">Comores Telecom</span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse">
        <li {% if current_url == 'ct_agent' or current_url == 'contacts_agents' %}class="active"{% endif %}>
            <a href="{{ path('ct_agent') }}">Agents</a>
        </li>
        <li {% if current_url == 'ct_service' or current_url == 'ct_poste_service' %}class="active"{% endif %}>
            <a href="{{ path('ct_service') }}">Services</a>
        </li>
        <li {% if current_url == 'ct_departement' or current_url == 'ct_poste_departement' %}class="active"{% endif %}>
            <a href="{{ path('ct_departement') }}">Départements</a>
        </li>
        <li {% if current_url == 'ct_direction' or current_url == 'ct_poste_direction' %}class="active"{% endif %}>
            <a href="{{ path('ct_direction') }}">Directions</a>
        </li>
        <li {% if current_url == 'ct_agence' or current_url == 'ct_agent_service_agence' %}class="active"{% endif %}>
            <a href="{{ path('ct_agence') }}">Agences</a>
        </li>
        <li><a href="#">Projets</a></li>
        <li {% if current_url == 'ct_filtre' %}class="active"{% endif %}>
            <a href="{{ path('ct_filtre') }}">Filtrer les données</a>
        </li>
    </ul>
</li>

#}
{%  set route_page = app.request.attributes.get('_route') %}
<li {%
    if  route_page == 'info_liste_agents' or
        route_page == 'service_departementdirection_info' or
        route_page == 'service_departementdirection_info_detail' or
        route_page == 'departementdirection_info_detail' or
        route_page == 'service_direction_info' or
        route_page == 'direction_info' or
        route_page == 'departementdirection_info' or
        route_page == 'agence_info'
    %}
    class="active"
    {% endif %}>
    <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Comores Telecom</span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse">
        <li {% if route_page == 'info_liste_agents' %} class="active" {% endif %}>
            <a href="{{ path('info_liste_agents', {responsabilite: 0, filtre:'tous'}) }}"><span class="fa fa-filter"></span> Agents <small>[ Filtre ]</small></a></li>
        <li {% if route_page == 'service_departementdirection_info' or
                    route_page == 'service_direction_info' or route_page == 'service_departementdirection_info_detail' %} class="active" {% endif %}>
            <a href="{{ path('service_departementdirection_info') }}">Services</a>
        </li>
        <li {% if route_page == 'departementdirection_info' or route_page == 'departementdirection_info_detail' %}class="active" {% endif %}>
            <a class="active" href="{{ path('departementdirection_info') }}">Departements</a>
        </li>
        <li {% if route_page == 'direction_info' %}class="active" {% endif %}>
            <a class="" href="{{ path('direction_info') }}">Direction</a>
        </li>
        <li {% if route_page == 'agence_info' %}class="active" {% endif %}>
            <a class="" href="{{ path('agence_info') }}">Agences</a>
        </li>
        {#
        <li><a href="c3.html">c3 charts</a></li>
        <li><a href="graph_peity.html">Peity Charts</a></li>
        <li><a href="graph_sparkline.html">Sparkline Charts</a></li>
        #}
    </ul>
</li>
<li {% if
    route_page == 'message_index' or
    route_page == 'message_new' or
    route_page == 'message_show' or
    route_page == 'message_sent' or
    route_page == 'message_archived'
    %} class="active" {% endif %}>
    <a href="{{ path('message_index') }}"><i class="fa fa-envelope"></i> <span class="nav-label">Mes messages </span><span class="label label-warning pull-right">
            {# Faisons les comptes #}
            {% set nbr_msgsup = 0 %}
            {% set nbr_messages_non_lus = 0 %}
            {% for message in messages  %}
                {% set msgvu = message.getMessagesvuses() %}
                {% for msgvu in msgvu if msgvu.user == app.user  %}
                    {# La requete est faite pour les mesasges vus, et puis on a joué sur le ELSE pour afficher les non-lus #}
                {% else %}
                    {% set nbr_messages_non_lus = nbr_messages_non_lus + 1 %}
                {% endfor %}
                {% set msgsup = message.getMessagesupprimes() %}

                {% for msgsup in msgsup if msgsup.user == app.user %}
                    {% set nbr_msgsup = nbr_msgsup + 1 %}
                {% endfor %}

            {% endfor %}
            {# Fin Faisons les comptes #}
           {{ nbr_messages_non_lus }}
            /
            {% set nbr_messages = 0 %}
            {% for message in messages %}
                {% set nbr_messages = nbr_messages + 1 %}
            {% endfor %}
            {{ nbr_messages-nbr_msgsup }}
        </span></a>
    <ul class="nav nav-second-level collapse">
        <li {% if route_page == 'message_index' %}class="active"{% endif %}><a href="{{ path('message_index') }}">Boîte de réception</a></li>
        <li {% if route_page == 'message_new' %}class="active"{% endif %}><a href="{{ path('message_new') }}">Nouveau message</a></li>
        <li {% if route_page == 'message_sent' %}class="active"{% endif %}><a href="{{ path('message_sent') }}">Messages envoyés</a></li>
        <li {% if route_page == 'message_archived' %}class="active"{% endif %}><a href="{{ path('message_archived') }}">Messages supprimés</a></li>
    </ul>
</li>
{#<li>
    <a href="metrics.html"><i class="fa fa-users"></i> <span class="nav-label">Mes amis & flowers</span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse">
        <li><a href="#">Mes amis <span class="label label-primary pull-right">200</span></a></li>
        <li><a href="#">Mes demandes d'amis</a></li>
        <li><a href="#">Mes J'aime <span class="label label-primary pull-right">1050</span></a></li>
    </ul>
</li>#}
<li {% if
    route_page == 'conge_index' or
    route_page == 'conges_pris' or
    route_page == 'conges_restants'
    %} class="active" {% endif %}>
    <a href="#"><i class="fa fa-paper-plane"></i> <span class="nav-label">Personnel</span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse">
        <li {% if route_page == 'conge_index' %}class="active"{% endif %}><a href="{{ path('conge_index') }}">Admin congé</a></li>
        <li {% if route_page == 'conges_pris' %}class="active"{% endif %}><a href="#">Mes congés pris</a></li>
        <li {% if route_page == 'conges_restants' %}class="active"{% endif %}><a href="#">Mes congés restants</a></li>
    </ul>
</li>
<li>
    <a href="#"><i class="fa fa-money"></i> <span class="nav-label">Banque de solidarité</span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse">
        <li><a href="#">Mes cotisations</a></li>
        <li><a href="#">Mes prêts</a></li>
        <li><a href="#">Ma situation</a></li>
    </ul>
</li>
<li>
    <a href="#"><i class="fa fa-medkit"></i> <span class="nav-label">Mutuelle de santé</span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse">
        <li><a href="#">Mes consultations</a></li>
        <li><a href="#">Masituation</a></li>
    </ul>
</li>
<li class="landing_link">
    <a href="{{ path('message_new', {typeMessage: 'donnees'}) }}"><i class="fa fa-edit"></i> <span class="nav-label">Signaler un Bug</span> <span class="label label-warning pull-right">ADMIN</span></a>
</li>
<li class="special_link">
    <a href="{{ path('home') }}"><i class="fa fa-database"></i> <span class="nav-label">Base de connaissance</span></a>
</li>