<form method="post" action="{{ path('posteuser_servicedepartementdirection_delete', {'id': posteuser_servicedepartementdirection.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ posteuser_servicedepartementdirection.id) }}">
    <button class="btn">Delete</button>
</form>
