{% extends 'base.html.twig' %}

{% block title %}Edit PosteuserServicedepartementdirection{% endblock %}

{% block body %}
    <h1>Edit PosteuserServicedepartementdirection</h1>

    {{ include('posteuser_servicedepartementdirection/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('posteuser_servicedepartementdirection_index') }}">back to list</a>

    {{ include('posteuser_servicedepartementdirection/_delete_form.html.twig') }}
{% endblock %}
