{% extends 'base.html.twig' %}

{% block title %}PosteuserServicedepartementdirection index{% endblock %}

{% block body %}
    <h1>PosteuserServicedepartementdirection index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for posteuser_servicedepartementdirection in posteuser_servicedepartementdirections %}
            <tr>
                <td>{{ posteuser_servicedepartementdirection.id }}</td>
                <td>
                    <a href="{{ path('posteuser_servicedepartementdirection_show', {'id': posteuser_servicedepartementdirection.id}) }}">show</a>
                    <a href="{{ path('posteuser_servicedepartementdirection_edit', {'id': posteuser_servicedepartementdirection.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('posteuser_servicedepartementdirection_new') }}">Create new</a>
{% endblock %}
