{% extends 'base.html.twig' %}

{% block title %}New PosteuserServicedepartementdirection{% endblock %}

{% block body %}
    <h1>Create new PosteuserServicedepartementdirection</h1>

    {{ include('posteuser_servicedepartementdirection/_form.html.twig') }}

    <a href="{{ path('posteuser_servicedepartementdirection_index') }}">back to list</a>
{% endblock %}
