{% extends 'base.html.twig' %}

{% block title %}PosteuserServicedepartementdirection{% endblock %}

{% block body %}
    <h1>PosteuserServicedepartementdirection</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ posteuser_servicedepartementdirection.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('posteuser_servicedepartementdirection_index') }}">back to list</a>

    <a href="{{ path('posteuser_servicedepartementdirection_edit', {'id': posteuser_servicedepartementdirection.id}) }}">edit</a>

    {{ include('posteuser_servicedepartementdirection/_delete_form.html.twig') }}
{% endblock %}
