{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Titularisation {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Morris --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css') }}">
        <link rel="stylesheet" href="{{ asset('css/plugins/select2/select2.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/plugins/chosen/bootstrap-chosen.css') }}">

    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}

            <div class="wrapper wrapper-content animated fadeInRight">
                {% if info_recrutement == 0 %}
                    <row>
                        <div class="alert alert-danger alert-dismissable">
                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                            Cet agent n'a pas de "Recrutement" enregistré.<br>
                            <a class="alert-link" href="{{ path('evenements_recrutement_new', {id: ev_titularisation.User.id}) }}">Cliquez ici pour ce faire</a>.
                        </div>
                    </row>
                {% endif %}
                {% if info_titularisation == 1 %}
                    <row>
                        <div class="alert alert-info alert-dismissable">
                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                            Cet agent a déjà une "Titularisation" enregistré.<br>
                            Voulez-vous enregistrer un reclassement ? Si "OUI",
                            <a class="alert-link" href="{{ path('evenements_reclassement_new', {id: ev_titularisation.User.id}) }}">Cliquez ici pour ce faire</a>.
                        </div>
                    </row>
                {% endif %}
                <div class="row">
                    <div class="col-lg-12">

                        <div class="ibox">
                            <div class="ibox-content">
                                <h3>Enregistrer une titularisation </h3>

                                <p class="small">
                                    Ajouter un evenement "Titularisation" à un agent.
                                </p>
                                {{ form_start(form) }}

                                    <div class="form-group">
                                        <label>Agent  </label>
                                        <span> {{ ev_titularisation.user }} </span>
                                    </div>
                                    <input type="text" class="form-control hidden" name="titularisation[user]" value="{{ ev_titularisation.User.id }}"  >
                                    {# Champs caché pour l'annulation de la décision #}
                                    <input type="text" class="form-control hidden" name="titularisation[decisionAnnulee]" value="{{ ev_titularisation.decisionAnnulee }}"  >

                                    <div class="form-group col-sm-6 {% if form_errors(form.reference) %}has-error{% endif %}" style="padding-left: 0px;">
                                        <label>Reference de la note  </label>
                                        {{ form_widget(form.reference, {
                                            'attr': {
                                                'class': 'form-control'
                                            }
                                        }) }}
                                    </div>
                                    <div class="form-group col-sm-6 {% if form_errors(form.dateTitularisationAt) %}has-error{% endif %}" style="padding-right: 0px;">
                                        <label>Date de titularisation </label>
                                        {{ form_widget(form.dateTitularisationAt, {
                                            'attr': {
                                                'class': 'form-control'
                                            }
                                        }) }}
                                    </div>
                                    <div class="form-group col-sm-6 {% if form_errors(form.ancienMatricule) %}has-error{% endif %}" style="padding-left: 0px;">
                                        <label>Ancien matricule <small class="text-danger">{% if info_matricule == 0 %}(Cet agent n'a pas de matricule de recrutement enregistré){% endif %}</small></label>
                                        {{ form_widget(form.ancienMatricule, {
                                            'attr': {
                                                'class': 'form-control'
                                            }
                                        }) }}
                                    </div>
                                    <div class="form-group col-sm-6 {% if form_errors(form.nouveauMatricule) %}has-error{% endif %}" style="padding-right: 0px;">
                                        <label>Nouveau matricule </label>
                                        {{ form_widget(form.nouveauMatricule, {
                                            'attr': {
                                                'class': 'form-control'
                                            }
                                        }) }}
                                    </div>

                                    <div class="form-group">
                                        <label>Titularisé au poste de</label>
                                        {{ form_widget(form.poste, {
                                            'attr': {
                                                'class': 'chosen-select'
                                            }
                                        }) }}
                                    </div>
                                    <div class="form-group col-sm-6 {% if form_errors(form.direction) %}has-error{% endif %}" style="padding-left: 0px;">
                                        <label>Direction  </label>
                                        {{ form_widget(form.direction, {
                                            'attr': {
                                                'class': 'chosen-select'
                                            }
                                        }) }}
                                    </div>
                                    <div class="form-group col-sm-6" style="padding-right: 0px;">
                                        <label>Service de la direction  </label>
                                        {{ form_widget(form.serviceDirection) }}
                                    </div>
                                    <div class="form-group">
                                        <label>Département de la direction </label>
                                        {{ form_widget(form.departement) }}
                                    </div>
                                    <div class="form-group">
                                        <label>Service du département  </label>
                                        {{ form_widget(form.serviceDepartement) }}
                                    </div>
                                    <div class="form-group">
                                        <label>Observations  </label>
                                        {{ form_widget(form.observations) }}
                                    </div>
                                <div class="form-group pull-right hidden">
                                    {{ form_widget(form.decisionAnnulee) }}
                                </div>
                                {% if info_titularisation == 1 %}
                                    <a type="button" class="btn btn-primary" href="{{ path('evenements_titularisation_index') }}"><i class="fa fa-arrow-left"></i> Retour à la liste</a>
                                    <input class="btn btn-primary" type="submit" value="Enregistrer" disabled="disabled"/>
                                {% else %}
                                    <input class="btn btn-primary" type="submit" value="Enregistrer" />
                                {% endif %}

                                {{ form_end(form) }}

                                <div class="hr-line-dashed"></div>
                                {% if is_granted('ROLE_ADMIN_GCAR') %}
                                    <a href="{{ path('evenements_titularisation_index') }}">Retour à la liste</a>
                                {% endif %}
                            </div>
                        </div>

                    </div>



                </div>

            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}

    <script type="text/javascript" src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/inspinia.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/pace/pace.min.js') }}"></script>


    <script type="text/javascript" src="{{ asset('js/plugins/select2/select2.full.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/touchspin/jquery.bootstrap-touchspin.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/chosen/chosen.jquery.js') }}"></script>


    <script>
        $(document).on('change', '#titularisation_direction, #titularisation_departement, #titularisation_serviceDirection', function () {
            let $field = $(this)
            let $directionField = $('#titularisation_direction')
            let $form = $field.closest('form')
            let data = {}
            data[$directionField.attr('name')] = $directionField.val()
            data[$field.attr('name')] = $field.val()
            $.post($form.attr('action'), data).then(function (data) {
                let $input = $(data).find('#titularisation_departement')
                $('#titularisation_departement').replaceWith($input)

                //chargement du champs service lié à une direction après selection de la direction
                let $inputsvcdir = $(data).find('#titularisation_serviceDirection')
                $('#titularisation_serviceDirection').replaceWith($inputsvcdir)

                //chargement du champs service lié à un département après selection du département
                let $inputsvcdpt = $(data).find('#titularisation_serviceDepartement')
                $('#titularisation_serviceDepartement').replaceWith($inputsvcdpt)
            })

        })
    </script>


    <script>
        $(document).ready(function(){

            $(".select2_demo_1").select2();
            $(".select2_demo_2").select2();
            $(".select2_demo_3").select2({
                placeholder: "Choisir",
                allowClear: true
            });


        });

        $('.chosen-select').chosen({width: "100%"});


    </script>



{% endblock javascripts %}

