<form method="post"
      action="{{ path('evenements_demission_delete', {'id': ev_demission.id}) }}"
      onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ev_demission.id) }}">
    <button class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Supprimer</button>
</form>
