<form method="post" action="{{ path('evenements_annulationdedecision_delete', {'id': ev_annulationdedecision.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet enregistrement?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ev_annulationdedecision.id) }}">
    <button class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> {% if app.request.attributes.get('_route') == 'evenements_annulationdedecision_show' %}Supprimer {% endif %}</button>
</form>
