{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Modifier l'annulation de décision {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Morris --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css') }}">
        <link rel="stylesheet" href="{{ asset('css/plugins/select2/select2.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/plugins/chosen/bootstrap-chosen.css') }}">

    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}

            <div class="wrapper wrapper-content animated fadeInRight">

                <div class="row">

                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content">
                                <h3>Edit l'annulation de décision pour {{ ev_annulationdedecision.user.nom }} {{ ev_annulationdedecision.user.prenom }}</h3>

                                <p class="small">
                                    Edition de décision annulée
                                </p>
                                {{ form_start(form) }}

                                <div class="form-group {% if form_errors(form.decisionAAnnuler) %}has-error{% endif %}" style="padding-left: 0px;">
                                    <label>Choisir le type de annulationdedecision  </label>
                                    {{ form_widget(form.decisionAAnnuler, {
                                        'attr': {
                                            'class': 'form-control'
                                        }
                                    }) }}
                                </div>

                                <div class="form-group col-sm-4 {% if form_errors(form.reference) %}has-error{% endif %}" style="padding-left: 0px;" >
                                    <label>Reference de la note  </label>
                                    {{ form_widget(form.reference, {
                                        'attr': {
                                            'class': 'form-control'
                                        }
                                    }) }}
                                </div>
                                <div class="form-group col-sm-4 {% if form_errors(form.matricule) %}has-error{% endif %}" >
                                    <label>Matricule</label>
                                    {{ form_widget(form.matricule, {
                                        'attr': {
                                            'class': 'form-control'
                                        }
                                    }) }}
                                </div>

                                <div class="form-group col-sm-4 {% if form_errors(form.dateAnnulationdedecisionAt) %}has-error{% endif %}" style="padding-right: 0px;">
                                    <label>Date </label>
                                    {{ form_widget(form.dateAnnulationdedecisionAt, {
                                        'attr': {
                                            'class': 'form-control'
                                        }
                                    }) }}
                                </div>

                                {{ form_widget(form) }}
                                <input class="btn btn-primary" type="submit" value="Enregistrer" />

                                {{ form_end(form) }}

                                <div class="hr-line-dashed"></div>
                                <a href="{{ path('evenements_annulationdedecision_index') }}">Retour à la liste</a>
                            </div>
                        </div>

                    </div>



                </div>

            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('js/plugins/chosen/chosen.jquery.js') }}"></script>


    <script>
        $(document).on('change', '#annulationdedecision_direction, #annulationdedecision_departement, #annulationdedecision_serviceDirection', function () {
            let $field = $(this)
            let $directionField = $('#annulationdedecision_direction')
            let $form = $field.closest('form')
            let data = {}
            data[$directionField.attr('name')] = $directionField.val()
            data[$field.attr('name')] = $field.val()
            $.post($form.attr('action'), data).then(function (data) {
                let $input = $(data).find('#annulationdedecision_departement')
                $('#annulationdedecision_departement').replaceWith($input)

                //chargement du champs service lié à une direction après selection de la direction
                let $inputsvcdir = $(data).find('#annulationdedecision_serviceDirection')
                $('#annulationdedecision_serviceDirection').replaceWith($inputsvcdir)

                //chargement du champs service lié à un département après selection du département
                let $inputsvcdpt = $(data).find('#annulationdedecision_serviceDepartement')
                $('#annulationdedecision_serviceDepartement').replaceWith($inputsvcdpt)
            })

        })
    </script>


    <script>
        $(document).ready(function(){

            $(".select2_demo_1").select2();
            $(".select2_demo_2").select2();
            $(".select2_demo_3").select2({
                placeholder: "Select a state",
                allowClear: true
            });


        });

        $('.chosen-select').chosen({width: "100%"});


    </script>



{% endblock javascripts %}

