{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Annuler une décision {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Morris --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css') }}">
        <link rel="stylesheet" href="{{ asset('css/plugins/select2/select2.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/plugins/chosen/bootstrap-chosen.css') }}">

    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

{% block body %}
    {% block fildariane %}
        {{ include('_generals_includes/_fildariane.html.twig') }}
    {% endblock fildariane %}

    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
            {# include du menu_left #}
            {{ include('evenements/_includes/_left_menu.html.twig') }}
            {# Fin include du menu_left #}

            <div class="col-lg-9">

                <div class="contact-box center-version">
                    <table class="table">
                        <thead>
                        <h1 style="padding-left: 10px;">Annuler une décision <small>{{ ev_annulationdedecision.reference }}</small></h1>
                        </thead>
                        <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ ev_annulationdedecision.id }}</td>
                        </tr>
                        <tr>
                            <th>Concerné(e)</th>
                            <td> {{ ev_annulationdedecision.user }}</td>
                        </tr>
                        <tr>
                            <th>Reference de la note</th>
                            <td>{{ ev_annulationdedecision.reference }}</td>
                        </tr>
                        <tr>
                            <th>Décision annulée le : </th>
                            <td>Du {{ ev_annulationdedecision.dateAnnulationdedecisionAt | date('d/m/Y') }}</td>
                        </tr>
                        <tr>
                            <th>Evenement concerné par l'annulation</th>
                            <td>{{ ev_annulationdedecision.decisionAAnnuler }}</td>
                        </tr>
                        <tr>
                            <th>Observations</th>
                            <td>{{ ev_annulationdedecision.observations }}</td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="contact-box-footer">
                    <div class="m-t-xs btn-group">
                        <a href="{{ path('evenements_annulationdedecision_index') }}" class="btn btn-xs btn-white"><i class="fa fa-arrow-left"></i> Retour à la liste </a>
                        <a href="{{ path('evenements_annulationdedecision_edit', {'id': ev_annulationdedecision.id}) }}" class="btn btn-xs btn-warning"><i class="fa fa-edit"></i> Modifier</a>
                        <div class="hr-line-dashed"></div>
                        {{ include('evenements/ev_annulationdedecision/_delete_form.html.twig') }}
                    </div>
                </div>

                </div>
            </div>


        </div>
    </div>

{% endblock %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}

    {{ parent() }}

{% endblock javascripts %}