{% extends 'base.html.twig' %}


    {% block title %} {{ parent() }} Département {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Data table --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/dataTables/datatables.min.css') }}">
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}

            <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="wrapper wrapper-content animated fadeInRight">
                            <div class="ibox-content p-xl">
                                <div class="row">
                                    <div class="col-sm-6">
                                        {% set departement = departementdirection %}
                                        <h2>{{ departement.departement.designation }}</h2>
                                        <address>
                                            {# Tel du service #}
                                            <abbr title="Phone"><strong>Tel : </strong></abbr>
                                            {% set tel_lg = departement.tel | length %}
                                            {% if tel_lg <7 %}
                                                <span class="text-danger">Non renseigné !</span>
                                            {% else %}
                                                {{ departement.tel }}
                                            {% endif %}
                                            <br/>
                                            {# Fin Tel du service #}
                                            <strong>Chef de département : </strong>
                                            {% for agent in agents if agent.departementdirection2_id == departementdirection.id and agent.poste_designation == 'Chef de département' and agent.servicedepartementdirection_id == null %}
                                                {{ dump(agent) }}
                                                {{ agent.nom }} {{ agent.prenom }}, Matricule : {{ agent.matricule }} / <span class="fa fa-phone"></span> {{ agent.tel }}<br/>
                                            {% else %}
                                                Aucun <br/>
                                            {% endfor %}

                                            <strong>Nombre d'agents : </strong>
                                            {% set nbr = 0 %}
                                            {% for agent in agents if agent.departementdirection1_id == departementdirection.id or agent.departementdirection2_id == departementdirection.id %}
                                                {% set nbr = nbr +1 %}
                                            {% endfor %}
                                            {{ nbr }}
                                            <br>
                                            <strong>Localisation : </strong> {{ departementdirection.agence }} <br>
                                            <strong>Direction : </strong> {{ departementdirection.direction.designation }}<br>

                                        </address>
                                    </div>

                                    <div class="col-sm-6 text-right">
                                        <span><strong>Date :</strong> {{ "now"|date("m/d/Y") }}</span><br/>
                                        <address>
                                            <abbr title="Phone">Tel Dir <span class="fa fa-phone"></span> : </abbr> {{ departementdirection.direction.tel }}
                                        </address>

                                    </div>
                                </div>

                                <div class="well m-t"><strong>Les services du département </strong>
                                    ...
                                </div>


                                <table class="table invoice-table">
                                    <thead>
                                    <h3><span class="text-success"> Fonctions liées au département | Sans service</span></h3>
                                    </thead>
                                    {% for agent in agents if agent.departementdirection1_id == departementdirection.id %}
                                        <tr>
                                            <td>Matricule : {{ agent.matricule }} </td>
                                            <td>{{ agent.nom }} {{ agent.prenom }} </td>
                                            <td> <span class="fa fa-phone"></span> </td>
                                            <td>{% if agent.tel |length <7 %}<span class="text-danger">Aucun tel</span>{% else %}{{ agent.tel }}{% endif %}</td>
                                            <td>{{ agent.poste_designation }}</td>
                                            <td><small>Par <span class="text-navy">{{ agent.nomEvenement }}</span></small></td>
                                        </tr>
                                    {% endfor %}


                                </table>
                                {%  set services = services_lies %}
                                {% for service in services if service.departementdirection_id == departement.id %}
                                    <table class="table invoice-table">
                                        <thead>
                                        <h3><span class="text-success"> {{ service.service_designation }}</span></h3>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td><strong>Infos générales :</strong></td>
                                            <td><strong>Nbr agents</strong></td>
                                            <td class="col-lg-pull-0">
                                                {% set nbr = 0 %}
                                                {% for agent in agents if agent.servicedepartementdirection_id == service.servicedepartementdirection_id %}
                                                    {% set nbr = nbr + 1 %}
                                                {% endfor %}
                                                {{ nbr }}
                                            </td>

                                            <td><span class="fa fa-phone"></span></td>
                                            <td>
                                                {% set tel_lg = service.tel | length %}
                                                {% if tel_lg <7 %}
                                                    <span class="text-danger">000 00 00</span>
                                                {% else %}
                                                    <span class="text-dark">{{ service.tel }} </span>
                                                {% endif %}
                                            </td>
                                            <td></td>
                                        </tr>
                                        {#liste des agents#}
                                        {% for agent in agents if agent.servicedepartementdirection_id == service.servicedepartementdirection_id %}
                                            <tr>{# liste des agents du service #}
                                                <td>
                                                    <a href="{{ path('moncompte_profile_agent', {id: agent.id, dpt_id: departement.id}) }}"> <span class="btn btn-xs btn-primary"><span class="fa fa-eye"></span> Profil</span></a>
                                                    <a href="{{ path('moncompte_event_agent', {id: agent.id, dpt_id: departement.id}) }}"> <span class="btn btn-xs btn-primary"><span class="fa fa-eye"></span> Evenements</span></a>

                                                    | <strong>{{ agent.matricule }}</strong></td>
                                                <td class="col-lg-pull-0">
                                                    {{ agent.nom }} {{ agent.prenom }}
                                                </td>
                                                <td><span class="fa fa-phone"></span></td>
                                                <td>{{ agent.tel }}</td>

                                                <td>
                                                    {{ agent.poste_designation }} {% if agent.poste_designation == 'Chef de département'%}<span class="text-danger">[ Erreur! ]</span>{% endif %}
                                                </td>
                                                <td>
                                                    <small>Par <span class="text-navy">{{ agent.nomEvenement }}</span></small>
                                                </td>
                                            </tr>
                                        {% endfor %}


                                        </tbody>
                                    </table>
                                {% else %}
                                    <span class="text-danger"> <strong>Aucun service </strong></span>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/plugins/dataTables/datatables.min.js') }}"></script>

{% endblock javascripts %}

