{% extends 'base.html.twig' %}


    {% block title %} {{ parent() }} Service {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Data table --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/dataTables/datatables.min.css') }}">
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}
            {#
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-12">
                    <div class="title-action pull-right" style="padding-top: 3px; margin-bottom: 3px">
                        <a href="{# {{ path('info_profile_agent_print', {id:agent.id}) }} #" target="_blank" class="btn btn-primary" ><i class="fa fa-print"></i> Imprimer </a>
                    </div>
                </div>
            </div>
            #}
            <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="wrapper wrapper-content animated fadeInRight">
                            <div class="ibox-content p-xl">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h2>{{ service.service.designation }}</h2>
                                        <address>
                                            {# Tel du service #}
                                            <abbr title="Phone"><strong>Tel : </strong></abbr>
                                            {% set tel_lg = service.tel | length %}
                                            {% if tel_lg <7 %}
                                                <span class="text-danger">Non renseigné !</span>
                                            {% else %}
                                                {{ service.tel }}
                                            {% endif %}
                                            <br/>
                                            {# Fin Tel du service #}
                                            <strong>Chef de service : </strong>
                                            {% for agent in agents if agent.poste_designation == 'Chef de service' %}
                                                {{ agent.nom }} {{ agent.prenom }}, Matricule : {{ agent.matricule }} / <span class="fa fa-phone"></span> {{ agent.tel }}
                                            {% endfor %}
                                            <br>
                                            <strong>Nombre d'agents : </strong>
                                            {% set nbr = 0 %}
                                            {% for agent in agents %}
                                                {% set nbr = nbr +1 %}
                                            {% endfor %}
                                            {{ nbr }}
                                            <br>
                                            {% if entite == 'sdptdir' %}
                                                <strong>Localisation : </strong> {{ service.departementdirection.agence }} <br>
                                                <strong>Département : </strong> {{ service.departementdirection.departement.designation }}<br>
                                                <strong>Direction : </strong> {{ service.departementdirection.direction.designation }}<br>
                                            {% elseif entite == 'sdir' %}
                                                <strong>Localisation : </strong> {{ service.direction.agence }} <br>
                                                <strong>Direction : </strong> {{ service.direction.designation }}<br>
                                            {% endif %}

                                        </address>
                                    </div>

                                    <div class="col-sm-6 text-right">
                                        <span><strong>Date :</strong> {{ "now"|date("m/d/Y") }}</span><br/>
                                        <address>
                                            <abbr title="Phone">Tel <span class="fa fa-phone"></span> : </abbr> {% if entite == "sdptdir" %}{{ service.departementdirection.tel }} {% elseif entite=="sdir" %} {{ service.direction.tel }} {% endif %}
                                        </address>

                                    </div>
                                </div>

                                <div>
                                    <table class="table invoice-table">
                                        <tbody>
                                        {% for agent in agents %}
                                        <tr>
                                            <td>
                                                <a href="{{ path('moncompte_profile_agent', {id: agent.id, svc_id: service.id, entite: entite}) }}"> <span class="btn btn-xs btn-primary"><span class="fa fa-eye"></span> Profil</span></a>
                                                <a href="{{ path('moncompte_event_agent', {id: agent.id, svc_id: service.id, entite: entite}) }}"> <span class="btn btn-xs btn-primary"><span class="fa fa-eye"></span> Evenements</span></a>

                                                |
                                                <strong>{{ agent.matricule }}</strong></td>

                                            <td><span class="pull-left">{{ agent.nom }} {{ agent.prenom }}</span></td>

                                            <td>
                                                {# Tel du service #}
                                                <abbr title="Phone"><strong><span class="fa fa-phone"></span> : </strong></abbr>
                                                {% set tel_lg = agent.tel | length %}
                                                {% if tel_lg <7 %}
                                                    <span class="text-danger">Non renseigné !</span>
                                                {% else %}
                                                    {{ agent.tel }}
                                                {% endif %}
                                                <br/>
                                                {# Fin Tel du service #}
                                            </td>

                                                <td>
                                                    {{ agent.poste_designation }}, par <small class="text-navy">{{ agent.nomEvenement }}</small>
                                                </td>
                                        </tr>
                                        {% endfor %}


                                        </tbody>
                                    </table>
                                </div><!-- /table-responsive -->
                                <div class="well m-t"><strong>Informations supplémentaires ... </strong>
                                    ...
                                </div>
                                {#
                                {%  set formations_user = user.getEcFormationusers() %}
                                {% for formation in formations_user %}
                                <table class="table tab-help">
                                    <thead>
                                    <h3> {{ formation.ecoleuniversite }}</h3>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><strong>Domaine :</strong></td>
                                        <td>{{ formation.ecSousmetier }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Filière de formation :</strong></td>
                                        <td>{{ formation.ecFormation }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Période :</strong> </td>
                                        <td>{{ formation.dateDebutAt | date('d/m/Y') }} au  {{ formation.dateFinAt | date('d/m/Y') }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Niveau :</strong></td>
                                        <td>{{ formation.niveauqualification }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Observations :</strong></td>
                                        <td>{{ formation.observations }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                    {% else %}
                                        <span class="text-danger"> <strong>Aucune formation académique trouvée! </strong></span>
                                {% endfor %}

                                <div class="well m-t"><strong>Autres formations non académiques</strong>
                                    Formations de courte durée non académiques...
                                </div>

                                {%  set autres_f = user.getEcExperienceAilleurs() %}
                                {% for autre_f in autres_f  if autre_f.type == 'Formation' %}
                                    <table class="table tab-help">
                                        <thead>
                                        <h3> {{ autre_f.societe }} {{ dump(autre_f) }}</h3>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td><strong>Domaine :</strong></td>
                                            <td>{{ formation.ecSousmetier }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Filière de formation :</strong></td>
                                            <td>{{ formation.ecFormation }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Période :</strong> </td>
                                            <td>{{ formation.dateDebutAt | date('d/m/Y') }} au  {{ formation.dateFinAt | date('d/m/Y') }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Niveau :</strong></td>
                                            <td>{{ formation.niveauqualification }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Observations :</strong></td>
                                            <td>{{ formation.observations }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                {% else %}
                                    <span class="text-danger"> <strong>Aucune information trouvée! </strong></span>
                                {% endfor %}

                                <div class="well m-t"><strong>Autres expériences... Séminaires, stage, interventions...</strong></div>

                                {% for autre_f in autres_f  if autre_f.type != 'Formation' %}
                                    <table class="table tab-help">
                                        <thead>
                                        <h3> {{ autre_f.societe }} {{ dump(autre_f) }}</h3>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td><strong>Domaine :</strong></td>
                                            <td>{{ formation.ecSousmetier }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Filière de formation :</strong></td>
                                            <td>{{ formation.ecFormation }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Période :</strong> </td>
                                            <td>{{ formation.dateDebutAt | date('d/m/Y') }} au  {{ formation.dateFinAt | date('d/m/Y') }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Niveau :</strong></td>
                                            <td>{{ formation.niveauqualification }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Observations :</strong></td>
                                            <td>{{ formation.observations }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                {% else %}
                                    <span class="text-danger"> <strong>Aucune autre expérience trouvée! </strong></span>
                                {% endfor %}
                                #}
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/plugins/dataTables/datatables.min.js') }}"></script>

{% endblock javascripts %}

