{% extends 'base.html.twig' %}


    {% block title %} {{ parent() }} Evenements de l'agent {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Data table --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/dataTables/datatables.min.css') }}">
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}
            <div class="wrapper wrapper-content">
                <div class="row">
                    {# Messages Falsh #}
                    {% for message in app.flashes('success') %}
                        <div class="col-lg-12">
                            <div class="alert alert-success alert-dismissable ">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                {{ message }}
                            </div>
                        </div>
                    {% endfor %}

                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="wrapper wrapper-content animated fadeInRight">
                            <div class="ibox-content p-xl">
                                <div class="row">
                                    <div class="col-sm-6">
                                        {% set user = agent %}
                                        <h4>Agent : [{{ user.matricule }}] {{ user.nomPrenom }}</h4>
                                        <address>
                                            <strong>Date de naissance : </strong> {{ user.dateNaissanceAt | date ('d/m/Y') }}<br>

                                            <strong>Poste actuel : </strong>
                                            {% set poste_user = user.getPosteUsers() %}


                                            {% for poste_user in poste_user %}
                                                {% if loop.last %}
                                                    {{ poste_user.Poste.designation }} <span class="text-muted small">par</span> <span class="text-navy small">[{{ poste_user.nomEvenement }}]</span>
                                                {% endif %}
                                                {# le else de la balise for #}{% else %} <span class="text-danger">Aucun</span>
                                            {% endfor %}
                                            <br/>

                                            <strong>Age de départ à la retraite : </strong> {{ retraite }}<br>
                                            <abbr title="Phone"><strong>Tel : </strong></abbr>
                                            {% set tel_lg = user.tel | length %}
                                            {% if tel_lg <7 %}
                                                <span class="text-danger">Non renseigné !</span>
                                            {% else %}
                                            {{ user.tel }}
                                            {% endif %}
                                        </address>
                                    </div>

                                    <div class="col-sm-6 text-right">
                                        <span><strong>Date :</strong> {{ "now"|date("m/d/Y") }}</span><br/>
                                    </div>
                                </div>

                                <div>
                                    <table class="table invoice-table">
                                        <tbody>
                                        <div class="ibox-content">
                                            {# test de l url avant envoie des parametres #}

                                            {% set evs = agent.getEvStages() %}
                                            {% if dernier_poste_user_connected == 'Chef de département' or dernier_poste_user_connected == 'Chef de service' or is_granted('ROLE_SUPER_ADMIN') %}
                                            <small class="pull-left badge badge-light" style="margin-right: 20px;">
                                                <a href="{{ path('evenements_stage_new', {id: agent.id, pg_prcdnt: 'moncompte_event_agent', dpt_id: dpt_id, svc_id : svc_id, entite: entite}) }}"><i class="fa fa-plus"></i></a>
                                            </small>
                                            {% endif %}
                                            {% for ev in evs | filter(ev=>ev) %}
                                                <div class="feed-element">
                                                    <div>
                                                        <small class="pull-right text-navy"><i class="fa fa-check text-navy"></i></small>
                                                        <a href="{{ path('evenements_stage_edit', {id: ev.id, pg_prcdnt: 'moncompte_event_agent', dpt_id: dpt_id, svc_id : svc_id, entite: entite}) }}">
                                                            <small class="pull-right text-navy" style="margin-right: 20px;"><i class="fa fa-edit text-navy"></i></small>
                                                        </a>
                                                        <strong>Stage</strong>
                                                        <div>Référence : {{ ev.reference }}</div>
                                                        <small class="text-muted">{{ ev.dateDebutAt | date('d.m.Y') }} - {{ ev.dateFinAt | date('d.m.Y') }}</small>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <strong class="text-danger">Stage non enregistré </strong>
                                            {% endfor %}
                                            <div class="hr-line-dashed" style="margin-top: 1px;"></div>

                                            {% set evs = agent.getEvRecrutements() %}
                                            {% if dernier_poste_user_connected == 'Chef de département' or dernier_poste_user_connected == 'Chef de service' or is_granted('ROLE_SUPER_ADMIN') %}
                                                <small class="pull-left badge badge-light" style="margin-right: 20px;">
                                                    <a href="{{ path('evenements_recrutement_new', {id: agent.id, pg_prcdnt:'moncompte_event_agent', dpt_id: dpt_id, svc_id : svc_id, entite: entite}) }}"><i class="fa fa-plus"></i></a>
                                                </small>
                                            {% endif %}
                                            {% for ev in evs | filter(ev=>ev) %}
                                                <div class="feed-element">
                                                    <div>
                                                        <small class="pull-right text-navy"><i class="fa fa-check text-navy"></i></small>
                                                        <a href="{{ path('evenements_recrutement_edit', {id: ev.id, pg_prcdnt: 'moncompte_event_agent', dpt_id: dpt_id, svc_id : svc_id, entite: entite}) }}">
                                                            <small class="pull-right text-navy" style="margin-right: 20px;"><i class="fa fa-edit text-navy"></i></small>
                                                        </a>
                                                        <strong>Recrutement</strong>
                                                        <div>Référence : {{ ev.reference }}</div>
                                                        <small class="text-muted">{{ ev.dateRecrutementAt | date('d.m.Y') }}</small>
                                                        <small class="text-muted">{{ ev.dateRecrutementAt | date('d.m.Y') }}</small>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <strong class="text-danger">Recrutement non enregistré </strong>
                                            {% endfor %}
                                            <div class="hr-line-dashed" style="margin-top: 1px;"></div>


                                            {#//renouvellementdecontrat #}
                                            {% set evs = agent.getEvRenouvellementdecontrats() %}
                                            {% if dernier_poste_user_connected == 'Chef de département' or dernier_poste_user_connected == 'Chef de service' or is_granted('ROLE_SUPER_ADMIN') %}
                                                <small class="pull-left badge badge-light" style="margin-right: 20px;">
                                                    <a href="{{ path('evenements_renouvellementdecontrat_new', {id: agent.id, pg_prcdnt:'moncompte_event_agent', dpt_id: dpt_id, svc_id : svc_id, entite: entite}) }}"><i class="fa fa-plus"></i></a>
                                                </small>
                                            {% endif %}
                                            {% for ev in evs | filter(ev=>ev) %}
                                                <div class="feed-element">
                                                    <div>
                                                        <small class="pull-right text-navy"><i class="fa fa-check text-navy"></i></small>
                                                        <a href="{{ path('evenements_renouvellementdecontrat_edit', {id: ev.id, pg_prcdnt: 'moncompte_event_agent', dpt_id: dpt_id, svc_id : svc_id, entite: entite}) }}">
                                                            <small class="pull-right text-navy" style="margin-right: 20px;"><i class="fa fa-edit text-navy"></i></small>
                                                        </a>
                                                        <strong>Renouv. de contrat</strong>
                                                        <div>Référence : {{ ev.reference }}</div>
                                                        <small class="text-muted">{{ ev.dateRenouvellementdecontratAt | date('d.m.Y') }}</small>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <strong class="text-danger">Renouv. de contrat non enregistré </strong>
                                            {% endfor %}
                                            <div class="hr-line-dashed" style="margin-top: 1px;"></div>

                                            {# //titularisation #}
                                            {% set evs = agent.getEvTitularisations() %}
                                            {% if dernier_poste_user_connected == 'Chef de département' or dernier_poste_user_connected == 'Chef de service' or is_granted('ROLE_SUPER_ADMIN') %}
                                                <small class="pull-left badge badge-light" style="margin-right: 20px;">
                                                    <a href="{{ path('evenements_titularisation_new', {id: agent.id, pg_prcdnt:'moncompte_event_agent', dpt_id: dpt_id, svc_id : svc_id, entite: entite}) }}"><i class="fa fa-plus"></i></a>
                                                </small>
                                            {% endif %}
                                            {% for ev in evs | filter(ev=>ev) %}
                                                <div class="feed-element">
                                                    <div>
                                                        <small class="pull-right text-navy"><i class="fa fa-check text-navy"></i></small>
                                                        <a href="{{ path('evenements_titularisation_edit', {id: ev.id, pg_prcdnt: 'moncompte_event_agent', dpt_id: dpt_id, svc_id : svc_id, entite: entite}) }}">
                                                            <small class="pull-right text-navy" style="margin-right: 20px;"><i class="fa fa-edit text-navy"></i></small>
                                                        </a>
                                                        <strong>Ttitularisation</strong>
                                                        <div>Référence : {{ ev.reference }}</div>
                                                        <small class="text-muted">{{ ev.dateTitularisationAt | date('d.m.Y') }}</small>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <strong class="text-danger">Ttitularisation non enregistrée </strong>
                                            {% endfor %}
                                            <div class="hr-line-dashed" style="margin-top: 1px;"></div>

                                            {# //reclassement #}
                                            {% set evs = agent.getEvReclassements() %}
                                            {% if dernier_poste_user_connected == 'Chef de département' or dernier_poste_user_connected == 'Chef de service' or is_granted('ROLE_SUPER_ADMIN') %}
                                                <small class="pull-left badge badge-light" style="margin-right: 20px;">
                                                    <a href="{{ path('evenements_reclassement_new', {id: agent.id, pg_prcdnt:'moncompte_event_agent', dpt_id: dpt_id, svc_id : svc_id, entite: entite}) }}"><i class="fa fa-plus"></i></a>
                                                </small>
                                            {% endif %}
                                            {% for ev in evs | filter(ev=>ev) %}
                                                <div class="feed-element">
                                                    <div>
                                                        <small class="pull-right text-navy"><i class="fa fa-check text-navy"></i></small>
                                                        <a href="{{ path('evenements_reclassement_edit', {id: ev.id, pg_prcdnt: 'moncompte_event_agent', dpt_id: dpt_id, svc_id : svc_id, entite: entite}) }}">
                                                            <small class="pull-right text-navy" style="margin-right: 20px;"><i class="fa fa-edit text-navy"></i></small>
                                                        </a>
                                                        <strong>Reclassement</strong>
                                                        <div>Référence : {{ ev.reference }}</div>
                                                        <small class="text-muted">{{ ev.dateReclassementAt | date('d.m.Y') }}</small>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <strong class="text-danger">Reclassement non enregistré </strong>
                                            {% endfor %}
                                            <div class="hr-line-dashed" style="margin-top: 1px;"></div>


                                            {# //avancementnormal #}
                                            {% set evs = agent.getEvAvancementnormals() %}
                                            {% if dernier_poste_user_connected == 'Chef de département' or dernier_poste_user_connected == 'Chef de service' or is_granted('ROLE_SUPER_ADMIN') %}
                                                <small class="pull-left badge badge-light" style="margin-right: 20px;">
                                                    <a href="{{ path('evenements_avancementnormal_new', {id: agent.id, pg_prcdnt:'moncompte_event_agent', dpt_id: dpt_id, svc_id : svc_id, entite: entite}) }}"><i class="fa fa-plus"></i></a>
                                                </small>
                                            {% endif %}
                                            {% for ev in evs | filter(ev=>ev) %}
                                                <div class="feed-element">
                                                    <div>
                                                        <small class="pull-right text-navy"><i class="fa fa-check text-navy"></i></small>
                                                        <a href="{{ path('evenements_avancementnormal_edit', {id: ev.id, pg_prcdnt: 'moncompte_event_agent', dpt_id: dpt_id, svc_id : svc_id, entite: entite}) }}">
                                                            <small class="pull-right text-navy" style="margin-right: 20px;"><i class="fa fa-edit text-navy"></i></small>
                                                        </a>
                                                        <strong>Avancement normal</strong>
                                                        <div>Référence : {{ ev.reference }}</div>
                                                        <small class="text-muted">{{ ev.dateAvancementnormalAt | date('d.m.Y') }}</small>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <strong class="text-danger">Avancement normal non enregistré </strong>
                                            {% endfor %}
                                            <div class="hr-line-dashed" style="margin-top: 1px;"></div>

                                            {# //promotioninterne #}
                                            {% set evs = agent.getEvPromotioninternes() %}
                                            {% if dernier_poste_user_connected == 'Chef de département' or dernier_poste_user_connected == 'Chef de service' or is_granted('ROLE_SUPER_ADMIN') %}
                                                <small class="pull-left badge badge-light" style="margin-right: 20px;">
                                                    <a href="{{ path('evenements_promotioninterne_new', {id: agent.id, pg_prcdnt:'moncompte_event_agent', dpt_id: dpt_id, svc_id : svc_id, entite: entite}) }}"><i class="fa fa-plus"></i></a>
                                                </small>
                                            {% endif %}
                                            {% for ev in evs | filter(ev=>ev) %}
                                                <div class="feed-element">
                                                    <div>
                                                        <small class="pull-right text-navy"><i class="fa fa-check text-navy"></i></small>
                                                        <a href="{{ path('evenements_promotioninterne_edit', {id: ev.id, pg_prcdnt: 'moncompte_event_agent', dpt_id: dpt_id, svc_id : svc_id, entite: entite}) }}">
                                                            <small class="pull-right text-navy" style="margin-right: 20px;"><i class="fa fa-edit text-navy"></i></small>
                                                        </a>
                                                        <strong>Promotion interne</strong>
                                                        <div>Référence : {{ ev.reference }}</div>
                                                        <small class="text-muted">{{ ev.datePromotioninterneAt | date('d.m.Y') }}</small>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <strong class="text-danger">Aucune Promotion interne </strong>
                                            {% endfor %}
                                            <div class="hr-line-dashed" style="margin-top: 1px;"></div>

                                            {# //nomination  #}
                                            {% set evs = agent.getEvNominations() %}
                                            {% if dernier_poste_user_connected == 'Chef de département' or dernier_poste_user_connected == 'Chef de service' or is_granted('ROLE_SUPER_ADMIN') %}
                                                <small class="pull-left badge badge-light" style="margin-right: 20px;">
                                                    <a href="{{ path('evenements_nomination_new', {id: agent.id, pg_prcdnt:'moncompte_event_agent', dpt_id: dpt_id, svc_id : svc_id, entite: entite}) }}"><i class="fa fa-plus"></i></a>
                                                </small>
                                            {% endif %}
                                            {% for ev in evs | filter(ev=>ev) %}
                                                <div class="feed-element">
                                                    <div>
                                                        <small class="pull-right text-navy"><i class="fa fa-check text-navy"></i></small>
                                                        <a href="{{ path('evenements_nomination_edit', {id: ev.id, pg_prcdnt: 'moncompte_event_agent', dpt_id: dpt_id, svc_id : svc_id, entite: entite}) }}">
                                                            <small class="pull-right text-navy" style="margin-right: 20px;"><i class="fa fa-edit text-navy"></i></small>
                                                        </a>
                                                        <strong>Nomination</strong>
                                                        <div>Référence : {{ ev.reference }}</div>
                                                        <small class="text-muted">{{ ev.dateNominationAt | date('d.m.Y') }}</small>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <strong class="text-danger">Aucune Nomination </strong>
                                            {% endfor %}
                                            <div class="hr-line-dashed" style="margin-top: 1px;"></div>

                                            {# //affectation#}
                                            {% set evs = agent.getEvAffectations() %}
                                            {% if dernier_poste_user_connected == 'Chef de département' or dernier_poste_user_connected == 'Chef de service' or is_granted('ROLE_SUPER_ADMIN') %}
                                                <small class="pull-left badge badge-light" style="margin-right: 20px;">
                                                    <a href="{{ path('evenements_affectation_new', {id: agent.id, pg_prcdnt:'moncompte_event_agent', dpt_id: dpt_id, svc_id : svc_id, entite: entite}) }}"><i class="fa fa-plus"></i></a>
                                                </small>
                                            {% endif %}
                                            {% for ev in evs | filter(ev=>ev) %}
                                                <div class="feed-element">
                                                    <div>
                                                        <small class="pull-right text-navy"><i class="fa fa-check text-navy"></i></small>
                                                        <a href="{{ path('evenements_affectation_edit', {id: ev.id, pg_prcdnt: 'moncompte_event_agent', dpt_id: dpt_id, svc_id : svc_id, entite: entite}) }}">
                                                            <small class="pull-right text-navy" style="margin-right: 20px;"><i class="fa fa-edit text-navy"></i></small>
                                                        </a>
                                                        <strong>Affectation</strong>
                                                        <div>Référence : {{ ev.reference }}</div>
                                                        <small class="text-muted">{{ ev.dateAffectationAt | date('d.m.Y') }}</small>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <strong class="text-danger">Aucune Affectation </strong>
                                            {% endfor %}
                                            <div class="hr-line-dashed" style="margin-top: 1px;"></div>

                                            {#//avertissement #}
                                            {% set evs = agent.getEvAvertissements() %}
                                            {% if dernier_poste_user_connected == 'Chef de département' or dernier_poste_user_connected == 'Chef de service' or is_granted('ROLE_SUPER_ADMIN') %}
                                                <small class="pull-left badge badge-light" style="margin-right: 20px;">
                                                    <a href="{{ path('evenements_avertissement_new', {id: agent.id, pg_prcdnt:'moncompte_event_agent', dpt_id: dpt_id, svc_id : svc_id, entite: entite}) }}"><i class="fa fa-plus"></i></a>
                                                </small>
                                            {% endif %}
                                            {% for ev in evs | filter(ev=>ev) %}
                                                <div class="feed-element">
                                                    <div>
                                                        <small class="pull-right text-navy"><i class="fa fa-check text-navy"></i></small>
                                                        <a href="{{ path('evenements_avertissement_edit', {id: ev.id, pg_prcdnt: 'moncompte_event_agent', dpt_id: dpt_id, svc_id : svc_id, entite: entite}) }}">
                                                            <small class="pull-right text-navy" style="margin-right: 20px;"><i class="fa fa-edit text-navy"></i></small>
                                                        </a>
                                                        <strong>Avertissement</strong>
                                                        <div>Référence : {{ ev.reference }}</div>
                                                        <small class="text-muted">{{ ev.dateAvertissementAt | date('d.m.Y') }}</small>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <strong class="text-danger">Aucun avertissement </strong>
                                            {% endfor %}
                                            <div class="hr-line-dashed" style="margin-top: 1px;"></div>

                                            {#//demisedefonction #}
                                            {% set evs = agent.getEvDemisedefonctions() %}
                                            {% if dernier_poste_user_connected == 'Chef de département' or dernier_poste_user_connected == 'Chef de service' or is_granted('ROLE_SUPER_ADMIN') %}
                                                <small class="pull-left badge badge-light" style="margin-right: 20px;">
                                                    <a href="{{ path('evenements_demisedefonction_new', {id: agent.id, pg_prcdnt:'moncompte_event_agent', dpt_id: dpt_id, svc_id : svc_id, entite: entite}) }}"><i class="fa fa-plus"></i></a>
                                                </small>
                                            {% endif %}
                                            {% for ev in evs | filter(ev=>ev) %}
                                                <div class="feed-element">
                                                    <div>
                                                        <small class="pull-right text-navy"><i class="fa fa-check text-navy"></i></small>
                                                        <a href="{{ path('evenements_demisedefonction_edit', {id: ev.id, pg_prcdnt: 'moncompte_event_agent', dpt_id: dpt_id, svc_id : svc_id, entite: entite}) }}">
                                                            <small class="pull-right text-navy" style="margin-right: 20px;"><i class="fa fa-edit text-navy"></i></small>
                                                        </a>
                                                        <strong>Démise de fonction</strong>
                                                        <div>Référence : {{ ev.reference }}</div>
                                                        <small class="text-muted">{{ ev.dateDemisedefonctionAt | date('d.m.Y') }}</small>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <strong class="text-danger">Aucune démise de fonction </strong>
                                            {% endfor %}
                                            <div class="hr-line-dashed" style="margin-top: 1px;"></div>

                                            {# //miseapied #}
                                            {% set evs = agent.getEvMiseapieds() %}
                                            {% if dernier_poste_user_connected == 'Chef de département' or dernier_poste_user_connected == 'Chef de service' or is_granted('ROLE_SUPER_ADMIN') %}
                                                <small class="pull-left badge badge-light" style="margin-right: 20px;">
                                                    <a href="{{ path('evenements_miseapied_new', {id: agent.id, pg_prcdnt:'moncompte_event_agent', dpt_id: dpt_id, svc_id : svc_id, entite: entite}) }}"><i class="fa fa-plus"></i></a>
                                                </small>
                                            {% endif %}
                                            {% for ev in evs | filter(ev=>ev) %}
                                                <div class="feed-element">
                                                    <div>
                                                        <small class="pull-right text-navy"><i class="fa fa-check text-navy"></i></small>
                                                        <a href="{{ path('evenements_miseapied_edit', {id: ev.id, pg_prcdnt: 'moncompte_event_agent', dpt_id: dpt_id, svc_id : svc_id, entite: entite}) }}">
                                                            <small class="pull-right text-navy" style="margin-right: 20px;"><i class="fa fa-edit text-navy"></i></small>
                                                        </a>
                                                        <strong>Mise à pied</strong>
                                                        <div>Référence : {{ ev.reference }}</div>
                                                        <small class="text-muted">{{ ev.dateMiseapiedAt | date('d.m.Y') }}</small>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <strong class="text-danger">Aucune mise à pied </strong>
                                            {% endfor %}
                                            <div class="hr-line-dashed" style="margin-top: 1px;"></div>

                                            {# //suspension #}
                                            {% set evs = agent.getEvSuspensions() %}
                                            {% if dernier_poste_user_connected == 'Chef de département' or dernier_poste_user_connected == 'Chef de service' or is_granted('ROLE_SUPER_ADMIN') %}
                                                <small class="pull-left badge badge-light" style="margin-right: 20px;">
                                                    <a href="{{ path('evenements_suspension_new', {id: agent.id, pg_prcdnt:'moncompte_event_agent', dpt_id: dpt_id, svc_id : svc_id, entite: entite}) }}"><i class="fa fa-plus"></i></a>
                                                </small>
                                            {% endif %}
                                            {% for ev in evs | filter(ev=>ev) %}
                                                <div class="feed-element">
                                                    <div>
                                                        <small class="pull-right text-navy"><i class="fa fa-check text-navy"></i></small>
                                                        <a href="{{ path('evenements_suspension_edit', {id: ev.id, pg_prcdnt: 'moncompte_event_agent', dpt_id: dpt_id, svc_id : svc_id, entite: entite}) }}">
                                                            <small class="pull-right text-navy" style="margin-right: 20px;"><i class="fa fa-edit text-navy"></i></small>
                                                        </a>
                                                        <strong>Suspension</strong>
                                                        <div>Référence : {{ ev.reference }}</div>
                                                        <small class="text-muted">{{ ev.dateSuspensionAt | date('d.m.Y') }}</small>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <strong class="text-danger">Aucune suspension </strong>
                                            {% endfor %}
                                            <div class="hr-line-dashed" style="margin-top: 1px;"></div>

                                            {# //annulationdedecision #}


                                            {# //suspensiondesalaire #}
                                            {% set evs = agent.getEvSuspensiondesalaires() %}
                                            {% if dernier_poste_user_connected == 'Chef de département' or dernier_poste_user_connected == 'Chef de service' or is_granted('ROLE_SUPER_ADMIN') %}
                                                <small class="pull-left badge badge-light" style="margin-right: 20px;">
                                                    <a href="{{ path('evenements_suspensiondesalaire_new', {id: agent.id, pg_prcdnt:'moncompte_event_agent', dpt_id: dpt_id, svc_id : svc_id, entite: entite}) }}"><i class="fa fa-plus"></i></a>
                                                </small>
                                            {% endif %}
                                            {% for ev in evs | filter(ev=>ev) %}
                                                <div class="feed-element">
                                                    <div>
                                                        <small class="pull-right text-navy"><i class="fa fa-check text-navy"></i></small>
                                                        <a href="{{ path('evenements_suspensiondesalaire_edit', {id: ev.id, pg_prcdnt: 'moncompte_event_agent', dpt_id: dpt_id, svc_id : svc_id, entite: entite}) }}">
                                                            <small class="pull-right text-navy" style="margin-right: 20px;"><i class="fa fa-edit text-navy"></i></small>
                                                        </a>
                                                        <strong>Suspension de salaire</strong>
                                                        <div>Référence : {{ ev.reference }}</div>
                                                        <small class="text-muted">{{ ev.dateSuspensiondesalaireAt | date('d.m.Y') }}</small>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <strong class="text-danger">Aucune suspension de salaire</strong>
                                            {% endfor %}
                                            <div class="hr-line-dashed" style="margin-top: 1px;"></div>

                                            {# //demission#}
                                            {% set evs = agent.getEvDemissions() %}
                                            {% if dernier_poste_user_connected == 'Chef de département' or dernier_poste_user_connected == 'Chef de service' or is_granted('ROLE_SUPER_ADMIN') %}
                                                <small class="pull-left badge badge-light" style="margin-right: 20px;">
                                                    <a href="{{ path('evenements_demission_new', {id: agent.id, pg_prcdnt:'moncompte_event_agent', dpt_id: dpt_id, svc_id : svc_id, entite: entite}) }}"><i class="fa fa-plus"></i></a>
                                                </small>
                                            {% endif %}
                                            {% for ev in evs | filter(ev=>ev) %}
                                                <div class="feed-element">
                                                    <div>
                                                        <small class="pull-right text-navy"><i class="fa fa-check text-navy"></i></small>
                                                        <a href="{{ path('evenements_demission_edit', {id: ev.id, pg_prcdnt: 'moncompte_event_agent', dpt_id: dpt_id, svc_id : svc_id, entite: entite}) }}">
                                                            <small class="pull-right text-navy" style="margin-right: 20px;"><i class="fa fa-edit text-navy"></i></small>
                                                        </a>
                                                        <strong>Démission</strong>
                                                        <div>Référence : {{ ev.reference }}</div>
                                                        <small class="text-muted">{{ ev.dateDemissionAt | date('d.m.Y') }}</small>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <strong class="text-danger">Aucune démission</strong>
                                            {% endfor %}
                                            <div class="hr-line-dashed" style="margin-top: 1px;"></div>

                                            {# //licenciement#}
                                            {% set evs = agent.getEvLicenciements() %}
                                            {% if dernier_poste_user_connected == 'Chef de département' or dernier_poste_user_connected == 'Chef de service' or is_granted('ROLE_SUPER_ADMIN') %}
                                                <small class="pull-left badge badge-light" style="margin-right: 20px;">
                                                    <a href="{{ path('evenements_licenciement_new', {id: agent.id, pg_prcdnt:'moncompte_event_agent', dpt_id: dpt_id, svc_id : svc_id, entite: entite}) }}"><i class="fa fa-plus"></i></a>
                                                </small>
                                            {% endif %}
                                            {% for ev in evs | filter(ev=>ev) %}
                                                <div class="feed-element">
                                                    <div>
                                                        <small class="pull-right text-navy"><i class="fa fa-check text-navy"></i></small>
                                                        <a href="{{ path('evenements_licenciement_edit', {id: ev.id, pg_prcdnt: 'moncompte_event_agent', dpt_id: dpt_id, svc_id : svc_id, entite: entite}) }}">
                                                            <small class="pull-right text-navy" style="margin-right: 20px;"><i class="fa fa-edit text-navy"></i></small>
                                                        </a>
                                                        <strong>Licenciement</strong>
                                                        <div>Référence : {{ ev.reference }}</div>
                                                        <small class="text-muted">{{ ev.dateLicenciementAt | date('d.m.Y') }}</small>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <strong class="text-danger">Aucun licenciement</strong>
                                            {% endfor %}
                                            <div class="hr-line-dashed" style="margin-top: 1px;"></div>

                                            {# //retraite#}
                                            {% set evs = agent.getEvRetraites() %}
                                            {% if dernier_poste_user_connected == 'Chef de département' or dernier_poste_user_connected == 'Chef de service' or is_granted('ROLE_SUPER_ADMIN') %}
                                                <small class="pull-left badge badge-light" style="margin-right: 20px;">
                                                    <a href="{{ path('evenements_retraite_new', {id: agent.id, pg_prcdnt:'moncompte_event_agent', dpt_id: dpt_id, svc_id : svc_id, entite: entite}) }}"><i class="fa fa-plus"></i></a>
                                                </small>
                                            {% endif %}
                                            {% for ev in evs | filter(ev=>ev) %}
                                                <div class="feed-element">
                                                    <div>
                                                        <small class="pull-right text-navy"><i class="fa fa-check text-navy"></i></small>
                                                        <a href="{{ path('evenements_retraite_edit', {id: ev.id, pg_prcdnt: 'moncompte_event_agent', dpt_id: dpt_id, svc_id : svc_id, entite: entite}) }}">
                                                            <small class="pull-right text-navy" style="margin-right: 20px;"><i class="fa fa-edit text-navy"></i></small>
                                                        </a>
                                                        <strong>Retraite</strong>
                                                        <div>Référence : {{ ev.reference }}</div>
                                                        <small class="text-muted">{{ ev.dateRetraiteAt | date('d.m.Y') }}</small>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <strong class="text-danger">Aucune retraite</strong>
                                            {% endfor %}
                                            <div class="hr-line-dashed" style="margin-top: 1px;"></div>

                                            {# //deces#}
                                            {% set evs = agent.getEvDecess() %}
                                            {% if dernier_poste_user_connected == 'Chef de département' or dernier_poste_user_connected == 'Chef de service' or is_granted('ROLE_SUPER_ADMIN') %}
                                                <small class="pull-left badge badge-light" style="margin-right: 20px;">
                                                    <a href="{{ path('evenements_deces_new', {id: agent.id, pg_prcdnt:'moncompte_event_agent', dpt_id: dpt_id, svc_id : svc_id, entite: entite}) }}"><i class="fa fa-plus"></i></a>
                                                </small>
                                            {% endif %}
                                            {% for ev in evs | filter(ev=>ev) %}
                                                <div class="feed-element">
                                                    <div>
                                                        <small class="pull-right text-navy"><i class="fa fa-check text-navy"></i></small>
                                                        <a href="{{ path('evenements_deces_edit', {id: ev.id, pg_prcdnt: 'moncompte_event_agent', dpt_id: dpt_id, svc_id : svc_id, entite: entite}) }}">
                                                            <small class="pull-right text-navy" style="margin-right: 20px;"><i class="fa fa-edit text-navy"></i></small>
                                                        </a>
                                                        <strong>Décès</strong>
                                                        <div>Référence : {{ ev.reference }}</div>
                                                        <small class="text-muted">{{ ev.dateDecesAt | date('d.m.Y') }}</small>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <strong class="text-danger">Aucun décès enregistré</strong>
                                            {% endfor %}
                                            <div class="hr-line-dashed" style="margin-top: 1px;"></div>

                                            {# //reintegration#}
                                            {% set evs = agent.getEvReintegrations() %}
                                            {% if dernier_poste_user_connected == 'Chef de département' or dernier_poste_user_connected == 'Chef de service' or is_granted('ROLE_SUPER_ADMIN') %}
                                                <small class="pull-left badge badge-light" style="margin-right: 20px;">
                                                    <a href="{{ path('evenements_reintegration_new', {id: agent.id, pg_prcdnt:'moncompte_event_agent', dpt_id: dpt_id, svc_id : svc_id, entite: entite}) }}"><i class="fa fa-plus"></i></a>
                                                </small>
                                            {% endif %}
                                            {% for ev in evs | filter(ev=>ev) %}
                                                <div class="feed-element">
                                                    <div>
                                                        <small class="pull-right text-navy"><i class="fa fa-check text-navy"></i></small>
                                                        <a href="{{ path('evenements_reintegration_edit', {id: ev.id, pg_prcdnt: 'moncompte_event_agent', dpt_id: dpt_id, svc_id : svc_id, entite: entite}) }}">
                                                            <small class="pull-right text-navy" style="margin-right: 20px;"><i class="fa fa-edit text-navy"></i></small>
                                                        </a>
                                                        <strong>Réintégration</strong>
                                                        <div>Référence : {{ ev.reference }}</div>
                                                        <small class="text-muted">{{ ev.dateReintegrationAt | date('d.m.Y') }}</small>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <strong class="text-danger">Aucuen réintégration</strong>
                                            {% endfor %}
                                            <div class="hr-line-dashed" style="margin-top: 1px;"></div>

                                            {# //reprisedefonction#}
                                            {% set evs = agent.getEvReprisedefonctions() %}
                                            {% if dernier_poste_user_connected == 'Chef de département' or dernier_poste_user_connected == 'Chef de service' or is_granted('ROLE_SUPER_ADMIN') %}
                                                <small class="pull-left badge badge-light" style="margin-right: 20px;">
                                                    <a href="{{ path('evenements_reprisedefonction_new', {id: agent.id, pg_prcdnt:'moncompte_event_agent', dpt_id: dpt_id, svc_id : svc_id, entite: entite}) }}"><i class="fa fa-plus"></i></a>
                                                </small>
                                            {% endif %}
                                            {% for ev in evs | filter(ev=>ev) %}
                                                <div class="feed-element">
                                                    <div>
                                                        <small class="pull-right text-navy"><i class="fa fa-check text-navy"></i></small>
                                                        <a href="{{ path('evenements_reprisedefonction_edit', {id: ev.id, pg_prcdnt: 'moncompte_event_agent', dpt_id: dpt_id, svc_id : svc_id, entite: entite}) }}">
                                                            <small class="pull-right text-navy" style="margin-right: 20px;"><i class="fa fa-edit text-navy"></i></small>
                                                        </a>
                                                        <strong>Reprise de fonction</strong>
                                                        <div>Référence : {{ ev.reference }}</div>
                                                        <small class="text-muted">{{ ev.dateReprisedefonctionAt | date('d.m.Y') }}</small>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <strong class="text-danger">Aucune reprise de fonction</strong>
                                            {% endfor %}
                                            <div class="hr-line-dashed" style="margin-top: 1px;"></div>

                                            {# //levedesuspension#}
                                            {% set evs = agent.getEvLevedesuspensions() %}
                                            {% if dernier_poste_user_connected == 'Chef de département' or dernier_poste_user_connected == 'Chef de service' or is_granted('ROLE_SUPER_ADMIN') %}
                                                <small class="pull-left badge badge-light" style="margin-right: 20px;">
                                                    <a href="{{ path('evenements_levedesuspension_new', {id: agent.id, pg_prcdnt:'moncompte_event_agent', dpt_id: dpt_id, svc_id : svc_id, entite: entite}) }}"><i class="fa fa-plus"></i></a>
                                                </small>
                                            {% endif %}
                                            {% for ev in evs | filter(ev=>ev) %}
                                                <div class="feed-element">
                                                    <div>
                                                        <small class="pull-right text-navy"><i class="fa fa-check text-navy"></i></small>
                                                        <a href="{{ path('evenements_levedesuspension_edit', {id: ev.id, pg_prcdnt: 'moncompte_event_agent', dpt_id: dpt_id, svc_id : svc_id, entite: entite}) }}">
                                                            <small class="pull-right text-navy" style="margin-right: 20px;"><i class="fa fa-edit text-navy"></i></small>
                                                        </a>
                                                        <strong>Levée de suspension</strong>
                                                        <div>Référence : {{ ev.reference }}</div>
                                                        <small class="text-muted">{{ ev.dateLevedesuspensionAt | date('d.m.Y') }}</small>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <strong class="text-danger">Aucune levée de suspension</strong>
                                            {% endfor %}
                                            <div class="hr-line-dashed" style="margin-top: 1px;"></div>

                                            {#  //interim#}
                                            {% set evs = agent.getEvInterims() %}
                                            {% if dernier_poste_user_connected == 'Chef de département' or dernier_poste_user_connected == 'Chef de service' or is_granted('ROLE_SUPER_ADMIN') %}
                                                <small class="pull-left badge badge-light" style="margin-right: 20px;">
                                                    <a href="{{ path('evenements_interim_new', {id: agent.id, pg_prcdnt:'moncompte_event_agent', dpt_id: dpt_id, svc_id : svc_id, entite: entite}) }}"><i class="fa fa-plus"></i></a>
                                                </small>
                                            {% endif %}
                                            {% for ev in evs | filter(ev=>ev) %}
                                                <div class="feed-element">
                                                    <div>
                                                        <small class="pull-right text-navy"><i class="fa fa-check text-navy"></i></small>
                                                        <a href="{{ path('evenements_interim_edit', {id: ev.id, pg_prcdnt: 'moncompte_event_agent', dpt_id: dpt_id, svc_id : svc_id, entite: entite}) }}">
                                                            <small class="pull-right text-navy" style="margin-right: 20px;"><i class="fa fa-edit text-navy"></i></small>
                                                        </a>
                                                        <strong>Intérim</strong>
                                                        <div>Référence : {{ ev.reference }}</div>
                                                        <small class="text-muted">{{ ev.dateInterimAt | date('d.m.Y') }}</small>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <strong class="text-danger">Aucun intérim enregistré</strong>
                                            {% endfor %}
                                            <div class="hr-line-dashed" style="margin-top: 1px;"></div>

                                            {# //rectificationdunom#}
                                            {% set evs = agent.getEvRectificationdunoms() %}
                                            {% if dernier_poste_user_connected == 'Chef de département' or dernier_poste_user_connected == 'Chef de service' or is_granted('ROLE_SUPER_ADMIN') %}
                                                <small class="pull-left badge badge-light" style="margin-right: 20px;">
                                                    <a href="{{ path('evenements_rectificationdunom_new', {id: agent.id, pg_prcdnt:'moncompte_event_agent', dpt_id: dpt_id, svc_id : svc_id, entite: entite}) }}"><i class="fa fa-plus"></i></a>
                                                </small>
                                            {% endif %}
                                            {% for ev in evs | filter(ev=>ev) %}
                                                <div class="feed-element">
                                                    <div>
                                                        <small class="pull-right text-navy"><i class="fa fa-check text-navy"></i></small>
                                                        <a href="{{ path('evenements_rectificationdunom_edit', {id: ev.id, pg_prcdnt: 'moncompte_event_agent', dpt_id: dpt_id, svc_id : svc_id, entite: entite}) }}">
                                                            <small class="pull-right text-navy" style="margin-right: 20px;"><i class="fa fa-edit text-navy"></i></small>
                                                        </a>
                                                        <strong>Réctification du nom</strong>
                                                        <div>Référence : {{ ev.reference }}</div>
                                                        <small class="text-muted">{{ ev.dateRectificationdunomAt | date('d.m.Y') }}</small>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <strong class="text-danger">Aucune réctification du nom enregistrée</strong>
                                            {% endfor %}
                                            <div class="hr-line-dashed" style="margin-top: 1px;"></div>

                                            {# //indemniteforfaitaire#}
                                            {% set evs = agent.getEvIndemniteforfaitaires() %}
                                            {% if dernier_poste_user_connected == 'Chef de département' or dernier_poste_user_connected == 'Chef de service' or is_granted('ROLE_SUPER_ADMIN') %}
                                                <small class="pull-left badge badge-light" style="margin-right: 20px;">
                                                    <a href="{{ path('evenements_indemniteforfaitaire_new', {id: agent.id, pg_prcdnt:'moncompte_event_agent', dpt_id: dpt_id, svc_id : svc_id, entite: entite}) }}"><i class="fa fa-plus"></i></a>
                                                </small>
                                            {% endif %}
                                            {% for ev in evs | filter(ev=>ev) %}
                                                <div class="feed-element">
                                                    <div>
                                                        <small class="pull-right text-navy"><i class="fa fa-check text-navy"></i></small>
                                                        <a href="{{ path('evenements_indemniteforfaitaire_edit', {id: ev.id, pg_prcdnt: 'moncompte_event_agent', dpt_id: dpt_id, svc_id : svc_id, entite: entite}) }}">
                                                            <small class="pull-right text-navy" style="margin-right: 20px;"><i class="fa fa-edit text-navy"></i></small>
                                                        </a>
                                                        <strong>Indémnité forfaitaire</strong>
                                                        <div>Référence : {{ ev.reference }}</div>
                                                        <small class="text-muted">{{ ev.dateIndemniteforfaitaireAt | date('d.m.Y') }}</small>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <strong class="text-danger">Aucune indémnité forfaitaire</strong>
                                            {% endfor %}
                                            <div class="hr-line-dashed" style="margin-top: 1px;"></div>

                                            {# //disponibilite#}
                                            {% set evs = agent.getEvDisponibilites() %}
                                            {% if dernier_poste_user_connected == 'Chef de département' or dernier_poste_user_connected == 'Chef de service' or is_granted('ROLE_SUPER_ADMIN') %}
                                                <small class="pull-left badge badge-light" style="margin-right: 20px;">
                                                    <a href="{{ path('evenements_disponibilite_new', {id: agent.id, pg_prcdnt:'moncompte_event_agent', dpt_id: dpt_id, svc_id : svc_id, entite: entite}) }}"><i class="fa fa-plus"></i></a>
                                                </small>
                                            {% endif %}
                                            {% for ev in evs | filter(ev=>ev) %}
                                                <div class="feed-element">
                                                    <div>
                                                        <small class="pull-right text-navy"><i class="fa fa-check text-navy"></i></small>
                                                        <a href="{{ path('evenements_disponibilite_edit', {id: ev.id, pg_prcdnt: 'moncompte_event_agent', dpt_id: dpt_id, svc_id : svc_id, entite: entite}) }}">
                                                            <small class="pull-right text-navy" style="margin-right: 20px;"><i class="fa fa-edit text-navy"></i></small>
                                                        </a>
                                                        <strong>Disponibilité</strong>
                                                        <div>Référence : {{ ev.reference }}</div>
                                                        <small class="text-muted">{{ ev.dateDisponibiliteAt | date('d.m.Y') }}</small>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <strong class="text-danger">Aucune disponibilité</strong>
                                            {% endfor %}
                                            <div class="hr-line-dashed" style="margin-top: 1px;"></div>

                                            {# //conge#}
                                            {% set evs = agent.getEvConges() %}
                                            {% if dernier_poste_user_connected == 'Chef de département' or dernier_poste_user_connected == 'Chef de service' or is_granted('ROLE_SUPER_ADMIN') %}
                                                <small class="pull-left badge badge-light" style="margin-right: 20px;">
                                                    <a href="{{ path('evenements_conge_new', {id: agent.id, pg_prcdnt:'moncompte_event_agent', dpt_id: dpt_id, svc_id : svc_id, entite: entite}) }}"><i class="fa fa-plus"></i></a>
                                                </small>
                                            {% endif %}
                                            {% for ev in evs | filter(ev=>ev) %}
                                                <div class="feed-element">
                                                    <div>
                                                        <small class="pull-right text-navy"><i class="fa fa-check text-navy"></i></small>
                                                        <a href="{{ path('evenements_conge_edit', {id: ev.id, pg_prcdnt: 'moncompte_event_agent', dpt_id: dpt_id, svc_id : svc_id, entite: entite}) }}">
                                                            <small class="pull-right text-navy" style="margin-right: 20px;"><i class="fa fa-edit text-navy"></i></small>
                                                        </a>
                                                        <strong>Congé</strong>
                                                        <div>Référence : {{ ev.reference }}</div>
                                                        <div>Nature : {{ ev.natureConge }}</div>
                                                        <small class="text-muted">{{ ev.dateCongeAt | date('d.m.Y') }}</small>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <strong class="text-danger">Aucun congé enregistré</strong>
                                            {% endfor %}
                                            <div class="hr-line-dashed" style="margin-top: 1px;"></div>


                                        </div>
                                        </tbody>
                                    </table>
                                </div><!-- /table-responsive -->
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/plugins/dataTables/datatables.min.js') }}"></script>

{% endblock javascripts %}

