{% extends 'base.html.twig' %}


    {% block title %} {{ parent() }} Profil {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Data table --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/dataTables/datatables.min.css') }}">
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}
            <div class="wrapper wrapper-content">
                <div class="row">
                    {# Messages Falsh #}
                    {% for message in app.flashes('success') %}
                        <div class="col-lg-12">
                            <div class="alert alert-success alert-dismissable ">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                {{ message }}
                            </div>
                        </div>
                    {% endfor %}

                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="wrapper wrapper-content animated fadeInRight">
                            <div class="ibox-content p-xl">
                                <div class="row">
                                    <div class="col-sm-6">
                                        {% set user = agent %}
                                        <h4>Agent : {{ user.nomPrenom }}</h4>
                                        <address>
                                            <strong>Date de naissance : </strong> {{ user.dateNaissanceAt | date ('d/m/Y') }}<br>
                                            <strong>Niveau de classement de base : </strong>
                                            {% set recrutement = user.getEvRecrutements() %}
                                            {% for recrutement in recrutement if recrutement %}
                                                {{ recrutement.indiceGroupe  }} - {{ recrutement.indiceCategorie}} - {{  recrutement.indiceEchelon }}
                                                {% else %}
                                                Aucun
                                            {% endfor %}
                                            <br>
                                            <strong>Niveau de classement actuel : </strong> {{ user.indiceGroupe }} - {{ user.indiceCategorie }} - {{ user.indiceEchelon }}<br>
                                            <strong>Age de départ à la retraite : </strong> {{ retraite }}<br>
                                            <abbr title="Phone"><strong>Tel : </strong></abbr>
                                            {% set tel_lg = user.tel | length %}
                                            {% if tel_lg <7 %}
                                                <span class="text-danger">Non renseigné !</span>
                                            {% else %}
                                            {{ user.tel }}
                                            {% endif %}
                                        </address>
                                    </div>

                                    <div class="col-sm-6 text-right">
                                        <span><strong>Date :</strong> {{ "now"|date("m/d/Y") }}</span><br/>
                                        <address>
                                            <abbr title="Phone">Tel <span class="fa fa-phone"></span> : </abbr> service Personnel tel
                                        </address>

                                    </div>
                                </div>

                                <div>
                                    <table class="table invoice-table">
                                        <tbody>
                                        <tr>
                                            <td><strong>Nom</strong></td>

                                            <td><span class="pull-left">{{ user.nom }}</span></td>

                                            <td><strong>Date recrutement : </strong></td>
                                            {% set recrutement = user.getEvRecrutements() ? user.getEvRecrutements() : ''  %}

                                                <td>
                                                    {% for recrutement in recrutement %}
                                                {{ recrutement.dateRecrutementAt | date('d/m/Y') |e }}<br/>
                                                    {% else %}
                                                        <span class="text-danger">Aucune </span>
                                                    {% endfor %}
                                                </td>

                                        </tr>
                                        <tr>

                                            <td><strong>Prénom</strong></td>

                                            <td><span class="pull-left">{{ user.prenom }}</span></td>

                                            <td><strong>Nature recrutement : </strong></td>
                                                <td>
                                                    {% for recrutement in recrutement %}
                                                    {{ recrutement.natureRecrutement | e}}<br/>
                                                    {% else %}
                                                        <span class="text-danger">Aucun </span>
                                                    {% endfor %}
                                                </td>
                                        </tr>
                                        <tr>
                                            <td><strong>Matricule</strong></td>

                                            <td><span class="pull-left">{{ user.matricule }}</span></td>

                                            <td><strong>Nbr année embauche:</strong></td>

                                            <td>
                                                {% for recrutement in recrutement %}
                                                    {{ recrutement.getNbrAnneesRecrutement() | e}} an(s)<br/>
                                                {% else %}
                                                    <span class="text-danger">Aucun </span>
                                                {% endfor %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><strong>Catégorie pro</strong></td>

                                            <td><span class="pull-left">{{ user.categorie }}</span></td>

                                            <td><strong>Date titularisation:</strong></td>

                                            {% set titularisation = user.getEvTitularisations() ? user.getEvTitularisations() : '' %}

                                            <td>
                                                {% for titularisation in titularisation %}
                                                {{ titularisation.dateTitularisationAt | date('d/m/Y') |e }} <br/>
                                                {% else %}
                                                    <span class="text-danger">Aucun </span>
                                                {% endfor %}
                                            </td>

                                        </tr>
                                        <tr>
                                            <td><strong>Email</strong></td>

                                            <td><span class="pull-left">{{ user.email }}</span></td>

                                            <td><strong>Nbr année titularisation:</strong></td>

                                            <td>{% for titularisation in titularisation %}
                                                    {{ titularisation.getNbrAnneesTitularisation |e }} an(s)<br/>
                                                {% else %}
                                                    <span class="text-danger">Aucun </span>
                                                {% endfor %}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Tel</strong></td>

                                            {% set tel_lg = user.tel | length %}
                                            <td>
                                                <span class="pull-left">
                                                {% if tel_lg < 7 %}
                                                <span class="text-danger">Aucun </span>
                                                {% else %}
                                                {{ user.tel }}
                                                {% endif %}
                                                </span>
                                            </td>

                                            <td><strong>Ind. Groupe:</strong></td>

                                            <td>{{ user.indiceGroupe }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Matricule Contractuel</strong></td>


                                            <td>
                                                <span class="pull-left">
                                                {% for recrutement in recrutement %}
                                                {{ recrutement.nouveauMatricule |e}}
                                                {% else %}
                                                    <span class="text-danger">Aucun </span>
                                                {% endfor %}
                                                </span>
                                            </td>


                                            <td><strong>Ind. Catégorie:</strong></td>

                                            <td>{{ user.indiceCategorie }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Date de naissance</strong></td>

                                            <td><span class="pull-left">{{ user.dateNaissanceAt | date('d/m/Y') }}</span></td>

                                            <td><strong>Ind. Echelon:</strong></td>

                                            <td>{{ user.indiceEchelon }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Lieu de naissance</strong></td>

                                            <td>
                                                <span class="pull-left">
                                                {% if user.lieuDeNaissance %}
                                                {{ user.lieuDeNaissance }}
                                                {% else %}
                                                <span class="text-danger">Aucun</span>
                                                {% endif %}
                                                </span>
                                            </td>

                                            <td><strong>Stage</strong></td>

                                            <td>
                                                {% set stages = user.getEvStages() %}
                                                {% for stage in stages %}
                                                    Du : {{ stage.dateDebutAt | date('d/m/Y') }} <br/>
                                                    Au : {{ stage.dateFinAt | date('d/m/Y') }}
                                                    {% else %}
                                                        <span class="text-danger">Aucun</span>
                                                {% endfor %}
                                            </td>
                                        </tr>

                                        <tr>
                                            <td><strong>Poste actuel</strong></td>

                                            <td>
                                                <span class="pull-left">
                                                {% for poste in poste %}
                                                    {{ poste.designation }} par : <small class="text-navy">{{ nomEvenement }}</small>
                                                    {% else %}
                                                    <span class="text-danger">Aucun</span>
                                                {% endfor %}
                                                </span>
                                                {#
                                                <span class="pull-left">
                                                    {{ dernierPosteUser ? dernierPosteUser.poste.designation : '<span class="text-danger">Aucun poste</span>'  }}
                                                    par <span class="text-navy">
                                                        [{{ dernierPosteUser ? dernierPoste.nomEvenement : '<span class="text-danger">Aucun évenement</span>' }}]</span>
                                                </span>
                                                #}
                                            </td>

                                            <td><strong>Service stage</strong></td>
                                            <td>
                                                {% for stage in stages %}
                                                    {% if stage.getServiceDepartement is defined and stage.getServiceDepartement != null %}
                                                        {{ stage.serviceDepartement.service and stage.getServiceDirection != null }}
                                                    {% elseif stage.getServiceDirection is defined %}
                                                        {{ stage.serviceDirection.service }}
                                                    {% endif %}
                                                {% else %}
                                                    <span class="text-danger">Aucun</span>
                                                {% endfor %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><strong>Service</strong></td>

                                            <td><span class="pull-left">{% if service and service != 'Non-renseigné' %}{{ service.service.designation }}{% else %} Non-renseigné {% endif %}</span></td>

                                            <td><strong></strong></td>

                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td><strong>Département</strong></td>

                                            <td><span class="pull-left">{% if departement and departement != 'Non-renseigné' %}{{ departement.departement.designation }} {% else %} Non-renseigné {% endif %}</span></td>

                                            <td></td>

                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td><strong>Direction</strong></td>

                                            <td><span class="pull-left">{{ direction }}</span></td>

                                            <td></td>

                                            <td></td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div><!-- /table-responsive -->
                                <div class="well m-t"><strong>Formations Académiques </strong>
                                    Ecoles, Universités, Facultés, Lycées, Collèges ...
                                </div>
                                {%  set formations_user = user.getEcFormationusers() %}
                                {% for formation in formations_user %}
                                <table class="table tab-help">
                                    <thead>
                                    <h3> {{ formation.ecoleuniversite }}</h3>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><strong>Domaine :</strong></td>
                                        <td>{{ formation.ecSousmetier }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Filière de formation :</strong></td>
                                        <td>{{ formation.ecFormation }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Période :</strong> </td>
                                        <td>{{ formation.dateDebutAt | date('d/m/Y') }} au  {{ formation.dateFinAt | date('d/m/Y') }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Niveau :</strong></td>
                                        <td>{{ formation.niveauqualification }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Observations :</strong></td>
                                        <td>{{ formation.observations }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                    {% else %}
                                        <span class="text-danger"> <strong>Aucune formation académique trouvée! </strong></span>
                                {% endfor %}

                                <div class="well m-t"><strong>Autres formations non académiques</strong>
                                    Formations de courte durée non académiques...
                                </div>

                                {%  set autres_f = user.getEcExperienceAilleurs() %}
                                {% for autre_f in autres_f  if autre_f.type == 'Formation' %}
                                    <table class="table tab-help">
                                        <thead>
                                        <h3> {{ autre_f.societe }} {{ dump(autre_f) }}</h3>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td><strong>Domaine :</strong></td>
                                            <td>{{ formation.ecSousmetier }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Filière de formation :</strong></td>
                                            <td>{{ formation.ecFormation }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Période :</strong> </td>
                                            <td>{{ formation.dateDebutAt | date('d/m/Y') }} au  {{ formation.dateFinAt | date('d/m/Y') }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Niveau :</strong></td>
                                            <td>{{ formation.niveauqualification }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Observations :</strong></td>
                                            <td>{{ formation.observations }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                {% else %}
                                    <span class="text-danger"> <strong>Aucune formation trouvée! </strong></span>
                                {% endfor %}

                                <div class="well m-t"><strong>Autres expériences... Séminaires, stage, interventions...</strong></div>

                                {% for autre_f in autres_f  if autre_f.type != 'Formation' %}
                                    <table class="table tab-help">
                                        <thead>
                                        <h3> {{ autre_f.societe }} {{ dump(autre_f) }}</h3>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td><strong>Domaine :</strong></td>
                                            <td>{{ formation.ecSousmetier }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Filière de formation :</strong></td>
                                            <td>{{ formation.ecFormation }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Période :</strong> </td>
                                            <td>{{ formation.dateDebutAt | date('d/m/Y') }} au  {{ formation.dateFinAt | date('d/m/Y') }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Niveau :</strong></td>
                                            <td>{{ formation.niveauqualification }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Observations :</strong></td>
                                            <td>{{ formation.observations }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                {% else %}
                                    <span class="text-danger"> <strong>Aucune autre expérience trouvée! </strong></span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/plugins/dataTables/datatables.min.js') }}"></script>

{% endblock javascripts %}

