<form method="post" action="{{ path('attributions_tache_delete', {'id': tache.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet enregistrement?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tache.id) }}">
    <button class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> {% if app.request.attributes.get('_route') == 'attributions_tache_show' %}Supprimer {% endif %}</button>
</form>

