{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Ajouter une tâche {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Morris --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css') }}">
        <link rel="stylesheet" href="{{ asset('css/plugins/chosen/bootstrap-chosen.css') }}">

    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}

            <div class="wrapper wrapper-content animated fadeInRight">

                <div class="row">

                    {# include du menu_left
                    {{ include('evenements/_includes/_left_menu.html.twig') }}
                     Fin include du menu_left #}

                    <div class="col-lg-12">

                        <div class="ibox">
                            <div class="ibox-content">
                                <h3>Tâche | Enregistrer</h3>


                                {{ form_start(form) }}
                                <div class="form-group">
                                    <label>Désignation</label>
                                    {{ form_widget(form.designation, {
                                        'attr': {
                                            'class': 'chosen-select'
                                        }
                                    }) }}
                                </div>

                                {{ form_widget(form) }}
                                <input class="btn btn-primary" type="submit" value="Enregistrer" />
                                {{ form_end(form) }}
                            </div>
                            <div class="ibox-footer">

                                <a href="{{ path('attributions_tache_index') }}"><span class="fa fa-angle-left"></span> Aller à la liste des tâches </a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}

    <script type="text/javascript" src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/inspinia.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/pace/pace.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/select2/select2.full.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/touchspin/jquery.bootstrap-touchspin.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/chosen/chosen.jquery.js') }}"></script>

{% endblock javascripts %}
