{% extends 'base.html.twig' %}

{% block title %}Tache{% endblock %}

{% block body %}
    <h1>Tache</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tache.id }}</td>
            </tr>
            <tr>
                <th>Designation</th>
                <td>{{ tache.designation }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('attributions_tache_index') }}">back to list</a>

    <a href="{{ path('attributions_tache_edit', {'id': tache.id}) }}">edit</a>

    {{ include('attributions/tache/_delete_form.html.twig') }}
{% endblock %}
