{%  extends 'base.html.twig' %}

{% form_theme formModeleConge 'bootstrap_4_layout.html.twig' %}

{% block title %} {{ parent() }} {% if editMode %}Modification{% else %}Création{% endif %} modèle {% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css') }}">
    <link rel="stylesheet" href="{{ asset('css/plugins/select2/select2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/plugins/chosen/bootstrap-chosen.css') }}">
{% endblock stylesheets %}

{% block leftmenu %}
    {{ parent() }}
{% endblock leftmenu %}

{% block topmenu %}
    {{ parent() }}
{% endblock topmenu %}

{% block body %}
    {% block fildariane %}
        {{ include('_generals_includes/_fildariane.html.twig') }}
    {% endblock fildariane %}

    <div class="wrapper wrapper-content">
        <div class="row">
            {# Messages Falsh #}
            {% for message in app.flashes('success') %}
                <div class="col-lg-12">
                    <div class="alert alert-success alert-dismissable ">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                        {{ message }}
                    </div>
                </div>
            {% endfor %}

        </div>
        <div class="row">
            {# ================== menu_gauche ==================== #}
            {{ include('personnel/includes/_menu_gauche.html.twig') }}
            {# ================== Fin menu_gauche ==================== #}

            {# ============================= Contenu  ==================================== #}
            <div class="col-lg-9">
                <div class="widget-head-color-box navy-bg p-lg text-center">
                    <div class="m-b-md">
                        {% if editMode %}
                            <h2 class="font-bold no-margins">Modification d'un modèle de congé</h2>
                        {% else %}
                            <h2 class="font-bold no-margins">Création d'un modèle de congé</h2>
                        {% endif %}
                    </div>
                </div>
                <div class="widget-text-box">
                    {{ form_start(formModeleConge) }}

                    <div class="form-group col-sm-6 {% if form_errors(formModeleConge.titre) %}has-error{% endif %}" style="padding-left: 0px;">
                        {{ form_row(formModeleConge.titre, {
                            'attr': {
                                'class': 'form-control',
                                'placeholder': "Titre du modèle de congé"
                            }
                        }) }}
                    </div>

                    <div class="form-group col-sm-6" style="padding-left: 0px;">
                        {{ form_row(formModeleConge.categorieConge) }}
                    </div>

                    <div class="form-group col-sm-6">
                        {{ form_row(formModeleConge.avisResponsables, {
                            'attr': {
                                'class': 'form-control chosen-select'
                            }
                        }) }}
                    </div>

                    <div class="form-group col-sm-6 {% if form_errors(formModeleConge.delai) %}has-error{% endif %}" style="padding-left: 0px;">
                        {{ form_row(formModeleConge.delai, {
                            'attr': {
                                'class': 'form-control',
                                'placeholder': "Délai maximum autorisé (Nbre de jour)"
                            }
                        }) }}
                    </div>

                    <div class="form-group col-sm-6" style="padding-left: 0px;">
                        {{ form_row(formModeleConge.motif) }}
                    </div>

                    <div class="form-group col-sm-6" style="padding-left: 0px;">
                        {{ form_row(formModeleConge.justificatif) }}
                    </div>

                    <button type="submit" class="btn btn-primary">
                        {% if editMode %}
                            <i class="fa fa-save"></i> Enregister les modifications
                        {% else %}
                            <i class="fa fa-plus"></i> Ajouter le modèle
                        {% endif %}
                    </button>

                    <button type="submit" class="btn btn-cancel">
                        <a href="{{ path('modeles_show') }}"><i class="fa fa-arrow-left"></i> Annuler</a>
                    </button>

                    {{ form_end(formModeleConge) }}

                </div>
            </div>
            {# ============================= Fin contenu   ==================================== #}
        </div>
    </div>

{% endblock body %}

{% block footer %}
    {{ parent() }}
{% endblock footer %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('js/plugins/select2/select2.full.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/touchspin/jquery.bootstrap-touchspin.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/chosen/chosen.jquery.js') }}"></script>

    <script>
        $('.chosen-select').chosen({width: "100%"});
    </script>

{% endblock javascripts %}
