<form method="post" action="{{ path('modele_conge_delete', {'id': modeleConge.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce modèle?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ modeleConge.id) }}">
    <button class="btn btn-danger btn-xs"><i class="fa fa-trash"></i>
        {% if app.request.attributes.get('_route') != ('modeles_show') %}Supprimer modèle {% endif %}
    </button>
</form>