{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Affichage modèle {% endblock title %}

{% block stylesheets %}{{ parent() }}{% endblock stylesheets %}

{% block leftmenu %}{{ parent() }}{% endblock leftmenu %}

{% block topmenu %}{{ parent() }}{% endblock topmenu %}

{% block body %}
    {% block fildariane %}
        {{ include('_generals_includes/_fildariane.html.twig') }}
    {% endblock fildariane %}

    <div class="wrapper wrapper-content">
        <div class="row">
            {# Messages Falsh #}
            {% for message in app.flashes('success') %}
                <div class="col-lg-12">
                    <div class="alert alert-success alert-dismissable ">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                        {{ message }}
                    </div>
                </div>
            {% endfor %}

        </div>
        <div class="row">
            {# ================== menu_gauche ==================== #}
            {{ include('personnel/includes/_menu_gauche.html.twig') }}
            {# ================== Fin menu_gauche ==================== #}

            {# ============================= Contenu  ==================================== #}
            <div class="col-lg-9">
                <div class="widget-head-color-box navy-bg p-lg text-center">
                    <div class="m-b-md">
                        <h2 class="font-bold no-margins">Affichage du modèle : {{ modeleConge.titre }}</h2>
                    </div>
                </div>

                <div class="ibox-content">
                    <form method="get" class="form-horizontal">
                        <div class="form-group"><label class="col-sm-2 control-label">Titre</label>
                            <div class="col-sm-10"><input type="text" value="{{ modeleConge.titre }}" class="form-control"></div>
                        </div>

                        <div class="form-group"><label class="col-sm-2 control-label">Catégorie</label>
                            <div class="col-sm-10"><input type="text" value="{{ modeleConge.CategorieConge.titre }}" class="form-control"></div>
                        </div>

                        <div class="form-group"><label class="col-sm-2 control-label">Délai</label>
                            <div class="col-sm-10"><input type="text" value="{{ modeleConge.delai }} jours" class="form-control"></div>
                        </div>

                        <div class="form-group"><label class="col-sm-2 control-label">Motif</label>
                            <div class="col-sm-10"><input type="text" value="{% if modeleConge.motif %}Oui{% else %}Non{% endif %}" class="form-control"></div>
                        </div>

                        <div class="form-group"><label class="col-sm-2 control-label">Justificatif</label>
                            <div class="col-sm-10"><input type="text" value="{% if modeleConge.justificatif %}Oui{% else %}Non{% endif %}" class="form-control"></div>
                        </div>

                        {% set avisResponsables = modeleConge.avisResponsables %}
                        <div class="form-group"><label class="col-sm-2 control-label">Avis</label>
                            <div class="col-sm-10">
                                <select class="form-control" multiple="">
                                    {% for avisResponsable in avisResponsables %}
                                        <option>{{ avisResponsable.designation }}</option>
                                    {% else %}
                                        <option>Pas besoin d'avis</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group"><label class="col-sm-2 control-label">Action</label>
                            <div class="col-lg-10 m-l-n">
                                <a href="{{ path('modele_conge_create') }}" class="btn btn-xs btn-primary text-right pull-left"style="margin-right: 10px;">
                                    <i class="fa fa-plus"></i> Ajouter un modèle
                                </a>

                                <a href="{{ path('modele_conge_edit', {'id': modeleConge.id}) }}" class="btn btn-xs btn-warning text-right pull-left"style="margin-right: 10px;">
                                    <i class="fa fa-edit"></i> Editer le modèle
                                </a>
                                <a href="{{ path('modeles_show') }}"><i class="fa fa-arrow-left"></i> Retour à la liste des modèles</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {# ============================= Fin Contenu   ==================================== #}
        </div>
    </div>
{% endblock body %}

{% block footer %}
    {{ parent() }}
{% endblock footer %}

{% block javascripts %}
    {{ parent() }}
{% endblock javascripts %}