{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Ajout reclassement {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Morris --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/select2/select2.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/plugins/chosen/bootstrap-chosen.css') }}">

    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}

            <div class="wrapper wrapper-content animated fadeInRight">
                {% if info_titularisation == 0 %}
                    <row>
                        <div class="alert alert-danger alert-dismissable">
                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                            Cet agent n'est pas titularisé,<br>
                            Êtes-vous sûr de vouloir lui enregistrer un reclassement?
                            <a class="alert-link" href="{{ path('evenements_titularisation_new', {id: ev_reclassement.User.id}) }}">Cliquez ici pour enregistrer sa titularisation</a>.
                        </div>
                    </row>
                {% endif %}
                <div class="row">

                    {# include du menu_left
                    {{ include('evenements/_includes/_left_menu.html.twig') }}
                    Fin include du menu_left #}

                    <div class="col-lg-12">

                        <div class="ibox">
                            <div class="ibox-content">
                                <h3>Enregistrer un reclassement </h3>

                                <p class="small">
                                    Ajouter un evenement "reclassement" à :
                                </p>
                                {{ form_start(form) }}

                                <div class="form-group">
                                    <label>Agent  </label>
                                    <span> {{ ev_reclassement.user }} </span>
                                </div>

                                <input type="text" class="form-control hidden" name="reclassement[user]" value="{{ ev_reclassement.User.id }}"  >

                                <div class="form-group col-sm-6 {% if form_errors(form.reference) %}has-error{% endif %}" style="padding-left: 0px;">
                                    <label>Reference de la note  </label>
                                    {{ form_widget(form.reference, {
                                        'attr': {
                                            'class': 'form-control'
                                        }
                                    }) }}
                                </div>
                                <div class="form-group col-sm-6 {% if form_errors(form.dateReclassementAt) %}has-error{% endif %}" style="padding-right: 0px;">
                                    <label>Date de reclassement </label>
                                    {{ form_widget(form.dateReclassementAt, {
                                        'attr': {
                                            'class': 'form-control'
                                        }
                                    }) }}
                                </div>
                                <div class="form-group" >
                                        <label>Poste actuel </label> <i class="text-danger">Ce champs se rempli automatiquement, veuillez ne pas le modifier!</i>
                                        {{ form_widget(form.poste) }}

                                </div>
                                <div class="form-group col-sm-4" style="padding-left: 0px;">
                                    <label>Groupe </label>
                                    {{ form_widget(form.indiceGroupe, {
                                        'attr': {
                                            'class': 'chosen-select'
                                        }
                                    }) }}

                                </div>
                                <div class="form-group col-sm-4" >
                                    <label>Catégorie </label>
                                    {{ form_widget(form.indiceCategorie, {
                                        'attr': {
                                            'class': 'chosen-select'
                                        }
                                    }) }}
                                </div>
                                <div class="form-group col-sm-4" style="padding-right: 0px;">
                                        <label>Echélon </label>
                                        {{ form_widget(form.indiceEchelon, {
                                            'attr': {
                                                'class': 'chosen-select'
                                            }
                                        }) }}
                                </div>

                                {{ form_widget(form) }}
                                <input class="btn btn-primary" type="submit" value="Enregistrer" />

                                {{ form_end(form) }}

                                <div class="hr-line-dashed"></div>
                                {% if is_granted('ROLE_ADMIN_GCAR') %}
                                    <a href="{{ path('evenements_reclassement_index') }}">Retour à la liste</a>
                                {% endif %}
                            </div>
                        </div>

                    </div>



                </div>

            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('js/plugins/select2/select2.full.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/chosen/chosen.jquery.js') }}"></script>


    <script>
        $(document).on('change', '#reclassement_direction, #reclassement_departement, #reclassement_serviceDirection', function () {
            let $field = $(this)
            let $directionField = $('#reclassement_direction')
            let $form = $field.closest('form')
            let data = {}
            data[$directionField.attr('name')] = $directionField.val()
            data[$field.attr('name')] = $field.val()
            $.post($form.attr('action'), data).then(function (data) {
                let $input = $(data).find('#reclassement_departement')
                $('#reclassement_departement').replaceWith($input)

                //chargement du champs service lié à une direction après selection de la direction
                let $inputsvcdir = $(data).find('#reclassement_serviceDirection')
                $('#reclassement_serviceDirection').replaceWith($inputsvcdir)

                //chargement du champs service lié à un département après selection du département
                let $inputsvcdpt = $(data).find('#reclassement_serviceDepartement')
                $('#reclassement_serviceDepartement').replaceWith($inputsvcdpt)
            })

        })
    </script>


    <script>

        $('.chosen-select').chosen({width: "100%"});


    </script>



{% endblock javascripts %}

