{% extends 'base.html.twig' %}

{% block title %}Edit SituationDuCarnet{% endblock %}

{% block body %}
    <h1>Edit SituationDuCarnet</h1>

    {{ include('affaires_sociales/situation_du_carnet/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('afsoc_carnet_index') }}">back to list</a>

    {{ include('affaires_sociales/situation_du_carnet/_delete_form.html.twig') }}
{% endblock %}
