{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Attribution de carnet{% endblock title %}

    {% block stylesheets %}
        {{ parent() }}

        <link rel="stylesheet" href="{{ asset('css/plugins/select2/select2.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/plugins/chosen/bootstrap-chosen.css') }}">

    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}

            <div class="row">

                <div class="wrapper wrapper-content animated fadeInUp">

                    <div class="row">
                        <div class="col-lg-12">

                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    Attribution de carnet
                                </div>
                                <div class="panel-body">
                                    {{ form_start(form, {
                                        'attr': {
                                            'class': 'form-horizontal',
                                            'role': 'form',
                                        }
                                    }) }}

                                    <div class="form-group">
                                        <label class="col-sm-6">Bénéficiaire</label>
                                        <div class="col-sm-12">
                                            {{ form_widget(form.user, {
                                                'placeholder' : 'Selectionner le bénéficiaire',
                                                'attr': {
                                                    'class': 'chosen-select',
                                                }
                                            }) }}
                                            <div class="form-error">
                                                <small class="text-danger">{{ form_errors(form.user) }}</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6">Statut du bénéficiaire</label>
                                        <div class="col-sm-12">
                                            {{ form_widget(form.statutDuBeneficiaire, {
                                                'placeholder' : 'Selectionner le statut',
                                            }) }}
                                            <div class="form-error">
                                                <small class="text-danger">{{ form_errors(form.statutDuBeneficiaire) }}</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6">Référence du carnet</label>
                                        <div class="col-sm-12">
                                            {{ form_widget(form.referenceDuCarnet, {
                                                'attr': {
                                                    'class': 'form-control',
                                                    'placeholder' : 'Référence du carnet'
                                                }
                                            }) }}
                                            <div class="form-error">
                                                <small class="text-danger">{{ form_errors(form.referenceDuCarnet) }}</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6">Libellé</label>
                                        <div class="col-sm-12">
                                            {{ form_widget(form.libelle) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6">Date d'attribution du carnet</label>
                                        <div class="col-sm-12">
                                            {{ form_widget(form.dateAttributionAt) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <button class="btn btn-primary" type="submit">Enregistrer</button>
                                        </div>
                                    </div>
                                    {{ form_end(form) }}
                                    <div class="hr-line-dashed"></div>
                                    <a type="button" class="btn btn-default pull-left" href="{{ path('afsoc_situation_familiale_index') }}">
                                        <i class="fa fa-arrow-left"></i> Retour à la liste</a>
                                    <br>

                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}
        {% block javascripts %}
            {{ parent() }}
            {#Input mask#}
            <script type="text/javascript" src="{{ asset('js/plugins/jasny/jasny-bootstrap.min.js') }}"></script>
            {#<!-- Custom and plugin javascript -->#}
            <script type="text/javascript" src="{{ asset('js/inspinia.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/plugins/pace/pace.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

            {#<!-- Chosen -->#}
            <script type="text/javascript" src="{{ asset('js/plugins/chosen/chosen.jquery.js') }}"></script>



            <script>
                $('.chosen-select').chosen({width: "100%"});
            </script>

        {% endblock javascripts %}
