{% extends 'base.html.twig' %}

{% block title %}SituationDuCarnet{% endblock %}

{% block body %}
    <h1>SituationDuCarnet</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ situation_du_carnet.id }}</td>
            </tr>
            <tr>
                <th>DateAttributionAt</th>
                <td>{{ situation_du_carnet.dateAttributionAt ? situation_du_carnet.dateAttributionAt|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ situation_du_carnet.libelle }}</td>
            </tr>
            <tr>
                <th>StatutDuBeneficiaire</th>
                <td>{{ situation_du_carnet.statutDuBeneficiaire }}</td>
            </tr>
            <tr>
                <th>ReferenceDuCarnet</th>
                <td>{{ situation_du_carnet.referenceDuCarnet }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('afsoc_carnet_index') }}">back to list</a>

    <a href="{{ path('afsoc_carnet_edit', {'id': situation_du_carnet.id}) }}">edit</a>

    {{ include('affaires_sociales/situation_du_carnet/_delete_form.html.twig') }}
{% endblock %}
