<form method="post" action="{{ path('bds_cotisation_delete', {'id': bds_cotisation.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bds_cotisation.id) }}">
    <button class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> {% if app.request.attributes.get('_route') == 'bds_cotisation_show' %}Supprimer {% endif %}</button>
</form>
