{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Cotisation {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}

    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}

            <div class="wrapper wrapper-content animated fadeInRight">

                <div class="row">

                    <div class="col-lg-12">

                        <div class="ibox">
                            <div class="ibox-content">
                                <h3>Modifier une cotisation </h3>
                                {{ form_start(form) }}
                                <div class="form-group col-sm-6 {% if form_errors(form.cotisationappliquee) %}has-error{% endif %}" style="padding-left: 0px;">
                                    <label>Cotisation appliquée  </label> <span class="text-danger">Ne pas modifier</span>
                                    {{ form_widget(form.cotisationappliquee, {
                                        'attr': {
                                            'class': 'form-control',
                                            'readonly' : 'readonly'
                                        }
                                    }) }}

                                </div>
                                <div class="form-group col-sm-6 " style="padding-left: 0px;">
                                    <label class="has-error">Date de cotisation </label>
                                    {{ form_row(form.cotisationAt, {'date_pattern': '<span style="display: none;">{{ day }}</span> {{ month }} <span class="delim">&#47;</span> {{ year }}'}) }}
                                    <div class="form-error">
                                        <small class="text-danger">{{ form_errors(form.BdsParametresdecotisation) }}</small>
                                    </div>
                                </div>

                                <div class="form-group col-sm-5 hidden {% if form_errors(form.BdsParametresdecotisation) %}has-error{% endif %}">
                                    <label>Paramètres de l'agent </label> <span class="text-danger">Ne pas modifier</span>
                                    {{ form_widget(form.BdsParametresdecotisation, {
                                        'attr': {
                                            'class': 'form-control',
                                            'readonly' : 'readonly'
                                        }
                                    }) }}
                                </div>

                                {{ form_widget(form) }}
                                    <input class="btn btn-primary" type="submit" value="Enregistrer" />
                                {{ form_end(form) }}

                                <div class="hr-line-dashed"></div>
                                <a href="{{ path('bds_cotisation_index') }}">Retour à la liste
                                </a>
                                <div class="hr-line-dashed"></div>
                                <p>
                                    <span class="fa fa-warning text-warning"></span>
                                    <span class="text-danger">Si vous voulez modifier la cotisation appliquée,
                                        <a href="{{ path('bds_parametresdecotisation_edit', {id: bds_param.id, pg_prcdnt: 'bds_cotisation_edit', idcotisation:bds_cotisation.id}) }}">cliquez ici
                                        </a>.
                                        Elle sera appliquée au prochain nouvel enregistrement!
                                    </span>

                                </p>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}

{% block javascripts %}

    {{ parent() }}

    <script>

        $('.chosen-select').chosen({width: "100%"});

    </script>

{% endblock javascripts %}

