{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Cotisation BDS {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/plugins/dataTables/datatables.min.css') }}" />
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}

            <div class="wrapper wrapper-content">
                <div class="row">
                    {# Messages Falsh #}
                    {% for message in app.flashes('success') %}
                        <div class="col-lg-12">
                            <div class="alert alert-success alert-dismissable ">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                {{ message }}
                            </div>
                        </div>
                    {% endfor %}

                </div>
                <div class="row">
                    {# ============================= INFO  ==================================== #}

                        <div class="col-lg-12">
                            <div class="widget-head-color-box white-bg p-h-xs " style="margin-bottom: -18px; padding-bottom: 0px;">
                                <div class="m-b-md">
                                    <div class="block" style="margin-left: 10px;">

                                        <a href="{{ path('home_bds') }}" class="btn btn-xs btn-success text-right">
                                            <i class="fa fa-home"></i>
                                            Accueil Bds
                                        </a>
                                        <a href="{{ path('bds_agents') }}" class="btn btn-xs btn-success text-right">
                                            <i class="fa fa-user-o"></i>
                                            Les agents
                                        </a>

                                        {#
                                        <a href="{{ path('bds_cotisation_new') }}" class="btn btn-xs btn-success text-right">
                                            <i class="fa fa-plus"></i>
                                            Enregistrer une cotisation
                                        </a>
                                        #}
                                    </div>
                                </div>
                            </div>
                            <div class="widget-head-color-box navy-bg p-h-xs text-center">
                                <div class="m-b-md">

                                    <h3 class="font-bold no-margins">
                                        Cotisations
                                    </h3>

                                </div>
                            </div>
                            <div class="widget-text-box">

                                <table class="table table-striped table-bordered table-hover dataTables-example" >
                                    <thead>
                                    <tr>
                                        <th>Agent</th>
                                        <th>Cotisation appliquée</th>
                                        <th>Période de cotisation</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for bds_cotisation in bds_cotisations %}
                                        <tr>
                                            <td>[{{ bds_cotisation.bdsparametresdecotisation.user.matricule }}] {{ bds_cotisation.bdsparametresdecotisation.user.nom }} {{ bds_cotisation.bdsparametresdecotisation.user.prenom }}</td>
                                            <td>{{ bds_cotisation.cotisationappliquee }}</td>
                                            <td>{{ bds_cotisation.cotisationAt ? bds_cotisation.cotisationAt|localizeddate('none', 'none', null, null, 'MMMM - Y')}}</td>
                                            <td>
                                                <a href="{{ path('bds_cotisation_edit', {'id': bds_cotisation.id}) }}" class="btn btn-xs btn-warning text-right pull-left"style="margin-right: 10px;">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <span class="pull-left" style="margin-left: 0px;">
                                                {{ include('banque_de_solidarite/cotisation/_delete_form.html.twig') }}
                                                </span>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="4">Aucun enregistrement!</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                                <hr/>

                                <div>
                                    <div class="block">

                                        <a href="{{ path('home_bds') }}" class="btn btn-xs btn-success text-right">
                                            <i class="fa fa-home"></i>
                                            Accueil Bds
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>

                    {# ============================= INFO   ==================================== #}

                </div>

            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/plugins/dataTables/datatables.min.js') }}"></script>

    <script>
        $(document).ready(function(){
            $('.dataTables-example').DataTable({
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    {extend: 'copy', title: 'Services-CT'},
                    {extend: 'csv', title: 'Services-CT'},
                    {extend: 'excel', title: 'Services-CT'},
                    {extend: 'pdf', title: 'Services-CT'},

                    {extend: 'print',
                        customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]
            });

            /* Init DataTables */
            var oTable = $('#editable').DataTable();

            /* Apply the jEditable handlers to the table */
            oTable.$('td').editable( '../example_ajax.php', {
                "callback": function( sValue, y ) {
                    var aPos = oTable.fnGetPosition( this );
                    oTable.fnUpdate( sValue, aPos[0], aPos[1] );
                },
                "submitdata": function ( value, settings ) {
                    return {
                        "row_id": this.parentNode.getAttribute('id'),
                        "column": oTable.fnGetPosition( this )[2]
                    };
                },

                "width": "90%",
                "height": "100%"
            } );
        });
    </script>
{% endblock javascripts %}

