{% extends 'base.html.twig' %}


    {% block title %} {{ parent() }} Cotisations {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Data table --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/dataTables/datatables.min.css') }}">
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}
            {#
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-12">
                    <div class="title-action pull-right" style="padding-top: 3px; margin-bottom: 3px; padding-left: 3px;">
                        <a href="{{ path('info_evenement_agent', {id:agent.id}) }}" class="btn btn-primary" ><i class="fa fa-list"></i> Ses évenements </a>
                    </div>

                    <div class="title-action pull-right" style="padding-top: 3px; margin-bottom: 3px">
                        <a href="{{ path('info_profile_agent_print', {id:agent.id}) }}" target="_blank" class="btn btn-primary" ><i class="fa fa-print"></i> Imprimer </a>
                    </div>
                </div>
            </div>
            #}
            <div class="wrapper wrapper-content">


                <div class="row">
                    <div class="col-lg-12">
                        <div class="wrapper wrapper-content animated fadeInRight">
                            <div class="ibox-content p-xl">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h4>Agent : {{ user.nomPrenom }}</h4>
                                        <address>
                                            {#Date de naissance : </strong> {{ user.dateNaissanceAt | date ('d/m/Y') }}<br>#}

                                            <strong>Niveau de classement actuel : </strong> {{ user.indiceGroupe }} - {{ user.indiceCategorie }} - {{ user.indiceEchelon }}<br>
                                            <strong>Age de départ à la retraite : </strong> {{ retraite }}<br>
                                            <abbr title="Phone"><strong>Tel : </strong></abbr>
                                            {% set tel_lg = user.tel | length %}
                                            {% if tel_lg <7 %}
                                                <span class="text-danger">Non renseigné !</span>
                                            {% else %}
                                            {{ user.tel }}
                                            {% endif %}
                                        </address>
                                    </div>

                                    <div class="col-sm-6 text-right">
                                        <span><strong>Aujourd'hui le :</strong> {{ "now"|date("m/d/Y") }}</span><br/>

                                    </div>
                                </div>

                                <div>
                                    <table class="table invoice-table">
                                        <tbody>
                                        <tr>
                                            <td><strong>Nom</strong></td>

                                            <td><span class="pull-left">{{ user.nom }}</span></td>

                                            <td><strong>Date recrutement : </strong></td>
                                            {% set recrutement = user.getEvRecrutements() ? user.getEvRecrutements() : ''  %}

                                                <td>
                                                    {% for recrutement in recrutement %}
                                                {{ recrutement.dateRecrutementAt | date('d/m/Y') |e }}<br/>
                                                    {% else %}
                                                        <span class="text-danger">Aucune </span>
                                                    {% endfor %}
                                                </td>

                                        </tr>
                                        <tr>

                                            <td><strong>Prénom</strong></td>

                                            <td><span class="pull-left">{{ user.prenom }}</span></td>

                                            <td><strong>Nature recrutement : </strong></td>
                                                <td>
                                                    {% for recrutement in recrutement %}
                                                    {{ recrutement.natureRecrutement | e}}<br/>
                                                    {% else %}
                                                        <span class="text-danger">Aucun </span>
                                                    {% endfor %}
                                                </td>
                                        </tr>
                                        <tr>
                                            <td><strong>Matricule</strong></td>

                                            <td><span class="pull-left">{{ user.matricule }}</span></td>

                                            <td><strong>Nbr année embauche:</strong></td>

                                            <td>
                                                {% for recrutement in recrutement %}
                                                    {{ recrutement.getNbrAnneesRecrutement() | e}} an(s)<br/>
                                                {% else %}
                                                    <span class="text-danger">Aucun </span>
                                                {% endfor %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><strong>Catégorie pro</strong></td>

                                            <td><span class="pull-left">{{ user.categorie }}</span></td>

                                            <td><strong>Date titularisation:</strong></td>

                                            {% set titularisation = user.getEvTitularisations() ? user.getEvTitularisations() : '' %}

                                            <td>
                                                {% for titularisation in titularisation %}
                                                {{ titularisation.dateTitularisationAt | date('d/m/Y') |e }} <br/>
                                                {% else %}
                                                    <span class="text-danger">Aucun </span>
                                                {% endfor %}
                                            </td>

                                        </tr>
                                        <tr>
                                            <td><strong>Email</strong></td>

                                            <td><span class="pull-left">{{ user.email }}</span></td>

                                            <td><strong>Nbr année titularisation:</strong></td>

                                            <td>{% for titularisation in titularisation %}
                                                    {{ titularisation.getNbrAnneesTitularisation |e }} an(s)<br/>
                                                {% else %}
                                                    <span class="text-danger">Aucun </span>
                                                {% endfor %}</td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div><!-- /table-responsive -->
                                <div class="well m-t"><strong>Cotisations</strong><br/>
                                    Cotisations effectuées depuis la titularisation ...
                                </div>


                                <table class="table tab-help">

                                    <tbody>
                                    {% for total_par_an in total_par_an %}
                                        <tr>
                                            <td>
                                                <b class="text-primary">{{ total_par_an.year }}</b>
                                                <br/>
                                                <small>Total :</small> <br/>
                                                <small><b class="text-navy">{{ total_par_an.sommeannuelle | number_format(0, ',', ' ') }} kmf</b></small>
                                            </td>
                                        {% for cotisation in cotisations_agent %}
                                            {% if cotisation.cotisationAt | date('Y') == total_par_an.year %}

                                                <td>
                                                    {{ cotisation.cotisationAt ? cotisation.cotisationAt|localizeddate('none', 'none', null, null, 'MMMM') | title }} : <br/>
                                                    {{ cotisation.getFormatedCotisation() }}
                                                </td>
                                            {% endif %}

                                        {% endfor %}
                                        </tr>
                                    {% else %}
                                        <span class="text-danger"> <strong>Aucune cotisation trouvée! </strong></span>

                                    {% endfor %}
                                    <tr>
                                        <td colspan="13"><h3 class="text-primary">Total des cotisations :{% for somme in somme %} <b class="text-danger">{{ somme.somme_totale |number_format(0, ',', ' ') }}</b>{% endfor %}.kmf</h3> </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/plugins/dataTables/datatables.min.js') }}"></script>

{% endblock javascripts %}

