{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Ecoles et universités {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Data tables --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/dataTables/datatables.min.css') }}" />
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}

            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    {# Messages Falsh #}
                    {% for message in app.flashes('success') %}
                        <div class="col-lg-12" style="margin-top: 15px;">
                            <div class="alert alert-success alert-dismissable ">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                {{ message }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="row" style="padding: 0px 15px 5px 15px;">

                    <div class="btn-group">
                        <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Formations des agents <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('admin_ec_formationuser_index') }}"><i class="fa fa-list"></i> Formations académiques</a></li>
                            <li><a href="{{ path('admin_ec_experience_ailleurs_index') }}"><i class="fa fa-list-alt"></i> Expériences ailleurs</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ path('ec_universite_new') }}"><i class="fa fa-plus"></i> Universités</a></li>
                            <li><a href="{{ path('admin_ecoleuniversite_new') }}"><i class="fa fa-plus"></i> Ecoles</a></li>
                            <li><a href="{{ path('ecoleuniversite_choisir_agent') }}" class="font-bold"> <i class="fa fa-plus"></i> Formation académique</a></li>
                            <li><a href="{{ path('ec_experience_ailleurs_choisir_agent') }}" class="font-bold"> <i class="fa fa-plus"></i> Expérience ailleurs</a></li>
                        </ul>
                    </div>
                    <span class="pull-right">
                    <a type="button" href="{{ path('admin_ecoleuniversite_index', {'_fragment': 'ecoles_facultes'}) }}" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Ajouter une école ou une université">
                        <i class="fa fa-eye"></i> Ecoles & facultés ...
                    </a>

                    <a type="button" href="{{ path('admin_ecoleuniversite_index', {'_fragment': 'formations_filieres'}) }}" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Ajouter une école ou une université">
                        <i class="fa fa-eye"></i> Formations & filières ...
                    </a>

                    <a type="button" href="{{ path('admin_ecoleuniversite_index', {'_fragment': 'metiers-sous-métiers-niveaux-qualif'}) }}" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Ajouter une école ou une université">
                        <i class="fa fa-eye"></i> Métiers, sous-métiers, niveaux qualif ...
                    </a>
                    </span>
                </div>

                <div class="row">

                    {# ==============================================
                            UNIVERSITE
                    =================================================#}
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Université</h5>&nbsp;&nbsp;
                            </div>
                            <div class="ibox-content">
                                <input type="text" class="form-control input-sm m-b-xs" id="filter"
                                       placeholder="Rechercher">

                                <table class="table table-striped table-bordered table-hover dataTables-example" >

                                    <thead>
                                    <tr>
                                        <th>Designation</th>
                                        <th>Associée à</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for ec_universite in ec_universites %}
                                        <tr class="gradeA">

                                            <td>{{ ec_universite.designation }}</td>
                                            <td>
                                                {% set filiales = ec_universite.getEcoleuniversites() %}
                                                {% for filiale in filiales %}
                                                    {{ filiale.designation }} <br/>
                                                {% endfor %}

                                            </td>
                                            <td>
                                                <a type="button" class="pull-left btn btn-primary btn-xs" href="{{ path('ec_universite_show', {'id': ec_universite.id}) }}"><i class="fa fa-eye"></i></a>
                                                <a type="button" class="pull-left btn btn-warning btn-xs" href="{{ path('ec_universite_edit', {'id': ec_universite.id}) }}" style="margin-left: 10px;"><i class="fa fa-edit"></i></a>
                                                <span class="pull-left" style="margin-left: 10px;">{{ include('admin/ec_universite/_delete_form.html.twig') }}</span>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="3">Aucun enregistrement trouvé!</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>Designation</th>
                                        <th>Associée à</th>
                                        <th>Action</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>

                    {# ==============================================
                            ECOLES & FACULTES
                    =================================================#}
                    <div class="col-lg-12" id="ecoles_facultes">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Ecoles, facultés, etc...</h5>&nbsp;&nbsp;
                            </div>
                            <div class="ibox-content">
                                <input type="text" class="form-control input-sm m-b-xs" id="filter"
                                       placeholder="Rechercher">

                                <table class="table table-striped table-bordered table-hover dataTables-example" >

                                    <thead>
                                    <tr>
                                        <th>Ecole / université</th>
                                        <th>Designation</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for ecoleuniversite in ecoleuniversites %}
                                        <tr class="gradeA">
                                            <td><a href="{{ path('admin_ecoleuniversite_show', {'id': ecoleuniversite.id})}}"><strong>{{ ecoleuniversite.ecoleOuUniversite }}</strong></a></td>
                                            <td>{{ ecoleuniversite.designation }}</td>
                                            <td>
                                                <a type="button" class="pull-left btn btn-warning btn-xs" href="{{ path('admin_ecoleuniversite_edit', {'id': ecoleuniversite.id}) }}"><i class="fa fa-edit"></i></a>
                                                <span class="pull-left" style="margin-left: 10px;">{{ include('admin/ecoleuniversite/_delete_form.html.twig') }}</span>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="3">Aucun enregistrement trouvé!</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>Ecole / université</th>
                                        <th>Designation</th>
                                        <th>Action</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                {# ==============================================
                            Formations Filières...
                    =================================================#}
                <div class="row">
                    <div class="col-md-12" id="formations_filieres">

                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Formations Filières...</h5>
                                <a type="button" href="{{ path('admin_ec_formation_new') }}" class="btn btn-xs btn-primary pull-right" data-toggle="tooltip" data-placement="top" title="Ajouter une filière">
                                    <i class="fa fa-plus"></i>
                                </a>
                            </div>
                            <div class="ibox-content">
                                <table class="table table-striped table-bordered table-hover dataTables-example" >
                                    <thead>
                                    <tr>
                                        <th>Designation</th>
                                        <th>Liaison</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for ec_formation in ec_formations %}
                                        <tr class="gradeA">
                                            <td data-toggle="tooltip" data-placement="top" title="{{ ec_formation.designation }}">
                                                {{ ec_formation.designation | length > 30 ? ec_formation.designation | slice(0,30)~'...' : ec_formation.designation }}
                                            </td>
                                            <td data-toggle="tooltip" data-placement="top" title="{{ ec_formation.ecSousmetier }}">
                                                {{ ec_formation.ecSousmetier | length > 30 ? ec_formation.ecSousmetier | slice(0,30)~'...' : ec_formation.ecSousmetier }}
                                            </td>
                                            <td>
                                                <a type="button" class="pull-left btn btn-warning btn-xs" href="{{ path('admin_ec_formation_edit', {'id': ec_formation.id}) }}"><i class="fa fa-edit"></i></a>
                                                <span class="pull-left" style="margin-left: 10px;">{{ include('admin/ec_formation/_delete_form.html.twig') }}</span>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="3">Aucun enregistrement trouvé!</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <th>Designation</th>
                                    <th>Liaison</th>
                                    <th>Action</th>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                {# ==============================================
                            AUTRES TABLEAUX ( sous-metier , metiers, ...)
                    =================================================#}
                <div class="row" id="metiers-sous-métiers-niveaux-qualif">

                    <div class="col-md-4">
                        <div class="ibox content">
                            <div class="ibox-title">
                                <h5>Niveaux de qualification</h5>
                                <a type="button" href="{{ path('admin_niveauqualification_new') }}" class="btn btn-xs btn-primary pull-right" data-toggle="tooltip" data-placement="top" title="Ajouter un niveau de qualification">
                                    <i class="fa fa-plus"></i>
                                </a>
                            </div>
                            <div>
                                <div class="ibox-content profile-content">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Designation</th>
                                            <th>actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for niveauqualification in niveauqualifications %}
                                            <tr>
                                                <td>{{ niveauqualification.designation }}</td>
                                                <td>
                                                    <a type="button" class="pull-left btn btn-warning btn-xs" href="{{ path('admin_niveauqualification_edit', {'id': niveauqualification.id}) }}"><i class="fa fa-edit"></i></a>
                                                    <span class="pull-left" style="margin-left: 10px;">{{ include('admin/niveauqualification/_delete_form.html.twig') }}</span>
                                                </td>

                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td colspan="3">Aucun enregistrement trouvé!</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="ibox content">
                            <div class="ibox-title">
                                <h5>Metiers</h5>
                                <a type="button" href="{{ path('admin_ec_metier_new') }}" class="btn btn-xs btn-primary pull-right" data-toggle="tooltip" data-placement="top" title="Ajouter un métier">
                                    <i class="fa fa-plus"></i>
                                </a>
                            </div>
                            <div>
                                <div class="ibox-content profile-content">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Designation</th>
                                            <th>actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for ec_metier in ec_metiers %}
                                            <tr>
                                                <td>{{ ec_metier.designation }}</td>
                                                <td>
                                                    <a type="button" class="btn btn-warning btn-xs pull-left" href="{{ path('admin_ec_metier_edit', {'id': ec_metier.id}) }}"><i class="fa fa-edit"></i></a>
                                                    <span class="pull-left" style="margin-left: 10px">{{ include('admin/ec_metier/_delete_form.html.twig') }}</span>
                                                </td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td colspan="3">Aucun enregistrement trouvé!</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="ibox content">
                            <div class="ibox-title">
                                <h5>Sous-metiers</h5>
                                <a type="button" href="{{ path('admin_ec_sousmetier_new') }}" class="btn btn-xs btn-primary pull-right" data-toggle="tooltip" data-placement="top" title="Ajouter un sous-metier">
                                    <i class="fa fa-plus"></i>
                                </a>
                            </div>
                            <div class="ibox-content">
                                <input type="text" class="form-control input-sm m-b-xs" id="filter"
                                       placeholder="Rechercher">

                                <table class="footable table table-stripped" data-page-size="8" data-filter=#filter>
                                    <thead>
                                    <tr>
                                        <th>Designation</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for ec_sousmetier in ec_sousmetiers %}
                                        <tr class="gradeA">
                                            <td data-toggle="tooltip" data-placement="top" title="{{ ec_sousmetier.designation }}">
                                                {{ ec_sousmetier.designation | length > 12 ? ec_sousmetier.designation | slice(0,15)~'...' : ec_sousmetier.designation }}
                                            </td>
                                            <td>
                                                <a type="button" class="pull-left btn btn-warning btn-xs" href="{{ path('admin_ec_sousmetier_edit', {'id': ec_sousmetier.id}) }}"><i class="fa fa-edit"></i></a>
                                                <span class="pull-left" style="margin-left: 10px;">{{ include('admin/ec_sousmetier/_delete_form.html.twig') }}</span>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="3">Aucun enregistrement trouvé!</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="5">
                                            <ul class="pagination pull-right"></ul>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/plugins/jeditable/jquery.jeditable.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/dataTables/datatables.min.js') }}"></script>

    <script>
        $(document).ready(function(){
            $('.dataTables-example').DataTable({
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    {extend: 'copy', title: 'Services-CT'},
                    {extend: 'csv', title: 'Services-CT'},
                    {extend: 'excel', title: 'Services-CT'},
                    {extend: 'pdf', title: 'Services-CT'},

                    {extend: 'print',
                        customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]
            });

            /* Init DataTables */
            var oTable = $('#editable').DataTable();

            /* Apply the jEditable handlers to the table */
            oTable.$('td').editable( '../example_ajax.php', {
                "callback": function( sValue, y ) {
                    var aPos = oTable.fnGetPosition( this );
                    oTable.fnUpdate( sValue, aPos[0], aPos[1] );
                },
                "submitdata": function ( value, settings ) {
                    return {
                        "row_id": this.parentNode.getAttribute('id'),
                        "column": oTable.fnGetPosition( this )[2]
                    };
                },

                "width": "90%",
                "height": "100%"
            } );
        });
    </script>
{% endblock javascripts %}
