{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Ajouter école / universiité {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Morris --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css') }}">
        <link rel="stylesheet" href="{{ asset('css/plugins/select2/select2.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/plugins/chosen/bootstrap-chosen.css') }}">

    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">

        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <h3>
                        {% if url_id %}
                        Enregistrer une faculté / fialiale d'université ...
                        {% else %}
                        Enregistrer un école
                        {% endif %}
                    </h3>

                    {{ form_start(form) }}

                    {% if url_id %}
                        <div class="form-group col-sm-2 {% if form_errors(form.ecoleOuUniversite) %}has-error{% endif %}" style="padding-left: 0px;">
                            <label>Type  </label>
                            <input type="text" class="form-control" disabled="disabled"  value="Université"  >
                        </div>
                    {% else %}
                        <div class="form-group col-sm-2 {% if form_errors(form.ecoleOuUniversite) %}has-error{% endif %}" style="padding-left: 0px;">
                            <label>Type  </label>
                            <input type="text" class="form-control" disabled="disabled"  value="Ecole"  >
                        </div>
                    {% endif %}
                    <div class="form-group col-sm-6 hidden {% if form_errors(form.ecoleOuUniversite) %}has-error{% endif %}" style="padding-left: 0px;">
                        <label>Choisir type  </label>
                        {{ form_widget(form.ecoleOuUniversite, {
                            'attr': {
                                'class': 'form-control'
                            }
                        }) }}
                    </div>
                    {% if url_id %}
                    <div class="form-group col-sm-4  {% if form_errors(form.nomUniversite) %}has-error{% endif %}">
                        <label>Appartient à quel université  </label>
                        {{ form_widget(form.nomUniversite, {
                            'attr': {
                                'class': 'form-control chosen-select'
                            }
                        }) }}
                    </div>
                    {% else %}
                        <div class="form-group col-sm-4 {% if form_errors(form.ecoleOuUniversite) %}has-error{% endif %}" style="padding-left: 0px;">
                            <label>Appartient à quel université  </label>
                            <input type="text" class="form-control" disabled="disabled"  value="Aucun"  >
                        </div>
                        <div class="form-group col-sm-4 hidden {% if form_errors(form.nomUniversite) %}has-error{% endif %}">
                            <label>Appartient à quel université  </label>
                            {{ form_widget(form.nomUniversite, {
                                'attr': {
                                    'class': 'form-control chosen-select'
                                }
                            }) }}
                        </div>
                    {% endif %}

                    <div class="form-group col-sm-6 {% if form_errors(form.designation) %}has-error{% endif %}" style="padding-right: 0px;">
                        <label>
                            {% if url_id %}
                                Nom faculté / Fialiale etc..
                            {% else %}
                                Nom école
                            {% endif %}
                        </label>
                        {{ form_widget(form.designation, {
                            'attr': {
                                'class': 'form-control'
                            }
                        }) }}
                        {% if form_errors(form.designation) %}<span class="text-danger">Déjà enregistré</span>{% endif %}
                    </div>
                    <div class="form-group col-sm-6" style="padding-left: 0px;">
                        <label>Pays  </label>
                        {{ form_widget(form.pays) }}
                    </div>
                    <div class="form-group col-sm-6" style="padding-right: 0px;">
                        <label>Ville </label>
                        {{ form_widget(form.ville) }}
                    </div>
                    <div class="form-group col-sm-6" style="padding-left: 0px;">
                        <label>Tel</label>
                        {{ form_widget(form.tel) }}
                    </div>
                    <div class="form-group col-sm-6 {% if form_errors(form.email) %}has-error{% endif %}" style="padding-right: 0px;">
                        <label>Email  </label>
                        {{ form_widget(form.email) }}
                    </div>
                    <div class="form-group">
                        <label>Niveau qualification (<span class="text-danger"><small>Vous pouvez en sélectionner plusieurs</small></span>) </label>
                        {{ form_widget(form.niveauqualification, {
                            'attr': {
                                'class': 'chosen-select'
                            }
                        }) }}
                    </div>
                    <div class="form-group">
                        <label>Domaine de formation (<span class="text-danger"><small>Vous pouvez en sélectionner plusieurs</small></span>)</label>
                        {{ form_widget(form.ecSousmetier, {
                            'attr': {
                                'class': 'chosen-select'
                            }
                        }) }}
                    </div>
                    <div class="form-group">
                        <label>Observations  </label>
                        {{ form_widget(form.observations) }}
                    </div>
                    {{ form_widget(form) }}
                    <input class="btn btn-primary" type="submit" value="Enregistrer" />

                    {{ form_end(form) }}

                    <div class="hr-line-dashed"></div>
                    <a href="{{ path('admin_ecoleuniversite_index') }}"><i class="fa fa-angle-left"></i> Retour</a>
                </div>
            </div>

        </div>



    </div>

</div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}

    <script type="text/javascript" src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/inspinia.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/pace/pace.min.js') }}"></script>


    <script type="text/javascript" src="{{ asset('js/plugins/select2/select2.full.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/touchspin/jquery.bootstrap-touchspin.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/chosen/chosen.jquery.js') }}"></script>


    <script>
        $(document).on('change', '#affectation_direction, #affectation_departement, #affectation_serviceDirection', function () {
            let $field = $(this)
            let $directionField = $('#affectation_direction')
            let $form = $field.closest('form')
            let data = {}
            data[$directionField.attr('name')] = $directionField.val()
            data[$field.attr('name')] = $field.val()
            $.post($form.attr('action'), data).then(function (data) {
                let $input = $(data).find('#affectation_departement')
                $('#affectation_departement').replaceWith($input)

                //chargement du champs service lié à une direction après selection de la direction
                let $inputsvcdir = $(data).find('#affectation_serviceDirection')
                $('#affectation_serviceDirection').replaceWith($inputsvcdir)

                //chargement du champs service lié à un département après selection du département
                let $inputsvcdpt = $(data).find('#affectation_serviceDepartement')
                $('#affectation_serviceDepartement').replaceWith($inputsvcdpt)
            })

        })
    </script>


    <script>

        $('.chosen-select').chosen({width: "100%"});

    </script>



{% endblock javascripts %}


