{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Ecole / Université {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

{% block body %}
    {% block fildariane %}
        {{ include('_generals_includes/_fildariane.html.twig') }}
    {% endblock fildariane %}

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-title">
                <h5>{{ ecoleuniversite.ecoleOuUniversite }} {{ ecoleuniversite.designation }}</h5>
            </div>
            <div class="ibox-content">

                <table class="table">
                    <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ ecoleuniversite.id }}</td>
                </tr>
                <tr>
                    <th>EcoleOuUniversite</th>
                    <td>{{ ecoleuniversite.ecoleOuUniversite }}</td>
                </tr>
                <tr>
                    <th>Designation</th>
                    <td>{{ ecoleuniversite.designation }}</td>
                </tr>
                <tr>
                    <th>Tel</th>
                    <td>{{ ecoleuniversite.tel }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ ecoleuniversite.email }}</td>
                </tr>
                <tr>
                    <th>Pays</th>
                    <td>{{ ecoleuniversite.pays }}</td>
                </tr>
                <tr>
                    <th>Ville</th>
                    <td>{{ ecoleuniversite.ville }}</td>
                </tr>
                <tr>
                    <th>Domaine de formation</th>
                    <td>{% set sousmetier = ecoleuniversite.ecSousmetier %}
                        {% for sousmetier in sousmetier %}
                        {{ sousmetier.designation }}<br/>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>Niveau de qualification</th>
                    <td>{% set niveauqualification = ecoleuniversite.niveauqualification %}
                        {% for niveauqualification in niveauqualification %}
                            {{ niveauqualification.designation }}<br/>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>Observations</th>
                    <td>{{ ecoleuniversite.observations }}</td>
                </tr>
            </tbody>
                </table>

                <div class="contact-box-footer">
                    <div class="m-t-xs btn-group">
                        <a href="{{ path('admin_ecoleuniversite_index') }}" class="btn btn-xs btn-white"><i class="fa fa-arrow-left"></i> Retour à la liste </a>
                        <a href="{{ path('admin_ecoleuniversite_edit', {'id': ecoleuniversite.id}) }}" class="btn btn-xs btn-warning"  style="margin-left: 10px;"><i class="fa fa-edit"></i> Modifier</a>
                        <span class="pull-left" style="margin-left: 10px;">{{ include('admin/ecoleuniversite/_delete_form.html.twig') }}</span>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>

{% endblock %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    {{ parent() }}
{% endblock javascripts %}
