{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Editer une reprise de fonction {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Morris --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css') }}">
        <link rel="stylesheet" href="{{ asset('css/plugins/chosen/bootstrap-chosen.css') }}">

    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}

            <div class="wrapper wrapper-content animated fadeInRight">

                <div class="row">

                    <div class="col-lg-12">

                        <div class="ibox">
                            <div class="ibox-content">
                                <h3>Editer une reprise de fonction pour {{ ev_levedesuspension.user.nom }} {{ ev_levedesuspension.user.prenom }} </h3>

                                <p class="small">
                                    Modifier un evenement "reprise de fonction" à un agent.
                                </p>
                                {{ form_start(form) }}

                                <div class="form-group col-sm-4 {% if form_errors(form.reference) %}has-error{% endif %}" style="padding-left: 0px;">
                                    <label>Reference de la note  </label>
                                    {{ form_widget(form.reference, {
                                        'attr': {
                                            'class': 'form-control'
                                        }
                                    }) }}
                                </div>
                                <div class="form-group col-sm-4 {% if form_errors(form.referenceSuspension) %}has-error{% endif %}">
                                    <label>Reference de la suspension encours  </label>
                                    {{ form_widget(form.referenceSuspension, {
                                        'attr': {
                                            'class': 'form-control'
                                        }
                                    }) }}
                                </div>
                                <div class="form-group col-sm-4 {% if form_errors(form.dateLevedesuspensionAt) %}has-error{% endif %}" style="padding-right: 0px;">
                                    <label>Date de la levée de suspension  </label>
                                    {{ form_widget(form.dateLevedesuspensionAt, {
                                        'attr': {
                                            'class': 'form-control'
                                        }
                                    }) }}
                                </div>
                                <div class="form-group col-sm-6 {% if form_errors(form.poste) %}has-error{% endif %}" style="padding-left: 0px;">
                                    <label>Poste  </label>
                                    {{ form_widget(form.poste) }}
                                </div>
                                <div class="form-group col-sm-6 {% if form_errors(form.serviceDepartementDirection) %}has-error{% endif %}" style="padding-right: 0px;">
                                    <label>Service | Département | Direction - actuel  </label>
                                    {{ form_widget(form.serviceDepartementDirection) }}
                                </div>

                                {{ form_widget(form) }}
                                <input class="btn btn-primary" type="submit" value="Enregistrer" />

                                {{ form_end(form) }}

                                <div class="hr-line-dashed"></div>
                                {% if is_granted('ROLE_ADMIN_GCAR') %}
                                    <a href="{{ path('evenements_levedesuspension_index') }}">Retour à la liste</a>
                                {% endif %}
                            </div>
                        </div>

                    </div>



                </div>

            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}

    <script type="text/javascript" src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/inspinia.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/pace/pace.min.js') }}"></script>


    <script type="text/javascript" src="{{ asset('js/plugins/select2/select2.full.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/touchspin/jquery.bootstrap-touchspin.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/chosen/chosen.jquery.js') }}"></script>


    <script>
        $(document).on('change', '#levedesuspension_direction, #levedesuspension_departement, #levedesuspension_serviceDirection', function () {
            let $field = $(this)
            let $directionField = $('#levedesuspension_direction')
            let $form = $field.closest('form')
            let data = {}
            data[$directionField.attr('name')] = $directionField.val()
            data[$field.attr('name')] = $field.val()
            $.post($form.attr('action'), data).then(function (data) {
                let $input = $(data).find('#levedesuspension_departement')
                $('#levedesuspension_departement').replaceWith($input)

                //chargement du champs service lié à une direction après selection de la direction
                let $inputsvcdir = $(data).find('#levedesuspension_serviceDirection')
                $('#levedesuspension_serviceDirection').replaceWith($inputsvcdir)

                //chargement du champs service lié à un département après selection du département
                let $inputsvcdpt = $(data).find('#levedesuspension_serviceDepartement')
                $('#levedesuspension_serviceDepartement').replaceWith($inputsvcdpt)
            })

        })
    </script>


    <script>
        $(document).ready(function(){

            $(".select2_demo_1").select2();
            $(".select2_demo_2").select2();
            $(".select2_demo_3").select2({
                placeholder: "Choisir",
                allowClear: true
            });


        });

        $('.chosen-select').chosen({width: "100%"});


    </script>



{% endblock javascripts %}

