{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Indémnité forfaitaire {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Morris --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css') }}">
        <link rel="stylesheet" href="{{ asset('css/plugins/select2/select2.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/plugins/chosen/bootstrap-chosen.css') }}">

    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}

            <div class="wrapper wrapper-content animated fadeInRight">
                {% if event_name %}
                <row>
                    <div class="alert alert-success">
                        Les données affichées sont pusées depuis l'événement {{ event_name }} (Dernier événement enregistré avec un poste).<br>
                        <small>Si vous pensez que les données sont éronnées, veuillez contacter votre chef hiérarchique.</small>
                    </div>
                </row>
                {% else %}
                    <row>
                        <div class="alert alert-danger">
                            Aucune donnée enregistrée pour cet agent. Veuillez commencer par enregistrer son recrutement
                            <a href="{{ path('evenements_recrutement_new', {id: ev_indemniteforfaitaire.User.id }) }}">en cliquant ici</a>
                        </div>
                    </row>
                {% endif %}
                <div class="row">

                    <div class="col-lg-12">

                        <div class="ibox">
                            <div class="ibox-content">
                                <h3>Enregistrer une indémnité forfaitaire </h3>

                                <p class="small">
                                    Ajouter un evenement "indémnité forfaitaire" à :
                                </p>
                                {{ form_start(form) }}

                                    <div class="form-group">
                                        <label>Agent  </label>
                                        <span> {{ ev_indemniteforfaitaire.user }} </span>
                                    </div>
                                    <input type="text" class="form-control hidden" name="indemniteforfaitaire[user]" value="{{ ev_indemniteforfaitaire.User.id }}"  >

                                    <div class="form-group col-sm-6 {% if form_errors(form.reference) %}has-error{% endif %}" style="padding-left: 0px;">
                                        <label>Reference de la note  </label><i class="text-danger"><b>*</b></i>
                                        {{ form_widget(form.reference, {
                                            'attr': {
                                                'class': 'form-control'
                                            }
                                        }) }}
                                    </div>
                                    <div class="form-group col-sm-6 {% if form_errors(form.dateIndemniteforfaitaireAt) %}has-error{% endif %}" style="padding-right: 0px;">
                                        <label>Date  </label><i class="text-danger"><b>*</b></i>
                                        {{ form_widget(form.dateIndemniteforfaitaireAt, {
                                            'attr': {
                                                'class': 'form-control'
                                            }
                                        }) }}
                                    </div>
                                <div class="form-group {% if form_errors(form.somme) %}has-error{% endif %}">
                                    <label>Somme accordée</label><i class="text-danger"><b>*</b></i>
                                    {{ form_widget(form.somme, {
                                        'attr': {
                                            'class': 'form-control'
                                        }
                                    }) }}
                                </div>

                                <div class="form-group {% if form_errors(form.poste) %}has-error{% endif %}" >
                                    <label>Poste actuel </label>
                                    {{ form_widget(form.poste) }}
                                </div>
                                <div class="form-group {% if form_errors(form.serviceDepartementDirection) %}has-error{% endif %}" >
                                    <label>Service | Département | Direction - actuel </label>
                                    {{ form_widget(form.serviceDepartementDirection) }}
                                </div>

                                    {{ form_widget(form) }}
                                    <input class="btn btn-primary" type="submit" value="Enregistrer" />

                                {{ form_end(form) }}

                                <div class="hr-line-dashed"></div>
                                {% if is_granted('ROLE_ADMIN_GCAR') %}
                                    <a href="{{ path('evenements_indemniteforfaitaire_index') }}">Retour à la liste</a>
                                {% endif %}
                                <div class="hr-line-dashed"></div>
                            </div>
                        </div>

                    </div>



                </div>

            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}

    <script type="text/javascript" src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/inspinia.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/pace/pace.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/touchspin/jquery.bootstrap-touchspin.min.js') }}"></script>

    <script>

        $('.chosen-select').chosen({width: "100%"});


    </script>



{% endblock javascripts %}

