{% extends 'base.html.twig' %}

{% form_theme formUserOptionVisibilites 'bootstrap_4_layout.html.twig' %}

    {% block title %} {{ parent() }} Confidentialité {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Morris --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/morris/morris-0.4.3.min.css') }}" />

        <link rel="stylesheet" href="{{ asset('css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css') }}">
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5><i class="fa fa-check-square"></i> Les différentes options ....</h5>
                            </div>
                            <div class="ibox-content">
                                <p>
                                    {% if user_option_visibilite.user != app.user %}
                                        <div class="alert alert-warning alert-dismissable">
                                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                            Vous n'avez pas l'autorisation d'accéder à cette page!
                                        </div>
                                    {% else %}
                                        {{ form_start(formUserOptionVisibilites) }}
                                            <div class="checkbox checkbox-primary">
                                                {{ form_widget(formUserOptionVisibilites.optDateNaissanceAt) }}
                                            </div>

                                            <div class="checkbox checkbox-primary">
                                                {{ form_widget(formUserOptionVisibilites.optFirstLogin) }}
                                            </div>

                                            <div class="checkbox checkbox-primary">
                                                {{ form_widget(formUserOptionVisibilites.optLastLogin) }}
                                            </div>

                                            <div class="checkbox checkbox-primary">
                                                {{ form_widget(formUserOptionVisibilites.optLastActivityAt) }}
                                            </div>

                                            <div class="checkbox checkbox-primary">
                                                {{ form_widget(formUserOptionVisibilites.optLoginCount) }}
                                            </div>

                                            <div class="checkbox checkbox-primary">
                                                {{ form_widget(formUserOptionVisibilites.optAdresse) }}
                                            </div>

                                            <div class="checkbox checkbox-primary">
                                                {{ form_widget(formUserOptionVisibilites.optTel) }}
                                            </div>

                                            <div class="checkbox checkbox-primary">
                                                {{ form_widget(formUserOptionVisibilites.optIndiceGroupe) }}
                                            </div>

                                            <div class="checkbox checkbox-primary">
                                                {{ form_widget(formUserOptionVisibilites.optEnligne) }}
                                            </div>

                                            <div class="form-group">
                                                <div class="col-sm-offset-4 text-right">
                                                    <a class="btn btn-default" href="{{ path('moncompte_index') }}">
                                                        Annuler
                                                    </a>
                                                    <button class="btn btn-success" type="submit">
                                                        Valider mes choix
                                                    </button>
                                                </div>
                                            </div>
                                        {{ form_end(formUserOptionVisibilites) }}
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}

{% block javascripts %}
    {{ parent() }}
{% endblock javascripts %}