{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Accueil {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}

        {# <!-- Data table --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/dataTables/datatables.min.css') }}">
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}
            {{ parent() }}
        {% endblock %}

        {% block body %}

            <div class="wrapper wrapper-content">
                <div class="row">
                    {# AGENTS #}
                    <div class="col-lg-2">

                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <span class="label label-success pull-right">CT</span>
                                <h5>Agents</h5>
                            </div>
                            <div class="ibox-content">
                                <a href="{{ path('moncompte_home', {agents: 'h'}) }}"><small><i class="fa fa-eye"></i> Hommes</small></a>
                                <h3 class="no-margins">{{ nbrHommes }}</h3>
                                <div class="stat-percent font-bold text-success">{% set totM = nbrHommes*100/nbrAgents %} {{ totM |number_format(2, '.', ',')}}% <i class="fa fa-male"></i></div>

                                <div class="hr-line-dashed"></div>

                                <a href="{{ path('moncompte_home', {agents: 'f'}) }}"><small><i class="fa fa-eye"></i> Femmes</small></a>
                                <h3 class="no-margins">{{ nbrFemmes }}</h3>
                                <div class="stat-percent font-bold text-success">{% set totF = nbrFemmes*100/nbrAgents %} {{ totF |number_format(2, '.', ',')}}% <i class="fa fa-female"></i></div>

                                <div class="hr-line-dashed"></div>

                                <a href="{{ path('moncompte_home') }}"><small><i class="fa fa-eye"></i> Total agents</small></a>
                                <h3 class="no-margins">{{ nbrAgents }}</h3>
                                <div class="stat-percent font-bold text-success">{% set totMF = nbrAgents*100/nbrAgents %} {{ totMF }}% <i class="fa fa-male"></i> <i class="fa fa-female"></i></div>
                            </div>

                        </div>
                    </div>

                    {# CADRES #}
                    <div class="col-lg-2">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <span class="label label-info pull-right">Pro</span>
                                <h5>Cadres</h5>
                            </div>
                            <div class="ibox-content">
                                <a href="{{ path('moncompte_home', {cadres: 'dirigeants'}) }}"><small><i class="fa fa-eye"></i> Dirigeants</small></a>
                                <h4 class="no-margins">
                                    {{ nbrDirigeants }}
                                    <div class="stat-percent font-bold text-info">
                                        {% set tot_dir = nbrDirigeants*100/nbrAgents %}{{  tot_dir | number_format(2, '.', ',') }}%
                                         <i class="fa fa-check"></i>
                                    </div>
                                </h4>
                                <br>

                                <a href="{{ path('moncompte_home', {cadres: 'superieurs'}) }}"><small><i class="fa fa-eye"></i> Supérieurs</small></a>
                                <h4 class="no-margins">
                                    {{ nbrSuperieurs }}
                                    <div class="stat-percent font-bold text-info">
                                        {% set tot_sup = nbrSuperieurs*100/nbrAgents %}{{  tot_sup | number_format(2, '.', ',') }}%
                                         <i class="fa fa-check"></i>
                                    </div>
                                </h4>
                                <br>

                                <a href="{{ path('moncompte_home', {cadres: 'gestions'}) }}"><small><i class="fa fa-eye"></i> Gestions</small></a>
                                <h4 class="no-margins">
                                    {{ nbrGestions }}
                                    <div class="stat-percent font-bold text-info">
                                        {% set tot_gest = nbrGestions*100/nbrAgents %}{{  tot_gest | number_format(2, '.', ',') }}%
                                         <i class="fa fa-check"></i>
                                    </div>
                                </h4>
                                <br>

                                <a href="{{ path('moncompte_home', {cadres: 'executions'}) }}"><small><i class="fa fa-eye"></i> Executions</small></a>
                                <h4 class="no-margins">
                                    {{ nbrExecutions }}
                                    <div class="stat-percent font-bold text-info">
                                        {% set tot_exec = nbrExecutions*100/nbrAgents %}{{  tot_exec | number_format(2, '.', ',') }}%
                                        <i class="fa fa-check"></i>
                                    </div>
                                </h4>
                            </div>
                        </div>
                    </div>

                    {# STATUT #}
                    <div class="col-lg-2">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <span class="label label-primary pull-right">Pro</span>
                                <h5>Statut</h5>
                            </div>
                            <div class="ibox-content">
                                <a href="{{ path('moncompte_home', {statut: 'titulaires'}) }}"><small><i class="fa fa-eye"></i> Titulaires</small></a>
                                <h4 class="no-margins">
                                    {{ nbrTitulaire }}
                                </h4>
                                <br>

                                <a href="{{ path('moncompte_home', {statut: 'contractuels'}) }}"><small><i class="fa fa-eye"></i> Contractuels</small></a>
                                <h4 class="no-margins">
                                    {{ nbrContractuel }}
                                </h4>
                                <br>

                                <a href="{{ path('moncompte_home', {statut: 'probatoires'}) }}"><small><i class="fa fa-eye"></i> Probatoires</small></a>
                                <h4 class="no-margins">
                                    {{ nbrProbatoire }}
                                </h4>
                                <br>

                                <div class="row">
                                    <div class="col-md-6">
                                        <a href="{{ path('moncompte_home', {statut: 'temporaires'}) }}"><small>Temporaires</small></a>
                                        <h4 class="no-margins">
                                            {{ nbrTemporaire }}
                                        </h4>
                                    </div>

                                    <div class="col-md-6">
                                        <a href="{{ path('moncompte_home', {statut: 'stagiaires'}) }}"><small>Stagiaires</small></a>
                                        <h4 class="no-margins">
                                            {{ nbrStagiaire }}
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {# NGAZIDJA #}
                    <div class="col-lg-2">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <span class="label label-success pull-right">Rég. + G.</span>
                                <h5>Ngazidja</h5>
                            </div>
                            <div class="ibox-content">

                                {% set total_services_ngz = 0 %}
                                {% set total_service_dept_dir_ngz = 0 %}
                                {% set total_service_dir_ngz = 0 %}

                                {% for service_departementdirection in service_departementdirections if service_departementdirection.DepartementDirection.Direction.id != 8 and service_departementdirection.DepartementDirection.Direction.id != 10 %}
                                    {% set total_service_dept_dir_ngz = total_service_dept_dir_ngz + 1 %}
                                {% endfor %}

                                {% for service_direction in service_directions if service_direction.Direction.id != 8 and service_direction.Direction.id != 10 %}
                                    {% set total_service_dir_ngz = total_service_dir_ngz + 1 %}
                                {% endfor %}

                                {#{% set total_services_ngz = total_service_dept_dir_ngz + total_service_dir_ngz %}#}

                                {% set total_departements_ngz = 0 %}
                                {% for departement_direction in departement_directions if departement_direction.Direction.id != 8 and departement_direction.Direction.id != 10 %}
                                    {% set total_departements_ngz = total_departements_ngz + 1 %}
                                {% endfor %}

                                <p><a href="{{ path('moncompte_home', {ile_agence: 'Ngazidja'}) }}"><i class="fa fa-eye"></i> Agences :</a> {{ nbrAgencesNgz }}</p>
                                <p><a href="{{ path('moncompte_home', {ile_agent: 'Ngazidja'}) }}"><i class="fa fa-eye"></i> Agents :</a> {{ nbrAgentsNgz }}</p>
                                <p><a href="{{ path('moncompte_home', {ile_service_dept: 'Ngazidja'}) }}"><i class="fa fa-eye"></i> Srvs/Dept :</a> {{ total_service_dept_dir_ngz }}</p>
                                <p><a href="{{ path('moncompte_home', {ile_service_dir: 'Ngazidja'}) }}"><i class="fa fa-eye"></i> Srvs/Dir :</a> {{ total_service_dir_ngz }}</p>
                                <p><a href="{{ path('moncompte_home', {ile_dept: 'Ngazidja'}) }}"><i class="fa fa-eye"></i> Départements :</a> {{ total_departements_ngz }}</p>
                                <p><a href="{{ path('moncompte_home', {ile_dir: 'Ngazidja'}) }}"><i class="fa fa-eye"></i> Directions :</a> {{ nbrDirNgz }}</p>
                            </div>
                        </div>
                    </div>

                    {# MWALI #}
                    <div class="col-lg-2">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <span class="label label-warning pull-right">Régionale</span>
                                <h5>Mwali</h5>
                            </div>
                            <div class="ibox-content">

                                {% set total_services_mwa = 0 %}
                                {% set total_service_dept_dir_mwa = 0 %}
                                {% set total_service_dir_mwa = 0 %}

                                {% for service_departementdirection in service_departementdirections if service_departementdirection.DepartementDirection.Direction.id == 8 %}
                                    {% set total_service_dept_dir_mwa = total_service_dept_dir_mwa + 1 %}
                                {% endfor %}

                                {% for service_direction in service_directions if service_direction.Direction.id == 8 %}
                                    {% set total_service_dir_mwa = total_service_dir_mwa + 1 %}
                                {% endfor %}

                                {#{% set total_services_mwa = total_service_dept_dir_mwa + total_service_dir_mwa %}#}

                                {% set total_departements_mwa = 0 %}
                                {% for departement_direction in departement_directions if departement_direction.Direction.id == 8 %}
                                    {% set total_departements_mwa = total_departements_mwa + 1 %}
                                {% endfor %}

                                {#{% set total_projets_mwa = 0 %}
                                {% for direction in directions if direction.id == 8 %}
                                    {% set total_projets_mwa = total_projets_mwa + 1 %}
                                {% endfor %}#}
                                <p><a href="{{ path('moncompte_home', {ile_agence: 'Mwali'}) }}"><i class="fa fa-eye"></i> Agences :</a> {{ nbrAgencesMwa }}</p>
                                <p><a href="{{ path('moncompte_home', {ile_agent: 'Mwali'}) }}"><i class="fa fa-eye"></i> Agents :</a> {{ nbrAgentsMwa }}</small></p>
                                <p><a href="{{ path('moncompte_home', {ile_service_dept: 'Mwali'}) }}"><i class="fa fa-eye"></i> Srvs/Dept :</a> {{ total_service_dept_dir_mwa }}</p>
                                <p><a href="{{ path('moncompte_home', {ile_service_dir: 'Mwali'}) }}"><i class="fa fa-eye"></i> Srvs/Dir :</a> {{ total_service_dir_mwa }}</p>
                                <p><a href="{{ path('moncompte_home', {ile_dept: 'Mwali'}) }}"><i class="fa fa-eye"></i> Départements :</a> {{ total_departements_mwa }}</p>
                                <p><a href="{{ path('moncompte_home', {ile_dir: 'Mwali'}) }}"><i class="fa fa-eye"></i> Directions :</a> {{ nbrDirMwa }}</p>
                            </div>
                        </div>
                    </div>

                    {# NDZUANI #}
                    <div class="col-lg-2">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <span class="label label-danger pull-right">Régionale</span>
                                <h5>Ndzuani</h5>
                            </div>
                            <div class="ibox-content">

                                {% set total_services_ndz = 0 %}
                                {% set total_service_dept_dir_ndz = 0 %}
                                {% set total_service_dir_ndz = 0 %}
                                {% for service_departementdirection in service_departementdirections if service_departementdirection.DepartementDirection.Direction.id == 10 %}
                                    {% set total_service_dept_dir_ndz = total_service_dept_dir_ndz + 1 %}
                                {% endfor %}
                                {% for service_direction in service_directions if service_direction.Direction.id == 10 %}
                                    {% set total_service_dir_ndz = total_service_dir_ndz + 1 %}
                                {% endfor %}
                                {#{% set total_services_ndz = total_service_dept_dir_ndz + total_service_dir_ndz %}#}

                                {% set total_departements_ndz = 0 %}
                                {% for departement_direction in departement_directions if departement_direction.Direction.id == 10 %}
                                    {% set total_departements_ndz = total_departements_ndz + 1 %}
                                {% endfor %}

                                {#{% set total_projets_ndz = 0 %}
                                {% for direction in directions if direction.id == 10 %}
                                    {% set total_projets_ndz = total_projets_ndz + 1 %}
                                {% endfor %}#}
                                <p><a href="{{ path('moncompte_home', {ile_agence: 'Ndzuani'}) }}"><i class="fa fa-eye"></i> Agences :</a> {{ nbrAgencesNdz }}</p>
                                <p><a href="{{ path('moncompte_home', {ile_agent: 'Ndzuani'}) }}"><i class="fa fa-eye"></i> Agents :</a> {{ nbrAgentsNdz }}</p>
                                <p><a href="{{ path('moncompte_home', {ile_service_dept: 'Ndzuani'}) }}"><i class="fa fa-eye"></i> Srvs/Dept :</a> {{ total_service_dept_dir_ndz }}</p>
                                <p><a href="{{ path('moncompte_home', {ile_service_dir: 'Ndzuani'}) }}"><i class="fa fa-eye"></i> Srvs/Dir :</a> {{ total_service_dir_ndz }}</p>
                                <p><a href="{{ path('moncompte_home', {ile_dept: 'Ndzuani'}) }}"><i class="fa fa-eye"></i> Départements :</a> {{ total_departements_ndz }}</p>
                                <p><a href="{{ path('moncompte_home', {ile_dir: 'Ndzuani'}) }}"><i class="fa fa-eye"></i> Directions :</a> {{ nbrDirNdz }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                {% if app.request.get('agents') %}
                                    {% if app.request.get('agents') == 'h' %}
                                        <h5 class="text-success">Liste des hommes de Comores Telecom</h5>
                                    {% elseif app.request.get('agents') == 'f' %}
                                        <h5 class="text-success">Liste des femmes de Comores Telecom</h5>
                                    {% else %}
                                        <h5 class="text-success">Liste des agents de Comores Telecom</h5>
                                    {% endif %}
                                {% elseif app.request.get('cadres') %}
                                    {% if app.request.get('cadres') == 'dirigeants' %}
                                        <h5 class="text-info">Liste des cadres dirigeants de Comores Telecom</h5>
                                    {% elseif app.request.get('cadres') == 'superieurs' %}
                                        <h5 class="text-info">Liste des cadres supérieurs de Comores Telecom</h5>
                                    {% elseif app.request.get('cadres') == 'gestions' %}
                                        <h5 class="text-info">Liste des cadres de gestions de Comores Telecom</h5>
                                    {% elseif app.request.get('cadres') == 'executions' %}
                                        <h5 class="text-info">Liste des cadres d'executions de Comores Telecom</h5>
                                    {% else %}
                                        <h5 class="text-success">Liste des agents de Comores Telecom</h5>
                                    {% endif %}
                                {% elseif app.request.get('statut') %}
                                    {% if app.request.get('statut') == 'titulaires' %}
                                        <h5 class="text-primary">Liste des titulaires de Comores Telecom</h5>
                                    {% elseif app.request.get('statut') == 'contractuels' %}
                                        <h5 class="text-primary">Liste des contractuels de Comores Telecom</h5>
                                    {% elseif app.request.get('statut') == 'probatoires' %}
                                        <h5 class="text-primary">Liste des probatoires de Comores Telecom</h5>
                                    {% elseif app.request.get('statut') == 'temporaires' %}
                                        <h5 class="text-primary">Liste des temporaires de Comores Telecom</h5>
                                    {% elseif app.request.get('statut') == 'stagiaires' %}
                                        <h5 class="text-primary">Liste des stagiaires de Comores Telecom</h5>
                                    {% else %}
                                        <h5 class="text-success">Liste des agents de Comores Telecom</h5>
                                    {% endif %}
                                {% elseif app.request.get('ile_agent') %}
                                    {% if app.request.get('ile_agent') == 'Ngazidja' %}
                                        <h5 class="text-success">Liste des agents de la direction générale & régionale de Ngazidja</h5>
                                    {% elseif app.request.get('ile_agent') == 'Mwali' %}
                                        <h5 class="text-warning">Liste des agents de la direction régionale de Mwali</h5>
                                    {% elseif app.request.get('ile_agent') == 'Ndzuani' %}
                                        <h5 class="text-danger">Liste des agents de la direction régionale de Ndzuani</h5>
                                    {% else %}
                                        <h5 class="text-success">Liste des agents de Comores Telecom</h5>
                                    {% endif %}
                                {% elseif app.request.get('ile_agence') %}
                                    {% if app.request.get('ile_agence') == 'Ngazidja' %}
                                        <h5 class="text-success">Liste des agences de la direction générale & régionale de Ngazidja</h5>
                                    {% elseif app.request.get('ile_agence') == 'Mwali' %}
                                        <h5 class="text-warning">Liste des agences de la direction régionale de Mwali</h5>
                                    {% elseif app.request.get('ile_agence') == 'Ndzuani' %}
                                        <h5 class="text-danger">Liste des agences de la direction régionale de Ndzuani</h5>
                                    {% else %}
                                        <h5 class="text-success">Liste des agents de Comores Telecom</h5>
                                    {% endif %}
                                {% elseif app.request.get('ile_service_dept') %}
                                    {% if app.request.get('ile_service_dept') == 'Ngazidja' %}
                                        <h5 class="text-success">Liste des services liés à des departements de la direction générale & régionale de Ngazidja</h5>
                                    {% elseif app.request.get('ile_service_dept') == 'Mwali' %}
                                        <h5 class="text-warning">Liste des services liés à des departements de la direction régionale de Mwali</h5>
                                    {% elseif app.request.get('ile_service_dept') == 'Ndzuani' %}
                                        <h5 class="text-danger">Liste des services liés à des departements de la direction régionale de Ndzuani</h5>
                                    {% else %}
                                        <h5 class="text-success">Liste des agents de Comores Telecom</h5>
                                    {% endif %}
                                {% elseif app.request.get('ile_service_dir') %}
                                    {% if app.request.get('ile_service_dir') == 'Ngazidja' %}
                                        <h5 class="text-success">Liste des services de la direction générale & régionale de Ngazidja</h5>
                                    {% elseif app.request.get('ile_service_dir') == 'Mwali' %}
                                        <h5 class="text-warning">Liste des services de la direction régionale de Mwali</h5>
                                    {% elseif app.request.get('ile_service_dir') == 'Ndzuani' %}
                                        <h5 class="text-danger">Liste des services de la direction régionale de Ndzuani</h5>
                                    {% else %}
                                        <h5 class="text-success">Liste des agents de Comores Telecom</h5>
                                    {% endif %}
                                {% elseif app.request.get('ile_dept') %}
                                    {% if app.request.get('ile_dept') == 'Ngazidja' %}
                                        <h5 class="text-success">Liste des départements de la direction générale & régionale de Ngazidja</h5>
                                    {% elseif app.request.get('ile_dept') == 'Mwali' %}
                                        <h5 class="text-warning">Liste des départements de la direction régionale de Mwali</h5>
                                    {% elseif app.request.get('ile_dept') == 'Ndzuani' %}
                                        <h5 class="text-danger">Liste des départements de la direction régionale de Ndzuani</h5>
                                    {% else %}
                                        <h5 class="text-success">Liste des agents de Comores Telecom</h5>
                                    {% endif %}
                                {% elseif app.request.get('ile_dir') %}
                                    {% if app.request.get('ile_dir') == 'Ngazidja' %}
                                        <h5 class="text-success">Liste des directions de la direction générale & régionale de Ngazidja</h5>
                                    {% elseif app.request.get('ile_dir') == 'Mwali' %}
                                        <h5 class="text-warning">La direction régionale de Mwali</h5>
                                    {% elseif app.request.get('ile_dir') == 'Ndzuani' %}
                                        <h5 class="text-danger">La direction régionale de Ndzuani</h5>
                                    {% else %}
                                        <h5 class="text-success">Liste des agents de Comores Telecom</h5>
                                    {% endif %}
                                {% else %}
                                    <h5 class="text-success">Liste des agents de Comores Telecom</h5>
                                {% endif %}
                            </div>
                            <div class="ibox-content">

                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover dataTables-example" >
                                        {% if app.request.get('ile_agence') %}
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Agences</th>
                                                    <th>Une direction dans l'agence?</th>
                                                    <th>Des départements dans l'agence?</th>
                                                    <th>Des services dans l'agence?</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% set filtre_ile_agence = app.request.get('ile_agence') %}
                                                {% if filtre_ile_agence == 'Ngazidja' %}
                                                    {% for agence in agencesNgazidja %}
                                                        {{ include('agence/tr_home_agences.html.twig') }}
                                                    {% else %}
                                                        <tr>
                                                            <td colspan="3">Aucune agence trouvée!</td>
                                                        </tr>
                                                    {% endfor %}
                                                {% elseif filtre_ile_agence == 'Mwali' %}
                                                    {% for agence in agencesMwali %}
                                                        {{ include('agence/tr_home_agences.html.twig') }}
                                                    {% else %}
                                                        <tr>
                                                            <td colspan="3">Aucune agence trouvée!</td>
                                                        </tr>
                                                    {% endfor %}
                                                {% elseif filtre_ile_agence == 'Ndzuani' %}
                                                    {% for agence in agencesNdzuani %}
                                                        {{ include('agence/tr_home_agences.html.twig') }}
                                                    {% else %}
                                                        <tr>
                                                            <td colspan="3">Aucune agence trouvée!</td>
                                                        </tr>
                                                    {% endfor %}
                                                {% else %}
                                                    {% for user in users %}
                                                        {{ include('info/tr_home_agents.html.twig') }}
                                                    {% endfor %}
                                                {% endif %}
                                            </tbody>
                                            {#<tfoot>
                                            <tr>
                                                <td colspan="5">
                                                    <ul class="pagination pull-right"></ul>
                                                </td>
                                            </tr>
                                            </tfoot>#}
                                        {% elseif app.request.get('ile_service_dept') %}
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Service</th>
                                                    <th>Département</th>
                                                    <th>Direction</th>
                                                    <th>Agence</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% set filtre_ile_service = app.request.get('ile_service_dept') %}
                                                {% if filtre_ile_service == 'Ngazidja' %}
                                                    {% for svc in servicesDeptNgazidja %}
                                                        {{ include('service_departementdirection/tr_home_services_dept.html.twig') }}
                                                    {% else %}
                                                        <tr>
                                                            <td colspan="3">Aucun service trouvé!</td>
                                                        </tr>
                                                    {% endfor %}
                                                {% elseif filtre_ile_service == 'Mwali' %}
                                                    {% for svc in servicesDeptMwali %}
                                                        {{ include('service_departementdirection/tr_home_services_dept.html.twig') }}
                                                    {% else %}
                                                        <tr>
                                                            <td colspan="3">Aucun service trouvé!</td>
                                                        </tr>
                                                    {% endfor %}
                                                {% elseif filtre_ile_service == 'Ndzuani' %}
                                                    {% for svc in servicesDeptNdzuani %}
                                                        {{ include('service_departementdirection/tr_home_services_dept.html.twig') }}
                                                    {% else %}
                                                        <tr>
                                                            <td colspan="3">Aucun service trouvé!</td>
                                                        </tr>
                                                    {% endfor %}
                                                {% else %}
                                                    {% for user in users %}
                                                        {{ include('info/tr_home_agents.html.twig') }}
                                                    {% endfor %}
                                                {% endif %}
                                            </tbody>
                                        {% elseif app.request.get('ile_service_dir') %}
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Service</th>
                                                <th>Direction</th>
                                                <th>Agence</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% set filtre_ile_service = app.request.get('ile_service_dir') %}
                                            {% if filtre_ile_service == 'Ngazidja' %}
                                                {% for svc in servicesDirNgazidja %}
                                                    {{ include('service_direction/tr_home_services_dir.html.twig') }}
                                                {% else %}
                                                    <tr>
                                                        <td colspan="3">Aucun service trouvé!</td>
                                                    </tr>
                                                {% endfor %}
                                            {% elseif filtre_ile_service == 'Mwali' %}
                                                {% for svc in servicesDirMwali %}
                                                    {{ include('service_direction/tr_home_services_dir.html.twig') }}
                                                {% else %}
                                                    <tr>
                                                        <td colspan="3">Aucun service trouvé!</td>
                                                    </tr>
                                                {% endfor %}
                                            {% elseif filtre_ile_service == 'Ndzuani' %}
                                                {% for svc in servicesDirNdzuani %}
                                                    {{ include('service_direction/tr_home_services_dir.html.twig') }}
                                                {% else %}
                                                    <tr>
                                                        <td colspan="3">Aucun service trouvé!</td>
                                                    </tr>
                                                {% endfor %}
                                            {% else %}
                                                {% for user in users %}
                                                    {{ include('info/tr_home_agents.html.twig') }}
                                                {% endfor %}
                                            {% endif %}
                                            </tbody>
                                        {% elseif app.request.get('ile_dept') %}
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Département</th>
                                                <th>Services liés</th>
                                                <th>Direction</th>
                                                <th>Agence</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% set filtre_ile_dept = app.request.get('ile_dept') %}
                                            {% if filtre_ile_dept == 'Ngazidja' %}
                                                {% for dpt in deptsNgazidja %}
                                                    {{ include('departement_direction/tr_home_depts_dir.html.twig') }}
                                                {% else %}
                                                    <tr>
                                                        <td colspan="3">Aucun département trouvé!</td>
                                                    </tr>
                                                {% endfor %}
                                            {% elseif filtre_ile_dept == 'Mwali' %}
                                                {% for dpt in deptsMwali %}
                                                    {{ include('departement_direction/tr_home_depts_dir.html.twig') }}
                                                {% else %}
                                                    <tr>
                                                        <td colspan="3">Aucun département trouvé!</td>
                                                    </tr>
                                                {% endfor %}
                                            {% elseif filtre_ile_dept == 'Ndzuani' %}
                                                {% for dpt in deptsNdzuani %}
                                                    {{ include('departement_direction/tr_home_depts_dir.html.twig') }}
                                                {% else %}
                                                    <tr>
                                                        <td colspan="3">Aucun département trouvé!</td>
                                                    </tr>
                                                {% endfor %}
                                            {% else %}
                                                {% for user in users %}
                                                    {{ include('info/tr_home_agents.html.twig') }}
                                                {% endfor %}
                                            {% endif %}
                                            </tbody>
                                        {% elseif app.request.get('ile_dir') %}
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Direction</th>
                                                <th>Départements liés</th>
                                                <th>Agence</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% set filtre_ile_dir = app.request.get('ile_dir') %}
                                            {% if filtre_ile_dir == 'Ngazidja' %}
                                                {% for dir in dirsNgazidja %}
                                                    {{ include('departement_direction/tr_home_dirs.html.twig') }}
                                                {% else %}
                                                    <tr>
                                                        <td colspan="3">Aucune direction trouvée!</td>
                                                    </tr>
                                                {% endfor %}
                                            {% elseif filtre_ile_dir == 'Mwali' %}
                                                {% for dir in dirMwali %}
                                                    {{ include('departement_direction/tr_home_dirs.html.twig') }}
                                                {% else %}
                                                    <tr>
                                                        <td colspan="3">Aucune direction trouvée!</td>
                                                    </tr>
                                                {% endfor %}
                                            {% elseif filtre_ile_dir == 'Ndzuani' %}
                                                {% for dir in dirNdzuani %}
                                                    {{ include('departement_direction/tr_home_dirs.html.twig') }}
                                                {% else %}
                                                    <tr>
                                                        <td colspan="3">Aucune direction trouvée!</td>
                                                    </tr>
                                                {% endfor %}
                                            {% else %}
                                                {% for user in users %}
                                                    {{ include('info/tr_home_agents.html.twig') }}
                                                {% endfor %}
                                            {% endif %}
                                            </tbody>
                                        {% else %}
                                            <thead>
                                            <tr>
                                                <th>Matricule</th>
                                                <th>Photo</th>
                                                <th>Nom et Prénom</th>
                                                <th>Poste</th>
                                                <th>Tel</th>
                                                <th>E-mail</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if app.request.get('agents') %}
                                                {% set filtre_agents = app.request.get('agents') %}
                                                {% if filtre_agents == 'h' %}
                                                    {% for user in agentsH %}
                                                        {{ include('info/tr_home_agents.html.twig') }}
                                                    {% endfor %}
                                                {% elseif filtre_agents == 'f' %}
                                                    {% for user in agentsF %}
                                                        {{ include('info/tr_home_agents.html.twig') }}
                                                    {% endfor %}
                                                {% else %}
                                                    {% for user in users %}
                                                        {{ include('info/tr_home_agents.html.twig') }}
                                                    {% endfor %}
                                                {% endif %}
                                            {% elseif app.request.get('cadres') %}
                                                {% set filtre_cadres = app.request.get('cadres') %}
                                                {% if filtre_cadres == 'dirigeants' %}
                                                    {% for user in cadreDirigeants %}
                                                        {{ include('info/tr_home_agents.html.twig') }}
                                                    {% endfor %}
                                                {% elseif filtre_cadres == 'superieurs' %}
                                                    {% for user in cadreSuperieurs %}
                                                        {{ include('info/tr_home_agents.html.twig') }}
                                                    {% endfor %}
                                                {% elseif filtre_cadres == 'gestions' %}
                                                    {% for user in cadreGestions %}
                                                        {{ include('info/tr_home_agents.html.twig') }}
                                                    {% endfor %}
                                                {% elseif filtre_cadres == 'executions' %}
                                                    {% for user in cadreExecutions %}
                                                        {{ include('info/tr_home_agents.html.twig') }}
                                                    {% endfor %}
                                                {% else %}
                                                    {% for user in users %}
                                                        {{ include('info/tr_home_agents.html.twig') }}
                                                    {% endfor %}
                                                {% endif %}
                                            {% elseif app.request.get('statut') %}
                                                {% set filtre_statut = app.request.get('statut') %}
                                                {% if filtre_statut == 'titulaires' %}
                                                    {% for user in titulaires %}
                                                        {{ include('info/tr_home_agents.html.twig') }}
                                                    {% endfor %}
                                                {% elseif filtre_statut == 'contractuels' %}
                                                    {% for user in contractuels %}
                                                        {{ include('info/tr_home_agents.html.twig') }}
                                                    {% endfor %}
                                                {% elseif filtre_statut == 'probatoires' %}
                                                    {% for user in probatoires %}
                                                        {{ include('info/tr_home_agents.html.twig') }}
                                                    {% endfor %}
                                                {% elseif filtre_statut == 'temporaires' %}
                                                    {% for user in temporaires %}
                                                        {{ include('info/tr_home_agents.html.twig') }}
                                                    {% endfor %}
                                                {% elseif filtre_statut == 'stagiaires' %}
                                                    {% for user in stagiaires %}
                                                        {{ include('info/tr_home_agents.html.twig') }}
                                                    {% endfor %}
                                                {% else %}
                                                    {% for user in users %}
                                                        {{ include('info/tr_home_agents.html.twig') }}
                                                    {% endfor %}
                                                {% endif %}
                                            {% elseif app.request.get('ile_agent') %}
                                                {% set filtre_ile_agent = app.request.get('ile_agent') %}
                                                {% if filtre_ile_agent == 'Ngazidja' %}
                                                    {% for user in agentsNgazidja %}
                                                        {{ include('info/tr_home_agents.html.twig') }}
                                                    {% endfor %}
                                                {% elseif filtre_ile_agent == 'Mwali' %}
                                                    {% for user in agentsMwali %}
                                                        {{ include('info/tr_home_agents.html.twig') }}
                                                    {% endfor %}
                                                {% elseif filtre_ile_agent == 'Ndzuani' %}
                                                    {% for user in agentsNdzuani %}
                                                        {{ include('info/tr_home_agents.html.twig') }}
                                                    {% endfor %}
                                                {% else %}
                                                    {% for user in users %}
                                                        {{ include('info/tr_home_agents.html.twig') }}
                                                    {% endfor %}
                                                {% endif %}
                                            {% else %}
                                                {% for user in users %}
                                                    {{ include('info/tr_home_agents.html.twig') }}
                                                {% endfor %}
                                            {% endif %}
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <th>Matricule</th>
                                                <th>Photo</th>
                                                <th>Nom et Prénom</th>
                                                <th>Poste</th>
                                                <th>Tel</th>
                                                <th>E-mail</th>
                                            </tr>
                                            </tfoot>
                                        {% endif %}
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    {{ parent() }}
    {{ include('_generals_includes/skin-config.html') }}

    {# Data table #}
    <script type="text/javascript" src="{{ asset('js/plugins/dataTables/datatables.min.js') }}"></script>

    <script>
        $(document).ready(function(){
            $('.dataTables-example').DataTable({
                pageLength: 25,
                responsive: true,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy'},
                    {extend: 'csv'},
                    {extend: 'excel', title: 'ExampleFile'},
                    {extend: 'pdf', title: 'ExampleFile'},

                    {extend: 'print',
                        customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]

            });

        });

    </script>

{% endblock javascripts %}

