{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Ecoles et universités {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Data table --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/dataTables/datatables.min.css') }}">
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}

            <div class="wrapper wrapper-content animated fadeInRight">

                <div class="row">

                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Mes expériences ailleurs</h5>
                            </div>
                            <div class="ibox-content">

                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover dataTables-example" >
                                        <thead>
                                        <tr>
                                            <th>Responsable en charge</th>
                                            <th>Entité organisatrice</th>
                                            <th>Détails</th>
                                            <th>Responsabilités</th>
                                            <th>Périodes</th>
                                            <th>Dir/Dept/serv</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for formation in formations %}
                                        <tr class="gradeX">
                                            <td>
                                                {{ formation.responsableEnCharge }}<br/>
                                            </td>
                                            <td>
                                                {{ formation.societe }} <br/>
                                            </td>
                                            <td>
                                                {{ formation.observations | nl2br }} <br/>
                                            </td>
                                            <td>
                                                {{ formation.posteOccupe }} <br/>
                                            </td>
                                            <td>
                                                {{ formation.dateDebutAt | date('d-m-Y') }} au {{ formation.dateFinAt | date('d-m-Y') }}
                                            </td>
                                            <td class="center">
                                                {{ formation.dirDeptServ }}
                                            </td>
                                        </tr>
                                        {% else %}
                                        <tr>
                                            <td>Aucun enregistrement trouvé! </td>
                                        </tr>
                                        {% endfor %}
                                        </tfoot>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/plugins/dataTables/datatables.min.js') }}"></script>

    <script>
        $(document).ready(function(){
            $('.dataTables-example').DataTable({
                pageLength: 25,
                responsive: true,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy'},
                    {extend: 'csv'},
                    {extend: 'excel', title: 'ExampleFile'},
                    {extend: 'pdf', title: 'ExampleFile'},

                    {extend: 'print',
                        customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]

            });

        });

    </script>
{% endblock javascripts %}
