{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Profil {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Morris --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/morris/morris-0.4.3.min.css') }}" />

        <link rel="stylesheet" href="{{ asset('css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css') }}">
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}

            {#{% for message in app.flashes('warning') %}
                <div class="alert alert-warning alert-dismissable">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    {{ message }}
                </div>
            {% endfor %}#}

            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}
            {% set option_id = 0 %}
            {% for user_option_visibilite in user_option_visibilites %}
                {% set option_id = user_option_visibilite.id  %}
            {% endfor %}
            {# ===== Vérification des données pour afficher dans le menu comme notifications ======= #}
            {% set val = 0 %}

            {% if app.user is null or app.user is empty %}
                {% set val = val+1 %}
            {% endif %}

            {% if app.user.matricule is null or app.user.matricule is empty %}
                {% set val = val+1 %}
            {% endif %}

            {% set tel_length = app.user.tel | length %}
            {% if app.user.tel is null or app.user.tel is empty or tel_length <7 %}
                {% set val = val+1 %}
            {% endif %}

            {% if app.user.categorie is null or app.user.categorie is empty  %}
                {% set val = val+1 %}
            {% endif %}

            {% if app.user.adresse == 'adresse' or app.user.adresse is null or app.user.adresse is empty %}
                {% set val = val+1 %}
            {% endif %}

            {% if app.user.email is null or app.user.email is empty %}
                {% set val = val+1 %}
            {% endif %}

            {% if app.user.dateNaissanceAt is null or app.user.dateNaissanceAt is empty %}
                {% set val = val+1 %}
            {% endif %}

            {% if app.user.lieuDeNaissance is null or app.user.lieuDeNaissance is empty %}
                {% set val = val+1 %}
            {% endif %}

            {% if app.user.password == '$2y$13$ilOxTmRUj5de1EiWvbm/9O.FxhJJB.4E1j/tz4qyA5HnH8nMM0Zxu' %}
                {% set val = val+1 %}
                {% set motdepasse_vulnerable = 'true' %}
            {% endif %}

            {% if app.user.indiceGroupe is null or app.user.indiceGroupe is empty or app.user.retraite == 'Classement de base éronné'  %}
                {% set val = val+1 %}
            {% endif %}

            {% if app.user.indiceCategorie is null or app.user.indiceCategorie is empty or app.user.retraite == 'Classement de base éronné'  %}
                {% set val = val+1 %}
            {% endif %}

            {% if app.user.indiceEchelon is null or app.user.indiceEchelon is empty or app.user.retraite == 'Classement de base éronné'  %}
                {% set val = val+1 %}
            {% endif %}

            <div class="row border-bottom white-bg">
                <nav class="navbar" role="navigation" style="padding: 0px; margin-bottom: 0px;">
                    <div class="navbar-collapse collapse" id="navbar">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="text text-success"> Paramètres de mon compte</b> <span class="caret"></span></a>
                                <ul role="menu" class="dropdown-menu">
                                    <li><a href="{{ path('moncompte_edit_infos', {id: app.user.id, slug: app.user.slug}) }}"><span class="fa fa-edit"></span> Données personnelles</a></li>
                                    <li><a href="{{ path('fos_user_change_password') }}"><span class="fa fa-edit"></span> Mot de passe</a></li>
                                    <li><a href="{{ path('moncompte_visibilite', {'id': option_id}) }}"><span class="fa fa-edit"></span> Confidentialité</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href=" {{ path('moncompte_administration') }} "> <b class="text text-success"> Mon admin</b> <i class="fa fa-gear"></i>
                                    {% if val > 0 %}
                                    <span class="badge badge-danger">{{ val }}</span>
                                    {% endif %}
                                </a>
                            </li>
                            {#<li class="dropdown border-right">
                                <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> <b class="text text-success"> Menu item</b> <span class="caret"></span></a>
                                <ul role="menu" class="dropdown-menu">
                                    <li><a href="">Menu item</a></li>
                                    <li><a href="">Menu item</a></li>
                                    <li><a href="">Menu item</a></li>
                                    <li><a href="">Menu item</a></li>
                                </ul>
                            </li>#}

                        </ul>
                    </div>
                </nav>
            </div>

            <div class="wrapper wrapper-content">

                <div class="row m-b-lg m-t-lg">
                    <div class="col-md-6">

                        <div class="profile-image">
                            {% if app.user.image and not null %}
                                {% if app.user.isActiveNow and app.user.UserOptionVisibilite.optEnligne is defined and app.user.UserOptionVisibilite.optEnligne is not null %}
                                    {% if app.user.UserOptionVisibilite.optEnligne == 1 %}
                                        <img src="{{ asset('uploads/images/users/' ~ app.user.image) }}" class="img-circle circle-border-online m-b-md" alt="profile">
                                    {% else %}
                                        <img src="{{ asset('uploads/images/users/' ~ app.user.image) }}" class="img-circle circle-border m-b-md" alt="profile">
                                    {% endif %}
                                {% else %}
                                    <img src="{{ asset('uploads/images/users/' ~ app.user.image) }}" class="img-circle circle-border-online m-b-md" alt="profile">
                                {% endif %}
                            {% else %}
                                {% if app.user.isActiveNow and app.user.UserOptionVisibilite.optEnligne is defined and app.user.UserOptionVisibilite.optEnligne is not null %}
                                    {% if app.user.UserOptionVisibilite.optEnligne == 1 %}
                                        <img src="{{ asset('uploads/images/users/no_image.jpg') }}" class="img-circle circle-border-online m-b-md" alt="profile">
                                    {% else %}
                                        <img src="{{ asset('uploads/images/users/no_image.jpg') }}" class="img-circle circle-border m-b-md" alt="profile">
                                    {% endif %}
                                {% else %}
                                    <img src="{{ asset('uploads/images/users/no_image.jpg') }}" class="img-circle circle-border-online m-b-md" alt="profile">
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="profile-info">
                            <div class="">
                                <div>
                                    <h2 class="no-margins">
                                        {% if app.user %}
                                            {{ app.user.nomPrenom }}
                                        {% endif %}
                                    </h2>
                                    <h4>
                                        {{ poste ? poste.poste : '' }}
                                    </h4>
                                    <small>
                                        @Mail : {{ app.user.email }} <br />
                                        (Dernière connexion : <strong>{{ app.user.lastLogin | localizeddate('long', 'short') }}</strong>)
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {#<div class="col-md-4">
                        <table class="table small m-b-xs">
                            <tbody>
                            <tr>
                                <td>
                                    <strong>8</strong> Projets
                                </td>
                                <td>
                                    <strong>22</strong> Followers
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <strong>61</strong> Commentaires
                                </td>
                                <td>
                                    <strong>54</strong> Articles
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>154</strong> J'aime
                                </td>
                                <td>
                                    <strong>32</strong> Amis
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>#}
                    <div class="col-md-6">
                        {% set nbr_connexion = 0 %}
                        {% set nbr_connexion = app.user.loginCount / 3 %}
                        <small>Nbr de connexion :</small>
                        <h2 class="no-margins">{{ nbr_connexion }}</h2>
                        {#<div id="sparkline1"></div>#}
                        <small>Ma première connexion :</small>
                        <h5 class="no-margins">{{ app.user.firstLogin | localizeddate('long', 'short') }}</h5>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-3">

                        <div class="ibox">
                            <div class="ibox-content ibox-heading">
                                <h3><i class="fa fa-id-card"></i> Mes coordonnées</h3>
                                <small><i class="fa fa-info"></i> Mes informations de profil </small>
                            </div>
                            <div class="ibox-content">


                                <p class="small">
                                    <strong>Nom d'utilisateur :</strong> {{ app.user.username }}<br/>
                                    <strong>Date de naissance :</strong> {{ app.user.dateNaissanceAt | date("d/m/Y") }}<br/>
                                    {% if app.user.adresse %}<strong>Adresse :</strong> {{ app.user.adresse }}<br/>{% endif %}
                                    <strong>Tel :</strong> {{ app.user.tel }}<br/><br/>
                                    <strong>Matricule :</strong> {{ app.user.matricule }}<br/>
                                    {#
                                    {% for poste_user_service in poste_user_services if poste_user_service.PosteUser.user == app.user %}
                                        <strong>Service :</strong>
                                        {{ poste_user_service.service }}<br/>
                                    {% endfor %}

                                    {% for poste_user_departement in poste_user_departements if poste_user_departement.PosteUser.user == app.user %}
                                        <strong>Département :</strong>
                                        {{ poste_user_departement.departement }}<br/>
                                    {% endfor %}

                                    {% for poste_user_direction in poste_user_directions if poste_user_direction.PosteUser.user == app.user %}
                                        <strong>Direction :</strong>
                                        {{ poste_user_direction.direction }}<br/>
                                    {% endfor %}

                                    {% for post_user in poste_users if post_user.user == app.user %}
                                        <strong>Poste :</strong>
                                        {{ post_user.poste }}<br/>
                                    {% endfor %}

                                    {% for post_user in poste_users if post_user.user == app.user %}
                                        {% set fonctions = post_user.fonctions %}
                                        {% for fonction in fonctions %}
                                            {% if loop.index < 2 %}<strong>Fonction(s) :</strong>{% endif %}
                                            {% if loop.index > 1 %}-{% endif %} {{ fonction.designation }}<br/>
                                        {% endfor %}
                                    {% endfor %}

                                    #}

                                    <strong>Indice :</strong> {{ app.user.indiceGroupe ~ '.' ~ app.user.indiceCategorie ~ '.' ~ app.user.indiceEchelon }}<br/>
                                    {% if app.user.statut %}<strong>Statut :</strong> {{ app.user.statut }}<br/>{% endif %}
                                    {% if app.user.categorie %}<strong>Catégorie :</strong> {{ app.user.categorie }}{% endif %}
                                </p>
                                <p class="small">
                                    <strong>Niveau académique : </strong>
                                </p>

                                {#<p class="small font-bold">
                                    <a href="" data-toggle="modal" data-target="#myModal"><i class="fa fa-eye"></i> Visibilité de mes données</a>
                                    <div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content animated bounceInRight">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
                                                    {% if app.user.image and not null %}
                                                        {% if app.user.enligne == 1 %}
                                                            <img alt="image" width="96px" class="img-circle circle-border-online m-b-md" src="{{ asset('uploads/images/users/' ~ app.user.image) }}" />
                                                        {% else %}
                                                            <img alt="image" width="96px" class="img-circle circle-border m-b-md" src="{{ asset('uploads/images/users/' ~ app.user.image) }}" />
                                                        {% endif %}
                                                    {% else %}
                                                        {% if app.user.enligne == 1 %}
                                                            <img alt="image" class="img-circle circle-border-online m-b-md" src="{{ asset('uploads/images/users/no_image_small.jpg') }}" />
                                                        {% else %}
                                                            <img alt="image" class="img-circle circle-border m-b-md" src="{{ asset('uploads/images/users/no_image_small.jpg') }}" />
                                                        {% endif %}
                                                    {% endif %}
                                                    <h4 class="modal-title">{{ app.user.nomPrenom }}</h4>
                                                    <small class="font-bold">
                                                        {% for post_user in poste_users if post_user.user == app.user %}
                                                            {% if post_user.poste %}
                                                                {{ post_user.poste }}
                                                            {% else %}
                                                                <i class="text-danger">Poste manquant</i>
                                                            {% endif %}
                                                        {% endfor %}

                                                        {% for poste_user_service in poste_user_services if poste_user_service.PosteUser.user == app.user %}
                                                            <strong>Service :</strong>
                                                            {{ poste_user_service.service }}<br/>
                                                        {% endfor %}

                                                        {% for poste_user_departement in poste_user_departements if poste_user_departement.PosteUser.user == app.user %}
                                                            {{ poste_user_departement.departement }}<br/>
                                                        {% endfor %}

                                                        {% for poste_user_direction in poste_user_directions if poste_user_direction.PosteUser.user == app.user %}
                                                            {{ poste_user_direction.direction }}<br/>
                                                        {% endfor %}
                                                    </small>
                                                </div>
                                                <div class="modal-body">
                                                    <p>
                                                        <form method="post" href="{{ path('moncompte_visibilite', {'id': app.user.id}) }}">
                                                            <div class="checkbox checkbox-primary">
                                                                <input id="checkbox3" type="checkbox" >
                                                                <label for="checkbox3">
                                                                    Rendre visible la date de naissance ?
                                                                </label>
                                                            </div>
                                                        </form>
                                                    <ul>
                                                        <li><strong>Matricule :</strong> {{ app.user.matricule }}</li>
                                                        <li><strong>Nom d'utilisateur :</strong> {{app. user.username }}</li>
                                                        <li><strong>Date de naissance :</strong> {{ app.user.dateNaissanceAt | date("d/m/Y") }}</li>
                                                        {% if app.user.adresse %}<li><strong>Adresse :</strong> {{ app.user.adresse }}</li>{% endif %}

                                                        <li><strong>Tel :</strong> {{ app.user.tel }}</li>
                                                        <li>
                                                            {% for post_user in poste_users if post_user.user == app.user %}
                                                                {% set fonctions = post_user.fonctions %}
                                                                {% for fonction in fonctions %}
                                                                    {% if loop.index < 2 %}<strong>Fonction(s) :</strong>{% endif %}
                                                                    {% if loop.index > 1 %} / {% endif %} {{ fonction.designation }}
                                                                {% endfor %}
                                                            {% endfor %}
                                                        </li>

                                                        <li><strong>Indice :</strong> {{ app.user.indiceGroupe ~ '.' ~ app.user.indiceCategorie ~ '.' ~ app.user.indiceEchelon }}</li>
                                                        <li>{% if app.user.statut %}<strong>Statut :</strong> {{ app.user.statut }}{% endif %}</li>
                                                        <li>{% if app.user.categorie %}<strong>Catégorie :</strong> {{ app.user.categorie }}{% endif %}</li>
                                                        <li><strong>@Mail :</strong> {{ app.user.email }}</li>

                                                        <li>
                                                            {% if app.user.enligne %}
                                                                <i class="fa fa-circle text-navy"></i> <strong>Statut :</strong> En ligne
                                                            {% else %}
                                                                <i class="fa fa-circle-o text-navy"></i> <strong>Statut :</strong> Hors ligne
                                                            {% endif %}
                                                        </li>
                                                    </ul>
                                                    </p>
                                                </div>
                                                <div class="modal-footer">
                                                    #}{#<button type="button" class="btn btn-primary">Envoyer un message</button>#}{#
                                                    <button type="button" class="btn btn-white" data-dismiss="modal">Fermer</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </p>#}
                                <p class="small font-bold">
                                    <strong>Statut : </strong>
                                        {% if app.user.isActiveNow %}
                                            {% if app.user.UserOptionVisibilite.optEnligne is defined and not null %}
                                                {% if app.user.UserOptionVisibilite.optEnligne == 1 %}
                                                    <i class="fa fa-circle text-navy"></i> En ligne
                                                {% else %}
                                                    <i class="fa fa-circle text-danger"></i> Hors ligne
                                                {% endif %}
                                            {% else %}
                                                <i class="fa fa-circle text-navy"></i> En ligne
                                            {% endif %}
                                        {% endif %}
                                </p>
                            </div>
                        </div>

                        <div class="ibox">
                            <div class="ibox-content">
                                <h3>Mes documents</h3>
                                <ul class="list-unstyled file-list">
                                    <li><a href=""><i class="fa fa-file"></i> Décision_0215626.docx</a></li>
                                    <li><a href=""><i class="fa fa-file-picture-o"></i> Contrat_64565.jpg</a></li>
                                    <li><a href=""><i class="fa fa-stack-exchange"></i> Email_from_Alex.mln</a></li>
                                    {#<li><a href=""><i class="fa fa-file"></i> Contract_20_11_2014.docx</a></li>
                                    <li><a href=""><i class="fa fa-file-powerpoint-o"></i> Presentation.pptx</a></li>
                                    <li><a href=""><i class="fa fa-file"></i> 10_08_2015.docx</a></li>#}
                                </ul>
                            </div>
                        </div>

                        {#<div class="ibox">
                            <div class="ibox-content">
                                <h3>Mes amis et Followers</h3>
                                <p class="small">
                                    Quelques amis et des gens qui me suivent
                                </p>
                                <div class="user-friends">
                                    <a href=""><img alt="image" class="img-circle" src="{{ asset('uploads/images/users/no_image_small.jpg') }}"></a>
                                    <a href=""><img alt="image" class="img-circle" src="{{ asset('uploads/images/users/no_image_small.jpg') }}"></a>
                                    <a href=""><img alt="image" class="img-circle" src="{{ asset('uploads/images/users/no_image_small.jpg') }}"></a>
                                    <a href=""><img alt="image" class="img-circle" src="{{ asset('uploads/images/users/no_image_small.jpg') }}"></a>
                                    <a href=""><img alt="image" class="img-circle" src="{{ asset('uploads/images/users/no_image_small.jpg') }}"></a>
                                    <a href=""><img alt="image" class="img-circle" src="{{ asset('uploads/images/users/no_image_small.jpg') }}"></a>
                                    <a href=""><img alt="image" class="img-circle" src="{{ asset('uploads/images/users/no_image_small.jpg') }}"></a>
                                    <a href=""><img alt="image" class="img-circle" src="{{ asset('uploads/images/users/no_image_small.jpg') }}"></a>
                                    #}{#<a href=""><img alt="image" class="img-circle" src="{{ asset('uploads/images/users/no_image_small.jpg') }}"></a>
                                    <a href=""><img alt="image" class="img-circle" src="{{ asset('uploads/images/users/no_image_small.jpg') }}"></a>#}{#
                                </div>
                            </div>
                        </div>#}

                        {#<div class="ibox">
                            <div class="ibox-content">
                                <h3>Message privé</h3>

                                <p class="small">
                                    Envoyer un message au service carrière.
                                </p>

                                <div class="form-group">
                                    <label>Subjet</label>
                                    <input type="email" class="form-control" placeholder="Sujet du message">
                                </div>
                                <div class="form-group">
                                    <label>Message</label>
                                    <textarea class="form-control" placeholder="Votre message ici ..." rows="3"></textarea>
                                </div>
                                <button class="btn btn-primary btn-block">Envoyer</button>

                            </div>
                        </div>#}

                    </div>
                    <div class="col-lg-5">

                        {# ===================================================
                                        EVENEMENTS
                       ===================================================  #}
                        <div class="social-feed-box">
                            <div class="ibox-content ibox-heading">
                                <h3><i class="fa fa-pied-piper-alt"></i> Mes événements</h3>
                                <small><i class="fa fa-tim"></i> Total événements enregistrés : </small>
                            </div>
                            <div class="ibox-content">

                                {% set evs = user.getEvStages() %}
                                {% for ev in evs if ev %}
                                <div class="feed-element">
                                    <div>
                                        <small class="pull-right text-navy"><i class="fa fa-check text-navy"></i></small>
                                        <strong>Stage</strong>
                                        <div>Référence : {{ ev.reference }}</div>
                                        <small class="text-muted">{{ ev.dateDebutAt | date('d.m.Y') }} - {{ ev.dateFinAt | date('d.m.Y') }}</small>
                                    </div>
                                </div>
                                    {% else %}
                                        <strong class="text-danger">Stage non enregistré </strong>
                                {% endfor %}
                                <div class="hr-line-dashed" style="margin-top: 1px;"></div>

                                {% set evs = user.getEvRecrutements() %}
                                {% for ev in evs if ev %}
                                    <div class="feed-element">
                                        <div>
                                            <small class="pull-right text-navy"><i class="fa fa-check text-navy"></i></small>
                                            <strong>Recrutement</strong>
                                            <div>Référence : {{ ev.reference }}</div>
                                            <small class="text-muted">{{ ev.dateRecrutementAt | date('d.m.Y') }}</small>
                                        </div>
                                    </div>
                                {% else %}
                                    <strong class="text-danger">Recrutement non enregistré </strong>
                                {% endfor %}
                                <div class="hr-line-dashed" style="margin-top: 1px;"></div>

                                {#//renouvellementdecontrat #}
                                {% set evs = user.getEvRenouvellementdecontrats() %}
                                {% for ev in evs if ev %}
                                    <div class="feed-element">
                                        <div>
                                            <small class="pull-right text-navy"><i class="fa fa-check text-navy"></i></small>
                                            <strong>Renouv. de contrat</strong>
                                            <div>Référence : {{ ev.reference }}</div>
                                            <small class="text-muted">{{ ev.dateRenouvellementdecontratAt | date('d.m.Y') }}</small>
                                        </div>
                                    </div>
                                {% else %}
                                    <strong class="text-danger">Renouv. de contrat non enregistré </strong>
                                {% endfor %}
                                <div class="hr-line-dashed" style="margin-top: 1px;"></div>

                                {# //titularisation #}
                                {% set evs = user.getEvTitularisations() %}
                                {% for ev in evs if ev %}
                                    <div class="feed-element">
                                        <div>
                                            <small class="pull-right text-navy"><i class="fa fa-check text-navy"></i></small>
                                            <strong>Ttitularisation</strong>
                                            <div>Référence : {{ ev.reference }}</div>
                                            <small class="text-muted">{{ ev.dateTitularisationAt | date('d.m.Y') }}</small>
                                        </div>
                                    </div>
                                {% else %}
                                    <strong class="text-danger">Ttitularisation non enregistrée </strong>
                                {% endfor %}
                                <div class="hr-line-dashed" style="margin-top: 1px;"></div>

                                {# //reclassement #}
                                {% set evs = user.getEvReclassements() %}
                                {% for ev in evs if ev %}
                                    <div class="feed-element">
                                        <div>
                                            <small class="pull-right text-navy"><i class="fa fa-check text-navy"></i></small>
                                            <strong>Reclassement</strong>
                                            <div>Référence : {{ ev.reference }}</div>
                                            <small class="text-muted">{{ ev.dateReclassementAt | date('d.m.Y') }}</small>
                                        </div>
                                    </div>
                                {% else %}
                                    <strong class="text-danger">Reclassement non enregistré </strong>
                                {% endfor %}
                                <div class="hr-line-dashed" style="margin-top: 1px;"></div>


                                {# //avancementnormal #}
                                {% set evs = user.getEvAvancementnormals() %}
                                {% for ev in evs if ev %}
                                    <div class="feed-element">
                                        <div>
                                            <small class="pull-right text-navy"><i class="fa fa-check text-navy"></i></small>
                                            <strong>Avancement normal</strong>
                                            <div>Référence : {{ ev.reference }}</div>
                                            <small class="text-muted">{{ ev.dateAvancementnormalAt | date('d.m.Y') }}</small>
                                        </div>
                                    </div>
                                {% else %}
                                    <strong class="text-danger">Avancement normal non enregistré </strong>
                                {% endfor %}
                                <div class="hr-line-dashed" style="margin-top: 1px;"></div>

                                {# //promotioninterne #}
                                {% set evs = user.getEvPromotioninternes() %}
                                {% for ev in evs if ev %}
                                    <div class="feed-element">
                                        <div>
                                            <small class="pull-right text-navy"><i class="fa fa-check text-navy"></i></small>
                                            <strong>Promotion interne</strong>
                                            <div>Référence : {{ ev.reference }}</div>
                                            <small class="text-muted">{{ ev.datePromotioninterneAt | date('d.m.Y') }}</small>
                                        </div>
                                    </div>
                                {% else %}
                                    <strong class="text-danger">Aucune Promotion interne </strong>
                                {% endfor %}
                                <div class="hr-line-dashed" style="margin-top: 1px;"></div>

                                {# //nomination  #}
                                {% set evs = user.getEvNominations() %}
                                {% for ev in evs if ev %}
                                    <div class="feed-element">
                                        <div>
                                            <small class="pull-right text-navy"><i class="fa fa-check text-navy"></i></small>
                                            <strong>Nomination</strong>
                                            <div>Référence : {{ ev.reference }}</div>
                                            <small class="text-muted">{{ ev.dateNominationAt | date('d.m.Y') }}</small>
                                        </div>
                                    </div>
                                {% else %}
                                    <strong class="text-danger">Aucune Nomination </strong>
                                {% endfor %}
                                <div class="hr-line-dashed" style="margin-top: 1px;"></div>

                                {# //affectation#}
                                {% set evs = user.getEvAffectations() %}
                                {% for ev in evs if ev %}
                                    <div class="feed-element">
                                        <div>
                                            <small class="pull-right text-navy"><i class="fa fa-check text-navy"></i></small>
                                            <strong>Affectation</strong>
                                            <div>Référence : {{ ev.reference }}</div>
                                            <small class="text-muted">{{ ev.dateAffectationAt | date('d.m.Y') }}</small>
                                        </div>
                                    </div>
                                {% else %}
                                    <strong class="text-danger">Aucune Affectation </strong>
                                {% endfor %}
                                <div class="hr-line-dashed" style="margin-top: 1px;"></div>

                                {#//avertissement #}
                                {% set evs = user.getEvAvertissements() %}
                                {% for ev in evs if ev %}
                                    <div class="feed-element">
                                        <div>
                                            <small class="pull-right text-navy"><i class="fa fa-check text-navy"></i></small>
                                            <strong>Avertissement</strong>
                                            <div>Référence : {{ ev.reference }}</div>
                                            <small class="text-muted">{{ ev.dateAvertissementAt | date('d.m.Y') }}</small>
                                        </div>
                                    </div>
                                {% else %}
                                    <strong class="text-danger">Aucun avertissement </strong>
                                {% endfor %}
                                <div class="hr-line-dashed" style="margin-top: 1px;"></div>

                                {#//demisedefonction #}
                                {% set evs = user.getEvDemisedefonctions() %}
                                {% for ev in evs if ev %}
                                    <div class="feed-element">
                                        <div>
                                            <small class="pull-right text-navy"><i class="fa fa-check text-navy"></i></small>
                                            <strong>Démise de fonction</strong>
                                            <div>Référence : {{ ev.reference }}</div>
                                            <small class="text-muted">{{ ev.dateDemisedefonctionAt | date('d.m.Y') }}</small>
                                        </div>
                                    </div>
                                {% else %}
                                    <strong class="text-danger">Aucune démise de fonction </strong>
                                {% endfor %}
                                <div class="hr-line-dashed" style="margin-top: 1px;"></div>

                                {# //miseapied #}
                                {% set evs = user.getEvMiseapieds() %}
                                {% for ev in evs if ev %}
                                    <div class="feed-element">
                                        <div>
                                            <small class="pull-right text-navy"><i class="fa fa-check text-navy"></i></small>
                                            <strong>Mise à pied</strong>
                                            <div>Référence : {{ ev.reference }}</div>
                                            <small class="text-muted">{{ ev.dateMiseapiedAt | date('d.m.Y') }}</small>
                                        </div>
                                    </div>
                                {% else %}
                                    <strong class="text-danger">Aucune mise à pied </strong>
                                {% endfor %}
                                <div class="hr-line-dashed" style="margin-top: 1px;"></div>

                                {# //suspension #}
                                {% set evs = user.getEvSuspensions() %}
                                {% for ev in evs if ev %}
                                    <div class="feed-element">
                                        <div>
                                            <small class="pull-right text-navy"><i class="fa fa-check text-navy"></i></small>
                                            <strong>Suspension</strong>
                                            <div>Référence : {{ ev.reference }}</div>
                                            <small class="text-muted">{{ ev.dateSuspensionAt | date('d.m.Y') }}</small>
                                        </div>
                                    </div>
                                {% else %}
                                    <strong class="text-danger">Aucune suspension </strong>
                                {% endfor %}
                                <div class="hr-line-dashed" style="margin-top: 1px;"></div>

                                {# //annulationdedecision #}
                                {% set evs = user.getEvAnnulationdedecisions() %}
                                {% for ev in evs if ev %}
                                    <div class="feed-element">
                                        <div>
                                            <small class="pull-right text-navy"><i class="fa fa-check text-navy"></i></small>
                                            <strong>Annulation de decision</strong>
                                            <div>Référence : {{ ev.reference }}</div>
                                            <small class="text-muted">{{ ev.dateAnnulationdedecisionAt | date('d.m.Y') }}</small>
                                        </div>
                                    </div>
                                {% else %}
                                    <strong class="text-danger">Aucune annulation </strong>
                                {% endfor %}
                                <div class="hr-line-dashed" style="margin-top: 1px;"></div>

                                {# //suspensiondesalaire #}
                                {% set evs = user.getEvSuspensiondesalaires() %}
                                {% for ev in evs if ev %}
                                    <div class="feed-element">
                                        <div>
                                            <small class="pull-right text-navy"><i class="fa fa-check text-navy"></i></small>
                                            <strong>Suspension de salaire</strong>
                                            <div>Référence : {{ ev.reference }}</div>
                                            <small class="text-muted">{{ ev.dateSuspensiondesalaireAt | date('d.m.Y') }}</small>
                                        </div>
                                    </div>
                                {% else %}
                                    <strong class="text-danger">Aucune suspension de salaire</strong>
                                {% endfor %}
                                <div class="hr-line-dashed" style="margin-top: 1px;"></div>

                                {# //demission#}
                                {% set evs = user.getEvDemissions() %}
                                {% for ev in evs if ev %}
                                    <div class="feed-element">
                                        <div>
                                            <small class="pull-right text-navy"><i class="fa fa-check text-navy"></i></small>
                                            <strong>Démission</strong>
                                            <div>Référence : {{ ev.reference }}</div>
                                            <small class="text-muted">{{ ev.dateDemissionAt | date('d.m.Y') }}</small>
                                        </div>
                                    </div>
                                {% else %}
                                    <strong class="text-danger">Aucune démission</strong>
                                {% endfor %}
                                <div class="hr-line-dashed" style="margin-top: 1px;"></div>

                                {# //licenciement#}
                                {% set evs = user.getEvLicenciements() %}
                                {% for ev in evs if ev %}
                                    <div class="feed-element">
                                        <div>
                                            <small class="pull-right text-navy"><i class="fa fa-check text-navy"></i></small>
                                            <strong>Licenciement</strong>
                                            <div>Référence : {{ ev.reference }}</div>
                                            <small class="text-muted">{{ ev.dateLicenciementAt | date('d.m.Y') }}</small>
                                        </div>
                                    </div>
                                {% else %}
                                    <strong class="text-danger">Aucun licenciement</strong>
                                {% endfor %}
                                <div class="hr-line-dashed" style="margin-top: 1px;"></div>

                                {# //retraite#}
                                {% set evs = user.getEvRetraites() %}
                                {% for ev in evs if ev %}
                                    <div class="feed-element">
                                        <div>
                                            <small class="pull-right text-navy"><i class="fa fa-check text-navy"></i></small>
                                            <strong>Retraite</strong>
                                            <div>Référence : {{ ev.reference }}</div>
                                            <small class="text-muted">{{ ev.dateRetraiteAt | date('d.m.Y') }}</small>
                                        </div>
                                    </div>
                                {% else %}
                                    <strong class="text-danger">Aucune retraite</strong>
                                {% endfor %}
                                <div class="hr-line-dashed" style="margin-top: 1px;"></div>

                                {# //deces#}
                                {% set evs = user.getEvDecess() %}
                                {% for ev in evs if ev %}
                                    <div class="feed-element">
                                        <div>
                                            <small class="pull-right text-navy"><i class="fa fa-check text-navy"></i></small>
                                            <strong>Décès</strong>
                                            <div>Référence : {{ ev.reference }}</div>
                                            <small class="text-muted">{{ ev.dateDecesAt | date('d.m.Y') }}</small>
                                        </div>
                                    </div>
                                {% else %}
                                    <strong class="text-danger">Aucun décès enregistré</strong>
                                {% endfor %}
                                <div class="hr-line-dashed" style="margin-top: 1px;"></div>

                                {# //reintegration#}
                                {% set evs = user.getEvReintegrations() %}
                                {% for ev in evs if ev %}
                                    <div class="feed-element">
                                        <div>
                                            <small class="pull-right text-navy"><i class="fa fa-check text-navy"></i></small>
                                            <strong>Réintégration</strong>
                                            <div>Référence : {{ ev.reference }}</div>
                                            <small class="text-muted">{{ ev.dateReintegrationAt | date('d.m.Y') }}</small>
                                        </div>
                                    </div>
                                {% else %}
                                    <strong class="text-danger">Aucune réintégration</strong>
                                {% endfor %}
                                <div class="hr-line-dashed" style="margin-top: 1px;"></div>

                                {# //reprisedefonction#}
                                {% set evs = user.getEvReprisedefonctions() %}
                                {% for ev in evs if ev %}
                                    <div class="feed-element">
                                        <div>
                                            <small class="pull-right text-navy"><i class="fa fa-check text-navy"></i></small>
                                            <strong>Reprise de fonction</strong>
                                            <div>Référence : {{ ev.reference }}</div>
                                            <small class="text-muted">{{ ev.dateReprisedefonctionAt | date('d.m.Y') }}</small>
                                        </div>
                                    </div>
                                {% else %}
                                    <strong class="text-danger">Aucune reprise de fonction</strong>
                                {% endfor %}
                                <div class="hr-line-dashed" style="margin-top: 1px;"></div>

                                {# //levedesuspension#}
                                {% set evs = user.getEvLevedesuspensions() %}
                                {% for ev in evs if ev %}
                                    <div class="feed-element">
                                        <div>
                                            <small class="pull-right text-navy"><i class="fa fa-check text-navy"></i></small>
                                            <strong>Levée de suspension</strong>
                                            <div>Référence : {{ ev.reference }}</div>
                                            <small class="text-muted">{{ ev.dateLevedesuspensionAt | date('d.m.Y') }}</small>
                                        </div>
                                    </div>
                                {% else %}
                                    <strong class="text-danger">Aucune levée de suspension</strong>
                                {% endfor %}
                                <div class="hr-line-dashed" style="margin-top: 1px;"></div>

                                {#  //interim#}
                                {% set evs = user.getEvInterims() %}
                                {% for ev in evs if ev %}
                                    <div class="feed-element">
                                        <div>
                                            <small class="pull-right text-navy"><i class="fa fa-check text-navy"></i></small>
                                            <strong>Intérim</strong>
                                            <div>Référence : {{ ev.reference }}</div>
                                            <small class="text-muted">{{ ev.dateInterimAt | date('d.m.Y') }}</small>
                                        </div>
                                    </div>
                                {% else %}
                                    <strong class="text-danger">Aucun intérim enregistré</strong>
                                {% endfor %}
                                <div class="hr-line-dashed" style="margin-top: 1px;"></div>

                                {# //rectificationdunom#}
                                {% set evs = user.getEvRectificationdunoms() %}
                                {% for ev in evs if ev %}
                                    <div class="feed-element">
                                        <div>
                                            <small class="pull-right text-navy"><i class="fa fa-check text-navy"></i></small>
                                            <strong>Réctification du nom</strong>
                                            <div>Référence : {{ ev.reference }}</div>
                                            <small class="text-muted">{{ ev.dateRectificationdunomAt | date('d.m.Y') }}</small>
                                        </div>
                                    </div>
                                {% else %}
                                    <strong class="text-danger">Aucune réctification du nom enregistrée</strong>
                                {% endfor %}
                                <div class="hr-line-dashed" style="margin-top: 1px;"></div>

                                {# //indemniteforfaitaire#}
                                {% set evs = user.getEvIndemniteforfaitaires() %}
                                {% for ev in evs if ev %}
                                    <div class="feed-element">
                                        <div>
                                            <small class="pull-right text-navy"><i class="fa fa-check text-navy"></i></small>
                                            <strong>Indémnité forfaitaire</strong>
                                            <div>Référence : {{ ev.reference }}</div>
                                            <small class="text-muted">{{ ev.dateIndemniteforfaitaireAt | date('d.m.Y') }}</small>
                                        </div>
                                    </div>
                                {% else %}
                                    <strong class="text-danger">Aucune indémnité forfaitaire</strong>
                                {% endfor %}
                                <div class="hr-line-dashed" style="margin-top: 1px;"></div>

                                {# //disponibilite#}
                                {% set evs = user.getEvDisponibilites() %}
                                {% for ev in evs if ev %}
                                    <div class="feed-element">
                                        <div>
                                            <small class="pull-right text-navy"><i class="fa fa-check text-navy"></i></small>
                                            <strong>Disponibilité</strong>
                                            <div>Référence : {{ ev.reference }}</div>
                                            <small class="text-muted">{{ ev.dateDisponibiliteAt | date('d.m.Y') }}</small>
                                        </div>
                                    </div>
                                {% else %}
                                    <strong class="text-danger">Aucune disponibilité</strong>
                                {% endfor %}
                                <div class="hr-line-dashed" style="margin-top: 1px;"></div>

                                {# //conge#}
                                {% set evs = user.getEvConges() %}
                                {% for ev in evs if ev %}
                                    <div class="feed-element">
                                        <div>
                                            <small class="pull-right text-navy"><i class="fa fa-check text-navy"></i></small>
                                            <strong>Congé</strong>
                                            <div>Référence : {{ ev.reference }}</div>
                                            <div>Nature : {{ ev.natureConge }}</div>
                                            <small class="text-muted">{{ ev.dateCongeAt | date('d.m.Y') }}</small>
                                        </div>
                                    </div>
                                {% else %}
                                    <strong class="text-danger">Aucun congé enregistré</strong>
                                {% endfor %}
                                <div class="hr-line-dashed" style="margin-top: 1px;"></div>


                            </div>

                        </div>

                    </div>

                    {# ===================================================
                                ECOLES ET FORMATIONS
                       ===================================================  #}
                    <div class="col-lg-4 m-b-lg">
                        <div id="vertical-timeline" class="vertical-container light-timeline no-margins">
                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon yellow-bg">
                                    <i class="fa fa-graduation-cap"></i>
                                </div>

                                <div class="vertical-timeline-content">
                                    <h2>Formations académiques</h2>
                                    <a href="{{ path('moncompte_mesformations') }}" class="btn btn-sm btn-info">Plus d'infos</a>
                                    <span class="vertical-date">
                                        Total {{ nbrFormationsAcademique }}<br>
                                        <small>

                                        </small>
                                    </span>
                                </div>
                            </div>

                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon blue-bg">
                                    <i class="fa fa-book"></i>
                                </div>

                                <div class="vertical-timeline-content">
                                    <h2>Autres formations <span class="small text-navy"> non académiques</span></h2>

                                    <a href="{{ path('moncompte_mesformations_non_academiques') }}" class="btn btn-sm btn-success"> Plus d'infos </a>
                                    <span class="vertical-date">
                                        Total {{ nbrFormationsNonAcademique }}<br>
                                        <small>

                                        </small>
                                    </span>
                                </div>
                            </div>

                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon lazur-bg">
                                    <i class="fa fa-file-text"></i>
                                </div>

                                <div class="vertical-timeline-content">
                                    <h2>Expériences ailleurs</h2>

                                    <a href="{{ path('moncompte_experiences_ailleurs') }}" class="btn btn-sm btn-info">Plus d'infos</a>
                                    <span class="vertical-date">
                                        Total {{ nbrExperienceAilleurs }}<br>
                                        <small>

                                        </small>
                                    </span>
                                </div>
                            </div>

                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon navy-bg">
                                    <i class="fa fa-comments"></i>
                                </div>

                                <div class="vertical-timeline-content">
                                    <h2>Tâches attribuées</h2>

                                    <p>
                                        {% if tachesDeFonction %}
                                        {{ tachesDeFonction.posteConcerne }} <br/>
                                        <ul>
                                        {% for tache in tachesDeFonction.taches %}
                                            <li>{{ tache.designation }} </li>
                                        {% endfor %}
                                        </ul>
                                        {% else %}
                                            <ul>
                                                <li class="text-danger"> Aucune tâche attribuée </li>
                                            </ul>
                                    {% endif %}
                                    </p>
                                    {#
                                    <span class="vertical-date">Yesterday <br><small>Dec 23</small></span>
                                    #}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    {{ parent() }}
    <!-- FooTable -->
    <script type="text/javascript" src="{{ asset('js/plugins/footable/footable.all.min.js') }}"></script>


{% endblock javascripts %}

