{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Contact des agents {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Morris --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css') }}">
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}
            <div class="wrapper wrapper-content">
                <div class="row">
                    <h1 class="hidden">Empplacement pour la notification</h1>

                </div>
                <div class="row animated fadeIn">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5><i class="fa fa-info-circle"></i> <small >Téléphones et e-mails</small></h5>
                                <span class="pull-right"><h5>Total des agents : </h5> &nbsp;{{ users | length }} /  {{ total_users }}</span>
                            </div>
                            <div class="ibox-content">
                                <div class="row">
                                    {#
                                    <div class="col-sm-9 m-b-xs">
                                        <div data-toggle="buttons" class="btn-group">
                                            <label class="btn btn-sm btn-white"> <input type="radio" id="option1" name="options"> Day </label>
                                            <label class="btn btn-sm btn-white active"> <input type="radio" id="option2" name="options"> Week </label>
                                            <label class="btn btn-sm btn-white"> <input type="radio" id="option3" name="options"> Month </label>
                                        </div>
                                    </div>

                                    #}
                                    <div class="col-sm-7 m-b-xs">
                                        {% if is_granted('ROLE_ADMIN_GCAR') %}
                                        <a href="{{ path('fos_user_registration_register') }}" class="btn btn-sm btn-primary">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                        {% endif %}
                                    </div>

                                    <div class="col-sm-5">
                                        {{ form_start(formSearch, {
                                            'attr': {
                                                'class': 'form-horizontal',
                                                'role': 'form'
                                            }
                                        }) }}
                                        <div class="input-group">

                                            {{ form_widget(formSearch.matricule,{
                                                'attr' : {
                                                    'class':'input-sm form-control',
                                                    'placeholder': 'Matricule/nom/prénom/tel ou e-mail'
                                                }
                                            }) }}

                                            <span class="input-group-btn">
                                                <button type="submit" class="btn btn-sm btn-primary"> Recherche</button>
                                            </span>
                                        </div>
                                        {{ form_end(formSearch) }}
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>

                                            <th>#</th>
                                            <th>Nom Prénom </th>
                                            <th>Tel </th>
                                            <th>E-mail </th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for user in users %}
                                        <tr>
                                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                            {#
                                            <td>
                                                <form action="{{ path('ping',{ user: user.id}) }}" method="post">
                                                    <button class="btn btn-primary">Ping</button>
                                                </form>
                                            </td>
                                            #}

                                            {% endif %}
                                            <td>{{ user.matricule }}</td>

                                            <td>
                                                {{ user.nomPrenom }}
                                            </td>


                                            <td><i class="fa fa-phone text-navy"></i>{%  set tel = user.tel | length %} {%  if tel < 7 %} Aucun {% else %}{{ user.tel }}{% endif %}</td>

                                            {% set email = user.email %}
                                            <td>{% if email %}{{ email }}{% else %} Aucun {% endif %}</td>

                                            <td>
                                                {% if is_granted('ROLE_ADMIN_GCAR') %}
                                                <a type="button" class="btn btn-primary btn-sm" href="{{ path('info_profile_agent', {id: user.id}) }}">

                                                        <i class="fa fa-user-circle-o"></i>

                                                </a>
                                                {# SI L'UTILISATEUR EST ADMIN GCAR #}

                                                <a href="{{ path('admin.users_gcar.edit', {id: user.id}) }}">
                                                    <label class="btn btn-sm btn-danger">
                                                        <i class="fa fa-edit"></i>
                                                    </label>
                                                </a>

                                                <div class="btn-group">
                                                    <button data-toggle="dropdown" class="btn btn-primary btn-sm dropdown-toggle">D'autres options <span class="caret"></span></button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="{{ path('info_evenement_agent', {id:user.id}) }}">Ses événements</a></li>

                                                        <li><a href="{{ path('info_profile_agent', {id: user.id}) }}">Son profil</a></li>
                                                        {#
                                                        <li><a href="#">Something else here</a></li>
                                                        <li class="divider"></li>
                                                        <li><a href="#">Separated link</a></li>
                                                        #}
                                                    </ul>
                                                </div>
                                                {% endif %}
                                            </td>

                                        </tr>
                                        {% endfor %}
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                            <div class="pagination">
                                {{ knp_pagination_render(users) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    {{ parent() }}

    <script>
        const url = new URL('http://localhost:3000/hub');
        url.searchParams.append('topic', 'http://comorestelecom.km/ping');
        const eventSource = new EventSource(url,{withCredentials: true});
        eventSource.onmessage = e => {
            document.querySelector('h1').insertAdjacentHTML('afterend', '<div class="alert alert-success">Wizzzzz!</div>');
            window.setTimeout(() => {
                const $alert = document.querySelector('.alert');
                $alert.parentNode.removeChild($alert)
            }, 4000)
        }


    </script>

{% endblock javascripts %}

