{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Contact des agents hors fonction{% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Morris --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css') }}">
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}
            <div class="wrapper wrapper-content">
                <div class="row animated fadeIn">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5><i class="fa fa-info-circle"></i> <small >Téléphones et e-mails des agents concerncés par : Licenciement, Démission, Retraite, Décès...</small></h5>
                                <span class="pull-right"><h5>Total des agents : </h5> &nbsp;{{ users | length }} /  {{ total_users }}</span>
                            </div>
                            <div class="ibox-content">
                                <div class="row">

                                    <div class="col-sm-5 pull-right">
                                        {{ form_start(formSearch, {
                                            'attr': {
                                                'class': 'form-horizontal',
                                                'role': 'form'
                                            }
                                        }) }}
                                        <div class="input-group">

                                            {{ form_widget(formSearch.matricule,{
                                                'attr' : {
                                                    'class':'input-sm form-control',
                                                    'placeholder': 'Matricule/nom/prénom/tel ou e-mail'
                                                }
                                            }) }}

                                            <span class="input-group-btn">
                                                <button type="submit" class="btn btn-sm btn-primary"> Recherche</button>
                                            </span>
                                        </div>
                                        {{ form_end(formSearch) }}
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>

                                            <th>#</th>
                                            <th>Nom Prénom </th>
                                            <th>Evenement concerné </th>
                                            <th>Tel </th>
                                            <th>E-mail </th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for user in users %}
                                        <tr>
                                            <td>{{ user.matricule }}</td>

                                            <td>
                                                {{ user.nomPrenom }}

                                            </td>
                                            <td>
                                                {% set affichage = '' %}
                                                {% if 'Retraite' in user.enfonctionData %}
                                                    {% set affichage = 'Retraite' %}
                                                {% elseif 'Licenciement' in user.enfonctionData %}
                                                    {% set affichage = 'Licenciement' %}
                                                {% elseif 'Démission' in user.enfonctionData %}
                                                    {% set affichage = 'Démission' %}
                                                {% elseif 'Décès' in user.enfonctionData %}
                                                    {% set affichage = 'Décès' %}
                                                {% endif %}
                                                    {{ affichage }}
                                            </td>

                                            <td><i class="fa fa-phone text-navy"></i>{%  set tel = user.tel | length %} {%  if tel < 7 %} Aucun {% else %}{{ user.tel }}{% endif %}</td>

                                            {% set email = user.email %}
                                            <td>{% if email %}{{ email }}{% else %} Aucun {% endif %}</td>

                                            <td>
                                                <a href="#">
                                                    <a href="#" class="btn btn-sm btn-primary">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                </a>
                                            </td>

                                        </tr>
                                        {% endfor %}
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                            <div class="pagination">
                                {{ knp_pagination_render(users) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    {{ parent() }}


{% endblock javascripts %}

