{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Agents filtrés {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        <!-- FooTable -->
        <link rel="stylesheet" href="{{ asset('css/plugins/dataTables/datatables.min.css') }}" />

        <link rel="stylesheet" href="{{ asset('css/plugins/chosen/bootstrap-chosen.css') }}">
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}

            {# Tests d'affichage du titre au dessus du tableau #}
            {% set titre = '' %}
            {% if responsabilite == 0 %}
                {% if filtre == 'tous' %}
                    {% set titre = 'Tous [Agents]' %}
                {% elseif filtre == 'enfonction' %}
                    {% set titre = 'Agents en services' %}
                {% elseif filtre == 'horsservice' %}
                    {% set titre = 'Agents hors service' %}
                {% elseif filtre == 1 %}
                    {% set titre = 'Agents titulaires' %}
                {% elseif filtre == 2 %}
                    {% set titre = 'Agents contractuels' %}
                {% elseif filtre == 3 %}
                    {% set titre = 'Agents stagiaires' %}
                {% elseif filtre == 4 %}
                    {% set titre = 'Agents probatoires' %}
                {% elseif filtre == 5 %}
                    {% set titre = 'Agents temporaires' %}
                {% endif %}
            {% elseif responsabilite == 1 %}
                {% set titre = 'Filtrage par fonction : ' %}
            {% elseif responsabilite == 2 or responsabilite == 3 %}
                {% set titre = 'Agents du service : ' %}
            {% elseif responsabilite == 4 %}
                {% set titre = 'Agents du département : ' %}
            {% elseif responsabilite == 5 %}
                {% set titre = 'Agents de la direction : ' %}
            {% elseif responsabilite == 6 %}
                {% set titre = 'Catégorie : ' %}
            {% endif %}
            {# Fin des tests d'affichage du titre #}

            <div class="wrapper wrapper-content  animated fadeInRight">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="ibox ">

                            <div class="ibox-content">
                                <div class="client-detail">
                                            <div class="full-height-scroll">

                                                {#
                                                <div class="btn-group col-sm-12" style="padding-right: 0px; padding-left: 0px;" >
                                                    <button data-toggle="dropdown" class="btn btn-block btn-primary btn-primary dropdown-toggle">Filtrer par responsabilité : <span class="caret"></span></button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="{{ path('info_liste_agents', {responsabilite: 1, filtre:1}) }}">Directeur</a></li>
                                                        <li><a href="{{ path('info_liste_agents', {responsabilite: 1, filtre:'Chef de département'}) }}">Chefs de département</a></li>
                                                        <li><a href="#">Chefs de service</a></li>
                                                        <li><a href="#">Chefs de groupe</a></li>
                                                        <li><a href="#">Chefs des établissements</a></li>
                                                        <li><a href="#">Chefs de projet</a></li>
                                                        <li><a href="#">Chargés</a></li>
                                                        <li><a href="#">Conseillers</a></li>
                                                        <li><a href="#">Coordinateurs</a></li>
                                                        <li class="divider"></li>
                                                        <li><a href="#">filtre separé </a></li>
                                                    </ul>
                                                </div>
                                                #}

                                                <div class="form-group">
                                                    <div>
                                                        <select data-placeholder="Filter par poste..." class="chosen-select"  tabindex="2" onchange="location = this.value;">
                                                            <option value="">Filtrer par catégorie : </option>
                                                            {% for cat in categorie %}
                                                                <option  value="{{ path('info_liste_agents', {responsabilite: 6, filtre:cat.id}) }}">{{ cat.designation }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div>
                                                        <select data-placeholder="Filter par poste..." class="chosen-select"  tabindex="2" onchange="location = this.value;">
                                                            <option value="">Filtrer par poste [fonction] : </option>
                                                            {% for poste in postes %}
                                                                <option  value="{{ path('info_liste_agents', {responsabilite: 1, filtre:poste.id}) }}">{{ poste.designation }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div>
                                                        <select data-placeholder="Filter par poste..." class="chosen-select"  tabindex="2" onchange="location = this.value;">
                                                            <option value="">Filtrer par service de dir : </option>
                                                            {% for s_Dir in servicesDir %}
                                                                <option  value="{{ path('info_liste_agents', {responsabilite: 2, filtre:s_Dir.id}) }}">{{ s_Dir.serv_designation }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div>
                                                        <select data-placeholder="Filter par poste..." class="chosen-select"  tabindex="2" onchange="location = this.value;">
                                                            <option value="">Filtrer par service de dépt : </option>
                                                            {% for s_Dpt in servicesDpt %}
                                                                <option  value="{{ path('info_liste_agents', {responsabilite: 3, filtre:s_Dpt.id}) }}">{{ s_Dpt.serv_designation }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div>
                                                        <select data-placeholder="Filter par poste..." class="chosen-select"  tabindex="2" onchange="location = this.value;">
                                                            <option value="">Filtrer par département : </option>
                                                            {% for dpt in departement %}
                                                                <option  value="{{ path('info_liste_agents', {responsabilite: 4, filtre:dpt.id}) }}">{{ dpt.departement_designation }} | {{ dpt.direction_designation  }} </option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div>
                                                        <select data-placeholder="Filter par poste..." class="chosen-select"  tabindex="2" onchange="location = this.value;">
                                                            <option value="">Filtrer par direction : </option>
                                                            {% for dir in direction %}
                                                                <option  value="{{ path('info_liste_agents', {responsabilite: 5, filtre:dir.id}) }}">{{ dir.designation }} | {{ dir.designation  }} </option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>


                                                <br/>
                                                <strong>Filtrer par : </strong>

                                                <ul class="list-group clear-list">
                                                    <li class="list-group-item fist-item">
                                                        {# <span class="pull-right"> nbr </span> #}
                                                        <a href="{{ path('info_liste_agents', {responsabilite: 0, filtre: 'tous'}) }}">Tous</a>
                                                    </li>
                                                    <li class="list-group-item">
                                                        {# <span class="pull-right"> nbr </span> #}
                                                        <a href="{{ path('info_liste_agents', {responsabilite: 0, filtre: 'enfonction'}) }}">En service</a>
                                                    </li>
                                                    <li class="list-group-item">
                                                        {# <span class="pull-right"> nbr </span> #}
                                                        <a href="{{ path('info_liste_agents',{responsabilite: 0, filtre:'horsservice'}) }}">Hors service</a>
                                                    </li>
                                                    <li class="list-group-item">
                                                        {# <span class="pull-right"> nbr </span> #}
                                                        <a href="{{ path('info_liste_agents', {responsabilite: 0, filtre: 1}) }}">Titulaires</a>
                                                    </li>
                                                    <li class="list-group-item">
                                                        {# <span class="pull-right"> nbr </span> #}
                                                        <a href="{{ path('info_liste_agents', {responsabilite: 0, filtre: 2}) }}">Contractuels</a>
                                                    </li>
                                                    <li class="list-group-item">
                                                        {# <span class="pull-right"> nbr </span> #}
                                                        <a href="{{ path('info_liste_agents', {responsabilite: 0, filtre: 3}) }}">Stagiaires</a>
                                                    </li>
                                                    <li class="list-group-item">
                                                        {# <span class="pull-right"> nbr </span> #}
                                                        <a href="{{ path('info_liste_agents', {responsabilite: 0, filtre: 4}) }}">Probatoires</a>
                                                    </li>
                                                    <li class="list-group-item">
                                                        {# <span class="pull-right"> nbr </span> #}
                                                        <a href="{{ path('info_liste_agents', {responsabilite: 0, filtre: 5}) }}">Temporaires</a>
                                                    </li>
                                                    {% if is_granted ('ROLE_SUPER_ADMIN') %}
                                                        <li class="list-group-item">
                                                            <a href="{{ path('info_liste_agents', {agents: 'enligne'}) }}"><span class="fa fa-circle text-navy"> En ligne</span></a>
                                                        </li>
                                                    {% endif %}
                                                    {#
                                                    <li class="list-group-item">
                                                         <span class="text-danger pull-right"> Mazal </span>
                                                        <a href="">Ngazidja</a>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <span class="text-danger pull-right"> Mazal </span>
                                                        <a href="">Ndzuani</a>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <span class="text-danger pull-right"> Mazal </span>
                                                        <a href="">Mwali</a>
                                                    </li>
                                                    #}

                                                </ul>
                                                <hr/>

                                            </div>
                                        </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="ibox-title">
                            <h4>{{ titre }} {{ titre2 }}</h4>
                        </div>
                        <div class="ibox-content">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover dataTables-example" >

                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Matricule</th>
                                        <th>Nom prénom</th>
                                        <th>Autres infos</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {# Liste des agents qui sont en ligne #}
                                    {% if app.request.get('agents') and is_granted ('ROLE_SUPER_ADMIN') %}
                                        {% for user_online in users_online %}
                                            <tr class="{% if loop.index == 1 %}gradeX{% elseif loop.index == 2 %}gradeC{% else %}gradeA{% endif %}">
                                                <td>
                                                    {% if user_online.enfonction ==1 %}
                                                        <i class="fa fa-check text-navy"></i>
                                                    {% else %}
                                                        <i class="fa fa-times text-danger"></i>
                                                    {% endif %}
                                                </td>
                                                <td>{{ user_online.matricule }}</td>
                                                <td>{{ user_online.nom }} {{ user_online.prenom }}</td>
                                                <td>
                                                    {{ user_online.poste_designation }}.<br/>
                                                    Par : <span class="small text-navy">{{ user_online.nomEvenement }}</span>
                                                    <br/>
                                                </td>
                                        {% else %}
                                                {% set aucun = 'Aucun agent en ligne' %}
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        {# Lignes pour les postes responsable liés a la direction chosie ou au département choisi #}
                                        {% set aucun = '' %}
                                        {% if responsabilite == 4 or responsabilite == 5 %}
                                            {% for chef in chefs %}

                                                <tr class="{% if loop.index == 1 %}gradeX{% elseif loop.index == 2 %}gradeC{% else %}gradeA{% endif %}">
                                                    <td>
                                                        {% if chef.enfonction ==1 %}
                                                            <i class="fa fa-check text-navy"></i>
                                                        {% else %}
                                                            <i class="fa fa-times text-danger"></i>
                                                        {% endif %}
                                                    </td>
                                                    <td>{{ chef.matricule }}</td>
                                                    <td>{{ chef.nom }} {{ chef.prenom }}</td>
                                                    <td>
                                                        {{ chef.poste_designation }}.<br/>
                                                        Par : <span class="small text-navy">{{ chef.nomEvenement }}</span>
                                                        <br/>
                                                    </td>
                                                {% else %}
                                                 {% set aucun = 'Aucun responsable enregistré' %}
                                                </tr>
                                            {% endfor %}
                                        {% endif %}

                                        {# Lignes pour les agents des services liés #}
                                        {% for p_u in last_posteusers %}
                                            <tr class="{% if loop.index == 1 %}gradeX{% elseif loop.index == 2 %}gradeC{% else %}gradeA{% endif %}">
                                                <td>
                                                    {% if p_u.enfonction ==1 %}
                                                        <i class="fa fa-check text-navy"></i>
                                                        {% else %}
                                                        <i class="fa fa-times text-danger"></i>
                                                    {% endif %}
                                                </td>
                                                <td>{{ p_u.matricule }}</td>
                                                <td>{{ p_u.nom }} {{ p_u.prenom }}</td>
                                            <td>
                                                {% if p_u.poste_designation %}
                                                {{ p_u.poste_designation }}.<br/>
                                                Par : <span class="small text-navy">{{ p_u.nomEvenement }}</span>
                                                    {% if filtre == 'tous' %}
                                                        {% if p_u.sdpt_designation %}
                                                            <br/>Service : {{ p_u.sdpt_designation }}
                                                        {% elseif p_u.sdir_designation %}
                                                            <br/>Service : {{ p_u.sdir_designation }}
                                                        {% elseif p_u.dpt_designation %}
                                                            <br/>Département :  {{ p_u.dpt_designation }}
                                                        {% elseif p_u.dir_designation %}
                                                            <br/>Direction : {{ p_u.dir_designation }}
                                                        {% endif %}
                                                    {% endif %}



                                                    {% else %}
                                                        <span class="small text-danger">Aucun</span>
                                                {% endif %}
                                            </td>

                                            {% else %}
                                                {# Vérification de la responsabilité dans l'URL avant #}
                                                {% if responsabilite == 5 %}
                                                    {% set aucun = 'Aucun agent au poste lié à un service de direction' %}
                                                {% else %}
                                                    {% set aucun = 'Aucun enregistrement trouvé.' %}
                                                {% endif %}
                                                </tr>

                                        {% endfor %}

                                        {% if responsabilite == 5 %}
                                            {% for p_u in last_posteusers3 %}
                                            <tr class="{% if loop.index == 1 %}gradeX{% elseif loop.index == 2 %}gradeC{% else %}gradeA{% endif %}">
                                                <td>
                                                    {% if p_u.enfonction ==1 %}
                                                        <i class="fa fa-check text-navy"></i>
                                                    {% else %}
                                                        <i class="fa fa-times text-danger"></i>
                                                    {% endif %}
                                                </td>
                                                <td>{{ p_u.matricule }}</td>
                                                <td>{{ p_u.nom }} {{ p_u.prenom }}</td>
                                                <td>
                                                    {% if p_u.nomEvenement is defined %}
                                                        {{ p_u.poste_designation }}.<br/>
                                                        Par : <span class="small text-navy">{{ p_u.nomEvenement }}</span>
                                                    {% else %}
                                                        <i class="fa fa-times text-danger"></i>
                                                    {% endif %}
                                                </td>
                                            {% else %}
                                                {% set aucun = 'Aucun agent au poste lié à un des départements de la direction' %}
                                                </tr>

                                            {% endfor %}
                                        {% endif %}

                                        {% if responsabilite == 5 %}

                                            {% for p_u in last_posteusers2 %}
                                            <tr class="{% if loop.index == 1 %}gradeX{% elseif loop.index == 2 %}gradeC{% else %}gradeA{% endif %}">
                                                <td>
                                                    {% if p_u.enfonction ==1 %}
                                                        <i class="fa fa-check text-navy"></i>
                                                    {% else %}
                                                        <i class="fa fa-times text-danger"></i>
                                                    {% endif %}
                                                </td>
                                                <td>{{ p_u.matricule }}</td>
                                                <td>{{ p_u.nom }} {{ p_u.prenom }}</td>
                                                <td>
                                                    {{ p_u.poste_designation }}.<br/>
                                                    Par : <span class="small text-navy">{{ p_u.nomEvenement }}</span>
                                                </td>
                                            {% else %}
                                                {% set aucun = 'Aucun agent au poste lié à un service de département pour cette direction!' %}
                                                </tr>

                                            {% endfor %}
                                        {% endif %}
                                    {% endif %}

                                    {% if aucun is defined and not null %}
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>{{ aucun }}</td>
                                        </tr>
                                    {% endif %}

                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th></th>
                                        <th>Matricule</th>
                                        <th>Nom prénom</th>
                                        <th>Autres infos</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/plugins/jeditable/jquery.jeditable.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/dataTables/datatables.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/chosen/chosen.jquery.js') }}"></script>
    {#<!-- Page-Level Scripts -->#}
    <script>

        $('.chosen-select').chosen({width: "100%"});

        $(document).ready(function() {

            $('.footable').footable();
            $('.footable2').footable();

        });

    </script>

    <script>
        $(document).ready(function(){
            $('.dataTables-example').DataTable({
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    {extend: 'copy', title: 'Services-CT'},
                    {extend: 'csv', title: 'Services-CT'},
                    {extend: 'excel', title: 'Services-CT'},
                    {extend: 'pdf', title: 'Services-CT'},

                    {extend: 'print',
                        customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]
            });

            /* Init DataTables */
            var oTable = $('#editable').DataTable();

            /* Apply the jEditable handlers to the table */
            oTable.$('td').editable( '../example_ajax.php', {
                "callback": function( sValue, y ) {
                    var aPos = oTable.fnGetPosition( this );
                    oTable.fnUpdate( sValue, aPos[0], aPos[1] );
                },
                "submitdata": function ( value, settings ) {
                    return {
                        "row_id": this.parentNode.getAttribute('id'),
                        "column": oTable.fnGetPosition( this )[2]
                    };
                },

                "width": "90%",
                "height": "100%"
            } );
        });
    </script>
{% endblock javascripts %}