<tr class="gradeX align-middle">
    <td>{{ user.matricule }}</td>
    <td>
        <a href="" data-toggle="modal" data-target="#myModal{{ loop.index }}">
            {% if user.image and not null %}
                {% if user.lastActivityAt > delai and user.optEnligne == 1 %}
                    <img alt="image" width="28" class="img-circle circle-border-sm-online" src="{{ asset('uploads/images/users/' ~ user.image) }}" />
                {% else %}
                    <img alt="image" width="28" class="img-circle circle-border-sm-offline" src="{{ asset('uploads/images/users/' ~ user.image) }}" />
                {% endif %}
            {% else %}
                {% if user.lastActivityAt > delai and user.optEnligne is defined and user.optEnligne == 1 %}
                    <img alt="image" width="28" class="img-circle circle-border-sm-online" src="{{ asset('uploads/images/users/no_image_small.jpg') }}" />
                {% else %}
                    <img alt="image" width="28" class="img-circle circle-border-sm-offline" src="{{ asset('uploads/images/users/no_image_small.jpg') }}" />
                {% endif %}
            {% endif %}
        </a>
        <div class="modal inmodal" id="myModal{{ loop.index }}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content animated bounceInRight">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
                        {% if user.image and not null %}
                            {% if user.lastActivityAt > delai and user.optEnligne == 1 %}
                                <img alt="image" width="96px" class="img-circle circle-border-online m-b-md" src="{{ asset('uploads/images/users/' ~ user.image) }}" />
                            {% else %}
                                <img alt="image" width="96px" class="img-circle circle-border m-b-md" src="{{ asset('uploads/images/users/' ~ user.image) }}" />
                            {% endif %}
                        {% else %}
                            {% if user.lastActivityAt > delai and user.optEnligne is defined and user.optEnligne == 1 %}
                                <img alt="image" class="img-circle circle-border-online m-b-md" src="{{ asset('uploads/images/users/no_image_small.jpg') }}" />
                            {% else %}
                                <img alt="image" class="img-circle circle-border m-b-md" src="{{ asset('uploads/images/users/no_image_small.jpg') }}" />
                            {% endif %}
                        {% endif %}
                        <h4 class="modal-title">{{ user.nom }} {{ user.prenom }}</h4>
                        <small class="font-bold">
                            <p>{% if user.poste_designation %}<strong>Poste : </strong>{{ user.poste_designation }}{% endif %}

                                {% if user.sdpt_designation %}
                                    <br/>Service : {{ user.sdpt_designation }}
                                {% elseif user.sdir_designation %}
                                    <br/>Service : {{ user.sdir_designation }}
                                {% elseif user.dpt_designation %}
                                    <br/>Département :  {{ user.dpt_designation }}
                                {% elseif user.dir_designation %}
                                    <br/>Direction : {{ user.dir_designation }}
                                {% endif %}
                            </p>
                        </small>
                    </div>
                    <div class="modal-body">
                        <p>
                        <ul>
                            <li><strong>Matricule :</strong> {{ user.matricule }}</li>
                            {% if app.user.id == user.id %}<li><strong>Nom d'utilisateur :</strong> {{ user.username }}</li>{% endif %}

                            {% if app.user.id == user.id %}
                                <li><strong>Date de naissance :</strong> {{ user.dateNaissanceAt | date("d/m/Y") }}</li>
                            {% elseif user.optDateNaissanceAt and user.optDateNaissanceAt == 1 %}
                                <li><strong>Date de naissance :</strong> {{ user.dateNaissanceAt | date("d/m/Y") }}</li>
                            {% endif %}

                            {% if user.optAdresse and user.optAdresse == 1 %}
                                {% if user.adresse %}<li><strong>Adresse :</strong> {{ user.adresse }}</li>{% endif %}
                            {% elseif app.user.id == user.id %}
                                {% if user.adresse %}<li><strong>Adresse :</strong> {{ user.adresse }}</li>{% endif %}
                            {% endif %}

                            <li><strong>Tel :</strong> {{ user.tel }}</li>

                            {% for post_user in poste_users | reverse if post_user.user == user %}
                                {% if loop.index == 1 %}
                                    {% set fonctions = post_user.fonctions %}
                                    <li><strong>Fonction(s) :</strong>
                                        {% if fonctions |length == 0 %}
                                            <i class="text-danger">Manquante</i>
                                        {% else %}
                                            <ul>
                                                {% for fonction in fonctions if fonction.designation is defined %}
                                                    <li>{{ fonction.designation }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </li>
                                {% endif %}
                            {% endfor %}

                            {% if user.optIndiceGroupe and user.optIndiceGroupe == 1 and user.optIndiceCategorieNiveau == 1 and user.optIndiceEchelon == 1 %}
                                <li><strong>Indice :</strong> {{ user.indiceGroupe ~ '.' ~ user.indiceCategorie ~ '.' ~ user.indiceEchelon }}</li>
                            {% elseif app.user.id == user.id %}
                                <li><strong>Indice :</strong> {{ user.indiceGroupe ~ '.' ~ user.indiceCategorie ~ '.' ~ user.indiceEchelon }}</li>
                            {% endif %}

                            <li>{% if user.statut %}<strong>Statut :</strong> {{ user.statut }}{% endif %}</li>
                            <li>{% if user.categorie %}<strong>Catégorie :</strong> {{ user.categorie }}{% endif %}</li>

                            {% if user.optEmail and user.optEmail == 1 %}
                                <li><strong>@Mail :</strong> {{ user.email }}</li>
                            {% elseif app.user.id == user.id %}
                                <li><strong>@Mail :</strong> {{ user.email }}</li>
                            {% endif %}

                            <li>
                                {% if user.lastActivityAt > delai and user.optEnligne == 1 %}
                                    <i class="fa fa-circle text-navy"></i> <strong>Statut :</strong> En ligne
                                {% else %}
                                    <i class="fa fa-circle text-danger"></i> <strong>Statut :</strong> Hors ligne
                                {% endif %}
                            </li>
                        </ul>
                        </p>
                    </div>
                    <div class="modal-footer">
                        {#<button type="button" class="btn btn-primary">Envoyer un message</button>#}
                        <button type="button" class="btn btn-white" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
    </td>
    <td>{{ user.nom }} {{ user.prenom }}</td>
    <td>{{ user.poste_designation }}

        {% if user.sdpt_designation %}
            (Service {{ user.sdpt_designation }})
        {% elseif user.sdir_designation %}
            (Service {{ user.sdir_designation }})
        {% elseif user.dpt_designation %}
            (Département {{ user.dpt_designation }})
        {% elseif user.dir_designation %}
            (Direction {{ user.dir_designation }})
        {% endif %}
    </td>
    <td class="center"><i class="fa fa-phone text-navy"></i>{% set tel = user.tel | length %} {%  if tel < 7 %} Aucun {% else %}{{ user.tel }}{% endif %}</td>
    <td><i class="fa fa-envelope text-navy"></i> {% set email = user.email %}{% if email %}{{ email }}{% else %} Aucun {% endif %}</td>
</tr>