{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Situation familiale {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Morris --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css') }}">
        <link rel="stylesheet" href="{{ asset('css/plugins/select2/select2.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/plugins/chosen/bootstrap-chosen.css') }}">

    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}

            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">

                    <div class="col-lg-12">

                        <div class="ibox">
                            <div class="ibox-content">
                                <h3>Enregistrer une situation familiale </h3>

                                {{ form_start(form) }}
                                <div class="form-group col-sm-10 {% if form_errors(form.situation) %}has-error{% endif %}" style="padding-left: 0px;">
                                    <label>Situation  </label>
                                    {{ form_widget(form.situation, {
                                        'attr': {
                                            'class': 'form-control'
                                        }
                                    }) }}
                                </div>
                                <div class="form-group col-sm-2 {% if form_errors(form.imageFile) %}has-error{% endif %}" style="padding-right: 0px;">
                                    <label>Photo</label>
                                    {{ form_widget(form.imageFile, {
                                        'attr' : {
                                            'class':'form-control',
                                        }
                                    }) }}
                                </div>
                                {#
                                <div class="form-group col-sm-6 {% if form_errors(form.user) %}has-error{% endif %}" style="padding-right: 0px;">
                                    <label>Agent</label>
                                    {{ form_widget(form.user, {
                                        'attr':{
                                            'class' : 'chosen-select'
                                        }
                                    }) }}
                                </div>
                                #}

                                {{ form_widget(form) }}
                                <div class="form-group col-sm-12">
                                <input class="btn btn-primary pull-right" type="submit" value="Enregistrer" />
                                </div>
                                {{ form_end(form) }}

                                <a href="{{ path('afsoc_situation_familiale_index') }}">Retour à la liste</a>
                                <div class="hr-line-dashed"></div>
                            </div>
                        </div>

                    </div>



                </div>

            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}

    <script type="text/javascript" src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/inspinia.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/pace/pace.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/touchspin/jquery.bootstrap-touchspin.min.js') }}"></script>

    {#<!-- chosen -->#}
    <script type="text/javascript" src="{{ asset('js/plugins/chosen/chosen.jquery.js') }}"></script>
    {#<!-- Typehead -->#}
    <script type="text/javascript" src="{{ asset('js/plugins/typehead/bootstrap3-typeahead.min.js') }}"></script>



    <script>
        $(document).ready(function(){

            $('.typeahead_1').typeahead({
                source: [{% for agent in users %}"{{ agent.matricule }} - {{ agent.nom }} {{ agent.prenom }}",{% endfor %}]
            });

            $.get('js/api/typehead_collection.json', function(data){
                $(".typeahead_2").typeahead({ source:data.countries });
            },'json');

        });
    </script>
    <script>

        $('.chosen-select').chosen({width: "100%"});


    </script>



{% endblock javascripts %}

