{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Situation familiale {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Morris --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css') }}">
        <link rel="stylesheet" href="{{ asset('css/plugins/select2/select2.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/plugins/chosen/bootstrap-chosen.css') }}">

    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}

            <div class="wrapper wrapper-content animated fadeInRight">
                {#
                {% if event_name %}
                    <row>
                        <div class="alert alert-success">
                            Les données affichées sont pusées depuis l'événement {{ event_name }} (Dernier événement enregistré avec un poste).<br>
                            <small>Si vous pensez que les données sont éronnées, veuillez contacter votre chef hiérarchique.</small>
                        </div>
                    </row>
                {% else %}
                    <row>
                        <div class="alert alert-danger">
                            Aucune donnée enregistrée pour cet agent. Veuillez commencer par enregistrer son recrutement
                            <a href="{{ path('evenements_recrutement_new', {id: ev_interim.User.id }) }}">en cliquant ici</a>
                        </div>
                    </row>
                {% endif %}
                #}
                <div class="row">

                    <div class="col-lg-12">

                        <div class="ibox">
                            <div class="ibox-content">
                                <h3>Editer une situation familiale </h3>

                                {{ form_start(form) }}
                                {#
                                <div class="form-group">
                                    <label>Agent  </label>
                                    <span> {{ situation_familiale.user }} </span>
                                </div>

                                <input type="text" class="form-control hidden" name="interim[user]" value="{{ situation_familiale.User.id }}"  >
                                #}
                                <div class="form-group col-sm-12 {% if form_errors(form.situation) %}has-error{% endif %}" style="padding-left: 0px;">
                                    <label>Situation  </label>
                                    {{ form_widget(form.situation, {
                                        'attr': {
                                            'class': 'form-control'
                                        }
                                    }) }}
                                </div>
                                {#
                                <div class="form-group col-sm-6 {% if form_errors(form.user) %}has-error{% endif %}" style="padding-right: 0px;">
                                    <label>Agent</label>
                                    {{ form_widget(form.user, {
                                        'attr':{
                                            'class' : 'chosen-select'
                                        }
                                    }) }}
                                </div>
                                #}

                                {{ form_widget(form) }}
                                <div class="form-group col-sm-12">
                                    <input class="btn btn-primary pull-right" type="submit" value="Enregistrer" />
                                </div>
                                {{ form_end(form) }}

                                <a href="{{ path('afsoc_situation_familiale_index') }}">Retour à la liste</a>
                                <div class="hr-line-dashed"></div>
                            </div>
                        </div>

                    </div>



                </div>

            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}

    <script type="text/javascript" src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/inspinia.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/pace/pace.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/touchspin/jquery.bootstrap-touchspin.min.js') }}"></script>

    {#<!-- chosen -->#}
    <script type="text/javascript" src="{{ asset('js/plugins/chosen/chosen.jquery.js') }}"></script>
    {#<!-- Typehead -->#}
    <script type="text/javascript" src="{{ asset('js/plugins/typehead/bootstrap3-typeahead.min.js') }}"></script>


    <script>

        $('.chosen-select').chosen({width: "100%"});


    </script>



{% endblock javascripts %}

