{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Agents {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/plugins/dataTables/datatables.min.css') }}" />
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}

            <div class="wrapper wrapper-content">
                <div class="row">
                    {# Messages Falsh #}
                    {% for message in app.flashes('success') %}
                        <div class="col-lg-12">
                            <div class="alert alert-success alert-dismissable ">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                {{ message }}
                            </div>
                        </div>
                    {% endfor %}

                </div>
                <div class="row">

                    <div class="col-lg-12">
                        <div class="widget-head-color-box bg-info p-h-xs">
                            <span style="margin-left: 10px;">
                                <a href="{{ path('home_afsoc') }}" class="btn btn-xs btn-warning">
                                    <i class="fa fa-home"></i>
                                    Accueil Afsoc
                                </a>
                            </span>
                            <span style="margin-left: 10px;">
                                <a href="{{ path('afsoc_enfant_index') }}" class="btn btn-xs btn-primary">
                                    <i class="fa fa-user"></i>
                                    Enfants
                                </a>
                            </span>
                            <span style="margin-left: 10px;">
                                <a href="{{ path('afsoc_epouxse_index') }}" class="btn btn-xs btn-primary">
                                    <i class="fa fa-user"></i>
                                    Epoux(ses)
                                </a>
                            </span>
                            <span style="margin-left: 10px;">
                                <a href="{{ path('afsoc_carnet_index') }}" class="btn btn-xs btn-primary">
                                    <i class="fa fa-list-alt"></i>
                                    Carnets
                                </a>
                            </span>
                        </div>
                        <div class="widget-text-box">

                            <table class="table table-striped table-bordered table-hover dataTables-example" >
                                <thead>
                                <tr>
                                    <th>Matricule</th>
                                    <th>Agent</th>
                                    <th>Recruté le</th>
                                    <th>Situation familiale</th>
                                    <th>#</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for agent in agents %}
                                    <tr>
                                        <td><span class="text-center">{{ agent.matricule }}</span></td>
                                        <td>{{ agent.nom }} {{ agent.prenom }}</td>

                                            <td>
                                                {{ agent.dateRecrutementAt ? agent.dateRecrutementAt | date('d/m/Y') : 'Aucun' }}
                                            </td>

                                        {% if agent.situation is defined and agent.situation != null %}
                                        <td>
                                            {{ agent.situation }}
                                            {# lien pour editer le statut de l'agent (celibataire, marié... #}
                                            <span class="pull-right">
                                                <a href="{{ path('afsoc_situation_familiale_edit', {'id': agent.situationFamiliale_id}) }}" class="btn btn-xs btn-warning text-right pull-left" style="margin-right: 0px;">
                                                    <i class="fa fa-pencil"></i>
                                                </a>
                                            </span>
                                        </td>
                                        {% else %}
                                            <td><span class="text-danger"><b>Non enregistré</b></span> <span class="pull-right">
                                                    <i class="fa fa-pencil"></i>
                                                    <a href="{{ path('afsoc_situation_familiale_add', {id: agent.id}) }}">Corriger ?</a></span></td>
                                        {% endif %}

                                        <td>

                                            {% if agent.situationFamiliale_id is defined and agent.situationFamiliale_id != null %}
                                                {#
                                                <div class="btn-group">
                                                    <button data-toggle="dropdown" class="btn btn-info btn-xs dropdown-toggle">Action <span class="caret"></span></button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="{{ path('afsoc_epouxse_new', {id: agent.id}) }}"><span class="fa fa-plus"></span> Epoux(se)</a></li>
                                                        <li><a href="{{ path('afsoc_enfant_new', {id: agent.id}) }}"><span class="fa fa-plus"></span> Enfant(s)</a></li>
                                                        <li class="divider"></li>
                                                        <li><a href="{{ path('afsoc_carnet_new', {id: agent.id}) }}"><span class="fa fa-plus"></span> Carnet</a></li>
                                                        <li><a href="{{ path('afsoc_reposmaladie_new', {id: agent.id}) }}"><span class="fa fa-plus"></span> Repos maladie</a></li>
                                                    </ul>
                                                </div>
                                                #}
                                                <span class="pull-right">
                                                    <a href="{{ path('afsoc_situation_familiale_show', {id: agent.situationFamiliale_id}) }}" class="btn btn-xs btn-info text-right pull-left" style="margin-right: 5px;">
                                                        <span class="fa fa-user"></span>
                                                    </a>
                                                </span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="4">Aucun enregistrement!</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                            <hr/>

                            <div>
                                <div class="block">

                                    <a href="{{ path('home_afsoc') }}" class="btn btn-xs btn-success text-right">
                                        <i class="fa fa-home"></i>
                                        Accueil Afsoc
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/plugins/dataTables/datatables.min.js') }}"></script>

    <script>
        $(document).ready(function(){
            $('.dataTables-example').DataTable({
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    {extend: 'copy', title: 'Services-CT'},
                    {extend: 'csv', title: 'Services-CT'},
                    {extend: 'excel', title: 'Services-CT'},
                    {extend: 'pdf', title: 'Services-CT'},

                    {extend: 'print',
                        customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]
            });

            {#
            /* Init DataTables */
            var oTable = $('#editable').DataTable();

            /* Apply the jEditable handlers to the table */
            oTable.$('td').editable( '../example_ajax.php', {
                "callback": function( sValue, y ) {
                    var aPos = oTable.fnGetPosition( this );
                    oTable.fnUpdate( sValue, aPos[0], aPos[1] );
                },
                "submitdata": function ( value, settings ) {
                    return {
                        "row_id": this.parentNode.getAttribute('id'),
                        "column": oTable.fnGetPosition( this )[2]
                    };
                },

                "width": "90%",
                "height": "100%"
            } );
            #}
        });
    </script>
{% endblock javascripts %}

