{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Ajouter Expoux(se) {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}

    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}

            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row animated fadeInRight">
                    <div class="col-md-4">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Concerné {{ situation_familiale.user.id }}</h5>
                            </div>
                            <div>
                                <div class="ibox-content no-padding border-left-right">
                                    {% if situation_familiale.image and not null %}
                                        <img alt="image" width="150" class="img-circle circle-border" src="{{ asset('uploads/images/afsocimages/' ~ situation_familiale.image) }}">
                                    {% else %}
                                        <img alt="image" width="150" class="img-circle circle-border" src="{{ asset('uploads/images/users/no_image.jpg') }}">
                                    {% endif %}
                                </div>
                                <div class="ibox-content profile-content">
                                    <h4><strong>{{ situation_familiale.user.getNomPrenom() }}</strong></h4>
                                    <p><i class="fa fa-map-marker"></i> {{ agent ? agent.adresse : 'Adresse non renseigné!' }}</p>
                                    <ul class="unstyled fileupload-list" style="padding-left: 0px;">
                                        <li>Date de naissance : {{ situation_familiale.user.dateNaissanceAt | date('d/m/Y') }} | Age: {{ situation_familiale.user.getAge() }} ans</li>
                                        <li>Tel : {{ situation_familiale.user.tel }}</li>
                                        <li>Email : {{ situation_familiale.user.email }}</li>
                                        <li>Recrutement le : {{ dateRecrutementAt | date('d-m-Y') }}</li>
                                        <li>Titularisation le : {{ dateTitularisationAt | date('d-m-Y') }}</li>
                                        {% if dateRecrutementAt == dateTitularisationAt %}
                                        <li><span class="badge badge-danger block">Erreur ! Dates recrutement et titularisation érronnées</span> </li>
                                        {% endif %}
                                    </ul>

                                    <div class="hr-line-dashed"></div>
                                    <h5>Ayants droit</h5>
                                    <ul class="unstyled fileupload-list" style="padding-left: 0px;">
                                        {% for epouxse in epouxses %}
                                        <li>{% if epouxse.image is defined and epouxse.image != null %}
                                                <img alt="image" width="50" class="img-circle circle-border" src="{{ asset('uploads/images/afsocimages/' ~ epouxse.image) }}">
                                            {% else %}
                                                <img alt="image" width="50" class="img-circle circle-border" src="{{ asset('uploads/images/users/no_image.jpg') }}">
                                            {% endif %}
                                            {# supprimer #}
                                            <span class="pull-right" style="margin-left: 0px;">
                                                {{ include('affaires_sociales/epouxse/_delete_form.html.twig') }}
                                            </span>
                                            <a type="button" href="{{ path('afsoc_epouxse_edit', {id:epouxse.id, pg_prcdnt:'afsoc_situation_familiale_show'}) }}" class="btn btn-xs pull-right"><span class="fa fa-pencil"></span></a>
                                        </li>
                                            <li>{{ epouxse.nomPrenom }} - [<small> Conjoint(e) </small>]</li>
                                            <li>{{ epouxse.dateNaissanceAt | date('d-m-Y') }} | {{ epouxse.getAge() }} </li>
                                        {% else %}
                                            <li>Aucun</li>
                                        {% endfor %}
                                    </ul>
                                    <ul class="unstyled fileupload-list" style="padding-left: 0px;">
                                        {% for enfant in enfants %}
                                        <li>{% if enfant.image is defined and enfant.image != null %}
                                                <img alt="image" width="50" class="img-circle circle-border" src="{{ asset('uploads/images/afsocimages/' ~ enfant.image) }}">
                                            {% else %}
                                                <img alt="image" width="50" class="img-circle circle-border" src="{{ asset('uploads/images/users/no_image.jpg') }}">
                                            {% endif %}
                                            {# supprimer #}
                                            <span class="pull-right" style="margin-left: 0px;">
                                                {{ include('affaires_sociales/enfant/_delete_form.html.twig') }}
                                            </span>
                                            <a type="button" href="{{ path('afsoc_enfant_edit', {id:enfant.id, pg_prcdnt:'afsoc_situation_familiale_show'}) }}" class="btn btn-xs pull-right"><span class="fa fa-pencil"></span></a>
                                        </li>
                                            <li>{{ enfant.nomPrenom }} - [<small> Enfant </small>]</li>
                                            <li>{{ enfant.dateNaissanceAt | date('d-m-Y') }} | {{ enfant.getAge() }} </li>
                                        {% else %}
                                            <li>Aucun</li>
                                        {% endfor %}
                                    </ul>


                                    <div class="user-button">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <a href="{{ path('afsoc_enfant_new', {id:situation_familiale.user.id, pg_prcdnt:'afsoc_situation_familiale_show'}) }}" type="button" class="btn btn-primary btn-sm btn-block"><i class="fa fa-plus"></i> Enfants</a>
                                            </div>
                                            <div class="col-md-6">
                                                <a href="{{ path('afsoc_epouxse_new', {id:situation_familiale.user.id, pg_prcdnt:'afsoc_situation_familiale_show'}) }}" type="button" class="btn btn-info btn-sm btn-block"><i class="fa fa-plus"></i> Epoux / Epouses</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <a type="button" class="btn btn-xs btn-primary" href="{{ path('afsoc_carnet_new', {id: agent.id, pg_prcdnt:'afsoc_situation_familiale_show'}) }}"><span class="fa fa-plus"></span> Carnet</a>
                                <a type="button" class="btn btn-xs btn-primary" href="{{ path('afsoc_reposmaladie_new', {id: agent.id, pg_prcdnt:'afsoc_situation_familiale_show'}) }}"><span class="fa fa-plus"></span> Repos maladie</a>
                            </div>
                            <div class="ibox-content">

                                <div>

                                    <button class="btn btn-primary btn-block m"><i class="fa fa-arrow-down"></i> Voir</button>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    {{ parent() }}

{% endblock javascripts %}

