<form method="post" action="{{ path('afsoc_chargemedicale_delete', {'id': charge_medicale.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ charge_medicale.id) }}">
    <button class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> {% if app.request.attributes.get('_route') == 'afsoc_chargemedicale_show' %}Supprimer{% endif %}</button>
</form>
