{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Charge médicale{% endblock title %}

    {% block stylesheets %}
        {{ parent() }}

        <link rel="stylesheet" href="{{ asset('css/plugins/select2/select2.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/plugins/chosen/bootstrap-chosen.css') }}">

    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}

            <div class="row">

                <div class="wrapper wrapper-content animated fadeInUp">

                    <div class="row">
                        <div class="col-lg-12">

                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    Enregistrer une charge médicale
                                </div>
                                <div class="panel-body">
                                    {{ form_start(form, {
                                        'attr': {
                                            'class': 'form-horizontal',
                                            'role': 'form',
                                        }
                                    }) }}

                                    <div class="form-group">
                                        <label class="col-sm-6">Entité médicale</label>
                                        <div class="col-sm-12">
                                            {{ form_widget(form.entiteMedicale, {
                                                'placeholder' : "Selectionner l'entité concernée",
                                                'attr': {
                                                    'class': 'chosen-select',
                                                }
                                            }) }}
                                            <div class="form-error">
                                                <small class="text-danger">{{ form_errors(form.entiteMedicale) }}</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6">Date </label>
                                        <div class="col-sm-12">
                                            {{ form_row(form.dateAt, {'date_pattern': '<span style="display: none;">{{ day }}</span> {{ month }} <span class="delim">&#47;</span> {{ year }}'}) }}
                                            <div class="form-error">
                                                <small class="text-danger">{{ form_errors(form.dateAt) }}</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6">Coûts</label>
                                        <div class="col-sm-12">
                                            {{ form_widget(form.couts, {
                                                'attr': {
                                                    'class': 'form-control',
                                                    'placeholder' : 'Couts'
                                                }
                                            }) }}
                                            <div class="form-error">
                                                <small class="text-danger">{{ form_errors(form.couts) }}</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <button class="btn btn-primary" type="submit">Enregistrer</button>
                                        </div>
                                    </div>
                                    {{ form_end(form) }}
                                    <div class="hr-line-dashed"></div>
                                    <a type="button" class="btn btn-default pull-left" href="{{ path('afsoc_chargemedicale_index') }}">
                                        <i class="fa fa-arrow-left"></i> Liste des charges
                                    </a>
                                    <span class="pull-right">
                                        {{ include('affaires_sociales/charge_medicale/_delete_form.html.twig') }}
                                    </span>
                                    <br>

                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}
        {% block javascripts %}
            {{ parent() }}

            {#<!-- Chosen -->#}
            <script type="text/javascript" src="{{ asset('js/plugins/chosen/chosen.jquery.js') }}"></script>



            <script>
                $('.chosen-select').chosen({width: "100%"});
            </script>

        {% endblock javascripts %}
