{% extends 'base.html.twig' %}

{% block title %}ChargeMedicale{% endblock %}

{% block body %}
    <h1>ChargeMedicale</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ charge_medicale.id }}</td>
            </tr>
            <tr>
                <th>DateAt</th>
                <td>{{ charge_medicale.dateAt ? charge_medicale.dateAt|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Couts</th>
                <td>{{ charge_medicale.couts }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('affaires_sociales_charge_medicale_index') }}">back to list</a>

    <a href="{{ path('affaires_sociales_charge_medicale_edit', {'id': charge_medicale.id}) }}">edit</a>

    {{ include('affaires_sociales_charge_medicale/_delete_form.html.twig') }}
{% endblock %}
