{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Correction {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}

        <link rel="stylesheet" href="{{ asset('css/plugins/iCheck/custom.css') }}">

        <link rel="stylesheet" href="{{ asset('css/plugins/chosen/bootstrap-chosen.css') }}">

        <link rel="stylesheet" href="{{ asset('css/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css') }}">



        <link rel="stylesheet" href="{{ asset('css/plugins/switchery/switchery.css') }}">

        <link rel="stylesheet" href="{{ asset('css/plugins/jasny/jasny-bootstrap.min.css') }}">

        <link rel="stylesheet" href="{{ asset('css/plugins/nouslider/jquery.nouislider.css') }}">


        <link rel="stylesheet" href="{{ asset('css/plugins/select2/select2.min.css') }}">

        <link rel="stylesheet" href="{{ asset('css/plugins/touchspin/jquery.bootstrap-touchspin.min.css') }}">

        <link rel="stylesheet" href="{{ asset('css/animate.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}

            <div class="wrapper wrapper-content">
                <div class="row">
                    {# Messages Falsh #}
                    {% for message in app.flashes('success') %}
                        <div class="col-lg-12">
                            <div class="alert alert-success alert-dismissable ">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                {{ message }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="row animated fadeInDown">
                    <div class="col-lg-3">
                        {#
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Matricule: {{ cur_user.matricule }}</h5>
                            </div>
                            <div class="ibox-content panel">
                                <div id='external-events'>
                                    <div class='external-event navy-bg'>Go to shop and buy some products.</div>
                                    <div class='external-event navy-bg'>Check the new CI from Corporation.</div>
                                    <div class='external-event navy-bg'>Send documents to John.</div>
                                    <div class='external-event navy-bg'>Phone to Sandra.</div>
                                    <div class='external-event navy-bg'>Chat with Michael.</div>
                                </div>
                            </div>
                        </div>
                        #}

                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <i class="fa fa-info-circle"></i> Infos de base <h5>Matricule: {{ cur_user.matricule }}</h5>
                            </div>
                            <div class="panel-body">
                                {% set poste_users = cur_user.getPosteUsers() %}
                                {% for poste_user in poste_users %}
                                    {% set poste_user_services = poste_user.getPosteUserServices() %}
                                    {% for poste_user_service in poste_user_services %}
                                        <p>{{ poste_user_service.service |e }}</p>
                                        {% else %}
                                <p><span class="text-danger"><i class="fa fa-warning"></i></span> Aucun service lié à {{ cur_user }}
                                    {% endfor %}
                                {% endfor %}
                                <div class="hr-line-dashed"></div>
                                <p>
                                    <span class="text-info"><i class="fa fa-info-circle"></i></span>
                                    Dans cette rubrique on lie l'agent à son service de base lors du recrutement en CDI
                                </p>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-9">

                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5><small>Lié l'agent</small> {{ cur_user }}</h5>
                            </div>
                            <div class="ibox-content">
                                <div class="panel-body">
                                    <div class="panel-group" id="accordion">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h5 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Lié <span class="text-navy">{{ cur_user }}</span> à un service</a>
                                                </h5>
                                            </div>
                                            <div id="collapseOne" class="panel-collapse collapse in">
                                                <div class="panel-body">
                                                    {% set poste_users = cur_user.getPosteUsers() %}
                                                    {% for poste_user in poste_users %}
                                                    {% set poste_user_services = poste_user.getPosteUserServices() %}
                                                    {% for poste_user_service in poste_user_services %}
                                                    <p class="hidden">{{ poste_user_service | e }}</p>
                                                    <p>
                                                        Cet agent possède déjà un poste
                                                        Pour modifier le poste <a href="{{ path('admin.users_gcar.editUserServ', {id: poste_user_service.id, slug: poste_user_service.slug}) }}">clickez ici</a>
                                                    </p>

                                                    {% else %}
                                                        {{ form_start(form_poste_userserv)}}

                                                            {{ form_widget(form_poste_userserv.posteUser, {
                                                                'attr':{
                                                                    'class': 'form-control hidden'
                                                            }
                                                            }) }}

                                                            <div class="form-group">
                                                                <label class="col-sm-3 control-label">Choisir le service</label>
                                                                <div class="col-sm-7">
                                                                {{ form_widget(form_poste_userserv.service, {
                                                                    'attr': {
                                                                        'class': 'chosen-select'
                                                                }
                                                                }) }}
                                                                </div>


                                                                <div class="col-sm-2">
                                                                    {#
                                                                    <a class="btn btn-w-m btn-default" href="{{ path('admin.users_gcar.edit', {id: poste_user.user.id }) }}">
                                                                        <i class="fa fa-arrow-left"></i>
                                                                        Annuler
                                                                    </a>
                                                                    #}
                                                                    <button class="btn btn-w-m btn-primary" type="submit">
                                                                        Valider
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        {{ form_end(form_poste_userserv) }}
                                                    {% endfor %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        {#
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Lié <span class="text-navy">{{ cur_user }}</span> à un département</a>
                                                </h4>
                                            </div>
                                            <div id="collapseTwo" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    {{ form_start(form_poste_userdept)}}

                                                    {{ form_widget(form_poste_userdept.posteUser, {
                                                        'attr':{
                                                            'class': 'form-control hidden'
                                                        }
                                                    }) }}

                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Choisir le département</label>
                                                        <div class="col-sm-7">
                                                            {{ form_widget(form_poste_userdept.departement, {
                                                                'attr': {
                                                                    'class': 'chosen-select'
                                                                }
                                                            }) }}
                                                        </div>


                                                        <div class="col-sm-2">

                                                            <button class="btn btn-w-m btn-primary" type="submit">
                                                                Valider
                                                            </button>
                                                        </div>
                                                    </div>
                                                    {{ form_end(form_poste_userdept) }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Lié <span class="text-navy">{{ cur_user }}</span> à une direction</a>
                                                </h4>
                                            </div>
                                            <div id="collapseThree" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    {{ form_start(form_poste_userdir)}}

                                                    {{ form_widget(form_poste_userdir.posteUser, {
                                                        'attr':{
                                                            'class': 'form-control hidden'
                                                        }
                                                    }) }}

                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Choisir la direction</label>
                                                        <div class="col-sm-7">
                                                            {{ form_widget(form_poste_userdir.direction, {
                                                                'attr': {
                                                                    'class': 'chosen-select'
                                                                }
                                                            }) }}
                                                        </div>


                                                        <div class="col-sm-2">

                                                            <button class="btn btn-w-m btn-primary" type="submit">
                                                                Valider
                                                            </button>
                                                        </div>
                                                    </div>
                                                    {{ form_end(form_poste_userdir) }}
                                                </div>
                                            </div>
                                        </div>
                                        #}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/plugins/jasny/jasny-bootstrap.min.js') }}') }}"></script>

    <script type="text/javascript" src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>

    <!-- Custom and plugin javascript -->
    <script type="text/javascript" src="{{ asset('js/inspinia.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/pace/pace.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

    <!-- Chosen -->
    <script type="text/javascript" src="{{ asset('js/plugins/chosen/chosen.jquery.js') }}"></script>

    <!-- JSKnob -->
    <script type="text/javascript" src="{{ asset('js/plugins/jsKnob/jquery.knob.js') }}"></script>


    <!-- NouSlider -->
    <script type="text/javascript" src="{{ asset('js/plugins/nouslider/jquery.nouislider.min.js') }}"></script>

    <!-- Switchery -->
    <script type="text/javascript" src="{{ asset('js/plugins/switchery/switchery.js') }}"></script>

    <!-- IonRangeSlider -->
    <script type="text/javascript" src="{{ asset('js/plugins/ionRangeSlider/ion.rangeSlider.min.js') }}"></script>

    <!-- iCheck -->
    <script type="text/javascript" src="{{ asset('js/plugins/iCheck/icheck.min.js') }}"></script>

    <!-- MENU -->
    <script type="text/javascript" src="{{ asset('js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>

    <!-- Select2 -->
    <script type="text/javascript" src="{{ asset('js/plugins/select2/select2.full.min.js') }}"></script>

    <!-- TouchSpin -->
    <script type="text/javascript" src="{{ asset('js/plugins/touchspin/jquery.bootstrap-touchspin.min.js') }}"></script>

    <!-- Tags Input -->
    <script type="text/javascript" src="{{ asset('js/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js') }}"></script>

    <script>
        $(document).ready(function(){

            $('.tagsinput').tagsinput({
                tagClass: 'label label-primary'
            });

            var $image = $(".image-crop > img")
            $($image).cropper({
                aspectRatio: 1.618,
                preview: ".img-preview",
                done: function(data) {
                    // Output the result data for cropping image.
                }
            });

            var $inputImage = $("#inputImage");
            if (window.FileReader) {
                $inputImage.change(function() {
                    var fileReader = new FileReader(),
                        files = this.files,
                        file;

                    if (!files.length) {
                        return;
                    }

                    file = files[0];

                    if (/^image\/\w+$/.test(file.type)) {
                        fileReader.readAsDataURL(file);
                        fileReader.onload = function () {
                            $inputImage.val("");
                            $image.cropper("reset", true).cropper("replace", this.result);
                        };
                    } else {
                        showMessage("Please choose an image file.");
                    }
                });
            } else {
                $inputImage.addClass("hide");
            }

            $("#download").click(function() {
                window.open($image.cropper("getDataURL"));
            });

            $("#zoomIn").click(function() {
                $image.cropper("zoom", 0.1);
            });

            $("#zoomOut").click(function() {
                $image.cropper("zoom", -0.1);
            });

            $("#rotateLeft").click(function() {
                $image.cropper("rotate", 45);
            });

            $("#rotateRight").click(function() {
                $image.cropper("rotate", -45);
            });

            $("#setDrag").click(function() {
                $image.cropper("setDragMode", "crop");
            });


            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green'
            });

            $('.demo1').colorpicker();

            var divStyle = $('.back-change')[0].style;
            $('#demo_apidemo').colorpicker({
                color: divStyle.backgroundColor
            }).on('changeColor', function(ev) {
                divStyle.backgroundColor = ev.color.toHex();
            });

            $('.clockpicker').clockpicker();

            $('input[name="daterange"]').daterangepicker();

            $('#reportrange span').html(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));

            $('#reportrange').daterangepicker({
                format: 'MM/DD/YYYY',
                startDate: moment().subtract(29, 'days'),
                endDate: moment(),
                minDate: '01/01/2012',
                maxDate: '12/31/2015',
                dateLimit: { days: 60 },
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                opens: 'right',
                drops: 'down',
                buttonClasses: ['btn', 'btn-sm'],
                applyClass: 'btn-primary',
                cancelClass: 'btn-default',
                separator: ' to ',
                locale: {
                    applyLabel: 'Submit',
                    cancelLabel: 'Cancel',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr','Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            }, function(start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            });

            $(".select2_demo_1").select2();
            $(".select2_demo_2").select2();
            $(".select2_demo_3").select2({
                placeholder: "Select a state",
                allowClear: true
            });


            $(".touchspin1").TouchSpin({
                buttondown_class: 'btn btn-white',
                buttonup_class: 'btn btn-white'
            });

            $(".touchspin2").TouchSpin({
                min: 0,
                max: 100,
                step: 0.1,
                decimals: 2,
                boostat: 5,
                maxboostedstep: 10,
                postfix: '%',
                buttondown_class: 'btn btn-white',
                buttonup_class: 'btn btn-white'
            });

            $(".touchspin3").TouchSpin({
                verticalbuttons: true,
                buttondown_class: 'btn btn-white',
                buttonup_class: 'btn btn-white'
            });

            $('.dual_select').bootstrapDualListbox({
                selectorMinimalHeight: 160
            });


        });

        $('.chosen-select').chosen({width: "100%"});

        $("#ionrange_1").ionRangeSlider({
            min: 0,
            max: 5000,
            type: 'double',
            prefix: "$",
            maxPostfix: "+",
            prettify: false,
            hasGrid: true
        });

        $("#ionrange_2").ionRangeSlider({
            min: 0,
            max: 10,
            type: 'single',
            step: 0.1,
            postfix: " carats",
            prettify: false,
            hasGrid: true
        });

        $("#ionrange_3").ionRangeSlider({
            min: -50,
            max: 50,
            from: 0,
            postfix: "°",
            prettify: false,
            hasGrid: true
        });

        $("#ionrange_4").ionRangeSlider({
            values: [
                "January", "February", "March",
                "April", "May", "June",
                "July", "August", "September",
                "October", "November", "December"
            ],
            type: 'single',
            hasGrid: true
        });

        $("#ionrange_5").ionRangeSlider({
            min: 10000,
            max: 100000,
            step: 100,
            postfix: " km",
            from: 55000,
            hideMinMax: true,
            hideFromTo: false
        });

        $(".dial").knob();

        var basic_slider = document.getElementById('basic_slider');

        noUiSlider.create(basic_slider, {
            start: 40,
            behaviour: 'tap',
            connect: 'upper',
            range: {
                'min':  20,
                'max':  80
            }
        });

        var range_slider = document.getElementById('range_slider');

        noUiSlider.create(range_slider, {
            start: [ 40, 60 ],
            behaviour: 'drag',
            connect: true,
            range: {
                'min':  20,
                'max':  80
            }
        });

        var drag_fixed = document.getElementById('drag-fixed');

        noUiSlider.create(drag_fixed, {
            start: [ 40, 60 ],
            behaviour: 'drag-fixed',
            connect: true,
            range: {
                'min':  20,
                'max':  80
            }
        });


    </script>


{% endblock javascripts %}

