{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Ajout agent {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}
            {# Récupération de l'ID #}
            {% set user_id = app.request.get('id') %}
            <div class="wrapper wrapper-content">
                <div class="row">
                    {# Messages Falsh #}
                    {% for message in app.flashes('success') %}
                        <div class="col-lg-12">
                            <div class="alert alert-success alert-dismissable ">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                {{ message }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-title">
                                <h5>Edition des données de <small> l'agent</small> {{ user }}</h5>

                            </div>
                            <div class="ibox-content">
                                        <br>
                                {{ form_start(form_user, {
                                    'attr': {
                                        'class': 'form-horizontal',
                                        'role': 'form'
                                    }
                                }) }}

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Nom Prénom</label>
                                    <div class="col-md-4">
                                        {{ form_widget(form_user.nom, {
                                            'attr' : {
                                                'class':'form-control',
                                                'placeholder':'Nom de famille',
                                            }
                                        }) }}
                                        <span class="help-block">Nom de famille</span>

                                    </div>

                                    <div class="col-md-4">
                                        {{ form_widget(form_user.prenom, {
                                            'attr' : {
                                                'class':'form-control',
                                                'placeholder':'Prénom',
                                            }
                                        }) }}
                                        <span class="help-block">Prénom</span>
                                    </div>

                                    <div class="col-md-2">
                                        {{ form_widget(form_user.matricule, {
                                            'attr' : {
                                                'class':'form-control',
                                                'placeholder':'Matricule',
                                            }
                                        }) }}
                                        <span class="help-block">Matricule</span>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Contacts</label>
                                    <div class="col-md-4">
                                        {{ form_widget(form_user.email, {
                                            'attr' : {
                                                'class':'form-control',
                                                'placeholder':'Email'
                                            }
                                        }) }}
                                        <span class="help-block">Exemple : <i>email@domaine.km</i></span>
                                    </div>

                                    <div class="col-md-4">
                                        {{ form_widget(form_user.tel,{
                                            'attr' : {
                                                'class':'form-control',
                                                'data-mask':'999 99 99',
                                                'placeholder': 'Tel'
                                            }
                                        }) }}
                                        {#<input type="text" class="form-control" data-mask="(999) 999-9999" placeholder="">#}
                                        <span class="help-block"><i class="fa fa-phone"></i> Exemple : <i>333 99 99</i></span>
                                    </div>
                                    <div  class="col-md-2">
                                    {{ form_row(form_user.username, {
                                        'attr' : {
                                            'class':'form-control',
                                            'placeholder':'Login de connexion',
                                            'readonly' : 'true'
                                        }
                                    }) }}
                                    </div>
                                </div>
                                {# Champs email_canonical hidden #}
                                <div class="form-group">
                                    <div class="col-sm-10">
                                        {{ form_widget(form_user.emailCanonical, {
                                            'attr' : {
                                                'class':'form-control hidden',
                                                'placeholder':'Email'
                                            }
                                        }) }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Date de naissance</label>
                                    <div class="col-md-4">
                                        {{ form_widget(form_user.dateNaissanceAt, {
                                            'attr' : {
                                                'class':'form-control',
                                            }
                                        }) }}
                                    </div>

                                    <div class="col-md-4">
                                        {{ form_widget(form_user.lieuDeNaissance, {
                                            'attr':{
                                                'class':'form-control',
                                                'placeholder': 'Lieu de naissance'
                                            }
                                        }) }}
                                        <span class="help-block">Exemple : <i>Maternité de Moroni</i></span>
                                    </div>

                                    <div class="col-md-2">
                                        {{ form_widget(form_user.sexe, {
                                            'attr' : {
                                                'class':'form-control',
                                                'placeholder':'sexe',
                                            }
                                        }) }}
                                        <span class="help-block"><i>M: Masculin | F: Feminin</i></span>

                                    </div>

                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Adresse (Domicile)</label>
                                    <div class="col-sm-10">
                                        {{ form_widget(form_user.adresse,{
                                            'attr' : {
                                                'class':'form-control',
                                                'placeholder': 'Adresse Domicile'
                                            }
                                        }) }}
                                        <span class="help-block">Exemple : <i>Moroni, Petite coulée</i></span>
                                    </div>
                                </div>



                                {{ form_widget(form_user.salt, {
                                    'attr' : {
                                        'class':'hidden',
                                    }
                                }) }}


                                <div class="form-group">
                                    <div class="col-sm-10">
                                        {{ form_widget(form_user.roles, {
                                            'attr' : {
                                                'class':'form-control hidden',
                                            }
                                        }) }}
                                    </div>
                                </div>


                                <div class="form-group hidden">
                                    <label class="col-sm-2 control-label">Ind. (Groupe/Caégorie/Echelon)</label>
                                    <div class="col-md-2">
                                        {{ form_widget(form_user.indiceGroupe, {
                                            'attr' : {
                                                'class':'form-control',
                                            }
                                        }) }}
                                        <span class="help-block">Groupe</span>

                                    </div>
                                    <div class="col-md-2">
                                        {{ form_widget(form_user.indiceCategorie, {
                                            'attr' : {
                                                'class':'form-control hidden',
                                            }
                                        }) }}
                                        <span class="help-block">Catégorie</span>
                                    </div>
                                    <div class="col-md-2">
                                        {{ form_widget(form_user.indiceEchelon, {
                                            'attr' : {
                                                'class':'form-control hidden',
                                            }
                                        }) }}
                                        <span class="help-block">Echelon</span>
                                    </div>

                                    <div class="col-md-2">
                                        {{ form_widget(form_user.statut, {
                                            'attr' : {
                                                'class':'form-control hidden',
                                            }
                                        }) }}
                                        <span class="help-block">Statut professionnel</span>
                                    </div>

                                    <div class="col-md-2">
                                        {{ form_widget(form_user.categorie, {
                                            'attr' : {
                                                'class':'form-control hidden',
                                            }
                                        }) }}
                                        <span class="help-block">Catégorie professionnel</span>
                                    </div>
                                </div>


                                {{ form_widget(form_user.image, {
                                    'attr' : {
                                        'class':'hidden',
                                    }
                                }) }}

                                {{ form_row(form_user.enabled, {
                                    'label': ' ',
                                    'attr' : {
                                        'class':'hidden',
                                    }
                                }) }}


                                <div class="form-group">
                                    <label class="col-sm-2 control-label"></label>
                                    <div class="col-sm-10">
                                        <a href="{{ path('contacts_agents') }}" class="btn btn-w-m btn-default">
                                            <i class="fa fa-arrow-left"></i>
                                            Annuler
                                        </a>
                                        <button class="btn btn-w-m btn-primary" type="submit" style="margin-right: 60px;">
                                            <i class="fa fa-arrow-left"></i>
                                            Valider + retour
                                        </button>
                                    </div>

                                </div>

                                {{ form_end(form_user) }}
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    {{ parent() }}
    <!-- Input Mask-->
    <script type="text/javascript" src="{{ asset('js/plugins/jasny/jasny-bootstrap.min.js') }}"></script>

{% endblock javascripts %}

