<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Medel & Difoua" />

    <title>{% block title %}Intranet |  {% endblock title %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('font-awesome/css/font-awesome.css') }}" />

        <link rel="stylesheet" href="{{ asset('css/animate.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
    {% endblock stylesheets %}
</head>
{# Données venant de l'extension de twig avec le GlobalCall #}
{%  set messages = getMessagesForNotif() %}
{%  set connectedUser = getConnectedUser() %}

<body>
{#  VERIFICATION DE L UTILISASTEUR CONNECTE AVANT AFFICHAGE #}
{% if connectedUser is defined and connectedUser != null %}

<div id="wrapper">
    {% block leftmenu %}
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <span>
                            {#<a href="{{ path('moncompte_enligne', {'id': app.user.id}) }}" class="js-enligne">#}
                            <a href="{{ path('moncompte_index') }}">
                            {% if connectedUser.image and not null %}
                                {% if connectedUser.isActiveNow and connectedUser.UserOptionVisibilite.optEnligne is defined and connectedUser.UserOptionVisibilite.optEnligne is not null %}
                                    {% if connectedUser.UserOptionVisibilite.optEnligne == 1 %}
                                        <img alt="image" width="48" class="img-circle circle-border-sm-online" src="{{ asset('uploads/images/users/' ~ connectedUser.image) }}" />
                                    {% else %}
                                        <img alt="image" width="48" class="img-circle circle-border-sm-offline" src="{{ asset('uploads/images/users/' ~ connectedUser.image) }}" />
                                    {% endif %}
                                {% else %}
                                    <img alt="image" width="48" class="img-circle circle-border-sm-online" src="{{ asset('uploads/images/users/' ~ connectedUser.image) }}" />
                                {% endif %}
                            {% else %}
                                {% if connectedUser and connectedUser.isActiveNow and connectedUser.UserOptionVisibilite.optEnligne is defined and connectedUser.UserOptionVisibilite.optEnligne is not null %}
                                    {% if connectedUser.UserOptionVisibilite.optEnligne == 1 %}
                                        <img alt="image" class="img-circle circle-border-sm-online" src="{{ asset('uploads/images/users/no_image_small.jpg') }}" />
                                    {% else %}
                                        <img alt="image" class="img-circle  circle-border-sm-offline" src="{{ asset('uploads/images/users/no_image_small.jpg') }}" />
                                    {% endif %}
                                {% else %}
                                    <img alt="image" class="img-circle circle-border-sm-online" src="{{ asset('uploads/images/users/no_image_small.jpg') }}" />
                                {% endif %}
                            {% endif %}
                            </a>
                        </span>

                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs">
                                    <strong class="font-bold">
                                        {% if connectedUser %}
                                            {{ connectedUser.nom }} {{ connectedUser.prenom }}
                                        {% endif %}
                                    </strong>
                             </span> <span class="font-bold text-xs block">{% if connectedUser and connectedUser.matricule %}{{ connectedUser.matricule }}{% endif %} <b class="caret"></b></span> </span> </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a href="{{ path('moncompte_index') }}"><i class="fa fa-user-circle-o"></i> Profil</a></li>
                            <li><a href="{{ path('fos_user_change_password') }}"><i class="fa fa-lock"></i> Editer mon mot de passe</a></li>
                            <li><a href="{{ path('message_index') }}"><i class="fa fa-envelope-o"></i> Messages</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out"></i> Déconnexion</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        CT+
                    </div>
                </li>
                {% block menu_general_gauche %}
                    {{ include('_generals_includes/_general_left_menu.html.twig') }}
                {% endblock menu_general_gauche %}

            </ul>

        </div>
    </nav>
    {% endblock leftmenu %}

    <div id="page-wrapper" class="gray-bg">
        {% block topmenu %}
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                        {#
                        <form role="search" class="navbar-form-custom" action="">
                            <div class="form-group">
                                <input type="text" placeholder="Recherche..." class="form-control" name="top-search" id="top-search">
                            </div>
                        </form>
                        #}

                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        {# ALERTES DES INFORMATIONS A METTRE A JOUR PAR L'ADMINISTRATEUR #}

                        {% block alert_admin %}

                            {{ include('_generals_includes/_alerte_admin.html.twig') }}
                            {#
                            {{ include('_generals_includes/_notif_event_admingcar.html.twig') }}
                            #}


                        {% endblock alert_admin %}

                        {# FIN ALERTES DES INFORMATIONS A METTRE A JOUR PAR LéADMINISTRATEUR #}

                        {# NOTIFICATIONS #}

                        <li>
                            <a href="{{ path('fos_user_security_logout') }}">
                                <i class="fa fa-sign-out"></i> Déconnexion
                            </a>
                        </li>
                        <li>
                            {% if is_granted ('ROLE_SUPER_ADMIN') %}
                            <a href="{{ path('easyadmin') }}" class="text-danger" title="Administration">
                                <i class="fa fa-gears"></i>
                            </a>
                            {% else %}
                                <a href="" class="text-danger" title="Vous ne disposez pas des autorisations requises...">
                                    <i class="fa fa-gears"></i>
                                </a>
                            {% endif %}
                        </li>
                        <li>
                            <a class="right-sidebar-toggle">
                                <i class="fa fa-tasks"></i>
                            </a>
                        </li>
                    </ul>

                </nav>
            </div>
        {% endblock topmenu %}

        {#{% block buttons_filtres %}
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content text-center">
                        #}{# BOUTTON SERVICES #}{#
                        <div class="btn-group">
                            <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle btn-outline"><i class="fa fa-newspaper-o"></i>&nbsp;Services <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('ct_service') }}">Les services ({{ services | length }}) &nbsp;<span class="label label-warning">{{ service_departementdirections | length + service_directions | length }}</span></a></li>
                                <li><a href="#">Les services d'une telle direction</a></li>
                                <li><a href="#">Les services d'un tel département</a></li>
                                <li><a href="#">Les services d'une telle agence</a></li>
                                <li><a href="#">Le service d'un tel agent</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Ajouter un service</a></li>
                            </ul>
                        </div>

                        #}{# BOUTTON DEPARTEMENTS #}{#
                        <div class="btn-group">
                            <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle btn-outline"><i class="fa fa-newspaper-o"></i>&nbsp;Départements <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('ct_departement') }}">Les départements ({{ departements | length }}) &nbsp;<span class="label label-warning">{{ departement_directions | length }}</span></a></li>
                                <li><a href="#">Les départements d'une telle direction</a></li>
                                <li><a href="#">Les départements d'une telle agence</a></li>
                                <li><a href="#">Le département d'un tel agent</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Ajouter un département</a></li>
                            </ul>
                        </div>

                        #}{# BOUTTON DIRECTIONS #}{#
                        <div class="btn-group">
                            <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle btn-outline"><i class="fa fa-newspaper-o"></i>&nbsp;Directions <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('ct_direction') }}">Les directions ({{ directions | length }}) &nbsp;#}{#<span class="label label-warning">16</span>#}{#</a></li>
                                <li><a href="#">La direction d'un tel département</a></li>
                                <li><a href="#">La direction d'un tel service</a></li>
                                <li><a href="#">La direction d'une telle agence</a></li>
                                <li><a href="#">La direction d'un tel agent</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Ajouter une direction</a></li>
                            </ul>
                        </div>

                        #}{# BOUTTON AGENCES #}{#
                        <div class="btn-group">
                            <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle btn-outline"><i class="fa fa-bank"></i>&nbsp;Agences <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Les agences (toutes) &nbsp;<span class="label label-warning">16</span></a></li>
                                <li><a href="#">Les agences d'une telle direction</a></li>
                                <li><a href="#">Les agences d'un tel département</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Ajouter une agence</a></li>
                            </ul>
                        </div>

                        #}{# BOUTTON AGENTS #}{#
                        <button class="btn btn-default " type="button"><i class="fa fa-users"></i>&nbsp;&nbsp;<i class="fa fa-search"></i>&nbsp;&nbsp;Agents</button>
                    </div>
                </div>
            </div>
        {% endblock buttons_filtres %}#}

        {% block body %}

        {% endblock body %}

        {% block footer %}
            <div class="footer">
                <div class="pull-right">
                    Projet (V.2.0) réalisé par <strong>Mohamed Elamine</strong> & IBRAHIM Fouadi.
                </div>
                <div>
                    <strong> Copyright </strong> Comores Telecom <small>© 2016 - {{ "now"|date("Y") }}</small>
                </div>
            </div>
        {% endblock footer %}

    </div>

    <div id="right-sidebar">
        <div class="sidebar-container">

            <ul class="nav nav-tabs navs-3">

                <li class="active small"><a data-toggle="tab" href="#tab-1">
                        Admin
                    </a></li>
                <li><a data-toggle="tab" href="#tab-2">
                        Projects
                    </a></li>
                <li class=""><a data-toggle="tab" href="#tab-3">
                        <i class="fa fa-gear"></i>
                    </a>
                </li>
            </ul>

            <div class="tab-content">


                <div id="tab-1" class="tab-pane active">

                    {% if is_granted ('ROLE_ADMIN_GCAR') %}
                    <div class="sidebar-title">
                        <a href="{{ path('admin_evenements') }}"><h3> <i class="fa fa-gears"></i> Evenements </h3></a>
                    </div>
                    {% else %}
                    <div class="sidebar-title">
                        <h3> <i class="fa fa-gears"></i> Evenements </h3>
                        <span class="text-danger">Vous ne disposez pas des autorisations requises...</span>
                    </div>
                    {% endif %}
                    <div>

                        <div class="sidebar-message">
                            <a href="#">
                                <div class="pull-left text-center">
                                </div>
                                <div class="media-body">
                                    <a  href="{{ path('moncompte_administration') }}" > Mon admin</a>
                                </div>
                            </a>
                        </div>
                        <div class="sidebar-message">
                            <div class="pull-left text-center">
                            </div>
                            {% if is_granted ('ROLE_ADMIN_GSENERG') %}
                                <div class="media-body">
                                    <a  href="{{ path('admin.ct_gcar.indexServ') }}" > Service / Département / Direction</a>
                                </div>
                            {% else %}
                                <div class="media-body">
                                    <span> Service / Département / Direction</span>
                                    <br>
                                    <span class="text-danger small">Vous ne disposez pas des autorisations requises...</span>
                                </div>
                            {% endif %}
                        </div>
                        {# AFFAIRES SOCIALES #}
                        <div class="sidebar-message">
                            <div class="pull-left text-center">
                            </div>
                            {% if is_granted ('ROLE_ADMIN_GAFSOC') %}
                                <div class="media-body">
                                    <a  href="{{ path('home_afsoc') }}" > Affaires sociales</a>
                                </div>
                            {% else %}
                                <div class="media-body">
                                    <span> Affaires sociales</span>
                                    <br>
                                    <span class="text-danger small">Vous ne disposez pas des autorisations requises...</span>
                                </div>
                            {% endif %}
                        </div>
                        
                        <div class="sidebar-message">
                            <div class="pull-left text-center">
                            </div>
                            {% if is_granted ('ROLE_ADMIN_GSENERG') %}
                            <div class="media-body">
                                <a  href="{{ path('sites_energetiques_index') }}" > Sites énergétiques</a>
                            </div>
                            {% else %}
                                <div class="media-body">
                                    <span> Sites énergétiques</span>
                                    <br>
                                    <span class="text-danger small">Vous ne disposez pas des autorisations requises...</span>
                                </div>
                            {% endif %}

                        </div>
                        <div class="sidebar-message">
                            {# BANQUE DE SOLIDARITE #}
                            {% if is_granted ('ROLE_ADMIN_GBDS') %}
                            <div class="media-body">
                                <a  href="{{ path('home_bds') }}" > Banque de solidarité</a>
                            </div>
                            {% else %}
                                <div class="media-body">
                                    <span> Banque de solidarité</span>
                                    <br>
                                    <span class="text-danger small">Vous ne disposez pas des autorisations requises...</span>
                                </div>
                            {% endif %}
                        </div>
                        <div class="sidebar-message">
                            <a href="#">
                                <div class="media-body">
                                    <a href="{{ path('conge_index') }}" > Personnel <small class="text-muted">Admin congé</small></a>
                                </div>
                            </a>
                        </div>
                        {#
                        <div class="sidebar-message">
                            <a href="#">
                                <div class="pull-left text-center">
                                    <img alt="image" class="img-circle message-avatar" src="img/a2.jpg">
                                </div>
                                <div class="media-body">
                                    The point of using Lorem Ipsum is that it has a more-or-less normal.
                                    <br>
                                    <small class="text-muted">Yesterday 2:45 pm</small>
                                </div>
                            </a>
                        </div>
                        <div class="sidebar-message">
                            <a href="#">
                                <div class="pull-left text-center">
                                    <img alt="image" class="img-circle message-avatar" src="img/a3.jpg">

                                    <div class="m-t-xs">
                                        <i class="fa fa-star text-warning"></i>
                                        <i class="fa fa-star text-warning"></i>
                                        <i class="fa fa-star text-warning"></i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    Mevolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                                    <br>
                                    <small class="text-muted">Yesterday 1:10 pm</small>
                                </div>
                            </a>
                        </div>
                        <div class="sidebar-message">
                            <a href="#">
                                <div class="pull-left text-center">
                                    <img alt="image" class="img-circle message-avatar" src="img/a4.jpg">
                                </div>

                                <div class="media-body">
                                    Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the
                                    <br>
                                    <small class="text-muted">Monday 8:37 pm</small>
                                </div>
                            </a>
                        </div>
                        <div class="sidebar-message">
                            <a href="#">
                                <div class="pull-left text-center">
                                    <img alt="image" class="img-circle message-avatar" src="img/a8.jpg">
                                </div>
                                <div class="media-body">

                                    All the Lorem Ipsum generators on the Internet tend to repeat.
                                    <br>
                                    <small class="text-muted">Today 4:21 pm</small>
                                </div>
                            </a>
                        </div>
                        <div class="sidebar-message">
                            <a href="#">
                                <div class="pull-left text-center">
                                    <img alt="image" class="img-circle message-avatar" src="img/a7.jpg">
                                </div>
                                <div class="media-body">
                                    Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                                    <br>
                                    <small class="text-muted">Yesterday 2:45 pm</small>
                                </div>
                            </a>
                        </div>
                        <div class="sidebar-message">
                            <a href="#">
                                <div class="pull-left text-center">
                                    <img alt="image" class="img-circle message-avatar" src="img/a3.jpg">

                                    <div class="m-t-xs">
                                        <i class="fa fa-star text-warning"></i>
                                        <i class="fa fa-star text-warning"></i>
                                        <i class="fa fa-star text-warning"></i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    The standard chunk of Lorem Ipsum used since the 1500s is reproduced below.
                                    <br>
                                    <small class="text-muted">Yesterday 1:10 pm</small>
                                </div>
                            </a>
                        </div>
                        <div class="sidebar-message">
                            <a href="#">
                                <div class="pull-left text-center">
                                    <img alt="image" class="img-circle message-avatar" src="img/a4.jpg">
                                </div>
                                <div class="media-body">
                                    Uncover many web sites still in their infancy. Various versions have.
                                    <br>
                                    <small class="text-muted">Monday 8:37 pm</small>
                                </div>
                            </a>
                        </div>
                        #}
                    </div>

                </div>
                {#
                <div id="tab-2" class="tab-pane">

                    <div class="sidebar-title">
                        <h3> <i class="fa fa-cube"></i> Latest projects</h3>
                        <small><i class="fa fa-tim"></i> You have 14 projects. 10 not completed.</small>
                    </div>

                    <ul class="sidebar-list">
                        <li>
                            <a href="#">
                                <div class="small pull-right m-t-xs">9 hours ago</div>
                                <h4>Business valuation</h4>
                                It is a long established fact that a reader will be distracted.

                                <div class="small">Completion with: 22%</div>
                                <div class="progress progress-mini">
                                    <div style="width: 22%;" class="progress-bar progress-bar-warning"></div>
                                </div>
                                <div class="small text-muted m-t-xs">Project end: 4:00 pm - 12.06.2014</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="small pull-right m-t-xs">9 hours ago</div>
                                <h4>Contract with Company </h4>
                                Many desktop publishing packages and web page editors.

                                <div class="small">Completion with: 48%</div>
                                <div class="progress progress-mini">
                                    <div style="width: 48%;" class="progress-bar"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="small pull-right m-t-xs">9 hours ago</div>
                                <h4>Meeting</h4>
                                By the readable content of a page when looking at its layout.

                                <div class="small">Completion with: 14%</div>
                                <div class="progress progress-mini">
                                    <div style="width: 14%;" class="progress-bar progress-bar-info"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="label label-primary pull-right">NEW</span>
                                <h4>The generated</h4>
                                <!--<div class="small pull-right m-t-xs">9 hours ago</div>-->
                                There are many variations of passages of Lorem Ipsum available.
                                <div class="small">Completion with: 22%</div>
                                <div class="small text-muted m-t-xs">Project end: 4:00 pm - 12.06.2014</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="small pull-right m-t-xs">9 hours ago</div>
                                <h4>Business valuation</h4>
                                It is a long established fact that a reader will be distracted.

                                <div class="small">Completion with: 22%</div>
                                <div class="progress progress-mini">
                                    <div style="width: 22%;" class="progress-bar progress-bar-warning"></div>
                                </div>
                                <div class="small text-muted m-t-xs">Project end: 4:00 pm - 12.06.2014</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="small pull-right m-t-xs">9 hours ago</div>
                                <h4>Contract with Company </h4>
                                Many desktop publishing packages and web page editors.

                                <div class="small">Completion with: 48%</div>
                                <div class="progress progress-mini">
                                    <div style="width: 48%;" class="progress-bar"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="small pull-right m-t-xs">9 hours ago</div>
                                <h4>Meeting</h4>
                                By the readable content of a page when looking at its layout.

                                <div class="small">Completion with: 14%</div>
                                <div class="progress progress-mini">
                                    <div style="width: 14%;" class="progress-bar progress-bar-info"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="label label-primary pull-right">NEW</span>
                                <h4>The generated</h4>
                                <!--<div class="small pull-right m-t-xs">9 hours ago</div>-->
                                There are many variations of passages of Lorem Ipsum available.
                                <div class="small">Completion with: 22%</div>
                                <div class="small text-muted m-t-xs">Project end: 4:00 pm - 12.06.2014</div>
                            </a>
                        </li>

                    </ul>

                </div>

                <div id="tab-3" class="tab-pane">

                    <div class="sidebar-title">
                        <h3><i class="fa fa-gears"></i> Settings</h3>
                        <small><i class="fa fa-tim"></i> You have 14 projects. 10 not completed.</small>
                    </div>

                    <div class="setings-item">
                    <span>
                        Show notifications
                    </span>
                        <div class="switch">
                            <div class="onoffswitch">
                                <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="example">
                                <label class="onoffswitch-label" for="example">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="setings-item">
                    <span>
                        Disable Chat
                    </span>
                        <div class="switch">
                            <div class="onoffswitch">
                                <input type="checkbox" name="collapsemenu" checked class="onoffswitch-checkbox" id="example2">
                                <label class="onoffswitch-label" for="example2">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="setings-item">
                    <span>
                        Enable history
                    </span>
                        <div class="switch">
                            <div class="onoffswitch">
                                <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="example3">
                                <label class="onoffswitch-label" for="example3">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="setings-item">
                    <span>
                        Show charts
                    </span>
                        <div class="switch">
                            <div class="onoffswitch">
                                <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="example4">
                                <label class="onoffswitch-label" for="example4">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="setings-item">
                    <span>
                        Offline users
                    </span>
                        <div class="switch">
                            <div class="onoffswitch">
                                <input type="checkbox" checked name="collapsemenu" class="onoffswitch-checkbox" id="example5">
                                <label class="onoffswitch-label" for="example5">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="setings-item">
                    <span>
                        Global search
                    </span>
                        <div class="switch">
                            <div class="onoffswitch">
                                <input type="checkbox" checked name="collapsemenu" class="onoffswitch-checkbox" id="example6">
                                <label class="onoffswitch-label" for="example6">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="setings-item">
                    <span>
                        Update everyday
                    </span>
                        <div class="switch">
                            <div class="onoffswitch">
                                <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="example7">
                                <label class="onoffswitch-label" for="example7">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="sidebar-content">
                        <h4>Settings</h4>
                        <div class="small">
                            I belive that. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            And typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            Over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                        </div>
                    </div>

                </div>
                #}
            </div>

        </div>



    </div>

</div>

{% endif %}
{% block javascripts %}

    {# --  Scripts principaux -- #}
    <script type="text/javascript" src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

    {# <!-- Custom and plugin javascript --> #}
    <script type="text/javascript" src="{{ asset('js/inspinia.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/pace/pace.min.js') }}"></script>

    {# <!-- Flot --> #}
    {#
    <script>
        function onClickBtnEnligne(event) {
            event.preventDefault();

            const url = this.href;
            const icone = this.querySelector('img');

            axios.get(url).then(function (response) {
                if(icone.classList.contains('circle-border-sm-online')) {
                    icone.classList.replace('circle-border-sm-online', 'circle-border-sm-offline');
                } else {
                    icone.classList.replace('circle-border-sm-offline', 'circle-border-sm-online');
                }
            }).catch(function (error) {
                if (error.response.status === 403) {
                    window.alert("Vous ne pouvez pas changer le statut si vous n'êtes pas connecté!")
                } else {
                    window.alert("une erreur s'est produite, réessayez plus tard!")
                }
            })
        }

        document.querySelectorAll('a.js-enligne').forEach(function (link) {
            link.addEventListener('click', onClickBtnEnligne);
        })
    </script>

    <script>
        $(document).ready(function() {


            var d1 = [[1262304000000, 6], [1264982400000, 3057], [1267401600000, 20434], [1270080000000, 31982], [1272672000000, 26602], [1275350400000, 27826], [1277942400000, 24302], [1280620800000, 24237], [1283299200000, 21004], [1285891200000, 12144], [1288569600000, 10577], [1291161600000, 10295]];
            var d2 = [[1262304000000, 5], [1264982400000, 200], [1267401600000, 1605], [1270080000000, 6129], [1272672000000, 11643], [1275350400000, 19055], [1277942400000, 30062], [1280620800000, 39197], [1283299200000, 37000], [1285891200000, 27000], [1288569600000, 21000], [1291161600000, 17000]];

            var data1 = [
                { label: "Data 1", data: d1, color: '#17a084'},
                { label: "Data 2", data: d2, color: '#127e68' }
            ];
            $.plot($("#flot-chart1"), data1, {
                xaxis: {
                    tickDecimals: 0
                },
                series: {
                    lines: {
                        show: true,
                        fill: true,
                        fillColor: {
                            colors: [{
                                opacity: 1
                            }, {
                                opacity: 1
                            }]
                        },
                    },
                    points: {
                        width: 0.1,
                        show: false
                    },
                },
                grid: {
                    show: false,
                    borderWidth: 0
                },
                legend: {
                    show: false,
                }
            });

            var lineData = {
                labels: ["January", "February", "March", "April", "May", "June", "July"],
                datasets: [
                    {
                        label: "Example dataset",
                        backgroundColor: "rgba(26,179,148,0.5)",
                        borderColor: "rgba(26,179,148,0.7)",
                        pointBackgroundColor: "rgba(26,179,148,1)",
                        pointBorderColor: "#fff",
                        data: [48, 48, 60, 39, 56, 37, 30]
                    },
                    {
                        label: "Example dataset",
                        backgroundColor: "rgba(220,220,220,0.5)",
                        borderColor: "rgba(220,220,220,1)",
                        pointBackgroundColor: "rgba(220,220,220,1)",
                        pointBorderColor: "#fff",
                        data: [65, 59, 40, 51, 36, 25, 40]
                    }
                ]
            };

            var lineOptions = {
                responsive: true
            };


            var ctx = document.getElementById("lineChart").getContext("2d");
            new Chart(ctx, {type: 'line', data: lineData, options:lineOptions});


        });
    </script>
    #}
{% endblock javascripts %}

</body>
</html>

