{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Medecins {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/plugins/dataTables/datatables.min.css') }}" />
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}

            <div class="wrapper wrapper-content">
                <div class="row">
                    {# Messages Falsh #}
                    {% for message in app.flashes('success') %}
                        <div class="col-lg-12">
                            <div class="alert alert-success alert-dismissable ">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                {{ message }}
                            </div>
                        </div>
                    {% endfor %}

                </div>
                <div class="row">

                    <div class="col-lg-12">
                        <div class="widget-head-color-box bg-info p-h-xs">
                            <span style="margin-left: 10px;">
                                <a href="{{ path('home_afsoc') }}" class="btn btn-xs btn-warning">
                                    <i class="fa fa-home"></i>
                                    Accueil Afsoc
                                </a>
                            </span>
                            <span style="margin-left: 10px;">
                                <a href="{{ path('afsoc_medecin_new') }}" class="btn btn-xs btn-primary">
                                    <i class="fa fa-user"></i>
                                    Ajouter un medecin
                                </a>
                            </span>
                        </div>
                        <div class="widget-text-box">

                            <table class="table table-striped table-bordered table-hover dataTables-example" >
                                <thead>
                                <tr>
                                    <th>NomPrenom</th>
                                    <th>Tel</th>
                                    <th>Adresse</th>
                                    <th>Agree</th>
                                    <th>#</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for medecin in medecins %}
                                    <tr>
                                        <td>{{ medecin.nomPrenom }}</td>
                                        <td>{{ medecin.tel }}</td>
                                        <td>{{ medecin.adresse }}</td>
                                        <td>{{ medecin.agree ? 'Oui' : 'Non' }}</td>
                                        <td>
                                            <span class="pull-right">
                                                {{ include('affaires_sociales/medecin/_delete_form.html.twig') }}
                                                </a>
                                            </span>
                                            <span class="pull-right">
                                                <a href="{{ path('afsoc_medecin_edit', {'id': medecin.id}) }}" class="btn btn-xs btn-warning text-right pull-left"style="margin-right: 10px;">
                                                <i class="fa fa-edit"></i>
                                                </a>
                                            </span>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="6">Aucun enregistrement trouvé!</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                            <hr/>

                            <div>
                                <div class="block">

                                    <a href="{{ path('home_afsoc') }}" class="btn btn-xs btn-success text-right">
                                        <i class="fa fa-home"></i>
                                        Accueil Afsoc
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/plugins/dataTables/datatables.min.js') }}"></script>

    <script>
        $(document).ready(function(){
            $('.dataTables-example').DataTable({
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    {extend: 'copy', title: 'Services-CT'},
                    {extend: 'csv', title: 'Services-CT'},
                    {extend: 'excel', title: 'Services-CT'},
                    {extend: 'pdf', title: 'Services-CT'},

                    {extend: 'print',
                        customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]
            });

            /* Init DataTables */
            var oTable = $('#editable').DataTable();

            /* Apply the jEditable handlers to the table */
            oTable.$('td').editable( '../example_ajax.php', {
                "callback": function( sValue, y ) {
                    var aPos = oTable.fnGetPosition( this );
                    oTable.fnUpdate( sValue, aPos[0], aPos[1] );
                },
                "submitdata": function ( value, settings ) {
                    return {
                        "row_id": this.parentNode.getAttribute('id'),
                        "column": oTable.fnGetPosition( this )[2]
                    };
                },

                "width": "90%",
                "height": "100%"
            } );
        });
    </script>
{% endblock javascripts %}
