{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Enregistrer un médecin{% endblock title %}

    {% block stylesheets %}
        {{ parent() }}

        <link rel="stylesheet" href="{{ asset('css/plugins/select2/select2.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/plugins/chosen/bootstrap-chosen.css') }}">

    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}

            <div class="row">

                <div class="wrapper wrapper-content animated fadeInUp">

                    <div class="row">
                        <div class="col-lg-12">

                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    Enregistrer un médecin
                                </div>
                                <div class="panel-body">
                                    {{ form_start(form, {
                                        'attr': {
                                            'class': 'form-horizontal',
                                            'role': 'form',
                                        }
                                    }) }}

                                    <div class="form-group">
                                        <label class="col-sm-6">Nom Prénom</label>
                                        <div class="col-sm-12">
                                            {{ form_widget(form.nomPrenom) }}
                                            <div class="form-error">
                                                <small class="text-danger">{{ form_errors(form.nomPrenom) }}</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6">Tel</label>
                                        <div class="col-sm-12">
                                            {{ form_widget(form.tel) }}
                                            <div class="form-error">
                                                <small class="text-danger">{{ form_errors(form.tel) }}</small>
                                            </div>
                                        </div>
                                        <label class="col-sm-6">Adresse</label>
                                        <div class="col-sm-12">
                                            {{ form_widget(form.adresse) }}
                                            <div class="form-error">
                                                <small class="text-danger">{{ form_errors(form.adresse) }}</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6">Cochez si oui !</label>
                                        <div class="col-sm-12">
                                            {{ form_widget(form.agree) }}
                                            <div class="form-error">
                                                <small class="text-danger">{{ form_errors(form.agree) }}</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <button class="btn btn-primary" type="submit">Enregistrer</button>
                                        </div>
                                    </div>
                                    {{ form_end(form) }}
                                    <div class="hr-line-dashed"></div>
                                    <a type="button" class="btn btn-default pull-left" href="{{ path('afsoc_medecin_index') }}">
                                        <i class="fa fa-arrow-left"></i> Liste des médecins</a>
                                    <br>

                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}
        {% block javascripts %}
            {{ parent() }}

            {#<!-- Chosen -->#}
            <script type="text/javascript" src="{{ asset('js/plugins/chosen/chosen.jquery.js') }}"></script>



            <script>
                $('.chosen-select').chosen({width: "100%"});
            </script>

        {% endblock javascripts %}
