{% extends 'base.html.twig' %}

{% block title %}Medecin{% endblock %}

{% block body %}
    <h1>Medecin</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ medecin.id }}</td>
            </tr>
            <tr>
                <th>NomPrenom</th>
                <td>{{ medecin.nomPrenom }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ medecin.tel }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ medecin.adresse }}</td>
            </tr>
            <tr>
                <th>Agree</th>
                <td>{{ medecin.agree ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('affaires_sociales_medecin_index') }}">back to list</a>

    <a href="{{ path('affaires_sociales_medecin_edit', {'id': medecin.id}) }}">edit</a>

    {{ include('affaires_sociales_medecin/_delete_form.html.twig') }}
{% endblock %}
