<form method="post" action="{{ path('attributions_fonction_delete', {'id': fonction.id}) }}"
      onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fonction.id) }}">
    <button class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> {% if app.request.attributes.get('_route') == 'attributions_fonction_show' %}Supprimer {% endif %}</button>
</form>
