{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Tâches de fonction {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Morris --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css') }}">
        <link rel="stylesheet" href="{{ asset('css/plugins/chosen/bootstrap-chosen.css') }}">

    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">

        {# include du menu_left
        {{ include('evenements/_includes/_left_menu.html.twig') }}
         Fin include du menu_left #}

        <div class="col-lg-12">

            <div class="ibox">
                <div class="ibox-content">
                    <a type="button" class="btn btn-primary pull-right" href="{{ path('attributions_tache_new', {pg_precedent: 'fonction_new',id : url_id}) }}">
                        <i class="fa fa-plus"></i> Ajouter une tâche inexistante
                    </a>
                    <h3>Tâches de fonction | Enregistrer</h3>


                    {{ form_start(form) }}
                        <div class="form-group">
                            <label>Poste / Utilisateur</label> <span class="text-danger"> [ Ne pas toucher ce champs ]</span>
                            {{ form_widget(form.posteUsers, {
                                'attr': {
                                    'class': 'chosen-select'
                                }
                            }) }}
                        </div>
                        <div class="form-group {% if form_errors(form.posteConcerne) %}has-error{% endif %}">
                            <label>Poste concerné </label> <span class="text-danger"> {% if form_errors(form.posteConcerne) %} Penser plutot à une modification des taches car cet agent possède des taches pour cette fonction!{% endif %}</span>
                            {{ form_widget(form.posteConcerne) }}
                        </div>
                        <div class="form-group">
                            <label>Tâches</label><span class="text-danger"> [ Plusieurs choix vous sont possibles ]</span>
                            {{ form_widget(form.taches, {
                                'attr': {
                                    'class': 'chosen-select',
                                }
                            }) }}
                        </div>
                    <input class="btn btn-primary" type="submit" value="Enregistrer" />
                    {{ form_end(form) }}
                </div>
                <div class="ibox-footer">
                    <a href="{{ path('attributions_fonction_index') }}"><span class="fa fa-angle-left"></span> Retour </a>
                </div>
            </div>

        </div>

    </div>
</div>
        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}

    <script type="text/javascript" src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/inspinia.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/pace/pace.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/select2/select2.full.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/touchspin/jquery.bootstrap-touchspin.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/chosen/chosen.jquery.js') }}"></script>

    <script>
        $('.chosen-select').chosen({width: "100%"});
    </script>

{% endblock javascripts %}
