{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Ajout Srvc / Dpt /Dir {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('font-awesome/css/font-awesome.css') }}">

        <link rel="stylesheet" href="{{ asset('css/plugins/chosen/bootstrap-chosen.css') }}">

        <link rel="stylesheet" href="{{ asset('css/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css') }}">



        <link rel="stylesheet" href="{{ asset('css/plugins/switchery/switchery.css') }}">

        <link rel="stylesheet" href="{{ asset('css/plugins/jasny/jasny-bootstrap.min.css') }}">

        <link rel="stylesheet" href="{{ asset('css/plugins/nouslider/jquery.nouislider.css') }}">


        <link rel="stylesheet" href="{{ asset('css/plugins/select2/select2.min.css') }}">

        <link rel="stylesheet" href="{{ asset('css/plugins/touchspin/jquery.bootstrap-touchspin.min.css') }}">

        <link rel="stylesheet" href="{{ asset('css/animate.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}
            {# Récupération de l'ID
            {% set user_id = app.request.get('id') %}
             #}

            <div class="row">
                {# Messages Falsh #}
                {% for message in app.flashes('success') %}
                    <div class="col-lg-12" style="margin-top: 15px;">
                        <div class="alert alert-success alert-dismissable ">
                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}

                <div class="wrapper wrapper-content animated fadeInUp">

                    <div class="row">
                        <div class="col-lg-3">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Ajouter un service</h5>
                                </div>
                                <div class="ibox-content">
                                    {{ form_start(form_add_serv, {
                                        'attr': {
                                            'class': 'form-horizontal',
                                            'role': 'form'
                                        }
                                    }) }}

                                    <div class="form-group">
                                        <div class="col-lg-12">
                                            {{ form_widget(form_add_serv.designation, {
                                                'attr': {
                                                    'class': 'form-control'
                                                }
                                            }) }}
                                            <div class="form-error">
                                                <small class="text-danger">{{ form_errors(form_add_serv.designation) }}</small>
                                            </div>
                                            <span class="help-block m-b-none">
                                                Saisissez le nom du service
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <button class="btn btn-sm btn-primary pull-right" type="submit">Ajouter</button>
                                            <a href="{{ path('moncompte_administration') }}" class="btn btn-sm btn-default">
                                                <i class="fa fa-arrow-left"></i> Annuler
                                            </a>
                                        </div>
                                    </div>
                                    {{ form_end(form_add_serv) }}

                                    {# ===== LIGNE SEPARATRICE ===== #}
                                    <div class="hr-line-dashed"></div>
                                    {# ==== FIN LIGNE SEPARATRICE ===== #}

                                    <p class="font-bold small">Dernier service ajouté :</p>
                                    {% for serv in servs %}
                                        {% if loop.last %}
                                            <p class="font-bold text-danger">{{ serv }}</p>
                                            {% set depts = serv.getServiceDepartementdirections() %}
                                            {% for dept in depts %}
                                                {{ dept.departement|e }}
                                                {% else %}
                                                    Ce service est <span class="font-bold text-danger"> orphelin</span>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}

                                    <div class="hr-line-dashed"></div>
                                    <h4>Ajouter une direction</h4>
                                    <br>
                                    {{ form_start(form_add_dir, {
                                        'attr': {
                                            'class': 'form-horizontal',
                                            'role': 'form'
                                        }
                                    }) }}

                                    <div class="form-group">
                                        <div class="col-lg-12">
                                            {{ form_widget(form_add_dir.designation, {
                                                'attr': {
                                                    'class': 'form-control'
                                                }
                                            }) }}
                                            <div class="form-error">
                                                <small class="text-danger">{{ form_errors(form_add_dir.designation) }}</small>
                                            </div>
                                            <span class="help-block m-b-none">
                                                Saisissez la direction
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-12">
                                            {{ form_widget(form_add_dir.tel, {
                                                'attr': {
                                                    'class': 'form-control'
                                                }
                                            }) }}
                                            <span class="help-block m-b-none">
                                                Saisissez le tel de la direction
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <button class="btn btn-sm btn-primary pull-right" type="submit">Ajouter</button>
                                            <a href="{{ path('moncompte_administration') }}" class="btn btn-sm btn-default">
                                                <i class="fa fa-arrow-left"></i> Annuler
                                            </a>
                                        </div>
                                    </div>
                                    {{ form_end(form_add_dir) }}

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-9">

                            {# ENTETE POUR AFFICHER LES ERREURS #}
                            <div class="ibox float-e-margins">
                                <div class="ibox-content text-center">
                                    <h2>
                                        <i class="fa fa-expand"> </i> Faites attention à la saisie!
                                    </h2>
                                    {% if not form_serv_dept.vars.valid %}
                                        <div class="alert alert-danger alert-dismissable">
                                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                            Erreur de validation, veuillez cliquer sur l'onglet en <b>rouge : [Service à un département]</b>.
                                        </div>
                                    {% elseif not form_serv_dir.vars.valid %}
                                        <div class="alert alert-danger alert-dismissable">
                                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                            Erreur de validation, veuillez cliquer sur l'onglet en <b>rouge : [Service à une direction]</b>.
                                        </div>
                                    {% elseif not form_dept_dir.vars.valid %}
                                        <div class="alert alert-danger alert-dismissable">
                                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                            Erreur de validation, veuillez cliquer sur l'onglet en <b>rouge : [Département à une direction]</b>.
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            {# FIN ENTETE POUR AFFICHER LES ERREURS #}

                            <div class="tabs-container">
                                <div class="tabs-left">
                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a data-toggle="tab" href="#tab-1">
                                                Service à un département
                                            </a>
                                        </li>
                                        <li class="">
                                            <a data-toggle="tab" href="#tab-2">
                                                {% if not form_serv_dir.vars.valid %}
                                                    <span class="text-danger font-bold">Service à une direction</span>
                                                {% else %}
                                                    <span class="text-primary font-bold">Service à une direction</span>
                                                {% endif %}
                                            </a>
                                        </li>
                                        <li class="">
                                            <a data-toggle="tab" href="#tab-3">
                                                {% if not form_dept_dir.vars.valid %}
                                                    <span class="text-danger font-bold">Département à une direction</span>
                                                {% else %}
                                                    <span class="text-primary font-bold">Département à une direction</span>
                                                {% endif %}
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content ">
                                        <div id="tab-1" class="tab-pane active">
                                            <div class="panel-body">

                                                <h2>Lié un service à un département</h2>

                                                <div class="hr-line-dashed"></div>

                                                {{ form_start(form_serv_dept) }}
                                                <div class="form-group">
                                                    {{ form_widget(form_serv_dept.service, {
                                                        'placeholder': 'Service',
                                                        'attr': {
                                                            'class': 'form-coontrol chosen-select',
                                                            'tabindex': '2'
                                                            }
                                                    }) }}
                                                </div>
                                                <div class="form-group">
                                                    {{ form_widget(form_serv_dept.departementdirection, {
                                                        'placeholder': 'Département',
                                                        'attr': {
                                                            'class': 'form-control chosen-select',
                                                            'tabindex': '2'
                                                        }
                                                    }) }}
                                                </div>
                                                <div class="form-group">
                                                    {{ form_widget(form_serv_dept.tel, {
                                                        'attr': {
                                                        'placeholder': 'Téléphone du service'
                                                    }
                                                    }) }}

                                                </div>
                                                {{ form_widget(form_serv_dept.agence, {
                                                    'attr': {
                                                        'class': 'hidden'
                                                    }
                                                }) }}
                                                <div class="form-group">
                                                    <button class="btn btn-w-m btn-primary pull-right" type="submit">
                                                        Valider
                                                    </button>
                                                </div>
                                                {{ form_end(form_serv_dept) }}

                                            </div>
                                        </div>

                                        <div id="tab-2" class="tab-pane">
                                            <div class="panel-body">

                                                <h2>Lié un service à une direction</h2>

                                                <div class="hr-line-dashed"></div>

                                                {{ form_start(form_serv_dir) }}
                                                <div class="form-group">
                                                    {{ form_widget(form_serv_dir.service, {
                                                        'placeholder': 'Service',
                                                        'attr': {
                                                            'class': 'form-coontrol chosen-select',
                                                            'tabindex': '2'
                                                        }
                                                    }) }}
                                                </div>
                                                <div class="form-group">
                                                    {{ form_widget(form_serv_dir.direction, {
                                                        'placeholder': 'Direction',
                                                        'attr': {
                                                            'class': 'form-control chosen-select',
                                                            'tabindex': '2'
                                                        }
                                                    }) }}
                                                </div>
                                                <div class="form-group">
                                                    {{ form_widget(form_serv_dir.tel, {
                                                        'attr': {
                                                            'placeholder': 'Téléphone du service'
                                                    }
                                                    }) }}

                                                </div>
                                                <div class="form-group">
                                                    <button class="btn btn-w-m btn-primary pull-right" type="submit">
                                                        Valider
                                                    </button>
                                                </div>
                                                {{ form_end(form_serv_dir) }}

                                            </div>
                                        </div>

                                        <div id="tab-3" class="tab-pane">
                                            <div class="panel-body">

                                                {{ form_start(form_dept_dir) }}
                                                {{ form_errors(form_dept_dir) }}
                                                <h2>Lié un département a une direction</h2>

                                                <div class="hr-line-dashed"></div>


                                                <div class="form-error">
                                                    <small class="text-danger">{{ form_errors(form_dept_dir) }}</small>
                                                </div>
                                                <div class="form-group">
                                                    {{ form_widget(form_dept_dir.departement, {
                                                        'placeholder': 'Département',
                                                        'attr': {
                                                            'class': 'form-coontrol chosen-select',
                                                            'tabindex': '2',
                                                        }
                                                    }) }}
                                                </div>
                                                <div class="form-error">
                                                    <small class="text-danger">{{ form_errors(form_dept_dir.departement) }}</small>
                                                </div>

                                                <div class="form-group">
                                                    {{ form_widget(form_dept_dir.direction, {
                                                        'placeholder': 'Direction',
                                                        'attr': {
                                                            'class': 'form-control chosen-select',
                                                            'tabindex': '2',
                                                        }
                                                    }) }}
                                                </div>
                                                <div class="form-error">
                                                    <small class="text-danger">{{ form_errors(form_dept_dir.direction) }}</small>
                                                </div>

                                                <div class="form-group">
                                                    {{ form_widget(form_dept_dir.tel, {
                                                        'attr': {
                                                            'placeholder': 'Téléphone du département'
                                                    }
                                                    }) }}

                                                </div>
                                                <div class="form-group">
                                                    <button class="btn btn-w-m btn-primary pull-right" type="submit">
                                                        Valider
                                                    </button>
                                                </div>
                                                {{ form_end(form_dept_dir) }}

                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                        </div>
                    </div>

                </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('js/plugins/jasny/jasny-bootstrap.min.js') }}') }}"></script>

    <script type="text/javascript" src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>

    <!-- Custom and plugin javascript -->
    <script type="text/javascript" src="{{ asset('js/inspinia.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/pace/pace.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

    <!-- Chosen -->
    <script type="text/javascript" src="{{ asset('js/plugins/chosen/chosen.jquery.js') }}"></script>

    <!-- JSKnob -->
    <script type="text/javascript" src="{{ asset('js/plugins/jsKnob/jquery.knob.js') }}"></script>


    <!-- NouSlider -->
    <script type="text/javascript" src="{{ asset('js/plugins/nouslider/jquery.nouislider.min.js') }}"></script>

    <!-- Switchery -->
    <script type="text/javascript" src="{{ asset('js/plugins/switchery/switchery.js') }}"></script>

    <!-- IonRangeSlider -->
    <script type="text/javascript" src="{{ asset('js/plugins/ionRangeSlider/ion.rangeSlider.min.js') }}"></script>

    <!-- iCheck -->
    <script type="text/javascript" src="{{ asset('js/plugins/iCheck/icheck.min.js') }}"></script>

    <!-- MENU -->
    <script type="text/javascript" src="{{ asset('js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>

    <!-- Select2 -->
    <script type="text/javascript" src="{{ asset('js/plugins/select2/select2.full.min.js') }}"></script>

    <!-- TouchSpin -->
    <script type="text/javascript" src="{{ asset('js/plugins/touchspin/jquery.bootstrap-touchspin.min.js') }}"></script>

    <!-- Tags Input -->
    <script type="text/javascript" src="{{ asset('js/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js') }}"></script>

    <script>
        $(document).ready(function(){

            $('.tagsinput').tagsinput({
                tagClass: 'label label-primary'
            });

            var $image = $(".image-crop > img")
            $($image).cropper({
                aspectRatio: 1.618,
                preview: ".img-preview",
                done: function(data) {
                    // Output the result data for cropping image.
                }
            });

            var $inputImage = $("#inputImage");
            if (window.FileReader) {
                $inputImage.change(function() {
                    var fileReader = new FileReader(),
                        files = this.files,
                        file;

                    if (!files.length) {
                        return;
                    }

                    file = files[0];

                    if (/^image\/\w+$/.test(file.type)) {
                        fileReader.readAsDataURL(file);
                        fileReader.onload = function () {
                            $inputImage.val("");
                            $image.cropper("reset", true).cropper("replace", this.result);
                        };
                    } else {
                        showMessage("Please choose an image file.");
                    }
                });
            } else {
                $inputImage.addClass("hide");
            }

            $("#download").click(function() {
                window.open($image.cropper("getDataURL"));
            });

            $("#zoomIn").click(function() {
                $image.cropper("zoom", 0.1);
            });

            $("#zoomOut").click(function() {
                $image.cropper("zoom", -0.1);
            });

            $("#rotateLeft").click(function() {
                $image.cropper("rotate", 45);
            });

            $("#rotateRight").click(function() {
                $image.cropper("rotate", -45);
            });

            $("#setDrag").click(function() {
                $image.cropper("setDragMode", "crop");
            });


            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green'
            });

            $('.demo1').colorpicker();

            var divStyle = $('.back-change')[0].style;
            $('#demo_apidemo').colorpicker({
                color: divStyle.backgroundColor
            }).on('changeColor', function(ev) {
                divStyle.backgroundColor = ev.color.toHex();
            });

            $('.clockpicker').clockpicker();

            $('input[name="daterange"]').daterangepicker();

            $('#reportrange span').html(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));

            $('#reportrange').daterangepicker({
                format: 'MM/DD/YYYY',
                startDate: moment().subtract(29, 'days'),
                endDate: moment(),
                minDate: '01/01/2012',
                maxDate: '12/31/2015',
                dateLimit: { days: 60 },
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                opens: 'right',
                drops: 'down',
                buttonClasses: ['btn', 'btn-sm'],
                applyClass: 'btn-primary',
                cancelClass: 'btn-default',
                separator: ' to ',
                locale: {
                    applyLabel: 'Submit',
                    cancelLabel: 'Cancel',
                    fromLabel: 'From',
                    toLabel: 'To',
                    customRangeLabel: 'Custom',
                    daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr','Sa'],
                    monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                    firstDay: 1
                }
            }, function(start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            });

            $(".select2_demo_1").select2();
            $(".select2_demo_2").select2();
            $(".select2_demo_3").select2({
                placeholder: "Select a state",
                allowClear: true
            });


            $(".touchspin1").TouchSpin({
                buttondown_class: 'btn btn-white',
                buttonup_class: 'btn btn-white'
            });

            $(".touchspin2").TouchSpin({
                min: 0,
                max: 100,
                step: 0.1,
                decimals: 2,
                boostat: 5,
                maxboostedstep: 10,
                postfix: '%',
                buttondown_class: 'btn btn-white',
                buttonup_class: 'btn btn-white'
            });

            $(".touchspin3").TouchSpin({
                verticalbuttons: true,
                buttondown_class: 'btn btn-white',
                buttonup_class: 'btn btn-white'
            });

            $('.dual_select').bootstrapDualListbox({
                selectorMinimalHeight: 160
            });


        });

        $('.chosen-select').chosen({width: "100%"});

        $("#ionrange_1").ionRangeSlider({
            min: 0,
            max: 5000,
            type: 'double',
            prefix: "$",
            maxPostfix: "+",
            prettify: false,
            hasGrid: true
        });

        $("#ionrange_2").ionRangeSlider({
            min: 0,
            max: 10,
            type: 'single',
            step: 0.1,
            postfix: " carats",
            prettify: false,
            hasGrid: true
        });

        $("#ionrange_3").ionRangeSlider({
            min: -50,
            max: 50,
            from: 0,
            postfix: "°",
            prettify: false,
            hasGrid: true
        });

        $("#ionrange_4").ionRangeSlider({
            values: [
                "January", "February", "March",
                "April", "May", "June",
                "July", "August", "September",
                "October", "November", "December"
            ],
            type: 'single',
            hasGrid: true
        });

        $("#ionrange_5").ionRangeSlider({
            min: 10000,
            max: 100000,
            step: 100,
            postfix: " km",
            from: 55000,
            hideMinMax: true,
            hideFromTo: false
        });

        $(".dial").knob();

        var basic_slider = document.getElementById('basic_slider');

        noUiSlider.create(basic_slider, {
            start: 40,
            behaviour: 'tap',
            connect: 'upper',
            range: {
                'min':  20,
                'max':  80
            }
        });

        var range_slider = document.getElementById('range_slider');

        noUiSlider.create(range_slider, {
            start: [ 40, 60 ],
            behaviour: 'drag',
            connect: true,
            range: {
                'min':  20,
                'max':  80
            }
        });

        var drag_fixed = document.getElementById('drag-fixed');

        noUiSlider.create(drag_fixed, {
            start: [ 40, 60 ],
            behaviour: 'drag-fixed',
            connect: true,
            range: {
                'min':  20,
                'max':  80
            }
        });


    </script>

{% endblock javascripts %}

