{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Edit Service {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}

        <link rel="stylesheet" href="{{ asset('css/plugins/chosen/bootstrap-chosen.css') }}">

        <link rel="stylesheet" href="{{ asset('css/plugins/touchspin/jquery.bootstrap-touchspin.min.css') }}">

    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}
            {# Récupération de l'ID
            {% set user_id = app.request.get('id') %}
             #}

            <div class="wrapper wrapper-content animated fadeInUp">
                    <div class="row">
                        {# Messages Falsh #}
                        {% for message in app.flashes('success') %}
                            <div class="col-lg-12" style="margin-top: 15px;">
                                <div class="alert alert-success alert-dismissable ">
                                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                    {{ message }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>Edition du service</h5>
                                </div>
                                <div class="ibox-content">
                                    {{ form_start(form_editServ, {
                                        'attr': {
                                            'class': 'form-horizontal',
                                            'role': 'form'
                                        }
                                    }) }}

                                    <div class="form-group">
                                        <div class="col-lg-12">
                                            {{ form_widget(form_editServ.designation, {
                                                'attr': {
                                                    'class': 'form-control'
                                                }
                                            }) }}
                                            <div class="form-error">
                                                <small class="text-danger">{{ form_errors(form_editServ.designation) }}</small>
                                            </div>
                                            <span class="help-block m-b-none">
                                                Modifier le nom du service
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <button class="btn btn-sm btn-primary pull-right" type="submit">Enregistrer</button>
                                            <a href="{{ path('admin.ct_gcar.indexServ') }}" class="btn btn-sm btn-default">
                                                <i class="fa fa-arrow-left"></i> Annuler
                                            </a>
                                        </div>
                                    </div>
                                    {{ form_end(form_editServ) }}

                                    {# ===== LIGNE SEPARATRICE ===== #}
                                    <div class="hr-line-dashed"></div>
                                    {# ==== FIN LIGNE SEPARATRICE ===== #}

                                    <p class="font-bold small">Dernier service ajouté :</p>
                                    {% for serv in servs %}
                                        {% if loop.last %}
                                            <p class="font-bold text-danger">{{ serv }}</p>
                                            {% set serv_depts = serv.getServiceDepartementdirections() %}
                                            {% set serv_dirs = serv.getServiceDirections() %}
                                            {% set nbr = 0 %}
                                            {% for service_departementdirection in serv_depts %}
                                                {{ service_departementdirection.departementdirection|e }}<br>
                                            {% else %}
                                                {% set nbr = nbr +1 %}
                                            {% endfor %}
                                            {% for service_direction in serv_dirs %}
                                                {{ service_direction.direction|e }}<br>
                                            {% else %}
                                                {% set nbr = nbr +1 %}
                                            {% endfor %}
                                            {# vérification si le service est lié ou pas #}

                                        {% endif %}
                                    {% endfor %}

                                </div>
                            </div>

                        </div>
                        <div class="col-lg-8">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <i class="fa fa-info-circle"></i> Informations du service
                                </div>
                                <div class="panel-body">
                                    <p class="font-bold ">Id : <span class="text-danger">{{ current_serv.id }}</span>  </p>
                                    <p class="font-bold ">Désignation : <span class="text-danger">{{ current_serv }}</span>  </p>
                                    {# ===== LIGNE SEPARATRICE ===== #}
                                    <div class="hr-line-dashed"></div>
                                    {# ==== FIN LIGNE SEPARATRICE ===== #}

                                    <p class="font-bold ">Liaison du service</p>

                                    {% set serv_depts = current_serv.getServiceDepartementdirections() %}
                                    {% set serv_dirs = current_serv.getServiceDirections() %}
                                    {% set nbrlink = 0 %}
                                    {% for service_departementdirection in serv_depts %}
                                        Ce service est <span class="font-bold text-danger"> lié </span> au département :
                                        {{ service_departementdirection.departementdirection|e }}
                                        <div class="hr-line-dashed"></div>
                                        {# FORMULAIRE DE MODIFICATION DE LIAISON POUR LE DEPARTEMENT #}
                                        <div class="col-sm-6">
                                            <a href="{{ path('service_departementdirection_edit', {id: service_departementdirection.id}) }}" type="button" class="btn btn-success btn-rounded btn-info btn-block">
                                                <i class="fa fa-edit"></i> Modifier la liaison avec le département ?
                                            </a>
                                            <br>
                                            <div class="ibox-content ibox-heading">
                                                <small class="text-danger"><i class="fa fa-warning"></i> Ou si vous voulez supprimer la liaison, cliquer sur le boutton ci-après.</small>
                                            </div>
                                            <br>
                                            <div class="pull-right">
                                                {{ include('service_departementdirection/_delete_form.html.twig') }}
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="panel panel-danger">
                                                <div class="panel-heading">
                                                    <i class="fa fa-compress"></i> Passer de serv.Département à serv.Direction ?
                                                    <br>
                                                    <i class="fa fa-info-circle"></i> N'oublier pas de reporter le N° de tel du service : {{ service_departementdirection.tel }}
                                                </div>
                                                <div class="panel-body">
                                                    {{ form_start(form_addServDir, {
                                                        'attr': {
                                                            'class': 'form-horizontal',
                                                            'role': 'form'
                                                        }
                                                    }) }}

                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            {{ form_widget(form_addServDir.service, {
                                                                'placeholder' : 'Selectionner le service',
                                                                'attr': {
                                                                    'class': 'chosen-select'
                                                                }
                                                            }) }}
                                                            <div class="form-error">
                                                                <small class="text-danger">{{ form_errors(form_addServDir.service) }}</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            {{ form_widget(form_addServDir.direction, {
                                                                'placeholder' : 'Selectionner la direction',
                                                                'attr': {
                                                                    'class': 'chosen-select'
                                                                }
                                                            }) }}
                                                            <div class="form-error">
                                                                <small class="text-danger">{{ form_errors(form_addServDir.direction) }}</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            {{ form_widget(form_addServDir.tel, {
                                                                'attr': {
                                                                    'class': 'form-control',
                                                                    'data-mask':'999 99 99',
                                                                    'placeholder' : 'Tel du service'
                                                                }
                                                            }) }}
                                                            <div class="form-error">
                                                                <small class="text-danger">{{ form_errors(form_addServDir.tel) }}</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            {{ form_widget(form_addServDir.agence, {
                                                                'attr': {
                                                                    'class': 'chosen-select'
                                                                }
                                                            }) }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            <button class="btn btn-sm btn-primary pull-right" type="submit">Enregistrer</button>
                                                        </div>
                                                    </div>
                                                    {{ form_end(form_addServDir) }}
                                                </div>
                                            </div>

                                            <div class="alert alert-info">
                                                Noter que le service est lié à un département.<br>
                                                Ce formulaire doit être modifié par un administrateur bien avisé!<br>
                                                Si vous avez des doutes, consulter votre supérieur hiérarchique ou contacter l'administrateur.
                                            </div>
                                        </div>
                                    {% else %}
                                        {% set nbrlink = nbrlink +1 %}
                                    {% endfor %}
                                    {% for service_direction in serv_dirs %}
                                        Ce service est <span class="font-bold text-danger"> lié </span> à la direction :
                                        {{ service_direction.direction|e }}
                                        <div class="hr-line-dashed"></div>
                                        {# FORMULAIRE DE MODIFICATION DE LIAISON POUR LA DIRECTION #}
                                        <div class="col-sm-6">
                                            <a type="button" class="btn btn-success btn-rounded btn-info btn-block" href="{{ path('service_direction_edit', {id: service_direction.id}) }}">
                                                <i class="fa fa-edit"></i> Modifier la liaison avec la direction ?
                                            </a>
                                            <br>
                                            <br>
                                            <div class="ibox-content ibox-heading">
                                                <small class="text-danger"><i class="fa fa-warning"></i> Ou si vous voulez supprimer la liaison, cliquer sur le boutton suivant.</small>
                                            </div>
                                            <br>
                                            <div class="pull-right">
                                                {{ include('service_direction/_delete_form.html.twig') }}
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="panel panel-danger">
                                                <div class="panel-heading">
                                                    Passer de serv.Direction à serv.Département ?
                                                    <br>
                                                    <i class="fa fa-info-circle"></i> N'oublier pas de reporter le N° de tel du service : {{ service_direction.tel }}
                                                </div>
                                                <div class="panel-body">
                                                    {{ form_start(form_addServDpt, {
                                                        'attr': {
                                                            'class': 'form-horizontal',
                                                            'role': 'form'
                                                        }
                                                    }) }}

                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            {{ form_widget(form_addServDpt.service, {
                                                                'placeholder' : 'Selectionner le service',

                                                                'attr': {
                                                                    'class': 'chosen-select'
                                                                }
                                                            }) }}
                                                            <div class="form-error">
                                                                <small class="text-danger">{{ form_errors(form_addServDpt.service) }}</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            {{ form_widget(form_addServDpt.departementdirection, {
                                                                'placeholder' : 'Selectionner le département',
                                                                'attr': {
                                                                    'class': 'chosen-select'
                                                                }
                                                            }) }}
                                                            <div class="form-error">
                                                                <small class="text-danger">{{ form_errors(form_addServDpt.departementdirection) }}</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            {{ form_widget(form_addServDpt.tel, {
                                                                'attr': {
                                                                    'class': 'form-control',
                                                                    'data-mask':'999 99 99',
                                                                    'placeholder' : 'Tel du service'
                                                                }
                                                            }) }}
                                                            <div class="form-error">
                                                                <small class="text-danger">{{ form_errors(form_addServDpt.tel) }}</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            {{ form_widget(form_addServDpt.agence, {
                                                                'placeholder' : 'Agence (Optionnel)',
                                                                'attr': {
                                                                    'class': 'chosen-select'
                                                                }
                                                            }) }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            <button class="btn btn-sm btn-primary pull-right" type="submit">Enregistrer</button>
                                                        </div>
                                                    </div>
                                                    {{ form_end(form_addServDpt) }}
                                                </div>
                                            </div>

                                            <div class="alert alert-info">
                                                Noter que le service est lié à une direction.<br>
                                                Ce formulaire est doit être modifié par un administrateur bien avisé!<br>
                                                Si vous avez des doutes, consulter votre supérieur hiérarchique ou contacter l'administrateur.
                                            </div>
                                        </div>
                                    {% else %}
                                        {% set nbrlink = nbrlink +1 %}
                                    {% endfor %}
                                    {% if nbrlink > 1 %}
                                        Ce service est <span class="font-bold text-danger"> orphelin</span> <br>
                                        <br>
                                        <div class="alert alert-danger">
                                            Ce service ( <b>{{ current_serv }}</b> ) doit être <b>impérativement</b> lié à un département ou à une direction.
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="panel panel-danger">
                                                <div class="panel-heading">
                                                    Lier le service à un département
                                                </div>
                                                <div class="panel-body">
                                                    {{ form_start(form_addServDpt, {
                                                        'attr': {
                                                            'class': 'form-horizontal',
                                                            'role': 'form'
                                                        }
                                                    }) }}

                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            {{ form_widget(form_addServDpt.service, {
                                                                'placeholder' : 'Selectionner le service',
                                                                'attr': {
                                                                    'class': 'hidden'
                                                                }
                                                            }) }}
                                                            <div class="form-error">
                                                                <small class="text-danger">{{ form_errors(form_addServDpt.service) }}</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            {{ form_widget(form_addServDpt.departementdirection, {
                                                                'placeholder' : 'Selectionner le département',
                                                                'attr': {
                                                                    'class': 'chosen-select'
                                                                }
                                                            }) }}
                                                            <div class="form-error">
                                                                <small class="text-danger">{{ form_errors(form_addServDpt.departementdirection) }}</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            {{ form_widget(form_addServDpt.tel, {
                                                                'attr': {
                                                                    'class': 'form-control',
                                                                    'data-mask':'999 99 99',
                                                                    'placeholder' : 'Tel du service'
                                                                }
                                                            }) }}
                                                            <div class="form-error">
                                                                <small class="text-danger">{{ form_errors(form_addServDpt.tel) }}</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            {{ form_widget(form_addServDpt.agence, {
                                                                'placeholder' : 'Agence (Optionnel)',
                                                                'attr': {
                                                                    'class': 'chosen-select'
                                                                }
                                                            }) }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            <button class="btn btn-sm btn-primary pull-right" type="submit">Enregistrer</button>
                                                        </div>
                                                    </div>
                                                    {{ form_end(form_addServDpt) }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="panel panel-danger">
                                                <div class="panel-heading">
                                                    Lier le service à une direction
                                                </div>
                                                <div class="panel-body">
                                                    {{ form_start(form_addServDir, {
                                                        'attr': {
                                                            'class': 'form-horizontal',
                                                            'role': 'form'
                                                        }
                                                    }) }}

                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            {{ form_widget(form_addServDir.service, {
                                                                'placeholder' : 'Selectionner le service',
                                                                'attr': {
                                                                    'class': 'hidden'

                                                                }
                                                            }) }}
                                                            <div class="form-error">
                                                                <small class="text-danger">{{ form_errors(form_addServDir.service) }}</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            {{ form_widget(form_addServDir.direction, {
                                                                'placeholder' : 'Selectionner la direction',
                                                                'attr': {
                                                                    'class': 'chosen-select'
                                                                }
                                                            }) }}
                                                            <div class="form-error">
                                                                <small class="text-danger">{{ form_errors(form_addServDir.direction) }}</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            {{ form_widget(form_addServDir.tel, {
                                                                'attr': {
                                                                    'class': 'form-control',
                                                                    'data-mask':'999 99 99',
                                                                    'placeholder' : 'Tel du service'
                                                                }
                                                            }) }}
                                                            <div class="form-error">
                                                                <small class="text-danger">{{ form_errors(form_addServDir.tel) }}</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            {{ form_widget(form_addServDir.agence, {
                                                                'placeholder' : 'Agence (Optionnel)',
                                                                'attr': {
                                                                    'class': 'chosen-select'
                                                                }
                                                            }) }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-sm-12">
                                                            <button class="btn btn-sm btn-primary pull-right" type="submit">Enregistrer</button>
                                                        </div>
                                                    </div>
                                                    {{ form_end(form_addServDir) }}
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/plugins/jasny/jasny-bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/chosen/chosen.jquery.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/footable/footable.all.min.js') }}"></script>


    <script>

        $('.chosen-select').chosen({width: "100%"});

    </script>

{% endblock javascripts %}

