{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Liste des services / Départements / Direction {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        <!-- FooTable -->
        <link rel="stylesheet" href="{{ asset('css/plugins/footable/footable.core.css') }}" />
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}
            {# Récupération de l'ID
            {% set user_id = app.request.get('id') %}
             #}

            <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="row">
                        {# Messages Falsh #}
                        {% for message in app.flashes('success') %}
                            <div class="col-lg-12">
                                <div class="alert alert-success alert-dismissable ">
                                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                    {{ message }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h4>Tous les services </h4>
                                    <a type="button" class="btn btn-xs btn-success" href="{{ path('service_departementdirection_index') }}">Liste des services liés à des départements</a> |
                                    <a type="button" class="btn btn-xs btn-success" href="{{ path('service_direction_index') }}">Liste des services liés à des directions</a>
                                    | <a type="button" class="btn btn-rounded" href="{{ path('service_departementdirection_new') }}"><i class="fa fa-plus"></i> Ajouter un service departement</a>
                                    | <a type="button" class="btn btn-rounded" href="{{ path('service_direction_new') }}"><i class="fa fa-plus"></i> Ajouter un service direction</a>
                                    <div class="ibox-tools">
                                        <a type="button" class="btn btn-danger btn-rounded btn-outline" href="{{ path('departement_direction_index') }}">
                                            <i class="fa fa-eye"></i> <b> Liste des départements</b>
                                        </a>
                                        <a type="button" class="btn btn-danger btn-rounded btn-outline" href="{{ path('direction_index') }}">
                                            <i class="fa fa-eye"></i><b> Liste des directions </b>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <input type="text" class="form-control input-sm m-b-xs" id="filter"
                                           placeholder="Rechercher">

                                    <table class="footable table table-stripped" data-page-size="18" data-filter=#filter>
                                        <thead>
                                        <tr>
                                            <th>Nom du service</th>
                                            <th>Lié à Département -Ou- Direction</th>
                                            <th data-hide="phone,tablet">Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for serv in services %}
                                        <tr class="gradeX">
                                            <td>{{ serv.designation }}</td>
                                            <td>{% set service_departementdirections = serv.getServiceDepartementdirections() %}
                                                {% set service_directions = serv.getServiceDirections() %}
                                                {% set nbr = 0 %}
                                                {% for service_departementdirection in service_departementdirections %}
                                                    {{ service_departementdirection.departementdirection|e }}<br>
                                                {% else %}
                                                    {% set nbr = nbr +1 %}
                                                {% endfor %}
                                                {% for service_direction in service_directions %}
                                                    {{ service_direction.direction|e }}<br>
                                                {% else %}
                                                    {% set nbr = nbr + 1 %}
                                                {% endfor %}
                                                {# vérification de la liaison #}
                                                {% if nbr > 1 %}
                                                Ce service est <span class="font-bold text-danger"> orphelin</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <a type="button" href="{{ path('admin.ct_gcar.editServ', {id: serv.id}) }}" class="btn btn-primary btn-xs">
                                                    <i class="fa fa-pencil"></i> Modifier
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <td colspan="5">
                                                <ul class="pagination pull-right"></ul>
                                            </td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    {{ parent() }}
    <!-- FooTable -->
    <script type="text/javascript" src="{{ asset('js/plugins/footable/footable.all.min.js') }}"></script>
    <!-- Page-Level Scripts -->
    <script>
        $(document).ready(function() {

            $('.footable').footable();
            $('.footable2').footable();

        });

    </script>
{% endblock javascripts %}

