<form method="post" action="{{ path('service_departementdirection_archive', {'id': service_departementdirection.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir archiver ce service?');">
    <input type="hidden" name="_method" value="ARCHIVE">
    <input type="hidden" name="_token" value="{{ csrf_token('archive' ~ service_departementdirection.id) }}">
    <button class="btn btn-warning btn-xs"><i class="fa fa-trash"></i> Archiver </button>
</form>
