<form method="post" action="{{ path('service_departementdirection_delete', {'id': service_departementdirection.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ service_departementdirection.id) }}">
    <button class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> {% if app.request.attributes.get('_route') == 'service_departementdirection_index' %}Supprimer{% endif %}</button>
</form>
