{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Edit Service {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('font-awesome/css/font-awesome.css') }}">

        <link rel="stylesheet" href="{{ asset('css/plugins/chosen/bootstrap-chosen.css') }}">

        <link rel="stylesheet" href="{{ asset('css/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css') }}">


        <link rel="stylesheet" href="{{ asset('css/plugins/switchery/switchery.css') }}">

        <link rel="stylesheet" href="{{ asset('css/plugins/jasny/jasny-bootstrap.min.css') }}">

        <link rel="stylesheet" href="{{ asset('css/plugins/nouslider/jquery.nouislider.css') }}">


        <link rel="stylesheet" href="{{ asset('css/plugins/select2/select2.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/plugins/chosen/bootstrap-chosen.css') }}">

        <link rel="stylesheet" href="{{ asset('css/plugins/touchspin/jquery.bootstrap-touchspin.min.css') }}">

        <link rel="stylesheet" href="{{ asset('css/animate.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}
            {# Récupération de l'ID
            {% set user_id = app.request.get('id') %}
             #}

            <div class="row">

                <div class="wrapper wrapper-content animated fadeInUp">

                    <div class="row">
                        <div class="col-lg-12">

                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    Editer la liaison du service au département
                                </div>
                                <div class="panel-body">
                                        {{ form_start(form, {
                                            'attr': {
                                                'class': 'form-horizontal',
                                                'role': 'form'
                                            }
                                        }) }}

                                        <div class="form-group">
                                            <label class="col-sm-6">Service</label>
                                            <div class="col-sm-12">
                                                {{ form_widget(form.service, {
                                                    'placeholder' : 'Selectionner le service',
                                                    'attr': {
                                                        'class': 'chosen-select'
                                                    }
                                                }) }}
                                                <div class="form-error">
                                                    <small class="text-danger">{{ form_errors(form.service) }}</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-6">Département</label>
                                            <div class="col-sm-12">
                                                {{ form_widget(form.departementdirection, {
                                                    'placeholder' : 'Selectionner le département',
                                                    'attr': {
                                                        'class': 'chosen-select'
                                                    }
                                                }) }}
                                                <div class="form-error">
                                                    <small class="text-danger">{{ form_errors(form.departementdirection) }}</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-6">Tel</label>
                                            <div class="col-sm-12">
                                                {{ form_widget(form.tel, {
                                                    'attr': {
                                                        'class': 'form-control',
                                                        'data-mask' : '999 99 99',
                                                        'placeholder' : 'Tel du service'
                                                    }
                                                }) }}
                                                <div class="form-error">
                                                    <small class="text-danger">{{ form_errors(form.tel) }}</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                            {{ form_widget(form.agence, {
                                                'placeholder' : 'Agence du service',
                                                'attr': {
                                                    'class': 'chosen-select'
                                                }
                                            }) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <button class="btn btn-primary" type="submit">Modifer</button>
                                            </div>
                                        </div>
                                        {{ form_end(form) }}
                                    <a type="button" class="btn btn-default pull-left" href="{{ path('admin.ct_gcar.editServ', {id: current_serv.id}) }}">
                                        <i class="fa fa-arrow-left"></i> Aller au service : {{ current_serv.designation }}</a>
                                    <a type="button" class="btn btn-default pull-left" href="{{ path('service_departementdirection_index') }}">
                                        <i class="fa fa-arrow-left"></i> Aller à la liste des services de département</a>
                                    <br>
                                    <div class="hr-line-dashed"></div>
                                    <br>
                                    {{ include('service_departementdirection/_delete_form.html.twig') }}
                                    </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}
        {% block javascripts %}
            {{ parent() }}
            {#Input mask#}
            <script type="text/javascript" src="{{ asset('js/plugins/jasny/jasny-bootstrap.min.js') }}"></script>
            {#<!-- Custom and plugin javascript -->#}
            <script type="text/javascript" src="{{ asset('js/inspinia.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/plugins/pace/pace.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

            {#<!-- Chosen -->#}
            <script type="text/javascript" src="{{ asset('js/plugins/chosen/chosen.jquery.js') }}"></script>

            <script>
                $('.chosen-select').chosen({width: "100%"});
            </script>

        {% endblock javascripts %}
