{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Liste des services de départements {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/plugins/dataTables/datatables.min.css') }}" />
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}
            {# Récupération de l'ID
            {% set user_id = app.request.get('id') %}
             #}

            <div class="row">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <a type="button" href="{{ path('service_direction_info') }}" class="btn btn-primary pull-right">Voir les services liés à des direction</a>
                                    <h4>Services </h4>
                                    <h2>[liés a des départements]</h2>
                                </div>
                                <div class="ibox-content">

                                    <table class="table table-striped table-bordered table-hover dataTables-example" >
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Service</th>
                                            <th>Département</th>
                                            <th>Direction</th>
                                            <th>Agence</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for svc in service_departementdirections %}
                                            <tr class="gradeX">
                                                <td><a href="{{ path('service_departementdirection_info_detail', {id : svc.id}) }}"><span class="fa fa-eye"></span></a></td>
                                                <td>
                                                    <strong><u class="badge badge-info">{{ svc.serv_designation }}</u></strong><br/>
                                                    {# Tel du service #}
                                                    {% set tel_lg = svc.service_tel |length %}
                                                    {% if tel_lg < 7 %}
                                                        <span class="fa fa-phone"></span> <span class="text-danger">Tel non renseigné!</span>
                                                    {% else %}
                                                        <span class="fa fa-phone"> {{ svc.service_tel }}</span>
                                                    {% endif %}
                                                    {# fin Tel du service #}
                                                    <ul>

                                                    {% for agent in agent if agent.service_id == svc.id %}
                                                        <li>
                                                            [{{ agent.matricule }}] {{ agent.nom }} {{ agent.prenom }} <span class="pull-right text-navy">{{ agent.poste_designation }}</span>
                                                        </li>
                                                    {% endfor %}

                                                    </ul>
                                                </td>
                                                <td>
                                                    <strong>{{ svc.dep_designation }}</strong><br/>
                                                    {# Tel du département #}
                                                    {% set tel_lg = svc.departementdirection_tel |length %}
                                                    {% if tel_lg < 7 %}
                                                        <div><span class="fa fa-phone"></span> <span class="text-danger">Tel non renseigné!</span></div>
                                                    {% else %}
                                                        <div><span class="fa fa-phone"> {{ svc.departementdirection_tel }}</span></div>
                                                    {% endif %}
                                                    {# fin Tel du département #}
                                                    Chef de département:
                                                    {% for chef_dpt in chef_dpt if chef_dpt.departementdirection_id ==svc.departementdirection_id %}
                                                        <div class="font-bold">{{ chef_dpt.nom }} {{ chef_dpt.prenom }}</div>
                                                        {% else %}
                                                            <div class="font-bold text-danger">Non renseigné</div>
                                                    {% endfor %}

                                                    <br/>
                                                    {# nombre de service du département #}
                                                    {% set num = 0 %}
                                                    {% for s_dpt in s_dpt if s_dpt.departementdirection_id == svc.departementdirection_id %}
                                                        {% set num = num + 1 %}
                                                    {% endfor %}
                                                    {# Fin nombre de service du département #}
                                                    Nombre de service(s) : <strong class="text-danger">{{ num }} </strong><br/>

                                                    <a href="{{ path('departementdirection_info_detail', {id : svc.departementdirection_id}) }}"><span class="fa fa-eye"></span> voir</a>

                                                </td>
                                                <td>
                                                    <h3>{{ svc.dir_designation }}</h3>
                                                    {# Tel de la direction #}
                                                    {% set tel_lg = svc.direction_tel |length %}
                                                    {% if tel_lg < 7 %}
                                                        <span class="fa fa-phone"></span> <span class="text-danger">Tel non renseigné!</span>
                                                    {% else %}
                                                        <span class="fa fa-phone"> {{ svc.direction_tel }}</span>
                                                    {% endif %}
                                                    {# fin Tel de la direction #}

                                                    <div>Responsable de la direction</div>
                                                    {% for directeur in directeur if directeur.direction_id == svc.direction_id %}
                                                        <div>{{ directeur.nom }}  {{ directeur.prenom }}
                                                            {#Associer le poste#}
                                                                <span class="pull-right text-navy">{{ directeur.poste_designation }}</span></div>
                                                    {% endfor %}


                                                    <br/>
                                                </td>

                                                <td>{{ svc.ag_designation }}</td>

                                            </tr>
                                            {% else %}
                                            <tr>
                                                <td colspan="3">Aucun enregistrement trouvé!</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <td colspan="5">
                                                <ul class="pagination pull-right"></ul>
                                            </td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/plugins/jeditable/jquery.jeditable.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/dataTables/datatables.min.js') }}"></script>

    <script>
        $(document).ready(function(){
            $('.dataTables-example').DataTable({
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    {extend: 'copy', title: 'Services-CT'},
                    {extend: 'csv', title: 'Services-CT'},
                    {extend: 'excel', title: 'Services-CT'},
                    {extend: 'pdf', title: 'Services-CT'},

                    {extend: 'print',
                        customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]
            });

            /* Init DataTables */
            var oTable = $('#editable').DataTable();

            /* Apply the jEditable handlers to the table */
            oTable.$('td').editable( '../example_ajax.php', {
                "callback": function( sValue, y ) {
                    var aPos = oTable.fnGetPosition( this );
                    oTable.fnUpdate( sValue, aPos[0], aPos[1] );
                },
                "submitdata": function ( value, settings ) {
                    return {
                        "row_id": this.parentNode.getAttribute('id'),
                        "column": oTable.fnGetPosition( this )[2]
                    };
                },

                "width": "90%",
                "height": "100%"
            } );
        });
    </script>
{% endblock javascripts %}