
    <tr class="gradeX">
        <td><a href="{{ path('service_departementdirection_info_detail', {id : svc.id}) }}"><span class="fa fa-eye"></span></a></td>
        <td>
            <strong><u class="badge badge-info">{{ svc.serv_designation }}</u></strong><br/>
            {# Tel du service #}
            {% set tel_lg = svc.service_tel |length %}
            {% if tel_lg < 7 %}
                <span class="fa fa-phone"></span> <span class="text-danger">Tel non renseigné!</span>
            {% else %}
                <span class="fa fa-phone"> {{ svc.service_tel }}</span>
            {% endif %}
            {# fin Tel du service #}
            <ul>

                {% for agent in agent if agent.service_id == svc.id %}
                    <li>
                        [{{ agent.matricule }}] {{ agent.nom }} {{ agent.prenom }} <span class="pull-right text-navy">{{ agent.poste_designation }}</span>
                    </li>
                {% endfor %}

            </ul>
        </td>
        <td>
            <strong>{{ svc.dep_designation }}</strong><br/>
            {# Tel du département #}
            {% set tel_lg = svc.departementdirection_tel |length %}
            {% if tel_lg < 7 %}
                <div><span class="fa fa-phone"></span> <span class="text-danger">Tel non renseigné!</span></div>
            {% else %}
                <div><span class="fa fa-phone"> {{ svc.departementdirection_tel }}</span></div>
            {% endif %}
            {# fin Tel du département #}
            Chef de département:
            {% for chef_dpt in chef_dpt if chef_dpt.departementdirection_id ==svc.departementdirection_id %}
                <div class="font-bold">{{ chef_dpt.nom }} {{ chef_dpt.prenom }}</div>
            {% else %}
                <div class="font-bold text-danger">Non renseigné</div>
            {% endfor %}

            <br/>
            {# nombre de service du département #}
            {% set num = 0 %}
            {% for s_dpt in s_dpt if s_dpt.departementdirection_id == svc.departementdirection_id %}
                {% set num = num + 1 %}
            {% endfor %}
            {# Fin nombre de service du département #}
            Nombre de service(s) : <strong class="text-danger">{{ num }} </strong><br/>

            <a href="{{ path('departementdirection_info_detail', {id : svc.departementdirection_id}) }}"><span class="fa fa-eye"></span> voir</a>

        </td>
        <td>
            <h3>{{ svc.dir_designation }}</h3>
            {# Tel de la direction #}
            {% set tel_lg = svc.direction_tel |length %}
            {% if tel_lg < 7 %}
                <span class="fa fa-phone"></span> <span class="text-danger">Tel non renseigné!</span>
            {% else %}
                <span class="fa fa-phone"> {{ svc.direction_tel }}</span>
            {% endif %}
            {# fin Tel de la direction #}

            <p>
                <div><strong>Responsable(s) de la direction :</strong></div>
                {% for directeur in directeur if directeur.direction_id == svc.direction_id %}
                    <div>{{ directeur.nom }}  {{ directeur.prenom }}
                        {#Associer le poste#}
                        <span class="pull-right text-navy">{{ directeur.poste_designation }}</span></div>
                {% endfor %}
            </p>
        </td>

        <td>{{ svc.ag_designation }}</td>

    </tr>