<form method="post" action="{{ path('agence_delete', {'id': agence.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ agence.id) }}">
    <button class="btn btn-danger"><i class="fa fa-trash"></i> Supprimer</button>
</form>
