{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Liste des agences services departements{% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        <!-- FooTable -->
        <link rel="stylesheet" href="{{ asset('css/plugins/footable/footable.core.css') }}" />
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}
            {# Récupération de l'ID
            {% set user_id = app.request.get('id') %}
             #}

            <div class="row">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="row">
                        {# Messages Falsh #}
                        {% for message in app.flashes('success') %}
                            <div class="col-lg-12">
                                <div class="alert alert-success alert-dismissable ">
                                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                    {{ message }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h4>Liste des agences</h4>
                                    <div class="ibox-tools">
                                        <a type="button" class="btn btn-success btn-rounded btn-outline" href="{{ path('agence_new') }}">
                                            <i class="fa fa-plus"></i><b> Ajouter Agence </b>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <div class="col-sm-2">
                                        <a type="button" class="btn btn-rounded btn-outline btn-success btn-block" href="{{ path('moncompte_administration') }}"><i class="fa fa-arrow-left"></i> Retour</a>
                                    </div>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control input-sm m-b-xs" id="filter" placeholder="Rechercher">
                                    </div>

                                    <table class="footable table table-stripped" data-page-size="18" data-filter=#filter>
                                        <thead>
                                        <tr>
                                            <th>Désignation</th>
                                            <th>Ville</th>
                                            <th>Services</th>
                                            <th>Action</th>
                                            <th><i class="fa fa-trash"></i></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for agence in agences %}
                                            <tr class="gradeX">
                                                <td>{{ agence.designation }}</td>
                                                <td>{{ agence.ville }}</td>
                                                {% set service_departements = agence.getServiceDepartementdirections() %}
                                                <td>{% for service_departement in service_departements %}
                                                    {{ service_departement.service }}
                                                    <br>
                                                    {% endfor %}
                                                </td>

                                                <td>
                                                    <a type="button" class="btn btn-info" href="{{ path('agence_show', {'id': agence.id}) }}">
                                                        <i class="fa fa-eye"></i> Voir
                                                    </a>
                                                    <a type="button" href="{{ path('agence_edit', {'id': agence.id}) }}" class="btn btn-primary">
                                                        <i class="fa fa-pencil"></i> Modifier
                                                    </a>
                                                </td>
                                                <td>
                                                    {{ include('agence/_delete_form.html.twig') }}
                                                </td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td colspan="3">Aucun enregistrement trouvé!</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <td colspan="5">
                                                <ul class="pagination pull-right"></ul>
                                            </td>
                                        </tr>
                                        </tfoot>
                                    </table>

                                    <a type="button" class="btn btn-default" href="{{ path('moncompte_administration') }}"><i class="fa fa-arrow-left"></i> Retour</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    {{ parent() }}
    <!-- FooTable -->
    <script type="text/javascript" src="{{ asset('js/plugins/footable/footable.all.min.js') }}"></script>
    <!-- Page-Level Scripts -->
    <script>
        $(document).ready(function() {

            $('.footable').footable();
            $('.footable2').footable();

        });

    </script>
{% endblock javascripts %}
