{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Liste des agences {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Data tables --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/dataTables/datatables.min.css') }}" />
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}
            {# Récupération de l'ID
            {% set user_id = app.request.get('id') %}
             #}

            <div class="row">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="row">
                        {# Messages Falsh #}
                        {% for message in app.flashes('success') %}
                            <div class="col-lg-12">
                                <div class="alert alert-success alert-dismissable ">
                                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                    {{ message }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h4>Agences </h4>
                                </div>
                                <div class="ibox-content">
                                    <table class="table table-striped table-bordered table-hover dataTables-example" >
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Agences</th>
                                            <th>Une direction dans l'agence?</th>
                                            <th>Des départements dans l'agence?</th>
                                            <th>Des services dans l'agence?</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for ag in agences %}
                                            <tr class="gradeX">
                                                <td>{{ ag.id }}</td>
                                                <td>
                                                    {{ ag.designation }}
                                                    <div class="text-navy">{{ ag.ville_designation }} - {{ ag.ile_designation }}</div>
                                                </td>
                                                <td>
                                                    {% for dir in direction if dir.agence_id == ag.id %}
                                                        {# Direction désignation et tel #}
                                                        {{ dir.designation }}
                                                        <div><span class="fa fa-phone"></span> {{ dir.tel }}</div>
                                                        {# département de la direction dans l'agence #}
                                                        <div class="title">Départements</div>
                                                        {% for dpt_dir in departement_dir if dpt_dir.direction_id == dir.id %}
                                                            {{ dpt_dir.departement_designation }}
                                                        {% endfor %}
                                                        {# --Fin département de la direction dans l'agence #}
                                                        {% else %}
                                                            <span class="text-danger">Aucun</span>
                                                    {% endfor %}
                                                </td>
                                                <td>
                                                    {% for dpt_dir in departement_dir if dpt_dir.agence_id == ag.id %}
                                                        {# Département designation et tel#}
                                                        <strong>{{ dpt_dir.departement_designation }}</strong>
                                                        <div><span class="fa fa-phone"></span> {{ dpt_dir.tel }}</div>
                                                        {# Services du département #}
                                                        <div class="title">Services</div>
                                                        <ul>
                                                            {% for serv_dpt in service_dpt_dir if serv_dpt.departementdirection_id == dpt_dir.id%}
                                                                <li>
                                                                {{ serv_dpt.serv_designation }}
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                        {# -- Fin Services du département#}
                                                    {% else %}
                                                        <span class="text-danger">Aucun</span>
                                                    {% endfor %}
                                                </td>
                                                <td>
                                                    {% for serv_dpt in service_dpt_dir if serv_dpt.agence_id == ag.id %}
                                                        {{ serv_dpt.serv_designation }}
                                                        <div><span class="fa fa-phone"></span> {{ serv_dpt.service_tel }}</div>
                                                    {% endfor %}

                                                    {% for serv_dir in service_dir if serv_dir.agence_id == ag.id %}
                                                        {{ dump(serv_dir) }}
                                                        <div class="hr-line-dashed"></div>
                                                        {{ serv_dir.serv_designation }}
                                                        <div><span class="fa fa-phone"></span> {{ serv_dir.service_tel }}</div>
                                                    {% endfor %}
                                                </td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td colspan="3">Aucun enregistrement trouvé!</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <td colspan="5">
                                                <ul class="pagination pull-right"></ul>
                                            </td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/plugins/dataTables/datatables.min.js') }}"></script>

    <script>
        $(document).ready(function(){
            $('.dataTables-example').DataTable({
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    {extend: 'copy', title: 'Services-CT'},
                    {extend: 'csv', title: 'Services-CT'},
                    {extend: 'excel', title: 'Services-CT'},
                    {extend: 'pdf', title: 'Services-CT'},

                    {extend: 'print',
                        customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]
            });

            /* Init DataTables */
            var oTable = $('#editable').DataTable();

            /* Apply the jEditable handlers to the table */
            oTable.$('td').editable( '../example_ajax.php', {
                "callback": function( sValue, y ) {
                    var aPos = oTable.fnGetPosition( this );
                    oTable.fnUpdate( sValue, aPos[0], aPos[1] );
                },
                "submitdata": function ( value, settings ) {
                    return {
                        "row_id": this.parentNode.getAttribute('id'),
                        "column": oTable.fnGetPosition( this )[2]
                    };
                },

                "width": "90%",
                "height": "100%"
            } );
        });
    </script>
{% endblock javascripts %}