{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Voir {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}

    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}
            {# Récupération de l'ID
            {% set user_id = app.request.get('id') %}
             #}

            <div class="row">

                <div class="wrapper wrapper-content animated fadeInUp">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Détail de l'agence
                                </div>
                                <div class="panel-body">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <th>Id</th>
                                                <td>{{ agence.id }}</td>
                                            </tr>
                                            <tr>
                                                <th>Designation</th>
                                                <td>{{ agence.designation }}</td>
                                            </tr>
                                            <tr>
                                                {% set service_departements = agence.getServiceDepartementdirections() %}
                                                {% for service_departement in service_departements %}
                                                {{ service_departement.service }}
                                                <br>
                                                {% endfor %}
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-sm-4">
                                <a type="button" class="btn btn-default" href="{{ path('agence_index') }}">
                                    <i class="fa fa-arrow-left"></i> Retour
                                </a>
                            </div>
                            <div class="col-sm-4">
                                <a href="{{ path('agence_edit', {'id': agence.id}) }}"
                                class="btn btn-info btn-block">
                                    editer
                                </a>
                            </div>
                            <div class="col-sm-4">
                                <i class="pull-right">{{ include('agence/_delete_form.html.twig') }}</i>
                            </div>



                        </div>
                    </div>

                </div>
            </div>
        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}
        {% block javascripts %}
            {{ parent() }}

        {% endblock javascripts %}
