    <tr class="gradeX">
        <td>{{ agence.id }}</td>
        <td>
            {{ agence.designation }}
            <div class="text-navy">{{ agence.ville_designation }} - {{ agence.ile_designation }}</div>
        </td>
        <td>
            {% for dir in direction if dir.agence_id == agence.id %}
                {# Direction désignation et tel #}
                {{ dir.designation }}
                <div><span class="fa fa-phone"></span> {{ dir.tel }}</div>
                {# département de la direction dans l'agence #}
                <div class="title">Départements</div>
                {% for dpt_dir in departement_dir if dpt_dir.direction_id == dir.id %}
                    {{ dpt_dir.departement_designation }}
                {% endfor %}
                {# --Fin département de la direction dans l'agence #}
            {% else %}
                <span class="text-danger">Aucun</span>
            {% endfor %}
        </td>
        <td>
            {% for dpt_dir in departement_dir if dpt_dir.agence_id == agence.id %}
                {# Département designation et tel#}
                <strong>{{ dpt_dir.departement_designation }}</strong>
                <div><span class="fa fa-phone"></span> {{ dpt_dir.tel }}</div>
                {# Services du département #}
                <div class="title">Services</div>
                <ul>
                    {% for serv_dpt in service_dpt_dir if serv_dpt.departementdirection_id == dpt_dir.id%}
                        <li>
                            {{ serv_dpt.serv_designation }}
                        </li>
                    {% endfor %}
                </ul>
                {# -- Fin Services du département#}
            {% else %}
                <span class="text-danger">Aucun</span>
            {% endfor %}
        </td>
        <td>
            {% set cpt = 0 %}
            {% for serv_dpt in service_dpt_dir if serv_dpt.agence_id == agence.id %}
                {{ serv_dpt.serv_designation }}
                <div><span class="fa fa-phone"></span> {{ serv_dpt.service_tel }}</div>
                {% set cpt = cpt + 1 %}
            {% endfor %}

            {% for serv_dir in service_dir if serv_dir.agence_id == agence.id %}
                <div class="hr-line-dashed"></div>
                {{ serv_dir.serv_designation }}
                <div><span class="fa fa-phone"></span> {{ serv_dir.service_tel }}</div>
                {% set cpt = cpt + 1 %}
            {% endfor %}
            {% if cpt < 1 %}<span class="text-danger">Aucun</span>{% endif %}
        </td>
    </tr>

