{%  extends 'base.html.twig' %}

{% form_theme formDemandeConge 'bootstrap_4_layout.html.twig' %}

{% block title %} {{ parent() }} {% if editMode %}Modification{% else %}Envoie{% endif %} demande {% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    {#<link rel="stylesheet" href="{{ asset('css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css') }}">#}
    <link rel="stylesheet" href="{{ asset('css/plugins/select2/select2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/plugins/chosen/bootstrap-chosen.css') }}">
{% endblock stylesheets %}

{% block leftmenu %}
    {{ parent() }}
{% endblock leftmenu %}

{% block topmenu %}
    {{ parent() }}
{% endblock topmenu %}

{% block body %}
    {% block fildariane %}
        {{ include('_generals_includes/_fildariane.html.twig') }}
    {% endblock fildariane %}

    <div class="wrapper wrapper-content">
        <div class="row">
            {# Messages Falsh #}
            {% for message in app.flashes('success') %}
                <div class="col-lg-12">
                    <div class="alert alert-success alert-dismissable ">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                        {{ message }}
                    </div>
                </div>
            {% endfor %}

        </div>
        <div class="row">
            {# ================== menu_gauche ==================== #}
            {{ include('personnel/includes/_menu_gauche.html.twig') }}
            {# ================== Fin menu_gauche ==================== #}

            {# ============================= Contenu  ==================================== #}
            <div class="col-lg-9">
                <div class="widget-head-color-box navy-bg p-lg text-center">
                    <div class="m-b-md">
                        {% if editMode %}
                            <h2 class="font-bold no-margins">Modification d'une demande de congé</h2>
                        {% elseif nomPrenom is defined and not null %}
                            <h2 class="font-bold no-margins">Envoie d'une demande pour : {{ nomPrenom }}</h2>
                        {% else %}
                            <h2 class="font-bold no-margins">Envoie d'une demande de congé</h2>
                        {% endif %}
                    </div>
                </div>
                <div class="widget-text-box">
                    {{ form_start(formDemandeConge) }}

                    <label class="col-md-3 align-right">Type de congé</label>
                    <div class="form-group col-sm-9 {% if form_errors(formDemandeConge.modeleConge) %}has-error{% endif %}" style="padding-left: 0px;">
                        {{ form_row(formDemandeConge.modeleConge, {
                            'attr': {
                                'class': 'form-control chosen-select',
                                'placeholder': "Type de congé"
                            }
                        }) }}
                    </div>

                    <label class="col-md-3 align-right">Allant du (Date début)</label>
                    <div class="input-group date form-group col-sm-3  {% if form_errors(formDemandeConge.dateDebutAt) %}has-error{% endif %}">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>{{ form_widget(formDemandeConge.dateDebutAt) }}
                    </div>

                    <label class="col-md-3">Au (Date fin)</label>
                    <div class="input-group date form-group col-sm-3 {% if form_errors(formDemandeConge.dateFinAt) %}has-error{% endif %}" style="padding-left: 0px;">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>{{ form_row(formDemandeConge.dateFinAt) }}
                    </div>

                    <label class="col-md-3">Lieu de jouissance</label>
                    <div class="form-group col-sm-9" style="padding-left: 0px;">
                        {{ form_row(formDemandeConge.lieuJouissance) }}
                    </div>

                    <label class="col-md-3">Motif</label>
                    <div class="form-group col-sm-9" style="padding-left: 0px;">
                        {{ form_row(formDemandeConge.motif) }}
                    </div>

                    <label class="col-md-3">Justificatif</label>
                    <div class="form-group col-sm-9" style="padding-left: 0px;">
                        {{ form_row(formDemandeConge.docFile) }}
                    </div>

                    <button type="submit" class="btn btn-primary">
                        {% if editMode %}
                            <i class="fa fa-save"></i> Enregister les modifications
                        {% else %}
                            <i class="fa fa-send"></i> Envoyer la demande
                        {% endif %}
                    </button>

                    {{ form_end(formDemandeConge) }}

                    <div class="hr-line-dashed"></div>

                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th class="text-center" colspan="4">Droit à congé</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Congé ordinaire</td>
                            <td>30 jours / an</td>
                            <td style="vertical-align: middle">
                                <div class="tooltip-demo">
                                    <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Dimanches et jrs fériés inclus">(non ouvrables)</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Permission</td>
                            <td>7 jours au maximum</td>
                            <td style="vertical-align: middle">
                                <div class="tooltip-demo">
                                    <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Dimanches et jrs fériés inclus">(non ouvrables)</button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot><strong>SITUATION DES CONGES ADMINISTRATIFS</strong></tfoot>
                    </table>

                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th class="text-center" colspan="4">Droit à congé</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <table class="table table-bordered">
                                    <tbody>
                                    <tr>
                                        <th style="font-size: 12px;">Mariage direct</th>
                                        <td>9 jrs</td>
                                    </tr>
                                    <tr>
                                        <th style="font-size: 12px;">Mariage d'un enfant de l'agent</th>
                                        <td>3 jrs</td>
                                    </tr>
                                    <tr>
                                        <th style="font-size: 12px;">Circoncision d'un enfant de l'agent</th>
                                        <td>2 jrs</td>
                                    </tr>
                                    <tr>
                                        <th style="font-size: 12px;">Naissance d'un enfant de l'agent</th>
                                        <td>3 jrs</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td style="vertical-align: middle">
                                <div class="tooltip-demo">
                                    <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Dimanches et jrs fériés exclus">(ouvrables)</button>
                                </div>
                            </td>
                            <td>
                                <table class="table table-bordered">
                                    <tbody>
                                    <tr>
                                        <th style="font-size: 12px;">Décès du père, de la mère ou enfant de l'agent</th>
                                        <td>3 jrs</td>
                                    </tr>
                                    <tr>
                                        <th style="font-size: 12px;">Décès de l'épouse</th>
                                        <td>9 jrs</td>
                                    </tr>
                                    <tr>
                                        <th style="font-size: 12px;">Décès de l'époux</th>
                                        <td>4 mois et 15 jrs</td>
                                    </tr>
                                    <tr>
                                        <th style="font-size: 12px;">Décès frères et soeurs</th>
                                        <td>3 jrs</td>
                                    </tr>
                                    <tr>
                                        <th style="font-size: 12px;">Pèlerinage</th>
                                        <td>45 jrs</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td style="vertical-align: middle">
                                <div class="tooltip-demo">
                                    <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Dimanches et jrs fériés exclus">(ouvrables)</button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot><strong>SITUATION DES CONGES SPECIAUX</strong></tfoot>
                    </table>

                </div>
            </div>
            {# ============================= Fin contenu   ==================================== #}
        </div>
    </div>

{% endblock body %}

{% block footer %}
    {{ parent() }}
{% endblock footer %}

{% block javascripts %}
    {{ parent() }}

    {#<script type="text/javascript" src="{{ asset('js/plugins/select2/select2.full.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/touchspin/jquery.bootstrap-touchspin.min.js') }}"></script>#}

    <script type="text/javascript" src="{{ asset('js/plugins/chosen/chosen.jquery.js') }}"></script>

    <script>
        $('.chosen-select').chosen({width: "100%"});
    </script>

{% endblock javascripts %}
