<form method="post" action="{{ path('modele_conge_delete', {'id': demandeConge.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette demande?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ demandeConge.id) }}">
    <button class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></button>
</form>