{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Reprise de service {% endblock title %}

{% block stylesheets %}{{ parent() }}{% endblock stylesheets %}

{% block leftmenu %}{{ parent() }}{% endblock leftmenu %}

{% block topmenu %}{{ parent() }}{% endblock topmenu %}

{% block body %}
    {% block fildariane %}
        {{ include('_generals_includes/_fildariane.html.twig') }}
    {% endblock fildariane %}

    <div class="wrapper wrapper-content">
        <div class="row">
            {# Messages Falsh #}
            {% for message in app.flashes('success') %}
                <div class="col-lg-12">
                    <div class="alert alert-success alert-dismissable ">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                        {{ message }}
                    </div>
                </div>
            {% endfor %}

        </div>
        <div class="row">
            {# ================== menu_gauche ==================== #}
            {{ include('personnel/includes/_menu_gauche.html.twig') }}
            {# ================== Fin menu_gauche ==================== #}

            {# ============================= Contenu  ==================================== #}
            <div class="col-lg-9">
                <div class="widget-head-color-box navy-bg p-lg text-center">
                    <div class="m-b-md">
                        <h2 class="font-bold no-margins">
                            Reprise de service du congé : {{ demandeConge.numDemande }}
                        </h2>
                    </div>
                </div>

                <div class="ibox-content">
                    {# ============ Début section à imprimer  ============ #}
                    <div id='sectionAimprimer'>
                        <table>
                            <thead>
                            <tr>
                                <th class="text-left" style="margin-right: 10px;"><img src="{{ asset('uploads/images/logo.png') }}" alt="logo-ct" width="100" /></th>
                                <th class="text-center" style="font-size: 21px;" colspan="3">
                                    UNION DES COMORES
                                    <h4>Unité - Solidarité - Développement</h4>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center" style="font-size: 20px;" colspan="4">
                                        <strong>Société Nationale des Télécommunications<br>COMORES TELECOM</strong>
                                    </td>
                                </tr>
                                <tr><td align="center" colspan="4">&nbsp;</td></tr>
                                <tr><td colspan="4"><strong>DIRECTION :</strong> {{ direction }}</td></tr>
                                {% if departement %}<tr><td colspan="4"><strong>Département :</strong> {{ departement.Departement.designation }}</td></tr>{% endif %}
                                <tr><td align="center" colspan="4">&nbsp;<br><br><br></td></tr>
                                <tr>
                                    <td align="center" colspan="4">
                                        <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ATTESTATION DE REPRISE DE SERVICE &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
                                    </td>
                                </tr>
                                <tr><td class="text-right" colspan="4">A l'attention du Chef du</td></tr>
                                <tr><td class="text-right" colspan="4">Département concerné</td></tr>
                                <tr><td align="center" colspan="4">&nbsp;<br><br><br></td></tr>
                                <tr><td colspan="4"><strong>Je sousigné</strong> ___________________________________________</td></tr>
                                <tr>
                                    <td class="text-left" style="margin-right: 10px;" colspan="4">
                                        <strong>Atteste que {% if demandeConge.agent.sexe == 'M' %}M.{% else %}Mme/Mlle{% endif %}</strong> {{ demandeConge.agent.nomPrenom }}
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <strong>Matricule n° </strong>{{ demandeConge.agent.matricule }} <strong>mis en congé du</strong>
                                        {{ demandeConge.dateDebutAt | date('d/m/Y') }} <strong>au</strong> {{ demandeConge.dateFinAt | date('d/m/Y') }}
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4"><strong>a effectivement repris service le,</strong> ________________________</td>
                                </tr>
                                <tr><td align="center" colspan="4">&nbsp;<br><br><br></td></tr>
                                <tr><td class="text-right" colspan="4"><strong>Fait à Moroni, le</strong> ________________________</td></tr>
                                <tr><td align="center" colspan="4">&nbsp;<br><br><br></td></tr>
                                <tr>
                                    <td class="text-left" colspan="2">Avis du Chef de Service</td>
                                    <td class="text-left" colspan="2">Avis du Chef de Dept</td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <button class="btn btn-primary btn-circle btn-outline" type="button"><i class="fa fa-check"></i></button>
                                    </td>
                                    <td align="center">&nbsp;</td>
                                    <td class="text-center"><i class="fa fa-times"></i> En cours...</td>
                                    <td align="center">&nbsp;</td>
                                </tr>
                            </tbody>
                            {#<tfoot>
                            <a href="{{ path('modele_conge_create') }}" class="btn btn-xs btn-primary text-right pull-left"style="margin-right: 10px;">
                                <i class="fa fa-plus"></i> Envoyer une demande
                            </a>
                            </tfoot>#}
                        </table>
                    </div>
                    {# ============ Fin section à imprimer  ============ #}

                    <a href="#" onClick="imprimer('sectionAimprimer')" class="btn btn-xs btn-primary text-right pull-left"style="margin-right: 10px;"><i class="fa fa-print"></i> Imprimer</a>
                </div>
            </div>
            {# ============================= Fin Contenu   ==================================== #}
        </div>
    </div>
{% endblock body %}

{% block footer %}
    {{ parent() }}
{% endblock footer %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function imprimer(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }
    </script>
{% endblock javascripts %}