{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Demande de congé {% endblock title %}

{% block stylesheets %}{{ parent() }}{% endblock stylesheets %}

{% block leftmenu %}{{ parent() }}{% endblock leftmenu %}

{% block topmenu %}{{ parent() }}{% endblock topmenu %}

{% block body %}
    {% block fildariane %}
        {{ include('_generals_includes/_fildariane.html.twig') }}
    {% endblock fildariane %}

    <div class="wrapper wrapper-content">
        <div class="row">
            {# Messages Falsh #}
            {% for message in app.flashes('success') %}
                <div class="col-lg-12">
                    <div class="alert alert-success alert-dismissable ">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                        {{ message }}
                    </div>
                </div>
            {% endfor %}

        </div>
        <div class="row">
            {# ================== menu_gauche ==================== #}
            {{ include('personnel/includes/_menu_gauche.html.twig') }}
            {# ================== Fin menu_gauche ==================== #}

            {# ============================= Contenu  ==================================== #}
            <div class="col-lg-9">
                <div class="widget-head-color-box navy-bg p-lg text-center">
                    <div class="m-b-md">
                        <h2 class="font-bold no-margins">
                            {% if demandeConge.modeleConge.CategorieConge.titre == 'Congé Administratif' or demandeConge.modeleConge.CategorieConge.titre == 'Administratif' %}
                                Demande de congé :
                            {% elseif demandeConge.modeleConge.CategorieConge.titre == 'Congé Spécial' or demandeConge.modeleConge.CategorieConge.titre == 'Spécial' %}
                                Titre de congé spécial :
                            {% endif %}
                            {{ demandeConge.modeleConge.titre }}
                        </h2>
                    </div>
                </div>

                <div class="ibox-content">
                    {# ============ Début section à imprimer  ============ #}
                    <div id='sectionAimprimer'>
                        {% if demandeConge.modeleConge.CategorieConge.id == 1 %}
                        <table>
                            <thead>
                            <tr>
                                <th class="text-left" style="margin-right: 10px;"><img src="{{ asset('uploads/images/logo.png') }}" alt="logo-ct" width="100" /></th>
                                <th class="text-center"style="font-size: 20px;" colspan="3">
                                    SOCIETE NATIONALE DES TELECOMMUNICATIONS
                                    <h3>COMORES TELECOM</h3>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="4"><h4>DIRECTION DES RESSOURCES HUMAINES</h4></td>
                                </tr>
                                <tr><td align="center" colspan="4">&nbsp;</td></tr>
                                <tr>
                                    <td align="center" colspan="4">
                                        <div class="btn btn-outline btn-success border-size-lg"> DEMANDE DE CONGE </div>
                                        {#<h4>DEMANDE DE CONGE</h4>#}
                                    </td>
                                </tr>
                                <tr><td align="center" colspan="4">&nbsp;</td></tr>
                                <tr>
                                    <td class="text-left" style="margin-right: 10px;">
                                        <strong>{% if demandeConge.agent.sexe == 'M' %}M.{% else %}Mme{% endif %}</strong>
                                        {{ demandeConge.agent.nomPrenom }} <strong>Matricule</strong> {{ demandeConge.agent.matricule }}
                                    </td>
                                    <td class="text-right" style="margin-right: 10px;"><strong>Groupe</strong> {{ demandeConge.agent.indiceGroupe }} </td>
                                    <td class="text-right" style="margin-right: 10px;"><strong>Catégorie</strong> {{ demandeConge.agent.indiceCategorie }}</td>
                                    <td class="text-right"><strong>Echelon</strong> {{ demandeConge.agent.indiceEchelon }}</td>
                                </tr>
                                <tr>
                                    <td colspan="4"><strong>En service à</strong>
                                        {% for user in agent %}
                                            {% if user.sdpt_designation %}
                                                Service {{ user.sdpt_designation ~ ' (' ~ user.poste_designation ~ ')' }}
                                            {% elseif user.sdir_designation %}
                                                Service {{ user.sdir_designation ~ ' (' ~ user.poste_designation ~ ')' }}
                                            {% elseif user.dpt_designation %}
                                                Département {{ user.dpt_designation ~ ' (' ~ user.poste_designation ~ ')' }}
                                            {% elseif user.dir_designation %}
                                                Direction {{ user.dir_designation ~ ' (' ~ user.poste_designation ~ ')' }}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2"><strong>Sollicite un congé du</strong> {{ demandeConge.dateDebutAt | date('d/m/Y') }}</td>
                                    <td colspan="2"><strong>au</strong> {{ demandeConge.dateFinAt | date('d/m/Y') }}</td>
                                </tr>
                                <tr>
                                    <td colspan="4"><strong>Au titre de l'année</strong> {{ demandeConge.annee }}</td>
                                </tr>
                                <tr>
                                    <td colspan="2"><strong>Téléphone Mobile</strong> {{ demandeConge.agent.tel }}</td>
                                    <td class="text-right" colspan="2"><strong>Téléphone Bureau</strong>
                                        {% for user in agent %}
                                            {% if user.s_dptdir_tel %}
                                                {{ user.s_dptdir_tel }}
                                            {% elseif user.s_dir_tel %}
                                                {{ user.s_dir_tel }}
                                            {% elseif user.dpt_dir_tel %}
                                                {{ user.dpt_dir_tel }}
                                            {% elseif user.dir_tel %}
                                                {{ user.dir_tel }}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" colspan="4">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td class="text-left">Avis de l'Agent Demandeur</td>
                                    <td class="text-left">Avis du Chef de Service</td>
                                    <td class="text-left">Avis du Chef de Dept</td>
                                    <td class="text-right">Avis du Directeur Concerné</td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <button class="btn btn-primary btn-circle btn-outline" type="button"><i class="fa fa-check"></i></button>
                                    </td>
                                    <td class="text-center">
                                        {% if demandeConge.avisChefService %}
                                            <button class="btn btn-primary btn-circle btn-outline" type="button"><i class="fa fa-check"></i></button>
                                        {% else %}
                                            <i class="fa fa-times"></i> En cours...
                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        {% if demandeConge.avisChefDept %}
                                            <button class="btn btn-primary btn-circle btn-outline" type="button"><i class="fa fa-check"></i></button>
                                        {% else %}
                                            <i class="fa fa-times"></i> En cours...
                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        {% if demandeConge.avisDirConcerne %}
                                            <button class="btn btn-primary btn-circle btn-outline" type="button"><i class="fa fa-check"></i></button>
                                        {% else %}
                                            <i class="fa fa-times"></i> En cours...
                                        {% endif %}
                                    </td>
                                </tr>
                            </tbody>
                            {#<tfoot>
                            <a href="{{ path('modele_conge_create') }}" class="btn btn-xs btn-primary text-right pull-left"style="margin-right: 10px;">
                                <i class="fa fa-plus"></i> Envoyer une demande
                            </a>
                            </tfoot>#}
                        </table>

                        <hr>

                        <table>
                            <thead>
                            <tr>
                                <th class="text-left" style="margin-right: 10px;"><img src="{{ asset('uploads/images/logo.png') }}" alt="logo-ct" width="100" /></th>
                                <th class="text-center"style="font-size: 20px;" colspan="3">
                                    SOCIETE NATIONALE DES TELECOMMUNICATIONS
                                    <h3>COMORES TELECOM</h3>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td colspan="4"><h4>DIRECTION DES RESSOURCES HUMAINES</h4></td>
                            </tr>
                            <tr><td align="center" colspan="4">&nbsp;</td></tr>
                            <tr>
                                <td class="text-center" colspan="4"><div class="btn btn-outline btn-success border-size-lg"> TITRE DE CONGE</div></td>
                            </tr>
                            <tr><td align="center" colspan="4">&nbsp;</td></tr>
                            <tr>
                                <td class="text-left" colspan="4">Un congé d'une durée de <strong class="text-navy">{{ demandeConge.nombreJour }} jours est accordé</strong></td>
                            </tr>
                            <tr>
                                <td class="text-left" style="margin-right: 10px;">
                                    <strong>A</strong> {% if demandeConge.agent.sexe == 'M' %}M.{% else %}Mme{% endif %}
                                    {{ demandeConge.agent.nomPrenom }} <strong>Matricule</strong> {{ demandeConge.agent.matricule }}
                                </td>
                                <td class="text-right" style="margin-right: 10px;"><strong>Groupe</strong> {{ demandeConge.agent.indiceGroupe }} </td>
                                <td class="text-right" style="margin-right: 10px;"><strong>Catégorie</strong> {{ demandeConge.agent.indiceCategorie }}</td>
                                <td class="text-right"><strong>Echelon</strong> {{ demandeConge.agent.indiceEchelon }}</td>
                            </tr>
                            <tr>
                                <td colspan="4"><strong>En service à</strong>
                                    {% for user in agent %}
                                        {% if user.sdpt_designation %}
                                            Service {{ user.sdpt_designation ~ ' (' ~ user.poste_designation ~ ')' }}
                                        {% elseif user.sdir_designation %}
                                            Service {{ user.sdir_designation ~ ' (' ~ user.poste_designation ~ ')' }}
                                        {% elseif user.dpt_designation %}
                                            Département {{ user.dpt_designation ~ ' (' ~ user.poste_designation ~ ')' }}
                                        {% elseif user.dir_designation %}
                                            Direction {{ user.dir_designation ~ ' (' ~ user.poste_designation ~ ')' }}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"><strong>Période du congé du</strong> {{ demandeConge.dateDebutAt | date('d/m/Y') }}</td>
                                <td colspan="2"><strong>au</strong> {{ demandeConge.dateFinAt | date('d/m/Y') }} <strong>Inclus</strong></td>
                            </tr>
                            <tr>
                                <td colspan="2"><strong>Téléphone Mobile</strong> {{ demandeConge.agent.tel }}</td>
                                <td class="text-right" colspan="2"><strong>Téléphone Bureau</strong>
                                    {% for user in agent %}
                                        {% if user.s_dptdir_tel %}
                                            {{ user.s_dptdir_tel }}
                                        {% elseif user.s_dir_tel %}
                                            {{ user.s_dir_tel }}
                                        {% elseif user.dpt_dir_tel %}
                                            {{ user.dpt_dir_tel }}
                                        {% elseif user.dir_tel %}
                                            {{ user.dir_tel }}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <td align="center" colspan="4">&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="text-center" colspan="4">Avis du Chef de Département Administration du Personnel</td>
                            </tr>
                            <tr>
                                <td class="text-center" colspan="4">
                                    {% if demandeConge.avisChefDeptAdminPersonnel %}
                                        <button class="btn btn-primary btn-circle btn-outline" type="button"><i class="fa fa-check"></i></button>
                                    {% else %}
                                        <i class="fa fa-times"></i> En cours...
                                    {% endif %}
                                </td>
                            </tr>
                            <tr><td align="center" colspan="4">&nbsp;</td></tr>
                            </tbody>
                        </table>

                        <table align="center">
                            <thead>
                                <tr>
                                    <th class="text-center" style="font-size: 14px;" colspan="4">
                                        DIRECTION DES RESSOURCES HUMAINES <br>
                                        <strong><u>SERVICE DU PERSONNEL</u></strong>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center" style="font-size: 15px;" colspan="4">
                                        <br><strong>SITUATION DES CONGES</strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <br>

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="font-size: 12px;">Droit à congé</th>
                                    <th>2017</th>
                                    <th>2018</th>
                                    <th>2019</th>
                                    <th>2020</th>
                                    <th>2021</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Annuel</th>
                                    <td>30</td>
                                    <td>30</td>
                                    <td>30</td>
                                    <td>30</td>
                                    <td>30</td>
                                </tr>
                                <tr>
                                    <th>Congé pris</th>
                                    <td>30</td>
                                    <td>30</td>
                                    <td>30</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <th>Congé restant</th>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>30</td>
                                    <td>30</td>
                                </tr>
                            </tbody>
                        </table>
                        {% elseif demandeConge.modeleConge.CategorieConge.id == 2 %}
                            <table>
                                <thead>
                                <tr>
                                    <th class="text-left" style="margin-right: 10px;"><img src="{{ asset('uploads/images/logo.png') }}" alt="logo-ct" width="100" /></th>
                                    <th class="text-center"style="font-size: 20px;" colspan="3">
                                        SOCIETE NATIONALE DES TELECOMMUNICATIONS
                                        <h3>COMORES TELECOM</h3>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td colspan="4">
                                        <h4>DIRECTION DES RESSOURCES HUMAINES</h4>
                                    </td>
                                </tr>
                                <tr><td align="center"><strong>SERVICE PERSONNEL</strong></td><td></td><td></td><td></td></tr>
                                <tr><td align="center" colspan="4">&nbsp;</td></tr>
                                <tr>
                                    <td class="text-center" colspan="4"><div class="btn btn-outline btn-success border-size-lg"> TITRE DE CONGE SPECIAL</div></td>
                                </tr>
                                <tr><td align="center" colspan="4">&nbsp;</td></tr>
                                <tr>
                                    <td class="text-left" colspan="4">Un congé d'une durée de <strong class="text-navy">{{ demandeConge.nombreJour }} jours est accordé</strong></td>
                                </tr>
                                <tr>
                                    <td class="text-left" style="margin-right: 10px;">
                                        <strong>A</strong> {% if demandeConge.agent.sexe == 'M' %}M.{% else %}Mme{% endif %}
                                        {{ demandeConge.agent.nomPrenom }} <strong>Matricule</strong> {{ demandeConge.agent.matricule }}
                                    </td>
                                    <td class="text-right" style="margin-right: 10px;"><strong>Groupe</strong> {{ demandeConge.agent.indiceGroupe }} </td>
                                    <td class="text-right" style="margin-right: 10px;"><strong>Catégorie</strong> {{ demandeConge.agent.indiceCategorie }}</td>
                                    <td class="text-right"><strong>Echelon</strong> {{ demandeConge.agent.indiceEchelon }}</td>
                                </tr>
                                <tr>
                                    <td colspan="2"><strong>En service à</strong>
                                        {% for user in agent %}
                                            {% if user.sdpt_designation %}
                                                Service {{ user.sdpt_designation ~ ' (' ~ user.poste_designation ~ ')' }}
                                            {% elseif user.sdir_designation %}
                                                Service {{ user.sdir_designation ~ ' (' ~ user.poste_designation ~ ')' }}
                                            {% elseif user.dpt_designation %}
                                                Département {{ user.dpt_designation ~ ' (' ~ user.poste_designation ~ ')' }}
                                            {% elseif user.dir_designation %}
                                                Direction {{ user.dir_designation ~ ' (' ~ user.poste_designation ~ ')' }}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td colspan="2"><strong>Lieu de jouissance</strong> {{ demandeConge.lieuJouissance }}</td>
                                </tr>
                                <tr>
                                    <td colspan="2"><strong>Période du congé du</strong> {{ demandeConge.dateDebutAt | date('d/m/Y') }}</td>
                                    <td colspan="2"><strong>au</strong> {{ demandeConge.dateFinAt | date('d/m/Y') }} <strong>Inclus</strong></td>
                                </tr>
                                <tr>
                                    <td align="center" colspan="4">&nbsp;</td>
                                </tr>
                                </tbody>
                            </table>

                            <table align="center">
                                <thead>
                                <tr>
                                    <th class="text-center" style="font-size: 15px;" colspan="4">
                                        <strong>SITUATION DES CONGES SPECIAUX</strong>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr colspan="4"><td></td></tr>
                                </tbody>
                            </table>
                            <br>

                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th class="text-center" colspan="4">Droit à congé</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <table class="table table-bordered">
                                            <tbody>
                                            <tr>
                                                <th style="font-size: 12px;">Mariage direct</th>
                                                <td>9 jrs</td>
                                            </tr>
                                            <tr>
                                                <th style="font-size: 12px;">Mariage d'un enfant de l'agent</th>
                                                <td>3 jrs</td>
                                            </tr>
                                            <tr>
                                                <th style="font-size: 12px;">Circoncision d'un enfant de l'agent</th>
                                                <td>2 jrs</td>
                                            </tr>
                                            <tr>
                                                <th style="font-size: 12px;">Naissance d'un enfant de l'agent</th>
                                                <td>3 jrs</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td style="vertical-align: middle">
                                        <div class="tooltip-demo">
                                            <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Dimanches et jrs fériés exclus">(ouvrables)</button>
                                        </div>
                                    </td>
                                    <td>
                                        <table class="table table-bordered">
                                            <tbody>
                                            <tr>
                                                <th style="font-size: 12px;">Décès du père, de la mère ou enfant de l'agent</th>
                                                <td>3 jrs</td>
                                            </tr>
                                            <tr>
                                                <th style="font-size: 12px;">Décès de l'épouse</th>
                                                <td>9 jrs</td>
                                            </tr>
                                            <tr>
                                                <th style="font-size: 12px;">Décès de l'époux</th>
                                                <td>4 mois et 15 jrs</td>
                                            </tr>
                                            <tr>
                                                <th style="font-size: 12px;">Décès frères et soeurs</th>
                                                <td>3 jrs</td>
                                            </tr>
                                            <tr>
                                                <th style="font-size: 12px;">Pèlerinage</th>
                                                <td>45 jrs</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td style="vertical-align: middle">
                                        <div class="tooltip-demo">
                                            <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Dimanches et jrs fériés exclus">(ouvrables)</button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <div class="row">
                                <div class="col-sm-12 text-center">Avis du Chef de Département Administration du Personnel</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    {% if demandeConge.avisChefDeptAdminPersonnel %}
                                        <button class="btn btn-primary btn-circle btn-outline" type="button"><i class="fa fa-check"></i></button>
                                    {% else %}
                                        <i class="fa fa-times"></i> En cours...
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    {# ============ Fin section à imprimer  ============ #}

                    {% if demandeConge.avisChefDeptAdminPersonnel %}
                        <a href="#" onClick="imprimer('sectionAimprimer')" class="btn btn-xs btn-primary text-right pull-left"style="margin-right: 10px;">
                            <i class="fa fa-print"></i> Imprimer
                        </a>
                    {% endif %}

                    {#<form method="get" class="form-horizontal">
                        <div class="form-group"><label class="col-sm-2 control-label">Type de congé</label>
                            <div class="col-sm-10"><input type="text" value="{{ demandeConge.ModeleConge.titre }}" class="form-control"></div>
                        </div>

                        <div class="form-group"><label class="col-sm-2 control-label">Allant du</label>
                            <div class="col-sm-10"><input type="text" value="{{ demandeConge.dateDebutAt | date('d/m/Y') }}" class="form-control"></div>
                        </div>

                        <div class="form-group"><label class="col-sm-2 control-label">Au</label>
                            <div class="col-sm-10"><input type="text" value="{{ demandeConge.dateFinAt | date('d/m/Y') }}" class="form-control"></div>
                        </div>

                        <div class="form-group"><label class="col-sm-2 control-label">Nombre</label>
                            <div class="col-sm-10"><input type="text" value="{{ demandeConge.nombreJour }} jours" class="form-control"></div>
                        </div>

                        {% if demandeConge.motif %}
                            <div class="form-group"><label class="col-sm-2 control-label">Motif</label>
                                <div class="col-sm-10"><input type="text" value="{{ demandeConge.motif }}" class="form-control"></div>
                            </div>
                        {% endif %}

                        {% if demandeConge.justificatif %}
                            <div class="form-group"><label class="col-sm-2 control-label">Motif</label>
                                <div class="col-sm-10"><a href="{{ asset('uploads/docs/conges/' ~ demandeConge.justificatif) }}" class="form-control">{{ demandeConge.justificatif }}</a></div>
                            </div>
                        {% endif %}

                        <div class="form-group"><label class="col-sm-2 control-label">Action</label>
                            <div class="col-lg-10 m-l-n">
                                <a href="{{ path('demande_conge_create') }}" class="btn btn-xs btn-primary text-right pull-left"style="margin-right: 10px;">
                                    <i class="fa fa-plus"></i> Envoyer une demande
                                </a>

                                <a href="{{ path('demande_conge_edit', {'id': demandeConge.id}) }}" class="btn btn-xs btn-warning text-right pull-left"style="margin-right: 10px;">
                                    <i class="fa fa-edit"></i> Editer la demande
                                </a>
                                <a href="{{ path('demandes_show') }}"><i class="fa fa-arrow-left"></i> Retour à la liste des demandes de congés</a>
                            </div>
                        </div>
                    </form>#}
                </div>
            </div>
            {# ============================= Fin Contenu   ==================================== #}
        </div>
    </div>
{% endblock body %}

{% block footer %}
    {{ parent() }}
{% endblock footer %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function imprimer(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }
    </script>
{% endblock javascripts %}