{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Liste des demandes {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/plugins/dataTables/datatables.min.css') }}" />
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

    {% block topmenu %}
        {{ parent() }}
    {% endblock topmenu %}

    {% block body %}
        {% block fildariane %}
            {{ include('_generals_includes/_fildariane.html.twig') }}
        {% endblock fildariane %}

        <div class="wrapper wrapper-content">
            <div class="row">
                {# Messages Falsh #}
                {% for message in app.flashes('success') %}
                    <div class="col-lg-12">
                        <div class="alert alert-success alert-dismissable ">
                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}

            </div>
            <div class="row">
                {# ================== menu_gauche ==================== #}
                {{ include('personnel/includes/_menu_gauche.html.twig') }}
                {# ================== Fin menu_gauche ==================== #}

                {# ============================= Contenu  ==================================== #}
                {% set route_page = app.request.attributes.get('_route') %}
                {% set les_demandes = '' %}
                {% if route_page  == 'mes_demandes_show' %}
                    {% set les_demandes = mesDemandes %}
                {% elseif route_page  == 'demandes_agent_show' %}
                    {% set les_demandes = sesDemandes %}
                {% else %}
                    {% set les_demandes = demandes %}
                {% endif %}

                <div class="col-lg-9">
                    <div class="widget-head-color-box navy-bg p-lg text-center">
                        <div class="m-b-md">
                            <h2 class="font-bold no-margins">
                                {% if route_page  == 'demandes_agent_show' %}
                                    Affichage des demandes de : {{ nomPrenom }}
                                {% elseif route_page  == 'mes_demandes_show' %}
                                    Affichage de la liste de mes demandes
                                {% else %}
                                    Affichage de la liste des demandes
                                {% endif %}
                            </h2>
                        </div>
                    </div>
                    <div class="widget-text-box">
                        <table class="table table-striped table-bordered table-hover dataTables-example" >
                            <thead>
                            <tr>
                                <th>N°</th>
                                <th>Type de congé</th>
                                <th>Du</th>
                                <th>Au</th>
                                <th>Nbre</th>
                                <th>Etat</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for demandeConge in les_demandes %}
                                <tr>
                                    <td>{{ demandeConge.numDemande }}</td>
                                    <td>{{ demandeConge.modeleConge }}</td>
                                    <td>{{ demandeConge.dateDebutAt | date('d-m-Y') }}</td>
                                    <td>{{ demandeConge.dateFinAt | date('d-m-Y') }}</td>
                                    <td>{{ demandeConge.nombreJour }} jrs</td>
                                    <td>{% if demandeConge.etat %}<i class="fa fa-check text-navy"></i> <span class="text-navy">Accepté</span>{% else %}<i class="fa fa-times"></i> En étude{% endif %}</td>
                                    <td>
                                        <a href="{{ path('demande_conge_show', {'id': demandeConge.id}) }}" class="btn btn-xs btn-info text-right pull-left" style="margin-right: 10px;">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        {% if demandeConge.etat %}
                                            <a href="{{ path('reprise_service', {'id': demandeConge.id}) }}" class="btn btn-xs btn-success text-right pull-left" style="margin-right: 10px;">
                                                <i class="fa fa-angle-double-left"></i>
                                            </a>
                                        {% endif %}
                                        <a href="{{ path('demande_conge_edit', {'id': demandeConge.id}) }}" class="btn btn-xs btn-warning text-right pull-left" style="margin-right: 10px;">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        {% if demandeConge.avisChefService == false %}
                                            {% if is_granted ('ROLE_ADMIN_GCONGE') %}
                                                <span class="pull-left" style="margin-left: 0px;">
                                                    {{ include('personnel/demande_conge/delete.html.twig') }}
                                                </span>
                                            {% endif %}
                                        {% else %}
                                            <span class="pull-left" style="margin-left: 0px;">
                                                {{ include('personnel/demande_conge/delete.html.twig') }}
                                            </span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="4">Aucune demande de congé!</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div>
                            <div class="block">
                                <a href="{{ path('demande_conge_create') }}" class="btn btn-xs btn-primary text-right">
                                    <i class="fa fa-send"></i> Envoyer une demande
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {# ============================= Fin Contenu   ==================================== #}
            </div>
        </div>

    {% endblock body %}

    {% block footer %}
        {{ parent() }}
    {% endblock footer %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/plugins/dataTables/datatables.min.js') }}"></script>

    <script>
        $(document).ready(function(){
            $('.dataTables-example').DataTable({
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    {extend: 'copy', title: 'Demandes-congés'},
                    {extend: 'csv', title: 'Demandes-congés'},
                    {extend: 'excel', title: 'Demandes-congés'},
                    {extend: 'pdf', title: 'Demandes-congés'},

                    {extend: 'print',
                        customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]
            });

            /* Init DataTables */
            var oTable = $('#editable').DataTable();

            /* Apply the jEditable handlers to the table */
            oTable.$('td').editable( '../example_ajax.php', {
                "callback": function( sValue, y ) {
                    var aPos = oTable.fnGetPosition( this );
                    oTable.fnUpdate( sValue, aPos[0], aPos[1] );
                },
                "submitdata": function ( value, settings ) {
                    return {
                        "row_id": this.parentNode.getAttribute('id'),
                        "column": oTable.fnGetPosition( this )[2]
                    };
                },

                "width": "90%",
                "height": "100%"
            } );
        });
    </script>
{% endblock javascripts %}