<form method="post" action="{{ path('admin_ec_formationuser_delete', {'id': ec_formationuser.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ec_formationuser.id) }}">
    <button class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> {% if app.request.attributes.get('_route') == 'admin_ec_formationuser_show' %}Supprimer {% endif %}</button>
</form>
