{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Accueil Avancement normal {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Morris --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css') }}">
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}

            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    {# Messages Falsh #}
                    {% for message in app.flashes('success') %}
                        <div class="col-lg-12" style="margin-top: 15px;">
                            <div class="alert alert-success alert-dismissable ">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                {{ message }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Liste des formations agent</h5>&nbsp;&nbsp;
                                <small>Affichage sur 20</small>
                                <i class="pull-right">
                                    <a  class="btn btn-primary btn-xs" href="{{ path('ecoleuniversite_choisir_agent') }}">
                                        <i class="fa fa-plus"></i>
                                        Ajouter
                                    </a>
                                </i>
                            </div>
                            <div class="ibox-content">
                                <input type="text" class="form-control input-sm m-b-xs" id="filter"
                                       placeholder="Rechercher">

                                <table class="footable table table-stripped" data-page-size="20" data-filter=#filter>
                                    <thead>
                                    <tr>
                                        <th>Matricule</th>
                                        <th>Agent</th>
                                        <th>Ecole | Université</th>
                                        <th>Période</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for ec_formationuser in ec_formationusers %}
                                        <tr>
                                            <td>{{ ec_formationuser.User.matricule }}</td>
                                            <td>{{ ec_formationuser.User.nomPrenom }}</td>
                                            <td>{{ ec_formationuser.Ecoleuniversite.designation }}</td>
                                            <td>{{ ec_formationuser.dateDebutAt ? ec_formationuser.dateDebutAt|date('Y') : '' }} - {{ ec_formationuser.dateFinAt ? ec_formationuser.dateFinAt|date('Y') : '' }}</td>
                                            <td>
                                                <a href="{{ path('admin_ec_formationuser_show', {'id': ec_formationuser.id}) }}" class="btn btn-xs btn-info pull-left" style="margin-right: 5px;">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                                <a href="{{ path('admin_ec_formationuser_edit', {'id': ec_formationuser.id}) }}" class="btn btn-xs btn-warning pull-left" style="margin-right: 5px;">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <span class="pull-left">{{ include('admin/ec_formationuser/_delete_form.html.twig') }}</span>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="5">Aucun enregistrement trouvé!</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="5">
                                            <ul class="pagination pull-right"></ul>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {

            $('.footable').footable();
            $('.footable2').footable();

        });

    </script>
{% endblock javascripts %}