{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Formation de l'agent {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Morris --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css') }}">
        <link rel="stylesheet" href="{{ asset('css/plugins/select2/select2.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/plugins/chosen/bootstrap-chosen.css') }}">

    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}

            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="ibox">
                            <div class="ibox-content">
                                <h3>Enregistrer une formation </h3>

                                {{ form_start(form) }}

                                <div class="form-group">
                                    <label>Agent  </label>
                                    <span> {{ user }} </span>
                                </div>
                                <div class="form-group col-sm-6 {% if form_errors(form.ecoleuniversite) %}has-error{% endif %}" style="padding-left: 0px;">
                                    <label>Ecole / fac / Lycée...  </label>
                                    {{ form_widget(form.ecoleuniversite, {
                                        'attr': {
                                            'class': 'chosen-select'
                                        }
                                    }) }}
                                </div>
                                <div class="form-group col-sm-3 {% if form_errors(form.dateDebutAt) %}has-error{% endif %}" >
                                    <label>Date debut </label>
                                    {{ form_widget(form.dateDebutAt, {
                                        'attr': {
                                            'class': 'form-control'
                                        }
                                    }) }}
                                </div>
                                <div class="form-group col-sm-3" style="padding-right: 0px;">
                                    <label>Date fin</label>
                                    {{ form_widget(form.dateFinAt, {
                                        'attr': {
                                            'class': 'form-control'
                                        }
                                    }) }}
                                </div>
                                <div class="form-group col-sm-6" style="padding-left: 0px;">
                                    <label>Sous-metier </label>
                                    {{ form_widget(form.ecSousmetier) }}
                                </div>
                                <div class="form-group col-sm-6" style="padding-right: 0px;">
                                    <label>Niveau de qualification </label>
                                    {{ form_widget(form.niveauqualification) }}
                                </div>
                                <div class="form-group">
                                    <label>Domaine de formation </label>
                                    {{ form_widget(form.ecFormation) }}
                                </div>
                                <div class="form-group">
                                    <label>Observations  </label>
                                    {{ form_widget(form.observations) }}
                                </div>

                                {{ form_widget(form) }}
                                <input class="btn btn-primary" type="submit" value="Enregistrer" />

                                {{ form_end(form) }}

                                <div class="hr-line-dashed"></div>
                                <a href="{{ path('admin_ecoleuniversite_index') }}">Retour à la liste</a>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}

    <script type="text/javascript" src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/inspinia.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/pace/pace.min.js') }}"></script>


    <script type="text/javascript" src="{{ asset('js/plugins/select2/select2.full.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/touchspin/jquery.bootstrap-touchspin.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/chosen/chosen.jquery.js') }}"></script>


    <script>
        $(document).on('change', '#ec_formationuser_ecoleuniversite, #ec_formationuser_ecSousmetier', function () {
            let $field = $(this)
            let $ecoleuniversiteField = $('#ec_formationuser_ecoleuniversite')
            let $form = $field.closest('form')
            let data = {}
            data[$ecoleuniversiteField.attr('name')] = $ecoleuniversiteField.val()
            data[$field.attr('name')] = $field.val()
            $.post($form.attr('action'), data).then(function (data) {
                let $input = $(data).find('#ec_formationuser_ecSousmetier')
                $('#ec_formationuser_ecSousmetier').replaceWith($input)

                //chargement du champs niveauqualification après selection de l'école / université
                let $inputNiveauqualification = $(data).find('#ec_formationuser_niveauqualification')
                $('#ec_formationuser_niveauqualification').replaceWith($inputNiveauqualification)

                //chargement du champs formation lié à un sous-metier après selection du sousmetier
                let $inputEcFormation = $(data).find('#ec_formationuser_ecFormation')
                $('#ec_formationuser_ecFormation').replaceWith($inputEcFormation)
            })

        })
    </script>

    <script>

        $('.chosen-select').chosen({width: "100%"});


    </script>



{% endblock javascripts %}

