{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Formations agent {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Morris --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css') }}">
        <link rel="stylesheet" href="{{ asset('css/plugins/select2/select2.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/plugins/chosen/bootstrap-chosen.css') }}">

    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

{% block body %}
    {% block fildariane %}
        {{ include('_generals_includes/_fildariane.html.twig') }}
    {% endblock fildariane %}

    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">

            <div class="col-lg-12">

                <div class="contact-box center-version">
                    <table class="table table-container">
                        <thead>
                        <h2 style="padding-left: 10px;">Formation pour : <small>{{ ec_formationuser.User.nomPrenom }}</small></h2>
                        </thead>
                        <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ ec_formationuser.id }}</td>
                        </tr>
                        <tr>
                            <th>Concerné(e)</th>
                            <td> {{ ec_formationuser.User.nomPrenom }}</td>
                        </tr>
                        <tr>
                            <th>Ecole | Université</th>
                            <td>{{ ec_formationuser.ecoleuniversite }}</td>
                        </tr>
                        <tr>
                            <th>Période</th>
                            <td>Du {{ ec_formationuser.dateDebutAt | date('d/m/Y') }} au {{ ec_formationuser.dateFinAt | date('d/m/Y') }}</td>
                        </tr>
                        <tr>
                            <th>Sous-metier</th>
                            <td>{{ ec_formationuser.ecSousmetier }}</td>
                        </tr>
                        <tr>
                            <th>Formation</th>
                            <td>{{ ec_formationuser.ecFormation }}</td>
                        </tr>
                        <tr>
                            <th>Niveau de qualification</th>
                            <td>{{ ec_formationuser.niveauqualification }}</td>
                        </tr>
                        <tr>
                            <th>Observations</th>
                            <td>{{ ec_formationuser.observations }}</td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="contact-box-footer">
                        <div class="m-t-xs btn-group">
                            <a href="{{ path('admin_ec_formationuser_index') }}" class="pull-left" style="margin-right: 10px;">
                                <i class="fa fa-arrow-left"></i> Retour
                            </a>

                            <a href="{{ path('admin_ec_formationuser_edit', {'id': ec_formationuser.id}) }}" class="pull-left" style="margin-right: 10px;">
                                <i class="fa fa-edit"></i>
                            </a>
                            <span class="pull-right">
                                {{ include('admin/ec_formationuser/_delete_form.html.twig') }}
                            </span>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>

{% endblock %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}

    {{ parent() }}

{% endblock javascripts %}

