<form method="post" action="{{ path('admin_ec_metier_delete', {'id': ec_metier.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet enregistrement?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ec_metier.id) }}">
    <button class="btn btn-xs btn-danger"><i class="fa fa-trash"></i>  {% if app.request.attributes.get('_route') == 'admin_niveauqualification_show' %}Supprimer {% endif %}</button>
</form>
