{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Accueil AFSOC {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css') }}">
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}

            <div class="wrapper wrapper-content">
                <div class="row">
                    {# Messages Falsh #}
                    {% for message in app.flashes('success') %}
                        <div class="col-lg-12">
                            <div class="alert alert-success alert-dismissable ">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                {{ message }}
                            </div>
                        </div>
                    {% endfor %}

                </div>
                <div class="row">

                    {# VERIFICATION DU STATUT DE LA PERSONNE CONNECTEE #}
                    {% if app.user %}
                        {# ================== menu_gauche ==================== #}
                        <div class="col-lg-3">
                            <div class="ibox float-e-margins" style="padding-top: 10px;">
                                <a href="{{ path('moncompte_administration') }}" class="btn btn-info btn-block"><i class="fa fa-arrow-left"></i> Mon Admin</a>
                                <div class="ibox-content panelpanel-danger ">
                                    <div class="file-manager">
                                        {% if 'ROLE_SUPER_ADMIN' in roles %}
                                            <h5 class="badge badge-danger block">Super Admin</h5>
                                        {% elseif 'ROLE_ADMIN_GCAR' in roles %}
                                            <h5 class="badge badge-danger block">Admin gCar</h5>
                                        {% elseif 'ROLE_ADMIN_GSENERG' in roles %}
                                            <h5 class="badge badge-danger block">Admin gS-Energ</h5>
                                        {% elseif 'ROLE_ADMIN_GBDS' in roles %}
                                            <h5 class="badge badge-danger block">Admin gBds</h5>
                                        {% elseif 'ROLE_ADMIN_GAFSOC' in roles %}
                                            <h5 class="badge badge-danger block">Admin gAfsoc</h5>
                                        {% else %}
                                            <h5 class="badge badge-info block">À voir aussi</h5>
                                        {% endif %}
                                        <ul class="folder-list" style="padding: 0">
                                            <li><a href="{{ path('afsoc_situation_familiale_index') }}"><span class="fa fa-user"></span><i class="fa fa-ig"></i> <b>Agents (Situation familiale)</b></a></li>
                                            <li><a href="{{ path('evenements_conge_index') }}"><span class="fa fa-list-alt"></span><i class="fa fa-ig"></i> Congé</a></li>
                                            <li><a href="{{ path('evenements_retraite_index') }}"><span class="fa fa-list-alt"></span><i class="fa fa-ig"></i> Retraite</a></li>
                                            <li><a href="{{ path('evenements_deces_index') }}"><span class="fa fa-list-alt"></span><i class="fa fa-ig"></i> Décès</a></li>
                                            <li><a href="{{ path('afsoc_reposmaladie_index') }}"><span class="fa fa-list-alt"></span><i class="fa fa-ig"></i> Repos maladie</a></li>
                                            <li><a href="{{ path('afsoc_carnet_index') }}"><span class="fa fa-list-alt"></span><i class="fa fa-ig"></i> Carnets</a></li>
                                            <li><div class="hr-line-dashed"></div></li>
                                            <li><a href="{{ path('afsoc_medecin_index') }}"><span class="fa fa-user-md"></span><i class="fa fa-ig"></i> Médecins</a></li>
                                            <li><a href="{{ path('afsoc_entitemedicale_index') }}"><span class="fa fa-hospital-o"></span><i class="fa fa-ig"></i> Hôpital / Clinique</a></li>
                                            <li><a href="{{ path('afsoc_chargemedicale_index') }}"><span class="fa fa-list-alt"></span><i class="fa fa-ig"></i> Charges médicales</a></li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {# ================== Fin menu_gauche ==================== #}
                    {% endif %}


                    {# =============================   ==================================== #}
                    {% if app.user %}
                        <div class="col-lg-9">
                            <div class="widget-head-color-box bg-info p-lg text-center">
                                <div class="m-b-md">

                                    <h2 class="font-bold no-margins">
                                        Admin Affaires Sociales
                                    </h2>

                                </div>
                            </div>
                            <div class="widget-text-box">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="ibox">
                                            <div class="ibox-content product-box active">
                                                <div class="hr-line-dashed"></div>
                                                <div class="product-desc">
                                                    <span class="product-price">
                                                        Nbr
                                                    </span>
                                                    <a href="#" class="product-name"> Retraites</a>
                                                    <small class="text-muted">Autres infos</small>

                                                    <div class="m-t text-righ">

                                                        <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="ibox">
                                            <div class="ibox-content product-box active">
                                                <div class="hr-line-dashed"></div>
                                                <div class="product-desc">
                                                    <span class="product-price">
                                                        Nbr
                                                    </span>
                                                    <a href="#" class="product-name"> Congés</a>
                                                    <small class="text-muted">Category</small>

                                                    <div class="m-t text-righ">

                                                        <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="ibox">
                                            <div class="ibox-content product-box active">
                                                <div class="hr-line-dashed"></div>
                                                <div class="product-desc">
                                                    <span class="product-price">
                                                        Nbr
                                                    </span>
                                                    <a href="#" class="product-name"> Repos maladie</a>
                                                    <small class="text-muted">Category</small>

                                                    <div class="m-t text-righ">

                                                        <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="ibox">
                                            <div class="ibox-content product-box active">
                                                <div class="hr-line-dashed"></div>
                                                <div class="product-desc">
                                                    <span class="product-price">
                                                        Nbr
                                                    </span>
                                                    <a href="#" class="product-name"> Carnets</a>
                                                    <small class="text-muted">Category</small>

                                                    <div class="m-t text-righ">

                                                        <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    {% endif %}

                </div>

            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    {{ parent() }}
{% endblock javascripts %}

