{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Ajouter Expoux(se) {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Morris --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css') }}">
        <link rel="stylesheet" href="{{ asset('css/plugins/select2/select2.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/plugins/chosen/bootstrap-chosen.css') }}">

    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}

            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">

                    <div class="col-lg-12">

                        <div class="ibox">
                            <div class="ibox-content">
                                <h3>Enregistrer un(e) époux(se) </h3>

                                {{ form_start(form) }}

                                <div class="form-group col-sm-6 {% if form_errors(form.nomPrenom) %}has-error{% endif %}" style="padding-left: 15px;">
                                    <label>Nom Prénom  </label>
                                    {{ form_widget(form.nomPrenom, {
                                        'attr': {
                                            'class': 'form-control'
                                        }
                                    }) }}
                                </div>

                                <div class="form-group col-sm-3 {% if form_errors(form.dateNaissanceAt) %}has-error{% endif %}">
                                    <label>Date de naissance</label>
                                    {{ form_widget(form.dateNaissanceAt) }}
                                </div>
                                <div class="form-group col-sm-3 {% if form_errors(form.imageFile) %}has-error{% endif %}" style="padding-right: 0px;">
                                    <label>Photo</label>
                                    {{ form_widget(form.imageFile, {
                                        'attr' : {
                                            'class':'form-control',
                                        }
                                    }) }}
                                </div>

                                <div class="form-group col-sm-12 {% if form_errors(form.observations) %}has-error{% endif %}" style="padding-right: 0px;">
                                    <label>Observations</label>
                                    {{ form_widget(form.observations, {

                                    }) }}
                                </div>

                                {{ form_widget(form) }}
                                <div class="form-group col-sm-12">
                                    <input class="btn btn-primary pull-right" type="submit" value="Enregistrer" />
                                </div>
                                {{ form_end(form) }}

                                <a href="{{ path('afsoc_epouxse_index') }}">Retour à la liste</a>
                                <div class="hr-line-dashed"></div>
                            </div>
                        </div>

                    </div>



                </div>

            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}

    {{ parent() }}

    {#<!-- chosen -->#}
    <script type="text/javascript" src="{{ asset('js/plugins/chosen/chosen.jquery.js') }}"></script>
    {#<!-- Typehead -->#}
    <script type="text/javascript" src="{{ asset('js/plugins/typehead/bootstrap3-typeahead.min.js') }}"></script>

    <script>

        $('.chosen-select').chosen({width: "100%"});


    </script>



{% endblock javascripts %}

