{% extends 'base.html.twig' %}

{% block title %}EpouxSe{% endblock %}

{% block body %}
    <h1>EpouxSe</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ epoux_se.id }}</td>
            </tr>
            <tr>
                <th>NomPrenom</th>
                <td>{{ epoux_se.nomPrenom }}</td>
            </tr>
            <tr>
                <th>DateNaissanceAt</th>
                <td>{{ epoux_se.dateNaissanceAt ? epoux_se.dateNaissanceAt|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('affaires_sociales_epoux_se_index') }}">back to list</a>

    <a href="{{ path('affaires_sociales_epoux_se_edit', {'id': epoux_se.id}) }}">edit</a>

    {{ include('affaires_sociales_epoux_se/_delete_form.html.twig') }}
{% endblock %}
