{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Evenements {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Morris --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css') }}">
        <link rel="stylesheet" href="{{ asset('css/plugins/footable/footable.core.css') }}">
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}

            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    {# Messages Falsh #}
                    {% for message in app.flashes('success') %}
                        <div class="col-lg-12" style="margin-top: 15px;">
                            <div class="alert alert-success alert-dismissable ">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                {{ message }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    {# include du menu_left #}
                    {{ include('evenements/_includes/_left_menu.html.twig') }}
                    {# Fin include du menu_left #}

                    <div class="col-lg-9">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Liste des renouvellements de contrat</h5>&nbsp;&nbsp;
                                <small>Affichage sur 20</small>
                                <i class="pull-right">
                                    <a  class="btn btn-primary btn-xs" href="{{ path('choisir_agent', {evenement: 'renouvellementdecontrat'}) }}">
                                        <i class="fa fa-plus"></i>
                                        Ajouter
                                    </a>
                                </i>
                            </div>
                            <div class="ibox-content">
                                <input type="text" class="form-control input-sm m-b-xs" id="filter"
                                       placeholder="Rechercher">

                                <table class="footable table table-stripped" data-page-size="20" data-filter=#filter>
                                    <thead>
                                    <tr>
                                        <th>Statut</th>
                                        <th>matricule</th>
                                        <th>Agent</th>
                                        <th>Reférence</th>
                                        <th>Période</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for ev_renouvellementdecontrat in ev_renouvellementdecontrats %}
                                        <tr>
                                            <td><small>{% if ev_renouvellementdecontrat.valide == 0 %}<span class="text-danger">Invalide</span>{% else %}Valide{% endif %}</small></td>
                                            <td>{{ ev_renouvellementdecontrat.user.matricule }}</td>
                                            <td>{{ ev_renouvellementdecontrat.user.nom }} {{ ev_renouvellementdecontrat.user.prenom }}</td>
                                            <td>{{ ev_renouvellementdecontrat.reference }}</td>
                                            <td>{{ ev_renouvellementdecontrat.dateRenouvellementdecontratAt | date('d/m/Y') }}</td>
                                            <td>
                                                <a class="btn btn-primary btn-xs pull-left" href="{{ path('evenements_renouvellementdecontrat_show', {'id': ev_renouvellementdecontrat.id}) }}" style="margin-right: 10px;">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                                <a class="btn btn-warning btn-xs pull-left" href="{{ path('evenements_renouvellementdecontrat_edit', {'id': ev_renouvellementdecontrat.id}) }}" style="margin-right: 10px;">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <span class="pull-left">{{ include('evenements/ev_renouvellementdecontrat/_delete_form.html.twig') }}</span>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="4">Aucun enregistrement trouvé</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="5">
                                            <ul class="pagination pull-right"></ul>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/plugins/footable/footable.all.min.js') }}"></script>
    <script>
        $(document).ready(function() {

            $('.footable').footable();
            $('.footable2').footable();

        });

    </script>
{% endblock javascripts %}