{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Renouvellement de contrat {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Morris --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css') }}">
        <link rel="stylesheet" href="{{ asset('css/plugins/select2/select2.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/plugins/chosen/bootstrap-chosen.css') }}">

    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}

            <div class="wrapper wrapper-content animated fadeInRight">
                {% if info_recrutement == 0 %}
                <row>
                    <div class="alert alert-danger alert-dismissable">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                        Cet agent n'a pas de "Recrutement" enregistré.<br>
                        Vous ne pouvez renouveller un contrat sans avoir enregistré un recrutement. Cliquez ici pour enregistrer
                        <a class="alert-link" href="{{ path('evenements_recrutement_new', {id: ev_renouvellementdecontrat.User.id}) }}">son recrutement</a>.
                    </div>
                </row>
                {% endif %}
                <div class="row">

                    <div class="col-lg-12">

                        <div class="ibox">
                            <div class="ibox-content">
                                <h3>Renouveller un cdd </h3>

                                <p class="small">
                                    Ajouter un evenement "Renouvellement de contrat" à un agent.
                                </p>
                                {{ form_start(form) }}

                                    <div class="form-group">
                                        <label>Agent  </label>
                                        <span> {{ ev_renouvellementdecontrat.user }} </span>
                                    </div>
                                    <input type="text" class="form-control hidden" name="renouvellementdecontrat[user]" value="{{ ev_renouvellementdecontrat.User.id }}"  >

                                    <div class="form-group col-sm-6 {% if form_errors(form.reference) %}has-error{% endif %}" style="padding-left: 0px;">
                                        <label>Reference de la note </label>
                                        {{ form_widget(form.reference, {
                                            'attr': {
                                                'class': 'form-control',
                                            }
                                        }) }}
                                    </div>
                                    <div class="form-group col-sm-6 {% if form_errors(form.dateRenouvellementdecontratAt) %}has-error{% endif %}" style="padding-right: 0px;">
                                        <label>Date </label>
                                        {{ form_widget(form.dateRenouvellementdecontratAt, {
                                            'attr': {
                                                'class': 'form-control',
                                            }
                                        }) }}
                                    </div>
                                    <div class="form-group {% if form_errors(form.matricule) %}has-error{% endif %}">
                                        <label>Matricule de l'ancien contrat </label>
                                        {{ form_widget(form.matricule, {
                                            'attr': {
                                                'class': 'form-control'
                                            }
                                        }) }}
                                    </div>
                                    <div class="form-group">
                                        <label>Recruté au poste de {% if info_recrutement == 1 %}
                                                                        {% for poste in user_recrutement.poste %}
                                                                            {% if poste == 'Aucun' %}
                                                                                <i class="text-danger"> [ Attention aucun poste attribué pendant son recrutement! ]</i>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    {% endif %}
                                        </label>
                                        {{ form_widget(form.poste, {
                                            'attr': {
                                                'class': 'chosen-select'
                                            }
                                        }) }}
                                    </div>
                                    <div class="form-group col-sm-6 {% if form_errors(form.direction) %}has-error{% endif %}" style="padding-left: 0px;">
                                        <label>Direction  </label>
                                        {{ form_widget(form.direction, {
                                            'attr': {
                                                'class': 'chosen-select'
                                            }
                                        }) }}
                                    </div>
                                    <div class="form-group col-sm-6" style="padding-right: 0px;">
                                        <label>Service de la direction  </label>
                                        {{ form_widget(form.serviceDirection) }}
                                    </div>
                                    <div class="form-group">
                                        <label>Département de la direction </label>
                                        {{ form_widget(form.departement) }}
                                    </div>
                                    <div class="form-group">
                                        <label>Service du département  </label>
                                        {{ form_widget(form.serviceDepartement) }}
                                    </div>
                                    {{ form_widget(form) }}
                                {% if info_recrutement == 0 %}
                                <a type="button" class="btn btn-primary" href="{{ path('evenements_recrutement_new', {id: ev_renouvellementdecontrat.User.id}) }}">Enregistrer d'abord son recrutement</a>
                                <input class="btn btn-primary" type="submit" value="Enregistrer" disabled="disabled"/>
                                {% else %}
                                    <input class="btn btn-primary" type="submit" value="Enregistrer" />
                                {% endif %}
                                {{ form_end(form) }}

                                <div class="hr-line-dashed"></div>
                                {% if is_granted('ROLE_ADMIN_GCAR') %}
                                    <a href="{{ path('evenements_renouvellementdecontrat_index') }}">Retour à la liste</a>
                                {% endif %}
                            </div>
                        </div>

                    </div>



                </div>

            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}

    <script type="text/javascript" src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/inspinia.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/pace/pace.min.js') }}"></script>


    <script type="text/javascript" src="{{ asset('js/plugins/select2/select2.full.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/touchspin/jquery.bootstrap-touchspin.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/chosen/chosen.jquery.js') }}"></script>


    <script>
        $(document).on('change', '#renouvellementdecontrat_direction, #renouvellementdecontrat_departement, #renouvellementdecontrat_serviceDirection', function () {
            let $field = $(this)
            let $directionField = $('#renouvellementdecontrat_direction')
            let $form = $field.closest('form')
            let data = {}
            data[$directionField.attr('name')] = $directionField.val()
            data[$field.attr('name')] = $field.val()
            $.post($form.attr('action'), data).then(function (data) {
                let $input = $(data).find('#renouvellementdecontrat_departement')
                $('#renouvellementdecontrat_departement').replaceWith($input)

                //chargement du champs service lié à une direction après selection de la direction
                let $inputsvcdir = $(data).find('#renouvellementdecontrat_serviceDirection')
                $('#renouvellementdecontrat_serviceDirection').replaceWith($inputsvcdir)

                //chargement du champs service lié à un département après selection du département
                let $inputsvcdpt = $(data).find('#renouvellementdecontrat_serviceDepartement')
                $('#renouvellementdecontrat_serviceDepartement').replaceWith($inputsvcdpt)
            })

        })
    </script>


    <script>
        $(document).ready(function(){

            $(".select2_demo_1").select2();
            $(".select2_demo_2").select2();
            $(".select2_demo_3").select2({
                placeholder: "Choisir",
                allowClear: true
            });


        });

        $('.chosen-select').chosen({width: "100%"});


    </script>



{% endblock javascripts %}

