{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Licenciement {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Morris --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css') }}">
        <link rel="stylesheet" href="{{ asset('css/plugins/select2/select2.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/plugins/chosen/bootstrap-chosen.css') }}">

    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

{% block body %}
    {% block fildariane %}
        {{ include('_generals_includes/_fildariane.html.twig') }}
    {% endblock fildariane %}

    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
            {# include du menu_left #}
            {{ include('evenements/_includes/_left_menu.html.twig') }}
            {# Fin include du menu_left #}

            <div class="col-lg-9">

                <div class="contact-box center-version">
                    <table class="table">
                        <thead>
                        <h1 style="padding-left: 10px;">Licenciement <small>{{ ev_licenciement.reference }}</small></h1>
                        </thead>
                        <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ ev_licenciement.id }}</td>
                        </tr>
                        <tr>
                            <th>Concerné(e)</th>
                            <td> {{ ev_licenciement.user }}</td>
                        </tr>
                        <tr>
                            <th>Reference de la note</th>
                            <td>{{ ev_licenciement.reference }}</td>
                        </tr>
                        <tr>
                            <th>Date de licenciement</th>
                            <td>{{ ev_licenciement.dateLicenciementAt | date('d/m/Y') }}</td>
                        </tr>

                        <tr>
                            <th>Observations</th>
                            <td>{{ ev_licenciement.observations }}</td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="contact-box-footer">
                        <div class="m-t-xs btn-group">
                            <a href="{{ path('evenements_licenciement_index') }}" class="btn btn-xs btn-white"><i class="fa fa-arrow-left"></i> Retour à la liste </a>
                            <a href="{{ path('evenements_licenciement_edit', {'id': ev_licenciement.id}) }}" class="btn btn-xs btn-warning"><i class="fa fa-edit"></i> Modifier</a>
                            <div class="hr-line-dashed"></div>
                            {{ include('evenements/ev_licenciement/_delete_form.html.twig') }}
                        </div>
                    </div>

                    <div class="contact-box-footer">
                        <div class="m-t-xs">
                            <span class="pull-left">
                                <a href="{{ path('evenements_licenciement_index') }}" class="btn btn-xs btn-white"><i class="fa fa-arrow-left"></i> Retour à la liste </a>
                                <a href="{{ path('evenements_licenciement_edit', {'id': ev_licenciement.id}) }}" class="btn btn-xs btn-warning"><i class="fa fa-edit"></i> Modifier</a>
                            </span>
                            <span class="pull-right">{{ include('evenements/ev_licenciement/_delete_form.html.twig') }} </span>
                            {% if ev_licenciement.valide ==0 %}
                                <span>{{ include('evenements/ev_licenciement/_validate_form.html.twig') }}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>

                </div>
            </div>


        </div>
    </div>

{% endblock %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}

    <script type="text/javascript" src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/inspinia.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/pace/pace.min.js') }}"></script>


    <script type="text/javascript" src="{{ asset('js/plugins/select2/select2.full.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/touchspin/jquery.bootstrap-touchspin.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/chosen/chosen.jquery.js') }}"></script>


{% endblock javascripts %}
