<form method="post" action="{{ path('sites_energetiques_delete', {'id': sites_energetique.id}) }}" onsubmit="return confirm('Êtes-vous sûr d vouloir supprimer cet enregistrement?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sites_energetique.id) }}">
    <button class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> {% if app.request.attributes.get('_route') == 'sites_energetiques_show' %}Supprimer {% endif %}</button>
</form>
