<form method="post" action="{{ path('materiel_delete', {'id': materiel.id}) }}" onsubmit="return confirm('Êtes-vous sûr d vouloir supprimer cet enregistrement?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ materiel.id) }}">
    <button class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> {% if app.request.attributes.get('_route') == 'materiel_show' %}Supprimer {% endif %}</button>
</form>
