{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Baie énergétique{% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('font-awesome/css/font-awesome.css') }}">

        <link rel="stylesheet" href="{{ asset('css/plugins/chosen/bootstrap-chosen.css') }}">

        <link rel="stylesheet" href="{{ asset('css/plugins/switchery/switchery.css') }}">

        <link rel="stylesheet" href="{{ asset('css/plugins/chosen/bootstrap-chosen.css') }}">
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}
            {# Récupération de l'ID
            {% set user_id = app.request.get('id') %}
             #}



            <div class="row wrapper wrapper-content animated fadeInUp">
                {# include du menu_left #}
                {{ include('g_sites_energ/_includes/_menu.html.twig') }}
                {# Fin include du menu_left #}

                <div class="col-lg-9">

                    <div class="panel panel-success">
                        <div class="panel-heading">
                            Editer une baie
                        </div>
                        <div class="panel-body">
                            {{ form_start(form, {
                                'attr': {
                                    'class': 'form-horizontal',
                                    'role': 'form',
                                }
                            }) }}


                            <div class="form-group">
                                <label class="col-sm-6">Site concerné</label>
                                <div class="col-sm-12">
                                    {{ form_widget(form.siteenergetique, {
                                        'attr' : {
                                            'class' : 'chosen-select'
                                        }
                                    }) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-6">Observations</label>
                                <div class="col-sm-12">
                                    {{ form_widget(form.observations, {
                                        'attr' : {
                                            'placeholder' : "D'autres remarques sur la baie..."
                                        }
                                    }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button class="btn btn-primary" type="submit">Enregistrer</button>
                                </div>
                            </div>
                            {{ form_end(form) }}
                            <div class="hr-line-dashed"></div>
                            <a type="button" class="btn btn-default pull-left" href="{{ path('equipementconcerne_index') }}">
                                <i class="fa fa-arrow-left"></i> Liste des baies</a>
                            <br>

                        </div>

                    </div>

                </div>
            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}
        {% block javascripts %}
            {{ parent() }}
            {#Input mask#}
            <script type="text/javascript" src="{{ asset('js/plugins/jasny/jasny-bootstrap.min.js') }}"></script>
            {#<!-- Chosen -->#}
            <script type="text/javascript" src="{{ asset('js/plugins/chosen/chosen.jquery.js') }}"></script>



            <script>
                $('.chosen-select').chosen({width: "100%"});
            </script>

        {% endblock javascripts %}


