{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Baie énergétique {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Morris --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css') }}">
        <link rel="stylesheet" href="{{ asset('css/plugins/select2/select2.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/plugins/chosen/bootstrap-chosen.css') }}">

    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

{% block body %}
    {% block fildariane %}
        {{ include('_generals_includes/_fildariane.html.twig') }}
    {% endblock fildariane %}

    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
            {# include du menu_left #}
            {{ include('g_sites_energ/_includes/_menu.html.twig') }}
            {# Fin include du menu_left #}

            <div class="col-lg-9">

                <div class="panel panel-success">
                    <div class="panel-heading">
                        <span class="fa fa-eye"></span>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                            <h1 style="padding-left: 10px;">Baie énergétique <small>{{ baieenergetique.siteenergetique }}</small></h1>
                            </thead>
                            <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ baieenergetique.id }}</td>
                            </tr>
                            <tr>
                                <th>Materiels</th>
                                <td>
                                    {% set nbr = 0 %}
                                    {% set materiels = baieenergetique.getMateriels() %}
                                    {% for materiel in materiels %}
                                        {% set nbr = nbr+1 %}
                                        {{ nbr }}] {{ materiel.designation }}<br/>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th>Equipements alimentés</th>
                                <td>
                                    {% set nbr = 0 %}
                                    {% set equipementconcernes = baieenergetique.getEquipementconcernes() %}
                                    {% for equipementconcerne in equipementconcernes %}
                                        {% set nbr = nbr+1 %}
                                        {{ nbr }}] {{ equipementconcerne.designation }}<br/>
                                    {% endfor %}
                                </td>
                            </tr>


                            <tr>
                                <th>Observations</th>
                                <td>{{ baieenergetique.observations }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <div class="m-t-xs btn-group">
                            <a href="{{ path('baieenergetique_index') }}" class="btn btn-xs btn-white" style="margin-right: 10px;"><i class="fa fa-arrow-left"></i> Retour à la liste </a>
                            <a href="{{ path('baieenergetique_edit', {'id': baieenergetique.id}) }}" class="btn btn-xs btn-warning"  style="margin-right: 10px;"><i class="fa fa-edit"></i> Modifier</a>
                            <span class="pull-left">{{ include('g_sites_energ/sites_energetiques/_baieenergetique_delete_form.html.twig') }}</span>
                        </div>

                        <div class="m-t-xs btn-group pull-right">
                            <a href="{{ path('materiel_new', {id_baie : baieenergetique.id}) }}" class="btn btn-xs btn-primary" style="margin-right: 10px;"><i class="fa fa-plus"></i> Ajouter un matériel à cette baie </a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

{% endblock %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}

    <script type="text/javascript" src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/inspinia.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/pace/pace.min.js') }}"></script>


    <script type="text/javascript" src="{{ asset('js/plugins/select2/select2.full.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/touchspin/jquery.bootstrap-touchspin.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/chosen/chosen.jquery.js') }}"></script>


{% endblock javascripts %}
