{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Equipement alimenté {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}

        <link rel="stylesheet" href="{{ asset('css/plugins/dataTables/datatables.min.css') }}" />
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}

            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    {# Messages Falsh #}
                    {% for message in app.flashes('success') %}
                        <div class="col-lg-12" style="margin-top: 15px;">
                            <div class="alert alert-success alert-dismissable ">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                {{ message }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    {# include du menu_left #}
                    {{ include('g_sites_energ/_includes/_menu.html.twig') }}
                    {# Fin include du menu_left #}

                    <div class="col-sm-9">
                        <div class="ibox-title">
                            <h4>Liste des baies énergétiques</h4>
                        </div>
                        <div class="ibox-content">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover dataTables-example" >

                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Baie | Site</th>
                                        <th>Matriels</th>
                                        <th>Equipements alimentés</th>
                                        <th>Observations</th>
                                        <th>actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for baieenergetique in baieenergetiques %}
                                        <tr>
                                            <td>{{ baieenergetique.id }}</td>
                                            <td>{{ baieenergetique.siteenergetique }}</td>
                                            <td>
                                                {% set nbr = 0 %}
                                                {% set materiels = baieenergetique.getMateriels() %}
                                                {% for materiel in materiels %}
                                                    {% set nbr = nbr+1 %}
                                                {{ nbr }}] {{ materiel.designation }}<br/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% set nbr = 0 %}
                                                {% set equipementconcernes = baieenergetique.getEquipementconcernes() %}
                                                {% for equipementconcerne in equipementconcernes %}
                                                    {% set nbr = nbr+1 %}
                                                    {{ nbr }}] {{ equipementconcerne.designation }}<br/>
                                                {% endfor %}
                                            </td>
                                            <td>{{ baieenergetique.observations }}</td>
                                            <td>
                                                <a class="btn btn-primary btn-xs pull-left" href="{{ path('baieenergetique_show', {'id': baieenergetique.id}) }}" style="margin-right: 10px;">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                                <a class="btn btn-warning btn-xs pull-left" href="{{ path('baieenergetique_edit', {'id': baieenergetique.id}) }}" style="margin-right: 10px;">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <span class="pull-left">{{ include('g_sites_energ/sites_energetiques/_baieenergetique_delete_form.html.twig') }}</span>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>Id</th>
                                        <th>Site</th>
                                        <th>Matriels</th>
                                        <th>Equipements alimentés</th>
                                        <th>Observations</th>
                                        <th>actions</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/plugins/jeditable/jquery.jeditable.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/dataTables/datatables.min.js') }}"></script>

    <script>
        $(document).ready(function(){
            $('.dataTables-example').DataTable({
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    {extend: 'copy', title: 'Services-CT'},
                    {extend: 'csv', title: 'Services-CT'},
                    {extend: 'excel', title: 'Services-CT'},
                    {extend: 'pdf', title: 'Services-CT'},

                    {extend: 'print',
                        customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]
            });

            /* Init DataTables */
            var oTable = $('#editable').DataTable();

            /* Apply the jEditable handlers to the table */
            oTable.$('td').editable( '../example_ajax.php', {
                "callback": function( sValue, y ) {
                    var aPos = oTable.fnGetPosition( this );
                    oTable.fnUpdate( sValue, aPos[0], aPos[1] );
                },
                "submitdata": function ( value, settings ) {
                    return {
                        "row_id": this.parentNode.getAttribute('id'),
                        "column": oTable.fnGetPosition( this )[2]
                    };
                },

                "width": "90%",
                "height": "100%"
            } );
        });
    </script>
{% endblock javascripts %}