{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Acceuil Affectation {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Data tables --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/dataTables/datatables.min.css') }}" />
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}

            <div class="row  border-bottom white-bg dashboard-header" style="margin-top: 10px;">
                <div class="row">
                    <h2 style="padding-left: 30px;">Gestion des sites énergétiques</h2>
                </div>
                <div class="col-md-4">
                    <h4>Sites énergétiques</h4>
                    <ul class="list-group clear-list m-t">
                        Nombre : {{ nbr_sites_energetiques }}
                    </ul>
                </div>
                <div class="col-md-4">
                    <div>
                        <h4>Services liés</h4>
                    </div>
                    <ul class="list-group clear-list m-t">
                        Volo-volo :
                        {% set nbr_svc_ngz = 0 %}
                        {% set services = services_lies_volovolo %}
                        {% for service in services if service.departementdirection_id == 24 %}
                            {% set nbr_svc_ngz = nbr_svc_ngz + 1 %}
                        {% endfor %}
                        {{ nbr_svc_ngz }}
                        <br/>
                        Dir Reg. Ngazidja : {{ service_regionale_ngz.service.designation }}
                        <br/>
                        Dir Reg. Mwali &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{ service_regionale_ndz.service.designation  }}
                        <br/>
                        Dir Reg. Ndzuani&nbsp;&nbsp;: {{ service_regionale_mwl.service.designation  }}
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>
                        Contacts importants
                    </h4>
                    <div class="row text-center">

                        <div class="col-lg-4">
                            <span class="fa fa-phone"></span> Tel Volo-volo
                            <h5>
                                {% if departementdirection.tel | length < 7 %}<b class="text-danger">Tel non-renseigné!</b>{% else %}{{ departementdirection.tel }}{% endif %}
                            </h5>
                        </div>
                        <div class="col-lg-4">
                            <span class="fa fa-phone"></span> Tel Regional
                            <h5>
                                <span class="pull-left">Ngazidja : </span> <span class="pull-right">{{ service_regionale_ngz.tel }}</span>
                                <span class="pull-left">Mwali : </span> <span class="pull-right">{{ service_regionale_mwl.tel }} </span>
                                    <span class="pull-left">Ndzuani : </span> <span class="pull-right">{{ service_regionale_ndz.tel }}</span>
                            </h5>
                        </div>
                    </div>
                </div>

            </div>

            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    {# Messages Falsh #}
                    {% for message in app.flashes('success') %}
                        <div class="col-lg-12" style="margin-top: 15px;">
                            <div class="alert alert-success alert-dismissable ">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                {{ message }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    {# include du menu_left #}
                    {{ include('g_sites_energ/_includes/_menu.html.twig') }}
                    {# Fin include du menu_left #}

                    <div class="col-lg-9">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Liste des sites énergétiques</h5>&nbsp;&nbsp;
                            </div>
                            <div class="ibox-content">

                                <table class="table table-striped table-bordered table-hover dataTables-example" >

                                    <thead>
                                    <th>Désignation</th>
                                    <th>Nom prénom du contact</th>
                                    <th>Tel du contact</th>
                                    <th>Email du contact</th>
                                    <th>Observations</th>
                                    <th>Action</th>
                                    </thead>
                                    <tbody>

                                    {% for sites_energetique in sites_energetiques %}
                                        <tr>
                                            <td>{{ sites_energetique.designation }}</td>
                                            <td>{{ sites_energetique.contact1.nomPrenom }}</td>
                                            <td>{{ sites_energetique.contact1.tel }}</td>
                                            <td>{{ sites_energetique.contact1.email }}</td>
                                            <td>{{ sites_energetique.observations }}</td>
                                            <td>
                                                <a class="btn btn-primary btn-xs pull-left" href="{{ path('sites_energetiques_show', {'id': sites_energetique.id}) }}" style="margin-right: 10px;">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                                <a class="btn btn-warning btn-xs pull-left" href="{{ path('sites_energetiques_edit', {'id': sites_energetique.id}) }}" style="margin-right: 10px;">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <span class="pull-left">{{ include('g_sites_energ/sites_energetiques/_delete_form.html.twig') }}</span>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>Id</th>
                                        <th>Site</th>
                                        <th>Matriels</th>
                                        <th>Equipements alimentés</th>
                                        <th>Observations</th>
                                        <th>actions</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/plugins/jeditable/jquery.jeditable.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/dataTables/datatables.min.js') }}"></script>

    <script>
        $(document).ready(function(){
            $('.dataTables-example').DataTable({
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    {extend: 'copy', title: 'Services-CT'},
                    {extend: 'csv', title: 'Services-CT'},
                    {extend: 'excel', title: 'Services-CT'},
                    {extend: 'pdf', title: 'Services-CT'},

                    {extend: 'print',
                        customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]
            });

            /* Init DataTables */
            var oTable = $('#editable').DataTable();

            /* Apply the jEditable handlers to the table */
            oTable.$('td').editable( '../example_ajax.php', {
                "callback": function( sValue, y ) {
                    var aPos = oTable.fnGetPosition( this );
                    oTable.fnUpdate( sValue, aPos[0], aPos[1] );
                },
                "submitdata": function ( value, settings ) {
                    return {
                        "row_id": this.parentNode.getAttribute('id'),
                        "column": oTable.fnGetPosition( this )[2]
                    };
                },

                "width": "90%",
                "height": "100%"
            } );
        });
    </script>
{% endblock javascripts %}
