{#
{% extends 'base.html.twig' %}

{% block title %}Intervention index{% endblock %}

{% block body %}
    <h1>Intervention index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateInterventionAt</th>
                <th>Observations</th>
                <th>Saisipar</th>
                <th>Problemeconstate</th>
                <th>Solutionproposee</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for intervention in interventions %}
            <tr>
                <td>{{ intervention.id }}</td>
                <td>{{ intervention.dateInterventionAt ? intervention.dateInterventionAt|date('Y-m-d') : '' }}</td>
                <td>{{ intervention.observations }}</td>
                <td>{{ intervention.saisipar }}</td>
                <td>{{ intervention.problemeconstate }}</td>
                <td>{{ intervention.solutionproposee }}</td>
                <td>
                    <a href="{{ path('intervention_show', {'id': intervention.id}) }}">show</a>
                    <a href="{{ path('intervention_edit', {'id': intervention.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('intervention_new') }}">Create new</a>
{% endblock %}

#}

{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Materiel {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Morris --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css') }}">
        <link rel="stylesheet" href="{{ asset('css/plugins/footable/footable.core.css') }}">
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}

            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    {# Messages Falsh #}
                    {% for message in app.flashes('success') %}
                        <div class="col-lg-12" style="margin-top: 15px;">
                            <div class="alert alert-success alert-dismissable ">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                {{ message }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    {# include du menu_left #}
                    {{ include('g_sites_energ/_includes/_menu.html.twig') }}
                    {# Fin include du menu_left #}

                    <div class="col-lg-9">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Liste des interventions</h5>&nbsp;&nbsp;
                                <small>Affichage sur 20</small>

                            </div>
                            <div class="ibox-content">
                                <input type="text" class="form-control input-sm m-b-xs" id="filter"
                                       placeholder="Rechercher">

                                <table class="footable table table-stripped" data-page-size="20" data-filter=#filter>
                                    <thead>
                                    <tr>
                                        <th>DateInterventionAt</th>
                                        <th>Problemeconstate</th>
                                        <th>Solutionproposee</th>
                                        <th>actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for intervention in interventions %}
                                        <tr>
                                            <td>{{ intervention.dateInterventionAt ? intervention.dateInterventionAt|date('d-m-Y') : '' }}</td>
                                            <td>{{ intervention.problemeconstate }}</td>
                                            <td>{{ intervention.solutionproposee }}</td>
                                            <td>
                                                <a class="btn btn-primary btn-xs pull-left" href="{{ path('intervention_show', {'id': intervention.id}) }}" style="margin-right: 10px;">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                                <a class="btn btn-warning btn-xs pull-left" href="{{ path('intervention_edit', {'id': intervention.id}) }}" style="margin-right: 10px;">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                <span class="pull-left">{{ include('g_sites_energ/sites_energetiques/_intervention_delete_form.html.twig') }}</span>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="4">Aucun enregistrement trouvé</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="5">
                                            <ul class="pagination pull-right"></ul>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

    {# <!-- Custom and plugin javascript --> #}
    <script type="text/javascript" src="{{ asset('js/inspinia.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/footable/footable.all.min.js') }}"></script>

    <script>
        $(document).ready(function() {

            $('.footable').footable();
            $('.footable2').footable();

        });

    </script>
{% endblock javascripts %}
