{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Intervention{% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('font-awesome/css/font-awesome.css') }}">

        <link rel="stylesheet" href="{{ asset('css/plugins/chosen/bootstrap-chosen.css') }}">

        <link rel="stylesheet" href="{{ asset('css/plugins/switchery/switchery.css') }}">

        <link rel="stylesheet" href="{{ asset('css/plugins/chosen/bootstrap-chosen.css') }}">
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}
            {# Récupération de l'ID
            {% set user_id = app.request.get('id') %}
             #}



            <div class="row wrapper wrapper-content animated fadeInUp">
                {# include du menu_left #}
                {{ include('g_sites_energ/_includes/_menu.html.twig') }}
                {# Fin include du menu_left #}

                <div class="col-lg-9">

                    <div class="panel panel-success">
                        <div class="panel-heading">
                            Enregistrer une intervention
                        </div>
                        <div class="panel-body">
                            {{ form_start(form, {
                                'attr': {
                                    'class': 'form-horizontal',
                                    'role': 'form',
                                }
                            }) }}

                            <div class="form-group">

                                <div class="col-sm-12">
                                    {{ form_widget(form.saisipar, {
                                        'attr' : {
                                        'readonly' : 'readonly'
                                    }
                                    }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-6">Date d'intervention</label>
                                <div class="col-sm-12">
                                    {{ form_widget(form.dateInterventionAt) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-6">Intervenant</label>
                                <div class="col-sm-12">
                                    {{ form_widget(form.intervenant, {
                                        'attr' : {
                                        'class' : 'chosen-select'
                                    }
                                    }) }}
                                </div>
                            </div>
                            {#
                            <div class="form-group {% if form_errors(form.saisipar) %}has-error{% endif %}" >
                                <label class="col-sm-6">Saisi par :</label>
                                <div class="col-sm-12">
                                {{ form_widget(form.saisipar, {
                                    'attr':{
                                        'placeholder' : 'Nom | Prénom - de la personne à remplacer...',
                                        'class' : 'typeahead_1'
                                    }
                                }) }}
                                </div>
                            </div>
                            #}
                            <div class="form-group">
                                <label class="col-sm-6">Matériel</label>
                                <div class="col-sm-12">
                                    {{ form_widget(form.materiels, {
                                        'attr' : {
                                            'class' : 'chosen-select'
                                    }
                                    }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-6">Problemes constatés</label>
                                <div class="col-sm-12">
                                    {{ form_widget(form.problemeconstate) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-6">Solutions apportées</label>
                                <div class="col-sm-12">
                                    {{ form_widget(form.solutionproposee) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-6">Observations</label>
                                <div class="col-sm-12">
                                    {{ form_widget(form.observations, {
                                        'attr' : {
                                            'placeholder' : "D'autres remarques sur l'intervention..."
                                        }
                                    }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button class="btn btn-primary" type="submit">Enregistrer</button>
                                </div>
                            </div>
                            {{ form_end(form) }}
                            <div class="hr-line-dashed"></div>
                            <a type="button" class="btn btn-default pull-left" href="{{ path('baieenergetique_index') }}">
                                <i class="fa fa-arrow-left"></i> Liste des baies</a>
                            <br>

                        </div>

                    </div>

                </div>
            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}
        {% block javascripts %}
            {{ parent() }}
            {#Input mask#}
            <script type="text/javascript" src="{{ asset('js/plugins/jasny/jasny-bootstrap.min.js') }}"></script>
            {#<!-- Chosen -->#}
            <script type="text/javascript" src="{{ asset('js/plugins/chosen/chosen.jquery.js') }}"></script>

            {#<!-- Typehead -->#}
            <script type="text/javascript" src="{{ asset('js/plugins/typehead/bootstrap3-typeahead.min.js') }}"></script>

            {#
            <script>
                $(document).ready(function(){

                    $('.typeahead_1').typeahead({
                        source: [{% for agent in agents if agent.departementdirection1_id == 24 or agent.departementdirection2_id == 24 %}" {{ agent.matricule }} - {{ agent.nom }} {{ agent.prenom }}",{% endfor %}]
                    });


                });
            </script>
            #}

            <script>
                $('.chosen-select').chosen({width: "100%"});
            </script>

        {% endblock javascripts %}


