{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Interventions {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Morris --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css') }}">
        <link rel="stylesheet" href="{{ asset('css/plugins/select2/select2.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/plugins/chosen/bootstrap-chosen.css') }}">

    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

{% block body %}
    {% block fildariane %}
        {{ include('_generals_includes/_fildariane.html.twig') }}
    {% endblock fildariane %}

    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
            {# include du menu_left #}
            {{ include('g_sites_energ/_includes/_menu.html.twig') }}
            {# Fin include du menu_left #}

            <div class="col-lg-9">

                <div class="panel panel-success">
                    <div class="panel-heading">
                        <span class="fa fa-eye"></span>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                            <h2 style="padding-left: 10px;">Intervention du <small>{{ intervention.dateInterventionAt | date('d-m-Y') }}</small></h2>
                            </thead>
                            <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ intervention.id }}</td>
                            </tr>
                            <tr>
                                <th>Date Intervention</th>
                                <td>{{ intervention.dateInterventionAt ? intervention.dateInterventionAt|date('d-m-Y') : '' }}</td>
                            </tr>

                            <tr>
                                <th>Intervenants</th>
                                {% set intervenants = intervention.getIntervenant() %}
                                <td>
                                    {% for intervenant in intervenants %}
                                        [ <strong>{{ intervenant.matricule }}</strong> ] {{ intervenant.nomPrenom }}<br/>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th>Matériels concernés</th>
                                {% set materiels = intervention.getMateriels() %}
                                <td>
                                    {% for materiel in materiels %}
                                    {{ materiel.designation }}<br/>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th>Problemes constatés</th>
                                <td>{{ intervention.problemeconstate }}</td>
                            </tr>
                            <tr>
                                <th>Solutions proposées</th>
                                <td>{{ intervention.solutionproposee }}</td>
                            </tr>
                            <tr>
                                <th>Observations</th>
                                <td>{{ intervention.observations }}</td>
                            </tr>
                            <tr>
                                <th>Saisi par</th>
                                <td>{{ intervention.saisipar }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <div class="m-t-xs btn-group">
                            <a href="{{ path('intervention_index') }}" class="btn btn-xs btn-white" style="margin-right: 10px;"><i class="fa fa-arrow-left"></i> Retour à la liste </a>
                            <a href="{{ path('intervention_edit', {'id': intervention.id}) }}" class="btn btn-xs btn-warning"  style="margin-right: 10px;"><i class="fa fa-edit"></i> Modifier</a>
                            <span class="pull-left">{{ include('g_sites_energ/sites_energetiques/_intervention_delete_form.html.twig') }}</span>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

{% endblock %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}

    <script type="text/javascript" src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/inspinia.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/pace/pace.min.js') }}"></script>


    <script type="text/javascript" src="{{ asset('js/plugins/select2/select2.full.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/touchspin/jquery.bootstrap-touchspin.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/chosen/chosen.jquery.js') }}"></script>


{% endblock javascripts %}
