{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Materiels{% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('font-awesome/css/font-awesome.css') }}">

        <link rel="stylesheet" href="{{ asset('css/plugins/chosen/bootstrap-chosen.css') }}">

        <link rel="stylesheet" href="{{ asset('css/plugins/switchery/switchery.css') }}">

        <link rel="stylesheet" href="{{ asset('css/plugins/chosen/bootstrap-chosen.css') }}">
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}
            {# Récupération de l'ID
            {% set user_id = app.request.get('id') %}
             #}



            <div class="row wrapper wrapper-content animated fadeInUp">
                {# include du menu_left #}
                {{ include('g_sites_energ/_includes/_menu.html.twig') }}
                {# Fin include du menu_left #}

                <div class="col-lg-9">

                    <div class="panel panel-success">
                        <div class="panel-heading">
                            Ajouter un materiel
                        </div>
                        <div class="panel-body">
                            {{ form_start(form, {
                                'attr': {
                                    'class': 'form-horizontal',
                                    'role': 'form',
                                }
                            }) }}

                            <div class="form-group">
                                <label class="col-sm-6">Type de matériel{% if form_errors(form.typemateriel) %}has-error{% endif %}</label>
                                <div class="col-sm-12">
                                    {{ form_widget(form.typemateriel, {
                                        'attr' : {
                                            'class' : 'chosen-select'
                                        }
                                    }) }}
                                </div>
                                <div class="form-error">
                                    <small class="text-danger">{{ form_errors(form.typemateriel) }}</small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-6">Matériel | Désignation</label>
                                <div class="col-sm-12">
                                    {{ form_widget(form.designation, {
                                        'attr' : {
                                            'placeholder' : 'Le nom du matriel'
                                        }
                                    }) }}
                                    <div class="form-error">
                                        <small class="text-danger">{{ form_errors(form.designation) }}</small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-6">Caractéristiques</label>
                                <div class="col-sm-12">
                                    {{ form_widget(form.caracteristiques, {
                                        'attr' : {
                                            'placeholder' : 'Caractéristiques du matériel'
                                        }

                                    }) }}
                                    <div class="form-error">
                                        <small class="text-danger">{{ form_errors(form.caracteristiques) }}</small>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group {% if form_errors(form.nombre) %}has-error{% endif %}">
                                <label class="col-sm-6">Nombre</label>
                                <div class="col-sm-12">
                                    {{ form_widget(form.nombre) }}
                                    <div class="form-error">
                                        <small class="text-danger">{{ form_errors(form.nombre) }}</small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-6">Matériel pour quelle baie</label>
                                {% if baie %}
                                    <div class="col-sm-12">
                                        {{ baie }}
                                    </div>
                                    <div class="col-sm-12 hidden">
                                        {{ form_widget(form.baieenergetique, {
                                            'attr' : {
                                                'class' : 'chosen-select'
                                            }
                                        }) }}
                                    </div>
                                {% else %}
                                    <div class="col-sm-12">
                                        {{ form_widget(form.baieenergetique, {
                                            'attr' : {
                                                'class' : 'chosen-select'
                                            }
                                        }) }}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                <label class="col-sm-6">Observations</label>
                                <div class="col-sm-12">
                                    {{ form_widget(form.observations, {
                                        'attr' : {
                                            'placeholder' : "D'autres remarques sur le matériel..."
                                        }
                                    }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button class="btn btn-primary" type="submit">Enregistrer</button>
                                </div>
                            </div>
                            {{ form_end(form) }}
                            <div class="hr-line-dashed"></div>
                            <a type="button" class="btn btn-default pull-left" href="{{ path('materiel_index') }}">
                                <i class="fa fa-arrow-left"></i> Liste des materiels</a>
                            <br>

                        </div>

                    </div>

                </div>
            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}
        {% block javascripts %}
            {{ parent() }}
            {#Input mask#}
            <script type="text/javascript" src="{{ asset('js/plugins/jasny/jasny-bootstrap.min.js') }}"></script>
            {#<!-- Chosen -->#}
            <script type="text/javascript" src="{{ asset('js/plugins/chosen/chosen.jquery.js') }}"></script>



            <script>
                $('.chosen-select').chosen({width: "100%"});
            </script>

        {% endblock javascripts %}


