
{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Site énergétique {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Morris --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css') }}">
        <link rel="stylesheet" href="{{ asset('css/plugins/select2/select2.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/plugins/chosen/bootstrap-chosen.css') }}">

    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

{% block body %}
    {% block fildariane %}
        {{ include('_generals_includes/_fildariane.html.twig') }}
    {% endblock fildariane %}

    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
            {# include du menu_left #}
            {{ include('g_sites_energ/_includes/_menu.html.twig') }}
            {# Fin include du menu_left #}

            <div class="col-lg-9">

                <div class="panel panel-success">
                    <div class="panel-heading">
                        <span class="fa fa-eye"></span>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                            <h1 style="padding-left: 10px;">Site  <small>{{ sites_energetique.designation }}</small></h1>
                            </thead>
                            <tbody>
                            <tr>
                                <th>Désignation</th>
                                <td>{{ sites_energetique.designation }}</td>
                            </tr>
                            {% set baies = sites_energetique.getBaieenergetiques() %}
                            <tr>
                                <th>Matériels</th>

                                <td>
                                    {% set nbr_baie = 0 %}
                                    {% for baie in baies %}
                                        {% set nbr_baie = nbr_baie+1 %}
                                        <a href="{{ path('baieenergetique_show', {id: baie.id}) }}"><span class="fa fa-eye"></span> Baie {{ nbr_baie }} </a> - <br>
                                        {% set materiels = baie.getMateriels() %}
                                        <ul class="list-group clear-list">
                                        {% for materiel in materiels %}
                                            <li class="list-group-item">

                                                {# on compte le nombre d'intervention #}
                                                {% set nbr_intervention = 0 %}
                                                {% for intervention in interventions %}
                                                    {% set mat = intervention.getMateriels() %}

                                                    {% for mat in mat if mat.id == materiel.id %}
                                                        {% set nbr_intervention = nbr_intervention + 1 %}
                                                    {% endfor %}

                                                {% endfor %}

                                                <span class="badge badge-warning pull-left" title="Nbr Interventions">{{ nbr_intervention }}</span>
                                                {# FIN on compte le nombre d'intervention #}

                                            <span><a href="{{ path('intervention_new', {id_materiel : materiel.id}) }}">[ + Intervention ]</a></span>
                                            [ <span class="{% if materiel.nombre==0 %}text-danger{% endif %}">Nbr : {{ materiel.nombre }}</span> ] {{ materiel.typemateriel }} {{ materiel.designation }}  <br/>
                                            </li>
                                        {% endfor %}
                                        </ul>
                                        <br/>
                                    {% endfor %}

                                </td>
                            </tr>
                            <tr>
                                <th>Equipements alimentés</th>
                                <td>
                                    {% for baie in baies %}
                                        {% set equipementconcernes = baie.getEquipementconcernes() %}
                                        {% for equipementconcerne in equipementconcernes %}
                                            {{ equipementconcerne.designation }} <br/>
                                        {% endfor %}
                                    {% endfor %}

                                </td>
                            </tr>


                            <tr>
                                <th>Observations</th>
                                <td>{{ sites_energetique.observations }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <div class="m-t-xs btn-group">
                            <a href="{{ path('sites_energetiques_index') }}" class="btn btn-xs btn-white" style="margin-right: 10px;"><i class="fa fa-arrow-left"></i> Retour à la liste </a>
                            <a href="{{ path('sites_energetiques_edit', {'id': sites_energetique.id}) }}" class="btn btn-xs btn-warning"  style="margin-right: 10px;"><i class="fa fa-edit"></i> Modifier</a>
                            <span class="pull-left">{{ include('g_sites_energ/sites_energetiques/_delete_form.html.twig') }}</span>
                        </div>

                        <div class="m-t-xs btn-group pull-right">
                            <a href="{{ path('baieenergetique_new', {id_site : sites_energetique.id}) }}" class="btn btn-xs btn-primary" style="margin-right: 10px;"><i class="fa fa-plus"></i> Ajouter une baie à ce site </a>
                            {#
                            <a href="{{ path('sites_energetiques_edit', {'id': sites_energetique.id}) }}" class="btn btn-xs btn-warning"  style="margin-right: 10px;"><i class="fa fa-edit"></i> Modifier</a>
                            <span class="pull-left">{{ include('g_sites_energ/sites_energetiques/_delete_form.html.twig') }}</span>
                            #}
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

{% endblock %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}

    <script type="text/javascript" src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/inspinia.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/pace/pace.min.js') }}"></script>


    <script type="text/javascript" src="{{ asset('js/plugins/select2/select2.full.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/touchspin/jquery.bootstrap-touchspin.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/chosen/chosen.jquery.js') }}"></script>


{% endblock javascripts %}
