<form method="post" action="{{ path('admin_ec_formation_delete', {'id': ec_formation.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet enregistrement?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ec_formation.id) }}">
    <button class="btn btn-xs btn-danger"><i class="fa fa-trash"></i> {% if app.request.attributes.get('_route') == 'admin_ec_formation_show' %}Supprimer {% endif %}</button>
</form>
