{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Editer une filière de formation {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Chosen select --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/chosen/bootstrap-chosen.css') }}">

    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}

            <div class="wrapper wrapper-content animated fadeInRight">

                <div class="row">

                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content">
                                <h3>Editer une filière de formatiion </h3>

                                {{ form_start(form) }}


                                <div class="form-group">
                                    <label>Désignation (Filière)</label>
                                    {{ form_widget(form.designation, {
                                        'attr': {
                                            'class': 'form-control'
                                        }
                                    }) }}
                                </div>
                                <div class="form-group">
                                    <label>Sous-metier (Domaine)</label>
                                    {{ form_widget(form.ecSousmetier, {
                                        'attr': {
                                            'class': 'form-control chosen-select'
                                        }
                                    }) }}
                                </div>

                                {{ form_widget(form) }}
                                <input class="btn btn-primary" type="submit" value="Enregistrer" />

                                {{ form_end(form) }}

                                <div class="hr-line-dashed"></div>
                                <a href="{{ path('admin_ecoleuniversite_index') }}"><i class="fa fa-angle-left"></i> Retour</a>
                            </div>
                        </div>

                    </div>


                </div>

            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/plugins/chosen/chosen.jquery.js') }}"></script>

    <script>
        $('.chosen-select').chosen({width: "100%"});
    </script>
{% endblock javascripts %}


