{% extends 'base.html.twig' %}

{% block title %}EcFormation index{% endblock %}

{% block body %}
    <h1>EcFormation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Designation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ec_formation in ec_formations %}
            <tr>
                <td>{{ ec_formation.id }}</td>
                <td>{{ ec_formation.designation }}</td>
                <td>
                    <a href="{{ path('admin_ec_formation_show', {'id': ec_formation.id}) }}">show</a>
                    <a href="{{ path('admin_ec_formation_edit', {'id': ec_formation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_ec_formation_new') }}">Create new</a>
{% endblock %}
