{% extends 'base.html.twig' %}

{% block title %}EcFormation{% endblock %}

{% block body %}
    <h1>EcFormation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ec_formation.id }}</td>
            </tr>
            <tr>
                <th>Designation</th>
                <td>{{ ec_formation.designation }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_ec_formation_index') }}">back to list</a>

    <a href="{{ path('admin_ec_formation_edit', {'id': ec_formation.id}) }}">edit</a>

    {{ include('admin/ec_formation/_delete_form.html.twig') }}
{% endblock %}
