<form method="post" action="{{ path('admin_niveauqualification_delete', {'id': niveauqualification.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ niveauqualification.id) }}">
    <button class="btn btn-xs btn-danger"><i class="fa fa-trash"></i> {% if app.request.attributes.get('_route') == 'admin_niveauqualification_show' %}Supprimer {% endif %}</button>
</form>
