{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Editer niveau qualification {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Morris --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css') }}">

    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}

            <div class="wrapper wrapper-content animated fadeInRight">

                <div class="row">

                    {# include du menu_left
                    {{ include('evenements/_includes/_left_menu.html.twig') }}
                     Fin include du menu_left #}

                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content">
                                <h3>Editer un niveau de qualification </h3>

                                {{ form_start(form) }}


                                <div class="form-group">
                                    <label>Désignation</label>
                                    {{ form_widget(form.designation, {
                                        'attr': {
                                            'class': 'form-control'
                                        }
                                    }) }}
                                </div>
                                <div class="form-group hidden">
                                    {{ form_widget(form.ecoleuniversites, {
                                        'attr': {
                                            'class': 'form-control'
                                        }
                                    }) }}
                                </div>

                                {{ form_widget(form) }}
                                <input class="btn btn-primary" type="submit" value="Enregistrer" />

                                {{ form_end(form) }}

                                <div class="hr-line-dashed"></div>
                                <a href="{{ path('admin_ecoleuniversite_index') }}"><i class="fa fa-angle-left"></i> Retour</a>
                            </div>
                        </div>

                    </div>


                </div>

            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    {{ parent() }}
{% endblock javascripts %}


