{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Enregitrer niveau qualification {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Morris --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css') }}">

    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}

            <div class="wrapper wrapper-content animated fadeInRight">

                <div class="row">

                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content">
                                <h3>Enregistrer un niveau de qualification </h3>

                                {{ form_start(form) }}



                                <span class="form-group {% if form_errors(form.designation) %}has-error{% endif %}">
                                    <label>Niveau de qualification {% if form_errors(form.designation) %}<span class="text-danger"> déjà enregistré !</span>{% endif %}</label>
                                    {{ form_widget(form.designation, {
                                        'attr': {
                                            'class': 'form-control'
                                        }
                                    }) }}

                                <pre class="m-t-sm">
<span class="fa fa-info"></span>
Avant d'enregistrer, vous devez tenir compte de ceci :
Depuis la réforme LMD, la Maîtrise est remplacée par le Master 1,
Le DESS est remplacé par le Master 2 Professionnel,
Le DEA est remplacé par le Master 2 Recherche.
Jusqu'à présent, il n'y a pas de changement pour le Doctorat, qui reste tel qu'il était. </pre>
                                <div class="form-group hidden">
                                    {{ form_widget(form.ecoleuniversites, {
                                        'attr': {
                                            'class': 'form-control'
                                        }
                                    }) }}
                                </div>

                                {{ form_widget(form) }}
                                <input class="btn btn-primary" type="submit" value="Enregistrer" />

                                {{ form_end(form) }}

                                <div class="hr-line-dashed"></div>
                                <a href="{{ path('admin_ecoleuniversite_index') }}"><i class="fa fa-angle-left"></i> Retour</a>
                            </div>
                        </div>

                    </div>


                </div>

            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}

    <script type="text/javascript" src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/inspinia.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/pace/pace.min.js') }}"></script>





{% endblock javascripts %}


