<form method="post" action="{{ path('ec_universite_delete', {'id': ec_universite.id}) }}" onsubmit="return confirm('Êtes-vous sûr d vouloir supprimer cet enregistrement?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ec_universite.id) }}">
    <button class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> {% if app.request.attributes.get('_route') == 'ec_universite_show' %}Supprimer {% endif %}</button>
</form>
