{% extends 'base.html.twig' %}

{% block title %}Edit EcUniversite{% endblock %}

{% block body %}
    <h1>Edit EcUniversite</h1>

    {{ include('admin/ec_universite/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_ecoleuniversite_index') }}">Retour à la liste</a>

    {{ include('admin/ec_universite/_delete_form.html.twig') }}
{% endblock %}
