{#
{% extends 'base.html.twig' %}

{% block title %}EcUniversite{% endblock %}

{% block body %}
    <h1>EcUniversite</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ec_universite.id }}</td>
            </tr>
            <tr>
                <th>Designation</th>
                <td>{{ ec_universite.designation }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ ec_universite.pays }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ ec_universite.ville }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ ec_universite.tel }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ec_universite_index') }}">back to list</a>

    <a href="{{ path('ec_universite_edit', {'id': ec_universite.id}) }}">edit</a>

    {{ include('admin/ec_universite/_delete_form.html.twig') }}
{% endblock %}

#}

{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Site énergétique {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        {# <!-- Morris --> #}
        <link rel="stylesheet" href="{{ asset('css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css') }}">
        <link rel="stylesheet" href="{{ asset('css/plugins/select2/select2.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/plugins/chosen/bootstrap-chosen.css') }}">

    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

{% block body %}
    {% block fildariane %}
        {{ include('_generals_includes/_fildariane.html.twig') }}
    {% endblock fildariane %}

    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
            <div class="col-lg-12">

                <div class="panel panel-success">
                    <div class="panel-heading">
                        <span class="fa fa-eye"></span>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                            <h1 style="padding-left: 10px;">Université</h1>
                            </thead>
                            <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ ec_universite.id }}</td>
                            </tr>
                            <tr>
                                <th>Designation</th>
                                <td>{{ ec_universite.designation }}</td>
                            </tr>
                            <tr>
                                <th>Pays</th>
                                <td>{{ ec_universite.pays }}</td>
                            </tr>
                            <tr>
                                <th>Ville</th>
                                <td>{{ ec_universite.ville }}</td>
                            </tr>
                            <tr>
                                <th>Tel</th>
                                <td>{{ ec_universite.tel }}</td>
                            </tr>
                            <tr>
                                <th>Fac ou filiales associées</th>
                                <td>
                                    {% set filiales = ec_universite.getEcoleuniversites() %}
                                    {% set nbr = 0 %}
                                    {% for filiale in filiales %}
                                        {% set nbr = nbr+1 %}
                                        <span class="badge badge-success">{{ nbr }}</span> {{ filiale.designation }} <br/>
                                    {% endfor %}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <div class="m-t-xs btn-group">
                            <a href="{{ path('admin_ecoleuniversite_index') }}" class="btn btn-xs btn-white" style="margin-right: 10px;"><i class="fa fa-arrow-left"></i> Retour à la liste </a>
                            <a href="{{ path('ec_universite_edit', {'id': ec_universite.id}) }}" class="btn btn-xs btn-warning"  style="margin-right: 10px;"><i class="fa fa-edit"></i> Modifier</a>
                            <span class="pull-left">{{ include('admin/ec_universite/_delete_form.html.twig') }}</span>
                        </div>

                        <div class="m-t-xs btn-group pull-right">
                            <a href="{{ path('admin_ecoleuniversite_new', {id_universite : ec_universite.id}) }}" class="btn btn-xs btn-primary" style="margin-right: 10px;"><i class="fa fa-plus"></i> Faculté ou Filiale de l'université </a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

{% endblock %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}

    <script type="text/javascript" src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/inspinia.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plugins/pace/pace.min.js') }}"></script>


    <script type="text/javascript" src="{{ asset('js/plugins/select2/select2.full.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/touchspin/jquery.bootstrap-touchspin.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('js/plugins/chosen/chosen.jquery.js') }}"></script>


{% endblock javascripts %}
