<form method="post" action="{{ path('service_direction_archive', {'id': service_direction.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir archiver ce service?');">
    <input type="hidden" name="_method" value="ARCHIVE">
    <input type="hidden" name="_token" value="{{ csrf_token('archive' ~ service_direction.id) }}">
    <button class="btn btn-xs btn-warning">Archiver</button>
</form>
