<form method="post" action="{{ path('service_direction_delete', {'id': service_direction.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément??');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ service_direction.id) }}">
    <button class="btn btn-xs btn-danger">Supprimer</button>
</form>
