{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Liste des services direction {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        <!-- FooTable -->
        <link rel="stylesheet" href="{{ asset('css/plugins/footable/footable.core.css') }}" />
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}
            {# Récupération de l'ID
            {% set user_id = app.request.get('id') %}
             #}

            <div class="row">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="row">
                        {# Messages Falsh #}
                        {% for message in app.flashes('success') %}
                            <div class="col-lg-12">
                                <div class="alert alert-success alert-dismissable ">
                                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                    {{ message }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h4>Liste des services liés à des directions </h4>
                                    <a type="button" class="btn btn-xs btn-success" href="{{ path('admin.ct_gcar.indexServ') }}">Tous les services</a> |
                                    <a type="button" class="btn btn-xs btn-success" href="{{ path('service_departementdirection_index') }}">Liste des services liés à des départements</a>
                                    | <a type="button" class="btn btn-rounded" href="{{ path('service_departementdirection_new') }}"><i class="fa fa-plus"></i> Ajouter un service departement</a>
                                    | <a type="button" class="btn btn-rounded" href="{{ path('service_direction_new') }}"><i class="fa fa-plus"></i> Ajouter un service direction</a>
                                    <div class="ibox-tools">
                                        <a type="button" class="btn btn-danger btn-rounded btn-outline" href="{{ path('departement_direction_index') }}">
                                            <i class="fa fa-eye"></i> <b> Liste des départements</b>
                                        </a>
                                        <a type="button" class="btn btn-danger btn-rounded btn-outline">
                                            <i class="fa fa-eye"></i><b> Liste des directions </b>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <input type="text" class="form-control input-sm m-b-xs" id="filter"
                                           placeholder="Rechercher">

                                    <table class="footable table table-stripped" data-page-size="18" data-filter=#filter>
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Service</th>
                                            <th>Direction</th>
                                            <th>Tel</th>
                                            <th data-hide="phone,tablet">Actions</th>
                                            <th><i class="fa fa-trash"></i></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for service_direction in service_directions if service_direction.fonctionnel == 1 %}
                                            <tr class="gradeX">
                                                <td>{{ service_direction.id }}</td>
                                                <td>{{ service_direction.serv_designation }}</td>
                                                <td>{{ service_direction.dir_designation }}</td>
                                                <td>{{ service_direction.tel }}</td>

                                                <td>
                                                    <a type="button" href="{{ path('admin.ct_gcar.editServ', {id: service_direction.service_id}) }}"
                                                       class="btn btn-primary btn-xs pull-left" style="margin-right: 4px;">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                    <a type="button" href="{{ path('service_direction_edit', {'id': service_direction.id}) }}"
                                                       class="btn btn-primary btn-xs pull-left" style="margin-right: 4px;">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                    <span class="pull-left">{{ include('service_direction/_archive_servicedir.html.twig') }}</span>
                                                </td>
                                                <td>
                                                    {#TEST DE SUPPRESSION#}
                                                    {% set donnees = 0 %}
                                                    {% for ev in ev_nomination if ev.svcdpt_id == service_direction.id %}
                                                        {% set donnees = donnees +1 %}
                                                    {% endfor %}
                                                    {% for ev in ev_recrutement if ev.svcdpt_id == service_direction.id %}
                                                        {% set donnees = donnees +1 %}
                                                    {% endfor %}
                                                    {% for ev in ev_recrutement if ev.svcdpt_id == service_direction.id %}
                                                        {% set donnees = donnees +1 %}
                                                    {% endfor %}
                                                    {% for ev in ev_titularisation if ev.svcdpt_id == service_direction.id %}
                                                        {% set donnees = donnees +1 %}
                                                    {% endfor %}
                                                    {% for ev in ev_demisedefonction if ev.svcdpt_id == service_direction.id %}
                                                        {% set donnees = donnees +1 %}
                                                    {% endfor %}
                                                    {% for ev in ev_promotioninterne if ev.svcdpt_id == service_direction.id %}
                                                        {% set donnees = donnees +1 %}
                                                    {% endfor %}
                                                    {#
                                                    {% for ev in ev_licenciement if ev.svcdpt_id == service_direction.id %}
                                                        {% set donnees = donnees +1 %}
                                                    {% endfor %}
                                                    #}
                                                    {% for ev in ev_stage if ev.svcdpt_id == service_direction.id %}
                                                        {% set donnees = donnees +1 %}
                                                    {% endfor %}
                                                    {% for ev in ev_renouvellementdecontrat if ev.svcdpt_id == service_direction.id %}
                                                        {% set donnees = donnees +1 %}
                                                    {% endfor %}
                                                    {% for ev in ev_affectation if ev.svcdpt_id == service_direction.id %}
                                                        {% set donnees = donnees +1 %}
                                                    {% endfor %}
                                                    {% for ev in ev_reintegration if ev.svcdpt_id == service_direction.id %}
                                                        {% set donnees = donnees +1 %}
                                                    {% endfor %}
                                                    {% for ev in ev_miseapied if ev.svcdpt_id == service_direction.id %}
                                                        {% set donnees = donnees +1 %}
                                                    {% endfor %}
                                                    {% if donnees == 0 %}
                                                    <span class="pull-left">{{ include('service_direction/_delete_form.html.twig') }}</span>
                                                    {% else %}
                                                        <button class="btn btn-cancel btn-xs"><i class="fa fa-trash"></i> Suppression impossible</button>
                                                        <button type="button" class="btn btn-info btn-xs"  data-toggle="popover" data-placement="auto left"
                                                                data-content="Le service contient {{ donnees }} evenement(s). Contactez le super-admin pour y remédier!">
                                                            <i class="fa fa-question"></i>
                                                        </button>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td colspan="3">Aucun enregistrement trouvé!</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <td colspan="5">
                                                <ul class="pagination pull-right"></ul>
                                            </td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    {{ parent() }}
    <!-- FooTable -->
    <script type="text/javascript" src="{{ asset('js/plugins/footable/footable.all.min.js') }}"></script>
    <!-- Page-Level Scripts -->
    <script>
        $(document).ready(function() {

            $('.footable').footable();
            $('.footable2').footable();

        });

    </script>
{% endblock javascripts %}
