{% extends 'base.html.twig' %}

    {% block title %} {{ parent() }} Liste des services de départements {% endblock title %}

    {% block stylesheets %}
        {{ parent() }}
        <!-- FooTable -->
        <link rel="stylesheet" href="{{ asset('css/plugins/footable/footable.core.css') }}" />
    {% endblock stylesheets %}

    {% block leftmenu %}
        {{ parent() }}
    {% endblock leftmenu %}

        {% block topmenu %}
            {{ parent() }}
        {% endblock topmenu %}

        {% block buttons_filtres %}

        {% endblock %}

        {% block body %}
            {% block fildariane %}
                {{ include('_generals_includes/_fildariane.html.twig') }}
            {% endblock fildariane %}
            {# Récupération de l'ID
            {% set user_id = app.request.get('id') %}
             #}

            <div class="row">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="row">
                        {# Messages Falsh #}
                        {% for message in app.flashes('success') %}
                            <div class="col-lg-12">
                                <div class="alert alert-success alert-dismissable ">
                                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                    {{ message }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <a type="button" href="{{ path('service_departementdirection_info') }}" class="btn btn-primary pull-right">Voir les services liés à des départements</a>
                                    <h4>Services </h4>
                                    <h2>[liés a des directions]</h2>
                                </div>
                                <div class="ibox-content">
                                    <input type="text" class="form-control input-sm m-b-xs" id="filter"
                                           placeholder="Rechercher">

                                    <table class="footable table table-stripped footable" data-page-size="18" data-filter=#filter>
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Service</th>
                                            <th>Direction</th>
                                            <th>Agence</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for svc in service_directions if svc.fonctionnel == 1 %}
                                            <tr class="gradeX">
                                                <td>{{ svc.id }}</td>
                                                <td>
                                                    <strong><u class="badge badge-info">{{ svc.serv_designation }}</u></strong><br/>
                                                    <ul>

                                                    {% for agent in agent if agent.direction_id == svc.direction_id %}
                                                        <li>
                                                            [{{ agent.matricule }}] {{ agent.nom }} {{ agent.prenom }} <span class="pull-right text-navy">{{ agent.poste_designation }}</span>
                                                        </li>
                                                    {% endfor %}
                                                    </ul>
                                                </td>

                                                <td><h3>{{ svc.dir_designation }}</h3>
                                                    {# Tel direction #}
                                                    {% set tel_lg = svc.tel |length %}
                                                    {% if tel_lg < 7 %}
                                                    <span class="fa fa-phone"></span> <span class="text-danger">Tel non renseigné!</span>
                                                    {% else %}
                                                        <span class="fa fa-phone"> {{ svc.tel }}</span><br/>
                                                        {% endif %}
                                                        {#Fin tel direction#}
                                                    {# Poste et nom du responsable de la direction #}
                                                    <div>Responsable de la direction</div>
                                                    {% for directeur in directeur if svc.direction_id == directeur.direction_id %}
                                                        <div>{{ directeur.nom }}  {{ directeur.prenom }} <span class="pull-right text-navy">{{ directeur.poste_designation }}</span></div>
                                                        {% else %}
                                                            <div class="text-danger"><strong>Non renseigné!</strong></div>
                                                    {% endfor %}
                                                </td>

                                                <td>
                                                    {{ svc.ag_designation }}
                                                </td>

                                            </tr>
                                            {% else %}
                                            <tr>
                                                <td colspan="3">Aucun enregistrement trouvé!</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <td colspan="5">
                                                <ul class="pagination pull-right"></ul>
                                            </td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endblock body %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}


{% block javascripts %}
    {{ parent() }}
    <!-- FooTable -->
    <script type="text/javascript" src="{{ asset('js/plugins/footable/footable.all.min.js') }}"></script>
    <!-- Page-Level Scripts -->
    <script>
        $(document).ready(function() {

            $('.footable').footable();
            $('.footable2').footable();

        });

    </script>
{% endblock javascripts %}