{% extends 'base.html.twig' %}

{% block title %}ServiceDirection{% endblock %}

{% block body %}
    <h1>ServiceDirection</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ service_direction.id }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ service_direction.tel }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('service_direction_index') }}">back to list</a>

    <a href="{{ path('service_direction_edit', {'id': service_direction.id}) }}">edit</a>

    {{ include('service_direction/_delete_form.html.twig') }}
{% endblock %}
