    <tr class="gradeX">
        <td><a href="{{ path('service_direction_info_detail', {id : svc.id}) }}"><span class="fa fa-eye"></span></a></td>
        <td>
            <strong><u class="badge badge-info">{{ svc.serv_designation }}</u></strong><br/>
            {# Tel du service #}
            {% set tel_lg = svc.tel |length %}
            {% if tel_lg < 7 %}
                <span class="fa fa-phone"></span> <span class="text-danger">Tel non renseigné!</span>
            {% else %}
                <span class="fa fa-phone"> {{ svc.tel }}</span>
            {% endif %}
            {# fin Tel du service #}
            <ul>

                {% for agent in agent if agent.direction_id == svc.direction_id %}
                <li>
                    [{{ agent.matricule }}] {{ agent.nom }} {{ agent.prenom }} <span class="pull-right text-navy">{{ agent.poste_designation }}</span>
                </li>
                {% endfor %}

            </ul>
        </td>
        <td>
            <h3>{{ svc.dir_designation }}</h3>
            {# Tel de la direction #}
            {% set tel_lg = svc.tel_dir |length %}
            {% if tel_lg < 7 %}
                <span class="fa fa-phone"></span> <span class="text-danger">Tel non renseigné!</span>
            {% else %}
                <span class="fa fa-phone"> {{ svc.tel_dir }}</span>
            {% endif %}
            {# fin Tel de la direction #}
            <p>
                <div><strong>Responsable(s) de la direction :</strong></div>
                {% for directeur in directeur if directeur.direction_id == svc.direction_id %}
                    <div>{{ directeur.nom }}  {{ directeur.prenom }}
                        {#Associer le poste#}
                        <span class="pull-right text-navy">{{ directeur.poste_designation }}</span>
                    </div>
                {% endfor %}
            </p>
        </td>

        <td>{{ svc.ag_designation }}</td>

    </tr>